In [1]:
import sqlite3
conn =sqlite3.connect('project6_db')
%load_ext sql
%sql sqlite:///project6_db

In [2]:
%%sql
Create Table Credit_Risk (
    Loan_ID	INT,
    Customer_ID	INT,
    Loan_Amount	DOUBLE,
    Interest_Rate	DOUBLE,
    Loan_Term	INT,
    Credit_Score	INT,
    Annual_Income	DOUBLE,
    Employment_Status	VARCHAR(512),
    Debt_to_Income_Ratio	DOUBLE,
    Loan_Purpose	VARCHAR(512),
    Late_Payments	INT,
    Defaulted	VARCHAR(512),
    Age	INT,
    Home_Ownership	VARCHAR(512),
    Loan_Status	VARCHAR(512)
);

 * sqlite:///project6_db
(sqlite3.OperationalError) table Credit_Risk already exists
[SQL: Create Table Credit_Risk (
    Loan_ID	INT,
    Customer_ID	INT,
    Loan_Amount	DOUBLE,
    Interest_Rate	DOUBLE,
    Loan_Term	INT,
    Credit_Score	INT,
    Annual_Income	DOUBLE,
    Employment_Status	VARCHAR(512),
    Debt_to_Income_Ratio	DOUBLE,
    Loan_Purpose	VARCHAR(512),
    Late_Payments	INT,
    Defaulted	VARCHAR(512),
    Age	INT,
    Home_Ownership	VARCHAR(512),
    Loan_Status	VARCHAR(512)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [3]:
%%sql

INSERT INTO Credit_Risk (Loan_ID, Customer_ID, Loan_Amount, Interest_Rate, Loan_Term, Credit_Score, Annual_Income, Employment_Status, Debt_to_Income_Ratio, Loan_Purpose, Late_Payments, Defaulted, Age, Home_Ownership, Loan_Status) VALUES
	('1', '78268', '48679.27', '3.59', '36', '774', '114951.06', 'Employed', '0.66', 'Car', '8', '1', '18', 'Mortgage', 'NA'),
	('2', '53567', '42409', '10.67', '12', '487', '85779.83', 'Unemployed', '0.27', 'Home', '7', '1', '45', 'Other', 'Paid Off'),
	('3', '52613', '8949.19', '12.49', '72', '394', '127401.68', 'Employed', '0.38', 'Home', 'Unreported', '1', '64', 'Mortgage', 'Paid Off'),
	('4', '55891', '17929.96', '18.52', '60', '505', '85420.16', 'Self-employed', '0.48', 'Business', '5', '1', '21', 'Mortgage', 'NA'),
	('5', '31243', '41728.22', '20.03', '36', '539', '47436.92', 'Self-employed', '0.6', 'Education', '0', '0', '60', 'Own', 'Late'),
	('6', '51993', '28140.9', '2.12', '24', '827', '87299.19', 'Others', '0.58', 'Business', '9', '0', '35', 'Mortgage', 'Current'),
	('7', '96293', '39033.1', '15.77', '24', '452', '85420.16', 'Self-employed', '0.86', 'Car', '4', '1', '47', 'Mortgage', 'Paid Off'),
	('8', '54760', '39111.38', '13.245', '36', '588', '30386.27', 'Employed', '0.57', 'Other', 'Unreported', '1', '25', 'Mortgage', 'Late'),
	('9', '90471', '25320.265', '21.22', '36', '670', '85420.16', 'Self-employed', '0.7', 'Car', '3', '1', '38', 'Mortgage', 'Paid Off'),
	('10', '90966', '17777.92', '7.52', '48', '450', '85420.16', 'Others', '0.88', 'Education', '2', '0', '27', 'Own', 'Late'),
	('11', '58600', '24472.05', '9.66', '60', '574', '68168.23', 'Self-employed', '0.71', 'Car', '4', '0', '51', 'Mortgage', 'Late'),
	('12', '49512', '47316.01', '13.245', '36', '794', '100032.94', 'Unemployed', '0.98', 'Business', 'Unreported', '0', '29', 'Rent', 'Paid Off'),
	('13', '62620', '45013.21', '21.96', '12', '636', '75380.29', 'Self-employed', '0.91', 'Car', '5', '1', '29', 'Own', 'Paid Off'),
	('14', '90186', '21728.57', '8.92', '72', '616', '73509.35', 'Employed', '0.08', 'Other', '9', '0', '20', 'Rent', 'NA'),
	('15', '27089', '5687.63', '19.07', '48', '730', '21954.61', 'Employed', '0.48', 'Business', '5', '1', '45', 'Own', 'Current'),
	('16', '42230', '20822.57', '16.1', '36', '310', '135925.01', 'Self-employed', '0.92', 'Business', 'Unreported', '1', '22', 'Other', 'Paid Off'),
	('17', '28983', '25320.265', '21.84', '60', '344', '99387.3', 'Employed', '0.13', 'Personal', '2', '1', '47', 'Mortgage', 'NA'),
	('18', '99688', '45315.46', '6.55', '24', '399', '79484.78', 'Others', '0.35', 'Education', '2', '0', '19', 'Own', 'Late'),
	('19', '92457', '15449.08', '13.9', '24', '730', '78858.38', 'Unemployed', '0.48', 'Business', '4', '1', '43', 'Other', 'Late'),
	('20', '16921', '16134.34', '21.17', '12', '747', '123265.75', 'Employed', '0.99', 'Business', '7', '1', '49', 'Mortgage', 'Current'),
	('21', '54760', '31731.98', '16.04', '24', '660', '74874.42', 'Employed', '0.48', 'Car', '7', '1', '21', 'Own', 'Current'),
	('22', '77699', '25754.39', '2.28', '36', '321', '115810.03', 'Unemployed', '0.5', 'Business', 'Unreported', '0', '30', 'Own', 'Paid Off'),
	('23', '54760', '10597.58', '7.83', '24', '410', '127975.98', 'Unemployed', '0.27', 'Business', 'Unreported', '1', '61', 'Mortgage', 'Current'),
	('24', '54760', '8091.64', '17.74', '72', '753', '113437.5', 'Others', '0.5', 'Personal', '1', '1', '52', 'Own', 'Current'),
	('25', '17877', '24985.36', '16.07', '36', '521', '85420.16', 'Self-employed', '0.83', 'Business', '7', '0', '49', 'Own', 'Paid Off'),
	('26', '93966', '39190.16', '22.62', '24', '599', '85420.16', 'Self-employed', '0.03', 'Home', '8', '0', '43', 'Rent', 'Paid Off'),
	('27', '11871', '39162.73', '23.29', '12', '629', '124079.87', 'Employed', '0.89', 'Business', '6', '1', '30', 'Mortgage', 'Paid Off'),
	('28', '83135', '48814.38', '20.41', '36', '439', '93857.35', 'Employed', '0.41', 'Business', '7', '0', '66', 'Mortgage', 'Current'),
	('29', '12496', '19753.19', '6.22', '36', '326', '68729.24', 'Self-employed', '0.48', 'Car', '4', '0', '44', 'Mortgage', 'Current'),
	('30', '57954', '20207.48', '10.56', '60', '730', '85420.16', 'Unemployed', '0.61', 'Education', '1', '1', '36', 'Own', 'NA'),
	('31', '34675', '1089.16', '13.245', '72', '419', '21656.98', 'Employed', '0.11', 'Home', '6', '0', '43', 'Own', 'Paid Off'),
	('32', '41921', '41665.95', '13.245', '60', '594', '129068.37', 'Self-employed', '0.55', 'Personal', '0', '0', '54', 'Mortgage', 'Paid Off'),
	('33', '10797', '32684.79', '9.68', '48', '593', '43373.1', 'Others', '0.54', 'Business', '5', '0', '43', 'Mortgage', 'Current'),
	('34', '59811', '38726.18', '24.13', '24', '349', '76900.94', 'Self-employed', '0.48', 'Home', '3', '1', '43', 'Mortgage', 'Paid Off'),
	('35', '54760', '24060.54', '18.09', '36', '643', '84248.21', 'Self-employed', '0.09', 'Car', '5', '1', '56', 'Rent', 'Current'),
	('36', '90782', '46089.48', '18.02', '48', '837', '111051.55', 'Self-employed', '0.5', 'Other', '8', '1', '39', 'Mortgage', 'Current'),
	('37', '91857', '25320.265', '11.48', '60', '414', '79017.4', 'Self-employed', '0.06', 'Education', '0', '1', '59', 'Rent', 'Paid Off'),
	('38', '62489', '6648.78', '4.15', '60', '649', '103455.26', 'Self-employed', '0.87', 'Personal', '4', '1', '43', 'Own', 'Late'),
	('39', '94665', '19424.85', '24.62', '24', '504', '38436.44', 'Employed', '0.58', 'Business', '3', '0', '24', 'Mortgage', 'Current'),
	('40', '51504', '5170.19', '3.95', '36', '730', '93049.77', 'Employed', '0.19', 'Car', '0', '0', '23', 'Rent', 'Paid Off'),
	('41', '59866', '5306.51', '17.32', '72', '519', '54804.27', 'Employed', '0.75', 'Education', '8', '0', '38', 'Own', 'Paid Off'),
	('42', '94212', '28776.76', '3.18', '12', '806', '139543.39', 'Self-employed', '0.48', 'Education', '3', '0', '63', 'Rent', 'Paid Off'),
	('43', '21723', '11589.98', '2.33', '36', '730', '122167.68', 'Self-employed', '0.11', 'Education', '3', '1', '52', 'Mortgage', 'Paid Off'),
	('44', '53890', '31700.23', '2.23', '12', '828', '113677.01', 'Others', '0.43', 'Home', '2', '0', '59', 'Own', 'Late'),
	('45', '27591', '46540.59', '13.245', '36', '387', '27135.27', 'Unemployed', '0.48', 'Business', '5', '1', '31', 'Rent', 'Late'),
	('46', '68146', '25320.265', '12.63', '24', '798', '106140.47', 'Self-employed', '0.77', 'Home', '7', '1', '18', 'Rent', 'Current'),
	('47', '69300', '25320.265', '15.85', '12', '778', '75785.46', 'Unemployed', '0.37', 'Other', '7', '1', '20', 'Rent', 'Paid Off'),
	('48', '99141', '5393.48', '5.25', '72', '349', '22694.36', 'Self-employed', '0.05', 'Personal', '1', '1', '44', 'Rent', 'Current'),
	('49', '54760', '47559.43', '13.245', '12', '572', '111531.77', 'Unemployed', '0.09', 'Business', '3', '0', '54', 'Mortgage', 'Late'),
	('50', '30006', '49730.3', '13.93', '48', '730', '85420.16', 'Unemployed', '0.35', 'Home', '1', '1', '41', 'Mortgage', 'Late'),
	('51', '13560', '19350.25', '5.51', '12', '719', '43164.01', 'Self-employed', '0.86', 'Education', '1', '1', '32', 'Mortgage', 'Paid Off'),
	('52', '54760', '23573.19', '12.53', '48', '791', '141481.69', 'Employed', '0.27', 'Business', '0', '0', '37', 'Rent', 'Paid Off'),
	('53', '55444', '8121.35', '13.245', '24', '764', '85420.16', 'Unemployed', '0.17', 'Personal', '1', '1', '43', 'Other', 'Paid Off'),
	('54', '56522', '35798.86', '15.23', '72', '343', '105280.49', 'Self-employed', '0.35', 'Business', '6', '1', '37', 'Own', 'Paid Off'),
	('55', '96904', '21669.85', '6.28', '48', '391', '99781.46', 'Self-employed', '0.14', 'Personal', '6', '1', '38', 'Rent', 'Paid Off'),
	('56', '30737', '40347.74', '23.97', '60', '440', '85420.16', 'Others', '0.25', 'Personal', '2', '0', '43', 'Rent', 'Late'),
	('57', '38647', '29287.54', '22.54', '36', '730', '85420.16', 'Unemployed', '0.48', 'Personal', '5', '0', '51', 'Own', 'Late'),
	('58', '71353', '3096.41', '23.32', '36', '657', '129130.24', 'Employed', '0.98', 'Education', '9', '1', '20', 'Rent', 'Late'),
	('59', '90163', '17412.77', '19.96', '72', '424', '131414.19', 'Unemployed', '0.98', 'Home', '7', '1', '58', 'Other', 'Current'),
	('60', '22134', '40621.21', '14.91', '72', '759', '110998.87', 'Employed', '0.48', 'Personal', 'Unreported', '1', '68', 'Mortgage', 'NA'),
	('61', '70535', '34717.58', '19.84', '72', '686', '137711.31', 'Unemployed', '0.63', 'Education', '5', '1', '39', 'Rent', 'Late'),
	('62', '57883', '31994.07', '16.25', '48', '393', '85420.16', 'Unemployed', '0.34', 'Education', '3', '1', '57', 'Rent', 'Late'),
	('63', '96107', '33952.73', '2.13', '60', '552', '41795.24', 'Unemployed', '0.88', 'Personal', '0', '1', '50', 'Other', 'Current'),
	('64', '73360', '30646.81', '4.67', '60', '710', '56669.03', 'Self-employed', '0.06', 'Home', '0', '0', '50', 'Rent', 'Late'),
	('65', '61811', '32415.09', '4.52', '12', '380', '41436.3', 'Unemployed', '0.48', 'Business', '6', '1', '20', 'Rent', 'Paid Off'),
	('66', '19781', '31400.63', '14.74', '72', '755', '57095.37', 'Self-employed', '0.23', 'Personal', 'Unreported', '0', '50', 'Rent', 'Late'),
	('67', '29340', '27137.97', '18', '60', '789', '111282.85', 'Unemployed', '0.48', 'Home', '2', '1', '46', 'Mortgage', 'Current'),
	('68', '37257', '38129.61', '23.61', '24', '417', '124835.09', 'Unemployed', '0.25', 'Education', '4', '1', '58', 'Rent', 'Late'),
	('69', '26298', '25320.265', '22.73', '60', '335', '75601.4', 'Self-employed', '0.2', 'Personal', '6', '1', '35', 'Mortgage', 'Current'),
	('70', '22372', '24286.68', '15.75', '36', '679', '85420.16', 'Others', '0.43', 'Car', '8', '1', '44', 'Mortgage', 'NA'),
	('71', '14420', '20671.03', '15.14', '36', '685', '49127.09', 'Employed', '0.4', 'Business', '9', '1', '51', 'Other', 'Late'),
	('72', '92991', '11251.31', '3.57', '24', '520', '73604.18', 'Unemployed', '0.78', 'Education', '5', '0', '18', 'Mortgage', 'Current'),
	('73', '72079', '16772.56', '19.74', '48', '711', '126782.31', 'Unemployed', '0.31', 'Personal', '8', '0', '27', 'Mortgage', 'Paid Off'),
	('74', '89860', '3695.74', '8.12', '48', '820', '105137.22', 'Unemployed', '0.88', 'Car', '0', '1', '43', 'Own', 'Paid Off'),
	('75', '17012', '16950.85', '23.11', '24', '613', '115158.07', 'Employed', '0.55', 'Personal', '1', '1', '36', 'Own', 'Late'),
	('76', '19396', '20138.57', '7.09', '60', '804', '75975.41', 'Self-employed', '0.48', 'Education', '4', '0', '30', 'Own', 'Late'),
	('77', '13918', '5575.82', '18.02', '60', '712', '87793.03', 'Employed', '0.75', 'Other', '9', '0', '68', 'Mortgage', 'Late'),
	('78', '54760', '11802.3', '4.58', '24', '581', '84441.53', 'Others', '0.84', 'Car', '2', '1', '22', 'Own', 'Current'),
	('79', '54259', '13227.55', '13.36', '48', '751', '114999.43', 'Self-employed', '0.28', 'Business', '9', '0', '36', 'Rent', 'Paid Off'),
	('80', '33482', '12146.04', '5.43', '36', '529', '131447.91', 'Self-employed', '0.84', 'Business', 'Unreported', '0', '21', 'Other', 'Current'),
	('81', '25127', '18160.86', '21.38', '48', '831', '145345.49', 'Unemployed', '0.13', 'Car', '2', '0', '43', 'Rent', 'NA'),
	('82', '47237', '8098.93', '13.245', '48', '505', '45253.2', 'Employed', '0.87', 'Personal', '3', '0', '22', 'Rent', 'Late'),
	('83', '54760', '36843.57', '24.48', '36', '746', '135459.77', 'Others', '0.66', 'Home', '4', '0', '32', 'Own', 'NA'),
	('84', '18752', '17790.09', '5.24', '60', '704', '30976.1', 'Self-employed', '0.15', 'Home', '7', '0', '40', 'Rent', 'Paid Off'),
	('85', '90041', '6995.9', '21.69', '24', '641', '140819.64', 'Unemployed', '0.92', 'Education', '7', '1', '30', 'Other', 'Late'),
	('86', '54760', '30086.39', '18.89', '72', '396', '83189.1', 'Unemployed', '0.67', 'Car', '0', '1', '69', 'Mortgage', 'NA'),
	('87', '60624', '9802.76', '10.91', '72', '495', '85420.16', 'Others', '0.8', 'Car', '9', '1', '28', 'Mortgage', 'Current'),
	('88', '99183', '3844.76', '2.41', '60', '709', '49477.64', 'Unemployed', '0.57', 'Personal', '9', '1', '43', 'Mortgage', 'Paid Off'),
	('89', '50133', '9001.31', '18.93', '48', '807', '25300.72', 'Others', '0.72', 'Personal', '5', '0', '64', 'Rent', 'Late'),
	('90', '65153', '25320.265', '4.26', '24', '676', '85420.16', 'Employed', '0.35', 'Personal', '7', '1', '51', 'Mortgage', 'Current'),
	('91', '54760', '34981.94', '20.61', '12', '605', '90509.23', 'Others', '0.74', 'Business', '4', '1', '24', 'Own', 'Current'),
	('92', '54760', '32433.54', '20.37', '36', '673', '94386.96', 'Unemployed', '0.71', 'Home', '3', '0', '19', 'Rent', 'Late'),
	('93', '94355', '1255.09', '6.96', '60', '730', '75260.97', 'Unemployed', '0.48', 'Personal', '8', '1', '32', 'Mortgage', 'Current'),
	('94', '54760', '39871.24', '24.22', '72', '484', '47639.55', 'Employed', '0.59', 'Other', '5', '1', '63', 'Own', 'Current'),
	('95', '76509', '17448.7', '20.24', '72', '445', '95100.14', 'Self-employed', '0.21', 'Business', '7', '1', '24', 'Mortgage', 'Current'),
	('96', '96384', '34306.07', '15.91', '36', '583', '36514.36', 'Employed', '0.25', 'Personal', '7', '1', '69', 'Own', 'Current'),
	('97', '85751', '2600.99', '18.9', '60', '360', '114720.51', 'Self-employed', '0.11', 'Car', '3', '1', '57', 'Other', 'Current'),
	('98', '86693', '20295.62', '12.77', '72', '678', '138006.81', 'Unemployed', '0.61', 'Personal', '1', '1', '63', 'Rent', 'Paid Off'),
	('99', '34777', '1960.91', '13.245', '48', '576', '31593.01', 'Others', '0.34', 'Business', '4', '1', '55', 'Mortgage', 'Late'),
	('100', '23824', '41000.93', '16.65', '24', '314', '94465.63', 'Self-employed', '0.48', 'Personal', '7', '1', '35', 'Rent', 'NA'),
	('101', '54760', '25320.265', '11.57', '24', '730', '63677.54', 'Unemployed', '0.18', 'Personal', '6', '0', '36', 'Rent', 'Current'),
	('102', '22843', '34052.85', '24.51', '72', '535', '85420.16', 'Others', '0.97', 'Education', 'Unreported', '1', '61', 'Mortgage', 'Paid Off'),
	('103', '88778', '14576.24', '3.46', '48', '450', '107942.19', 'Others', '0.13', 'Other', '6', '1', '61', 'Rent', 'Late'),
	('104', '54760', '25320.265', '5.69', '36', '301', '132104.99', 'Unemployed', '0.94', 'Personal', '7', '1', '34', 'Own', 'Current'),
	('105', '54760', '25320.265', '22.71', '36', '329', '145989.82', 'Others', '0.48', 'Car', '7', '1', '30', 'Own', 'Current'),
	('106', '16521', '30156.21', '13.2', '72', '418', '23059.49', 'Employed', '0.48', 'Personal', '4', '1', '63', 'Own', 'Paid Off'),
	('107', '98162', '44640.92', '6.44', '60', '785', '92805.38', 'Self-employed', '0.86', 'Education', '5', '1', '26', 'Other', 'Current'),
	('108', '66894', '16023.37', '9.19', '72', '457', '56482.99', 'Self-employed', '0.13', 'Other', 'Unreported', '0', '43', 'Own', 'Paid Off'),
	('109', '84659', '41661.93', '3.75', '36', '730', '106938.95', 'Unemployed', '0.33', 'Other', '8', '1', '68', 'Rent', 'Paid Off'),
	('110', '24254', '47142.43', '16.58', '72', '726', '97159.56', 'Unemployed', '0.23', 'Personal', '9', '0', '32', 'Mortgage', 'Paid Off'),
	('111', '54760', '20364.01', '23.16', '60', '342', '33611.06', 'Self-employed', '0.55', 'Home', '8', '0', '24', 'Rent', 'Current'),
	('112', '99236', '45302.42', '15.11', '72', '730', '31863.71', 'Unemployed', '0.83', 'Car', '4', '1', '30', 'Mortgage', 'Current'),
	('113', '47073', '17419.2', '16.77', '60', '643', '85420.16', 'Self-employed', '0.78', 'Business', '9', '1', '45', 'Other', 'Current'),
	('114', '33310', '16905.4', '8.73', '24', '379', '56123.28', 'Self-employed', '0.47', 'Other', '1', '1', '25', 'Mortgage', 'Paid Off'),
	('115', '41785', '25320.265', '18.29', '72', '667', '25265.12', 'Unemployed', '0.3', 'Education', '4', '1', '61', 'Mortgage', 'Paid Off'),
	('116', '74570', '47668.11', '23.05', '48', '725', '88145.7', 'Self-employed', '0.4', 'Car', '8', '1', '40', 'Rent', 'Late'),
	('117', '90577', '12202.3', '3.07', '12', '728', '31871.48', 'Self-employed', '0.48', 'Home', '0', '0', '30', 'Own', 'Late'),
	('118', '66356', '42022.9', '7', '24', '730', '120358.65', 'Unemployed', '0.99', 'Car', '4', '0', '18', 'Rent', 'Current'),
	('119', '33306', '17780.44', '23.54', '60', '631', '128242.47', 'Unemployed', '0.67', 'Car', '5', '1', '49', 'Rent', 'Late'),
	('120', '46950', '48982.93', '20.51', '24', '791', '115179.46', 'Employed', '0.09', 'Business', '9', '1', '23', 'Own', 'Late'),
	('121', '54760', '42641.06', '3.62', '60', '517', '93972.26', 'Others', '0.82', 'Home', '5', '1', '43', 'Mortgage', 'Paid Off'),
	('122', '88928', '45341.05', '7.36', '60', '730', '41632.65', 'Others', '0.48', 'Car', '2', '1', '63', 'Own', 'Current'),
	('123', '89904', '25320.265', '13.245', '48', '816', '132455.22', 'Employed', '0.48', 'Business', '3', '0', '22', 'Own', 'Current'),
	('124', '80838', '15413.42', '9.34', '36', '622', '96774.99', 'Unemployed', '0.48', 'Personal', '7', '1', '68', 'Rent', 'Late'),
	('125', '43920', '10678.73', '3.18', '36', '833', '85420.16', 'Self-employed', '0.61', 'Business', '6', '1', '38', 'Own', 'Paid Off'),
	('126', '98870', '26865.72', '5.93', '60', '600', '71805.32', 'Unemployed', '0.18', 'Business', '8', '1', '51', 'Rent', 'Current'),
	('127', '89128', '33904.27', '8.49', '36', '352', '111200.55', 'Employed', '0.48', 'Car', 'Unreported', '0', '43', 'Own', 'Late'),
	('128', '43538', '37347.64', '5.52', '36', '410', '68839.02', 'Unemployed', '0.31', 'Home', '4', '0', '38', 'Mortgage', 'Current'),
	('129', '91411', '9348.78', '21.03', '48', '543', '96412.93', 'Employed', '0.44', 'Education', '9', '1', '52', 'Mortgage', 'Paid Off'),
	('130', '18286', '27258.51', '13.97', '48', '821', '67211.63', 'Others', '0.83', 'Car', '8', '0', '42', 'Mortgage', 'Late'),
	('131', '28728', '22369.38', '7.09', '48', '605', '26023.65', 'Unemployed', '0.65', 'Personal', '0', '0', '46', 'Own', 'Paid Off'),
	('132', '23640', '11202.99', '21.5', '60', '319', '123152.63', 'Employed', '0.95', 'Business', 'Unreported', '1', '30', 'Own', 'NA'),
	('133', '54760', '28095.15', '19.5', '60', '745', '69326.21', 'Employed', '0.48', 'Personal', '5', '1', '48', 'Rent', 'Current'),
	('134', '54760', '14519.77', '13.245', '60', '677', '80671.98', 'Employed', '0.51', 'Other', '6', '0', '52', 'Own', 'Current'),
	('135', '13912', '27217.67', '21.35', '48', '513', '39195.16', 'Self-employed', '0.59', 'Business', '0', '0', '19', 'Mortgage', 'Late'),
	('136', '60586', '10805.36', '16.66', '36', '466', '98733.49', 'Self-employed', '0.03', 'Other', '2', '1', '39', 'Mortgage', 'Paid Off'),
	('137', '54760', '25320.265', '16.34', '12', '441', '51249.77', 'Others', '0.75', 'Education', 'Unreported', '0', '53', 'Own', 'Current'),
	('138', '31752', '17567.04', '4.39', '12', '332', '128480.1', 'Unemployed', '0.39', 'Education', '5', '1', '50', 'Mortgage', 'Late'),
	('139', '69715', '30906.4', '11.39', '12', '817', '146518.83', 'Employed', '0.48', 'Other', '8', '0', '58', 'Mortgage', 'Current'),
	('140', '99068', '6974.72', '3.64', '12', '595', '49211.83', 'Employed', '0.31', 'Personal', '2', '1', '46', 'Own', 'Late'),
	('141', '17997', '31870.84', '11.22', '72', '730', '92848.2', 'Employed', '0.97', 'Personal', '0', '0', '19', 'Rent', 'Late'),
	('142', '63006', '14329.98', '3.37', '24', '654', '73783.24', 'Self-employed', '0.48', 'Home', '3', '0', '45', 'Mortgage', 'Paid Off'),
	('143', '50800', '47870.05', '6.44', '36', '406', '129635.4', 'Employed', '0.87', 'Other', '5', '1', '40', 'Rent', 'Late'),
	('144', '25620', '20313.56', '12.5', '36', '430', '20945.72', 'Self-employed', '0.23', 'Home', '2', '0', '24', 'Other', 'Current'),
	('145', '80381', '25320.265', '16.22', '72', '412', '76107.14', 'Unemployed', '0.88', 'Business', '0', '0', '61', 'Own', 'Late'),
	('146', '64268', '11574.85', '6.16', '60', '453', '109019.29', 'Unemployed', '0.91', 'Home', '4', '1', '18', 'Own', 'Paid Off'),
	('147', '79069', '432123.3', '13.245', '48', '718', '1371079.9', 'Employed', '0.91', 'Business', '8', '1', '53', 'Own', 'Paid Off'),
	('148', '78473', '40412.31', '22.1', '48', '439', '85420.16', 'Self-employed', '0.11', 'Personal', '8', '0', '27', 'Other', 'Late'),
	('149', '52512', '13036.13', '3.92', '60', '487', '74475.3', 'Employed', '0.48', 'Personal', '6', '1', '21', 'Own', 'Paid Off'),
	('150', '29608', '25320.265', '13.245', '24', '788', '116719.64', 'Self-employed', '0.21', 'Home', 'Unreported', '1', '30', 'Mortgage', 'Current'),
	('151', '80557', '2967.6', '20.2', '72', '368', '48643.6', 'Others', '0.05', 'Education', '7', '1', '64', 'Mortgage', 'Current'),
	('152', '27340', '37876.08', '5.85', '48', '373', '98781.51', 'Self-employed', '0.62', 'Personal', '1', '1', '25', 'Rent', 'Late'),
	('153', '11913', '23435.57', '16.87', '48', '818', '103487.34', 'Self-employed', '0.55', 'Car', '0', '0', '66', 'Rent', 'Current'),
	('154', '54760', '41937.51', '18.8', '60', '549', '104858.71', 'Self-employed', '0.85', 'Car', '2', '1', '43', 'Mortgage', 'Paid Off'),
	('155', '23429', '25320.265', '18.27', '48', '431', '39010.32', 'Employed', '0.85', 'Car', '1', '0', '63', 'Mortgage', 'Current'),
	('156', '23907', '4213.52', '3.19', '24', '462', '47818.58', 'Self-employed', '0.39', 'Education', '5', '1', '46', 'Own', 'Current'),
	('157', '45489', '12100.73', '16.76', '72', '460', '61214.13', 'Self-employed', '0.17', 'Education', '9', '0', '43', 'Mortgage', 'Late'),
	('158', '54760', '49724.37', '5.61', '48', '847', '95587.92', 'Unemployed', '0.21', 'Home', '8', '1', '22', 'Rent', 'Late'),
	('159', '25588', '17374.7', '8.95', '12', '553', '86147.07', 'Unemployed', '0.08', 'Car', '1', '0', '34', 'Mortgage', 'Paid Off'),
	('160', '48395', '8854.96', '23.36', '72', '836', '37012.38', 'Self-employed', '0.28', 'Home', '9', '0', '59', 'Own', 'Late'),
	('161', '70155', '40485.71', '3.2', '24', '735', '89538.21', 'Others', '0.09', 'Home', '1', '0', '22', 'Rent', 'Paid Off'),
	('162', '48214', '3208.42', '21.82', '12', '730', '110695.54', 'Unemployed', '0.94', 'Personal', '1', '0', '66', 'Own', 'Paid Off'),
	('163', '10469', '4254.03', '14.68', '12', '399', '44235.73', 'Others', '0.48', 'Home', '2', '0', '56', 'Own', 'Paid Off'),
	('164', '53295', '25320.265', '2.72', '72', '725', '93330.62', 'Unemployed', '0.13', 'Education', '3', '1', '42', 'Rent', 'NA'),
	('165', '84253', '3322.65', '19.34', '72', '466', '87631.8', 'Unemployed', '0.12', 'Other', '6', '1', '56', 'Rent', 'Late'),
	('166', '44488', '49789.92', '21.72', '12', '648', '105771.82', 'Employed', '0.72', 'Business', '9', '0', '32', 'Mortgage', 'Current'),
	('167', '48040', '25320.265', '12.52', '72', '566', '111886.24', 'Unemployed', '0.37', 'Car', '0', '1', '44', 'Rent', 'NA'),
	('168', '26975', '26459.74', '20.21', '72', '466', '77532.13', 'Employed', '0.29', 'Personal', '6', '0', '67', 'Rent', 'Paid Off'),
	('169', '25912', '40453.15', '22.94', '48', '626', '97416.28', 'Others', '0.27', 'Car', '7', '1', '66', 'Mortgage', 'Current'),
	('170', '38086', '33461.85', '15.07', '48', '349', '29448.08', 'Employed', '0.68', 'Personal', '8', '0', '30', 'Rent', 'Current'),
	('171', '92127', '9489.98', '23.08', '24', '644', '53615.04', 'Employed', '0.79', 'Education', '7', '0', '63', 'Own', 'Paid Off'),
	('172', '25115', '11762.06', '11.59', '24', '480', '75293.86', 'Self-employed', '0.48', 'Personal', 'Unreported', '0', '56', 'Other', 'Late'),
	('173', '89983', '43517.02', '20.67', '60', '649', '131792.2', 'Unemployed', '0.51', 'Personal', '3', '1', '43', 'Own', 'Late'),
	('174', '62573', '17511.11', '19.96', '48', '730', '142248.97', 'Employed', '0.03', 'Home', '9', '1', '53', 'Mortgage', 'Current'),
	('175', '74223', '22934.38', '18.54', '36', '745', '143605.43', 'Self-employed', '0.87', 'Other', '9', '1', '49', 'Mortgage', 'Late'),
	('176', '21052', '20165.65', '11.46', '60', '607', '75940.07', 'Unemployed', '0.96', 'Personal', '1', '1', '45', 'Rent', 'Paid Off'),
	('177', '25741', '3549.46', '12.77', '36', '362', '91189.23', 'Self-employed', '0.01', 'Personal', '0', '1', '49', 'Own', 'NA'),
	('178', '67368', '35524.11', '6.82', '48', '594', '77451.69', 'Self-employed', '0.29', 'Home', '5', '1', '42', 'Own', 'Current'),
	('179', '53986', '27463.63', '8.4', '48', '809', '85420.16', 'Self-employed', '0.49', 'Personal', '0', '1', '48', 'Mortgage', 'NA'),
	('180', '15103', '34130.86', '17.69', '60', '788', '134915.63', 'Employed', '0.12', 'Home', '4', '1', '58', 'Mortgage', 'Paid Off'),
	('181', '45050', '14633.34', '9.49', '36', '804', '103437.62', 'Self-employed', '0.21', 'Car', '2', '1', '34', 'Mortgage', 'Current'),
	('182', '54760', '20938.78', '18.66', '36', '615', '85420.16', 'Employed', '0.48', 'Home', '4', '1', '57', 'Mortgage', 'Late'),
	('183', '65270', '10439.84', '16.36', '24', '730', '47559.1', 'Employed', '0.1', 'Business', '4', '0', '62', 'Mortgage', 'Current'),
	('184', '22579', '21564.45', '10.2', '36', '675', '110495.01', 'Unemployed', '0.48', 'Home', '5', '0', '43', 'Mortgage', 'Current'),
	('185', '81382', '25320.265', '5.86', '72', '415', '93992.09', 'Employed', '0.64', 'Education', '9', '1', '37', 'Other', 'Late'),
	('186', '57805', '47289.76', '9.35', '36', '393', '87423.18', 'Self-employed', '0.75', 'Other', '3', '0', '48', 'Own', 'Paid Off'),
	('187', '30165', '33509.4', '10.4', '24', '662', '119486.31', 'Self-employed', '0.72', 'Car', '7', '0', '42', 'Own', 'Current'),
	('188', '12775', '26732.83', '16.85', '12', '677', '38463.13', 'Employed', '0.34', 'Education', '1', '0', '64', 'Own', 'Paid Off'),
	('189', '94523', '21401.99', '3.42', '60', '789', '39441.89', 'Employed', '0.23', 'Education', '0', '0', '43', 'Mortgage', 'Paid Off'),
	('190', '40752', '25320.265', '21.92', '36', '393', '125313.24', 'Self-employed', '0.89', 'Car', '5', '1', '31', 'Own', 'Paid Off'),
	('191', '99099', '24376.64', '16.38', '12', '325', '94478.68', 'Unemployed', '0.48', 'Personal', 'Unreported', '1', '21', 'Own', 'Paid Off'),
	('192', '89464', '25320.265', '3.22', '36', '417', '113256.58', 'Unemployed', '0.48', 'Personal', '6', '0', '50', 'Rent', 'Paid Off'),
	('193', '81892', '29527.17', '13.245', '12', '730', '85420.16', 'Self-employed', '0.05', 'Other', '2', '0', '63', 'Rent', 'Paid Off'),
	('194', '54760', '36782.11', '5.46', '12', '608', '22844.49', 'Unemployed', '0.4', 'Car', '3', '0', '56', 'Mortgage', 'Current'),
	('195', '54760', '25320.265', '13.245', '48', '594', '91573.48', 'Unemployed', '0.66', 'Car', '7', '0', '54', 'Other', 'Late'),
	('196', '38651', '15545.79', '15.09', '36', '415', '120535.52', 'Employed', '0.2', 'Car', '0', '1', '49', 'Rent', 'Late'),
	('197', '72885', '204483.7', '13.245', '60', '730', '292802.8', 'Unemployed', '0.57', 'Personal', '8', '1', '56', 'Mortgage', 'NA'),
	('198', '25997', '9964.65', '19.47', '36', '666', '132487.4', 'Employed', '0.01', 'Other', '0', '0', '34', 'Own', 'Paid Off'),
	('199', '75180', '44019.08', '3.42', '72', '410', '64477.53', 'Employed', '0.79', 'Home', '1', '1', '29', 'Own', 'Paid Off'),
	('200', '84498', '41379.78', '13.245', '36', '737', '94720.75', 'Unemployed', '0.2', 'Car', '1', '0', '57', 'Mortgage', 'NA'),
	('201', '73003', '38973.03', '22.44', '24', '624', '66480.22', 'Self-employed', '0.73', 'Business', '2', '1', '45', 'Rent', 'Late'),
	('202', '95971', '3807.21', '6.28', '60', '502', '68260.97', 'Unemployed', '0.42', 'Home', '4', '0', '43', 'Other', 'Late'),
	('203', '44009', '25320.265', '23.63', '60', '746', '36040.93', 'Unemployed', '0.57', 'Education', '9', '1', '68', 'Own', 'Late'),
	('204', '53671', '12515.66', '18.84', '24', '730', '55230.22', 'Employed', '0.15', 'Business', '9', '0', '42', 'Rent', 'Current'),
	('205', '79939', '6864.57', '13.245', '72', '733', '83352.48', 'Self-employed', '0.68', 'Home', '6', '0', '22', 'Mortgage', 'Late'),
	('206', '27582', '39299.04', '13.245', '36', '673', '68510.7', 'Unemployed', '0.38', 'Personal', '7', '1', '48', 'Own', 'Late'),
	('207', '39844', '11367.49', '3.56', '36', '780', '60857.13', 'Self-employed', '0.48', 'Home', '0', '1', '64', 'Mortgage', 'Current'),
	('208', '94917', '25539.77', '7.68', '60', '703', '124195.73', 'Employed', '0.7', 'Personal', '8', '1', '43', 'Rent', 'Current'),
	('209', '48429', '26778.72', '21.57', '72', '609', '21071.77', 'Unemployed', '0.48', 'Other', '1', '1', '50', 'Rent', 'Late'),
	('210', '54760', '11450.82', '3.11', '48', '730', '89606.88', 'Employed', '0.52', 'Education', '9', '0', '55', 'Mortgage', 'Paid Off'),
	('211', '86323', '25120.8', '18.31', '24', '412', '81808.95', 'Unemployed', '0.48', 'Home', '9', '1', '43', 'Mortgage', 'Late'),
	('212', '92727', '3588.17', '17.67', '36', '745', '109123.46', 'Employed', '0.52', 'Car', '4', '1', '23', 'Own', 'Late'),
	('213', '70809', '1003.55', '12.21', '12', '372', '98267.08', 'Unemployed', '0.58', 'Business', '6', '0', '43', 'Mortgage', 'NA'),
	('214', '12121', '44135.77', '13.245', '24', '834', '45951.55', 'Employed', '0.72', 'Business', '0', '1', '43', 'Rent', 'Paid Off'),
	('215', '55353', '21363.85', '7.99', '72', '526', '37190.31', 'Employed', '0.75', 'Other', '4', '1', '58', 'Other', 'Paid Off'),
	('216', '99987', '45463.57', '15.59', '60', '610', '24366.48', 'Others', '0.48', 'Education', 'Unreported', '1', '34', 'Own', 'Late'),
	('217', '13886', '25319.06', '17.83', '36', '635', '48130.95', 'Unemployed', '0.74', 'Education', 'Unreported', '1', '32', 'Own', 'Paid Off'),
	('218', '51690', '22124.31', '13.245', '60', '371', '59590.95', 'Self-employed', '0.62', 'Home', '0', '1', '51', 'Rent', 'Paid Off'),
	('219', '97986', '15499.69', '5.4', '24', '622', '140163.81', 'Employed', '0.61', 'Other', '0', '0', '60', 'Own', 'Late'),
	('220', '90748', '5002.76', '23.73', '24', '692', '85420.16', 'Employed', '0.02', 'Car', '9', '1', '43', 'Mortgage', 'Current'),
	('221', '85523', '16175.04', '24.76', '12', '603', '91074.24', 'Employed', '0.8', 'Other', '1', '0', '57', 'Mortgage', 'NA'),
	('222', '92119', '30815.04', '3.61', '24', '703', '61363.67', 'Employed', '0.86', 'Home', '8', '0', '46', 'Mortgage', 'Current'),
	('223', '15181', '25320.265', '3.28', '12', '528', '112993.74', 'Others', '0.74', 'Car', '7', '0', '19', 'Rent', 'Current'),
	('224', '53349', '25320.265', '10.34', '24', '766', '137385.73', 'Employed', '0.99', 'Car', '5', '0', '62', 'Mortgage', 'Current'),
	('225', '86578', '38154.54', '23.61', '36', '719', '85694.12', 'Self-employed', '0.07', 'Car', '5', '1', '43', 'Rent', 'Late'),
	('226', '52914', '8729.83', '10.74', '48', '795', '101122.62', 'Unemployed', '0.64', 'Education', '9', '0', '54', 'Rent', 'Current'),
	('227', '80744', '25320.265', '7.26', '36', '796', '29432.25', 'Others', '0.19', 'Education', '7', '0', '43', 'Own', 'Paid Off'),
	('228', '81713', '44247.56', '13.245', '48', '548', '85420.16', 'Unemployed', '0.48', 'Education', '4', '1', '41', 'Other', 'Current'),
	('229', '73720', '11680.05', '7.37', '72', '427', '32355.04', 'Unemployed', '0.37', 'Business', '3', '1', '40', 'Own', 'Late'),
	('230', '80399', '12155.78', '17.75', '60', '730', '140125.82', 'Employed', '0.86', 'Other', '9', '1', '55', 'Rent', 'Late'),
	('231', '57394', '37673.19', '4.57', '12', '395', '56091.55', 'Employed', '0.36', 'Personal', '5', '0', '68', 'Rent', 'Paid Off'),
	('232', '83925', '40790.78', '16.54', '24', '816', '142055.28', 'Self-employed', '0.08', 'Home', '2', '1', '28', 'Own', 'Late'),
	('233', '10894', '13154.27', '5.33', '12', '753', '100602.61', 'Employed', '0.93', 'Education', '4', '0', '62', 'Own', 'Paid Off'),
	('234', '73413', '17246.92', '8.41', '36', '691', '47719.54', 'Employed', '0.6', 'Personal', '0', '1', '41', 'Mortgage', 'Paid Off'),
	('235', '58208', '31956.7', '12.04', '72', '579', '136238.75', 'Unemployed', '0.87', 'Home', '7', '1', '59', 'Rent', 'Late'),
	('236', '40142', '20523.15', '19.6', '60', '520', '85420.16', 'Unemployed', '0.51', 'Car', 'Unreported', '1', '46', 'Rent', 'Paid Off'),
	('237', '42904', '31576.54', '14.77', '36', '613', '85420.16', 'Others', '0.73', 'Car', '6', '1', '43', 'Mortgage', 'Current'),
	('238', '36813', '25325.07', '6.14', '48', '624', '78313.77', 'Employed', '0.21', 'Business', '9', '0', '39', 'Own', 'NA'),
	('239', '49041', '38908.91', '19.36', '60', '774', '52383.39', 'Self-employed', '0.62', 'Home', '6', '1', '62', 'Rent', 'NA'),
	('240', '69601', '42448.54', '16.67', '48', '825', '89411.97', 'Employed', '0.48', 'Home', '0', '1', '43', 'Own', 'Late'),
	('241', '89224', '43327.53', '2.44', '48', '838', '85420.16', 'Employed', '0.34', 'Other', '7', '0', '39', 'Own', 'Current'),
	('242', '78955', '30964.73', '3.51', '12', '536', '141340.74', 'Employed', '0.04', 'Personal', '2', '1', '49', 'Own', 'Late'),
	('243', '92088', '31016.62', '4.12', '36', '834', '32237.37', 'Employed', '0.34', 'Business', 'Unreported', '0', '26', 'Rent', 'NA'),
	('244', '54760', '23032.7', '7.74', '24', '354', '31178.45', 'Self-employed', '0.91', 'Personal', '8', '1', '56', 'Rent', 'Current'),
	('245', '45620', '2353.09', '8.36', '24', '346', '65474.03', 'Employed', '0.37', 'Personal', 'Unreported', '0', '55', 'Own', 'Paid Off'),
	('246', '52521', '15659.83', '13.245', '60', '305', '117073.01', 'Unemployed', '0.52', 'Car', '2', '1', '47', 'Rent', 'Current'),
	('247', '96339', '4121.19', '16.96', '12', '496', '147612.73', 'Others', '0.18', 'Business', '4', '1', '56', 'Mortgage', 'Paid Off'),
	('248', '67191', '22451.48', '22.06', '12', '702', '43742.21', 'Self-employed', '0.48', 'Personal', '6', '1', '29', 'Rent', 'Current'),
	('249', '67852', '42624.78', '20.75', '60', '794', '36438.43', 'Employed', '0.41', 'Business', '1', '1', '43', 'Rent', 'Paid Off'),
	('250', '90675', '30243.3', '13.245', '60', '430', '23250.51', 'Self-employed', '0.73', 'Car', '9', '1', '59', 'Own', 'Late'),
	('251', '32302', '34101.1', '15.54', '60', '730', '20769.23', 'Employed', '0.83', 'Business', '0', '0', '29', 'Mortgage', 'Paid Off'),
	('252', '97069', '10212.39', '4.45', '24', '747', '58610.62', 'Self-employed', '0.4', 'Car', '5', '0', '23', 'Rent', 'Late'),
	('253', '93697', '13835.7', '17.82', '24', '603', '122087.69', 'Unemployed', '0.23', 'Personal', 'Unreported', '1', '24', 'Rent', 'NA'),
	('254', '62513', '8993.48', '8.95', '24', '645', '85420.16', 'Unemployed', '0.47', 'Business', '0', '1', '43', 'Rent', 'Paid Off'),
	('255', '64545', '42291.75', '20.02', '60', '742', '149050.36', 'Self-employed', '0.9', 'Other', '3', '1', '20', 'Other', 'Paid Off'),
	('256', '90212', '25320.265', '10.43', '60', '449', '140064.24', 'Employed', '0.6', 'Personal', '7', '0', '43', 'Own', 'Paid Off'),
	('257', '30989', '28553.99', '5.09', '24', '829', '36209.16', 'Unemployed', '0.08', 'Car', 'Unreported', '1', '44', 'Other', 'Current'),
	('258', '12562', '7915.3', '15.92', '48', '528', '114638.91', 'Unemployed', '0.51', 'Personal', '1', '0', '56', 'Own', 'Current'),
	('259', '32597', '7075.46', '22.3', '36', '407', '47690.3', 'Employed', '0.69', 'Car', '0', '1', '51', 'Rent', 'Paid Off'),
	('260', '35484', '180315.8', '6.04', '12', '730', '504852', 'Self-employed', '0.59', 'Car', '4', '0', '48', 'Own', 'Current'),
	('261', '88709', '17187.3', '8.77', '12', '680', '115232.72', 'Self-employed', '0.7', 'Other', 'Unreported', '1', '53', 'Mortgage', 'Current'),
	('262', '56402', '17113.81', '8.08', '36', '759', '143475.42', 'Employed', '0.45', 'Car', 'Unreported', '0', '57', 'Other', 'Paid Off'),
	('263', '21605', '25320.265', '19.99', '48', '524', '149747.75', 'Others', '0.68', 'Home', '8', '0', '67', 'Rent', 'Paid Off'),
	('264', '75483', '16483.52', '5.5', '60', '387', '85420.16', 'Unemployed', '0.48', 'Business', '1', '1', '29', 'Mortgage', 'Paid Off'),
	('265', '71073', '38668.06', '13.245', '36', '383', '47482.4', 'Unemployed', '0.9', 'Business', '5', '1', '19', 'Rent', 'Paid Off'),
	('266', '32571', '5442.87', '10.66', '12', '589', '21624.95', 'Others', '0.63', 'Car', '3', '0', '39', 'Own', 'Late'),
	('267', '64355', '16914.51', '19.69', '24', '482', '140037.57', 'Unemployed', '0.89', 'Other', '5', '0', '37', 'Other', 'Current'),
	('268', '54760', '33790.46', '12.11', '48', '446', '76553.85', 'Self-employed', '0.02', 'Personal', '5', '1', '18', 'Other', 'Current'),
	('269', '88633', '30543.67', '13.245', '72', '556', '85420.16', 'Unemployed', '0.97', 'Home', '1', '0', '31', 'Own', 'Paid Off'),
	('270', '98157', '6856.27', '13.245', '48', '730', '96829.5', 'Employed', '0.96', 'Other', '2', '0', '28', 'Mortgage', 'Current'),
	('271', '93349', '22534.2', '13.17', '12', '467', '58253.67', 'Unemployed', '0.48', 'Home', '8', '0', '40', 'Other', 'Current'),
	('272', '54760', '16151.85', '13.245', '12', '472', '29329.4', 'Others', '0.48', 'Education', '9', '1', '57', 'Rent', 'Current'),
	('273', '94466', '31961.65', '17.77', '60', '715', '40542.06', 'Self-employed', '0.07', 'Business', '6', '1', '37', 'Rent', 'Paid Off'),
	('274', '89835', '7363.64', '7.52', '60', '307', '85420.16', 'Employed', '0.76', 'Business', '5', '1', '63', 'Own', 'Current'),
	('275', '92249', '33857.73', '14.35', '24', '458', '85420.16', 'Self-employed', '0.6', 'Home', '9', '0', '38', 'Own', 'Current'),
	('276', '95532', '23727.79', '13.245', '36', '674', '136619.76', 'Unemployed', '0.72', 'Education', '6', '0', '22', 'Own', 'Paid Off'),
	('277', '54760', '14469.61', '22.72', '60', '840', '96768.57', 'Unemployed', '0.95', 'Education', 'Unreported', '1', '31', 'Other', 'Current'),
	('278', '34785', '37624.76', '22.82', '48', '482', '85420.16', 'Unemployed', '0.62', 'Business', '0', '0', '55', 'Other', 'Late'),
	('279', '65913', '10207.58', '13.245', '36', '604', '85420.16', 'Unemployed', '0.39', 'Business', '4', '1', '59', 'Own', 'Paid Off'),
	('280', '73418', '8459.66', '6.91', '60', '730', '127203.16', 'Self-employed', '0.61', 'Personal', '9', '0', '55', 'Rent', 'Paid Off'),
	('281', '46736', '1752.44', '3.39', '72', '433', '107636.46', 'Unemployed', '0.16', 'Car', '9', '0', '42', 'Mortgage', 'Paid Off'),
	('282', '76576', '43203.72', '19.3', '36', '545', '83083.28', 'Self-employed', '0.98', 'Other', '0', '0', '29', 'Mortgage', 'NA'),
	('283', '81786', '25125.91', '10.28', '72', '730', '114745.39', 'Employed', '0.69', 'Education', '3', '0', '44', 'Own', 'NA'),
	('284', '67508', '26319.06', '13.245', '36', '710', '110209.24', 'Others', '0.1', 'Business', '4', '1', '19', 'Rent', 'Current'),
	('285', '17704', '6623.37', '21.21', '36', '415', '34482.45', 'Self-employed', '0.69', 'Education', '4', '1', '58', 'Mortgage', 'Paid Off'),
	('286', '54760', '6281.03', '14.35', '36', '352', '76784.24', 'Others', '0.05', 'Car', '5', '0', '57', 'Rent', 'Late'),
	('287', '52179', '17355.39', '23.83', '36', '380', '84889.02', 'Self-employed', '0.16', 'Personal', '6', '1', '62', 'Own', 'Current'),
	('288', '35907', '26295.3', '15.31', '48', '741', '48420.2', 'Employed', '0.89', 'Education', '6', '0', '27', 'Other', 'Paid Off'),
	('289', '55192', '353427.4', '23.88', '48', '824', '920876.4', 'Others', '0.82', 'Car', '5', '1', '58', 'Mortgage', 'Paid Off'),
	('290', '19144', '25464.25', '14.62', '48', '350', '91359.7', 'Unemployed', '0.97', 'Personal', '3', '1', '67', 'Other', 'Current'),
	('291', '37741', '41746.36', '5.96', '60', '484', '95308.93', 'Unemployed', '0.39', 'Home', '8', '0', '41', 'Own', 'Paid Off'),
	('292', '72551', '25320.265', '24.17', '24', '554', '70175.44', 'Self-employed', '0.02', 'Home', 'Unreported', '1', '43', 'Other', 'Paid Off'),
	('293', '12195', '2376.31', '4.07', '36', '381', '98395.19', 'Unemployed', '0.1', 'Other', '0', '1', '59', 'Rent', 'Late'),
	('294', '14680', '21881.46', '6.2', '72', '390', '39535.64', 'Unemployed', '0.97', 'Other', '9', '1', '51', 'Mortgage', 'Late'),
	('295', '65751', '5165.13', '24.91', '72', '560', '70010.4', 'Others', '0.48', 'Other', '5', '1', '56', 'Own', 'NA'),
	('296', '35687', '16780.67', '19.91', '24', '474', '52805.07', 'Unemployed', '0.54', 'Car', '8', '0', '43', 'Mortgage', 'Late'),
	('297', '62237', '25320.265', '21.34', '36', '820', '142778.14', 'Unemployed', '0.63', 'Education', '5', '1', '30', 'Own', 'Late'),
	('298', '48008', '25320.265', '13.245', '60', '730', '74746.11', 'Self-employed', '0.48', 'Other', 'Unreported', '1', '52', 'Own', 'Paid Off'),
	('299', '54760', '12586.33', '10.71', '48', '831', '27420.05', 'Unemployed', '0.52', 'Car', '4', '0', '21', 'Mortgage', 'Late'),
	('300', '70343', '19422.16', '8.24', '12', '730', '39789.42', 'Self-employed', '0.79', 'Business', '9', '0', '54', 'Own', 'Late'),
	('301', '90704', '22127.09', '3.24', '24', '447', '85420.16', 'Unemployed', '0.54', 'Car', 'Unreported', '0', '58', 'Rent', 'NA'),
	('302', '53723', '38429.55', '3.09', '12', '670', '127809.07', 'Employed', '0.48', 'Car', '7', '0', '25', 'Other', 'Paid Off'),
	('303', '64180', '2639.4', '9.54', '36', '730', '106717.62', 'Employed', '0.57', 'Education', '0', '0', '34', 'Rent', 'Late'),
	('304', '67625', '2892.52', '7.15', '48', '785', '134223.55', 'Employed', '0.32', 'Other', '2', '1', '33', 'Own', 'Late'),
	('305', '55856', '6738.78', '17.34', '60', '762', '100102.51', 'Employed', '0.21', 'Education', '8', '1', '65', 'Mortgage', 'Current'),
	('306', '99514', '31787.92', '5.9', '60', '746', '76725.48', 'Employed', '0.63', 'Car', '0', '1', '67', 'Mortgage', 'Late'),
	('307', '87582', '21312.78', '13.245', '12', '552', '108227.89', 'Unemployed', '0.48', 'Home', '1', '1', '20', 'Mortgage', 'Late'),
	('308', '30950', '42597.36', '24.26', '72', '753', '125788.28', 'Unemployed', '0.8', 'Business', '5', '1', '59', 'Mortgage', 'Paid Off'),
	('309', '19500', '14918.84', '13.245', '72', '309', '135098.88', 'Employed', '0.58', 'Home', '3', '1', '30', 'Rent', 'Late'),
	('310', '62548', '24973.35', '3.18', '60', '730', '34466.11', 'Others', '0.32', 'Personal', '8', '1', '26', 'Mortgage', 'Paid Off'),
	('311', '56614', '35632.5', '5.92', '12', '390', '121486.32', 'Unemployed', '0.88', 'Education', '7', '0', '69', 'Mortgage', 'Late'),
	('312', '33418', '25320.265', '8.15', '24', '823', '126805.28', 'Self-employed', '0.48', 'Other', '8', '1', '39', 'Mortgage', 'Paid Off'),
	('313', '59747', '16523.2', '22.15', '24', '399', '23930.4', 'Self-employed', '0.82', 'Car', '0', '0', '51', 'Rent', 'Paid Off'),
	('314', '43415', '8474.6', '13.245', '72', '314', '48261.94', 'Others', '0.93', 'Education', 'Unreported', '0', '62', 'Mortgage', 'Current'),
	('315', '22232', '27489.57', '24.22', '24', '542', '116137.46', 'Unemployed', '0.36', 'Home', '8', '1', '37', 'Rent', 'Paid Off'),
	('316', '26957', '7965.67', '8.04', '36', '730', '46532.28', 'Self-employed', '0.56', 'Home', '5', '1', '69', 'Rent', 'Late'),
	('317', '67600', '47025.92', '6.04', '72', '757', '76217.05', 'Self-employed', '0.15', 'Education', 'Unreported', '1', '43', 'Other', 'Late'),
	('318', '37784', '27454.64', '14.07', '48', '734', '85420.16', 'Self-employed', '0.3', 'Other', '8', '1', '52', 'Rent', 'Current'),
	('319', '54239', '9570.85', '13.245', '36', '665', '84737.05', 'Employed', '0.97', 'Education', '7', '1', '35', 'Mortgage', 'Paid Off'),
	('320', '49335', '36311.48', '11.16', '72', '496', '148199.85', 'Self-employed', '0.54', 'Home', '0', '0', '48', 'Other', 'Late'),
	('321', '47212', '6073.81', '12.4', '36', '609', '85420.16', 'Self-employed', '0.83', 'Other', '3', '1', '64', 'Mortgage', 'Late'),
	('322', '62141', '38810.59', '3.4', '24', '609', '92922.76', 'Self-employed', '0.87', 'Car', '3', '1', '50', 'Mortgage', 'NA'),
	('323', '72746', '23407.17', '9.47', '36', '400', '122480.16', 'Self-employed', '0.62', 'Education', '3', '1', '69', 'Own', 'Paid Off'),
	('324', '43354', '7500.44', '13.245', '36', '511', '52885.75', 'Employed', '0.02', 'Business', '4', '0', '54', 'Other', 'Current'),
	('325', '89668', '2823.34', '13.01', '24', '772', '128964.99', 'Unemployed', '0.82', 'Business', '0', '1', '38', 'Own', 'Paid Off'),
	('326', '64254', '49675.52', '19.61', '48', '475', '135945.65', 'Unemployed', '0.41', 'Home', '1', '1', '54', 'Own', 'Current'),
	('327', '54760', '14444.05', '17.46', '48', '684', '96435.58', 'Unemployed', '0.02', 'Business', '5', '0', '43', 'Mortgage', 'Late'),
	('328', '54760', '47660.18', '23.65', '60', '340', '85420.16', 'Self-employed', '0.67', 'Other', '6', '1', '33', 'Own', 'Paid Off'),
	('329', '21059', '25320.265', '17.88', '36', '778', '29796.04', 'Unemployed', '0.37', 'Car', '2', '0', '46', 'Rent', 'Late'),
	('330', '76275', '25647.75', '14.87', '72', '465', '98524.19', 'Unemployed', '0.45', 'Personal', '4', '0', '26', 'Rent', 'Current'),
	('331', '31266', '5462.42', '5.61', '60', '730', '91173.82', 'Unemployed', '0.03', 'Personal', '2', '1', '59', 'Own', 'Paid Off'),
	('332', '15410', '47584.59', '23.19', '12', '730', '63297.18', 'Employed', '0.48', 'Business', '3', '1', '48', 'Other', 'Paid Off'),
	('333', '58691', '36911.9', '24.92', '48', '848', '53807.03', 'Unemployed', '0.88', 'Home', '6', '1', '43', 'Mortgage', 'Current'),
	('334', '54760', '26417.66', '21.38', '60', '782', '37452.42', 'Employed', '0.63', 'Business', '7', '1', '64', 'Rent', 'Current'),
	('335', '92357', '6892.6', '4.15', '12', '444', '133157.54', 'Others', '0.44', 'Education', '2', '1', '66', 'Rent', 'Current'),
	('336', '79434', '9608.15', '4.56', '24', '730', '73653.71', 'Employed', '0.15', 'Education', '3', '1', '54', 'Own', 'Late'),
	('337', '28231', '22176.16', '10.39', '36', '645', '85420.16', 'Others', '0.9', 'Home', 'Unreported', '1', '64', 'Own', 'Late'),
	('338', '19724', '18750.68', '18.01', '12', '804', '61794.63', 'Self-employed', '0.7', 'Business', '5', '0', '30', 'Mortgage', 'Paid Off'),
	('339', '33314', '28348.76', '21.02', '60', '504', '135100.19', 'Self-employed', '0.4', 'Home', '8', '0', '42', 'Other', 'Current'),
	('340', '76477', '4740.85', '6.16', '12', '613', '85655.91', 'Employed', '0.6', 'Personal', '4', '1', '69', 'Other', 'Late'),
	('341', '37479', '2976.95', '16.38', '36', '720', '130505.99', 'Employed', '0.25', 'Personal', '6', '0', '43', 'Rent', 'Current'),
	('342', '35025', '25320.265', '5.67', '48', '770', '85420.16', 'Self-employed', '0.39', 'Business', '6', '0', '29', 'Rent', 'Current'),
	('343', '54760', '2396.57', '4.58', '72', '790', '77366.55', 'Unemployed', '0.63', 'Education', '8', '1', '56', 'Rent', 'Paid Off'),
	('344', '64762', '3918.05', '12.83', '24', '733', '52245.04', 'Employed', '0.27', 'Home', '4', '1', '57', 'Rent', 'Late'),
	('345', '86853', '19440.73', '21.8', '36', '730', '68020.72', 'Others', '0.6', 'Business', 'Unreported', '1', '52', 'Other', 'Late'),
	('346', '84544', '40271.7', '16.44', '24', '690', '838571.7', 'Others', '0.16', 'Business', '4', '1', '35', 'Rent', 'Current'),
	('347', '41838', '25320.265', '17.68', '24', '442', '106316.26', 'Unemployed', '0.23', 'Car', '8', '1', '43', 'Own', 'Current'),
	('348', '28491', '12845.78', '11.04', '48', '799', '85420.16', 'Unemployed', '0.28', 'Education', '3', '1', '48', 'Rent', 'Current'),
	('349', '24672', '10200.74', '8.14', '36', '520', '20956.31', 'Employed', '0.14', 'Car', '1', '1', '42', 'Other', 'Late'),
	('350', '96179', '20829.31', '23.44', '24', '417', '33061.31', 'Employed', '0.58', 'Personal', '2', '0', '35', 'Own', 'Paid Off'),
	('351', '21834', '6875.29', '11.46', '12', '313', '72470.41', 'Others', '0.94', 'Other', '3', '0', '45', 'Rent', 'Late'),
	('352', '92865', '18132.33', '13.81', '36', '730', '68424.23', 'Unemployed', '0.38', 'Education', '0', '1', '43', 'Own', 'Current'),
	('353', '72570', '22308.81', '3.66', '36', '619', '97827.56', 'Unemployed', '0.35', 'Car', '8', '0', '43', 'Mortgage', 'NA'),
	('354', '83929', '41670.14', '3.59', '36', '801', '90957.42', 'Unemployed', '0.66', 'Education', '6', '0', '49', 'Mortgage', 'Late'),
	('355', '66620', '46707.5', '19.44', '60', '626', '119260.15', 'Self-employed', '0.15', 'Car', '3', '1', '26', 'Own', 'Late'),
	('356', '93725', '16108.58', '23.44', '36', '778', '85420.16', 'Employed', '0.23', 'Personal', '4', '0', '19', 'Mortgage', 'Paid Off'),
	('357', '54760', '15339.46', '16.64', '72', '582', '27675', 'Employed', '0.77', 'Education', '4', '0', '37', 'Mortgage', 'Paid Off'),
	('358', '77398', '28759.4', '22.7', '60', '730', '103848.57', 'Employed', '0.48', 'Personal', '3', '1', '66', 'Rent', 'Current'),
	('359', '76439', '25320.265', '19.8', '48', '395', '102515.64', 'Self-employed', '0.41', 'Other', '9', '0', '32', 'Mortgage', 'Paid Off'),
	('360', '25352', '18135.9', '4.96', '36', '672', '85420.16', 'Unemployed', '0.33', 'Car', '1', '0', '19', 'Rent', 'Current'),
	('361', '74022', '3607.6', '3.53', '36', '431', '29702.81', 'Employed', '0.06', 'Business', '6', '1', '51', 'Mortgage', 'Paid Off'),
	('362', '54760', '19574.34', '23.67', '60', '749', '109760.16', 'Self-employed', '0.51', 'Car', '8', '0', '65', 'Own', 'Paid Off'),
	('363', '24297', '6593.42', '13.245', '48', '337', '147521.88', 'Self-employed', '0.59', 'Business', '3', '1', '43', 'Rent', 'NA'),
	('364', '15896', '28528.83', '16.47', '72', '422', '56351.03', 'Unemployed', '0.48', 'Education', '9', '0', '40', 'Rent', 'NA'),
	('365', '22003', '32438.09', '7.42', '48', '730', '60917.87', 'Self-employed', '0.87', 'Education', '9', '0', '43', 'Own', 'Late'),
	('366', '83478', '25320.265', '13.86', '60', '730', '128116.61', 'Unemployed', '0.54', 'Car', '8', '1', '27', 'Mortgage', 'Paid Off'),
	('367', '33761', '10561.79', '13.245', '36', '497', '110861.24', 'Employed', '0.12', 'Car', '1', '1', '31', 'Other', 'Late'),
	('368', '52439', '11152.91', '18.53', '36', '574', '51653.58', 'Employed', '0.8', 'Business', '3', '1', '49', 'Mortgage', 'NA'),
	('369', '91858', '47423.56', '20.87', '36', '845', '88930.69', 'Self-employed', '0.61', 'Education', '6', '0', '38', 'Mortgage', 'Late'),
	('370', '54760', '43367.4', '13.245', '36', '515', '24199.42', 'Employed', '0.46', 'Car', '6', '1', '55', 'Mortgage', 'Late'),
	('371', '46589', '31186.65', '6.8', '24', '730', '76104.34', 'Employed', '0.18', 'Car', '3', '1', '54', 'Mortgage', 'Current'),
	('372', '94631', '42228.95', '12.04', '72', '790', '53040.73', 'Unemployed', '0.45', 'Personal', '7', '0', '29', 'Rent', 'Late'),
	('373', '18472', '25320.265', '10.65', '24', '365', '139670.1', 'Others', '0.06', 'Education', '8', '0', '27', 'Own', 'Paid Off'),
	('374', '76564', '43827.41', '2.78', '12', '730', '24334.33', 'Employed', '0.21', 'Personal', '5', '1', '66', 'Rent', 'Current'),
	('375', '45428', '43498.07', '7.45', '36', '730', '129683.08', 'Self-employed', '0.74', 'Personal', '8', '0', '36', 'Mortgage', 'Paid Off'),
	('376', '72444', '13157.5', '14.57', '72', '650', '144978.02', 'Employed', '0.86', 'Car', '2', '0', '58', 'Mortgage', 'Late'),
	('377', '77889', '25910.29', '13.245', '60', '448', '95188.89', 'Unemployed', '0.56', 'Education', '8', '0', '23', 'Rent', 'Current'),
	('378', '97582', '465589.4', '9.22', '36', '452', '396935.1', 'Employed', '0.48', 'Car', '6', '1', '20', 'Mortgage', 'Current'),
	('379', '17734', '34278.35', '18.13', '48', '827', '48699.29', 'Unemployed', '0.48', 'Car', '2', '0', '20', 'Rent', 'Current'),
	('380', '38436', '33365.44', '23.62', '48', '748', '64039.01', 'Self-employed', '0.07', 'Car', '5', '1', '37', 'Own', 'Current'),
	('381', '33905', '28428.47', '6.13', '60', '703', '56724.37', 'Others', '0.48', 'Other', '2', '0', '44', 'Rent', 'Paid Off'),
	('382', '36981', '14172.75', '4.5', '48', '730', '141969.8', 'Others', '0.78', 'Personal', '4', '0', '68', 'Own', 'Paid Off'),
	('383', '86473', '48942.35', '24.69', '72', '429', '137135.79', 'Unemployed', '0.47', 'Personal', '7', '1', '66', 'Own', 'Late'),
	('384', '55463', '22927.97', '3.15', '36', '360', '93653.62', 'Self-employed', '0.02', 'Home', '4', '0', '54', 'Rent', 'Late'),
	('385', '76589', '25320.265', '8.46', '72', '683', '112947.55', 'Employed', '0.75', 'Personal', '4', '1', '26', 'Rent', 'NA'),
	('386', '29361', '36700.45', '21.99', '36', '591', '27462.29', 'Unemployed', '0.06', 'Business', '1', '1', '61', 'Own', 'Paid Off'),
	('387', '31875', '30777.54', '13.245', '36', '730', '96999.75', 'Unemployed', '0.64', 'Home', '8', '1', '24', 'Mortgage', 'Late'),
	('388', '54760', '17769.82', '6.04', '24', '339', '24578.55', 'Self-employed', '0.82', 'Car', '6', '1', '31', 'Own', 'Late'),
	('389', '12679', '15885.79', '19.98', '12', '417', '85420.16', 'Employed', '0.48', 'Home', '9', '0', '36', 'Own', 'Paid Off'),
	('390', '86723', '11510.83', '18.69', '12', '605', '61450.28', 'Employed', '0.69', 'Car', '2', '0', '22', 'Rent', 'Late'),
	('391', '80486', '25320.265', '4.48', '60', '365', '22029.69', 'Employed', '0.48', 'Home', '9', '1', '20', 'Rent', 'Current'),
	('392', '41222', '31659.83', '13.54', '60', '798', '82733.25', 'Unemployed', '0.46', 'Home', '8', '0', '68', 'Own', 'Paid Off'),
	('393', '78201', '25778.99', '22.55', '12', '649', '85420.16', 'Self-employed', '0.34', 'Car', '2', '0', '60', 'Rent', 'Current'),
	('394', '94977', '12507.57', '11.75', '24', '518', '58166.8', 'Self-employed', '0.29', 'Home', '6', '1', '27', 'Own', 'Current'),
	('395', '40857', '3701.1', '7.11', '48', '654', '128018.38', 'Others', '0.97', 'Car', '7', '1', '32', 'Mortgage', 'Late'),
	('396', '49606', '1926.15', '13.245', '36', '730', '49158.92', 'Employed', '0.34', 'Home', '1', '1', '30', 'Mortgage', 'NA'),
	('397', '10851', '37186.3', '7.24', '60', '384', '71342.13', 'Self-employed', '0.48', 'Education', '2', '1', '61', 'Mortgage', 'Late'),
	('398', '15028', '10224.41', '22.88', '36', '646', '92240.06', 'Self-employed', '0.53', 'Other', '3', '0', '69', 'Rent', 'Current'),
	('399', '30177', '14065.54', '11.63', '24', '730', '100698.1', 'Employed', '0.15', 'Home', '8', '1', '28', 'Mortgage', 'Current'),
	('400', '99236', '1691.5', '13.22', '12', '329', '141158.33', 'Others', '0.11', 'Other', '1', '1', '55', 'Rent', 'Late'),
	('401', '49920', '8381.31', '17.97', '60', '605', '85420.16', 'Unemployed', '0.9', 'Education', '0', '1', '49', 'Rent', 'Paid Off'),
	('402', '54760', '43847.84', '10.27', '72', '488', '149059.68', 'Employed', '0.43', 'Education', '2', '1', '43', 'Own', 'Late'),
	('403', '84305', '12860.98', '23.67', '36', '508', '42323.23', 'Self-employed', '0.01', 'Home', 'Unreported', '1', '53', 'Rent', 'Paid Off'),
	('404', '32036', '47743.95', '8.28', '12', '504', '81558.89', 'Employed', '0.07', 'Other', '7', '1', '34', 'Rent', 'Paid Off'),
	('405', '48212', '9053', '24.21', '48', '446', '74526.07', 'Employed', '0.55', 'Education', '5', '0', '25', 'Other', 'Current'),
	('406', '54760', '13409.81', '10.93', '48', '730', '66065.38', 'Self-employed', '0.2', 'Home', '7', '1', '56', 'Mortgage', 'NA'),
	('407', '44735', '43517.79', '19.95', '36', '844', '99148.11', 'Unemployed', '0.02', 'Car', '6', '1', '61', 'Rent', 'Current'),
	('408', '92570', '21903.81', '13.245', '48', '730', '73722.36', 'Self-employed', '0.65', 'Business', '2', '1', '31', 'Mortgage', 'NA'),
	('409', '11384', '14123.62', '16.28', '12', '318', '72801.11', 'Self-employed', '0.15', 'Personal', '8', '0', '69', 'Own', 'NA'),
	('410', '89403', '25320.265', '20.67', '24', '623', '142175', 'Self-employed', '0.26', 'Car', '2', '1', '56', 'Other', 'NA'),
	('411', '75599', '25320.265', '15.59', '72', '474', '142925.63', 'Employed', '0.21', 'Car', '1', '1', '55', 'Mortgage', 'Late'),
	('412', '79524', '44639.65', '15.85', '72', '816', '27723.97', 'Unemployed', '0.52', 'Home', '6', '0', '61', 'Mortgage', 'Late'),
	('413', '61654', '42236.52', '5.24', '36', '517', '48700.15', 'Employed', '0.34', 'Personal', '8', '0', '55', 'Rent', 'NA'),
	('414', '72729', '5204.05', '22.48', '60', '326', '113569.14', 'Unemployed', '0.23', 'Education', '4', '1', '21', 'Other', 'Paid Off'),
	('415', '62668', '40132.32', '13.245', '36', '749', '53726.56', 'Others', '0.49', 'Personal', '8', '1', '65', 'Own', 'Late'),
	('416', '29055', '48097.35', '13.245', '36', '690', '88749.05', 'Employed', '0.88', 'Home', '3', '0', '69', 'Rent', 'Current'),
	('417', '56499', '25111.41', '9.32', '48', '783', '55554.98', 'Unemployed', '0.42', 'Other', '1', '1', '59', 'Mortgage', 'NA'),
	('418', '97314', '25320.265', '8.64', '60', '650', '69846.05', 'Employed', '0.41', 'Other', '9', '0', '56', 'Mortgage', 'Current'),
	('419', '46209', '34310.04', '5.9', '72', '820', '68536.9', 'Self-employed', '0.79', 'Education', '7', '0', '22', 'Mortgage', 'Late'),
	('420', '18010', '14069.62', '14.6', '48', '567', '86013.19', 'Others', '0.33', 'Home', '7', '1', '39', 'Rent', 'Current'),
	('421', '69618', '32833.4', '21.42', '72', '489', '60781.98', 'Self-employed', '0.24', 'Education', '3', '1', '61', 'Mortgage', 'Current'),
	('422', '89073', '24268.51', '13.43', '24', '720', '96410.35', 'Self-employed', '0.7', 'Education', '2', '0', '44', 'Other', 'NA'),
	('423', '61115', '20871.55', '10.28', '12', '430', '107572.82', 'Unemployed', '0.81', 'Business', '2', '0', '66', 'Mortgage', 'Late'),
	('424', '81299', '45237.28', '13.245', '12', '629', '96118.2', 'Unemployed', '0.45', 'Education', '8', '0', '64', 'Own', 'Late'),
	('425', '29340', '40097.25', '5.08', '36', '730', '147385.97', 'Self-employed', '0.88', 'Education', '8', '1', '43', 'Own', 'Late'),
	('426', '82932', '46795.77', '13.05', '72', '684', '47976.2', 'Others', '0.76', 'Home', '7', '1', '67', 'Mortgage', 'Current'),
	('427', '54760', '41995.94', '19.51', '12', '629', '66757.1', 'Employed', '0.48', 'Education', '4', '1', '48', 'Mortgage', 'Current'),
	('428', '24705', '3048.72', '22.65', '72', '370', '64746.37', 'Self-employed', '0.66', 'Business', '2', '1', '62', 'Rent', 'Late'),
	('429', '66448', '30719.94', '23.34', '12', '414', '127709.68', 'Self-employed', '0.43', 'Personal', '0', '0', '39', 'Mortgage', 'Paid Off'),
	('430', '96823', '35184.21', '4.58', '72', '723', '55412.46', 'Unemployed', '0.6', 'Other', '0', '0', '39', 'Mortgage', 'Paid Off'),
	('431', '35274', '25320.265', '14.43', '36', '682', '63491.9', 'Unemployed', '0.7', 'Education', '4', '0', '43', 'Mortgage', 'Paid Off'),
	('432', '92212', '25320.265', '6.87', '48', '559', '113476.98', 'Employed', '0.95', 'Personal', '7', '1', '50', 'Rent', 'Late'),
	('433', '41075', '21855.89', '6.07', '60', '511', '44442.22', 'Others', '0.83', 'Business', '1', '1', '48', 'Own', 'Late'),
	('434', '63251', '2912.43', '21.91', '60', '552', '70366.78', 'Self-employed', '0.48', 'Business', '5', '1', '39', 'Mortgage', 'Late'),
	('435', '80882', '25320.265', '10.49', '36', '614', '132601.5', 'Unemployed', '0.93', 'Personal', '7', '1', '52', 'Mortgage', 'Late'),
	('436', '33417', '28465.08', '4.44', '72', '598', '96107.77', 'Others', '0.42', 'Car', 'Unreported', '1', '49', 'Rent', 'Paid Off'),
	('437', '23729', '29538.18', '7.02', '72', '730', '104389.58', 'Others', '0.08', 'Personal', '2', '1', '63', 'Mortgage', 'NA'),
	('438', '33836', '10860.24', '10.76', '12', '531', '85420.16', 'Unemployed', '0.67', 'Car', '8', '1', '63', 'Rent', 'Paid Off'),
	('439', '66132', '22961.93', '13.245', '24', '730', '20747.16', 'Employed', '0.48', 'Personal', '3', '0', '23', 'Mortgage', 'Current'),
	('440', '79658', '24131.79', '13.245', '12', '812', '22888.61', 'Unemployed', '0.38', 'Home', '4', '1', '65', 'Mortgage', 'Current'),
	('441', '76272', '1555.5', '23.26', '24', '824', '54888.45', 'Unemployed', '0.04', 'Business', '5', '1', '22', 'Mortgage', 'Current'),
	('442', '36872', '25320.265', '9.25', '36', '828', '144486.3', 'Unemployed', '0.01', 'Other', '9', '0', '51', 'Mortgage', 'Current'),
	('443', '93891', '31590.7', '11.13', '12', '621', '75622.34', 'Unemployed', '0.62', 'Business', '7', '1', '36', 'Other', 'NA'),
	('444', '54760', '49648.19', '8.51', '48', '796', '59548.56', 'Self-employed', '0.59', 'Personal', 'Unreported', '0', '60', 'Own', 'Paid Off'),
	('445', '89285', '32869.2', '4.68', '12', '730', '51646.74', 'Employed', '0.42', 'Education', '0', '1', '24', 'Own', 'Current'),
	('446', '43374', '6890.62', '24.1', '12', '830', '149034.36', 'Self-employed', '0.48', 'Home', '0', '1', '37', 'Mortgage', 'Paid Off'),
	('447', '28504', '41250.57', '4.21', '24', '648', '48943.82', 'Unemployed', '0.18', 'Education', '0', '1', '43', 'Rent', 'NA'),
	('448', '55302', '22145.35', '13.245', '36', '750', '38069.64', 'Self-employed', '0.25', 'Personal', '5', '0', '69', 'Rent', 'Current'),
	('449', '68503', '5101.31', '15.11', '60', '441', '87934.92', 'Self-employed', '0.61', 'Education', '1', '1', '61', 'Mortgage', 'Current'),
	('450', '25835', '30391.4', '18.1', '36', '833', '85420.16', 'Others', '0.05', 'Education', '6', '1', '56', 'Rent', 'Current'),
	('451', '54760', '12174.26', '8.26', '48', '437', '104253.35', 'Employed', '0.48', 'Home', '9', '1', '29', 'Mortgage', 'NA'),
	('452', '62547', '21422.31', '13.87', '24', '777', '55351.89', 'Employed', '0.48', 'Other', '3', '1', '56', 'Rent', 'Current'),
	('453', '34404', '16596.42', '13.245', '60', '424', '85420.16', 'Self-employed', '0.79', 'Education', '8', '0', '64', 'Rent', 'Paid Off'),
	('454', '36951', '32499.84', '4.23', '36', '628', '96403.21', 'Employed', '0.49', 'Car', '2', '0', '60', 'Mortgage', 'Current'),
	('455', '48111', '22120.7', '4.77', '24', '307', '111771.56', 'Self-employed', '0.65', 'Education', '4', '0', '44', 'Mortgage', 'NA'),
	('456', '77840', '6095.12', '11.28', '24', '649', '119223.3', 'Self-employed', '0.54', 'Personal', '8', '1', '25', 'Mortgage', 'Paid Off'),
	('457', '54760', '11568.1', '2.08', '60', '437', '43112.37', 'Employed', '0.76', 'Business', '1', '1', '46', 'Rent', 'Current'),
	('458', '24281', '25521.82', '2.57', '36', '543', '67811.5', 'Self-employed', '0.3', 'Education', '3', '1', '43', 'Own', 'Paid Off'),
	('459', '28387', '25320.265', '3.23', '60', '543', '459040.1', 'Self-employed', '0.33', 'Personal', '0', '1', '37', 'Other', 'Paid Off'),
	('460', '70935', '25320.265', '19.6', '72', '715', '103069.08', 'Others', '0.25', 'Business', '4', '1', '41', 'Own', 'Late'),
	('461', '70565', '31008.94', '22.46', '36', '336', '142037.1', 'Employed', '0.35', 'Business', '0', '0', '65', 'Mortgage', 'Paid Off'),
	('462', '99564', '6678.21', '22.8', '36', '565', '41033.44', 'Employed', '0.23', 'Business', '6', '1', '48', 'Mortgage', 'NA'),
	('463', '23704', '30598.42', '2.19', '60', '314', '69999.77', 'Employed', '0.45', 'Home', '2', '1', '55', 'Own', 'Current'),
	('464', '60859', '42003.57', '17.05', '36', '394', '86982.8', 'Self-employed', '0.83', 'Home', '1', '1', '43', 'Mortgage', 'Paid Off'),
	('465', '54760', '12195.67', '8.59', '24', '304', '105072.86', 'Self-employed', '0.56', 'Education', '2', '1', '43', 'Mortgage', 'NA'),
	('466', '83728', '25280.22', '3.61', '12', '362', '41550.38', 'Unemployed', '0.48', 'Car', '2', '1', '37', 'Rent', 'Current'),
	('467', '83064', '38928.59', '4.39', '60', '325', '91403.22', 'Self-employed', '0.35', 'Education', '3', '1', '33', 'Own', 'Current'),
	('468', '54760', '9603.3', '3.53', '36', '362', '40885.49', 'Self-employed', '0.07', 'Education', '4', '1', '55', 'Mortgage', 'Paid Off'),
	('469', '54760', '8475.5', '14.66', '36', '509', '54145.05', 'Unemployed', '0.3', 'Car', '8', '1', '43', 'Mortgage', 'Paid Off'),
	('470', '34919', '45347.25', '9.06', '12', '343', '65205.76', 'Unemployed', '0.42', 'Other', '0', '1', '61', 'Mortgage', 'Late'),
	('471', '90992', '35037.69', '5.82', '48', '828', '103201.64', 'Self-employed', '0.49', 'Home', '3', '0', '37', 'Own', 'Late'),
	('472', '82531', '37092.09', '5.35', '48', '780', '56300.96', 'Self-employed', '0.19', 'Car', '6', '1', '55', 'Mortgage', 'Paid Off'),
	('473', '38954', '42354.46', '21.31', '24', '730', '116461.83', 'Self-employed', '0.57', 'Car', '3', '0', '56', 'Other', 'Late'),
	('474', '81712', '25320.265', '2.52', '60', '451', '148514.37', 'Unemployed', '0.59', 'Personal', '8', '1', '27', 'Rent', 'Late'),
	('475', '49366', '24931.87', '13.245', '60', '427', '58162.41', 'Self-employed', '0.38', 'Personal', '5', '0', '59', 'Mortgage', 'Late'),
	('476', '15985', '28256.61', '13.245', '48', '489', '63918.47', 'Self-employed', '0.51', 'Personal', '8', '1', '40', 'Mortgage', 'Current'),
	('477', '47292', '36133.88', '5.36', '12', '730', '74307.2', 'Employed', '0.82', 'Personal', '1', '1', '56', 'Rent', 'Paid Off'),
	('478', '85577', '20155.93', '12.7', '36', '409', '134207.42', 'Unemployed', '0.59', 'Home', '4', '1', '48', 'Own', 'Current'),
	('479', '65986', '5663.24', '6.76', '48', '432', '55421.26', 'Employed', '0.08', 'Business', '5', '1', '34', 'Mortgage', 'Current'),
	('480', '20413', '7644.25', '16.64', '12', '453', '75865.33', 'Others', '0.78', 'Personal', '9', '0', '68', 'Mortgage', 'Current'),
	('481', '40441', '25320.265', '10.72', '36', '640', '38732.71', 'Employed', '0.8', 'Education', 'Unreported', '0', '59', 'Mortgage', 'Late'),
	('482', '78740', '3534.17', '20.04', '72', '740', '67463.27', 'Employed', '0.11', 'Car', '1', '0', '29', 'Own', 'Current'),
	('483', '70857', '35869.35', '13.245', '72', '786', '125068.06', 'Unemployed', '0.02', 'Car', '7', '1', '38', 'Other', 'Late'),
	('484', '10093', '47240.39', '13.245', '24', '659', '93779.28', 'Unemployed', '0.68', 'Education', '5', '1', '56', 'Rent', 'Current'),
	('485', '89249', '7333.72', '10.21', '60', '719', '89532.84', 'Employed', '0.58', 'Education', '5', '1', '69', 'Own', 'Paid Off'),
	('486', '54760', '36390.95', '12.26', '36', '722', '129677.1', 'Unemployed', '0.32', 'Personal', '6', '1', '63', 'Mortgage', 'Current'),
	('487', '54760', '15820.37', '17.37', '48', '582', '32087.86', 'Others', '0.28', 'Business', 'Unreported', '0', '38', 'Own', 'Current'),
	('488', '75940', '12611.29', '11.71', '12', '756', '114355.54', 'Unemployed', '0.38', 'Personal', '9', '0', '34', 'Other', 'Current'),
	('489', '15037', '42778.51', '7.5', '36', '767', '24651.56', 'Unemployed', '0.46', 'Personal', '0', '0', '59', 'Own', 'Current'),
	('490', '35785', '25320.265', '2.15', '60', '780', '136247.44', 'Unemployed', '0.25', 'Car', '3', '0', '27', 'Mortgage', 'Late'),
	('491', '56031', '25320.265', '8.34', '48', '730', '85420.16', 'Others', '0.08', 'Car', '1', '1', '33', 'Rent', 'Paid Off'),
	('492', '75911', '31999.73', '21.88', '36', '771', '97449.68', 'Unemployed', '0.17', 'Business', '3', '0', '21', 'Own', 'NA'),
	('493', '91572', '9620.94', '15.56', '48', '733', '34601.52', 'Others', '0.61', 'Other', '9', '1', '52', 'Rent', 'Paid Off'),
	('494', '86478', '39698.21', '2.11', '36', '700', '91323.96', 'Unemployed', '0.11', 'Education', '3', '0', '64', 'Mortgage', 'NA'),
	('495', '26881', '25320.265', '20.12', '60', '805', '85420.16', 'Unemployed', '0.61', 'Personal', '8', '0', '53', 'Own', 'Late'),
	('496', '54760', '16614.95', '2.36', '72', '315', '124819.72', 'Unemployed', '0.24', 'Home', '1', '1', '64', 'Own', 'Late'),
	('497', '54760', '32995.38', '23.92', '72', '527', '59953.7', 'Unemployed', '0.92', 'Car', '4', '1', '64', 'Rent', 'Late'),
	('498', '19630', '43944.47', '13.82', '24', '677', '57090.94', 'Unemployed', '0.69', 'Business', '9', '0', '51', 'Mortgage', 'Current'),
	('499', '80051', '1753.37', '22.89', '36', '730', '69439.6', 'Self-employed', '0.48', 'Car', '4', '1', '63', 'Mortgage', 'Late'),
	('500', '78826', '429310.3', '22.38', '60', '687', '490472', 'Self-employed', '0.7', 'Car', '1', '1', '66', 'Mortgage', 'Late'),
	('501', '44330', '29033.6', '22.36', '36', '481', '85420.16', 'Unemployed', '0.26', 'Car', '6', '0', '49', 'Rent', 'Current'),
	('502', '54760', '21286.75', '10.64', '48', '755', '133868.59', 'Self-employed', '0.37', 'Education', 'Unreported', '0', '27', 'Mortgage', 'Late'),
	('503', '54760', '26608.18', '6.28', '24', '304', '115603.47', 'Others', '0.42', 'Home', 'Unreported', '1', '43', 'Own', 'Current'),
	('504', '54760', '41379.04', '10.08', '48', '361', '121858.46', 'Unemployed', '0.88', 'Home', '4', '1', '37', 'Rent', 'Paid Off'),
	('505', '38250', '36384.35', '5.09', '36', '643', '105089.13', 'Self-employed', '0.84', 'Education', '3', '1', '63', 'Mortgage', 'Paid Off'),
	('506', '26080', '25561.98', '13.245', '48', '515', '59207.17', 'Employed', '0.48', 'Business', '7', '0', '56', 'Mortgage', 'Paid Off'),
	('507', '68812', '24894.96', '15.08', '72', '456', '144198.43', 'Others', '0.89', 'Personal', 'Unreported', '0', '43', 'Mortgage', 'Late'),
	('508', '66111', '45063.63', '7.72', '12', '818', '82788.8', 'Self-employed', '0.88', 'Car', '2', '1', '39', 'Other', 'Current'),
	('509', '80272', '12384.77', '20.86', '36', '750', '122552.51', 'Employed', '0.02', 'Car', '1', '0', '27', 'Other', 'Current'),
	('510', '13466', '25320.265', '12.6', '36', '730', '48085.64', 'Self-employed', '0.48', 'Home', '4', '1', '52', 'Own', 'Current'),
	('511', '30427', '34253.27', '2.25', '36', '415', '77098.32', 'Self-employed', '0.82', 'Business', '3', '1', '56', 'Rent', 'Current'),
	('512', '80238', '35408.37', '5.53', '36', '730', '87680.15', 'Unemployed', '0.81', 'Home', '8', '0', '22', 'Own', 'Late'),
	('513', '48406', '28850.92', '11.7', '12', '400', '90798.68', 'Self-employed', '0.48', 'Business', '9', '0', '63', 'Mortgage', 'Current'),
	('514', '50621', '13864.29', '3.79', '36', '395', '141461.99', 'Unemployed', '0.3', 'Personal', '0', '0', '69', 'Other', 'NA'),
	('515', '58373', '15501.7', '16.8', '12', '748', '117675.34', 'Self-employed', '0.76', 'Education', '2', '1', '26', 'Rent', 'Late'),
	('516', '81070', '31235.12', '6.54', '24', '681', '114462.96', 'Self-employed', '0.44', 'Other', '4', '1', '67', 'Mortgage', 'Paid Off'),
	('517', '57273', '14374.96', '15.66', '60', '342', '98229.95', 'Unemployed', '0.92', 'Car', '6', '1', '20', 'Own', 'Current'),
	('518', '49078', '25481.44', '2.22', '36', '565', '42003.99', 'Unemployed', '0.6', 'Personal', '3', '0', '28', 'Rent', 'Current'),
	('519', '54760', '17271.64', '5.33', '36', '731', '35909.68', 'Employed', '0.93', 'Car', '7', '1', '44', 'Rent', 'NA'),
	('520', '31074', '26011.47', '9.5', '24', '538', '45454.27', 'Unemployed', '0.92', 'Education', '0', '1', '46', 'Rent', 'Current'),
	('521', '38039', '12238.83', '4.02', '12', '315', '85420.16', 'Unemployed', '0.51', 'Business', '5', '1', '38', 'Other', 'Paid Off'),
	('522', '78828', '10704.96', '24.62', '36', '425', '141593.52', 'Unemployed', '0.64', 'Business', '8', '0', '41', 'Mortgage', 'Paid Off'),
	('523', '48569', '36965.92', '7.34', '24', '692', '126805.38', 'Employed', '0.46', 'Education', '6', '1', '55', 'Rent', 'Late'),
	('524', '21100', '19900.65', '22.67', '48', '421', '34152.41', 'Others', '0.69', 'Home', '3', '1', '57', 'Mortgage', 'Paid Off'),
	('525', '51294', '12395.74', '17.79', '36', '730', '130330.27', 'Self-employed', '0.39', 'Personal', '2', '0', '23', 'Mortgage', 'Paid Off'),
	('526', '35819', '43062.6', '24.05', '36', '560', '73204.14', 'Employed', '0.51', 'Car', '8', '0', '67', 'Mortgage', 'Paid Off'),
	('527', '18292', '20683.32', '22.94', '36', '348', '103561.89', 'Employed', '0.7', 'Car', '9', '0', '24', 'Mortgage', 'Late'),
	('528', '85997', '6677.64', '22.21', '60', '842', '42948.05', 'Others', '0.8', 'Home', 'Unreported', '1', '27', 'Own', 'Current'),
	('529', '54760', '35694.35', '13.245', '60', '746', '41294.64', 'Self-employed', '0.05', 'Other', '8', '0', '39', 'Rent', 'Current'),
	('530', '54760', '14718.63', '24.19', '12', '600', '127791.14', 'Self-employed', '0.52', 'Personal', '6', '0', '54', 'Own', 'Late'),
	('531', '30129', '28696.87', '6.16', '72', '797', '78434.24', 'Unemployed', '0.02', 'Education', '2', '1', '53', 'Mortgage', 'Late'),
	('532', '47644', '25320.265', '12.45', '72', '406', '121070.58', 'Employed', '0.84', 'Education', '6', '1', '58', 'Own', 'Late'),
	('533', '95728', '48166.14', '19.97', '60', '806', '119836.88', 'Unemployed', '0.54', 'Home', '6', '1', '54', 'Mortgage', 'Late'),
	('534', '52729', '10363.96', '13.245', '36', '844', '142882.98', 'Unemployed', '0.97', 'Personal', '5', '0', '35', 'Rent', 'Current'),
	('535', '54760', '14924.43', '24.87', '12', '730', '139023.91', 'Unemployed', '0.05', 'Business', '1', '0', '24', 'Rent', 'Current'),
	('536', '97496', '46678.77', '18.86', '72', '442', '104654.77', 'Employed', '0.21', 'Other', '8', '1', '28', 'Rent', 'Current'),
	('537', '12173', '36196.35', '6.75', '12', '382', '99729.43', 'Unemployed', '0.89', 'Business', 'Unreported', '1', '29', 'Own', 'Paid Off'),
	('538', '84890', '23017.22', '20.66', '24', '780', '130680.37', 'Employed', '0.97', 'Home', '7', '1', '45', 'Rent', 'Current'),
	('539', '54760', '37003.9', '22.41', '48', '586', '85420.16', 'Employed', '0.9', 'Home', '5', '1', '38', 'Mortgage', 'Paid Off'),
	('540', '16874', '21255.87', '13.245', '36', '681', '76426.61', 'Unemployed', '0.71', 'Car', '9', '0', '55', 'Rent', 'NA'),
	('541', '93099', '21092.52', '24.78', '36', '730', '85420.16', 'Unemployed', '0.92', 'Personal', '6', '1', '53', 'Own', 'Late'),
	('542', '99208', '8664.42', '14.33', '36', '529', '65860.27', 'Unemployed', '0.04', 'Car', 'Unreported', '0', '63', 'Mortgage', 'Paid Off'),
	('543', '71761', '26580.36', '19.78', '12', '730', '58582.22', 'Self-employed', '0.7', 'Home', '3', '1', '58', 'Mortgage', 'Paid Off'),
	('544', '94416', '13870.56', '9.45', '48', '732', '75655.4', 'Unemployed', '0.13', 'Education', '2', '0', '61', 'Own', 'Paid Off'),
	('545', '12757', '32046.08', '7.49', '12', '807', '148179.83', 'Unemployed', '0.53', 'Home', 'Unreported', '1', '23', 'Rent', 'Late'),
	('546', '22120', '25320.265', '20.03', '72', '730', '138136.09', 'Employed', '0.26', 'Personal', '5', '1', '44', 'Own', 'Current'),
	('547', '33842', '42832.33', '6.44', '60', '455', '57805.37', 'Self-employed', '0.3', 'Education', '9', '1', '43', 'Mortgage', 'Current'),
	('548', '79583', '38796.77', '8.53', '36', '327', '47682.45', 'Unemployed', '0.48', 'Home', '3', '1', '36', 'Mortgage', 'Late'),
	('549', '93971', '8248.73', '10.47', '72', '530', '25116.25', 'Self-employed', '0.44', 'Other', '7', '1', '57', 'Rent', 'Current'),
	('550', '62462', '29963.51', '16.36', '24', '539', '85420.16', 'Self-employed', '0.39', 'Business', '3', '1', '67', 'Own', 'Current'),
	('551', '83381', '35973.29', '9.87', '36', '740', '95733.34', 'Unemployed', '0.51', 'Other', '5', '0', '34', 'Own', 'Late'),
	('552', '54760', '26207.6', '9.38', '72', '376', '145557.62', 'Unemployed', '0.88', 'Education', '2', '0', '31', 'Mortgage', 'Paid Off'),
	('553', '75094', '6583.42', '12.19', '12', '527', '78414.33', 'Unemployed', '0.54', 'Home', '0', '1', '46', 'Own', 'Late'),
	('554', '83364', '25659.12', '12.34', '60', '730', '38555.61', 'Employed', '0.8', 'Home', '3', '0', '23', 'Own', 'Late'),
	('555', '31107', '22212.05', '2.48', '48', '339', '149011.34', 'Others', '0.86', 'Personal', '3', '0', '27', 'Mortgage', 'Paid Off'),
	('556', '14930', '16961.97', '9.28', '36', '730', '36480.71', 'Unemployed', '0.2', 'Personal', '0', '0', '55', 'Other', 'Paid Off'),
	('557', '59756', '29544.24', '12.8', '48', '495', '29436.36', 'Unemployed', '0.48', 'Education', '2', '0', '39', 'Own', 'Current'),
	('558', '67308', '16918.74', '7.42', '36', '835', '37484.01', 'Employed', '0.66', 'Home', '3', '1', '34', 'Other', 'Paid Off'),
	('559', '95371', '12542.28', '12.97', '12', '330', '116514.99', 'Self-employed', '0.24', 'Home', '7', '1', '61', 'Mortgage', 'Paid Off'),
	('560', '30165', '37059.16', '15.09', '24', '411', '85420.16', 'Self-employed', '0.27', 'Business', 'Unreported', '1', '60', 'Rent', 'Paid Off'),
	('561', '88957', '11455.18', '13.245', '60', '730', '85420.16', 'Others', '0.88', 'Education', '3', '1', '31', 'Own', 'Paid Off'),
	('562', '10100', '404591.2', '19.82', '12', '471', '514939.8', 'Others', '0.31', 'Business', 'Unreported', '1', '24', 'Rent', 'NA'),
	('563', '63942', '48978.89', '13.245', '36', '617', '69232.46', 'Others', '0.48', 'Education', '1', '0', '36', 'Own', 'Current'),
	('564', '84573', '22620.7', '4.96', '24', '605', '65707.11', 'Unemployed', '0.29', 'Other', '5', '0', '21', 'Mortgage', 'Late'),
	('565', '16037', '40807.23', '2.03', '24', '733', '80378.59', 'Self-employed', '0.58', 'Business', '6', '1', '32', 'Rent', 'NA'),
	('566', '54760', '9250.02', '11.17', '24', '483', '56584', 'Self-employed', '0.47', 'Other', '3', '1', '56', 'Rent', 'Late'),
	('567', '35247', '40067.87', '21.67', '12', '561', '133174.54', 'Employed', '0.29', 'Personal', '0', '0', '26', 'Other', 'Paid Off'),
	('568', '54760', '48160.89', '5.71', '12', '614', '147564.07', 'Self-employed', '0.16', 'Home', '6', '0', '65', 'Mortgage', 'Paid Off'),
	('569', '34813', '26334.15', '8.59', '36', '573', '87127.92', 'Employed', '0.81', 'Business', '4', '0', '24', 'Other', 'Current'),
	('570', '58371', '13530.27', '14.49', '36', '549', '85420.16', 'Employed', '0.02', 'Business', '7', '0', '41', 'Mortgage', 'Current'),
	('571', '57354', '8880.49', '15.66', '24', '485', '97405.36', 'Employed', '0.69', 'Home', '4', '0', '33', 'Mortgage', 'Current'),
	('572', '66062', '45914.71', '14.59', '72', '422', '32134.47', 'Employed', '0.48', 'Personal', '0', '1', '43', 'Mortgage', 'Current'),
	('573', '91941', '16904.05', '2.06', '72', '750', '59935.44', 'Self-employed', '0.14', 'Business', '6', '1', '40', 'Mortgage', 'Current'),
	('574', '32957', '25353.18', '19.73', '36', '814', '118042.19', 'Self-employed', '0.57', 'Education', '0', '1', '40', 'Mortgage', 'Paid Off'),
	('575', '48870', '22238.15', '22.71', '12', '452', '97224.39', 'Self-employed', '0.82', 'Home', '6', '1', '43', 'Rent', 'Late'),
	('576', '39849', '25320.265', '7.81', '36', '730', '128176.22', 'Unemployed', '0.3', 'Education', '2', '1', '20', 'Rent', 'Paid Off'),
	('577', '54760', '38497.65', '5.06', '12', '611', '63929.14', 'Self-employed', '0.46', 'Business', 'Unreported', '1', '61', 'Mortgage', 'Late'),
	('578', '52661', '46822.76', '19.67', '36', '803', '63124.94', 'Self-employed', '0.48', 'Home', '4', '0', '65', 'Own', 'Current'),
	('579', '50831', '32201.96', '18.79', '48', '518', '80258.61', 'Self-employed', '0.19', 'Education', '5', '0', '66', 'Mortgage', 'NA'),
	('580', '49308', '47899.77', '20.24', '48', '742', '57465.21', 'Unemployed', '0.89', 'Business', 'Unreported', '0', '27', 'Mortgage', 'Late'),
	('581', '13418', '10331.79', '23.14', '12', '730', '56337.32', 'Employed', '0.71', 'Home', '6', '1', '41', 'Rent', 'Paid Off'),
	('582', '84314', '28632.93', '3.02', '72', '830', '72104.87', 'Self-employed', '0.72', 'Business', '2', '0', '42', 'Rent', 'NA'),
	('583', '54760', '34589.84', '14.35', '72', '443', '80901.84', 'Unemployed', '0.92', 'Business', '6', '0', '43', 'Rent', 'Late'),
	('584', '64198', '36033.84', '20.15', '36', '730', '102519.28', 'Employed', '0.77', 'Personal', '4', '1', '28', 'Own', 'Current'),
	('585', '51790', '38036.53', '13.53', '60', '758', '67793.34', 'Unemployed', '0.39', 'Car', '0', '0', '27', 'Own', 'Current'),
	('586', '95125', '17324.35', '14.7', '36', '525', '115015.61', 'Self-employed', '0.42', 'Business', '4', '0', '43', 'Other', 'Late'),
	('587', '31674', '44227.53', '13.245', '24', '460', '119651.3', 'Employed', '0.95', 'Business', '5', '0', '66', 'Mortgage', 'Late'),
	('588', '81818', '7453.57', '2.24', '72', '773', '138560.74', 'Employed', '0.45', 'Car', '2', '1', '57', 'Mortgage', 'Current'),
	('589', '11337', '14648.25', '22.8', '36', '545', '114355.13', 'Employed', '0.49', 'Home', '6', '1', '43', 'Mortgage', 'Paid Off'),
	('590', '54760', '23966.99', '6.85', '72', '836', '43137.19', 'Self-employed', '0.24', 'Car', 'Unreported', '1', '54', 'Rent', 'NA'),
	('591', '23657', '30007.91', '2.59', '36', '817', '31738.22', 'Others', '0.47', 'Personal', '1', '0', '33', 'Own', 'Current'),
	('592', '92307', '15468.92', '16.57', '36', '481', '26614.27', 'Self-employed', '0.34', 'Education', '5', '1', '23', 'Mortgage', 'Current'),
	('593', '15245', '45483.46', '14.88', '12', '565', '53859.54', 'Self-employed', '0.56', 'Car', '2', '1', '54', 'Mortgage', 'Current'),
	('594', '37342', '23140.49', '4.94', '24', '730', '63824.7', 'Unemployed', '0.44', 'Car', '0', '1', '20', 'Rent', 'Current'),
	('595', '13922', '5916.53', '24.96', '36', '317', '65592.72', 'Employed', '0.88', 'Home', '2', '0', '32', 'Rent', 'Paid Off'),
	('596', '11221', '41133.54', '11', '48', '508', '85420.16', 'Others', '0.47', 'Business', '9', '1', '43', 'Mortgage', 'Late'),
	('597', '56778', '48307.24', '13.245', '36', '364', '85420.16', 'Self-employed', '0.65', 'Other', '5', '0', '51', 'Own', 'Late'),
	('598', '11924', '17970.05', '4.33', '60', '697', '26837.17', 'Employed', '0.48', 'Other', '5', '1', '39', 'Rent', 'Current'),
	('599', '66337', '28177.54', '14.29', '12', '838', '148161.44', 'Employed', '0.25', 'Car', 'Unreported', '0', '59', 'Mortgage', 'Late'),
	('600', '18901', '29570.46', '5.78', '12', '730', '67858.47', 'Self-employed', '0.78', 'Education', '9', '1', '28', 'Rent', 'Paid Off'),
	('601', '51407', '25320.265', '5.35', '12', '581', '85420.16', 'Others', '0.96', 'Car', '6', '0', '67', 'Rent', 'Late'),
	('602', '54760', '8440.08', '18.73', '36', '365', '96557.16', 'Employed', '0.58', 'Car', '8', '1', '29', 'Rent', 'Paid Off'),
	('603', '84392', '42221.45', '3.54', '72', '467', '120551.26', 'Self-employed', '0.91', 'Car', '6', '1', '68', 'Mortgage', 'Current'),
	('604', '30099', '36358.87', '18.4', '12', '551', '126047.33', 'Unemployed', '0.3', 'Business', '4', '1', '45', 'Rent', 'Paid Off'),
	('605', '84152', '2711.08', '3.6', '36', '498', '71352.07', 'Employed', '0.67', 'Car', '5', '0', '31', 'Own', 'NA'),
	('606', '47028', '28778.84', '11.07', '60', '457', '81043.29', 'Unemployed', '0.48', 'Education', '9', '1', '43', 'Rent', 'Paid Off'),
	('607', '13511', '2373.65', '4.87', '24', '711', '21199.13', 'Self-employed', '0.48', 'Personal', '9', '0', '20', 'Rent', 'Paid Off'),
	('608', '86440', '25325.56', '24.65', '36', '709', '105787.43', 'Self-employed', '0.62', 'Personal', '7', '0', '57', 'Rent', 'Current'),
	('609', '76209', '30371.24', '7.43', '36', '643', '49065.92', 'Self-employed', '0.38', 'Education', 'Unreported', '0', '38', 'Own', 'Paid Off'),
	('610', '44706', '32109.11', '10.38', '60', '430', '68305.24', 'Unemployed', '0.94', 'Business', '4', '0', '53', 'Rent', 'Paid Off'),
	('611', '55518', '46417.05', '6.86', '24', '583', '88877.18', 'Self-employed', '0.17', 'Car', '0', '1', '27', 'Mortgage', 'Late'),
	('612', '35329', '15555.79', '14.51', '60', '626', '77179.43', 'Employed', '0.89', 'Personal', '2', '1', '20', 'Own', 'Late'),
	('613', '82839', '42383.73', '23.21', '60', '373', '97669.93', 'Employed', '0.23', 'Home', '9', '0', '34', 'Other', 'Paid Off'),
	('614', '39419', '23158.84', '13.1', '48', '469', '144726.78', 'Unemployed', '0.04', 'Car', '7', '1', '21', 'Rent', 'Late'),
	('615', '53647', '33680.05', '19.07', '12', '492', '117657.31', 'Self-employed', '0.43', 'Personal', '7', '1', '67', 'Mortgage', 'Current'),
	('616', '54760', '25320.265', '10.16', '48', '647', '134348.7', 'Others', '0.48', 'Personal', '3', '1', '24', 'Mortgage', 'Current'),
	('617', '54760', '25320.265', '8.49', '48', '377', '94357.59', 'Self-employed', '0.87', 'Personal', '2', '1', '43', 'Rent', 'Late'),
	('618', '54760', '25320.265', '4.27', '36', '509', '140355', 'Employed', '0.48', 'Home', '3', '0', '27', 'Rent', 'Late'),
	('619', '52798', '32167.41', '24.31', '24', '430', '119514.18', 'Others', '0.83', 'Business', '4', '1', '43', 'Own', 'Late'),
	('620', '70278', '40238.25', '10.71', '72', '712', '104235', 'Others', '0.83', 'Personal', '0', '1', '40', 'Other', 'Current'),
	('621', '38960', '45541.66', '22.09', '60', '620', '47513.92', 'Employed', '0.56', 'Home', '6', '1', '59', 'Other', 'Current'),
	('622', '50738', '45316.52', '16.25', '36', '768', '54303.39', 'Self-employed', '0.31', 'Business', '5', '0', '63', 'Own', 'Current'),
	('623', '81255', '17066.52', '17.6', '12', '321', '54392.47', 'Unemployed', '0.01', 'Home', '6', '0', '35', 'Own', 'Current'),
	('624', '37260', '48626.67', '13.245', '60', '462', '52172.33', 'Unemployed', '0.13', 'Car', '5', '1', '67', 'Own', 'Paid Off'),
	('625', '37822', '3825.68', '9.53', '72', '552', '46463.79', 'Others', '0.48', 'Home', '4', '0', '44', 'Own', 'Late'),
	('626', '20738', '31203.73', '12.89', '36', '447', '114798.76', 'Self-employed', '0.77', 'Business', '7', '0', '50', 'Other', 'Paid Off'),
	('627', '42308', '25266', '19.63', '60', '536', '86441.31', 'Employed', '0.15', 'Home', '0', '1', '48', 'Other', 'Paid Off'),
	('628', '22910', '12293.33', '22.98', '36', '446', '59243.29', 'Employed', '0.72', 'Personal', '3', '1', '37', 'Rent', 'NA'),
	('629', '48464', '27222.25', '13.39', '48', '740', '112986.54', 'Others', '0.48', 'Other', 'Unreported', '0', '64', 'Rent', 'Current'),
	('630', '13404', '4231.78', '13.245', '36', '730', '85420.16', 'Employed', '0.13', 'Car', '7', '0', '43', 'Other', 'NA'),
	('631', '71302', '28131.99', '18.85', '24', '820', '103607.8', 'Unemployed', '0.48', 'Business', '5', '0', '35', 'Rent', 'Current'),
	('632', '54760', '42868.81', '24.06', '36', '467', '117092.61', 'Others', '0.48', 'Business', '1', '1', '20', 'Other', 'Current'),
	('633', '47010', '7907.65', '17.13', '48', '540', '47195.93', 'Self-employed', '0.8', 'Business', '9', '1', '44', 'Rent', 'Paid Off'),
	('634', '60951', '16942.26', '21.55', '36', '730', '104813.86', 'Self-employed', '0.04', 'Education', '0', '1', '43', 'Own', 'Late'),
	('635', '45459', '31925.04', '11.29', '36', '465', '86837.46', 'Employed', '0.29', 'Car', '1', '1', '28', 'Mortgage', 'Late'),
	('636', '37724', '25320.265', '6.13', '72', '794', '143727.61', 'Self-employed', '0.35', 'Home', '0', '0', '44', 'Rent', 'Current'),
	('637', '54760', '21335.15', '18.21', '60', '485', '58971.68', 'Others', '0.15', 'Personal', '3', '0', '52', 'Rent', 'Late'),
	('638', '22404', '17584.09', '7.64', '24', '489', '24384.51', 'Unemployed', '0.77', 'Personal', '8', '1', '51', 'Mortgage', 'Paid Off'),
	('639', '52477', '24650.82', '22.37', '12', '807', '58369.27', 'Unemployed', '0', 'Business', '8', '0', '49', 'Own', 'Paid Off'),
	('640', '85312', '19286.6', '3.81', '24', '475', '85420.16', 'Unemployed', '0.37', 'Education', '0', '0', '43', 'Rent', 'Late'),
	('641', '49021', '8068.17', '12.95', '24', '683', '133049.75', 'Self-employed', '0.66', 'Home', '3', '0', '48', 'Mortgage', 'Current'),
	('642', '20194', '10741.83', '12.04', '36', '365', '36606.89', 'Employed', '0.1', 'Personal', '0', '1', '54', 'Mortgage', 'Paid Off'),
	('643', '85955', '4883.08', '21.83', '72', '821', '59100.85', 'Self-employed', '0.67', 'Other', 'Unreported', '1', '49', 'Rent', 'Late'),
	('644', '53569', '23915.2', '24.28', '36', '730', '149619.57', 'Employed', '0.58', 'Home', '3', '0', '54', 'Mortgage', 'Current'),
	('645', '54465', '42424.79', '13.245', '36', '775', '136789.22', 'Unemployed', '0.54', 'Personal', '4', '1', '19', 'Own', 'Current'),
	('646', '95998', '5437', '3.26', '24', '552', '39136.25', 'Self-employed', '0.97', 'Education', '9', '1', '69', 'Other', 'NA'),
	('647', '18266', '33277.55', '13.245', '48', '483', '47199.56', 'Unemployed', '0.05', 'Home', '0', '1', '35', 'Rent', 'Paid Off'),
	('648', '98554', '21590.93', '17.36', '12', '724', '65489.59', 'Self-employed', '0.79', 'Business', '4', '0', '36', 'Own', 'Late'),
	('649', '48775', '43697.67', '7.8', '24', '603', '40093.17', 'Self-employed', '0.86', 'Personal', '7', '0', '37', 'Own', 'NA'),
	('650', '54760', '18802.36', '10.67', '72', '730', '141355.14', 'Employed', '0.31', 'Car', '8', '1', '44', 'Mortgage', 'Current'),
	('651', '78816', '35027.73', '22.44', '24', '324', '83786.03', 'Employed', '0.27', 'Personal', '1', '0', '23', 'Own', 'Late'),
	('652', '54760', '20556.5', '23.07', '12', '445', '20325.28', 'Unemployed', '0.83', 'Personal', '5', '1', '35', 'Rent', 'Late'),
	('653', '48386', '27555.47', '13.245', '24', '784', '24473.81', 'Unemployed', '0.48', 'Home', '2', '1', '31', 'Other', 'NA'),
	('654', '44202', '38972.34', '5.3', '12', '531', '42067.61', 'Self-employed', '0.94', 'Education', '2', '1', '44', 'Rent', 'Paid Off'),
	('655', '46020', '48425', '3.02', '36', '767', '85420.16', 'Employed', '0.56', 'Home', '2', '0', '19', 'Rent', 'Paid Off'),
	('656', '16448', '7609.48', '11.06', '48', '738', '36039.7', 'Self-employed', '0.48', 'Education', '5', '0', '39', 'Other', 'Current'),
	('657', '57042', '26925.76', '13.245', '72', '421', '66505.92', 'Unemployed', '0.17', 'Business', '7', '1', '59', 'Own', 'Late'),
	('658', '36214', '7481.16', '17.47', '12', '745', '48231.21', 'Unemployed', '0.53', 'Education', '7', '0', '50', 'Rent', 'Current'),
	('659', '35353', '2494.68', '5.72', '48', '338', '127377.46', 'Employed', '0.5', 'Personal', '2', '0', '69', 'Own', 'Current'),
	('660', '54760', '37649.58', '20.33', '48', '693', '138086.3', 'Employed', '0.94', 'Education', '3', '0', '23', 'Rent', 'Late'),
	('661', '21636', '25320.265', '15.34', '72', '772', '127253.2', 'Employed', '0.17', 'Education', '1', '0', '43', 'Mortgage', 'Late'),
	('662', '10612', '30174.76', '13.245', '72', '823', '79899.81', 'Employed', '0.39', 'Other', 'Unreported', '1', '33', 'Own', 'Late'),
	('663', '79722', '4549.2', '22.63', '36', '572', '48468.82', 'Employed', '0.68', 'Other', '9', '0', '54', 'Rent', 'Late'),
	('664', '67961', '4024.67', '21.54', '12', '426', '44883.61', 'Employed', '0.51', 'Education', 'Unreported', '1', '25', 'Rent', 'Late'),
	('665', '52506', '16412.82', '19.34', '24', '706', '103033.56', 'Unemployed', '0.18', 'Personal', 'Unreported', '1', '22', 'Mortgage', 'Paid Off'),
	('666', '96028', '19663.32', '13.03', '48', '836', '84648.79', 'Employed', '0.84', 'Personal', '6', '1', '45', 'Other', 'Late'),
	('667', '64888', '1189.46', '16.04', '48', '639', '92613.52', 'Self-employed', '0.69', 'Other', '9', '0', '20', 'Rent', 'Late'),
	('668', '53233', '42291.46', '6.55', '48', '649', '131992.25', 'Unemployed', '0.83', 'Home', '3', '1', '67', 'Mortgage', 'Late'),
	('669', '37045', '23960.41', '19.48', '48', '475', '143689.49', 'Employed', '0.48', 'Car', '5', '1', '25', 'Own', 'Current'),
	('670', '54760', '49789.68', '13.245', '36', '680', '137647.09', 'Unemployed', '0.48', 'Business', '3', '1', '30', 'Mortgage', 'Current'),
	('671', '19120', '44323.2', '20.37', '36', '644', '51112.65', 'Unemployed', '0.37', 'Home', '9', '0', '32', 'Own', 'Paid Off'),
	('672', '68746', '25538.04', '23.57', '48', '482', '74556.63', 'Self-employed', '0.6', 'Education', '8', '1', '27', 'Mortgage', 'Late'),
	('673', '84650', '31725.85', '22.44', '60', '398', '93753.63', 'Employed', '0.54', 'Business', '6', '1', '21', 'Mortgage', 'Paid Off'),
	('674', '75635', '16413.05', '22.59', '12', '374', '83548.57', 'Self-employed', '0.48', 'Home', '8', '0', '24', 'Other', 'Paid Off'),
	('675', '54760', '15864.45', '11.89', '36', '714', '85420.16', 'Unemployed', '0.38', 'Home', '7', '0', '43', 'Mortgage', 'NA'),
	('676', '77890', '25320.265', '20.14', '60', '734', '52448.82', 'Unemployed', '0.18', 'Car', '4', '1', '66', 'Rent', 'Paid Off'),
	('677', '65060', '27724.61', '24.3', '72', '623', '56360.8', 'Unemployed', '0.73', 'Education', '3', '0', '60', 'Mortgage', 'Late'),
	('678', '54760', '5001.89', '8.12', '36', '469', '93712.62', 'Employed', '0.57', 'Business', '9', '1', '43', 'Own', 'Current'),
	('679', '75180', '25320.265', '19.6', '36', '543', '92402.5', 'Employed', '0.5', 'Home', '5', '1', '47', 'Mortgage', 'Current'),
	('680', '11608', '16764.5', '7.59', '12', '629', '114253.51', 'Employed', '0.44', 'Personal', '0', '1', '57', 'Own', 'Paid Off'),
	('681', '64546', '39736.13', '8.56', '36', '606', '51179.77', 'Employed', '0.84', 'Home', '9', '1', '55', 'Own', 'Late'),
	('682', '40105', '19690.84', '11.84', '48', '803', '141008.57', 'Employed', '0.18', 'Car', '9', '1', '61', 'Own', 'Late'),
	('683', '83255', '45173.27', '12.17', '36', '304', '47581.62', 'Others', '0.54', 'Education', '7', '1', '18', 'Own', 'Paid Off'),
	('684', '21498', '10286.99', '18.12', '60', '429', '85420.16', 'Employed', '0.13', 'Business', '1', '1', '31', 'Mortgage', 'Current'),
	('685', '89483', '46596.78', '4.41', '72', '730', '98896.03', 'Self-employed', '0.11', 'Business', 'Unreported', '0', '23', 'Own', 'NA'),
	('686', '40360', '30071.05', '21.36', '12', '640', '32824.75', 'Self-employed', '0.09', 'Car', '5', '0', '22', 'Mortgage', 'Late'),
	('687', '21922', '6891.84', '5.13', '36', '625', '45059.92', 'Unemployed', '0.96', 'Business', '4', '1', '67', 'Rent', 'Late'),
	('688', '75219', '25605.36', '2.59', '36', '568', '126291.09', 'Unemployed', '0.19', 'Home', '9', '1', '43', 'Mortgage', 'Paid Off'),
	('689', '58851', '14127.99', '11.27', '36', '536', '85420.16', 'Self-employed', '0.49', 'Business', '4', '0', '47', 'Own', 'Paid Off'),
	('690', '69693', '37702.79', '19.83', '24', '315', '76045.18', 'Employed', '0.91', 'Car', '8', '0', '43', 'Rent', 'Current'),
	('691', '91920', '25320.265', '10.01', '12', '714', '140915.83', 'Others', '0.85', 'Car', '8', '1', '35', 'Rent', 'Current'),
	('692', '54760', '4074.09', '21.56', '72', '607', '20224.01', 'Employed', '0.42', 'Business', '5', '1', '69', 'Mortgage', 'Current'),
	('693', '73366', '21459.76', '17.26', '36', '710', '85420.16', 'Unemployed', '0.24', 'Business', '8', '1', '44', 'Rent', 'Current'),
	('694', '54760', '44469.67', '18.3', '24', '410', '128963.81', 'Unemployed', '0.09', 'Other', '7', '1', '52', 'Mortgage', 'Current'),
	('695', '53449', '20983.52', '13.89', '72', '504', '97876.78', 'Employed', '0.6', 'Education', '2', '1', '43', 'Mortgage', 'Current'),
	('696', '62115', '37437.9', '15.56', '24', '671', '131091.4', 'Unemployed', '0.42', 'Personal', '7', '1', '67', 'Rent', 'Late'),
	('697', '54760', '6555.75', '5.77', '48', '366', '44110.57', 'Self-employed', '0.76', 'Other', '0', '1', '31', 'Mortgage', 'Current'),
	('698', '12098', '25320.265', '22.41', '72', '412', '54044.03', 'Self-employed', '0.94', 'Home', '0', '1', '61', 'Mortgage', 'NA'),
	('699', '47734', '25619.16', '11.79', '36', '432', '32076.8', 'Self-employed', '0.47', 'Home', 'Unreported', '1', '63', 'Rent', 'Late'),
	('700', '77604', '47431.04', '13.245', '12', '591', '32547.54', 'Self-employed', '0.46', 'Personal', '1', '0', '43', 'Mortgage', 'Paid Off'),
	('701', '82363', '27328.74', '17.6', '60', '563', '111640.41', 'Employed', '0.85', 'Personal', '2', '0', '52', 'Mortgage', 'Paid Off'),
	('702', '22918', '38692.06', '22.43', '60', '697', '31435.85', 'Self-employed', '0.14', 'Car', '7', '0', '69', 'Rent', 'Current'),
	('703', '48372', '48633.58', '19.11', '72', '748', '115989.85', 'Employed', '0.94', 'Personal', '2', '0', '56', 'Mortgage', 'Current'),
	('704', '32893', '36738', '12.15', '48', '595', '117379.61', 'Self-employed', '0.79', 'Personal', 'Unreported', '1', '24', 'Own', 'Current'),
	('705', '87929', '292863.9', '12.63', '36', '549', '279476.3', 'Employed', '0.76', 'Education', 'Unreported', '1', '25', 'Own', 'Paid Off'),
	('706', '50642', '18968.7', '8.4', '24', '783', '35136.71', 'Employed', '0.27', 'Business', '6', '0', '40', 'Own', 'Late'),
	('707', '99740', '3083.73', '3.34', '12', '730', '59934.85', 'Self-employed', '0.02', 'Personal', '5', '0', '32', 'Own', 'Late'),
	('708', '95110', '22194.74', '23.61', '36', '686', '28376.21', 'Self-employed', '0.85', 'Business', '0', '1', '43', 'Other', 'Late'),
	('709', '24881', '21211.54', '4.29', '48', '438', '126110.45', 'Unemployed', '0.89', 'Education', '3', '0', '51', 'Mortgage', 'Paid Off'),
	('710', '46741', '41330.05', '8.22', '36', '730', '80105.82', 'Employed', '0.39', 'Car', '5', '0', '49', 'Rent', 'Paid Off'),
	('711', '41782', '10273.38', '13.245', '36', '436', '21306.23', 'Employed', '0.36', 'Car', '7', '1', '62', 'Own', 'Paid Off'),
	('712', '71185', '37389.6', '15.29', '72', '730', '119248.67', 'Employed', '0.48', 'Personal', '2', '0', '25', 'Rent', 'Late'),
	('713', '75802', '2840.62', '21.62', '72', '498', '74026.08', 'Self-employed', '0.07', 'Home', '6', '0', '18', 'Mortgage', 'Paid Off'),
	('714', '54038', '44431.9', '17.99', '12', '316', '77134.53', 'Unemployed', '0.42', 'Home', 'Unreported', '0', '34', 'Own', 'Current'),
	('715', '80918', '33729.19', '13.245', '36', '491', '131622.72', 'Unemployed', '0.18', 'Home', '5', '1', '43', 'Own', 'Late'),
	('716', '51574', '21699.75', '5.45', '36', '321', '78913.47', 'Others', '0.48', 'Car', '6', '1', '18', 'Other', 'Paid Off'),
	('717', '55387', '25320.265', '4.7', '36', '746', '124052.73', 'Self-employed', '0.84', 'Business', '8', '1', '38', 'Mortgage', 'NA'),
	('718', '72834', '10035.65', '13.07', '48', '648', '72190.79', 'Self-employed', '0.57', 'Car', '4', '0', '34', 'Rent', 'Current'),
	('719', '94338', '29696.61', '20.78', '48', '333', '30306.54', 'Self-employed', '0.21', 'Home', '6', '1', '54', 'Own', 'Late'),
	('720', '98754', '21101.7', '18.52', '36', '563', '65360.52', 'Self-employed', '0.45', 'Business', '9', '0', '26', 'Mortgage', 'Paid Off'),
	('721', '37906', '37408.12', '6.76', '36', '698', '28494.63', 'Unemployed', '0.43', 'Education', '7', '0', '43', 'Other', 'Late'),
	('722', '83036', '45431.95', '11.59', '60', '443', '46980.01', 'Unemployed', '0.73', 'Other', '9', '1', '43', 'Own', 'Late'),
	('723', '18819', '15486.93', '18.06', '12', '710', '118824.43', 'Self-employed', '0.76', 'Business', '1', '0', '68', 'Rent', 'Late'),
	('724', '14485', '25320.265', '22.57', '36', '823', '51260.65', 'Unemployed', '0.27', 'Home', '2', '1', '46', 'Own', 'Current'),
	('725', '98692', '21713.39', '23.07', '24', '612', '33008.77', 'Others', '0.06', 'Car', '4', '1', '23', 'Mortgage', 'Paid Off'),
	('726', '67525', '3094.21', '13.61', '12', '580', '64079.15', 'Others', '0.48', 'Business', '6', '0', '31', 'Own', 'Late'),
	('727', '54760', '311562', '11.57', '72', '686', '945384.6', 'Self-employed', '0.19', 'Home', '7', '1', '58', 'Mortgage', 'Current'),
	('728', '75323', '18821.43', '13.245', '24', '343', '53170', 'Self-employed', '0.81', 'Home', '3', '1', '61', 'Mortgage', 'Paid Off'),
	('729', '21326', '1672.58', '17.24', '72', '415', '120261.4', 'Unemployed', '0.56', 'Business', '7', '0', '43', 'Other', 'Current'),
	('730', '36956', '24141.72', '24.39', '72', '730', '148985', 'Unemployed', '0.3', 'Personal', '8', '1', '43', 'Own', 'NA'),
	('731', '57663', '5491.78', '13.46', '48', '589', '104312.34', 'Self-employed', '0.83', 'Business', '1', '1', '18', 'Other', 'Late'),
	('732', '98652', '31780.31', '14.37', '60', '583', '108808.28', 'Employed', '0.15', 'Home', '9', '0', '49', 'Other', 'Paid Off'),
	('733', '59272', '26798.32', '12.56', '72', '670', '40861.98', 'Self-employed', '0.79', 'Home', '1', '0', '52', 'Own', 'Late'),
	('734', '54760', '25517.09', '18.49', '36', '787', '127772.78', 'Self-employed', '0.33', 'Home', '4', '0', '43', 'Other', 'Current'),
	('735', '57449', '46907.08', '9.71', '72', '522', '27200.93', 'Unemployed', '0.32', 'Home', 'Unreported', '1', '29', 'Own', 'Current'),
	('736', '46444', '44140.94', '2.82', '48', '454', '138833.08', 'Employed', '0.48', 'Business', '4', '1', '40', 'Mortgage', 'Late'),
	('737', '54760', '35982.76', '14.79', '12', '381', '62495.57', 'Self-employed', '0.48', 'Car', '4', '1', '49', 'Own', 'Late'),
	('738', '85881', '29299.49', '8.47', '36', '777', '53431.4', 'Self-employed', '0.23', 'Home', '4', '1', '38', 'Rent', 'Current'),
	('739', '21477', '13366.1', '19.2', '60', '740', '85420.16', 'Unemployed', '0.94', 'Education', '5', '1', '27', 'Mortgage', 'Current'),
	('740', '54550', '1399.98', '5.95', '24', '730', '90657.91', 'Unemployed', '0.83', 'Business', '4', '0', '62', 'Mortgage', 'Paid Off'),
	('741', '95552', '6862.1', '21.44', '48', '532', '26985.26', 'Self-employed', '0.02', 'Education', '9', '1', '56', 'Own', 'Paid Off'),
	('742', '36152', '16694.42', '19.5', '12', '730', '83635.06', 'Unemployed', '0.01', 'Home', '2', '1', '60', 'Own', 'NA'),
	('743', '82862', '25320.265', '10.66', '12', '730', '125817.34', 'Unemployed', '0.53', 'Education', '8', '0', '38', 'Mortgage', 'Current'),
	('744', '17557', '28930.19', '5.96', '36', '414', '118555.53', 'Employed', '0.8', 'Education', '1', '1', '23', 'Rent', 'Paid Off'),
	('745', '87285', '27212.54', '21.67', '48', '725', '32909.7', 'Employed', '0.43', 'Home', '4', '0', '28', 'Rent', 'Current'),
	('746', '54069', '20099.78', '9.86', '12', '802', '82816.88', 'Unemployed', '0.75', 'Education', '9', '1', '33', 'Own', 'Current'),
	('747', '91521', '25320.265', '4.4', '12', '583', '133685.92', 'Self-employed', '0.14', 'Car', '1', '1', '22', 'Mortgage', 'Late'),
	('748', '22383', '36826.7', '13.69', '60', '604', '110749.39', 'Unemployed', '0.22', 'Car', 'Unreported', '1', '34', 'Own', 'Paid Off'),
	('749', '57456', '34706.26', '2.93', '60', '755', '85420.16', 'Unemployed', '0.32', 'Education', '2', '0', '57', 'Rent', 'Current'),
	('750', '45312', '25631.09', '5.7', '24', '312', '45074.64', 'Unemployed', '0.96', 'Personal', '3', '1', '27', 'Own', 'Late'),
	('751', '57312', '25320.265', '5.05', '12', '396', '85420.16', 'Self-employed', '0.06', 'Education', '6', '0', '45', 'Mortgage', 'Paid Off'),
	('752', '81968', '21973.36', '13.48', '72', '483', '106347.75', 'Unemployed', '0.48', 'Home', '8', '1', '42', 'Rent', 'Current'),
	('753', '42830', '25459.91', '9.55', '36', '311', '121432.22', 'Unemployed', '0.66', 'Personal', '2', '0', '52', 'Own', 'Current'),
	('754', '37018', '22944.53', '18.67', '12', '743', '91444.55', 'Self-employed', '0.9', 'Car', '3', '1', '45', 'Mortgage', 'Current'),
	('755', '69788', '1219.26', '4.49', '24', '390', '34142.59', 'Employed', '0.82', 'Car', '2', '0', '44', 'Own', 'Late'),
	('756', '40301', '32969.01', '9.03', '48', '730', '83140.41', 'Unemployed', '0.48', 'Personal', '3', '1', '43', 'Other', 'Current'),
	('757', '91728', '13612.25', '8.87', '36', '470', '88799.15', 'Self-employed', '0.09', 'Personal', '7', '0', '19', 'Other', 'Current'),
	('758', '77559', '3188.28', '19.19', '36', '803', '85420.16', 'Self-employed', '0.16', 'Business', '7', '0', '57', 'Own', 'Current'),
	('759', '54760', '25669.96', '22.23', '12', '564', '147265.28', 'Others', '0.27', 'Home', '1', '0', '51', 'Other', 'Paid Off'),
	('760', '28821', '46106.82', '13.245', '60', '833', '57435.88', 'Employed', '0.67', 'Home', '3', '0', '38', 'Own', 'NA'),
	('761', '45620', '2442.57', '14.92', '48', '529', '53040.79', 'Unemployed', '0.84', 'Business', '2', '1', '37', 'Own', 'Late'),
	('762', '39267', '1673.34', '20.33', '72', '841', '78157.09', 'Self-employed', '0.19', 'Education', '0', '1', '37', 'Rent', 'Current'),
	('763', '54760', '29799.66', '22.04', '60', '847', '87568.16', 'Self-employed', '0.48', 'Car', 'Unreported', '0', '26', 'Mortgage', 'Paid Off'),
	('764', '25708', '27606.33', '19.57', '48', '305', '61617.42', 'Employed', '0.58', 'Personal', '9', '0', '66', 'Own', 'Late'),
	('765', '54785', '1769.61', '7.96', '12', '417', '148630.87', 'Self-employed', '0.6', 'Education', '4', '1', '23', 'Mortgage', 'Current'),
	('766', '44790', '6050.37', '3.68', '24', '505', '35023.02', 'Unemployed', '0.92', 'Personal', '1', '0', '35', 'Own', 'Late'),
	('767', '35735', '41983.34', '6.85', '24', '842', '147577.39', 'Self-employed', '0.19', 'Other', '0', '0', '52', 'Mortgage', 'Paid Off'),
	('768', '95172', '23179.28', '16.25', '36', '750', '139160.54', 'Others', '0.48', 'Other', '6', '1', '21', 'Own', 'Late'),
	('769', '10592', '7094.98', '14.62', '72', '730', '141288.8', 'Unemployed', '0.69', 'Personal', '0', '1', '28', 'Rent', 'Late'),
	('770', '98477', '8640.1', '13.68', '24', '377', '69821.83', 'Employed', '0.48', 'Education', '3', '0', '29', 'Mortgage', 'Late'),
	('771', '92944', '30959.71', '3.68', '36', '418', '98884.96', 'Employed', '0.48', 'Education', 'Unreported', '1', '43', 'Mortgage', 'Current'),
	('772', '30183', '17104.63', '11.45', '12', '681', '95613.37', 'Unemployed', '0.15', 'Education', '8', '1', '46', 'Mortgage', 'Paid Off'),
	('773', '75354', '2259.56', '2.6', '60', '702', '85420.16', 'Self-employed', '0.91', 'Education', '0', '1', '29', 'Rent', 'Paid Off'),
	('774', '54760', '32164.91', '17.03', '60', '731', '27768.84', 'Self-employed', '0.59', 'Business', '9', '0', '61', 'Rent', 'Paid Off'),
	('775', '47437', '25320.265', '7.66', '36', '700', '85420.16', 'Others', '0.7', 'Business', '5', '0', '20', 'Rent', 'Paid Off'),
	('776', '21408', '6403.72', '18.26', '36', '343', '67736.9', 'Unemployed', '0.33', 'Car', '8', '1', '45', 'Rent', 'NA'),
	('777', '20096', '8779.64', '13.245', '36', '507', '139088.95', 'Unemployed', '0.48', 'Personal', '1', '0', '43', 'Mortgage', 'Current'),
	('778', '52441', '8020.62', '3.25', '72', '730', '85420.16', 'Self-employed', '0.18', 'Education', '6', '1', '60', 'Other', 'Late'),
	('779', '42884', '38316.58', '5.2', '48', '730', '95146.33', 'Self-employed', '0.48', 'Home', '2', '1', '29', 'Mortgage', 'Paid Off'),
	('780', '68085', '5578.83', '22.97', '36', '546', '97816.99', 'Others', '0.32', 'Home', '0', '0', '40', 'Mortgage', 'Current'),
	('781', '54760', '8283.44', '22.14', '12', '730', '23574.84', 'Unemployed', '0.37', 'Business', '7', '1', '50', 'Rent', 'Paid Off'),
	('782', '72782', '22903.76', '20.76', '60', '453', '44799.38', 'Self-employed', '0.97', 'Home', '2', '1', '64', 'Mortgage', 'Current'),
	('783', '98624', '7864.1', '15.14', '36', '609', '82645.45', 'Unemployed', '0.86', 'Home', '5', '0', '68', 'Mortgage', 'Late'),
	('784', '31649', '37599.87', '10.28', '36', '515', '97569.42', 'Employed', '0.01', 'Car', '5', '1', '24', 'Own', 'Late'),
	('785', '69253', '25320.265', '24.05', '60', '647', '31407.73', 'Employed', '0.48', 'Home', '3', '0', '62', 'Rent', 'Late'),
	('786', '46361', '44102.53', '22.92', '12', '401', '60214.16', 'Others', '0.48', 'Personal', '3', '0', '42', 'Rent', 'NA'),
	('787', '55548', '25320.265', '2.39', '48', '456', '90393.31', 'Unemployed', '0.08', 'Business', '0', '1', '55', 'Rent', 'Paid Off'),
	('788', '64462', '42904.72', '4.78', '60', '790', '108240.25', 'Self-employed', '0.29', 'Car', '1', '0', '24', 'Rent', 'Current'),
	('789', '36703', '8536.74', '14.49', '36', '607', '85420.16', 'Self-employed', '0.97', 'Business', '4', '0', '39', 'Mortgage', 'Current'),
	('790', '66526', '46356.1', '17.88', '36', '532', '118836.3', 'Self-employed', '0.34', 'Other', '7', '0', '62', 'Mortgage', 'Paid Off'),
	('791', '34993', '25320.265', '13.245', '60', '765', '121672.58', 'Unemployed', '0.57', 'Personal', '6', '0', '69', 'Own', 'Paid Off'),
	('792', '69268', '26028.37', '6.19', '60', '810', '56459.76', 'Unemployed', '0.71', 'Education', '9', '0', '62', 'Own', 'Current'),
	('793', '37536', '2161.01', '11.67', '36', '638', '61957.87', 'Unemployed', '0.7', 'Education', '7', '1', '48', 'Own', 'Paid Off'),
	('794', '45044', '36727.81', '6.72', '24', '784', '101725.35', 'Self-employed', '0.48', 'Business', '8', '1', '34', 'Rent', 'Current'),
	('795', '77399', '11474.79', '13.245', '60', '637', '42564.79', 'Unemployed', '0.48', 'Home', '3', '1', '60', 'Mortgage', 'Paid Off'),
	('796', '66638', '45914.22', '14.47', '36', '383', '138158.44', 'Self-employed', '0.46', 'Business', '5', '1', '37', 'Own', 'Late'),
	('797', '75371', '33427.57', '11.4', '72', '693', '114211.49', 'Self-employed', '0.42', 'Home', '5', '0', '38', 'Own', 'Late'),
	('798', '83735', '14897.34', '5.26', '48', '495', '27525.92', 'Self-employed', '0.37', 'Business', 'Unreported', '0', '37', 'Own', 'NA'),
	('799', '49421', '13784.52', '13.83', '60', '802', '117614.6', 'Employed', '0.6', 'Car', '9', '0', '58', 'Mortgage', 'Current'),
	('800', '51750', '25320.265', '15.03', '60', '730', '87964.11', 'Others', '0.2', 'Business', '1', '0', '60', 'Own', 'Paid Off'),
	('801', '44658', '40291.65', '17.02', '48', '380', '142087.65', 'Employed', '0.27', 'Education', '0', '0', '27', 'Rent', 'Paid Off'),
	('802', '69126', '22485.36', '18.23', '48', '660', '85575.61', 'Self-employed', '0.26', 'Car', '0', '1', '40', 'Other', 'Current'),
	('803', '68523', '14570.33', '2.96', '36', '535', '94892.58', 'Employed', '0.57', 'Home', '6', '0', '19', 'Rent', 'Late'),
	('804', '25919', '47688.16', '10.69', '12', '400', '129103.23', 'Self-employed', '0.23', 'Business', '9', '0', '37', 'Rent', 'Late'),
	('805', '63743', '40309.8', '10.56', '36', '730', '139551.65', 'Self-employed', '0.26', 'Education', '0', '1', '35', 'Other', 'Current'),
	('806', '54760', '29728.85', '5.92', '72', '325', '135880.7', 'Others', '0.46', 'Home', '0', '1', '30', 'Mortgage', 'Paid Off'),
	('807', '24859', '40319.98', '9.41', '36', '344', '93380.89', 'Unemployed', '0.43', 'Home', '9', '1', '43', 'Mortgage', 'Current'),
	('808', '65255', '6886.21', '3.02', '24', '525', '101462.86', 'Self-employed', '0.39', 'Personal', '3', '1', '42', 'Rent', 'Late'),
	('809', '54760', '33936.03', '13.245', '48', '368', '20169.59', 'Employed', '0.08', 'Business', '3', '0', '25', 'Rent', 'Late'),
	('810', '35374', '16883.43', '13.82', '24', '653', '94346.22', 'Self-employed', '0.32', 'Business', '1', '0', '44', 'Own', 'Current'),
	('811', '77674', '34687.94', '13.245', '36', '314', '44090.09', 'Others', '0.87', 'Business', '2', '0', '23', 'Mortgage', 'Late'),
	('812', '41010', '48121.2', '5.27', '12', '516', '95579.96', 'Self-employed', '0.38', 'Personal', '4', '1', '68', 'Rent', 'Paid Off'),
	('813', '33203', '39237.62', '4.43', '12', '435', '85420.16', 'Employed', '0.89', 'Home', '8', '1', '18', 'Own', 'Late'),
	('814', '49789', '28712.38', '19.46', '36', '730', '64957.16', 'Others', '0.07', 'Personal', '5', '0', '64', 'Mortgage', 'Paid Off'),
	('815', '22912', '37531.13', '19.22', '60', '542', '114598.53', 'Self-employed', '0.92', 'Car', '5', '0', '35', 'Rent', 'Late'),
	('816', '54760', '23948.25', '8.83', '36', '380', '85420.16', 'Self-employed', '0.47', 'Personal', 'Unreported', '1', '61', 'Other', 'Current'),
	('817', '39764', '14717.31', '17.64', '48', '668', '109121.86', 'Self-employed', '0.77', 'Business', '3', '1', '69', 'Rent', 'Late'),
	('818', '84165', '2991.07', '23.65', '12', '562', '128978.95', 'Self-employed', '0.48', 'Education', '2', '1', '59', 'Other', 'Paid Off'),
	('819', '54760', '34182.95', '21.3', '60', '409', '113034.44', 'Self-employed', '0.01', 'Car', '9', '1', '59', 'Other', 'Late'),
	('820', '65397', '7986.98', '8.79', '60', '802', '56659.63', 'Employed', '0.92', 'Personal', '6', '1', '53', 'Own', 'Late'),
	('821', '39459', '23508.05', '5.06', '24', '437', '131004.06', 'Unemployed', '0.96', 'Education', '1', '1', '65', 'Mortgage', 'Paid Off'),
	('822', '54296', '33670.97', '3.18', '36', '565', '147223.73', 'Others', '0.67', 'Education', '1', '1', '43', 'Mortgage', 'Current'),
	('823', '17008', '44673.41', '13.59', '36', '537', '138445.82', 'Employed', '0.1', 'Education', 'Unreported', '0', '53', 'Own', 'Paid Off'),
	('824', '28129', '30858.82', '12.52', '72', '698', '97583.07', 'Others', '0.61', 'Home', 'Unreported', '1', '33', 'Rent', 'Late'),
	('825', '39893', '11668.51', '19.28', '48', '540', '134846.75', 'Employed', '0.8', 'Car', 'Unreported', '0', '67', 'Rent', 'Current'),
	('826', '37004', '25320.265', '13.245', '60', '730', '40508.28', 'Employed', '0.48', 'Education', '6', '0', '18', 'Mortgage', 'Late'),
	('827', '83828', '33713.38', '3.61', '12', '310', '45540.92', 'Unemployed', '0.82', 'Business', '9', '0', '47', 'Rent', 'Paid Off'),
	('828', '76945', '10570.56', '24.34', '60', '753', '85420.16', 'Others', '0.53', 'Education', '6', '0', '44', 'Mortgage', 'Paid Off'),
	('829', '97197', '36876.42', '7.93', '48', '708', '120319.05', 'Employed', '0.48', 'Education', '6', '1', '48', 'Own', 'Paid Off'),
	('830', '80533', '38427.39', '10.6', '48', '770', '51329.77', 'Unemployed', '0.18', 'Education', '4', '0', '43', 'Own', 'NA'),
	('831', '34528', '26603.94', '15.25', '24', '582', '113643.24', 'Employed', '0.54', 'Car', '6', '0', '29', 'Mortgage', 'NA'),
	('832', '63478', '43081.26', '2.88', '12', '414', '128796.83', 'Employed', '0.02', 'Education', 'Unreported', '1', '40', 'Own', 'Late'),
	('833', '55560', '12012.25', '13.245', '60', '748', '85420.16', 'Employed', '0.8', 'Personal', '2', '0', '58', 'Other', 'Current'),
	('834', '81592', '25320.265', '13.245', '60', '486', '91406.16', 'Employed', '0.48', 'Business', '5', '1', '56', 'Other', 'Late'),
	('835', '78246', '44814.05', '13.245', '12', '591', '128936.01', 'Employed', '0.48', 'Car', '5', '1', '43', 'Mortgage', 'Late'),
	('836', '95022', '35503.42', '7.67', '36', '351', '29803.85', 'Others', '0.43', 'Home', '0', '1', '37', 'Rent', 'Late'),
	('837', '24591', '40536.84', '11.51', '60', '365', '97176.13', 'Employed', '0.18', 'Car', 'Unreported', '1', '38', 'Rent', 'Paid Off'),
	('838', '33059', '11882.56', '7.16', '48', '435', '45248.61', 'Self-employed', '0.16', 'Education', '5', '0', '24', 'Own', 'Current'),
	('839', '52756', '29066.25', '13.245', '72', '638', '85420.16', 'Employed', '0.29', 'Car', '7', '0', '19', 'Mortgage', 'Late'),
	('840', '82554', '16878.09', '13.245', '60', '668', '134191.68', 'Employed', '0.48', 'Home', 'Unreported', '1', '28', 'Rent', 'Current'),
	('841', '94554', '25320.265', '7.5', '72', '316', '98742.39', 'Self-employed', '0.75', 'Other', '4', '1', '41', 'Own', 'Current'),
	('842', '42891', '26607.87', '21.41', '72', '353', '67116.76', 'Unemployed', '0.52', 'Personal', '5', '1', '54', 'Rent', 'Current'),
	('843', '41958', '31648.95', '13.245', '60', '730', '85420.16', 'Employed', '0.34', 'Personal', '5', '0', '67', 'Mortgage', 'Late'),
	('844', '49228', '31265.83', '12.85', '48', '730', '56402.42', 'Others', '0.24', 'Home', '8', '0', '48', 'Rent', 'Late'),
	('845', '70133', '37085.36', '8.58', '48', '817', '126245.36', 'Self-employed', '0', 'Education', '5', '1', '64', 'Rent', 'Late'),
	('846', '28013', '40145.23', '22.06', '72', '649', '46052.69', 'Others', '0.4', 'Business', '7', '0', '68', 'Rent', 'Late'),
	('847', '39353', '4032.01', '11.65', '12', '442', '85420.16', 'Unemployed', '0.56', 'Personal', '3', '0', '18', 'Own', 'Late'),
	('848', '81208', '47470.47', '12.7', '72', '445', '109451.77', 'Self-employed', '0.76', 'Car', '4', '0', '50', 'Other', 'Late'),
	('849', '69580', '20915.8', '6.42', '24', '394', '113146.69', 'Others', '0.3', 'Home', '6', '1', '31', 'Own', 'Current'),
	('850', '19425', '9334.75', '21.18', '72', '315', '58610.19', 'Unemployed', '0.65', 'Business', '9', '1', '64', 'Mortgage', 'Paid Off'),
	('851', '39363', '46177.03', '14.65', '36', '730', '50813.85', 'Unemployed', '0.1', 'Education', '9', '1', '43', 'Rent', 'Late'),
	('852', '44088', '39415.58', '17.11', '48', '475', '140563.15', 'Employed', '0.64', 'Education', '1', '0', '43', 'Own', 'Late'),
	('853', '19694', '21597.34', '11.63', '36', '681', '27078.77', 'Unemployed', '0.08', 'Home', '7', '1', '55', 'Own', 'Late'),
	('854', '50542', '25320.265', '2.45', '60', '730', '96915.13', 'Employed', '0.67', 'Home', '4', '1', '43', 'Rent', 'NA'),
	('855', '54709', '12083.67', '13.245', '24', '349', '124390', 'Self-employed', '0.74', 'Business', '8', '1', '29', 'Own', 'Late'),
	('856', '63630', '21243.39', '2.48', '72', '764', '144448.46', 'Self-employed', '0.08', 'Home', '3', '0', '67', 'Rent', 'NA'),
	('857', '17011', '20646.06', '13.245', '36', '836', '116500.89', 'Self-employed', '0.92', 'Car', '6', '1', '61', 'Mortgage', 'Late'),
	('858', '66487', '37947.98', '24.66', '60', '543', '125247.54', 'Others', '0.48', 'Business', '5', '1', '38', 'Mortgage', 'Paid Off'),
	('859', '50605', '25320.265', '4.18', '36', '744', '85420.16', 'Unemployed', '0.36', 'Business', '1', '0', '39', 'Own', 'Current'),
	('860', '67852', '37988.69', '12.37', '12', '752', '77742.43', 'Self-employed', '0.48', 'Business', '6', '0', '64', 'Mortgage', 'Current'),
	('861', '29521', '25320.265', '21.29', '60', '448', '28671.94', 'Employed', '0.33', 'Education', '3', '0', '43', 'Rent', 'Current'),
	('862', '26151', '19895.37', '11.7', '24', '609', '85420.16', 'Others', '0.69', 'Other', '3', '1', '26', 'Mortgage', 'Paid Off'),
	('863', '44176', '22563.1', '7.72', '36', '741', '149409.2', 'Self-employed', '0.55', 'Home', '5', '1', '49', 'Own', 'Current'),
	('864', '31871', '25320.265', '11.52', '24', '369', '44412.84', 'Employed', '0.89', 'Other', '4', '1', '49', 'Mortgage', 'Paid Off'),
	('865', '54760', '1172.02', '20.95', '36', '428', '51659.83', 'Employed', '0.28', 'Car', '0', '1', '64', 'Rent', 'NA'),
	('866', '63977', '10557.7', '3.03', '72', '401', '72465.96', 'Employed', '0.58', 'Home', '3', '1', '23', 'Rent', 'NA'),
	('867', '89193', '42509.72', '13.245', '24', '474', '133567.29', 'Employed', '0.76', 'Education', '2', '1', '58', 'Own', 'Paid Off'),
	('868', '57320', '38286.07', '6.45', '60', '387', '85420.16', 'Employed', '0.12', 'Education', '9', '1', '65', 'Mortgage', 'Paid Off'),
	('869', '60679', '25320.265', '3.39', '60', '730', '96901.64', 'Self-employed', '0.39', 'Education', '4', '1', '43', 'Rent', 'Late'),
	('870', '69855', '32109.99', '20.07', '12', '328', '85113.97', 'Employed', '0.56', 'Education', '8', '1', '48', 'Rent', 'Paid Off'),
	('871', '93241', '2016.03', '2.33', '36', '692', '109442.14', 'Self-employed', '0.09', 'Business', '2', '1', '43', 'Rent', 'NA'),
	('872', '54760', '27175.98', '11.54', '36', '657', '42204.81', 'Employed', '0.05', 'Business', '1', '1', '42', 'Own', 'Paid Off'),
	('873', '46720', '8912.6', '13.245', '48', '730', '96313.37', 'Unemployed', '0.27', 'Car', '0', '0', '41', 'Rent', 'Paid Off'),
	('874', '93054', '42819.17', '5.98', '36', '737', '85065.84', 'Unemployed', '0.95', 'Car', '3', '0', '34', 'Own', 'Late'),
	('875', '62677', '31125.95', '22.69', '48', '640', '95042.8', 'Unemployed', '0.64', 'Car', '7', '0', '37', 'Rent', 'Current'),
	('876', '12963', '4135.13', '11.4', '12', '621', '124738.12', 'Self-employed', '0.13', 'Car', '4', '0', '59', 'Own', 'Late'),
	('877', '98815', '32421.44', '6.19', '36', '544', '104587.17', 'Unemployed', '0.48', 'Business', '7', '1', '29', 'Own', 'Paid Off'),
	('878', '56870', '44717.71', '13.245', '24', '315', '139037.84', 'Self-employed', '0.13', 'Personal', '4', '0', '43', 'Other', 'Late'),
	('879', '70781', '36951.61', '16.71', '24', '542', '98220.67', 'Employed', '0.84', 'Home', '5', '0', '49', 'Own', 'Late'),
	('880', '50843', '6644.91', '10.94', '24', '616', '53939.21', 'Employed', '0.35', 'Education', '5', '1', '65', 'Own', 'Paid Off'),
	('881', '25265', '33589.57', '2.72', '36', '482', '71405.51', 'Employed', '0.37', 'Personal', '0', '1', '29', 'Mortgage', 'Late'),
	('882', '34455', '30924.43', '17.22', '72', '764', '67421.13', 'Unemployed', '0.26', 'Business', '9', '1', '55', 'Other', 'Paid Off'),
	('883', '36743', '31936.24', '7.47', '24', '507', '85420.16', 'Employed', '0.83', 'Home', '0', '0', '64', 'Rent', 'Current'),
	('884', '79914', '39962.94', '5.45', '36', '725', '106423', 'Employed', '0.84', 'Home', '5', '0', '65', 'Own', 'Current'),
	('885', '35136', '15916.54', '13.245', '24', '730', '55622.02', 'Employed', '0.16', 'Personal', '6', '1', '18', 'Rent', 'Paid Off'),
	('886', '86999', '18417.96', '13.6', '60', '442', '85420.16', 'Employed', '0.17', 'Business', '5', '1', '26', 'Other', 'Current'),
	('887', '55295', '10888.99', '12.3', '60', '576', '85420.16', 'Unemployed', '0.64', 'Home', 'Unreported', '0', '37', 'Mortgage', 'Late'),
	('888', '94662', '23401.63', '13.245', '36', '456', '133544.69', 'Employed', '0.44', 'Home', '3', '1', '21', 'Rent', 'Current'),
	('889', '79988', '21082.32', '13.245', '60', '652', '72822.87', 'Employed', '0.66', 'Other', 'Unreported', '1', '18', 'Rent', 'Current'),
	('890', '82279', '25320.265', '16.07', '48', '461', '143789.71', 'Others', '0.77', 'Car', '7', '1', '54', 'Rent', 'Current'),
	('891', '81166', '12887.72', '11.34', '72', '714', '135321.76', 'Self-employed', '0.01', 'Business', '6', '1', '43', 'Mortgage', 'Current'),
	('892', '61714', '6876.45', '22.41', '60', '647', '96647.31', 'Others', '0.52', 'Car', '9', '0', '62', 'Own', 'Paid Off'),
	('893', '54296', '28170.91', '15.01', '36', '323', '33458.05', 'Others', '0.58', 'Personal', '9', '0', '27', 'Mortgage', 'Paid Off'),
	('894', '36885', '10176.06', '22.76', '60', '554', '113616.53', 'Self-employed', '0.33', 'Home', '7', '0', '36', 'Mortgage', 'Paid Off'),
	('895', '82614', '16954.51', '22.67', '60', '753', '113106.56', 'Self-employed', '0.48', 'Home', '9', '1', '60', 'Own', 'Late'),
	('896', '18804', '41035.61', '19.45', '36', '417', '102785.04', 'Self-employed', '0.48', 'Education', '2', '1', '54', 'Mortgage', 'Late'),
	('897', '96465', '29020.61', '14.61', '12', '303', '53816.51', 'Employed', '0.5', 'Business', '4', '1', '61', 'Other', 'Late'),
	('898', '30132', '26459.58', '17.05', '36', '338', '106162.27', 'Employed', '0.88', 'Personal', '3', '1', '22', 'Mortgage', 'Current'),
	('899', '60053', '25320.265', '7.11', '60', '414', '44180.92', 'Self-employed', '0.93', 'Car', '3', '1', '54', 'Mortgage', 'Late'),
	('900', '54707', '22430.22', '23.14', '72', '730', '115499.19', 'Self-employed', '0.71', 'Business', '7', '1', '43', 'Own', 'Current'),
	('901', '32616', '44298.41', '21.77', '12', '378', '96171.22', 'Others', '0.26', 'Personal', '4', '1', '48', 'Rent', 'Current'),
	('902', '91841', '29314.85', '20.1', '72', '558', '20550.3', 'Self-employed', '0.43', 'Car', '3', '1', '24', 'Mortgage', 'Current'),
	('903', '48607', '20861.44', '2.59', '36', '399', '90969.54', 'Self-employed', '0.83', 'Education', 'Unreported', '1', '33', 'Other', 'Current'),
	('904', '32898', '17957.53', '6.47', '36', '537', '56448.89', 'Employed', '0.8', 'Car', '7', '0', '56', 'Mortgage', 'Late'),
	('905', '19481', '45265.52', '23.08', '48', '312', '91241.64', 'Self-employed', '0.93', 'Business', '8', '1', '35', 'Mortgage', 'Paid Off'),
	('906', '50068', '25320.265', '20.61', '36', '730', '100554.78', 'Unemployed', '0.53', 'Personal', '4', '1', '18', 'Rent', 'Late'),
	('907', '74433', '13333.96', '21.46', '60', '730', '102519.34', 'Employed', '0.52', 'Education', '6', '1', '25', 'Mortgage', 'Current'),
	('908', '95016', '25320.265', '11.31', '12', '655', '85420.16', 'Self-employed', '0.68', 'Business', '6', '1', '33', 'Own', 'Paid Off'),
	('909', '54760', '25320.265', '7.9', '12', '335', '49884.64', 'Unemployed', '0.47', 'Business', 'Unreported', '0', '44', 'Mortgage', 'Paid Off'),
	('910', '63123', '12792.78', '22.49', '72', '472', '123583.64', 'Others', '0.93', 'Education', '4', '1', '45', 'Other', 'Paid Off'),
	('911', '30045', '7327.93', '10.58', '72', '649', '30908.08', 'Unemployed', '0.49', 'Car', '2', '1', '67', 'Own', 'Current'),
	('912', '11291', '34776.15', '13.245', '36', '344', '85420.16', 'Employed', '0.09', 'Home', '1', '1', '55', 'Mortgage', 'Paid Off'),
	('913', '67741', '39271.14', '8.92', '36', '730', '115246.39', 'Self-employed', '0.48', 'Car', '7', '0', '41', 'Other', 'Late'),
	('914', '45300', '16856.99', '22.3', '12', '687', '85420.16', 'Unemployed', '0.39', 'Home', 'Unreported', '0', '53', 'Rent', 'Current'),
	('915', '44897', '21055.54', '6.07', '48', '347', '82665.92', 'Unemployed', '0.27', 'Education', '5', '1', '35', 'Own', 'NA'),
	('916', '54760', '39860.34', '21.16', '12', '321', '46696.33', 'Self-employed', '0.64', 'Car', 'Unreported', '1', '57', 'Rent', 'Current'),
	('917', '22230', '1798.86', '12.98', '36', '782', '40524.67', 'Self-employed', '0.52', 'Car', 'Unreported', '0', '55', 'Own', 'NA'),
	('918', '60863', '17308.72', '8.01', '48', '457', '84619.84', 'Unemployed', '0.99', 'Home', '7', '1', '31', 'Own', 'Current'),
	('919', '40306', '25320.265', '15.44', '24', '551', '52333.53', 'Self-employed', '0.38', 'Other', '0', '0', '49', 'Rent', 'Paid Off'),
	('920', '54760', '27629.13', '8.42', '60', '485', '142121.32', 'Self-employed', '0.56', 'Education', '6', '1', '54', 'Rent', 'Current'),
	('921', '22180', '44848.59', '13.84', '12', '730', '63881.46', 'Unemployed', '0.3', 'Business', '3', '0', '64', 'Own', 'Late'),
	('922', '54760', '2985.32', '16.11', '48', '329', '36397.68', 'Employed', '0.11', 'Car', '7', '0', '60', 'Rent', 'Current'),
	('923', '54760', '42295.8', '15.41', '60', '446', '54797.19', 'Employed', '0.96', 'Home', '4', '0', '46', 'Own', 'Current'),
	('924', '54760', '28299.26', '13.245', '12', '730', '48804.14', 'Unemployed', '0.28', 'Home', '4', '0', '64', 'Own', 'Current'),
	('925', '30441', '29795.68', '16.23', '60', '472', '121671.29', 'Self-employed', '0.82', 'Other', '9', '0', '20', 'Other', 'NA'),
	('926', '49381', '47891.32', '7.07', '36', '620', '47484.19', 'Unemployed', '0.62', 'Car', '4', '0', '43', 'Own', 'Paid Off'),
	('927', '91508', '7285.87', '8.78', '60', '742', '43581.49', 'Others', '0.22', 'Home', '2', '0', '50', 'Rent', 'Late'),
	('928', '14207', '14555.53', '11.25', '36', '717', '87904.48', 'Unemployed', '0.76', 'Personal', 'Unreported', '0', '56', 'Own', 'Late'),
	('929', '81777', '12272.54', '13.245', '36', '730', '83237.33', 'Employed', '0.43', 'Home', 'Unreported', '0', '50', 'Mortgage', 'Late'),
	('930', '28670', '23973.16', '22.8', '36', '570', '59216.95', 'Self-employed', '0.15', 'Other', '4', '1', '43', 'Mortgage', 'Late'),
	('931', '54760', '29411.66', '2.56', '24', '547', '39487.25', 'Unemployed', '0.48', 'Education', '5', '0', '53', 'Other', 'Late'),
	('932', '54760', '36665.29', '24.85', '12', '730', '135490.1', 'Employed', '0.52', 'Business', '6', '0', '58', 'Mortgage', 'Current'),
	('933', '49905', '3598.92', '13.245', '72', '730', '65099.41', 'Employed', '0.91', 'Home', '1', '1', '29', 'Rent', 'Current'),
	('934', '56617', '25320.265', '5.03', '72', '427', '85420.16', 'Unemployed', '0.04', 'Education', '3', '0', '37', 'Own', 'Late'),
	('935', '81007', '46289.44', '15.01', '60', '529', '47719.86', 'Employed', '0.45', 'Home', '3', '1', '65', 'Rent', 'Late'),
	('936', '54760', '23667.05', '12.55', '12', '517', '85420.16', 'Self-employed', '0.2', 'Education', 'Unreported', '1', '23', 'Own', 'Current'),
	('937', '22120', '25320.265', '3.13', '36', '347', '82900.29', 'Employed', '0.67', 'Home', '6', '1', '37', 'Own', 'Late'),
	('938', '54760', '6487.01', '15.29', '12', '845', '85420.16', 'Self-employed', '0.95', 'Education', '7', '0', '51', 'Other', 'Paid Off'),
	('939', '78134', '15194.4', '23.43', '36', '812', '69006.1', 'Unemployed', '0.47', 'Personal', '4', '1', '32', 'Own', 'NA'),
	('940', '46915', '37034.45', '12.87', '12', '561', '85420.16', 'Self-employed', '0', 'Business', '2', '1', '33', 'Own', 'Late'),
	('941', '64019', '31446.36', '7.27', '48', '471', '112129.2', 'Employed', '0.48', 'Home', '6', '0', '60', 'Other', 'Late'),
	('942', '55486', '25320.265', '17.43', '36', '730', '23327.83', 'Self-employed', '0.54', 'Car', '2', '1', '31', 'Rent', 'Late'),
	('943', '54760', '33776.79', '8.16', '12', '795', '85420.16', 'Self-employed', '0.81', 'Personal', '9', '1', '39', 'Own', 'Paid Off'),
	('944', '64685', '38777.45', '23.05', '36', '558', '68003.43', 'Others', '0.24', 'Home', 'Unreported', '0', '36', 'Mortgage', 'Paid Off'),
	('945', '39442', '25320.265', '12.97', '24', '319', '52589.27', 'Unemployed', '0.83', 'Business', '2', '0', '68', 'Mortgage', 'Paid Off'),
	('946', '76181', '22577.4', '20.04', '48', '440', '135863.27', 'Unemployed', '0.4', 'Home', '3', '1', '41', 'Rent', 'Paid Off'),
	('947', '14039', '32487.88', '3.13', '24', '587', '135599.58', 'Unemployed', '0.89', 'Personal', '2', '1', '21', 'Mortgage', 'Paid Off'),
	('948', '98910', '19691.55', '18.85', '48', '778', '148557.43', 'Employed', '0.79', 'Car', '3', '0', '42', 'Rent', 'Paid Off'),
	('949', '19635', '46425.44', '5.4', '12', '787', '67193.09', 'Self-employed', '0.29', 'Education', 'Unreported', '1', '22', 'Own', 'Late'),
	('950', '32708', '25320.265', '7.01', '72', '733', '126862.85', 'Self-employed', '0.93', 'Personal', '4', '1', '60', 'Mortgage', 'Late'),
	('951', '31863', '25320.265', '21.81', '60', '414', '104965.33', 'Employed', '0.06', 'Business', '8', '1', '51', 'Rent', 'Paid Off'),
	('952', '98327', '47034.09', '4.85', '72', '312', '72863.78', 'Unemployed', '0.48', 'Personal', 'Unreported', '0', '47', 'Mortgage', 'Paid Off'),
	('953', '53699', '1096.1', '13.245', '36', '455', '22608.44', 'Unemployed', '0.48', 'Education', 'Unreported', '1', '38', 'Own', 'Current'),
	('954', '87158', '17266.58', '10.51', '36', '386', '62536.09', 'Others', '0.02', 'Education', '7', '0', '25', 'Own', 'Paid Off'),
	('955', '76297', '42072.07', '22.93', '72', '730', '73956.62', 'Employed', '0.76', 'Business', '5', '0', '24', 'Rent', 'Late'),
	('956', '54760', '23120.97', '5.29', '36', '415', '28175.21', 'Unemployed', '0.7', 'Car', '1', '0', '52', 'Own', 'NA'),
	('957', '30381', '18070.93', '16.19', '36', '441', '34838.11', 'Employed', '0.26', 'Business', '6', '0', '43', 'Own', 'NA'),
	('958', '43393', '29803', '6.67', '60', '361', '39875.96', 'Self-employed', '0.39', 'Education', '2', '0', '44', 'Mortgage', 'NA'),
	('959', '69843', '20829.12', '8.64', '48', '514', '20204.29', 'Unemployed', '0.71', 'Car', '6', '1', '46', 'Own', 'Paid Off'),
	('960', '87690', '17145.68', '12.24', '60', '535', '66930.63', 'Self-employed', '0.27', 'Business', '7', '0', '43', 'Own', 'Current'),
	('961', '46151', '25320.265', '13.245', '36', '768', '91816.35', 'Unemployed', '0.32', 'Car', '2', '0', '40', 'Mortgage', 'Late'),
	('962', '75112', '16339.23', '6.03', '24', '543', '100037.31', 'Unemployed', '0.09', 'Personal', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('963', '12555', '25320.265', '15.7', '48', '715', '56173.62', 'Others', '0.48', 'Personal', '9', '0', '62', 'Rent', 'Current'),
	('964', '91148', '48023.97', '15.97', '36', '481', '125471.11', 'Unemployed', '0.04', 'Personal', 'Unreported', '0', '22', 'Mortgage', 'Late'),
	('965', '63752', '25320.265', '11.4', '48', '730', '85420.16', 'Others', '0.46', 'Car', '8', '0', '57', 'Mortgage', 'Current'),
	('966', '70533', '37035.28', '6.62', '60', '531', '85420.16', 'Others', '0.48', 'Business', '3', '1', '43', 'Mortgage', 'Current'),
	('967', '24707', '33230.37', '9.68', '36', '743', '105796.09', 'Self-employed', '0.75', 'Personal', '7', '1', '52', 'Mortgage', 'Late'),
	('968', '42214', '31917.46', '13.245', '24', '530', '57862.73', 'Employed', '0.43', 'Other', 'Unreported', '0', '51', 'Rent', 'Late'),
	('969', '80841', '2609.32', '19.13', '60', '392', '36037.94', 'Self-employed', '0.8', 'Home', 'Unreported', '0', '66', 'Rent', 'Paid Off'),
	('970', '23195', '14399.24', '2.34', '36', '614', '40886.96', 'Employed', '0.27', 'Car', '4', '1', '43', 'Own', 'Paid Off'),
	('971', '83298', '37559.04', '9.63', '72', '584', '27006.04', 'Self-employed', '0.15', 'Personal', 'Unreported', '1', '48', 'Mortgage', 'Current'),
	('972', '71401', '25294.53', '23.26', '24', '661', '58616.11', 'Employed', '0.48', 'Car', '1', '0', '66', 'Own', 'Paid Off'),
	('973', '46076', '2170.53', '6.31', '48', '573', '24561.9', 'Employed', '0.67', 'Car', '9', '0', '38', 'Rent', 'Late'),
	('974', '44183', '26799.26', '14.04', '72', '636', '85420.16', 'Unemployed', '0.79', 'Business', '6', '1', '21', 'Own', 'Current'),
	('975', '60973', '42542.44', '5.43', '48', '518', '78637.97', 'Self-employed', '0.16', 'Business', '9', '1', '43', 'Own', 'Paid Off'),
	('976', '86745', '44042.59', '23.84', '24', '754', '32571.96', 'Self-employed', '0.48', 'Personal', '2', '0', '65', 'Rent', 'Current'),
	('977', '17228', '25320.265', '20.87', '72', '730', '28830.17', 'Self-employed', '0.48', 'Business', '4', '1', '35', 'Own', 'Late'),
	('978', '70027', '26839.29', '9.19', '24', '564', '124432.07', 'Unemployed', '0.26', 'Personal', '0', '1', '63', 'Own', 'Paid Off'),
	('979', '67447', '23881.41', '19.29', '60', '771', '66017.36', 'Employed', '0.41', 'Business', '3', '0', '46', 'Rent', 'Current'),
	('980', '56783', '12972.89', '15.05', '36', '582', '135513.53', 'Unemployed', '0.38', 'Car', '6', '1', '38', 'Own', 'Current'),
	('981', '98193', '43437.8', '7.1', '24', '391', '22969.73', 'Employed', '0.23', 'Car', '3', '0', '36', 'Rent', 'NA'),
	('982', '24226', '40193', '5.09', '36', '462', '64496.17', 'Self-employed', '0.24', 'Education', '2', '1', '35', 'Mortgage', 'Current'),
	('983', '87493', '43315.17', '7.73', '24', '587', '73502.16', 'Employed', '0.48', 'Home', '6', '1', '52', 'Mortgage', 'Paid Off'),
	('984', '23596', '12071.3', '16.47', '12', '490', '140242.45', 'Employed', '0.39', 'Education', '5', '0', '67', 'Own', 'Paid Off'),
	('985', '92368', '5797.24', '23.96', '24', '650', '24840.97', 'Employed', '0.25', 'Other', '7', '1', '69', 'Own', 'Late'),
	('986', '87528', '35223.81', '19.87', '36', '725', '85420.16', 'Unemployed', '0.48', 'Education', '4', '1', '50', 'Mortgage', 'Late'),
	('987', '40281', '45744.41', '22.78', '36', '523', '99836.09', 'Others', '0.94', 'Education', 'Unreported', '1', '18', 'Rent', 'Current'),
	('988', '58008', '45912.26', '6.46', '48', '642', '85420.16', 'Unemployed', '0.05', 'Home', '8', '1', '53', 'Other', 'NA'),
	('989', '34530', '26902.94', '23.04', '48', '311', '30110.17', 'Unemployed', '0.75', 'Car', '1', '0', '43', 'Rent', 'Late'),
	('990', '13467', '32463.16', '3.95', '36', '656', '85420.16', 'Employed', '0.25', 'Car', '0', '0', '60', 'Mortgage', 'Late'),
	('991', '20716', '6491.98', '23.72', '24', '383', '55171.99', 'Employed', '0.81', 'Car', '8', '0', '36', 'Own', 'Late'),
	('992', '32901', '14489.1', '5.25', '60', '730', '85420.16', 'Others', '0.49', 'Business', '2', '1', '68', 'Other', 'Paid Off'),
	('993', '70241', '27349.8', '10.32', '36', '359', '87054.27', 'Unemployed', '0.25', 'Business', '0', '0', '64', 'Mortgage', 'Current'),
	('994', '39111', '25320.265', '9.95', '36', '811', '39286.06', 'Employed', '0.05', 'Car', '4', '1', '43', 'Own', 'Paid Off'),
	('995', '54760', '24722.85', '9.59', '36', '639', '57015.96', 'Self-employed', '0.9', 'Home', '8', '1', '41', 'Rent', 'Late'),
	('996', '54760', '30042.7', '18.94', '36', '305', '52689.64', 'Unemployed', '0.56', 'Other', '0', '1', '21', 'Mortgage', 'Late'),
	('997', '72570', '3721.29', '21.31', '72', '471', '88161.71', 'Employed', '0.15', 'Personal', '6', '0', '24', 'Own', 'Paid Off'),
	('998', '69864', '48268.05', '15.12', '72', '326', '120632.7', 'Self-employed', '0.66', 'Personal', '7', '1', '43', 'Rent', 'Paid Off'),
	('999', '87525', '25128.93', '14.56', '60', '670', '95657.57', 'Unemployed', '0.14', 'Business', '0', '1', '19', 'Rent', 'Late'),
	('1000', '11614', '8853.25', '8.01', '36', '345', '90174.03', 'Unemployed', '0.48', 'Car', '6', '0', '66', 'Mortgage', 'Late'),
	('1001', '45695', '17609.58', '22.78', '36', '486', '144367.93', 'Unemployed', '0.2', 'Home', '8', '1', '38', 'Mortgage', 'NA'),
	('1002', '47708', '26152.06', '14.99', '60', '539', '76202.27', 'Self-employed', '0.35', 'Education', '4', '1', '30', 'Mortgage', 'Late'),
	('1003', '76827', '7787.2', '11.46', '24', '761', '137892.18', 'Self-employed', '0.86', 'Home', '5', '0', '62', 'Mortgage', 'Paid Off'),
	('1004', '93303', '10635.69', '14.87', '48', '730', '49899.34', 'Self-employed', '0.6', 'Car', 'Unreported', '0', '61', 'Rent', 'Current'),
	('1005', '68202', '45878.95', '13.245', '36', '782', '40267.51', 'Unemployed', '0.92', 'Home', '0', '0', '44', 'Rent', 'Paid Off'),
	('1006', '14845', '43755.08', '4.56', '72', '626', '119484.56', 'Unemployed', '0.89', 'Other', '6', '0', '26', 'Own', 'Paid Off'),
	('1007', '31922', '25320.265', '23.33', '24', '344', '41117.71', 'Others', '0.53', 'Education', '6', '1', '25', 'Mortgage', 'NA'),
	('1008', '62222', '14670.9', '7.03', '60', '779', '82659.6', 'Employed', '0.4', 'Education', '9', '0', '21', 'Mortgage', 'Current'),
	('1009', '86304', '32143.63', '8.22', '36', '337', '21832.53', 'Unemployed', '0.13', 'Business', '8', '1', '33', 'Own', 'NA'),
	('1010', '78129', '13727.93', '14.82', '60', '525', '63293.5', 'Others', '0.48', 'Business', '0', '0', '55', 'Other', 'Paid Off'),
	('1011', '66492', '1102.11', '13.2', '12', '618', '73584.97', 'Self-employed', '0.23', 'Other', '2', '1', '59', 'Rent', 'Late'),
	('1012', '51768', '35359.51', '14.78', '72', '386', '65699.75', 'Unemployed', '0.3', 'Personal', 'Unreported', '1', '26', 'Mortgage', 'Current'),
	('1013', '36952', '10460.85', '10.4', '36', '730', '41894.42', 'Others', '0.61', 'Home', '1', '0', '39', 'Other', 'Paid Off'),
	('1014', '76666', '16922.82', '11.32', '60', '622', '143917.08', 'Unemployed', '0.22', 'Business', '7', '1', '33', 'Mortgage', 'Current'),
	('1015', '43363', '14912.89', '5.88', '36', '765', '94977.06', 'Employed', '0.45', 'Personal', '3', '1', '33', 'Rent', 'Current'),
	('1016', '80386', '8466.09', '13.43', '36', '734', '121314.03', 'Self-employed', '0.48', 'Car', '8', '0', '43', 'Own', 'Late'),
	('1017', '96935', '7648.57', '11.73', '48', '557', '146442.91', 'Self-employed', '0.25', 'Personal', '0', '1', '68', 'Rent', 'NA'),
	('1018', '81071', '8100.76', '23.62', '12', '628', '101454.36', 'Unemployed', '0.12', 'Personal', '0', '1', '43', 'Mortgage', 'Late'),
	('1019', '51622', '48407.09', '4.99', '60', '730', '120392.93', 'Employed', '0.57', 'Other', '5', '0', '33', 'Rent', 'Current'),
	('1020', '54760', '36615.69', '16.16', '12', '730', '101528.21', 'Others', '0.91', 'Education', '5', '1', '49', 'Own', 'Paid Off'),
	('1021', '74799', '47063.69', '24.23', '24', '351', '137855.32', 'Self-employed', '0.32', 'Education', 'Unreported', '1', '19', 'Mortgage', 'Late'),
	('1022', '54760', '29005.46', '4.25', '72', '591', '85420.16', 'Self-employed', '0.74', 'Personal', '1', '0', '65', 'Other', 'Late'),
	('1023', '54760', '17219.43', '18.59', '60', '761', '141101.44', 'Unemployed', '0.79', 'Business', '7', '0', '50', 'Mortgage', 'Late'),
	('1024', '75017', '25320.265', '21.91', '24', '371', '53165.48', 'Others', '0.48', 'Personal', '0', '1', '27', 'Own', 'Late'),
	('1025', '54428', '24684.46', '9.64', '36', '542', '88101.88', 'Unemployed', '0.03', 'Personal', '9', '1', '48', 'Rent', 'Paid Off'),
	('1026', '15130', '25176.53', '15.1', '60', '726', '65574.34', 'Unemployed', '0.58', 'Home', '6', '1', '33', 'Rent', 'Paid Off'),
	('1027', '64772', '39096.02', '4.06', '60', '726', '121806.18', 'Others', '0.99', 'Personal', '2', '0', '26', 'Own', 'Current'),
	('1028', '51808', '26893.53', '9.75', '48', '426', '36684.28', 'Unemployed', '0.41', 'Business', '1', '1', '29', 'Own', 'Current'),
	('1029', '77267', '10547.67', '7.72', '72', '768', '126982.92', 'Unemployed', '0.26', 'Car', '6', '0', '22', 'Rent', 'Late'),
	('1030', '60512', '40895.34', '17.76', '72', '416', '89979.55', 'Self-employed', '0.57', 'Education', '6', '1', '62', 'Mortgage', 'Late'),
	('1031', '97360', '8247.88', '3.28', '36', '300', '143151.7', 'Unemployed', '0.48', 'Education', 'Unreported', '0', '53', 'Rent', 'Late'),
	('1032', '52113', '26916.79', '13.245', '36', '493', '79305.14', 'Self-employed', '0.07', 'Home', '0', '0', '43', 'Rent', 'Paid Off'),
	('1033', '36418', '3080.99', '14.74', '12', '730', '59854.92', 'Employed', '0.02', 'Personal', 'Unreported', '1', '50', 'Rent', 'Current'),
	('1034', '90736', '19089.87', '23.42', '60', '751', '138907.73', 'Self-employed', '0.05', 'Personal', '2', '0', '51', 'Rent', 'Paid Off'),
	('1035', '54760', '33921.79', '23.19', '48', '503', '96820.98', 'Employed', '0.02', 'Personal', '2', '1', '41', 'Other', 'Late'),
	('1036', '14562', '7796.72', '2.15', '72', '645', '36458.25', 'Self-employed', '0.5', 'Education', '1', '1', '30', 'Mortgage', 'Late'),
	('1037', '18889', '26719.12', '15.36', '36', '836', '92632.94', 'Unemployed', '0.99', 'Personal', '2', '1', '31', 'Own', 'Paid Off'),
	('1038', '95398', '27403.12', '11.2', '72', '618', '55041.24', 'Self-employed', '0.4', 'Car', '0', '1', '66', 'Other', 'Late'),
	('1039', '50719', '45558.4', '14.33', '72', '554', '115168.6', 'Others', '0.35', 'Personal', '1', '1', '22', 'Own', 'NA'),
	('1040', '19103', '23864.84', '16.94', '36', '528', '92615.56', 'Unemployed', '0.47', 'Education', '0', '0', '26', 'Own', 'Paid Off'),
	('1041', '78935', '25320.265', '13.245', '60', '649', '35603.97', 'Self-employed', '0.01', 'Business', '1', '0', '36', 'Other', 'Current'),
	('1042', '89131', '8150.93', '19.51', '36', '770', '76989.63', 'Unemployed', '0.12', 'Car', '3', '1', '29', 'Mortgage', 'Current'),
	('1043', '24552', '14504.82', '13.245', '24', '666', '110028.14', 'Unemployed', '0.22', 'Education', '9', '1', '18', 'Mortgage', 'Current'),
	('1044', '14409', '40148.75', '22.44', '48', '656', '85420.16', 'Employed', '0.31', 'Home', '7', '1', '59', 'Mortgage', 'Late'),
	('1045', '62026', '13500.31', '19.37', '60', '697', '97893.68', 'Unemployed', '0.48', 'Home', '9', '0', '47', 'Mortgage', 'Late'),
	('1046', '53224', '30862.04', '14.06', '12', '537', '85420.16', 'Employed', '0.03', 'Car', '1', '1', '34', 'Own', 'Late'),
	('1047', '28701', '4840.7', '13.16', '72', '829', '86669.22', 'Others', '0.36', 'Education', '8', '0', '19', 'Rent', 'Paid Off'),
	('1048', '16034', '25320.265', '19.13', '60', '610', '20871.5', 'Self-employed', '0.48', 'Car', '6', '1', '43', 'Mortgage', 'Current'),
	('1049', '83678', '31338', '19.77', '12', '537', '66119.28', 'Employed', '0.76', 'Business', '7', '1', '43', 'Rent', 'Current'),
	('1050', '65060', '5808.8', '13.245', '36', '730', '68537.18', 'Others', '0.18', 'Personal', '6', '0', '59', 'Own', 'Late'),
	('1051', '15703', '25320.265', '2.87', '36', '730', '77950.97', 'Unemployed', '0.48', 'Car', '4', '1', '44', 'Rent', 'Late'),
	('1052', '40391', '23005.91', '12.98', '36', '506', '133942.55', 'Self-employed', '0.24', 'Personal', '1', '1', '64', 'Own', 'Current'),
	('1053', '40955', '14699.19', '21.93', '24', '311', '40721.06', 'Unemployed', '0.09', 'Personal', '5', '1', '48', 'Own', 'Late'),
	('1054', '99333', '43821.11', '6.95', '36', '730', '94548.23', 'Others', '0.65', 'Home', '1', '0', '61', 'Mortgage', 'Current'),
	('1055', '62315', '33984.75', '5.3', '24', '538', '56919.64', 'Employed', '0.14', 'Other', '8', '1', '39', 'Own', 'Current'),
	('1056', '32572', '4145.03', '13.245', '36', '726', '137958.97', 'Employed', '0.12', 'Personal', '6', '0', '49', 'Rent', 'Current'),
	('1057', '17951', '33839.68', '22.5', '12', '730', '26562.11', 'Employed', '0.2', 'Business', '3', '0', '67', 'Own', 'Current'),
	('1058', '93543', '10720.58', '8.18', '12', '537', '40901.2', 'Employed', '0.2', 'Other', '2', '0', '30', 'Mortgage', 'Late'),
	('1059', '81627', '46092.69', '21.33', '24', '816', '114970.02', 'Unemployed', '0.52', 'Education', '5', '0', '54', 'Rent', 'NA'),
	('1060', '44381', '8532.87', '19.41', '36', '604', '127693.53', 'Self-employed', '0.21', 'Car', '5', '1', '27', 'Rent', 'Late'),
	('1061', '51470', '31217.79', '24.89', '36', '417', '104906.76', 'Employed', '0.65', 'Business', '8', '0', '39', 'Mortgage', 'Paid Off'),
	('1062', '17581', '12877.92', '5.76', '24', '630', '146630.44', 'Others', '0.11', 'Business', '3', '0', '63', 'Mortgage', 'Paid Off'),
	('1063', '97647', '47166.16', '22.64', '36', '680', '83955.78', 'Self-employed', '0.31', 'Personal', '0', '1', '68', 'Other', 'Paid Off'),
	('1064', '91618', '16898.89', '13.245', '48', '376', '63728.35', 'Employed', '0.87', 'Home', '2', '1', '56', 'Mortgage', 'Paid Off'),
	('1065', '50580', '29892.19', '17.48', '60', '730', '27805.47', 'Self-employed', '0.81', 'Car', '7', '0', '58', 'Mortgage', 'Current'),
	('1066', '80577', '7345.96', '17.39', '24', '543', '104057.65', 'Employed', '0.98', 'Business', '6', '0', '43', 'Rent', 'Paid Off'),
	('1067', '94311', '24489.23', '13.245', '36', '730', '91612.34', 'Self-employed', '0.27', 'Other', '6', '0', '28', 'Mortgage', 'Paid Off'),
	('1068', '17209', '30832.98', '7.24', '36', '692', '50439.21', 'Self-employed', '0.93', 'Business', '1', '0', '65', 'Mortgage', 'Paid Off'),
	('1069', '54760', '38764.11', '5.95', '36', '644', '118652.68', 'Employed', '0.78', 'Home', '2', '1', '51', 'Own', 'Late'),
	('1070', '49855', '28296.31', '13.81', '36', '742', '37909.27', 'Self-employed', '0.99', 'Car', '2', '0', '20', 'Own', 'Paid Off'),
	('1071', '61473', '35476.34', '23.91', '48', '790', '45568.79', 'Others', '0.43', 'Personal', 'Unreported', '0', '31', 'Own', 'Paid Off'),
	('1072', '11344', '43094.99', '8.41', '36', '648', '46390.69', 'Employed', '0.33', 'Home', '3', '0', '67', 'Mortgage', 'Paid Off'),
	('1073', '26620', '15629.28', '20.32', '36', '580', '95441.25', 'Unemployed', '0.08', 'Home', '1', '1', '47', 'Other', 'NA'),
	('1074', '39334', '17668.18', '9.36', '60', '353', '24434.12', 'Employed', '0.73', 'Home', '7', '1', '35', 'Other', 'Late'),
	('1075', '48986', '2449.12', '7.87', '36', '836', '76401.3', 'Employed', '0.46', 'Home', '2', '0', '36', 'Mortgage', 'Late'),
	('1076', '27570', '28158.83', '17.73', '12', '355', '146282.89', 'Self-employed', '0.62', 'Education', '7', '0', '35', 'Mortgage', 'Paid Off'),
	('1077', '54760', '48605.02', '13.245', '36', '459', '120157.16', 'Self-employed', '0.55', 'Car', '7', '0', '45', 'Rent', 'Current'),
	('1078', '54760', '37069.03', '2.3', '72', '466', '123004.67', 'Employed', '0.65', 'Other', '6', '1', '43', 'Other', 'NA'),
	('1079', '54760', '49636.69', '13.245', '12', '761', '135384.72', 'Others', '0.48', 'Other', '9', '0', '61', 'Other', 'Current'),
	('1080', '54760', '23263.25', '14.21', '48', '650', '73537.52', 'Self-employed', '0.05', 'Other', '7', '1', '58', 'Mortgage', 'Current'),
	('1081', '51333', '37626.21', '13.245', '60', '393', '56415.08', 'Others', '0.22', 'Car', '4', '0', '27', 'Mortgage', 'Current'),
	('1082', '54192', '8899.21', '20.06', '72', '783', '85420.16', 'Employed', '0.3', 'Car', '9', '1', '19', 'Own', 'Current'),
	('1083', '58428', '21678.32', '10.19', '36', '591', '104243.07', 'Employed', '0.25', 'Business', '5', '0', '27', 'Own', 'Current'),
	('1084', '76147', '32537.08', '14.51', '48', '573', '85420.16', 'Unemployed', '0.66', 'Car', '8', '0', '50', 'Rent', 'Paid Off'),
	('1085', '33289', '23065.29', '11.84', '12', '730', '148455.73', 'Unemployed', '0.51', 'Business', '6', '0', '48', 'Rent', 'NA'),
	('1086', '57975', '2456.39', '13.245', '24', '340', '107335.56', 'Self-employed', '0.16', 'Car', '4', '0', '39', 'Mortgage', 'Current'),
	('1087', '13995', '16525.29', '13.17', '60', '480', '122142.85', 'Unemployed', '0.74', 'Car', 'Unreported', '1', '54', 'Own', 'Current'),
	('1088', '56843', '34127.32', '5.59', '72', '747', '52571.81', 'Unemployed', '0.48', 'Home', '8', '1', '61', 'Rent', 'Current'),
	('1089', '12352', '20364.49', '20.48', '24', '510', '84882.35', 'Employed', '0.73', 'Business', '7', '1', '34', 'Rent', 'Current'),
	('1090', '64655', '22971.84', '8.68', '48', '428', '38421.62', 'Unemployed', '0.4', 'Education', '4', '1', '31', 'Rent', 'NA'),
	('1091', '28058', '42952.78', '13.245', '12', '730', '68722.72', 'Employed', '0.69', 'Car', '5', '0', '43', 'Own', 'Late'),
	('1092', '56404', '14200.15', '8.28', '72', '440', '91195.49', 'Unemployed', '0.34', 'Home', '8', '1', '18', 'Other', 'Current'),
	('1093', '85025', '25320.265', '21.76', '36', '321', '74996.19', 'Unemployed', '0.19', 'Education', '2', '0', '56', 'Own', 'Paid Off'),
	('1094', '54760', '42442.76', '21.13', '72', '627', '28897.03', 'Self-employed', '0.49', 'Car', '9', '1', '43', 'Mortgage', 'NA'),
	('1095', '20525', '40550.38', '23.86', '36', '670', '114052.93', 'Self-employed', '0.88', 'Education', '5', '1', '56', 'Mortgage', 'NA'),
	('1096', '88438', '12697.46', '10.38', '12', '821', '121105.39', 'Employed', '0.58', 'Business', 'Unreported', '1', '36', 'Rent', 'Paid Off'),
	('1097', '31707', '3503.4', '22.4', '36', '492', '72766.46', 'Self-employed', '0.47', 'Business', '0', '0', '20', 'Own', 'Current'),
	('1098', '62701', '14564.56', '21.75', '36', '689', '51092.75', 'Employed', '0.44', 'Home', '0', '1', '55', 'Mortgage', 'Current'),
	('1099', '83020', '9643.77', '15.2', '48', '604', '108473.12', 'Others', '0.15', 'Business', '5', '0', '43', 'Other', 'Current'),
	('1100', '49603', '2357.83', '5.39', '36', '557', '94175.67', 'Employed', '0.07', 'Other', '9', '0', '26', 'Mortgage', 'Current'),
	('1101', '16388', '25320.265', '18.2', '36', '392', '105157.52', 'Others', '0.51', 'Personal', 'Unreported', '1', '32', 'Own', 'Current'),
	('1102', '53593', '26519.76', '23.73', '60', '457', '68754.03', 'Employed', '0.25', 'Education', '9', '1', '54', 'Rent', 'NA'),
	('1103', '24272', '32865.63', '20.84', '72', '493', '85420.16', 'Employed', '0.11', 'Education', '3', '1', '60', 'Rent', 'Paid Off'),
	('1104', '73472', '19516.87', '3.76', '24', '572', '72708.98', 'Employed', '0.67', 'Personal', '3', '0', '39', 'Rent', 'Paid Off'),
	('1105', '26627', '25320.265', '2.52', '36', '520', '85420.16', 'Self-employed', '0.75', 'Car', '3', '1', '43', 'Rent', 'Current'),
	('1106', '45349', '28896', '12.59', '48', '428', '56156.61', 'Employed', '0.69', 'Home', '6', '0', '50', 'Mortgage', 'Paid Off'),
	('1107', '40302', '37865.95', '23', '36', '447', '72479.72', 'Employed', '0.45', 'Business', '2', '1', '35', 'Rent', 'Current'),
	('1108', '45983', '35052.63', '18.61', '48', '579', '56497.44', 'Employed', '0.27', 'Personal', '5', '0', '26', 'Mortgage', 'Paid Off'),
	('1109', '45568', '42992.24', '13.245', '72', '446', '104021.16', 'Unemployed', '0.91', 'Personal', '3', '1', '43', 'Mortgage', 'Paid Off'),
	('1110', '98330', '13929.48', '16.43', '60', '730', '41100.07', 'Unemployed', '0.73', 'Business', '8', '1', '43', 'Mortgage', 'Late'),
	('1111', '28065', '25320.265', '22.29', '72', '409', '95731.76', 'Self-employed', '0.95', 'Business', '4', '0', '20', 'Mortgage', 'NA'),
	('1112', '90003', '24933.43', '13.245', '36', '553', '95610.34', 'Self-employed', '0.44', 'Education', '3', '0', '38', 'Rent', 'Late'),
	('1113', '62199', '16757.55', '14.39', '36', '646', '126364.46', 'Unemployed', '0.74', 'Business', 'Unreported', '1', '28', 'Own', 'Paid Off'),
	('1114', '42329', '34634.63', '13.245', '72', '531', '117508.87', 'Others', '0.41', 'Personal', '7', '0', '69', 'Own', 'Paid Off'),
	('1115', '27181', '7577.48', '5.01', '60', '635', '23389.59', 'Employed', '0.11', 'Business', 'Unreported', '0', '43', 'Other', 'Paid Off'),
	('1116', '99283', '40452.31', '20.76', '60', '427', '98337.95', 'Self-employed', '0.02', 'Car', 'Unreported', '1', '67', 'Own', 'Current'),
	('1117', '47328', '2794.34', '10.5', '60', '813', '30412.63', 'Employed', '0.37', 'Personal', '7', '0', '30', 'Rent', 'Current'),
	('1118', '21908', '20020.81', '15.86', '36', '370', '29586.9', 'Unemployed', '0.67', 'Other', '0', '1', '20', 'Own', 'Paid Off'),
	('1119', '35700', '30758.7', '8.71', '36', '473', '129122.94', 'Self-employed', '0.73', 'Education', '4', '1', '62', 'Own', 'Current'),
	('1120', '71472', '21793.84', '22.51', '12', '313', '53934.13', 'Self-employed', '0.01', 'Education', '8', '0', '53', 'Rent', 'Current'),
	('1121', '54113', '33128.92', '23.07', '48', '426', '116021.78', 'Self-employed', '0.48', 'Car', '7', '1', '62', 'Mortgage', 'Current'),
	('1122', '93575', '2901.23', '23.98', '48', '454', '148068.1', 'Others', '0.03', 'Business', '2', '0', '51', 'Rent', 'Current'),
	('1123', '54760', '43490.86', '13.245', '12', '326', '148492.12', 'Self-employed', '0.04', 'Business', '5', '1', '50', 'Rent', 'Paid Off'),
	('1124', '60933', '4805.2', '14.97', '12', '352', '110955.72', 'Employed', '0.79', 'Personal', '3', '1', '45', 'Own', 'Late'),
	('1125', '16437', '15099.57', '15.84', '48', '730', '93329.55', 'Unemployed', '0.48', 'Education', 'Unreported', '1', '65', 'Own', 'Current'),
	('1126', '93227', '15375.08', '24.13', '36', '324', '85420.16', 'Employed', '0.72', 'Car', '8', '0', '58', 'Own', 'Current'),
	('1127', '54760', '1578.87', '10.57', '36', '824', '43943.96', 'Self-employed', '0.48', 'Car', '8', '1', '56', 'Mortgage', 'Paid Off'),
	('1128', '54760', '5607.17', '13.245', '36', '730', '148717.03', 'Self-employed', '0.34', 'Business', '0', '0', '38', 'Mortgage', 'Paid Off'),
	('1129', '11631', '42742.31', '12.11', '24', '516', '46267.66', 'Self-employed', '0.72', 'Education', '5', '0', '19', 'Rent', 'Paid Off'),
	('1130', '95304', '39014.93', '9.93', '60', '467', '110799.05', 'Self-employed', '0.05', 'Education', '1', '1', '59', 'Rent', 'Paid Off'),
	('1131', '33325', '37161.68', '23.38', '60', '848', '29366.68', 'Self-employed', '0.54', 'Business', '8', '0', '20', 'Mortgage', 'Late'),
	('1132', '41388', '34775.51', '15.1', '36', '678', '39468.73', 'Unemployed', '0.68', 'Home', '7', '0', '38', 'Rent', 'Late'),
	('1133', '64690', '46519.7', '12.7', '60', '537', '464754.2', 'Unemployed', '0.48', 'Other', '3', '0', '47', 'Mortgage', 'Late'),
	('1134', '83914', '15634.21', '3.24', '72', '496', '76164.63', 'Self-employed', '0.16', 'Other', '4', '0', '59', 'Own', 'Paid Off'),
	('1135', '54760', '1322.09', '5.58', '24', '660', '47402.13', 'Employed', '0.07', 'Education', '8', '0', '23', 'Own', 'Late'),
	('1136', '79502', '3965.53', '14.44', '12', '574', '117156.28', 'Others', '0.32', 'Education', '9', '0', '21', 'Rent', 'NA'),
	('1137', '95969', '2856.49', '13.245', '72', '847', '59880.07', 'Self-employed', '0.26', 'Business', '6', '0', '43', 'Own', 'Late'),
	('1138', '15596', '25320.265', '12.57', '72', '301', '66788.32', 'Self-employed', '0.26', 'Business', '6', '0', '59', 'Own', 'Paid Off'),
	('1139', '99744', '37578.9', '16.38', '12', '550', '1053769.5', 'Self-employed', '0.87', 'Home', '1', '0', '66', 'Mortgage', 'Paid Off'),
	('1140', '32075', '1827.31', '21.59', '24', '536', '24053.92', 'Employed', '0.57', 'Other', '4', '0', '51', 'Own', 'Current'),
	('1141', '11004', '13000.82', '23.12', '72', '516', '142858.85', 'Others', '0.25', 'Car', '1', '1', '32', 'Rent', 'Current'),
	('1142', '97047', '40143.84', '10.42', '36', '730', '68874.2', 'Employed', '0.39', 'Other', '2', '1', '51', 'Mortgage', 'Paid Off'),
	('1143', '54760', '3759.24', '5.76', '36', '791', '50007.98', 'Self-employed', '0.81', 'Home', '1', '1', '43', 'Rent', 'NA'),
	('1144', '31227', '49242.91', '24.34', '36', '833', '122279.66', 'Unemployed', '0.29', 'Business', '6', '0', '67', 'Mortgage', 'Paid Off'),
	('1145', '78829', '33221.58', '14.13', '36', '730', '66080.73', 'Employed', '0.59', 'Personal', '6', '0', '27', 'Rent', 'Paid Off'),
	('1146', '11064', '43474.22', '22.37', '72', '701', '66241.87', 'Employed', '0.31', 'Car', '8', '0', '50', 'Mortgage', 'Late'),
	('1147', '88848', '33374.35', '8.87', '72', '827', '57979.72', 'Unemployed', '0.74', 'Home', '6', '0', '39', 'Own', 'Late'),
	('1148', '54760', '39066.81', '4.04', '36', '795', '32801.8', 'Self-employed', '0.69', 'Home', '1', '1', '54', 'Mortgage', 'Current'),
	('1149', '57708', '15738.16', '22.2', '36', '449', '113106.86', 'Self-employed', '0.87', 'Personal', '9', '1', '63', 'Own', 'Paid Off'),
	('1150', '41949', '13608.91', '11.58', '36', '388', '99347.08', 'Employed', '0.94', 'Business', '3', '0', '21', 'Rent', 'Late'),
	('1151', '89013', '33556.82', '12.13', '72', '447', '148300.18', 'Employed', '0.88', 'Education', '4', '1', '55', 'Own', 'Current'),
	('1152', '72013', '25320.265', '24.62', '24', '685', '101296.7', 'Employed', '0.4', 'Car', '9', '1', '67', 'Own', 'NA'),
	('1153', '46967', '25777.5', '11.4', '24', '423', '24071.62', 'Unemployed', '0.22', 'Education', '5', '1', '32', 'Mortgage', 'Paid Off'),
	('1154', '40642', '9685.51', '15.19', '60', '599', '81624.23', 'Unemployed', '0.42', 'Education', '4', '1', '51', 'Own', 'Current'),
	('1155', '54760', '12301.78', '18.96', '72', '578', '23862.32', 'Self-employed', '0.16', 'Personal', '9', '1', '32', 'Rent', 'Late'),
	('1156', '18686', '27936.53', '7.18', '12', '712', '62500.33', 'Unemployed', '0.7', 'Home', '2', '0', '25', 'Mortgage', 'Paid Off'),
	('1157', '82652', '25320.265', '8.2', '36', '639', '89049.17', 'Employed', '0.48', 'Other', '7', '0', '43', 'Rent', 'Current'),
	('1158', '54760', '48163.1', '18.99', '72', '605', '143920.57', 'Self-employed', '0.04', 'Car', '8', '1', '21', 'Mortgage', 'Paid Off'),
	('1159', '51847', '25320.265', '13.245', '24', '309', '22720.16', 'Unemployed', '0.18', 'Car', '0', '0', '20', 'Mortgage', 'Current'),
	('1160', '79616', '22153.87', '6.61', '72', '730', '145746.58', 'Unemployed', '0.29', 'Business', '4', '1', '60', 'Own', 'Current'),
	('1161', '88980', '47579.34', '13.245', '12', '405', '137837.25', 'Employed', '0.94', 'Education', '9', '1', '43', 'Rent', 'Late'),
	('1162', '54760', '25320.265', '2.2', '60', '375', '107822.14', 'Unemployed', '0.48', 'Personal', '7', '1', '43', 'Rent', 'Late'),
	('1163', '54760', '14317.32', '10.85', '60', '762', '32296.39', 'Employed', '0.58', 'Personal', '0', '0', '58', 'Other', 'Late'),
	('1164', '84462', '25320.265', '22.73', '72', '443', '145448.56', 'Unemployed', '0.45', 'Car', '4', '1', '38', 'Rent', 'Late'),
	('1165', '92293', '42821.63', '11.23', '72', '541', '93327.89', 'Employed', '0.28', 'Other', 'Unreported', '1', '49', 'Mortgage', 'NA'),
	('1166', '33843', '38554.19', '13.245', '72', '817', '85420.16', 'Unemployed', '0.18', 'Business', '6', '0', '37', 'Mortgage', 'Paid Off'),
	('1167', '54760', '15930.99', '3.32', '36', '456', '127624.99', 'Self-employed', '0.54', 'Car', 'Unreported', '0', '34', 'Mortgage', 'Late'),
	('1168', '64833', '43755.6', '15.52', '48', '838', '48837.81', 'Employed', '0.61', 'Car', 'Unreported', '1', '50', 'Mortgage', 'Late'),
	('1169', '29641', '4065.28', '23.94', '60', '832', '55272', 'Unemployed', '0.03', 'Education', '3', '0', '63', 'Own', 'NA'),
	('1170', '32578', '25179.88', '24.64', '12', '551', '97470.32', 'Unemployed', '0.19', 'Education', '4', '0', '44', 'Own', 'Paid Off'),
	('1171', '37361', '33079.53', '15.3', '48', '674', '35289.89', 'Self-employed', '0.73', 'Home', '9', '0', '27', 'Own', 'Paid Off'),
	('1172', '52160', '16297.52', '2.33', '12', '686', '85420.16', 'Employed', '0.48', 'Personal', 'Unreported', '0', '24', 'Mortgage', 'Current'),
	('1173', '67329', '4389.38', '21.32', '48', '801', '105716.99', 'Self-employed', '0.03', 'Education', '5', '1', '25', 'Mortgage', 'Paid Off'),
	('1174', '58764', '13600.86', '18.9', '36', '409', '64654.21', 'Unemployed', '0.83', 'Business', '8', '0', '28', 'Rent', 'Current'),
	('1175', '28931', '24704.82', '2.57', '24', '692', '115694.61', 'Self-employed', '0.22', 'Home', '5', '1', '43', 'Own', 'Current'),
	('1176', '89780', '25320.265', '19.4', '24', '432', '132202.52', 'Employed', '0.89', 'Personal', 'Unreported', '1', '58', 'Other', 'NA'),
	('1177', '39030', '21367.92', '18.55', '72', '462', '85420.16', 'Self-employed', '0.48', 'Education', 'Unreported', '0', '46', 'Own', 'NA'),
	('1178', '31540', '5563.11', '13.245', '60', '499', '96572.76', 'Others', '0.91', 'Personal', '2', '0', '46', 'Own', 'Paid Off'),
	('1179', '66606', '1699.4', '14.34', '48', '445', '124497.67', 'Self-employed', '1', 'Home', '5', '0', '26', 'Mortgage', 'Paid Off'),
	('1180', '64898', '44003.02', '14.62', '12', '434', '40939.61', 'Self-employed', '0.66', 'Car', '9', '0', '24', 'Own', 'Current'),
	('1181', '66467', '4827.48', '13.245', '24', '422', '101349.89', 'Employed', '0.12', 'Home', '7', '1', '23', 'Rent', 'Current'),
	('1182', '54760', '15348.4', '12.19', '36', '448', '85420.16', 'Others', '0.31', 'Home', '3', '1', '34', 'Own', 'Late'),
	('1183', '71868', '33538.22', '14.86', '12', '572', '59460.36', 'Self-employed', '0.23', 'Other', '8', '0', '47', 'Other', 'Paid Off'),
	('1184', '26419', '42380.72', '14.67', '12', '640', '38873.65', 'Employed', '0.34', 'Business', '6', '1', '60', 'Mortgage', 'Late'),
	('1185', '31262', '16741.87', '13.95', '72', '730', '25169.42', 'Employed', '0.48', 'Car', '2', '0', '44', 'Other', 'Late'),
	('1186', '23304', '32951.36', '21.62', '24', '518', '22456.52', 'Employed', '0.51', 'Other', '5', '1', '31', 'Rent', 'Paid Off'),
	('1187', '83041', '24134.43', '23.77', '48', '773', '133983.01', 'Employed', '0.56', 'Other', 'Unreported', '0', '21', 'Rent', 'NA'),
	('1188', '66131', '3499.64', '23.04', '72', '633', '109055.21', 'Self-employed', '0.27', 'Car', '2', '1', '32', 'Other', 'Paid Off'),
	('1189', '69165', '25320.265', '6.52', '48', '834', '107893.34', 'Unemployed', '0.52', 'Home', '4', '0', '35', 'Mortgage', 'Paid Off'),
	('1190', '87979', '2462.55', '21.96', '12', '782', '98085.36', 'Employed', '0.73', 'Car', '9', '1', '30', 'Own', 'Paid Off'),
	('1191', '60209', '48245.32', '9.31', '12', '838', '69745.58', 'Unemployed', '0.49', 'Home', '7', '1', '21', 'Other', 'NA'),
	('1192', '96451', '38347.01', '2.29', '12', '336', '65895.19', 'Employed', '0.66', 'Home', '4', '0', '20', 'Other', 'Current'),
	('1193', '13958', '17625.32', '14.26', '24', '312', '56122.67', 'Employed', '0.96', 'Car', '7', '0', '36', 'Other', 'Paid Off'),
	('1194', '83784', '12502.28', '4.17', '36', '752', '64570.03', 'Self-employed', '0.33', 'Education', '5', '0', '45', 'Own', 'Late'),
	('1195', '16421', '20616.03', '13.48', '12', '731', '112226.2', 'Unemployed', '0.48', 'Car', '2', '0', '57', 'Mortgage', 'Paid Off'),
	('1196', '30202', '16492.06', '19.01', '12', '730', '85420.16', 'Self-employed', '0.11', 'Education', '1', '1', '54', 'Mortgage', 'Current'),
	('1197', '94509', '19168.93', '21.45', '60', '730', '117920.88', 'Employed', '0.82', 'Education', '7', '0', '36', 'Rent', 'Paid Off'),
	('1198', '43725', '46017.01', '9.42', '24', '703', '32100.74', 'Unemployed', '0.84', 'Home', '4', '0', '46', 'Own', 'Current'),
	('1199', '52554', '20821.73', '21.29', '72', '506', '84768.41', 'Unemployed', '0.11', 'Other', '1', '1', '67', 'Rent', 'NA'),
	('1200', '15912', '37328.58', '3.31', '48', '802', '70289.28', 'Unemployed', '0.18', 'Education', '7', '0', '21', 'Mortgage', 'Current'),
	('1201', '30594', '8683.84', '16.16', '24', '625', '22340.56', 'Employed', '0.99', 'Business', '5', '0', '32', 'Mortgage', 'Paid Off'),
	('1202', '54304', '27150.37', '10.04', '60', '551', '41504.61', 'Self-employed', '0.74', 'Other', '7', '1', '43', 'Rent', 'Paid Off'),
	('1203', '16592', '25192.96', '14.62', '60', '490', '31860.83', 'Unemployed', '0.74', 'Car', '0', '1', '23', 'Own', 'Current'),
	('1204', '30324', '29970.37', '6.41', '60', '486', '85420.16', 'Self-employed', '0.07', 'Personal', '5', '1', '65', 'Own', 'Paid Off'),
	('1205', '73458', '34314.49', '7.32', '36', '330', '113374.14', 'Self-employed', '0.48', 'Personal', '7', '1', '38', 'Mortgage', 'Current'),
	('1206', '24971', '43189.95', '21.24', '72', '537', '103912.08', 'Employed', '0.48', 'Car', '0', '1', '27', 'Rent', 'Late'),
	('1207', '36637', '25320.265', '20.34', '60', '420', '98373.51', 'Self-employed', '0.12', 'Other', '6', '1', '43', 'Mortgage', 'Current'),
	('1208', '71179', '25320.265', '21.65', '72', '362', '84558.08', 'Others', '0.41', 'Personal', '4', '0', '43', 'Own', 'Current'),
	('1209', '14354', '3801.96', '13.245', '36', '622', '31198.58', 'Self-employed', '0.97', 'Home', '9', '0', '32', 'Rent', 'Late'),
	('1210', '44626', '31584.88', '17.23', '36', '721', '91218.08', 'Self-employed', '0.45', 'Business', '7', '0', '57', 'Other', 'NA'),
	('1211', '53155', '46803.24', '12.54', '24', '527', '47893.04', 'Unemployed', '0.44', 'Business', '2', '1', '43', 'Rent', 'Current'),
	('1212', '20740', '25320.265', '7.73', '36', '754', '130299.43', 'Unemployed', '0.83', 'Car', '4', '0', '45', 'Other', 'Late'),
	('1213', '95754', '48615.8', '2.14', '48', '524', '47172.83', 'Unemployed', '0.54', 'Car', '0', '0', '43', 'Rent', 'Paid Off'),
	('1214', '81116', '30295.89', '23.16', '36', '438', '127467.37', 'Unemployed', '0.38', 'Business', '8', '0', '43', 'Mortgage', 'Late'),
	('1215', '79278', '11351.09', '18.03', '36', '730', '85420.16', 'Unemployed', '0.48', 'Business', '6', '1', '37', 'Rent', 'Current'),
	('1216', '44074', '26946.92', '19.98', '24', '624', '69458.78', 'Employed', '0.17', 'Home', '5', '0', '43', 'Mortgage', 'Current'),
	('1217', '54760', '25320.265', '3.7', '72', '730', '54061.74', 'Employed', '0.13', 'Personal', '2', '1', '43', 'Own', 'Paid Off'),
	('1218', '60112', '33647.37', '22.31', '36', '785', '87105.99', 'Unemployed', '0.63', 'Education', '7', '1', '29', 'Mortgage', 'Paid Off'),
	('1219', '86033', '32264.05', '5.37', '48', '523', '85420.16', 'Unemployed', '0.38', 'Home', '6', '1', '67', 'Mortgage', 'Current'),
	('1220', '29876', '10291.08', '21.39', '12', '738', '39080.26', 'Unemployed', '0.79', 'Car', 'Unreported', '1', '41', 'Own', 'Paid Off'),
	('1221', '26138', '11207.22', '19.59', '48', '349', '148171.16', 'Employed', '0.48', 'Business', '8', '0', '27', 'Mortgage', 'Current'),
	('1222', '65584', '12831.69', '18.99', '24', '750', '85420.16', 'Self-employed', '0.83', 'Home', '6', '0', '36', 'Own', 'Current'),
	('1223', '85262', '36916.7', '17.81', '24', '632', '112273.11', 'Unemployed', '0.63', 'Car', '4', '1', '29', 'Rent', 'Paid Off'),
	('1224', '82988', '25468.37', '6.66', '60', '324', '147113.38', 'Self-employed', '0.53', 'Education', '9', '1', '69', 'Mortgage', 'Late'),
	('1225', '49471', '25320.265', '17.13', '60', '754', '147066.37', 'Self-employed', '0.41', 'Personal', '3', '1', '66', 'Own', 'Late'),
	('1226', '24929', '40168.81', '4.5', '60', '781', '118695.09', 'Others', '0', 'Personal', '4', '1', '41', 'Own', 'NA'),
	('1227', '39092', '28639.41', '21.77', '12', '730', '141357.73', 'Unemployed', '0.92', 'Business', 'Unreported', '0', '48', 'Own', 'Paid Off'),
	('1228', '41943', '24085.91', '6.61', '72', '405', '119436.75', 'Unemployed', '0.77', 'Other', '9', '0', '25', 'Own', 'Current'),
	('1229', '52694', '20723.24', '12.11', '36', '413', '85420.16', 'Employed', '0.14', 'Home', '7', '0', '48', 'Rent', 'Late'),
	('1230', '31129', '27276.88', '13.245', '36', '547', '47773.94', 'Unemployed', '0.86', 'Education', '2', '0', '50', 'Rent', 'Current'),
	('1231', '33314', '8329.35', '20.29', '48', '730', '30488.39', 'Unemployed', '0.34', 'Business', '2', '0', '66', 'Rent', 'Paid Off'),
	('1232', '54760', '39535.83', '2.88', '60', '531', '25340.31', 'Employed', '0.7', 'Other', '4', '0', '38', 'Rent', 'Current'),
	('1233', '72133', '45725.2', '13.24', '72', '389', '74567.41', 'Employed', '0.11', 'Other', '5', '1', '45', 'Mortgage', 'Current'),
	('1234', '55610', '40805.89', '14.08', '12', '650', '96616.66', 'Unemployed', '0.97', 'Personal', '6', '0', '18', 'Other', 'Paid Off'),
	('1235', '12514', '41272.88', '21.21', '48', '730', '85420.16', 'Unemployed', '0.48', 'Car', '4', '0', '44', 'Mortgage', 'Late'),
	('1236', '86573', '41640.67', '15.73', '48', '741', '115741.43', 'Employed', '0.36', 'Home', '3', '0', '28', 'Other', 'NA'),
	('1237', '90273', '9606.81', '3.52', '12', '301', '87641.26', 'Unemployed', '0.48', 'Home', '2', '0', '48', 'Mortgage', 'Paid Off'),
	('1238', '61235', '49794.82', '11.65', '48', '775', '85420.16', 'Self-employed', '0.99', 'Car', '9', '1', '44', 'Mortgage', 'Late'),
	('1239', '30368', '33202.1', '17.18', '48', '616', '143634.56', 'Employed', '0.88', 'Business', '3', '1', '29', 'Rent', 'Current'),
	('1240', '29991', '21625.43', '24.72', '24', '329', '70611.15', 'Unemployed', '0.14', 'Personal', '1', '0', '51', 'Own', 'Current'),
	('1241', '83356', '44513.17', '10.83', '24', '730', '35241.75', 'Self-employed', '0.32', 'Car', '8', '1', '66', 'Rent', 'Current'),
	('1242', '47219', '29535.21', '24.65', '36', '437', '122623.55', 'Unemployed', '0.48', 'Personal', '2', '1', '53', 'Mortgage', 'Late'),
	('1243', '82557', '25320.265', '14.62', '48', '412', '45760.33', 'Employed', '0.99', 'Car', '8', '1', '67', 'Rent', 'Paid Off'),
	('1244', '16932', '37851.61', '12.67', '48', '761', '85420.16', 'Unemployed', '0.54', 'Home', '5', '1', '45', 'Mortgage', 'NA'),
	('1245', '22369', '19008.02', '13.245', '72', '817', '104571.83', 'Employed', '0.87', 'Car', '7', '1', '26', 'Mortgage', 'Late'),
	('1246', '94908', '37385.55', '15.32', '48', '695', '117562.34', 'Others', '0.48', 'Personal', '8', '0', '29', 'Mortgage', 'Late'),
	('1247', '77622', '36775.39', '13.245', '12', '689', '26818.05', 'Employed', '0.87', 'Home', '3', '1', '45', 'Mortgage', 'NA'),
	('1248', '99034', '16336.55', '10.82', '72', '829', '105897.74', 'Employed', '0.58', 'Car', '0', '0', '26', 'Rent', 'Current'),
	('1249', '22837', '44324.59', '24.5', '24', '609', '113688.3', 'Unemployed', '0.18', 'Education', '4', '0', '43', 'Own', 'Paid Off'),
	('1250', '43130', '7897.48', '13.37', '36', '781', '101345.07', 'Self-employed', '0.87', 'Business', 'Unreported', '1', '21', 'Own', 'Current'),
	('1251', '14648', '18898.4', '19.94', '72', '420', '131446', 'Others', '0.42', 'Education', '2', '1', '34', 'Own', 'Current'),
	('1252', '87595', '32177.44', '13.64', '72', '812', '24752.56', 'Self-employed', '0.43', 'Business', 'Unreported', '1', '26', 'Rent', 'Late'),
	('1253', '89492', '24477.82', '7.33', '36', '762', '85420.16', 'Unemployed', '0.13', 'Business', '1', '0', '51', 'Mortgage', 'Paid Off'),
	('1254', '60951', '34229.64', '23.81', '12', '415', '101691.7', 'Self-employed', '0.22', 'Business', '7', '1', '36', 'Mortgage', 'Late'),
	('1255', '82664', '49870.33', '22.27', '48', '722', '83533.26', 'Others', '0.74', 'Education', '7', '1', '33', 'Mortgage', 'Current'),
	('1256', '56680', '4821.84', '5.26', '60', '338', '31232.13', 'Employed', '0.14', 'Education', '0', '0', '64', 'Own', 'NA'),
	('1257', '75775', '38189.47', '22.35', '12', '556', '26026.46', 'Self-employed', '0.88', 'Education', '1', '0', '51', 'Mortgage', 'Current'),
	('1258', '24223', '41053.8', '6.53', '60', '369', '133775.99', 'Self-employed', '0.48', 'Business', '3', '1', '52', 'Rent', 'Current'),
	('1259', '54760', '14827.87', '15.08', '48', '802', '90738.84', 'Self-employed', '0.83', 'Home', 'Unreported', '1', '56', 'Own', 'Current'),
	('1260', '82851', '13502.65', '23.41', '36', '831', '38174', 'Unemployed', '0.4', 'Car', '0', '0', '34', 'Mortgage', 'Paid Off'),
	('1261', '45661', '22626.52', '14.98', '36', '758', '54970.69', 'Unemployed', '0.16', 'Car', '4', '1', '67', 'Own', 'Late'),
	('1262', '81653', '20298.98', '6.87', '24', '707', '89240.7', 'Employed', '0.42', 'Car', '7', '0', '65', 'Own', 'Current'),
	('1263', '52898', '25320.265', '8.09', '36', '797', '122396.82', 'Self-employed', '0.49', 'Personal', '6', '0', '40', 'Own', 'Current'),
	('1264', '54760', '11367.63', '17.61', '48', '667', '70700.38', 'Employed', '0.19', 'Personal', '7', '1', '26', 'Other', 'Current'),
	('1265', '22448', '25196.22', '19.18', '36', '444', '141573.14', 'Employed', '0.96', 'Personal', '3', '1', '67', 'Own', 'Late'),
	('1266', '13436', '40824.87', '15.61', '36', '406', '43997.88', 'Employed', '0.92', 'Home', '3', '1', '48', 'Rent', 'Current'),
	('1267', '99383', '44261.29', '8.47', '24', '506', '85420.16', 'Unemployed', '0.04', 'Home', 'Unreported', '1', '30', 'Rent', 'Current'),
	('1268', '56462', '33671.35', '6.3', '72', '730', '47082.9', 'Others', '0.18', 'Education', '7', '0', '25', 'Own', 'Current'),
	('1269', '46980', '15118.39', '17.06', '72', '779', '66835.99', 'Self-employed', '0.26', 'Education', '3', '0', '39', 'Own', 'Late'),
	('1270', '69364', '43789.01', '7.27', '48', '353', '137621.51', 'Self-employed', '0.41', 'Car', '2', '0', '53', 'Own', 'Paid Off'),
	('1271', '89850', '21640.17', '5.74', '36', '573', '96733.15', 'Unemployed', '0.28', 'Education', '8', '1', '68', 'Rent', 'NA'),
	('1272', '88772', '25320.265', '5.02', '48', '441', '85420.16', 'Employed', '0.11', 'Home', '7', '0', '51', 'Mortgage', 'Late'),
	('1273', '32746', '7595.27', '18.99', '36', '750', '50494.75', 'Employed', '0.85', 'Business', '6', '0', '19', 'Mortgage', 'Current'),
	('1274', '87800', '48121.77', '18.37', '12', '730', '20185.09', 'Others', '0.48', 'Home', '9', '1', '44', 'Other', 'Late'),
	('1275', '69600', '5310.98', '23.33', '48', '730', '62451.32', 'Unemployed', '0.22', 'Other', '4', '0', '43', 'Own', 'Late'),
	('1276', '54760', '26958.26', '13.245', '12', '385', '88750.06', 'Unemployed', '0.18', 'Other', '5', '1', '57', 'Other', 'NA'),
	('1277', '82928', '10906.69', '15.56', '36', '693', '93885.17', 'Self-employed', '0.5', 'Home', '9', '0', '68', 'Rent', 'Late'),
	('1278', '45422', '43545.74', '23.15', '12', '793', '142574.85', 'Self-employed', '0.51', 'Personal', '4', '1', '32', 'Own', 'Current'),
	('1279', '63015', '10531.81', '7.14', '48', '546', '132729.87', 'Self-employed', '1', 'Education', '8', '1', '39', 'Rent', 'Late'),
	('1280', '30111', '37087.51', '13.245', '36', '356', '133518.82', 'Unemployed', '0.74', 'Home', '4', '0', '19', 'Own', 'Current'),
	('1281', '63420', '9090.68', '13.245', '12', '757', '118576.58', 'Unemployed', '0.1', 'Personal', '7', '1', '34', 'Own', 'Late'),
	('1282', '57699', '46967.5', '23.96', '36', '541', '86650.79', 'Employed', '0.39', 'Car', '8', '0', '59', 'Mortgage', 'Late'),
	('1283', '80775', '33502.92', '13.77', '12', '543', '105806.47', 'Self-employed', '0.46', 'Education', '0', '1', '60', 'Mortgage', 'Current'),
	('1284', '27975', '21340.92', '12.32', '36', '576', '100001.42', 'Self-employed', '0.57', 'Car', '9', '1', '44', 'Mortgage', 'Paid Off'),
	('1285', '23666', '48161.64', '23.73', '12', '730', '86715.49', 'Employed', '0.48', 'Personal', '0', '0', '43', 'Other', 'Current'),
	('1286', '21675', '25320.265', '15.79', '72', '467', '115567.38', 'Self-employed', '0.95', 'Personal', '0', '1', '55', 'Rent', 'Late'),
	('1287', '16445', '19819.61', '7.68', '36', '785', '144800.09', 'Self-employed', '0.48', 'Home', '6', '1', '50', 'Own', 'Current'),
	('1288', '23649', '8961.3', '13.9', '72', '727', '77520.85', 'Self-employed', '0.42', 'Other', '0', '1', '41', 'Other', 'Paid Off'),
	('1289', '13799', '36333.38', '13.245', '24', '730', '60985.7', 'Employed', '0.26', 'Home', '6', '1', '43', 'Rent', 'Paid Off'),
	('1290', '74923', '25320.265', '14.7', '12', '505', '148220.58', 'Unemployed', '0.17', 'Other', '7', '1', '21', 'Mortgage', 'Current'),
	('1291', '10432', '11921.75', '11.33', '72', '394', '122847.69', 'Unemployed', '0.59', 'Home', '6', '1', '60', 'Other', 'NA'),
	('1292', '69351', '13248.13', '5.37', '60', '792', '147343.16', 'Self-employed', '0.82', 'Business', '5', '1', '60', 'Own', 'Paid Off'),
	('1293', '54760', '11798.72', '21.97', '60', '369', '72748.91', 'Unemployed', '0.32', 'Business', '0', '0', '43', 'Rent', 'NA'),
	('1294', '34953', '25296.25', '4.58', '24', '587', '149427.41', 'Unemployed', '0.65', 'Business', '9', '1', '27', 'Own', 'Current'),
	('1295', '63479', '3317.18', '5.21', '72', '518', '93186.96', 'Unemployed', '0.98', 'Car', '4', '0', '52', 'Rent', 'NA'),
	('1296', '39409', '15173.13', '5.43', '24', '421', '76154.65', 'Employed', '0.41', 'Education', '9', '0', '46', 'Own', 'Late'),
	('1297', '23282', '37094.57', '2.91', '36', '838', '69828.92', 'Others', '0.85', 'Business', '1', '1', '43', 'Mortgage', 'Late'),
	('1298', '60972', '31440.27', '21.73', '72', '742', '65712.62', 'Self-employed', '0.87', 'Other', '7', '1', '52', 'Rent', 'Paid Off'),
	('1299', '37892', '41111.21', '22.51', '12', '824', '74510.88', 'Self-employed', '0.35', 'Business', '0', '0', '55', 'Rent', 'Current'),
	('1300', '58193', '37496.42', '4.82', '36', '589', '84298.51', 'Self-employed', '0.48', 'Education', '3', '1', '42', 'Own', 'Current'),
	('1301', '28500', '2042.59', '12.62', '48', '475', '141669.19', 'Self-employed', '0.43', 'Business', '0', '1', '56', 'Rent', 'Paid Off'),
	('1302', '81420', '28908.89', '11.04', '36', '681', '101121.97', 'Unemployed', '0.84', 'Car', '1', '1', '35', 'Rent', 'Late'),
	('1303', '10370', '22482.42', '4.9', '72', '337', '101183.7', 'Self-employed', '0.27', 'Car', '7', '0', '38', 'Mortgage', 'Paid Off'),
	('1304', '49841', '18703.7', '21.88', '48', '397', '85393.4', 'Unemployed', '0.48', 'Education', '3', '1', '43', 'Rent', 'NA'),
	('1305', '89222', '49626.7', '21.87', '60', '343', '29516.5', 'Unemployed', '0.77', 'Home', '6', '1', '49', 'Rent', 'Late'),
	('1306', '31603', '33191.21', '19.04', '48', '648', '59407.18', 'Self-employed', '0.32', 'Car', '2', '1', '37', 'Rent', 'Paid Off'),
	('1307', '50921', '13302.43', '5.83', '48', '342', '85420.16', 'Others', '0.95', 'Car', '6', '0', '26', 'Mortgage', 'Paid Off'),
	('1308', '89809', '27110.44', '8.06', '36', '497', '57081.68', 'Employed', '0.9', 'Business', '9', '0', '42', 'Mortgage', 'Late'),
	('1309', '60787', '5666.36', '6.42', '48', '572', '45960.3', 'Unemployed', '0.27', 'Home', '4', '1', '67', 'Rent', 'Paid Off'),
	('1310', '69463', '25320.265', '21.15', '60', '793', '21566.38', 'Employed', '0.44', 'Home', '3', '1', '45', 'Own', 'Current'),
	('1311', '37137', '18034.94', '12.76', '12', '548', '95997.04', 'Unemployed', '0.68', 'Education', '3', '0', '43', 'Own', 'Paid Off'),
	('1312', '59281', '9275.29', '5.46', '60', '599', '85420.16', 'Unemployed', '0.4', 'Other', '0', '0', '20', 'Own', 'Late'),
	('1313', '47063', '8958.65', '2.23', '48', '302', '125393.73', 'Unemployed', '0.71', 'Personal', '7', '0', '23', 'Mortgage', 'NA'),
	('1314', '21929', '1746.21', '8.41', '60', '692', '91460.31', 'Unemployed', '0.22', 'Car', 'Unreported', '1', '57', 'Own', 'Paid Off'),
	('1315', '52084', '39116.13', '24.41', '72', '527', '71292.64', 'Self-employed', '0.66', 'Personal', '8', '1', '24', 'Own', 'Current'),
	('1316', '29021', '36706.29', '2.73', '24', '482', '123796.25', 'Unemployed', '0.81', 'Car', '3', '0', '19', 'Mortgage', 'NA'),
	('1317', '50556', '24766.27', '22.96', '72', '561', '118772.51', 'Unemployed', '0.18', 'Education', 'Unreported', '1', '34', 'Mortgage', 'Late'),
	('1318', '46018', '15992.27', '3.33', '24', '725', '71176.37', 'Employed', '0.27', 'Other', 'Unreported', '0', '62', 'Mortgage', 'NA'),
	('1319', '11435', '20188.97', '17.45', '12', '422', '73749.51', 'Self-employed', '0.48', 'Education', 'Unreported', '0', '22', 'Rent', 'Current'),
	('1320', '79728', '44320.34', '10.04', '48', '670', '51776.32', 'Employed', '0.12', 'Business', '1', '0', '61', 'Own', 'Current'),
	('1321', '60731', '6943.69', '13.245', '12', '524', '25112.15', 'Employed', '0.25', 'Business', '9', '1', '22', 'Rent', 'Paid Off'),
	('1322', '79395', '2448.67', '7.09', '36', '705', '50138.93', 'Unemployed', '0.24', 'Other', 'Unreported', '0', '39', 'Own', 'Late'),
	('1323', '54760', '11570.5', '9.79', '36', '725', '56838.26', 'Self-employed', '0.38', 'Education', '0', '1', '27', 'Other', 'Paid Off'),
	('1324', '93245', '26513.6', '9.09', '36', '616', '110554.24', 'Self-employed', '0.18', 'Home', '5', '1', '49', 'Other', 'Paid Off'),
	('1325', '83828', '1376.46', '18.3', '72', '730', '85420.16', 'Unemployed', '0.63', 'Car', '8', '1', '54', 'Own', 'Current'),
	('1326', '96352', '25320.265', '22.04', '72', '415', '52614.18', 'Unemployed', '0.83', 'Business', '7', '1', '25', 'Own', 'Paid Off'),
	('1327', '71552', '35195.34', '13.245', '36', '611', '138612.76', 'Employed', '0.69', 'Car', '9', '1', '54', 'Mortgage', 'Paid Off'),
	('1328', '64137', '22955.08', '20.77', '72', '560', '49533.6', 'Employed', '0.52', 'Car', '6', '0', '27', 'Rent', 'Paid Off'),
	('1329', '66235', '47483.31', '2.27', '36', '388', '60695.2', 'Self-employed', '0.57', 'Education', '5', '1', '43', 'Rent', 'Late'),
	('1330', '58579', '45627.56', '20.12', '72', '706', '134098.43', 'Self-employed', '0.43', 'Personal', '9', '1', '43', 'Mortgage', 'Paid Off'),
	('1331', '57624', '14546.44', '14.1', '24', '738', '54346.55', 'Others', '0.11', 'Personal', 'Unreported', '0', '43', 'Mortgage', 'Current'),
	('1332', '16720', '19508.08', '21.18', '12', '478', '41035.01', 'Self-employed', '0.06', 'Education', '5', '1', '38', 'Other', 'Late'),
	('1333', '75908', '45990.41', '7.15', '12', '580', '85420.16', 'Self-employed', '0.26', 'Business', '5', '0', '61', 'Own', 'Paid Off'),
	('1334', '71332', '25320.265', '10.67', '60', '730', '100449.75', 'Self-employed', '0.9', 'Home', '3', '1', '43', 'Mortgage', 'Late'),
	('1335', '78704', '19116.37', '18.05', '48', '366', '87018.11', 'Unemployed', '0.64', 'Business', '1', '0', '54', 'Rent', 'NA'),
	('1336', '54760', '40219.93', '21.51', '24', '332', '119406.63', 'Unemployed', '0.34', 'Education', '3', '0', '51', 'Own', 'Current'),
	('1337', '54760', '46300.7', '13', '36', '747', '27916.21', 'Unemployed', '0.09', 'Home', '5', '1', '61', 'Mortgage', 'Late'),
	('1338', '22629', '34001.16', '21.47', '72', '643', '30300.37', 'Unemployed', '0.56', 'Home', '2', '0', '29', 'Own', 'Paid Off'),
	('1339', '16424', '12314.28', '14.61', '48', '730', '64903.57', 'Employed', '0.19', 'Personal', '1', '1', '43', 'Own', 'Current'),
	('1340', '51986', '25320.265', '24.8', '12', '798', '78072.89', 'Employed', '0.62', 'Education', '4', '1', '59', 'Mortgage', 'Paid Off'),
	('1341', '98573', '21605.78', '22.81', '72', '511', '20229.49', 'Others', '0.48', 'Education', '0', '0', '44', 'Mortgage', 'NA'),
	('1342', '59526', '35204.28', '10.87', '48', '832', '124415.62', 'Employed', '0.86', 'Personal', '7', '1', '59', 'Rent', 'Current'),
	('1343', '23151', '24831.33', '23.98', '36', '590', '43628.86', 'Self-employed', '0.99', 'Education', '5', '1', '43', 'Rent', 'Current'),
	('1344', '79697', '47102.38', '13.245', '48', '303', '69977.81', 'Unemployed', '0.86', 'Business', '3', '1', '21', 'Mortgage', 'Paid Off'),
	('1345', '78048', '25320.265', '14.09', '36', '737', '100691.22', 'Self-employed', '0.48', 'Education', '4', '1', '43', 'Mortgage', 'Current'),
	('1346', '65666', '8634.04', '24.79', '36', '526', '127404.43', 'Self-employed', '0.09', 'Education', '3', '0', '28', 'Own', 'Current'),
	('1347', '58661', '25320.265', '17.98', '24', '613', '88876.6', 'Employed', '0.68', 'Education', '8', '1', '59', 'Rent', 'Late'),
	('1348', '32383', '11829.02', '6.48', '48', '391', '69860.25', 'Unemployed', '0.46', 'Personal', '8', '0', '57', 'Mortgage', 'Current'),
	('1349', '84529', '12535.95', '4.62', '72', '813', '115139.97', 'Self-employed', '0.49', 'Personal', '6', '0', '46', 'Other', 'NA'),
	('1350', '31634', '8489.66', '8.03', '72', '773', '79709.18', 'Self-employed', '0.78', 'Car', '0', '1', '61', 'Rent', 'Current'),
	('1351', '70136', '34952.96', '18.92', '12', '319', '143191.79', 'Employed', '0.45', 'Education', 'Unreported', '1', '58', 'Rent', 'Paid Off'),
	('1352', '30855', '11689.63', '14.66', '12', '599', '85420.16', 'Unemployed', '0.27', 'Business', 'Unreported', '0', '18', 'Own', 'Paid Off'),
	('1353', '13983', '12537.22', '11.13', '60', '613', '71870.42', 'Unemployed', '0.13', 'Home', '9', '1', '26', 'Rent', 'Current'),
	('1354', '54760', '10672.02', '19.44', '72', '567', '77850.05', 'Self-employed', '0.48', 'Home', '6', '1', '26', 'Own', 'Paid Off'),
	('1355', '54760', '20535.67', '2.55', '24', '439', '126128.15', 'Unemployed', '0.87', 'Car', '4', '0', '61', 'Rent', 'Late'),
	('1356', '29169', '47971.06', '20.71', '60', '830', '74206.91', 'Unemployed', '0.52', 'Home', '7', '0', '51', 'Own', 'Current'),
	('1357', '24640', '18972.23', '19.21', '36', '411', '109468.95', 'Self-employed', '0.25', 'Business', '4', '1', '27', 'Mortgage', 'Current'),
	('1358', '76481', '15583.58', '6.14', '48', '372', '75119.74', 'Unemployed', '0.29', 'Business', '6', '1', '58', 'Rent', 'Paid Off'),
	('1359', '10848', '4361.38', '13.245', '36', '318', '112575.32', 'Unemployed', '0.65', 'Education', '9', '0', '27', 'Own', 'Late'),
	('1360', '38856', '18273.85', '2.86', '24', '831', '74068.45', 'Others', '0.48', 'Home', '9', '0', '43', 'Own', 'Late'),
	('1361', '17640', '12377.61', '2.27', '60', '658', '56181.83', 'Employed', '0.39', 'Business', '4', '1', '33', 'Own', 'Paid Off'),
	('1362', '23189', '38383.44', '13.245', '12', '519', '52262.11', 'Unemployed', '0.41', 'Other', '3', '1', '30', 'Rent', 'NA'),
	('1363', '64522', '6469.79', '13.23', '72', '648', '60482.83', 'Unemployed', '0.99', 'Business', 'Unreported', '1', '33', 'Own', 'Late'),
	('1364', '62330', '8040.37', '10.56', '60', '571', '33534.75', 'Employed', '0.12', 'Home', '5', '0', '44', 'Mortgage', 'Current'),
	('1365', '66593', '14647', '6.51', '36', '660', '70931.92', 'Self-employed', '0.4', 'Business', '9', '0', '22', 'Rent', 'NA'),
	('1366', '77629', '15113.31', '20.57', '72', '697', '63839.47', 'Employed', '0.19', 'Business', '6', '1', '67', 'Own', 'Paid Off'),
	('1367', '62246', '25320.265', '18.23', '36', '681', '26667.49', 'Unemployed', '0.89', 'Business', 'Unreported', '1', '58', 'Mortgage', 'Current'),
	('1368', '72689', '39772.9', '2.04', '36', '440', '51721.05', 'Employed', '0.13', 'Personal', 'Unreported', '0', '30', 'Rent', 'Paid Off'),
	('1369', '99702', '29353.15', '19.74', '72', '751', '37022.23', 'Self-employed', '0.7', 'Business', '4', '0', '43', 'Own', 'Current'),
	('1370', '71065', '15140.85', '4.56', '48', '730', '86861.42', 'Self-employed', '0.7', 'Other', '1', '1', '39', 'Other', 'Current'),
	('1371', '74261', '16625.04', '23.82', '48', '771', '109117.04', 'Self-employed', '0.29', 'Education', '4', '1', '64', 'Mortgage', 'Paid Off'),
	('1372', '36794', '30018.7', '9.65', '72', '702', '102966.92', 'Employed', '0.48', 'Business', '4', '1', '43', 'Rent', 'Paid Off'),
	('1373', '27143', '37253.46', '12.38', '36', '328', '121393.94', 'Unemployed', '0.82', 'Home', '9', '1', '24', 'Mortgage', 'Current'),
	('1374', '96416', '25320.265', '2.11', '12', '712', '35611.89', 'Employed', '0.39', 'Home', 'Unreported', '1', '66', 'Own', 'Paid Off'),
	('1375', '15785', '25968.54', '20.96', '72', '730', '149008.18', 'Employed', '0.26', 'Personal', '3', '0', '68', 'Own', 'NA'),
	('1376', '48030', '44513.62', '9.09', '72', '434', '35439.06', 'Unemployed', '0.48', 'Home', '3', '0', '23', 'Own', 'Paid Off'),
	('1377', '76413', '32839.75', '14.8', '72', '409', '149197.31', 'Unemployed', '0.39', 'Personal', '2', '0', '35', 'Other', 'NA'),
	('1378', '83533', '27241.96', '23.31', '36', '692', '35878.3', 'Unemployed', '0.44', 'Personal', 'Unreported', '1', '35', 'Own', 'Current'),
	('1379', '38853', '4489.9', '5.59', '72', '350', '98375.14', 'Self-employed', '0.58', 'Personal', '2', '1', '41', 'Rent', 'Paid Off'),
	('1380', '75617', '9624.75', '21.95', '36', '344', '121219.24', 'Others', '0.44', 'Car', '6', '0', '28', 'Mortgage', 'Paid Off'),
	('1381', '70957', '10848.59', '13.51', '60', '336', '131341.66', 'Employed', '0.18', 'Home', '0', '0', '65', 'Mortgage', 'Late'),
	('1382', '22316', '31534.27', '13.245', '12', '581', '84228', 'Unemployed', '0.51', 'Other', '7', '1', '68', 'Own', 'Current'),
	('1383', '22772', '6297.52', '20.91', '36', '496', '74741.38', 'Unemployed', '0.93', 'Home', '1', '0', '49', 'Mortgage', 'Paid Off'),
	('1384', '30978', '25320.265', '12.19', '72', '586', '108367.26', 'Employed', '0.9', 'Education', 'Unreported', '1', '50', 'Rent', 'Current'),
	('1385', '79810', '18657.18', '4.04', '72', '593', '85420.16', 'Self-employed', '0.78', 'Personal', '8', '0', '22', 'Own', 'Paid Off'),
	('1386', '13670', '36224.1', '2.69', '12', '401', '85420.16', 'Unemployed', '0.96', 'Business', '7', '1', '59', 'Mortgage', 'Paid Off'),
	('1387', '81861', '34969.22', '22.11', '72', '504', '77110.97', 'Unemployed', '0.36', 'Education', '2', '1', '25', 'Mortgage', 'Paid Off'),
	('1388', '86731', '39840.85', '12.91', '36', '365', '105858.01', 'Employed', '0.36', 'Car', '5', '1', '67', 'Rent', 'Current'),
	('1389', '15947', '35116.16', '17.26', '48', '698', '107005', 'Employed', '0.34', 'Car', 'Unreported', '0', '61', 'Own', 'Paid Off'),
	('1390', '69379', '31050.99', '13.245', '36', '338', '128212.52', 'Self-employed', '0.47', 'Car', '3', '0', '32', 'Mortgage', 'Late'),
	('1391', '89280', '24821.94', '9.01', '72', '730', '113640.77', 'Employed', '0.48', 'Car', '6', '0', '45', 'Mortgage', 'Late'),
	('1392', '96648', '11216.42', '22.6', '24', '730', '25808.09', 'Employed', '0.84', 'Personal', '4', '1', '49', 'Mortgage', 'NA'),
	('1393', '43848', '28858.85', '2.63', '36', '807', '63655.04', 'Self-employed', '0.33', 'Education', '8', '1', '24', 'Own', 'Paid Off'),
	('1394', '30929', '32194.61', '8.44', '48', '730', '85420.16', 'Self-employed', '0.93', 'Home', '5', '0', '41', 'Own', 'Paid Off'),
	('1395', '44664', '7063.42', '20.67', '72', '555', '48370.22', 'Self-employed', '0.48', 'Education', '4', '0', '42', 'Mortgage', 'Paid Off'),
	('1396', '54760', '28692.22', '21.62', '72', '333', '123743.21', 'Self-employed', '0.49', 'Education', '1', '0', '43', 'Own', 'NA'),
	('1397', '74453', '5789.69', '23.73', '60', '673', '78064.62', 'Others', '0.48', 'Education', 'Unreported', '0', '69', 'Rent', 'Late'),
	('1398', '53151', '27806.76', '8.97', '72', '730', '46484.59', 'Self-employed', '0.29', 'Education', '3', '0', '35', 'Mortgage', 'Current'),
	('1399', '45817', '25320.265', '19.95', '72', '730', '22367.71', 'Self-employed', '0.2', 'Home', '6', '0', '40', 'Mortgage', 'Late'),
	('1400', '86084', '6831.66', '24.66', '72', '411', '85137.37', 'Self-employed', '0.82', 'Other', '4', '0', '25', 'Mortgage', 'Paid Off'),
	('1401', '49200', '6541.9', '14.12', '12', '795', '39852.07', 'Self-employed', '0.32', 'Personal', '0', '1', '45', 'Own', 'Current'),
	('1402', '78514', '45640.24', '7.81', '60', '789', '128620', 'Employed', '0.37', 'Home', '9', '1', '42', 'Mortgage', 'Paid Off'),
	('1403', '32579', '30306.28', '2.9', '60', '323', '92042.33', 'Employed', '0.23', 'Business', '9', '0', '50', 'Mortgage', 'Current'),
	('1404', '80848', '13257.78', '13.245', '36', '300', '51652.98', 'Employed', '0.48', 'Other', '7', '0', '54', 'Rent', 'Late'),
	('1405', '28586', '4501', '5.19', '72', '668', '85862.26', 'Unemployed', '0.96', 'Car', '6', '0', '34', 'Mortgage', 'Current'),
	('1406', '36068', '27272.89', '10.9', '36', '417', '89483.48', 'Unemployed', '0.87', 'Home', '5', '0', '67', 'Rent', 'Paid Off'),
	('1407', '41098', '8095.35', '9.11', '48', '422', '93095.19', 'Self-employed', '0.51', 'Car', '6', '1', '34', 'Own', 'Late'),
	('1408', '82536', '39141.74', '11.59', '60', '343', '139544.05', 'Self-employed', '0.65', 'Car', 'Unreported', '1', '23', 'Own', 'Current'),
	('1409', '77857', '25309.37', '13.245', '24', '635', '77729.39', 'Others', '0.28', 'Personal', '5', '0', '46', 'Mortgage', 'Late'),
	('1410', '85716', '36596', '11.8', '48', '501', '149362.15', 'Others', '0.99', 'Education', '0', '1', '44', 'Own', 'Current'),
	('1411', '54760', '20390.6', '22.99', '24', '730', '108048.44', 'Others', '0.26', 'Personal', '8', '1', '27', 'Mortgage', 'Current'),
	('1412', '20400', '35413.81', '20.52', '12', '582', '24648.72', 'Others', '0.38', 'Car', '3', '1', '36', 'Own', 'Late'),
	('1413', '23553', '34546.1', '8.63', '24', '731', '51385.26', 'Self-employed', '0.26', 'Education', '5', '1', '49', 'Rent', 'Late'),
	('1414', '75873', '28509.39', '9.32', '12', '797', '23540.43', 'Unemployed', '0.72', 'Education', '2', '1', '20', 'Rent', 'Late'),
	('1415', '27124', '42441.24', '10.51', '36', '643', '141411.9', 'Employed', '0.76', 'Home', '1', '0', '27', 'Other', 'Current'),
	('1416', '69742', '25320.265', '15.93', '12', '376', '85450.7', 'Unemployed', '0.88', 'Business', 'Unreported', '1', '29', 'Mortgage', 'NA'),
	('1417', '71804', '29327.41', '17.5', '36', '612', '139686.2', 'Others', '0.57', 'Other', '6', '1', '42', 'Mortgage', 'Current'),
	('1418', '46016', '16091.17', '24.36', '36', '700', '106489.91', 'Unemployed', '0.73', 'Home', '4', '1', '33', 'Own', 'Late'),
	('1419', '10739', '25320.265', '23.31', '24', '588', '92089.44', 'Others', '0.99', 'Home', '4', '1', '43', 'Own', 'Late'),
	('1420', '23728', '26339.84', '16.07', '60', '787', '35692.14', 'Others', '0.91', 'Car', '0', '0', '67', 'Rent', 'Late'),
	('1421', '48158', '20194.02', '3.06', '48', '622', '79173.45', 'Employed', '0.93', 'Education', '0', '1', '32', 'Rent', 'Paid Off'),
	('1422', '96589', '27540.47', '14.54', '12', '435', '135248.97', 'Employed', '0.27', 'Education', '7', '1', '45', 'Own', 'Paid Off'),
	('1423', '84140', '8116.86', '11.28', '72', '528', '81938.81', 'Self-employed', '0.75', 'Car', '2', '1', '36', 'Own', 'Current'),
	('1424', '14267', '13991.14', '13.245', '24', '740', '66589.86', 'Self-employed', '0.25', 'Other', '3', '0', '61', 'Rent', 'Late'),
	('1425', '88945', '16027.41', '2.92', '12', '334', '113049.08', 'Employed', '0.54', 'Education', 'Unreported', '1', '48', 'Rent', 'Paid Off'),
	('1426', '92098', '25320.265', '24.9', '48', '802', '22012.46', 'Self-employed', '0.74', 'Car', 'Unreported', '1', '58', 'Other', 'NA'),
	('1427', '54760', '35080.03', '13.245', '48', '671', '116915.94', 'Self-employed', '0.03', 'Personal', '3', '0', '44', 'Mortgage', 'NA'),
	('1428', '69500', '15072.92', '8.27', '72', '786', '120132.13', 'Unemployed', '0.8', 'Business', '7', '0', '44', 'Mortgage', 'Late'),
	('1429', '32344', '7652.53', '3.66', '60', '474', '137882.03', 'Self-employed', '0.13', 'Home', '7', '1', '27', 'Other', 'Late'),
	('1430', '28853', '28401.69', '14.6', '24', '735', '148738.83', 'Employed', '0.81', 'Other', '1', '1', '51', 'Own', 'Paid Off'),
	('1431', '53010', '42877.84', '10.09', '24', '316', '94504.78', 'Others', '0.65', 'Home', '1', '1', '67', 'Own', 'Late'),
	('1432', '18977', '21493.37', '10.63', '36', '577', '41766.26', 'Self-employed', '0.01', 'Business', '1', '0', '51', 'Mortgage', 'Late'),
	('1433', '30623', '24312.87', '20.15', '60', '729', '137086.26', 'Unemployed', '0.48', 'Business', '4', '0', '22', 'Own', 'Current'),
	('1434', '92627', '15171.22', '22.79', '24', '730', '31402.54', 'Employed', '0.51', 'Home', '0', '1', '26', 'Other', 'Paid Off'),
	('1435', '19557', '40632.87', '5.81', '72', '368', '38135.63', 'Unemployed', '0.01', 'Home', '2', '1', '48', 'Other', 'Late'),
	('1436', '39426', '6912.58', '13.245', '36', '781', '132424.01', 'Self-employed', '0.48', 'Personal', '5', '1', '60', 'Own', 'Paid Off'),
	('1437', '29549', '9383.35', '12.87', '60', '466', '98200.39', 'Employed', '0.15', 'Business', '6', '0', '66', 'Rent', 'Current'),
	('1438', '89717', '49997.87', '4.6', '12', '535', '94192.16', 'Unemployed', '0.65', 'Personal', '2', '1', '45', 'Mortgage', 'Paid Off'),
	('1439', '58248', '34428.57', '10.89', '12', '310', '28801.64', 'Unemployed', '0.91', 'Other', '7', '1', '54', 'Own', 'NA'),
	('1440', '24998', '27854.57', '8.95', '48', '691', '66360.64', 'Employed', '0.6', 'Education', '4', '1', '46', 'Mortgage', 'Late'),
	('1441', '15330', '39960.29', '23.21', '24', '770', '21669.26', 'Employed', '0.9', 'Personal', 'Unreported', '1', '25', 'Rent', 'Late'),
	('1442', '54760', '49847.24', '6.57', '36', '608', '148833.99', 'Employed', '0.47', 'Home', '1', '0', '25', 'Own', 'NA'),
	('1443', '85953', '10352.84', '13.245', '24', '622', '64790.62', 'Employed', '0.96', 'Car', '5', '1', '43', 'Rent', 'Paid Off'),
	('1444', '31530', '39778.26', '6.97', '36', '312', '124125.07', 'Employed', '0.85', 'Car', 'Unreported', '1', '38', 'Other', 'Paid Off'),
	('1445', '72200', '25320.265', '16.39', '24', '730', '85420.16', 'Self-employed', '0.87', 'Home', '1', '1', '30', 'Mortgage', 'Late'),
	('1446', '67988', '36830.4', '15.39', '60', '575', '94032.89', 'Unemployed', '0.2', 'Car', '0', '1', '58', 'Mortgage', 'Current'),
	('1447', '25469', '25320.265', '12.55', '72', '580', '85420.16', 'Employed', '0.03', 'Education', 'Unreported', '0', '61', 'Rent', 'Late'),
	('1448', '72490', '49918.17', '20.79', '24', '672', '35035.75', 'Self-employed', '0.11', 'Personal', '7', '0', '18', 'Own', 'NA'),
	('1449', '42444', '6481.73', '7.12', '48', '576', '91759.27', 'Unemployed', '0.36', 'Business', '1', '1', '39', 'Mortgage', 'Paid Off'),
	('1450', '53251', '1104.14', '12.98', '24', '730', '58901.33', 'Self-employed', '0.98', 'Education', 'Unreported', '1', '54', 'Mortgage', 'Current'),
	('1451', '95615', '37641.44', '24.6', '72', '823', '94396.84', 'Self-employed', '0.74', 'Other', '8', '1', '43', 'Mortgage', 'Late'),
	('1452', '32099', '28870.07', '6.22', '72', '322', '55323.1', 'Unemployed', '0.77', 'Home', 'Unreported', '1', '63', 'Rent', 'Paid Off'),
	('1453', '54760', '34852.83', '14.54', '12', '730', '33771.12', 'Self-employed', '0.13', 'Other', '6', '0', '58', 'Rent', 'Current'),
	('1454', '14754', '37922.73', '8.74', '48', '635', '36283.16', 'Self-employed', '0.58', 'Other', '4', '1', '67', 'Own', 'Late'),
	('1455', '54153', '25181.82', '4.85', '36', '485', '37709.67', 'Employed', '0.36', 'Car', '4', '0', '25', 'Rent', 'Late'),
	('1456', '61808', '18470.19', '21.59', '36', '497', '124040.82', 'Employed', '0.88', 'Business', '2', '1', '33', 'Own', 'Late'),
	('1457', '86123', '38748.42', '13.245', '24', '534', '94391.75', 'Employed', '0.35', 'Business', 'Unreported', '1', '35', 'Rent', 'Paid Off'),
	('1458', '37428', '19626.37', '15.31', '24', '849', '94423.8', 'Unemployed', '0.48', 'Other', '9', '0', '46', 'Own', 'Current'),
	('1459', '74870', '31487.42', '14.54', '72', '596', '85420.16', 'Self-employed', '0.2', 'Car', '1', '0', '43', 'Rent', 'Paid Off'),
	('1460', '74916', '44776.9', '6.24', '24', '470', '127225.93', 'Unemployed', '0.27', 'Education', '6', '0', '55', 'Own', 'Current'),
	('1461', '15612', '8761.18', '15.08', '72', '730', '60656.81', 'Employed', '0.68', 'Education', '5', '1', '68', 'Own', 'NA'),
	('1462', '60834', '1436.4', '4.1', '24', '357', '62402.32', 'Employed', '0.48', 'Personal', '1', '1', '41', 'Rent', 'Paid Off'),
	('1463', '39233', '13581.07', '17.7', '12', '341', '25063.14', 'Unemployed', '0.75', 'Car', '5', '0', '21', 'Mortgage', 'Current'),
	('1464', '98687', '40076.13', '13.245', '60', '797', '73711.75', 'Unemployed', '0.96', 'Car', '1', '0', '46', 'Other', 'Current'),
	('1465', '54760', '28774.46', '13.245', '24', '482', '73711.77', 'Employed', '0.57', 'Other', '7', '1', '34', 'Own', 'Current'),
	('1466', '54760', '47361.88', '8.77', '60', '464', '84075.5', 'Employed', '0.12', 'Home', 'Unreported', '1', '26', 'Own', 'Paid Off'),
	('1467', '34391', '27845.83', '13.245', '60', '653', '85420.16', 'Unemployed', '0.48', 'Personal', '6', '1', '54', 'Own', 'Current'),
	('1468', '46560', '14023.29', '20.68', '72', '821', '41035.75', 'Self-employed', '0.61', 'Education', '1', '1', '33', 'Rent', 'Late'),
	('1469', '85841', '38528.38', '8.62', '48', '730', '79095.06', 'Unemployed', '0.13', 'Education', '4', '1', '18', 'Own', 'Paid Off'),
	('1470', '94056', '33219.97', '3.7', '48', '572', '61334.87', 'Unemployed', '1', 'Education', '2', '0', '68', 'Mortgage', 'Current'),
	('1471', '57376', '41213.48', '3.56', '48', '599', '68464.94', 'Employed', '0.36', 'Business', '4', '0', '33', 'Mortgage', 'Late'),
	('1472', '16445', '33731.93', '5.44', '24', '685', '50534.2', 'Self-employed', '0.16', 'Home', '4', '0', '20', 'Mortgage', 'Paid Off'),
	('1473', '65679', '23145.5', '11.07', '12', '605', '58812.62', 'Unemployed', '0.51', 'Other', '1', '0', '22', 'Own', 'Paid Off'),
	('1474', '42933', '14577.05', '6.53', '60', '507', '70169.03', 'Employed', '0.24', 'Other', '6', '0', '44', 'Rent', 'Late'),
	('1475', '92354', '25320.265', '7.41', '60', '605', '106302.11', 'Unemployed', '0.15', 'Car', '6', '1', '39', 'Other', 'Late'),
	('1476', '54760', '16088.88', '6.23', '60', '817', '104004.39', 'Self-employed', '0.7', 'Home', '1', '1', '45', 'Rent', 'Current'),
	('1477', '84756', '3266.67', '8.87', '24', '302', '85420.16', 'Others', '0.01', 'Business', '3', '1', '37', 'Own', 'Current'),
	('1478', '54760', '22071.33', '13.245', '60', '730', '148958.23', 'Self-employed', '0.48', 'Home', '0', '0', '28', 'Own', 'Paid Off'),
	('1479', '74552', '12064.2', '24.34', '72', '302', '147864.33', 'Self-employed', '0.68', 'Car', 'Unreported', '0', '29', 'Other', 'Paid Off'),
	('1480', '38558', '35478.73', '20.22', '72', '389', '141021.76', 'Self-employed', '0.57', 'Business', '3', '0', '38', 'Mortgage', 'NA'),
	('1481', '54273', '11788.75', '13.245', '12', '390', '85420.16', 'Self-employed', '0.77', 'Personal', '3', '0', '65', 'Own', 'NA'),
	('1482', '90266', '4990.16', '20.47', '36', '722', '85420.16', 'Self-employed', '0.06', 'Education', '1', '1', '34', 'Other', 'Current'),
	('1483', '83115', '42101.07', '18.33', '24', '730', '46425.57', 'Unemployed', '0.31', 'Car', 'Unreported', '0', '27', 'Rent', 'Paid Off'),
	('1484', '46174', '3941.61', '22.83', '60', '807', '147187.77', 'Self-employed', '0.84', 'Car', 'Unreported', '0', '48', 'Rent', 'NA'),
	('1485', '14966', '37796.96', '12', '36', '480', '62699.82', 'Self-employed', '0.4', 'Other', 'Unreported', '0', '57', 'Own', 'Current'),
	('1486', '48285', '46541.84', '21.94', '36', '743', '64274.87', 'Employed', '0.19', 'Business', '4', '0', '46', 'Rent', 'Paid Off'),
	('1487', '96742', '6249.33', '18.06', '12', '471', '88782.91', 'Employed', '0.34', 'Home', '2', '1', '54', 'Own', 'Paid Off'),
	('1488', '49965', '28423.73', '8.28', '36', '664', '20395.82', 'Unemployed', '0.18', 'Car', '6', '1', '29', 'Own', 'Current'),
	('1489', '84702', '23134.61', '10.96', '24', '337', '91820.93', 'Employed', '0.48', 'Business', '4', '1', '43', 'Rent', 'Late'),
	('1490', '33722', '40136.79', '21.29', '12', '759', '39408.58', 'Employed', '0.78', 'Personal', '3', '1', '48', 'Own', 'Paid Off'),
	('1491', '54760', '31550.52', '20.58', '48', '497', '77801.71', 'Others', '0.21', 'Personal', 'Unreported', '1', '68', 'Own', 'NA'),
	('1492', '33771', '14635.4', '7.65', '12', '678', '31210.78', 'Unemployed', '0.88', 'Other', '8', '1', '66', 'Mortgage', 'Late'),
	('1493', '17278', '1071.98', '21.23', '36', '476', '44256.26', 'Others', '0.34', 'Education', '7', '0', '66', 'Rent', 'Paid Off'),
	('1494', '46535', '24660.52', '23.75', '48', '400', '68950.24', 'Self-employed', '0.82', 'Business', '3', '1', '41', 'Own', 'Current'),
	('1495', '25101', '44811.34', '22.19', '12', '759', '88263.6', 'Employed', '0.62', 'Business', '7', '1', '60', 'Mortgage', 'Current'),
	('1496', '60306', '45362.8', '10.77', '60', '645', '101835.61', 'Unemployed', '0.04', 'Business', '8', '1', '61', 'Rent', 'NA'),
	('1497', '54760', '7139.55', '14.45', '12', '419', '85420.16', 'Unemployed', '0.63', 'Home', '7', '0', '21', 'Rent', 'Late'),
	('1498', '93584', '43173.17', '21.46', '48', '438', '33721.74', 'Others', '0.89', 'Home', '5', '1', '57', 'Rent', 'Late'),
	('1499', '29807', '2687.13', '18.48', '48', '636', '33941.23', 'Employed', '0.53', 'Home', '5', '1', '58', 'Mortgage', 'Current'),
	('1500', '75720', '5525.11', '18.31', '12', '378', '20261.08', 'Employed', '0.56', 'Education', '9', '0', '43', 'Mortgage', 'Current'),
	('1501', '50046', '48344.82', '8.56', '48', '462', '56197.8', 'Unemployed', '0.3', 'Personal', '6', '0', '53', 'Rent', 'Paid Off'),
	('1502', '54742', '19961.4', '16.05', '72', '492', '124242.71', 'Self-employed', '0.48', 'Other', '5', '0', '43', 'Own', 'Late'),
	('1503', '80610', '4468.41', '3.25', '36', '660', '106877.81', 'Self-employed', '0.56', 'Business', '3', '0', '40', 'Own', 'Current'),
	('1504', '54760', '24052.31', '8.83', '48', '698', '126393.82', 'Unemployed', '0.97', 'Car', '1', '0', '37', 'Own', 'Current'),
	('1505', '42511', '3260.71', '6.66', '60', '840', '148008.92', 'Unemployed', '0.39', 'Home', '0', '0', '24', 'Rent', 'NA'),
	('1506', '88587', '1802.14', '10.9', '12', '394', '140810.55', 'Self-employed', '0.07', 'Personal', '5', '0', '43', 'Rent', 'Paid Off'),
	('1507', '61917', '28525.76', '18.98', '72', '584', '110792.06', 'Others', '0.48', 'Home', '8', '0', '23', 'Own', 'Paid Off'),
	('1508', '16462', '11349.1', '7.99', '60', '664', '22974.75', 'Self-employed', '0.17', 'Education', '6', '0', '29', 'Rent', 'Late'),
	('1509', '63203', '31473.72', '6.12', '24', '711', '28353.59', 'Unemployed', '0.63', 'Personal', '5', '0', '43', 'Rent', 'Current'),
	('1510', '57263', '17400.26', '21.37', '48', '453', '148777.8', 'Unemployed', '0.23', 'Home', '2', '1', '19', 'Rent', 'Current'),
	('1511', '14983', '7491.37', '23.05', '36', '392', '74591.69', 'Unemployed', '0.77', 'Home', '1', '1', '68', 'Rent', 'Late'),
	('1512', '83628', '49235.69', '12.26', '36', '681', '125136.27', 'Unemployed', '0.43', 'Car', '0', '1', '43', 'Rent', 'Current'),
	('1513', '69707', '13247.13', '7.62', '12', '522', '90335.31', 'Employed', '0.48', 'Business', '9', '1', '33', 'Rent', 'Current'),
	('1514', '72968', '4036.88', '7.8', '24', '634', '141262.6', 'Self-employed', '0.48', 'Home', '7', '1', '62', 'Mortgage', 'Late'),
	('1515', '39011', '14662.99', '11.57', '36', '835', '115784.7', 'Self-employed', '0.79', 'Other', '7', '1', '45', 'Mortgage', 'Paid Off'),
	('1516', '52344', '13333.3', '13.245', '12', '652', '95397.9', 'Employed', '0.68', 'Business', '0', '0', '45', 'Rent', 'Paid Off'),
	('1517', '99689', '15682.67', '14.91', '36', '798', '72886.54', 'Unemployed', '0.49', 'Home', '2', '0', '40', 'Own', 'Late'),
	('1518', '87807', '18428.04', '15.28', '24', '655', '81051.21', 'Others', '0.84', 'Personal', '5', '1', '30', 'Mortgage', 'Late'),
	('1519', '13869', '25320.265', '24.5', '36', '399', '23012.52', 'Others', '0.48', 'Home', '2', '1', '31', 'Other', 'Paid Off'),
	('1520', '74284', '3929.44', '13.245', '36', '546', '85420.16', 'Employed', '0.99', 'Business', '3', '0', '55', 'Mortgage', 'Paid Off'),
	('1521', '54760', '18372.1', '12.93', '36', '525', '145238.84', 'Self-employed', '0.48', 'Car', '9', '1', '40', 'Own', 'Current'),
	('1522', '74810', '6083.53', '13.03', '12', '683', '71319.98', 'Unemployed', '0.94', 'Business', '1', '0', '52', 'Own', 'Current'),
	('1523', '46564', '49127.64', '14.74', '36', '642', '85420.16', 'Self-employed', '0.4', 'Personal', '6', '1', '39', 'Own', 'Paid Off'),
	('1524', '15393', '8054.61', '5.86', '12', '825', '71206.8', 'Others', '0.47', 'Personal', '4', '1', '57', 'Rent', 'Paid Off'),
	('1525', '54711', '24472.71', '5.89', '12', '815', '36493.16', 'Others', '0.49', 'Education', '2', '1', '68', 'Mortgage', 'Paid Off'),
	('1526', '44274', '24522.13', '11.56', '36', '450', '132132.45', 'Employed', '0.25', 'Education', '0', '0', '40', 'Own', 'Paid Off'),
	('1527', '25920', '39277.73', '15.94', '12', '500', '134705.84', 'Employed', '0.06', 'Car', '1', '0', '46', 'Rent', 'Paid Off'),
	('1528', '90086', '14335.15', '8.96', '24', '846', '137511.67', 'Self-employed', '0.4', 'Home', '6', '0', '43', 'Other', 'Paid Off'),
	('1529', '17213', '37150.92', '13.245', '48', '691', '22861.17', 'Employed', '0.13', 'Home', '6', '1', '20', 'Own', 'Paid Off'),
	('1530', '43914', '25320.265', '24.7', '60', '578', '85420.16', 'Self-employed', '0.48', 'Home', '7', '0', '46', 'Mortgage', 'Current'),
	('1531', '72998', '46430.37', '2.7', '60', '847', '69707.47', 'Unemployed', '0.55', 'Business', '4', '0', '27', 'Rent', 'Current'),
	('1532', '38903', '5848.83', '12.71', '36', '730', '42949.79', 'Employed', '0.46', 'Personal', '0', '0', '34', 'Rent', 'NA'),
	('1533', '32014', '24560.65', '12.9', '48', '624', '50444.86', 'Others', '0.65', 'Business', '7', '1', '69', 'Rent', 'NA'),
	('1534', '25708', '9498.06', '13.245', '60', '781', '80819.89', 'Self-employed', '0.54', 'Home', '0', '1', '66', 'Mortgage', 'Late'),
	('1535', '27729', '19062.22', '8.13', '48', '730', '57915.47', 'Unemployed', '0.48', 'Home', '4', '1', '60', 'Other', 'Late'),
	('1536', '11365', '25320.265', '20.4', '12', '681', '132837.91', 'Unemployed', '0.8', 'Business', '8', '1', '43', 'Rent', 'Current'),
	('1537', '73298', '7981.14', '11.22', '24', '821', '36090.51', 'Unemployed', '0.03', 'Business', '1', '1', '40', 'Mortgage', 'Late'),
	('1538', '89392', '15166.32', '4.19', '36', '457', '94641.59', 'Unemployed', '0.72', 'Car', '8', '0', '49', 'Own', 'NA'),
	('1539', '94402', '34279.93', '16.49', '36', '730', '61922.62', 'Self-employed', '0.78', 'Car', '5', '0', '32', 'Mortgage', 'NA'),
	('1540', '66227', '42382.68', '2.61', '12', '327', '35273.9', 'Unemployed', '0.44', 'Car', '7', '1', '43', 'Rent', 'Late'),
	('1541', '54760', '30051.99', '18.49', '60', '813', '48832.5', 'Employed', '0.07', 'Business', '8', '1', '41', 'Rent', 'Current'),
	('1542', '28583', '26626.25', '2.28', '48', '706', '100137.92', 'Unemployed', '0.48', 'Personal', '4', '0', '43', 'Rent', 'Current'),
	('1543', '26371', '6370.84', '13.245', '72', '788', '123966.71', 'Self-employed', '0.51', 'Car', '2', '1', '54', 'Own', 'Paid Off'),
	('1544', '12170', '8180.48', '22.03', '72', '638', '98954.17', 'Employed', '0.64', 'Personal', '4', '1', '41', 'Rent', 'Late'),
	('1545', '61282', '47951.38', '18.06', '60', '333', '94957.92', 'Unemployed', '0.24', 'Business', '0', '0', '69', 'Mortgage', 'Paid Off'),
	('1546', '54760', '1128.62', '16.36', '72', '317', '79171.77', 'Unemployed', '0.61', 'Home', '7', '0', '56', 'Mortgage', 'Late'),
	('1547', '92009', '24736.52', '11.93', '60', '730', '85420.16', 'Others', '0.5', 'Business', '3', '0', '36', 'Own', 'Current'),
	('1548', '68094', '25320.265', '9.73', '60', '536', '60614.26', 'Unemployed', '0.14', 'Education', 'Unreported', '0', '21', 'Mortgage', 'Current'),
	('1549', '13185', '11288.19', '13.245', '36', '616', '91415.78', 'Others', '0.07', 'Business', '4', '1', '64', 'Own', 'Late'),
	('1550', '18347', '23518.62', '10.63', '72', '481', '104195.78', 'Others', '0.48', 'Home', '6', '1', '20', 'Mortgage', 'Paid Off'),
	('1551', '45081', '25320.265', '13.245', '36', '619', '85367.35', 'Self-employed', '0.79', 'Business', '1', '0', '43', 'Own', 'Paid Off'),
	('1552', '87939', '13759.46', '5.3', '24', '412', '39284.5', 'Self-employed', '0.01', 'Business', '2', '1', '32', 'Rent', 'Late'),
	('1553', '77409', '44058.81', '13.245', '12', '734', '122911.22', 'Employed', '0.46', 'Other', '7', '1', '54', 'Mortgage', 'Paid Off'),
	('1554', '22683', '46332.65', '16.4', '24', '725', '127080.56', 'Employed', '0.99', 'Personal', '6', '1', '58', 'Mortgage', 'Paid Off'),
	('1555', '31568', '37717.51', '10.61', '60', '761', '129071.98', 'Unemployed', '0.24', 'Business', '5', '0', '64', 'Rent', 'Paid Off'),
	('1556', '45063', '1423.19', '24.59', '48', '728', '56014.11', 'Employed', '0.49', 'Car', '6', '1', '55', 'Other', 'Current'),
	('1557', '29961', '31817.35', '22.07', '60', '816', '85420.16', 'Employed', '0.66', 'Car', '2', '1', '35', 'Rent', 'Late'),
	('1558', '27700', '12373.48', '15.96', '48', '838', '85420.16', 'Employed', '0.86', 'Education', '1', '0', '23', 'Own', 'Current'),
	('1559', '54760', '14092.05', '13.245', '60', '463', '64602.8', 'Self-employed', '0.48', 'Business', '2', '0', '60', 'Rent', 'Late'),
	('1560', '95701', '10006.39', '10.49', '36', '658', '126255.17', 'Unemployed', '0.66', 'Personal', '8', '1', '41', 'Own', 'Late'),
	('1561', '91598', '29048.16', '3.53', '48', '807', '99471.96', 'Unemployed', '0.52', 'Personal', '2', '0', '55', 'Own', 'Paid Off'),
	('1562', '41940', '22889.21', '9.88', '12', '382', '104298.76', 'Employed', '0.5', 'Business', '8', '1', '18', 'Rent', 'Current'),
	('1563', '64441', '10484.64', '7.65', '24', '506', '64724.45', 'Unemployed', '0.5', 'Business', '1', '1', '49', 'Mortgage', 'NA'),
	('1564', '29088', '46699.41', '16', '24', '476', '50119.62', 'Unemployed', '0.37', 'Home', '6', '1', '56', 'Rent', 'Paid Off'),
	('1565', '54760', '12721.93', '18.56', '24', '744', '133241.04', 'Others', '0.48', 'Home', '5', '1', '43', 'Own', 'Late'),
	('1566', '36720', '39158.21', '8.73', '24', '826', '46144.2', 'Employed', '0.54', 'Other', '0', '1', '69', 'Own', 'Current'),
	('1567', '39827', '2209.85', '14.56', '60', '656', '87256.71', 'Unemployed', '0.56', 'Personal', '3', '1', '63', 'Own', 'Current'),
	('1568', '27800', '9990.53', '20.1', '60', '565', '22583.57', 'Unemployed', '0.42', 'Personal', '3', '1', '43', 'Mortgage', 'Paid Off'),
	('1569', '64078', '41124.44', '16.76', '12', '519', '56023.42', 'Employed', '0.2', 'Business', '5', '0', '32', 'Mortgage', 'Late'),
	('1570', '11193', '27284.9', '19.1', '36', '571', '85420.16', 'Employed', '0.48', 'Personal', '3', '1', '48', 'Mortgage', 'Late'),
	('1571', '52826', '32659.27', '13.245', '36', '622', '27119.83', 'Employed', '0.09', 'Business', '9', '0', '24', 'Rent', 'Paid Off'),
	('1572', '67446', '22016.02', '16.61', '24', '447', '64778.24', 'Self-employed', '0.48', 'Education', '5', '0', '57', 'Other', 'Late'),
	('1573', '19820', '22345.97', '8.3', '60', '418', '91635.97', 'Employed', '0.76', 'Business', 'Unreported', '1', '57', 'Own', 'NA'),
	('1574', '58223', '7144.8', '7.31', '36', '684', '123603.04', 'Self-employed', '0.85', 'Business', '1', '0', '59', 'Own', 'Current'),
	('1575', '76443', '25320.265', '8.23', '36', '518', '124504.04', 'Employed', '1', 'Business', '5', '1', '54', 'Mortgage', 'Paid Off'),
	('1576', '55639', '46030.86', '10.43', '72', '337', '27722.88', 'Employed', '0.8', 'Business', '4', '0', '32', 'Own', 'Paid Off'),
	('1577', '90759', '25320.265', '12.83', '36', '546', '146283.41', 'Employed', '0.85', 'Car', '9', '0', '51', 'Mortgage', 'Late'),
	('1578', '43865', '24150.3', '7.27', '24', '834', '118269.06', 'Self-employed', '0.03', 'Car', '5', '0', '32', 'Mortgage', 'Late'),
	('1579', '61032', '33650.21', '10.05', '12', '357', '148262.85', 'Others', '0.07', 'Education', 'Unreported', '1', '43', 'Own', 'NA'),
	('1580', '45560', '1692.22', '22.62', '24', '847', '30664.66', 'Unemployed', '0.92', 'Business', '4', '1', '47', 'Mortgage', 'NA'),
	('1581', '68593', '27102.01', '13.245', '60', '760', '31361.81', 'Unemployed', '0.76', 'Car', '9', '1', '38', 'Rent', 'Late'),
	('1582', '71243', '44381.44', '13.245', '24', '511', '85420.16', 'Self-employed', '0.22', 'Personal', '5', '1', '51', 'Other', 'Current'),
	('1583', '96734', '25320.265', '3.4', '24', '327', '72066.78', 'Employed', '0.82', 'Other', '8', '0', '47', 'Own', 'Current'),
	('1584', '54760', '21217.58', '18.3', '36', '704', '145183.34', 'Self-employed', '0.52', 'Business', '7', '1', '43', 'Mortgage', 'Late'),
	('1585', '54559', '23212.2', '14.18', '60', '471', '59432.41', 'Self-employed', '0.55', 'Education', '2', '0', '60', 'Own', 'Late'),
	('1586', '84756', '42900', '12.91', '12', '412', '65945.3', 'Self-employed', '0.74', 'Car', 'Unreported', '1', '41', 'Mortgage', 'Current'),
	('1587', '73382', '30890.05', '2.79', '72', '610', '21981.56', 'Others', '0.7', 'Car', '9', '1', '56', 'Mortgage', 'Current'),
	('1588', '11716', '37620.19', '24.11', '72', '576', '138748.81', 'Unemployed', '0.8', 'Other', '8', '1', '58', 'Mortgage', 'Late'),
	('1589', '57170', '36189.36', '21.41', '36', '558', '116470.73', 'Unemployed', '0.65', 'Business', '4', '1', '32', 'Rent', 'Late'),
	('1590', '95831', '3492.13', '20.87', '36', '549', '51502.63', 'Employed', '0.53', 'Personal', '8', '1', '49', 'Rent', 'Late'),
	('1591', '17533', '48858.28', '22.13', '48', '730', '80166.13', 'Self-employed', '0.28', 'Business', '1', '0', '41', 'Mortgage', 'Current'),
	('1592', '36952', '35604.2', '13.245', '72', '462', '36397.72', 'Employed', '0.19', 'Business', '5', '0', '44', 'Mortgage', 'Paid Off'),
	('1593', '54760', '29426.14', '5.21', '72', '730', '38488.58', 'Unemployed', '0.6', 'Education', '9', '1', '36', 'Rent', 'NA'),
	('1594', '24809', '3213.65', '24.34', '24', '812', '109138.38', 'Employed', '0.38', 'Personal', '0', '1', '37', 'Mortgage', 'NA'),
	('1595', '84969', '459859.8', '13.245', '72', '730', '748909.6', 'Self-employed', '0.62', 'Car', '2', '1', '40', 'Rent', 'Late'),
	('1596', '31395', '24008.28', '18.01', '36', '556', '96575.11', 'Employed', '0.84', 'Business', '6', '1', '24', 'Own', 'NA'),
	('1597', '50766', '45648.43', '8.72', '36', '493', '21932.92', 'Self-employed', '0.42', 'Business', '6', '0', '22', 'Own', 'Current'),
	('1598', '18989', '21501.94', '2.03', '72', '730', '79032.58', 'Unemployed', '0.37', 'Home', '1', '0', '30', 'Mortgage', 'Paid Off'),
	('1599', '21133', '29287.95', '13.17', '72', '819', '51665.07', 'Self-employed', '0.48', 'Home', '8', '1', '49', 'Rent', 'Current'),
	('1600', '32627', '44792.18', '15.68', '36', '357', '97002.62', 'Unemployed', '0.95', 'Home', '9', '0', '60', 'Own', 'Late'),
	('1601', '42282', '23580.72', '24.86', '36', '743', '53011.14', 'Unemployed', '0.34', 'Car', '3', '1', '43', 'Rent', 'Late'),
	('1602', '21111', '9797.04', '5.06', '48', '742', '27512.27', 'Unemployed', '0.99', 'Car', '9', '1', '26', 'Rent', 'Current'),
	('1603', '39951', '25320.265', '4.04', '72', '348', '51149.03', 'Self-employed', '0.28', 'Car', '9', '1', '23', 'Own', 'Current'),
	('1604', '17752', '19699.7', '11.81', '12', '675', '22278.48', 'Others', '0.17', 'Personal', '7', '0', '43', 'Rent', 'Late'),
	('1605', '92175', '36812.29', '19.27', '36', '500', '44320.71', 'Employed', '0.47', 'Car', '2', '1', '60', 'Mortgage', 'Current'),
	('1606', '99955', '42195.95', '9.82', '48', '613', '112782.53', 'Self-employed', '0.41', 'Car', '0', '1', '63', 'Rent', 'Current'),
	('1607', '49538', '1555.28', '17.23', '12', '784', '85420.16', 'Self-employed', '0.58', 'Education', '8', '0', '57', 'Own', 'Late'),
	('1608', '75198', '25245.94', '22.46', '72', '497', '122772.41', 'Employed', '0.48', 'Home', '9', '1', '21', 'Own', 'Paid Off'),
	('1609', '68890', '14096.08', '20.24', '60', '577', '47017.29', 'Employed', '0.25', 'Business', '3', '1', '66', 'Other', 'Late'),
	('1610', '54760', '9057.2', '4.34', '72', '450', '104787.98', 'Employed', '0.77', 'Car', '8', '1', '46', 'Own', 'Current'),
	('1611', '41231', '33619.58', '12.26', '60', '752', '36078.12', 'Self-employed', '0.4', 'Education', '0', '0', '27', 'Own', 'Paid Off'),
	('1612', '97391', '41941.74', '2.87', '24', '404', '42430.31', 'Self-employed', '0.98', 'Business', '0', '0', '43', 'Own', 'Paid Off'),
	('1613', '39659', '27675.88', '5.88', '48', '788', '106605.8', 'Self-employed', '0.52', 'Education', '0', '1', '57', 'Own', 'Late'),
	('1614', '11677', '10495.91', '19.73', '48', '704', '77739.25', 'Self-employed', '0.12', 'Personal', '1', '1', '24', 'Other', 'NA'),
	('1615', '31454', '37812.98', '6', '36', '369', '79790.51', 'Self-employed', '0.22', 'Home', '8', '1', '64', 'Own', 'Current'),
	('1616', '81685', '26545.3', '14.85', '72', '629', '62991.79', 'Employed', '0.84', 'Personal', '2', '1', '43', 'Mortgage', 'Paid Off'),
	('1617', '34983', '40427.27', '16.14', '36', '424', '85420.16', 'Self-employed', '0.3', 'Education', '5', '0', '43', 'Mortgage', 'NA'),
	('1618', '81271', '48271.42', '5.6', '60', '516', '78195.5', 'Unemployed', '0.21', 'Business', 'Unreported', '0', '35', 'Mortgage', 'NA'),
	('1619', '25409', '21548.2', '23.04', '60', '567', '132884.11', 'Others', '0.74', 'Car', '8', '1', '56', 'Rent', 'Late'),
	('1620', '60533', '16631.1', '3.35', '72', '730', '39674.2', 'Self-employed', '0.24', 'Personal', '5', '1', '65', 'Own', 'Current'),
	('1621', '28293', '14821.9', '23.14', '72', '730', '88844.45', 'Self-employed', '0.35', 'Car', '0', '1', '32', 'Own', 'Current'),
	('1622', '66248', '34858.34', '4.62', '60', '410', '20744.16', 'Employed', '0.93', 'Car', 'Unreported', '0', '40', 'Own', 'Current'),
	('1623', '74939', '48621.99', '22.72', '12', '561', '111847.13', 'Unemployed', '0.08', 'Education', '4', '0', '29', 'Own', 'Late'),
	('1624', '79784', '15005.13', '10.46', '48', '800', '127218.66', 'Self-employed', '0.73', 'Car', '2', '1', '30', 'Own', 'Late'),
	('1625', '95329', '23651.63', '20.17', '60', '322', '128644.54', 'Employed', '0.35', 'Education', '3', '1', '43', 'Rent', 'Current'),
	('1626', '72997', '29240.22', '13.245', '12', '652', '110042.77', 'Unemployed', '0.09', 'Personal', '7', '1', '45', 'Rent', 'Current'),
	('1627', '98030', '47742.26', '13.245', '36', '593', '58357.03', 'Employed', '0.62', 'Business', '4', '1', '25', 'Rent', 'Current'),
	('1628', '55119', '13110.11', '21.6', '12', '363', '31108.76', 'Unemployed', '0.96', 'Car', '4', '0', '46', 'Mortgage', 'Paid Off'),
	('1629', '64617', '48120.02', '14.09', '36', '668', '58519.82', 'Self-employed', '0.48', 'Education', '3', '1', '43', 'Own', 'Late'),
	('1630', '99381', '26677.28', '13.245', '48', '713', '131402.01', 'Unemployed', '0.48', 'Home', '5', '0', '28', 'Rent', 'Current'),
	('1631', '94913', '36690.96', '11.08', '72', '459', '50170.7', 'Self-employed', '0.06', 'Other', '6', '1', '51', 'Mortgage', 'Current'),
	('1632', '97208', '39285.7', '3.3', '60', '464', '111702.99', 'Self-employed', '0.09', 'Business', '1', '1', '44', 'Mortgage', 'Late'),
	('1633', '54760', '9065.85', '2.34', '48', '359', '71734.99', 'Employed', '0.01', 'Other', '9', '0', '67', 'Rent', 'Current'),
	('1634', '86138', '48762.49', '19.1', '48', '847', '34362.09', 'Employed', '0.25', 'Education', '7', '0', '49', 'Mortgage', 'Late'),
	('1635', '66543', '48829.91', '11.55', '60', '602', '44990.46', 'Unemployed', '0.48', 'Personal', '1', '0', '41', 'Mortgage', 'Paid Off'),
	('1636', '85040', '25320.265', '5.48', '36', '428', '123112.85', 'Self-employed', '0.14', 'Other', 'Unreported', '1', '35', 'Rent', 'Current'),
	('1637', '49105', '42324.39', '22.05', '72', '421', '145096.38', 'Self-employed', '0.59', 'Business', '3', '1', '63', 'Own', 'Late'),
	('1638', '54760', '169869.6', '16.67', '24', '663', '85420.16', 'Self-employed', '0.11', 'Other', '7', '1', '47', 'Rent', 'Paid Off'),
	('1639', '92293', '42751.26', '12.91', '36', '598', '85420.16', 'Unemployed', '0.27', 'Personal', '5', '1', '37', 'Mortgage', 'Late'),
	('1640', '54760', '44528.07', '10.21', '24', '321', '89942.43', 'Unemployed', '0.18', 'Home', '5', '1', '56', 'Rent', 'Late'),
	('1641', '65332', '14059.8', '9.93', '60', '699', '50190.73', 'Unemployed', '0.48', 'Home', '4', '1', '52', 'Mortgage', 'Current'),
	('1642', '24074', '9362.15', '10.54', '12', '736', '130554.92', 'Self-employed', '0.03', 'Education', '9', '1', '23', 'Mortgage', 'Current'),
	('1643', '12073', '38091.96', '22.39', '60', '639', '132936.1', 'Employed', '0.42', 'Business', '0', '1', '50', 'Mortgage', 'Late'),
	('1644', '87772', '29309.03', '10.71', '12', '455', '54275.94', 'Self-employed', '0.2', 'Business', '2', '0', '18', 'Other', 'NA'),
	('1645', '81752', '6285.3', '2.44', '72', '793', '76807.09', 'Others', '0.51', 'Personal', 'Unreported', '1', '46', 'Other', 'Paid Off'),
	('1646', '57628', '20575.77', '5.33', '60', '411', '22584.93', 'Employed', '0.48', 'Personal', '3', '0', '43', 'Own', 'Late'),
	('1647', '40403', '17268', '9.96', '36', '393', '82970.87', 'Unemployed', '0.5', 'Education', '4', '0', '43', 'Own', 'NA'),
	('1648', '32922', '33373.85', '5.83', '36', '340', '140401.46', 'Unemployed', '0.75', 'Home', 'Unreported', '1', '39', 'Rent', 'Paid Off'),
	('1649', '98583', '21599.85', '20.93', '48', '580', '33206.28', 'Unemployed', '0.65', 'Car', '6', '1', '45', 'Own', 'Current'),
	('1650', '54760', '32785.14', '24.97', '36', '466', '48613.49', 'Self-employed', '0.58', 'Business', '2', '1', '44', 'Own', 'Late'),
	('1651', '25452', '40170.02', '9.69', '48', '453', '119270.07', 'Self-employed', '0.77', 'Home', '1', '1', '33', 'Rent', 'Current'),
	('1652', '28888', '35646.56', '13.16', '48', '536', '39906.12', 'Unemployed', '0.91', 'Education', 'Unreported', '1', '31', 'Rent', 'Paid Off'),
	('1653', '48115', '31259.23', '3.1', '48', '462', '121307.86', 'Unemployed', '0.39', 'Home', '9', '1', '19', 'Mortgage', 'Current'),
	('1654', '45025', '454169.2', '6.47', '72', '691', '972745.6', 'Self-employed', '0.5', 'Other', '8', '0', '41', 'Other', 'Current'),
	('1655', '76711', '13141.31', '7.27', '60', '823', '106288.82', 'Others', '0.84', 'Home', 'Unreported', '0', '32', 'Own', 'Paid Off'),
	('1656', '97669', '25870.27', '10.91', '24', '535', '88862', 'Self-employed', '0.72', 'Car', '0', '1', '43', 'Own', 'Paid Off'),
	('1657', '60357', '25320.265', '21.01', '72', '639', '101533.48', 'Self-employed', '0.04', 'Personal', '9', '1', '43', 'Own', 'Late'),
	('1658', '96540', '11977.69', '11.18', '36', '634', '81323.07', 'Self-employed', '0.3', 'Car', '3', '0', '44', 'Own', 'Current'),
	('1659', '75031', '11372.99', '19.05', '12', '690', '107113.95', 'Self-employed', '0.99', 'Personal', '1', '0', '54', 'Own', 'Current'),
	('1660', '97471', '34529.38', '14.16', '60', '340', '133200.71', 'Employed', '0.16', 'Business', '3', '1', '36', 'Rent', 'Paid Off'),
	('1661', '20350', '39251.32', '17.26', '24', '530', '33868.77', 'Self-employed', '0.48', 'Home', '5', '0', '42', 'Rent', 'Paid Off'),
	('1662', '75374', '44431.87', '6.54', '60', '677', '44385.79', 'Employed', '0.55', 'Education', '4', '0', '59', 'Other', 'Paid Off'),
	('1663', '48547', '22967.37', '2.89', '24', '533', '85420.16', 'Self-employed', '0.54', 'Personal', '3', '1', '47', 'Own', 'Paid Off'),
	('1664', '44026', '36098.51', '7.67', '36', '351', '94981.25', 'Unemployed', '0.48', 'Education', '5', '0', '21', 'Other', 'Paid Off'),
	('1665', '44669', '9376.53', '4.33', '36', '702', '145575.49', 'Employed', '0.48', 'Car', '9', '0', '69', 'Rent', 'Late'),
	('1666', '15042', '25320.265', '13.245', '24', '477', '120875.93', 'Employed', '0.87', 'Education', '3', '0', '37', 'Own', 'Paid Off'),
	('1667', '91473', '31973.92', '15.09', '36', '730', '55318.22', 'Unemployed', '0.4', 'Education', 'Unreported', '0', '66', 'Rent', 'Late'),
	('1668', '54760', '8246.29', '13.245', '36', '768', '71381.39', 'Unemployed', '0.72', 'Other', '7', '1', '43', 'Rent', 'Paid Off'),
	('1669', '93406', '47828.44', '11.26', '24', '730', '65811.61', 'Self-employed', '0.31', 'Other', '6', '1', '48', 'Rent', 'Current'),
	('1670', '73483', '7265.02', '7.99', '12', '408', '85420.16', 'Unemployed', '0.58', 'Home', '1', '1', '22', 'Other', 'Late'),
	('1671', '39785', '39061.44', '21.8', '36', '529', '137221.1', 'Employed', '0.77', 'Home', '2', '1', '25', 'Own', 'Current'),
	('1672', '42869', '25320.265', '15.01', '12', '482', '66039.6', 'Unemployed', '0.83', 'Education', '3', '0', '35', 'Mortgage', 'Current'),
	('1673', '37000', '36912.36', '12.88', '24', '741', '121331.12', 'Employed', '0.4', 'Home', '6', '1', '30', 'Own', 'Paid Off'),
	('1674', '63432', '20833.13', '22.5', '36', '811', '104427.16', 'Unemployed', '0.45', 'Education', '9', '1', '58', 'Own', 'Late'),
	('1675', '24920', '37633.81', '10', '12', '803', '89577.57', 'Others', '0.89', 'Business', 'Unreported', '0', '50', 'Own', 'Paid Off'),
	('1676', '53042', '45116.58', '11.4', '60', '557', '22310.11', 'Employed', '0.48', 'Business', '4', '0', '43', 'Rent', 'Paid Off'),
	('1677', '60138', '30211.02', '7.92', '24', '730', '64325.12', 'Employed', '0.48', 'Car', '4', '1', '56', 'Own', 'Late'),
	('1678', '51483', '9032.48', '5.05', '36', '747', '86803.45', 'Employed', '0.13', 'Other', '8', '1', '22', 'Other', 'Paid Off'),
	('1679', '94588', '47602.4', '15.13', '36', '719', '85420.16', 'Employed', '0.76', 'Car', '0', '1', '59', 'Own', 'Paid Off'),
	('1680', '20600', '27091.79', '23.19', '24', '780', '44442.97', 'Self-employed', '0.07', 'Car', 'Unreported', '1', '64', 'Rent', 'Current'),
	('1681', '49332', '12731.94', '16.92', '60', '672', '85420.16', 'Unemployed', '0.78', 'Home', 'Unreported', '0', '23', 'Rent', 'Paid Off'),
	('1682', '30350', '21012.94', '17.27', '12', '466', '62534.56', 'Employed', '0.17', 'Personal', '5', '0', '18', 'Own', 'Late'),
	('1683', '62401', '36333.54', '21.74', '12', '813', '92628.77', 'Employed', '0.81', 'Education', '5', '1', '33', 'Rent', 'NA'),
	('1684', '30428', '46829.72', '18.1', '48', '773', '117223.42', 'Employed', '0.18', 'Other', '3', '1', '44', 'Own', 'Current'),
	('1685', '54760', '45422.73', '10.65', '48', '783', '94386.12', 'Unemployed', '0.96', 'Car', '3', '1', '52', 'Rent', 'NA'),
	('1686', '54760', '7874.18', '20.48', '60', '468', '32805.52', 'Self-employed', '0.9', 'Business', '3', '1', '20', 'Rent', 'Paid Off'),
	('1687', '90477', '43717.69', '4.85', '36', '729', '65047.42', 'Unemployed', '0.48', 'Personal', '2', '1', '50', 'Mortgage', 'Paid Off'),
	('1688', '55770', '29918.19', '13.245', '36', '317', '129781.87', 'Others', '0.4', 'Home', '8', '1', '60', 'Other', 'Current'),
	('1689', '45569', '21074.29', '13.71', '12', '326', '50146.34', 'Employed', '0.48', 'Other', '0', '1', '19', 'Other', 'Current'),
	('1690', '17463', '23753.98', '13.245', '60', '416', '111803.18', 'Employed', '0.08', 'Personal', '6', '1', '41', 'Mortgage', 'Late'),
	('1691', '68114', '39935.97', '23.22', '12', '606', '57826.26', 'Self-employed', '0.34', 'Education', '5', '0', '32', 'Other', 'Current'),
	('1692', '15103', '25320.265', '17.7', '24', '564', '84700.15', 'Employed', '0.85', 'Home', '8', '1', '41', 'Mortgage', 'Paid Off'),
	('1693', '42843', '33236.95', '3.8', '60', '733', '85420.16', 'Self-employed', '0.28', 'Education', '8', '1', '43', 'Rent', 'Paid Off'),
	('1694', '11966', '3864.6', '7.82', '12', '730', '125021.23', 'Employed', '0.04', 'Business', '5', '0', '50', 'Mortgage', 'Paid Off'),
	('1695', '14090', '40614.72', '18.35', '24', '601', '37266.68', 'Employed', '0.29', 'Home', '2', '1', '44', 'Rent', 'Paid Off'),
	('1696', '46483', '2261.47', '4.14', '24', '466', '85420.16', 'Unemployed', '0.01', 'Car', '3', '1', '22', 'Other', 'Current'),
	('1697', '61472', '20000.64', '8.01', '36', '572', '61023.29', 'Employed', '0.42', 'Education', '0', '1', '30', 'Mortgage', 'Paid Off'),
	('1698', '54760', '22764.2', '8.06', '36', '315', '78497.69', 'Others', '0.68', 'Car', 'Unreported', '1', '39', 'Own', 'Current'),
	('1699', '25168', '25799.23', '18.28', '72', '791', '24304.43', 'Others', '0.06', 'Car', '9', '0', '33', 'Own', 'Current'),
	('1700', '79414', '13541.72', '3.19', '24', '337', '74665.55', 'Unemployed', '0.09', 'Home', '4', '1', '68', 'Mortgage', 'Paid Off'),
	('1701', '79892', '21534.24', '9.93', '12', '817', '20912.03', 'Self-employed', '0.63', 'Other', '5', '1', '31', 'Mortgage', 'Paid Off'),
	('1702', '90387', '39577.62', '11.81', '24', '337', '102496.62', 'Unemployed', '0.65', 'Business', '6', '1', '41', 'Mortgage', 'Late'),
	('1703', '63841', '14292.05', '3.69', '72', '676', '39333.64', 'Self-employed', '0.55', 'Home', 'Unreported', '1', '51', 'Other', 'Late'),
	('1704', '78752', '40849.29', '12.54', '12', '726', '140907.73', 'Employed', '0.56', 'Home', '3', '0', '43', 'Mortgage', 'Late'),
	('1705', '77966', '1616.22', '14.22', '36', '361', '102060.23', 'Unemployed', '0.14', 'Car', '1', '1', '59', 'Mortgage', 'Paid Off'),
	('1706', '54760', '7997.14', '24.33', '72', '358', '110728.24', 'Self-employed', '0.74', 'Personal', '5', '0', '49', 'Own', 'Late'),
	('1707', '51624', '46339.73', '22.09', '36', '730', '59372.18', 'Unemployed', '0.6', 'Business', '2', '1', '41', 'Other', 'Late'),
	('1708', '34726', '24049.6', '13.245', '72', '418', '43406.79', 'Unemployed', '0.48', 'Business', '4', '1', '43', 'Mortgage', 'Current'),
	('1709', '30028', '3489.08', '8.23', '36', '510', '20325.49', 'Employed', '0.49', 'Personal', '7', '1', '66', 'Mortgage', 'Paid Off'),
	('1710', '52203', '30911.72', '5.45', '12', '532', '76039.1', 'Employed', '0.48', 'Car', '7', '0', '24', 'Rent', 'Current'),
	('1711', '15000', '25320.265', '16.69', '36', '405', '147748.09', 'Self-employed', '0.89', 'Car', '5', '0', '57', 'Other', 'Paid Off'),
	('1712', '40425', '5340.8', '6.64', '48', '773', '35329.76', 'Employed', '0.11', 'Personal', '8', '1', '43', 'Mortgage', 'Paid Off'),
	('1713', '54760', '25320.265', '15.49', '24', '332', '85420.16', 'Self-employed', '0.76', 'Car', '8', '1', '62', 'Own', 'Paid Off'),
	('1714', '54760', '31106.88', '6.5', '36', '436', '58100.74', 'Employed', '0.25', 'Personal', '7', '0', '48', 'Own', 'Late'),
	('1715', '61544', '31757.72', '3.5', '36', '524', '94735.48', 'Self-employed', '0.74', 'Car', '2', '1', '22', 'Mortgage', 'Paid Off'),
	('1716', '54760', '25320.265', '12.33', '12', '350', '46224.39', 'Employed', '0.9', 'Education', '5', '1', '54', 'Own', 'Current'),
	('1717', '86693', '25132.8', '16.64', '24', '760', '55148.76', 'Unemployed', '0.86', 'Car', '1', '1', '42', 'Mortgage', 'Current'),
	('1718', '61615', '6132.15', '4.17', '36', '324', '130314.86', 'Self-employed', '0.64', 'Business', '3', '0', '43', 'Mortgage', 'Current'),
	('1719', '18947', '6564.1', '14.64', '36', '555', '97392.95', 'Employed', '0.39', 'Home', '8', '0', '43', 'Other', 'Late'),
	('1720', '41397', '21423.36', '12.05', '72', '777', '59853.04', 'Unemployed', '0.14', 'Personal', '8', '1', '38', 'Own', 'Paid Off'),
	('1721', '95654', '10080.74', '7.87', '36', '414', '83998.79', 'Self-employed', '0.14', 'Home', '0', '1', '30', 'Rent', 'Current'),
	('1722', '71052', '46126.74', '5.95', '36', '744', '116054.64', 'Employed', '0.84', 'Business', '0', '1', '33', 'Rent', 'Current'),
	('1723', '35898', '11391.83', '7.39', '48', '612', '43649.76', 'Employed', '0.22', 'Home', '7', '1', '45', 'Mortgage', 'Paid Off'),
	('1724', '65483', '19442.12', '22.62', '24', '764', '98305.86', 'Employed', '0.03', 'Personal', '0', '1', '43', 'Own', 'Paid Off'),
	('1725', '86511', '26106.71', '2.73', '24', '771', '85420.16', 'Unemployed', '0.92', 'Education', '9', '1', '48', 'Own', 'Paid Off'),
	('1726', '54760', '17189.71', '13.245', '36', '517', '149921.75', 'Others', '0.63', 'Other', '1', '1', '43', 'Own', 'Current'),
	('1727', '26243', '33565.22', '13.92', '24', '371', '85420.16', 'Employed', '0.12', 'Home', '9', '1', '36', 'Own', 'Paid Off'),
	('1728', '89283', '30657.52', '17.7', '24', '591', '84400.49', 'Self-employed', '0.19', 'Business', '4', '1', '65', 'Other', 'Paid Off'),
	('1729', '38439', '47029.02', '11.44', '24', '417', '84380.12', 'Employed', '0.47', 'Car', '4', '1', '32', 'Mortgage', 'Late'),
	('1730', '90979', '41765.99', '7.53', '24', '830', '68929.51', 'Self-employed', '0.07', 'Home', '0', '0', '52', 'Own', 'Current'),
	('1731', '54760', '25320.265', '8.31', '12', '646', '117572.57', 'Self-employed', '0.22', 'Home', '6', '1', '39', 'Mortgage', 'Current'),
	('1732', '97865', '22888.87', '16.94', '12', '543', '71156.62', 'Self-employed', '0.81', 'Business', '8', '0', '28', 'Mortgage', 'Late'),
	('1733', '66517', '31123.96', '18.4', '48', '558', '42520.52', 'Employed', '0.33', 'Home', '1', '1', '43', 'Mortgage', 'Paid Off'),
	('1734', '59453', '31530.23', '24.32', '24', '472', '26216.23', 'Employed', '0.37', 'Education', '5', '0', '43', 'Mortgage', 'Paid Off'),
	('1735', '11339', '14209.3', '18.18', '48', '347', '126172.78', 'Others', '0.35', 'Car', '4', '1', '43', 'Mortgage', 'Current'),
	('1736', '93884', '9722.86', '13.245', '12', '496', '37833.56', 'Self-employed', '0.2', 'Car', '2', '1', '19', 'Own', 'Late'),
	('1737', '93098', '26431.37', '13.245', '48', '639', '84104.14', 'Employed', '0.78', 'Car', '1', '1', '22', 'Other', 'Late'),
	('1738', '46472', '25320.265', '14.3', '36', '485', '122849.26', 'Unemployed', '0.48', 'Business', '1', '0', '42', 'Rent', 'Late'),
	('1739', '74427', '19876.29', '18.71', '36', '845', '129706.77', 'Self-employed', '0.92', 'Education', '8', '0', '64', 'Mortgage', 'Current'),
	('1740', '34992', '25320.265', '4.68', '36', '829', '133525.33', 'Employed', '0.87', 'Other', '3', '0', '44', 'Mortgage', 'Paid Off'),
	('1741', '15774', '34402.22', '3.38', '60', '537', '21253.68', 'Self-employed', '0.37', 'Home', '2', '0', '47', 'Own', 'Paid Off'),
	('1742', '95319', '3842.76', '7.16', '48', '493', '85420.16', 'Unemployed', '0.92', 'Personal', 'Unreported', '1', '52', 'Mortgage', 'Paid Off'),
	('1743', '28109', '37038.1', '11.64', '12', '781', '86764.88', 'Self-employed', '0.01', 'Business', '0', '0', '26', 'Mortgage', 'Late'),
	('1744', '54760', '25320.265', '17.35', '36', '624', '126020.48', 'Self-employed', '0.48', 'Other', '2', '0', '39', 'Mortgage', 'Paid Off'),
	('1745', '46342', '9073.48', '2.21', '60', '634', '117852.01', 'Employed', '0.48', 'Personal', '7', '1', '23', 'Mortgage', 'Paid Off'),
	('1746', '90303', '30427.26', '14.39', '24', '696', '85420.16', 'Unemployed', '0.79', 'Car', 'Unreported', '1', '68', 'Rent', 'NA'),
	('1747', '83084', '49190.17', '8.69', '24', '305', '34450.82', 'Others', '0.37', 'Education', '2', '0', '65', 'Rent', 'Paid Off'),
	('1748', '33723', '21681.41', '9.71', '48', '421', '49982.61', 'Others', '0.16', 'Education', '6', '1', '43', 'Mortgage', 'Late'),
	('1749', '94442', '43596.64', '11.96', '60', '779', '149921.87', 'Employed', '0.74', 'Home', '4', '1', '28', 'Own', 'Paid Off'),
	('1750', '27610', '25320.265', '12.58', '72', '338', '148539.76', 'Self-employed', '0.16', 'Home', '8', '1', '42', 'Rent', 'Current'),
	('1751', '32613', '25924.74', '11.24', '60', '448', '63297.19', 'Employed', '0.64', 'Business', '4', '0', '52', 'Own', 'Paid Off'),
	('1752', '38327', '34406.53', '4.01', '60', '807', '107763.6', 'Employed', '0.39', 'Other', '5', '0', '64', 'Mortgage', 'Paid Off'),
	('1753', '83195', '25320.265', '5.66', '12', '471', '89382.18', 'Self-employed', '0', 'Education', '0', '0', '60', 'Mortgage', 'Current'),
	('1754', '79888', '73440.1', '13.35', '12', '586', '506494.6', 'Unemployed', '0.28', 'Home', 'Unreported', '0', '61', 'Rent', 'Late'),
	('1755', '62410', '1754.92', '10.89', '24', '625', '97970.97', 'Self-employed', '0.82', 'Personal', '2', '0', '50', 'Rent', 'Paid Off'),
	('1756', '54760', '19950.37', '24.92', '60', '730', '100391.87', 'Employed', '0.29', 'Other', '8', '1', '59', 'Rent', 'Paid Off'),
	('1757', '54760', '37394.18', '19.7', '72', '778', '37217.87', 'Employed', '0.76', 'Home', '8', '0', '68', 'Own', 'NA'),
	('1758', '15046', '25320.265', '13.245', '72', '827', '21372.62', 'Unemployed', '0.67', 'Business', '3', '1', '33', 'Mortgage', 'NA'),
	('1759', '84518', '23690.56', '14.6', '72', '345', '138651.67', 'Employed', '0.4', 'Personal', '1', '0', '57', 'Rent', 'Late'),
	('1760', '57903', '15450.94', '3.15', '72', '670', '103983.04', 'Unemployed', '0.85', 'Education', '2', '1', '28', 'Own', 'Current'),
	('1761', '88196', '17986.68', '17.56', '12', '724', '134903.03', 'Employed', '0.19', 'Other', '2', '0', '56', 'Rent', 'Late'),
	('1762', '71226', '5504.62', '15', '36', '807', '133827.72', 'Others', '0.11', 'Car', '0', '1', '60', 'Own', 'Current'),
	('1763', '78932', '23055.55', '13.245', '72', '361', '75389.19', 'Self-employed', '0.48', 'Business', 'Unreported', '1', '67', 'Mortgage', 'Current'),
	('1764', '46730', '31729.3', '19.63', '12', '779', '77956.89', 'Employed', '0.54', 'Home', '9', '0', '18', 'Own', 'Late'),
	('1765', '18913', '31555.29', '20.01', '36', '544', '115777.2', 'Unemployed', '0.81', 'Home', '9', '0', '30', 'Rent', 'Current'),
	('1766', '86016', '1625.68', '6.98', '12', '412', '59870.42', 'Unemployed', '0.6', 'Education', '8', '1', '23', 'Own', 'Current'),
	('1767', '54760', '32052.87', '6.25', '36', '713', '85420.16', 'Employed', '0.16', 'Car', '3', '0', '43', 'Mortgage', 'Current'),
	('1768', '34838', '33618.64', '17.17', '36', '504', '80472.27', 'Employed', '0.35', 'Car', '8', '1', '24', 'Other', 'NA'),
	('1769', '79040', '25599.2', '9.61', '60', '730', '139747.76', 'Self-employed', '0.39', 'Education', '5', '0', '44', 'Rent', 'Current'),
	('1770', '73160', '47299.09', '12.46', '72', '606', '85420.16', 'Self-employed', '0.48', 'Education', '9', '1', '51', 'Other', 'Late'),
	('1771', '12441', '25320.265', '3.02', '72', '508', '98240.19', 'Unemployed', '0.58', 'Personal', '7', '1', '46', 'Own', 'Paid Off'),
	('1772', '69202', '42743.88', '11.73', '36', '730', '92486.83', 'Employed', '0.48', 'Home', '1', '1', '29', 'Rent', 'Current'),
	('1773', '11188', '9536.86', '23.66', '60', '730', '85420.16', 'Unemployed', '0.63', 'Education', '1', '1', '21', 'Mortgage', 'Paid Off'),
	('1774', '64772', '13835.8', '17.82', '36', '629', '37356.39', 'Unemployed', '0.79', 'Home', '4', '0', '43', 'Own', 'Paid Off'),
	('1775', '54760', '25320.265', '20.85', '72', '730', '85420.16', 'Self-employed', '0.89', 'Car', '9', '0', '55', 'Mortgage', 'Late'),
	('1776', '92890', '44380.66', '16.43', '24', '811', '85420.16', 'Employed', '0.62', 'Other', '5', '1', '24', 'Own', 'Late'),
	('1777', '39837', '39882.76', '15.46', '36', '674', '72726.02', 'Self-employed', '0.09', 'Car', '9', '0', '25', 'Rent', 'Current'),
	('1778', '41979', '23073.7', '13.245', '24', '426', '62207.15', 'Employed', '0.97', 'Home', '6', '0', '59', 'Mortgage', 'Late'),
	('1779', '68882', '25320.265', '13.26', '12', '501', '99116.47', 'Employed', '0.51', 'Education', '5', '0', '68', 'Own', 'Current'),
	('1780', '78005', '1632.16', '20.18', '36', '517', '37517.78', 'Self-employed', '0.72', 'Education', '5', '0', '65', 'Own', 'Paid Off'),
	('1781', '99031', '35395.04', '7.32', '48', '521', '47179.76', 'Unemployed', '0.51', 'Business', '4', '0', '29', 'Mortgage', 'Paid Off'),
	('1782', '44526', '48281.97', '4.35', '48', '389', '130419.74', 'Self-employed', '0.51', 'Other', '3', '1', '39', 'Rent', 'NA'),
	('1783', '46817', '39147.45', '6.17', '36', '598', '85420.16', 'Employed', '0.27', 'Car', '8', '0', '45', 'Own', 'Late'),
	('1784', '68883', '12420.75', '9.87', '36', '730', '135317.88', 'Employed', '0.48', 'Car', '7', '1', '22', 'Mortgage', 'Paid Off'),
	('1785', '26495', '13960.6', '12.6', '60', '784', '95159.23', 'Self-employed', '0.48', 'Business', '7', '1', '41', 'Rent', 'Late'),
	('1786', '89842', '21717.34', '22.46', '72', '829', '24472.97', 'Employed', '0.48', 'Car', '5', '0', '62', 'Own', 'Late'),
	('1787', '82528', '20978.85', '15.63', '72', '678', '62734.05', 'Employed', '0.65', 'Personal', '9', '0', '36', 'Mortgage', 'Late'),
	('1788', '77315', '12384.55', '16.78', '48', '631', '57245.95', 'Self-employed', '0.52', 'Home', '6', '1', '59', 'Mortgage', 'Late'),
	('1789', '80226', '39789.27', '10.85', '60', '670', '85420.16', 'Employed', '0.9', 'Home', '8', '0', '29', 'Own', 'NA'),
	('1790', '96834', '39518.2', '17.4', '12', '730', '52521.15', 'Self-employed', '0.86', 'Other', '9', '0', '47', 'Mortgage', 'NA'),
	('1791', '61133', '35617.07', '11.29', '72', '630', '88239.66', 'Self-employed', '0.46', 'Business', '4', '1', '20', 'Mortgage', 'NA'),
	('1792', '78074', '1243.07', '15.99', '48', '443', '43396.62', 'Unemployed', '0.22', 'Personal', '1', '1', '59', 'Rent', 'NA'),
	('1793', '72418', '45951.54', '14.32', '36', '509', '85420.16', 'Self-employed', '0.24', 'Education', '7', '0', '45', 'Mortgage', 'Late'),
	('1794', '87852', '17540.35', '9.08', '48', '746', '145740.19', 'Employed', '0.58', 'Home', '7', '1', '55', 'Rent', 'Current'),
	('1795', '44595', '2412.12', '3.92', '12', '589', '60296.68', 'Others', '0.58', 'Business', '7', '1', '42', 'Rent', 'Current'),
	('1796', '54826', '32233.53', '4.82', '72', '756', '37651.46', 'Unemployed', '0.07', 'Personal', '0', '1', '19', 'Own', 'Paid Off'),
	('1797', '78977', '37142.37', '15.22', '12', '576', '27466.03', 'Unemployed', '0.68', 'Car', '2', '0', '37', 'Rent', 'Paid Off'),
	('1798', '54760', '33877.09', '3.68', '12', '425', '97683.56', 'Employed', '0.28', 'Education', '7', '0', '18', 'Own', 'Current'),
	('1799', '15674', '20154.9', '12.42', '48', '360', '83555.13', 'Unemployed', '0.04', 'Home', '0', '1', '42', 'Other', 'Paid Off'),
	('1800', '71230', '43197.13', '22.68', '12', '377', '23689.52', 'Self-employed', '0.08', 'Personal', '8', '1', '20', 'Own', 'Late'),
	('1801', '67515', '18468.92', '13.245', '36', '727', '47078.74', 'Unemployed', '0.95', 'Other', '2', '1', '44', 'Rent', 'Paid Off'),
	('1802', '84835', '27374.65', '24.46', '72', '422', '47914.61', 'Unemployed', '0.66', 'Home', '3', '0', '43', 'Mortgage', 'Late'),
	('1803', '63310', '46166.07', '8.62', '36', '331', '100817.56', 'Employed', '0.45', 'Car', '1', '0', '43', 'Own', 'Paid Off'),
	('1804', '54234', '25320.265', '16.95', '72', '658', '92271.3', 'Self-employed', '0.48', 'Personal', '3', '0', '41', 'Other', 'Paid Off'),
	('1805', '65945', '5638.75', '23.5', '72', '570', '148515.47', 'Employed', '0.48', 'Car', '6', '0', '42', 'Mortgage', 'Late'),
	('1806', '93163', '39079.79', '10.04', '12', '617', '121997.73', 'Unemployed', '0.73', 'Business', '1', '1', '41', 'Own', 'Current'),
	('1807', '80371', '45182.86', '14.27', '36', '755', '83358.32', 'Employed', '0.31', 'Business', '8', '1', '20', 'Own', 'Current'),
	('1808', '54760', '41444.03', '21.49', '12', '393', '118189.94', 'Unemployed', '0.55', 'Home', 'Unreported', '1', '63', 'Rent', 'NA'),
	('1809', '54760', '24361.5', '9.62', '48', '821', '131085.48', 'Employed', '0.49', 'Personal', '9', '1', '47', 'Own', 'Current'),
	('1810', '78990', '41432.24', '2.21', '36', '686', '119507.92', 'Unemployed', '0.29', 'Personal', '7', '1', '52', 'Mortgage', 'Paid Off'),
	('1811', '71153', '25320.265', '24.78', '36', '514', '61571.29', 'Employed', '0.27', 'Home', '9', '0', '29', 'Own', 'Late'),
	('1812', '13901', '13457.1', '11.34', '36', '500', '114769.85', 'Unemployed', '0.37', 'Business', '8', '0', '42', 'Rent', 'Late'),
	('1813', '42236', '43476.48', '4.52', '36', '748', '67844.74', 'Employed', '0.85', 'Business', '1', '1', '23', 'Rent', 'Current'),
	('1814', '96891', '3028', '18.93', '36', '394', '52321.59', 'Unemployed', '0.28', 'Business', '1', '1', '22', 'Own', 'Paid Off'),
	('1815', '69747', '20504.65', '9.48', '24', '730', '130547.3', 'Employed', '0.1', 'Education', 'Unreported', '1', '43', 'Own', 'Current'),
	('1816', '54760', '43163.02', '5.87', '60', '793', '143221', 'Others', '0.47', 'Car', '6', '1', '36', 'Own', 'Current'),
	('1817', '54760', '22846.88', '4.73', '72', '579', '84631.18', 'Unemployed', '0.67', 'Car', '7', '0', '37', 'Own', 'Late'),
	('1818', '78328', '5146.42', '18.04', '36', '745', '139522.5', 'Unemployed', '0.98', 'Business', '9', '0', '29', 'Mortgage', 'Late'),
	('1819', '75815', '23496.51', '24.85', '36', '730', '85420.16', 'Self-employed', '0.47', 'Education', '1', '1', '66', 'Rent', 'Late'),
	('1820', '84874', '36878.58', '11.01', '36', '734', '86079.5', 'Self-employed', '0.23', 'Car', 'Unreported', '1', '53', 'Mortgage', 'Current'),
	('1821', '87353', '16503.21', '19.57', '36', '493', '64773.01', 'Unemployed', '0.75', 'Business', '0', '0', '26', 'Rent', 'Paid Off'),
	('1822', '54760', '45420.02', '17.05', '60', '327', '20885.85', 'Others', '0.71', 'Business', '8', '1', '49', 'Rent', 'Late'),
	('1823', '76351', '47099.02', '13.245', '36', '708', '105570.36', 'Unemployed', '0.48', 'Business', '1', '1', '62', 'Rent', 'Current'),
	('1824', '52639', '9220.51', '3.13', '36', '346', '29416.89', 'Others', '0.48', 'Business', '7', '0', '27', 'Mortgage', 'Paid Off'),
	('1825', '72500', '5575.94', '11.42', '36', '479', '85420.16', 'Employed', '0.22', 'Business', '8', '0', '18', 'Other', 'NA'),
	('1826', '81617', '15668.48', '2.67', '24', '593', '139050.54', 'Self-employed', '0.9', 'Car', '1', '1', '30', 'Rent', 'Current'),
	('1827', '85749', '23983.09', '23.9', '24', '501', '27026.64', 'Unemployed', '0.7', 'Business', '0', '1', '66', 'Mortgage', 'Paid Off'),
	('1828', '27194', '25320.265', '11.42', '36', '826', '70813.34', 'Self-employed', '0.84', 'Car', '8', '1', '27', 'Rent', 'Paid Off'),
	('1829', '34318', '12836.85', '15.32', '72', '679', '44378.99', 'Unemployed', '0.18', 'Personal', 'Unreported', '1', '54', 'Own', 'Late'),
	('1830', '42723', '25320.265', '23.64', '60', '369', '147333.79', 'Unemployed', '0.62', 'Home', '2', '0', '43', 'Mortgage', 'Current'),
	('1831', '54760', '36029.12', '15.25', '24', '847', '102930.35', 'Employed', '0.36', 'Education', '7', '0', '42', 'Own', 'Current'),
	('1832', '45907', '30299.35', '5.96', '72', '390', '42996.76', 'Others', '0.86', 'Education', '7', '0', '63', 'Other', 'Paid Off'),
	('1833', '79919', '35689.83', '23.89', '48', '512', '104088.87', 'Employed', '0.93', 'Personal', 'Unreported', '0', '38', 'Mortgage', 'Paid Off'),
	('1834', '54760', '1133.57', '6.32', '24', '730', '111632.33', 'Unemployed', '0.33', 'Car', '8', '0', '39', 'Own', 'Current'),
	('1835', '81696', '8130.55', '4.95', '48', '588', '28427.01', 'Employed', '0.08', 'Car', '6', '1', '23', 'Own', 'Current'),
	('1836', '36563', '34895.76', '10.34', '36', '417', '101184.38', 'Self-employed', '0.31', 'Home', '6', '1', '32', 'Mortgage', 'Late'),
	('1837', '41002', '36033.46', '12', '36', '726', '86499.94', 'Unemployed', '0.53', 'Education', '3', '1', '27', 'Mortgage', 'Current'),
	('1838', '30477', '42795.67', '13.245', '24', '398', '85420.16', 'Unemployed', '0.2', 'Home', 'Unreported', '1', '22', 'Rent', 'Paid Off'),
	('1839', '30713', '29691.96', '14.74', '12', '730', '65448.66', 'Unemployed', '0.44', 'Personal', '8', '1', '40', 'Own', 'Late'),
	('1840', '54517', '28305.25', '20.53', '60', '512', '73151.74', 'Employed', '0.23', 'Home', '2', '1', '24', 'Own', 'Late'),
	('1841', '30747', '20484.25', '19.69', '60', '523', '85242.93', 'Self-employed', '0.48', 'Business', '1', '0', '51', 'Mortgage', 'Late'),
	('1842', '13409', '41011.25', '11.25', '36', '559', '125254.75', 'Employed', '0.66', 'Business', '0', '1', '48', 'Mortgage', 'NA'),
	('1843', '21063', '42749.13', '3.72', '36', '452', '49093.6', 'Others', '0.08', 'Car', '2', '1', '43', 'Rent', 'Paid Off'),
	('1844', '19515', '23128.06', '4.75', '24', '677', '136021.86', 'Self-employed', '0.7', 'Car', '0', '0', '43', 'Mortgage', 'Late'),
	('1845', '49235', '19404.05', '24.83', '12', '754', '34709.25', 'Employed', '0.48', 'Car', '1', '0', '43', 'Rent', 'Paid Off'),
	('1846', '22820', '3469.85', '21.78', '36', '608', '36591.83', 'Employed', '0.17', 'Car', '2', '1', '50', 'Own', 'Current'),
	('1847', '55531', '39811.75', '9.95', '60', '409', '44778.2', 'Unemployed', '0.48', 'Home', '4', '1', '24', 'Own', 'Late'),
	('1848', '10511', '33979.8', '21.15', '48', '719', '85420.16', 'Unemployed', '0.66', 'Home', '2', '1', '58', 'Own', 'Late'),
	('1849', '14366', '22520.9', '22.7', '12', '573', '118129.46', 'Unemployed', '0.46', 'Personal', '8', '0', '41', 'Mortgage', 'Current'),
	('1850', '26654', '25729.58', '23.24', '60', '441', '62721.48', 'Unemployed', '0.13', 'Education', '0', '0', '22', 'Mortgage', 'Current'),
	('1851', '36704', '449065.6', '13.245', '72', '804', '540890.6', 'Unemployed', '0.15', 'Car', '4', '1', '23', 'Own', 'Late'),
	('1852', '58611', '44006.03', '6.28', '24', '400', '66590.12', 'Self-employed', '0.22', 'Home', '6', '1', '41', 'Rent', 'Paid Off'),
	('1853', '75983', '9775.09', '20.25', '36', '611', '85420.16', 'Employed', '0.1', 'Education', '1', '0', '63', 'Rent', 'NA'),
	('1854', '47237', '42601.47', '3.28', '24', '730', '126188.58', 'Unemployed', '0.06', 'Business', '9', '0', '60', 'Rent', 'Current'),
	('1855', '74667', '25977.21', '20.55', '60', '762', '96508.66', 'Self-employed', '0.48', 'Home', '9', '1', '57', 'Own', 'Paid Off'),
	('1856', '50294', '6199.78', '15.27', '60', '534', '56355.85', 'Unemployed', '0.16', 'Car', '5', '0', '43', 'Rent', 'Late'),
	('1857', '54759', '25320.265', '13.245', '24', '754', '149954.62', 'Employed', '0.05', 'Other', 'Unreported', '1', '31', 'Rent', 'Current'),
	('1858', '45351', '34660.34', '14.64', '36', '538', '139496.32', 'Employed', '0.79', 'Other', 'Unreported', '0', '69', 'Rent', 'Current'),
	('1859', '12881', '447782.6', '13.245', '12', '729', '1099048.3', 'Unemployed', '0.22', 'Business', '7', '1', '25', 'Other', 'Current'),
	('1860', '78373', '6309.14', '2.85', '24', '330', '85420.16', 'Unemployed', '0.48', 'Education', '9', '1', '25', 'Own', 'Late'),
	('1861', '71881', '30873.01', '2.72', '72', '589', '24528.08', 'Unemployed', '0.08', 'Home', '0', '0', '48', 'Rent', 'Paid Off'),
	('1862', '61780', '34228.32', '20.68', '12', '776', '87875.17', 'Others', '0.39', 'Business', '9', '0', '43', 'Mortgage', 'Current'),
	('1863', '99901', '14532.67', '8.69', '72', '354', '120450.29', 'Self-employed', '0.85', 'Business', '6', '0', '25', 'Own', 'Current'),
	('1864', '31272', '38075.39', '20.57', '60', '583', '85420.16', 'Employed', '0.9', 'Other', '9', '1', '18', 'Rent', 'Late'),
	('1865', '53350', '25320.265', '18.18', '12', '585', '133330.72', 'Unemployed', '0.4', 'Personal', '7', '1', '43', 'Mortgage', 'Current'),
	('1866', '24609', '12744.17', '14.99', '24', '552', '121248.21', 'Unemployed', '0.37', 'Education', '2', '1', '64', 'Own', 'Late'),
	('1867', '95940', '1024.06', '4.41', '72', '387', '135276.06', 'Unemployed', '0.17', 'Home', '0', '0', '68', 'Own', 'Late'),
	('1868', '31729', '25634.16', '3.52', '48', '668', '90353.97', 'Unemployed', '0.89', 'Business', '2', '1', '30', 'Rent', 'Current'),
	('1869', '54760', '13908.36', '10.83', '72', '459', '99315.45', 'Unemployed', '0.48', 'Personal', '7', '1', '18', 'Own', 'Paid Off'),
	('1870', '65050', '4825.31', '23.28', '72', '762', '60332.57', 'Self-employed', '0.81', 'Business', '3', '1', '63', 'Other', 'Current'),
	('1871', '54760', '44163.19', '7.2', '60', '557', '108016.14', 'Unemployed', '0.32', 'Business', '4', '0', '29', 'Rent', 'Current'),
	('1872', '42907', '10734.58', '11.71', '12', '527', '24912.69', 'Employed', '0.48', 'Personal', 'Unreported', '0', '27', 'Own', 'Current'),
	('1873', '85934', '28798.67', '16.76', '60', '730', '42963.62', 'Unemployed', '0.36', 'Home', '0', '0', '54', 'Rent', 'Paid Off'),
	('1874', '51287', '14301.81', '13.42', '36', '730', '79410.87', 'Unemployed', '0.33', 'Personal', '1', '1', '49', 'Own', 'Late'),
	('1875', '46410', '30277.48', '2.58', '36', '735', '135718.84', 'Self-employed', '0.43', 'Home', '7', '0', '67', 'Rent', 'Current'),
	('1876', '88814', '33060.54', '17.99', '60', '730', '93635.82', 'Unemployed', '0.39', 'Other', '8', '0', '30', 'Own', 'Current'),
	('1877', '34533', '36553.97', '13.245', '24', '354', '117254.79', 'Self-employed', '0.74', 'Personal', '7', '0', '47', 'Rent', 'Current'),
	('1878', '32855', '15490.58', '15.79', '24', '460', '111609.06', 'Unemployed', '0.29', 'Personal', '8', '0', '35', 'Own', 'Late'),
	('1879', '43260', '3315.5', '15.35', '12', '660', '33101.39', 'Self-employed', '0.77', 'Education', '0', '0', '62', 'Rent', 'Paid Off'),
	('1880', '26723', '43006.31', '21.21', '60', '619', '30003.09', 'Employed', '0.99', 'Home', '6', '0', '52', 'Mortgage', 'NA'),
	('1881', '54760', '48495.4', '21.16', '60', '577', '98643.48', 'Self-employed', '0.34', 'Education', '1', '1', '33', 'Rent', 'Paid Off'),
	('1882', '69565', '44425.01', '6.3', '60', '608', '137294.19', 'Employed', '0.86', 'Car', '3', '1', '24', 'Other', 'Late'),
	('1883', '44169', '5047.89', '11.71', '48', '430', '104872.66', 'Unemployed', '0.59', 'Personal', '1', '0', '65', 'Own', 'Current'),
	('1884', '17299', '39471.67', '20.84', '36', '810', '47816.95', 'Employed', '0.85', 'Home', '2', '1', '51', 'Mortgage', 'Paid Off'),
	('1885', '10884', '24814.17', '18.9', '72', '331', '52073.73', 'Unemployed', '0.06', 'Personal', '2', '1', '24', 'Mortgage', 'Late'),
	('1886', '49892', '31973.95', '21.42', '24', '745', '107796.2', 'Employed', '0.45', 'Home', '3', '0', '33', 'Rent', 'NA'),
	('1887', '14081', '30974.05', '4.98', '12', '550', '135973.24', 'Unemployed', '0.79', 'Other', '9', '1', '21', 'Mortgage', 'Late'),
	('1888', '10851', '27216.53', '12.11', '60', '730', '46416.12', 'Self-employed', '0.61', 'Home', '2', '1', '48', 'Own', 'Paid Off'),
	('1889', '94217', '25320.265', '18.31', '48', '563', '120097.07', 'Self-employed', '0.34', 'Personal', '5', '1', '25', 'Mortgage', 'Late'),
	('1890', '54760', '31199.75', '18.79', '48', '680', '83439.4', 'Unemployed', '0.15', 'Car', '8', '0', '66', 'Mortgage', 'Current'),
	('1891', '98508', '29265.2', '3.65', '24', '565', '121716.83', 'Unemployed', '0.1', 'Other', '3', '0', '26', 'Own', 'NA'),
	('1892', '54761', '25320.265', '18.37', '48', '537', '45911.21', 'Unemployed', '0.63', 'Personal', '0', '0', '54', 'Own', 'Current'),
	('1893', '68887', '43381.93', '16.4', '12', '737', '133389.11', 'Employed', '0.62', 'Car', 'Unreported', '0', '52', 'Own', 'Late'),
	('1894', '62156', '37921.28', '10.03', '72', '592', '99015.39', 'Employed', '0.63', 'Personal', '1', '1', '33', 'Own', 'Late'),
	('1895', '40885', '48254.09', '8.99', '36', '772', '67203.8', 'Unemployed', '0.43', 'Other', '9', '0', '18', 'Own', 'Current'),
	('1896', '25956', '39795.41', '2.67', '60', '645', '111578.93', 'Self-employed', '0.48', 'Home', '1', '1', '25', 'Mortgage', 'NA'),
	('1897', '66314', '29543.54', '11.02', '12', '827', '85420.16', 'Self-employed', '0.25', 'Home', '0', '0', '51', 'Rent', 'Paid Off'),
	('1898', '40992', '45941.21', '9.06', '48', '796', '85420.16', 'Employed', '0.69', 'Business', '4', '1', '32', 'Own', 'Late'),
	('1899', '56765', '33058.87', '13.245', '48', '503', '85420.16', 'Employed', '0.95', 'Home', '7', '0', '34', 'Rent', 'Late'),
	('1900', '11512', '16196.35', '13.245', '60', '744', '26524.61', 'Self-employed', '0.53', 'Business', '4', '0', '43', 'Rent', 'NA'),
	('1901', '50481', '9599.67', '5.35', '48', '722', '144903.12', 'Employed', '0.48', 'Home', '6', '0', '43', 'Mortgage', 'Paid Off'),
	('1902', '54760', '30611.08', '13.04', '36', '665', '87716.74', 'Employed', '0.1', 'Personal', '1', '0', '23', 'Own', 'Paid Off'),
	('1903', '36433', '37072.53', '20.24', '72', '380', '77195.49', 'Others', '0.34', 'Business', '5', '1', '43', 'Own', 'Late'),
	('1904', '65497', '41383.94', '7.72', '36', '730', '65048.36', 'Unemployed', '0.17', 'Home', '7', '1', '43', 'Rent', 'Current'),
	('1905', '32615', '25320.265', '21.86', '48', '494', '133824.16', 'Employed', '0.51', 'Personal', '7', '0', '19', 'Rent', 'Late'),
	('1906', '48212', '45198.01', '23.46', '36', '348', '85420.16', 'Employed', '0.27', 'Business', '4', '1', '58', 'Mortgage', 'NA'),
	('1907', '54760', '29320.59', '4.6', '12', '785', '136738.48', 'Employed', '0.78', 'Home', '2', '0', '18', 'Own', 'Late'),
	('1908', '67185', '36431.56', '4.66', '12', '508', '45853.78', 'Employed', '0.25', 'Business', 'Unreported', '1', '49', 'Mortgage', 'Paid Off'),
	('1909', '44162', '40598.51', '16.84', '12', '390', '103568.22', 'Unemployed', '0.99', 'Personal', '0', '0', '43', 'Rent', 'Late'),
	('1910', '64015', '46632.82', '13.9', '48', '479', '137562.86', 'Unemployed', '0.91', 'Car', '9', '0', '55', 'Other', 'Paid Off'),
	('1911', '21836', '15209.53', '22.78', '36', '325', '92061.67', 'Unemployed', '0.63', 'Business', '4', '0', '55', 'Rent', 'Current'),
	('1912', '41960', '20230.86', '20.44', '12', '792', '52399.51', 'Employed', '0.52', 'Car', '3', '0', '36', 'Mortgage', 'NA'),
	('1913', '94029', '25320.265', '13.54', '60', '640', '53298.74', 'Employed', '0.22', 'Personal', '4', '1', '56', 'Mortgage', 'Paid Off'),
	('1914', '99076', '41889.33', '3.58', '24', '658', '66948.99', 'Others', '0.53', 'Home', 'Unreported', '0', '36', 'Rent', 'Late'),
	('1915', '99275', '20557.68', '4.27', '36', '638', '128240.38', 'Unemployed', '0.48', 'Home', '5', '1', '64', 'Own', 'NA'),
	('1916', '58761', '25320.265', '12.32', '24', '720', '85420.16', 'Others', '0.62', 'Education', 'Unreported', '1', '24', 'Own', 'Paid Off'),
	('1917', '53466', '36140.23', '9.01', '36', '455', '107171.74', 'Others', '0.97', 'Home', '3', '0', '59', 'Own', 'Late'),
	('1918', '31277', '25320.265', '23.69', '24', '749', '85420.16', 'Unemployed', '0.32', 'Education', '7', '0', '68', 'Mortgage', 'Paid Off'),
	('1919', '54760', '18998.61', '17.31', '24', '785', '140518.78', 'Employed', '0.44', 'Other', '0', '1', '60', 'Rent', 'Paid Off'),
	('1920', '46892', '11105.28', '8.22', '24', '595', '49390.68', 'Unemployed', '0.13', 'Home', 'Unreported', '1', '49', 'Other', 'Late'),
	('1921', '33704', '26420.96', '10.21', '72', '546', '128210.27', 'Unemployed', '0.19', 'Business', '6', '1', '27', 'Own', 'Paid Off'),
	('1922', '47330', '38833.02', '3.86', '36', '842', '119519.29', 'Employed', '0.94', 'Education', '1', '1', '19', 'Other', 'Late'),
	('1923', '69029', '7366.32', '7.74', '36', '519', '26019.47', 'Self-employed', '0.56', 'Business', '4', '1', '23', 'Mortgage', 'Late'),
	('1924', '29718', '49349.99', '13.245', '24', '338', '125021.24', 'Unemployed', '0.05', 'Education', '8', '0', '35', 'Own', 'Late'),
	('1925', '57188', '23888.47', '16.76', '72', '796', '58351.31', 'Self-employed', '0.64', 'Home', '9', '1', '43', 'Rent', 'Paid Off'),
	('1926', '54760', '38877.82', '5.97', '72', '374', '146181.78', 'Employed', '0.34', 'Personal', '9', '0', '32', 'Own', 'Paid Off'),
	('1927', '54760', '18268.4', '17.58', '36', '605', '147101.54', 'Others', '0.94', 'Education', 'Unreported', '1', '58', 'Rent', 'Paid Off'),
	('1928', '54760', '25320.265', '4.71', '72', '769', '66253.2', 'Self-employed', '0.07', 'Home', '0', '1', '68', 'Mortgage', 'Late'),
	('1929', '71888', '482783.5', '22.56', '48', '730', '346771.1', 'Unemployed', '0.76', 'Personal', '0', '1', '52', 'Own', 'Late'),
	('1930', '16949', '34822.85', '16.41', '36', '432', '79168.23', 'Self-employed', '0.61', 'Other', '9', '1', '65', 'Mortgage', 'Late'),
	('1931', '54760', '2257.01', '13.245', '24', '469', '98235.57', 'Unemployed', '0.48', 'Car', 'Unreported', '0', '37', 'Mortgage', 'Current'),
	('1932', '61851', '12367.12', '13.245', '72', '585', '119752.76', 'Others', '0.26', 'Car', '8', '1', '68', 'Own', 'Late'),
	('1933', '36604', '13703.78', '19.04', '72', '489', '129501.64', 'Employed', '0.55', 'Education', '5', '0', '32', 'Rent', 'Current'),
	('1934', '57490', '47986.44', '13.245', '72', '777', '88172.75', 'Unemployed', '0.03', 'Home', '0', '1', '38', 'Rent', 'Paid Off'),
	('1935', '19733', '38708.86', '20.35', '36', '840', '85420.16', 'Employed', '0.34', 'Business', '9', '1', '32', 'Own', 'Paid Off'),
	('1936', '54760', '34252.9', '19.92', '36', '632', '46412.22', 'Employed', '0.48', 'Education', '7', '1', '57', 'Rent', 'Paid Off'),
	('1937', '67082', '4412.89', '23.61', '72', '319', '85420.16', 'Self-employed', '0.48', 'Education', '7', '1', '43', 'Mortgage', 'Paid Off'),
	('1938', '83294', '403869.1', '13.245', '36', '761', '653441.5', 'Self-employed', '0.65', 'Car', '2', '0', '65', 'Own', 'Paid Off'),
	('1939', '89749', '9901.99', '10.39', '36', '352', '85420.16', 'Employed', '0.63', 'Business', '3', '0', '39', 'Rent', 'NA'),
	('1940', '54760', '8290.24', '13.75', '24', '770', '85420.16', 'Others', '0.54', 'Business', '7', '1', '60', 'Mortgage', 'Current'),
	('1941', '54760', '43573.65', '13.245', '36', '594', '85007.47', 'Employed', '0.11', 'Home', '2', '0', '57', 'Mortgage', 'Late'),
	('1942', '45436', '1246.82', '8.15', '36', '327', '85420.16', 'Employed', '0.86', 'Business', '9', '1', '28', 'Mortgage', 'Paid Off'),
	('1943', '76590', '4100.71', '13.245', '72', '373', '144267.26', 'Employed', '0.23', 'Business', '0', '0', '66', 'Own', 'Late'),
	('1944', '85523', '46050.89', '9.57', '36', '624', '42235.3', 'Self-employed', '0.48', 'Home', '2', '0', '21', 'Own', 'Current'),
	('1945', '75664', '13326.22', '4.99', '24', '814', '85420.16', 'Others', '0.66', 'Home', '7', '0', '43', 'Mortgage', 'Late'),
	('1946', '54760', '38942.58', '3.37', '60', '438', '39410.2', 'Self-employed', '0.82', 'Education', '0', '0', '66', 'Mortgage', 'Current'),
	('1947', '86076', '33201.49', '17.18', '60', '756', '45997.21', 'Unemployed', '0.57', 'Other', '0', '1', '57', 'Own', 'Paid Off'),
	('1948', '93180', '6499.39', '8.09', '72', '593', '34769.14', 'Employed', '0.7', 'Education', 'Unreported', '1', '25', 'Rent', 'Current'),
	('1949', '30351', '39951.52', '21.59', '24', '759', '85180.8', 'Employed', '0.1', 'Education', '3', '0', '43', 'Other', 'Paid Off'),
	('1950', '37581', '11162.16', '19.77', '12', '715', '85420.16', 'Employed', '0.34', 'Other', '9', '1', '31', 'Own', 'Late'),
	('1951', '61454', '25320.265', '4.65', '60', '632', '88396.31', 'Unemployed', '0.75', 'Home', '3', '1', '60', 'Other', 'Late'),
	('1952', '61613', '25320.265', '14.77', '36', '752', '21357.24', 'Employed', '0.77', 'Business', '1', '1', '34', 'Rent', 'Late'),
	('1953', '60779', '27693.23', '24.25', '60', '550', '123359.98', 'Self-employed', '0.84', 'Business', '0', '1', '49', 'Mortgage', 'Current'),
	('1954', '88754', '47364.12', '21.07', '72', '685', '34748.02', 'Self-employed', '0.08', 'Education', '0', '0', '40', 'Mortgage', 'Paid Off'),
	('1955', '11010', '13699.81', '22.06', '24', '556', '20496.08', 'Employed', '0.6', 'Home', 'Unreported', '1', '48', 'Own', 'Late'),
	('1956', '84980', '15753.87', '8.04', '60', '562', '121193.41', 'Employed', '0.65', 'Business', '3', '1', '56', 'Rent', 'Current'),
	('1957', '43979', '15333.75', '18.69', '60', '340', '42479.8', 'Employed', '0.13', 'Business', '1', '1', '28', 'Mortgage', 'Paid Off'),
	('1958', '88869', '19131.11', '9.82', '72', '401', '70868.48', 'Self-employed', '0.45', 'Personal', '6', '0', '58', 'Rent', 'Current'),
	('1959', '55119', '29254.55', '21.05', '60', '704', '95088.43', 'Employed', '0.52', 'Education', '6', '1', '49', 'Mortgage', 'Current'),
	('1960', '54760', '25320.265', '4.36', '60', '687', '113560.59', 'Employed', '0.77', 'Business', '6', '1', '43', 'Mortgage', 'Paid Off'),
	('1961', '68981', '44762.56', '17.76', '36', '730', '49181.57', 'Unemployed', '0.54', 'Car', '1', '0', '69', 'Own', 'NA'),
	('1962', '90529', '3998.26', '16.83', '48', '441', '31980.03', 'Employed', '0.52', 'Home', '1', '1', '63', 'Rent', 'Paid Off'),
	('1963', '86673', '32854.73', '13.245', '36', '724', '59134.19', 'Self-employed', '0.01', 'Car', '5', '0', '66', 'Mortgage', 'Current'),
	('1964', '24479', '30027.83', '16.54', '12', '370', '122887.43', 'Unemployed', '0.98', 'Business', 'Unreported', '0', '34', 'Own', 'NA'),
	('1965', '37625', '30446.01', '22.95', '12', '437', '85420.16', 'Self-employed', '0.89', 'Business', '0', '0', '42', 'Rent', 'Late'),
	('1966', '60925', '39873.33', '16.15', '24', '789', '43646.79', 'Unemployed', '0.19', 'Car', '8', '1', '63', 'Rent', 'Late'),
	('1967', '34081', '46954.96', '6.23', '36', '641', '137261.62', 'Self-employed', '0.92', 'Other', '3', '0', '64', 'Own', 'NA'),
	('1968', '93180', '37664.55', '9.04', '36', '583', '80910.86', 'Self-employed', '0.94', 'Car', '5', '1', '43', 'Rent', 'NA'),
	('1969', '52933', '9409.61', '10.09', '72', '730', '73363.34', 'Unemployed', '0.61', 'Personal', '6', '0', '23', 'Rent', 'Current'),
	('1970', '25766', '47777.91', '9.16', '72', '721', '131932.85', 'Self-employed', '0.36', 'Education', '9', '1', '44', 'Rent', 'Late'),
	('1971', '89309', '43395.1', '17.74', '36', '680', '123746.89', 'Others', '0.64', 'Other', '6', '1', '63', 'Own', 'Paid Off'),
	('1972', '67611', '25320.265', '23.85', '60', '808', '85269.58', 'Employed', '0.75', 'Car', '9', '1', '67', 'Mortgage', 'Late'),
	('1973', '77465', '6990.36', '13.59', '24', '628', '99199.49', 'Employed', '0.53', 'Business', '1', '0', '26', 'Rent', 'Current'),
	('1974', '54760', '25320.265', '20.18', '12', '399', '85420.16', 'Self-employed', '0.99', 'Home', '8', '1', '65', 'Mortgage', 'NA'),
	('1975', '54982', '48841.24', '23.72', '60', '730', '52667.32', 'Unemployed', '0.12', 'Home', '6', '1', '19', 'Rent', 'Paid Off'),
	('1976', '10947', '7246.87', '13.245', '36', '417', '46975.33', 'Employed', '0.85', 'Education', 'Unreported', '0', '38', 'Own', 'NA'),
	('1977', '38719', '32916.61', '3.06', '60', '308', '86901.73', 'Employed', '0.56', 'Home', '2', '0', '51', 'Own', 'Paid Off'),
	('1978', '54529', '25320.265', '13.245', '36', '644', '85420.16', 'Employed', '0.34', 'Car', 'Unreported', '0', '30', 'Other', 'Paid Off'),
	('1979', '24590', '2739.15', '18.9', '36', '424', '28882.25', 'Others', '0.17', 'Personal', '1', '1', '53', 'Own', 'Late'),
	('1980', '54406', '39473.93', '8.97', '60', '393', '143909.13', 'Others', '0.37', 'Business', 'Unreported', '1', '41', 'Mortgage', 'Current'),
	('1981', '62652', '40963.6', '8.19', '12', '799', '85420.16', 'Employed', '0.21', 'Home', '3', '0', '47', 'Mortgage', 'Late'),
	('1982', '32728', '18117.96', '18.18', '48', '730', '122247.33', 'Unemployed', '0.75', 'Home', '4', '0', '32', 'Rent', 'Paid Off'),
	('1983', '26876', '22950.06', '5.6', '12', '840', '108418.37', 'Unemployed', '0.26', 'Car', '9', '0', '20', 'Rent', 'Current'),
	('1984', '55074', '39194.38', '21.4', '72', '500', '43346.4', 'Employed', '0.48', 'Education', '8', '0', '54', 'Own', 'NA'),
	('1985', '91117', '43027.53', '21.79', '36', '577', '85420.16', 'Unemployed', '0.15', 'Personal', '7', '0', '35', 'Other', 'NA'),
	('1986', '26889', '14528.94', '15.03', '48', '596', '64481.48', 'Self-employed', '0.81', 'Personal', '8', '0', '56', 'Other', 'Current'),
	('1987', '60405', '39430.11', '7.03', '24', '717', '120296.12', 'Self-employed', '0.1', 'Home', '7', '1', '38', 'Rent', 'Paid Off'),
	('1988', '73076', '10843.02', '23.83', '36', '360', '117249.39', 'Employed', '0.61', 'Home', '5', '0', '66', 'Mortgage', 'Paid Off'),
	('1989', '43130', '22919.77', '7.41', '12', '746', '141362.57', 'Employed', '0.33', 'Business', '4', '1', '42', 'Rent', 'Current'),
	('1990', '12205', '36225.97', '9.11', '24', '431', '117162.39', 'Employed', '0.73', 'Education', '5', '0', '41', 'Mortgage', 'Paid Off'),
	('1991', '52139', '34604.12', '12.16', '24', '553', '64049.1', 'Self-employed', '0.48', 'Personal', '2', '0', '23', 'Rent', 'Late'),
	('1992', '54760', '25612.16', '13.245', '24', '464', '22727.54', 'Employed', '0.06', 'Home', '4', '1', '34', 'Rent', 'Current'),
	('1993', '59547', '33823.8', '12.48', '48', '517', '50347.38', 'Employed', '0.38', 'Business', '6', '1', '43', 'Mortgage', 'Current'),
	('1994', '13377', '3476.11', '13.245', '36', '426', '105835.89', 'Unemployed', '0.75', 'Personal', '4', '1', '41', 'Own', 'Paid Off'),
	('1995', '89176', '15125.1', '13.245', '24', '303', '46625.64', 'Employed', '0.29', 'Car', '3', '0', '43', 'Rent', 'Paid Off'),
	('1996', '14440', '11597.38', '2.55', '60', '347', '89076.92', 'Self-employed', '0.48', 'Home', '2', '1', '49', 'Own', 'Current'),
	('1997', '68883', '5007.86', '22.28', '36', '643', '111812.9', 'Unemployed', '0.86', 'Business', '5', '1', '49', 'Own', 'Paid Off'),
	('1998', '26015', '25320.265', '13.245', '60', '731', '46453.73', 'Unemployed', '0.35', 'Business', '2', '0', '58', 'Mortgage', 'Late'),
	('1999', '38601', '25320.265', '23.54', '12', '486', '82749.88', 'Self-employed', '0.48', 'Personal', '1', '1', '60', 'Rent', 'Current'),
	('2000', '59283', '44917.69', '9.22', '72', '730', '96741.24', 'Self-employed', '0.56', 'Home', '8', '1', '31', 'Other', 'Current'),
	('2001', '34438', '27122.21', '6.13', '24', '730', '85420.16', 'Self-employed', '0.58', 'Business', '5', '1', '32', 'Own', 'Current'),
	('2002', '66292', '24735.36', '3.25', '24', '726', '41482.95', 'Unemployed', '0.75', 'Car', '1', '0', '36', 'Own', 'Paid Off'),
	('2003', '16076', '23695.22', '17.82', '36', '777', '113437.03', 'Employed', '0.55', 'Education', '7', '1', '60', 'Own', 'Late'),
	('2004', '52919', '25320.265', '5.6', '72', '656', '33606.32', 'Self-employed', '0.28', 'Business', '7', '1', '38', 'Other', 'NA'),
	('2005', '23822', '47100.12', '5.86', '24', '752', '33581.76', 'Self-employed', '0.49', 'Education', '7', '0', '52', 'Rent', 'Current'),
	('2006', '63405', '11607.91', '7.3', '60', '818', '46426.83', 'Self-employed', '0.95', 'Car', '8', '0', '60', 'Mortgage', 'NA'),
	('2007', '29381', '5654.6', '8.41', '72', '477', '85420.16', 'Unemployed', '0.08', 'Car', '2', '0', '63', 'Own', 'NA'),
	('2008', '55123', '25320.265', '6.91', '72', '412', '124519.5', 'Unemployed', '0.08', 'Home', '1', '1', '55', 'Mortgage', 'Paid Off'),
	('2009', '65499', '18525.5', '15.97', '36', '431', '95819.22', 'Unemployed', '0.08', 'Car', '8', '1', '61', 'Rent', 'Current'),
	('2010', '66695', '21459.6', '13.76', '24', '780', '127742.34', 'Unemployed', '0.28', 'Car', '0', '0', '49', 'Mortgage', 'Paid Off'),
	('2011', '31583', '13136.11', '16.97', '72', '765', '69796.55', 'Unemployed', '0.25', 'Personal', '4', '0', '53', 'Other', 'Late'),
	('2012', '14698', '46091.03', '16.77', '36', '321', '99612.75', 'Unemployed', '0.74', 'Business', '1', '1', '42', 'Mortgage', 'NA'),
	('2013', '66545', '42020.55', '21.67', '60', '665', '61180.67', 'Others', '0.3', 'Car', '8', '1', '68', 'Rent', 'Paid Off'),
	('2014', '31515', '37478.69', '2.84', '36', '434', '28359.95', 'Employed', '0.3', 'Education', '5', '0', '23', 'Own', 'Late'),
	('2015', '50439', '25320.265', '14.83', '72', '812', '83786.36', 'Others', '0.62', 'Car', '5', '0', '46', 'Own', 'Late'),
	('2016', '69525', '44438.29', '10.88', '60', '433', '147307.91', 'Employed', '0.84', 'Business', '5', '1', '57', 'Other', 'Current'),
	('2017', '27310', '47314.18', '20.15', '60', '730', '88666.35', 'Others', '0.98', 'Education', '6', '1', '43', 'Rent', 'Late'),
	('2018', '44372', '44495.93', '7.26', '12', '541', '83249.11', 'Others', '0.2', 'Business', '9', '0', '43', 'Own', 'Late'),
	('2019', '54760', '13806.7', '16.01', '36', '367', '78796.39', 'Unemployed', '0.01', 'Car', '7', '1', '54', 'Rent', 'Current'),
	('2020', '54760', '43347.14', '8.2', '36', '447', '107718.31', 'Employed', '0.51', 'Business', '0', '0', '39', 'Own', 'Current'),
	('2021', '50107', '18167.99', '7.4', '36', '686', '72977.02', 'Unemployed', '0.89', 'Personal', '6', '1', '43', 'Mortgage', 'Late'),
	('2022', '18829', '7040.14', '9.54', '60', '318', '85420.16', 'Others', '0.45', 'Other', '2', '1', '46', 'Rent', 'Paid Off'),
	('2023', '91212', '37437.5', '3.46', '12', '730', '42378.6', 'Self-employed', '0.24', 'Car', '5', '1', '26', 'Mortgage', 'Late'),
	('2024', '55613', '40635.34', '19.17', '48', '343', '64092.77', 'Others', '0.48', 'Home', '8', '1', '32', 'Own', 'Current'),
	('2025', '81965', '49352.26', '22.27', '60', '362', '24352.3', 'Self-employed', '0.44', 'Other', '4', '0', '56', 'Mortgage', 'Late'),
	('2026', '92170', '24566.92', '2.39', '72', '438', '133645.12', 'Self-employed', '0.3', 'Personal', '4', '0', '67', 'Own', 'Late'),
	('2027', '84907', '13300.1', '17.01', '24', '776', '119009.47', 'Unemployed', '0.52', 'Education', '6', '1', '46', 'Rent', 'Paid Off'),
	('2028', '38391', '4204.18', '14.95', '24', '521', '32586.67', 'Self-employed', '0.36', 'Personal', '3', '1', '42', 'Own', 'Late'),
	('2029', '59947', '25320.265', '22.82', '12', '765', '92770.53', 'Employed', '0.2', 'Personal', '5', '1', '67', 'Rent', 'Paid Off'),
	('2030', '72493', '29294', '17.76', '48', '749', '100388.17', 'Unemployed', '0.93', 'Other', '6', '1', '66', 'Rent', 'Paid Off'),
	('2031', '18318', '25328.41', '11.63', '72', '425', '92692.59', 'Employed', '0.74', 'Business', 'Unreported', '1', '30', 'Rent', 'Current'),
	('2032', '80731', '8976.59', '15.3', '60', '827', '85420.16', 'Self-employed', '0.67', 'Home', '7', '1', '61', 'Mortgage', 'Late'),
	('2033', '69489', '19205.73', '4.93', '72', '557', '90275.78', 'Self-employed', '0.71', 'Personal', '8', '1', '19', 'Rent', 'Late'),
	('2034', '13278', '45977.42', '5.73', '48', '667', '48084.25', 'Self-employed', '0.74', 'Other', '3', '0', '41', 'Mortgage', 'Current'),
	('2035', '54760', '23505.4', '7.15', '12', '343', '118068.3', 'Self-employed', '0.98', 'Education', '6', '1', '26', 'Mortgage', 'NA'),
	('2036', '79066', '25320.265', '13.11', '48', '800', '40016.34', 'Unemployed', '0.03', 'Business', '8', '0', '67', 'Own', 'Paid Off'),
	('2037', '54760', '24123.67', '8.14', '60', '585', '23998.46', 'Self-employed', '0.48', 'Business', '8', '1', '58', 'Rent', 'Current'),
	('2038', '19906', '19851.05', '4.31', '72', '319', '129185.21', 'Employed', '0.3', 'Other', '5', '0', '38', 'Rent', 'NA'),
	('2039', '54760', '3970.73', '13.93', '36', '642', '63945.22', 'Unemployed', '0.34', 'Business', 'Unreported', '0', '47', 'Own', 'Paid Off'),
	('2040', '16430', '12230.04', '18.05', '72', '503', '105230.59', 'Self-employed', '0.88', 'Business', '0', '1', '58', 'Own', 'Late'),
	('2041', '93606', '25499.89', '4.22', '12', '570', '78854.1', 'Self-employed', '0.65', 'Education', '9', '0', '21', 'Rent', 'Current'),
	('2042', '84875', '29637.21', '18.77', '12', '336', '23964.79', 'Self-employed', '0.17', 'Education', '5', '1', '43', 'Own', 'Current'),
	('2043', '30043', '24428.76', '2.54', '36', '730', '94922.5', 'Self-employed', '0.11', 'Home', '3', '1', '47', 'Other', 'Late'),
	('2044', '39987', '18830.75', '18.08', '24', '825', '47005.78', 'Unemployed', '0.11', 'Home', 'Unreported', '1', '69', 'Other', 'Current'),
	('2045', '14564', '40371.38', '13.245', '24', '643', '40387.59', 'Unemployed', '0.56', 'Personal', '9', '0', '57', 'Own', 'NA'),
	('2046', '94932', '35043.52', '13.245', '12', '388', '77602.84', 'Others', '0.77', 'Home', '5', '1', '47', 'Other', 'Current'),
	('2047', '52559', '47325.59', '3.52', '72', '428', '41372.8', 'Self-employed', '0.06', 'Education', '6', '1', '48', 'Own', 'Paid Off'),
	('2048', '54760', '25320.265', '8.5', '60', '387', '43648.52', 'Unemployed', '0.54', 'Car', '0', '1', '43', 'Own', 'Late'),
	('2049', '39361', '37459.89', '5.39', '24', '546', '70571.82', 'Self-employed', '0.6', 'Other', 'Unreported', '1', '30', 'Own', 'Current'),
	('2050', '25165', '4007.42', '13.52', '36', '499', '33261.51', 'Unemployed', '0.48', 'Business', '9', '0', '43', 'Rent', 'Late'),
	('2051', '54760', '15257.99', '6.16', '72', '730', '42067.01', 'Others', '0.04', 'Car', 'Unreported', '0', '50', 'Own', 'Paid Off'),
	('2052', '33763', '45938', '24.92', '24', '538', '59377.84', 'Unemployed', '0.46', 'Personal', '0', '1', '66', 'Rent', 'Late'),
	('2053', '67704', '38992.41', '11.65', '24', '641', '84013.77', 'Employed', '0.38', 'Home', '4', '0', '68', 'Rent', 'Paid Off'),
	('2054', '48834', '33438.94', '10.91', '48', '438', '66628.34', 'Self-employed', '0.59', 'Car', '1', '1', '64', 'Mortgage', 'Paid Off'),
	('2055', '20463', '20585.13', '3.48', '48', '730', '94293.67', 'Others', '0.74', 'Car', '8', '0', '43', 'Own', 'Late'),
	('2056', '30318', '3441.55', '15.77', '36', '404', '33203.91', 'Self-employed', '0.07', 'Car', '9', '0', '59', 'Rent', 'Paid Off'),
	('2057', '83528', '13752.39', '4.86', '24', '730', '29654.6', 'Others', '0.69', 'Education', '7', '1', '48', 'Mortgage', 'Current'),
	('2058', '25347', '24562.57', '8.02', '12', '741', '85420.16', 'Self-employed', '0.78', 'Car', '6', '0', '28', 'Own', 'Current'),
	('2059', '41523', '21716.14', '13.245', '36', '812', '25738.3', 'Self-employed', '0.73', 'Business', 'Unreported', '0', '62', 'Mortgage', 'Late'),
	('2060', '83929', '23448.49', '4.26', '60', '680', '68920.89', 'Self-employed', '0.21', 'Personal', 'Unreported', '0', '26', 'Mortgage', 'Current'),
	('2061', '22079', '25320.265', '21.09', '72', '355', '50732.52', 'Employed', '0.45', 'Education', '2', '0', '33', 'Rent', 'Current'),
	('2062', '54760', '32020.63', '4.54', '60', '793', '81087.33', 'Self-employed', '0.17', 'Education', '4', '1', '45', 'Mortgage', 'Paid Off'),
	('2063', '94935', '23097.31', '13.11', '60', '357', '61922.41', 'Self-employed', '0.87', 'Home', '6', '1', '66', 'Rent', 'Current'),
	('2064', '33157', '1822.65', '8.65', '48', '342', '134496.47', 'Unemployed', '0.67', 'Business', 'Unreported', '0', '36', 'Other', 'Current'),
	('2065', '37203', '47021.45', '7.44', '24', '373', '44844.95', 'Self-employed', '0.81', 'Personal', '1', '0', '25', 'Mortgage', 'Paid Off'),
	('2066', '62859', '10687.32', '7.14', '24', '743', '43838.16', 'Self-employed', '0.58', 'Education', '0', '0', '18', 'Rent', 'Current'),
	('2067', '34263', '9309.89', '17.41', '12', '640', '32841.54', 'Self-employed', '0.7', 'Personal', '0', '0', '29', 'Own', 'Paid Off'),
	('2068', '90840', '37999.61', '20.26', '12', '301', '99827.41', 'Self-employed', '0.7', 'Business', '3', '1', '49', 'Own', 'Current'),
	('2069', '61493', '18084.49', '11.41', '48', '352', '34482.32', 'Employed', '0.33', 'Personal', '4', '0', '31', 'Own', 'Late'),
	('2070', '78613', '30965.87', '9.33', '48', '656', '85420.16', 'Employed', '0.24', 'Business', '0', '0', '25', 'Own', 'Late'),
	('2071', '75591', '1292.34', '18.81', '36', '424', '142191.36', 'Employed', '0.87', 'Education', '7', '1', '29', 'Rent', 'Late'),
	('2072', '83180', '22140.26', '8.19', '48', '343', '29395.44', 'Self-employed', '0.84', 'Personal', '5', '0', '24', 'Other', 'Current'),
	('2073', '77622', '25320.265', '22.02', '72', '470', '61276.69', 'Self-employed', '0.75', 'Home', '3', '1', '31', 'Own', 'Late'),
	('2074', '88385', '11268.53', '8.76', '36', '526', '72561.28', 'Self-employed', '0.75', 'Education', '6', '0', '43', 'Rent', 'Late'),
	('2075', '77848', '10541.15', '3.18', '12', '395', '102987.7', 'Unemployed', '0.02', 'Education', '3', '1', '22', 'Own', 'Paid Off'),
	('2076', '48210', '25320.265', '12.82', '12', '555', '102762.67', 'Self-employed', '0.46', 'Home', 'Unreported', '1', '50', 'Rent', 'Current'),
	('2077', '64334', '15818.24', '8.9', '36', '725', '23617.69', 'Self-employed', '0.57', 'Other', '5', '0', '59', 'Own', 'Paid Off'),
	('2078', '69408', '42123.32', '12.72', '60', '587', '38583.03', 'Self-employed', '0.46', 'Business', '1', '1', '33', 'Own', 'Current'),
	('2079', '31693', '21617.07', '8.72', '60', '387', '142198.51', 'Others', '0.19', 'Car', '9', '1', '43', 'Mortgage', 'Current'),
	('2080', '91163', '43244.34', '24.7', '48', '651', '73108.55', 'Employed', '0.69', 'Education', '5', '1', '57', 'Other', 'Current'),
	('2081', '79002', '33476.57', '24.41', '36', '366', '68806.12', 'Unemployed', '0.76', 'Car', '6', '1', '45', 'Mortgage', 'Current'),
	('2082', '46884', '1347.53', '16.2', '36', '602', '22039.91', 'Employed', '0.68', 'Car', '4', '0', '49', 'Rent', 'Current'),
	('2083', '48670', '6468.41', '13.245', '72', '730', '25714.44', 'Unemployed', '0.2', 'Home', '0', '1', '43', 'Mortgage', 'Current'),
	('2084', '13704', '2535.91', '9.2', '36', '582', '30832.95', 'Employed', '0.22', 'Other', '7', '0', '25', 'Own', 'Late'),
	('2085', '75588', '5431.81', '20.12', '12', '814', '97624.38', 'Others', '0.45', 'Business', '0', '1', '26', 'Own', 'Late'),
	('2086', '91565', '11795.39', '19.6', '36', '759', '60845.47', 'Self-employed', '0.72', 'Business', '9', '1', '48', 'Rent', 'Paid Off'),
	('2087', '95262', '39493.55', '10.17', '24', '421', '20117.4', 'Self-employed', '0.48', 'Car', '6', '1', '43', 'Rent', 'NA'),
	('2088', '85378', '36950.35', '18.59', '24', '554', '45670.16', 'Unemployed', '0.5', 'Car', '2', '0', '58', 'Mortgage', 'Current'),
	('2089', '92670', '25320.265', '4.15', '24', '584', '123113.94', 'Employed', '0.04', 'Car', '3', '0', '43', 'Own', 'Paid Off'),
	('2090', '70367', '20130.72', '13.245', '48', '735', '55506.61', 'Self-employed', '0.22', 'Other', 'Unreported', '0', '69', 'Mortgage', 'Current'),
	('2091', '10819', '43114.91', '6.83', '36', '554', '113339.26', 'Unemployed', '0.4', 'Other', '6', '0', '47', 'Own', 'Late'),
	('2092', '17200', '4543.74', '16.39', '48', '472', '56799.18', 'Employed', '0.08', 'Business', '8', '0', '45', 'Rent', 'NA'),
	('2093', '34983', '28675.97', '6.64', '36', '587', '92207.97', 'Self-employed', '0.89', 'Business', '5', '0', '37', 'Rent', 'Paid Off'),
	('2094', '97801', '6636.38', '8.52', '36', '476', '42441.4', 'Employed', '0.26', 'Personal', '7', '1', '60', 'Own', 'Paid Off'),
	('2095', '68203', '49708.68', '8.26', '36', '350', '72976.29', 'Unemployed', '0.21', 'Education', '6', '0', '67', 'Rent', 'Current'),
	('2096', '80406', '22640.66', '23.7', '72', '835', '52770.65', 'Others', '0.53', 'Other', '5', '1', '29', 'Rent', 'Paid Off'),
	('2097', '69512', '45848.29', '13.245', '36', '726', '81995.38', 'Others', '0.25', 'Home', '6', '0', '34', 'Rent', 'Current'),
	('2098', '76635', '8496.15', '21.13', '48', '568', '82555', 'Self-employed', '0.48', 'Other', '6', '1', '64', 'Other', 'Paid Off'),
	('2099', '12556', '49525', '12.39', '72', '355', '98815.78', 'Employed', '0.4', 'Personal', '6', '0', '60', 'Mortgage', 'Current'),
	('2100', '81366', '3905.89', '13.245', '48', '534', '137967.09', 'Unemployed', '0.77', 'Home', '0', '0', '37', 'Own', 'Paid Off'),
	('2101', '54760', '25320.265', '10.62', '72', '342', '53471.58', 'Others', '0.48', 'Home', '4', '1', '56', 'Own', 'Paid Off'),
	('2102', '34638', '41338.62', '12.6', '36', '784', '110638.24', 'Employed', '0.48', 'Business', '9', '1', '21', 'Mortgage', 'NA'),
	('2103', '73294', '39053.02', '5.25', '12', '344', '87891.93', 'Employed', '0.39', 'Education', '8', '0', '43', 'Mortgage', 'Late'),
	('2104', '75978', '25320.265', '8.23', '60', '791', '55711.63', 'Employed', '0.14', 'Home', '9', '1', '34', 'Rent', 'Paid Off'),
	('2105', '54760', '13095.45', '6.26', '12', '813', '104415.25', 'Unemployed', '0.27', 'Personal', '0', '1', '21', 'Own', 'Paid Off'),
	('2106', '70946', '24160.1', '22.26', '60', '448', '55492.94', 'Employed', '0.81', 'Personal', '5', '0', '38', 'Rent', 'Paid Off'),
	('2107', '24036', '25320.265', '17.87', '36', '300', '139897.79', 'Employed', '0.64', 'Car', '5', '0', '26', 'Own', 'Current'),
	('2108', '27101', '31668.44', '5.07', '12', '663', '80578.78', 'Self-employed', '0.57', 'Education', '3', '1', '27', 'Rent', 'Paid Off'),
	('2109', '19818', '41793.95', '11.9', '48', '483', '69674.16', 'Others', '0.92', 'Business', '9', '0', '31', 'Rent', 'NA'),
	('2110', '56192', '43488.07', '9.49', '48', '829', '32622.36', 'Self-employed', '0.71', 'Car', '5', '1', '20', 'Rent', 'Current'),
	('2111', '56229', '7588.02', '2.34', '36', '584', '42851.1', 'Others', '0.31', 'Home', 'Unreported', '0', '66', 'Rent', 'Late'),
	('2112', '28281', '29361.62', '19.01', '72', '787', '36984.84', 'Self-employed', '0.85', 'Car', 'Unreported', '0', '68', 'Mortgage', 'Current'),
	('2113', '65697', '49360.1', '12.12', '48', '730', '64863.96', 'Self-employed', '0.73', 'Car', '9', '1', '23', 'Mortgage', 'Late'),
	('2114', '91946', '5686.62', '10.32', '12', '806', '40580.57', 'Self-employed', '0.36', 'Education', '1', '1', '67', 'Own', 'Current'),
	('2115', '54760', '22733.78', '6.19', '48', '730', '134964.31', 'Unemployed', '1', 'Education', '0', '1', '40', 'Mortgage', 'Paid Off'),
	('2116', '85501', '38477.81', '13.23', '60', '641', '124216.88', 'Self-employed', '0.04', 'Other', '4', '0', '48', 'Rent', 'Late'),
	('2117', '70848', '49489.28', '8.25', '72', '730', '48982.4', 'Employed', '0.25', 'Business', '9', '1', '25', 'Own', 'Current'),
	('2118', '84296', '6866.09', '13.68', '72', '730', '129676.15', 'Self-employed', '0.78', 'Home', '1', '0', '35', 'Rent', 'Late'),
	('2119', '83786', '25320.265', '7.76', '24', '453', '116806.88', 'Employed', '0.9', 'Personal', '2', '0', '21', 'Rent', 'Late'),
	('2120', '39910', '37895.07', '8.73', '12', '842', '134835.02', 'Unemployed', '0.43', 'Business', '5', '1', '21', 'Other', 'Late'),
	('2121', '25199', '30109.92', '13.245', '12', '518', '57618.52', 'Employed', '0.32', 'Home', '9', '0', '43', 'Mortgage', 'Late'),
	('2122', '74473', '44054', '16.05', '60', '495', '27677.39', 'Employed', '0.86', 'Personal', '0', '1', '43', 'Rent', 'Paid Off'),
	('2123', '49132', '6005.19', '13.245', '60', '689', '43831', 'Self-employed', '0.7', 'Business', '2', '1', '63', 'Rent', 'Paid Off'),
	('2124', '82388', '27583.12', '8.41', '24', '756', '73228.43', 'Unemployed', '0.37', 'Business', '2', '0', '43', 'Rent', 'Paid Off'),
	('2125', '37055', '30850.5', '9.53', '24', '374', '143768.32', 'Unemployed', '0.83', 'Personal', '6', '0', '38', 'Own', 'Paid Off'),
	('2126', '54766', '25320.265', '16.83', '24', '666', '85420.16', 'Employed', '0.92', 'Business', '2', '1', '63', 'Other', 'NA'),
	('2127', '65421', '42435.51', '24.88', '48', '405', '21230.51', 'Unemployed', '0.48', 'Other', '0', '0', '26', 'Own', 'Paid Off'),
	('2128', '27756', '24234.09', '7.31', '36', '670', '85420.16', 'Employed', '0.36', 'Car', '1', '1', '67', 'Own', 'Paid Off'),
	('2129', '29961', '30611.92', '13.245', '60', '616', '39560.06', 'Unemployed', '0.46', 'Business', '2', '1', '53', 'Mortgage', 'Current'),
	('2130', '18008', '1384.78', '20.87', '36', '638', '48638.58', 'Unemployed', '0.68', 'Business', '6', '0', '69', 'Own', 'Current'),
	('2131', '95690', '34762.42', '20.36', '60', '730', '89297.33', 'Self-employed', '0.65', 'Home', '8', '1', '27', 'Other', 'Late'),
	('2132', '54760', '1756.86', '9.57', '60', '568', '35031.09', 'Self-employed', '0.54', 'Personal', '8', '1', '59', 'Rent', 'Current'),
	('2133', '53014', '32707.33', '2.34', '60', '463', '102702.71', 'Self-employed', '0.78', 'Education', '0', '0', '37', 'Other', 'Current'),
	('2134', '43671', '25788.91', '11.88', '36', '308', '20435.43', 'Self-employed', '0.12', 'Home', '2', '1', '19', 'Mortgage', 'Current'),
	('2135', '22151', '47748.93', '14.5', '12', '730', '110802.18', 'Employed', '0.36', 'Business', 'Unreported', '0', '48', 'Rent', 'Paid Off'),
	('2136', '54760', '8990.63', '19.48', '36', '730', '120546.42', 'Unemployed', '0.11', 'Personal', '4', '1', '36', 'Mortgage', 'Late'),
	('2137', '85802', '19805.06', '17.2', '48', '482', '115814.27', 'Self-employed', '0.52', 'Home', '1', '0', '49', 'Rent', 'Current'),
	('2138', '58933', '43007.58', '17.46', '48', '688', '21348.62', 'Unemployed', '0.23', 'Home', '7', '0', '34', 'Mortgage', 'Paid Off'),
	('2139', '30913', '26190.67', '20.48', '24', '521', '143951.08', 'Self-employed', '0.88', 'Business', '6', '1', '38', 'Own', 'Current'),
	('2140', '25892', '40916.59', '19.82', '36', '355', '148914.45', 'Employed', '0.99', 'Home', '4', '0', '18', 'Own', 'Paid Off'),
	('2141', '63725', '25863.85', '12.88', '36', '482', '138784.9', 'Employed', '0.9', 'Education', '1', '0', '56', 'Rent', 'Paid Off'),
	('2142', '29319', '34437.7', '4.41', '12', '404', '85420.16', 'Unemployed', '0.73', 'Business', '0', '1', '60', 'Mortgage', 'Late'),
	('2143', '82120', '44195.59', '20.73', '24', '612', '145979.31', 'Others', '0.61', 'Personal', 'Unreported', '1', '47', 'Own', 'Current'),
	('2144', '39111', '3685.98', '15.84', '72', '329', '111168', 'Self-employed', '0.35', 'Other', '3', '0', '48', 'Mortgage', 'Late'),
	('2145', '61897', '44162.04', '2.76', '12', '450', '53173.76', 'Employed', '0.33', 'Home', '3', '1', '19', 'Mortgage', 'Paid Off'),
	('2146', '12688', '9769.07', '20.14', '36', '384', '54615.25', 'Self-employed', '0.42', 'Personal', '8', '1', '50', 'Own', 'Current'),
	('2147', '92323', '38009.56', '11.05', '72', '731', '22356.53', 'Others', '0.11', 'Business', '8', '0', '37', 'Rent', 'Paid Off'),
	('2148', '29506', '28725.72', '9.22', '24', '591', '85420.16', 'Self-employed', '0.79', 'Education', '8', '1', '34', 'Own', 'Late'),
	('2149', '74451', '17313.2', '13.85', '72', '677', '27491.69', 'Self-employed', '0.54', 'Personal', '8', '0', '48', 'Other', 'Paid Off'),
	('2150', '54760', '47966.98', '17.45', '60', '801', '62834.14', 'Self-employed', '0.62', 'Business', '4', '0', '21', 'Own', 'NA'),
	('2151', '54760', '42230.23', '13.245', '48', '353', '97428.96', 'Unemployed', '0.9', 'Other', '5', '1', '63', 'Other', 'NA'),
	('2152', '65224', '14992.3', '2.6', '60', '799', '85420.16', 'Unemployed', '0.81', 'Home', '4', '0', '61', 'Mortgage', 'Paid Off'),
	('2153', '11918', '10931.47', '9.01', '72', '568', '26588.17', 'Self-employed', '0.39', 'Personal', '3', '1', '51', 'Mortgage', 'Current'),
	('2154', '22933', '18590.54', '2.93', '12', '411', '52470.9', 'Unemployed', '0.99', 'Personal', '7', '1', '23', 'Rent', 'Late'),
	('2155', '18144', '17273.67', '21.39', '36', '534', '73704.57', 'Unemployed', '0.04', 'Personal', '4', '1', '47', 'Rent', 'Current'),
	('2156', '64746', '8828.1', '18.18', '24', '793', '98697.07', 'Self-employed', '0.99', 'Other', '1', '0', '34', 'Other', 'Paid Off'),
	('2157', '96461', '46932.97', '8.22', '72', '471', '85420.16', 'Unemployed', '0.4', 'Education', '8', '0', '45', 'Own', 'Paid Off'),
	('2158', '10966', '44493.62', '19.7', '24', '500', '121389.14', 'Self-employed', '0.92', 'Education', '8', '1', '33', 'Mortgage', 'Paid Off'),
	('2159', '73833', '25320.265', '16.57', '12', '838', '127741.9', 'Unemployed', '0.06', 'Home', '4', '1', '45', 'Own', 'Current'),
	('2160', '13275', '23329.85', '17.18', '36', '492', '129199.99', 'Self-employed', '0.19', 'Education', '1', '0', '48', 'Rent', 'Paid Off'),
	('2161', '52641', '25320.265', '19.26', '12', '546', '66543.99', 'Unemployed', '0.47', 'Home', '0', '0', '58', 'Own', 'Paid Off'),
	('2162', '31151', '18657.53', '5.7', '48', '432', '60236.42', 'Self-employed', '0.15', 'Personal', '2', '0', '33', 'Own', 'Late'),
	('2163', '54760', '43169.34', '15.81', '36', '400', '113619.19', 'Others', '0.48', 'Personal', '2', '1', '63', 'Own', 'Paid Off'),
	('2164', '39735', '45415.8', '13.91', '36', '778', '135261.78', 'Self-employed', '0.35', 'Business', '6', '1', '26', 'Mortgage', 'NA'),
	('2165', '43525', '27376.7', '9.83', '72', '481', '116896.92', 'Self-employed', '0.61', 'Personal', '0', '1', '27', 'Other', 'Late'),
	('2166', '60762', '24333.42', '18.8', '12', '314', '44176.29', 'Self-employed', '0.18', 'Personal', '7', '1', '40', 'Mortgage', 'Current'),
	('2167', '54760', '27102.25', '13.245', '72', '347', '146970.99', 'Others', '0.65', 'Education', '0', '1', '28', 'Other', 'Current'),
	('2168', '49492', '12667.99', '12.81', '24', '765', '141608.28', 'Self-employed', '0.9', 'Other', '9', '0', '43', 'Mortgage', 'Current'),
	('2169', '86155', '5501.08', '13.245', '24', '769', '28714.01', 'Self-employed', '0.77', 'Personal', '6', '0', '34', 'Rent', 'NA'),
	('2170', '55607', '19959.08', '19', '36', '583', '32621.82', 'Unemployed', '0.21', 'Business', '1', '1', '43', 'Mortgage', 'Paid Off'),
	('2171', '79759', '39419.66', '13.245', '48', '679', '146654.17', 'Unemployed', '0.4', 'Business', '4', '1', '61', 'Other', 'Paid Off'),
	('2172', '87007', '34405.84', '13.245', '12', '481', '117310.93', 'Self-employed', '0.78', 'Home', '5', '1', '63', 'Own', 'Late'),
	('2173', '59165', '42202.76', '14.37', '60', '682', '122626.86', 'Unemployed', '0.99', 'Personal', '5', '1', '37', 'Own', 'Late'),
	('2174', '68531', '23121.94', '8.15', '36', '646', '112915.25', 'Unemployed', '0.03', 'Personal', '1', '1', '45', 'Mortgage', 'Late'),
	('2175', '51446', '7089.33', '5.88', '48', '578', '34355.19', 'Unemployed', '0.92', 'Education', 'Unreported', '0', '30', 'Own', 'Late'),
	('2176', '54760', '26608.64', '10', '24', '644', '130026.84', 'Self-employed', '0.01', 'Car', '1', '1', '30', 'Mortgage', 'Late'),
	('2177', '10359', '2935.01', '4.43', '24', '730', '111635.28', 'Self-employed', '0.73', 'Car', 'Unreported', '1', '36', 'Rent', 'Current'),
	('2178', '30811', '22112.55', '18.59', '24', '625', '49969.75', 'Unemployed', '0.98', 'Education', '0', '0', '26', 'Rent', 'Paid Off'),
	('2179', '65280', '10869.43', '15.37', '72', '637', '136544.74', 'Unemployed', '0.17', 'Car', '3', '1', '25', 'Own', 'NA'),
	('2180', '89670', '42368.15', '2.96', '60', '780', '53501.2', 'Others', '0.05', 'Personal', '9', '1', '34', 'Rent', 'Current'),
	('2181', '40116', '7317.37', '23.94', '60', '419', '30424.37', 'Unemployed', '0.3', 'Car', '5', '0', '42', 'Mortgage', 'Late'),
	('2182', '47970', '24257.23', '13.245', '48', '780', '42608.81', 'Self-employed', '0.99', 'Home', '8', '0', '36', 'Rent', 'Late'),
	('2183', '54760', '19871.75', '24.41', '24', '730', '64585.59', 'Employed', '0.5', 'Car', '5', '0', '62', 'Other', 'Late'),
	('2184', '81842', '25320.265', '16.78', '24', '730', '72230.14', 'Self-employed', '0.35', 'Personal', '9', '0', '47', 'Other', 'Late'),
	('2185', '73216', '25320.265', '23.67', '48', '796', '86393.26', 'Unemployed', '0.94', 'Car', '5', '1', '62', 'Other', 'Current'),
	('2186', '34812', '24272.78', '20.47', '24', '369', '102176.82', 'Self-employed', '0.38', 'Education', '1', '1', '63', 'Rent', 'Current'),
	('2187', '36265', '30213.51', '9.1', '12', '447', '56566.97', 'Self-employed', '0.94', 'Home', '6', '0', '38', 'Other', 'Paid Off'),
	('2188', '13422', '25320.265', '19.35', '12', '466', '85420.16', 'Employed', '0.09', 'Education', 'Unreported', '0', '55', 'Other', 'Current'),
	('2189', '42869', '26547.79', '4.8', '48', '730', '33822.56', 'Employed', '0.81', 'Business', '7', '0', '61', 'Rent', 'Late'),
	('2190', '54760', '25320.265', '13.65', '12', '354', '81625.91', 'Employed', '0.51', 'Other', '1', '1', '20', 'Rent', 'Current'),
	('2191', '68747', '6336.98', '22.9', '48', '755', '149143.41', 'Unemployed', '0.48', 'Other', '9', '0', '67', 'Own', 'NA'),
	('2192', '67310', '39783.43', '14.07', '72', '841', '33484.53', 'Employed', '0.41', 'Car', '9', '0', '42', 'Mortgage', 'Current'),
	('2193', '31497', '18678.98', '13.245', '48', '690', '54430.05', 'Self-employed', '0.3', 'Car', '7', '0', '66', 'Mortgage', 'Late'),
	('2194', '39755', '14666.65', '10.78', '24', '694', '111752.49', 'Others', '0.06', 'Car', '7', '1', '62', 'Mortgage', 'Late'),
	('2195', '52170', '1027.91', '14.06', '48', '668', '74682.47', 'Self-employed', '0.67', 'Car', '8', '0', '43', 'Other', 'Current'),
	('2196', '46114', '2862.22', '15.1', '36', '577', '87793.56', 'Self-employed', '0.5', 'Business', '3', '0', '52', 'Own', 'Late'),
	('2197', '82204', '13340.38', '24.09', '36', '810', '85420.16', 'Employed', '0.55', 'Personal', '8', '1', '50', 'Mortgage', 'Current'),
	('2198', '12945', '17146.98', '18.28', '12', '334', '137173.94', 'Others', '0.8', 'Personal', '5', '1', '25', 'Own', 'Current'),
	('2199', '23595', '35257.25', '15.68', '24', '456', '104639.45', 'Employed', '0.37', 'Business', '7', '0', '25', 'Rent', 'Current'),
	('2200', '54760', '19054.35', '13.245', '36', '467', '84242.58', 'Unemployed', '0.55', 'Car', '8', '1', '24', 'Own', 'Late'),
	('2201', '85709', '25320.265', '7.13', '24', '361', '85420.16', 'Unemployed', '0.25', 'Home', '6', '0', '29', 'Own', 'Late'),
	('2202', '43552', '25320.265', '4.84', '24', '730', '138735.32', 'Unemployed', '0.98', 'Home', '4', '1', '65', 'Mortgage', 'Current'),
	('2203', '61836', '18177.79', '13.76', '24', '622', '77244.89', 'Employed', '0.08', 'Car', 'Unreported', '1', '36', 'Mortgage', 'Late'),
	('2204', '46614', '87124.7', '24.79', '24', '680', '810806.1', 'Others', '0.51', 'Other', '4', '0', '67', 'Other', 'Paid Off'),
	('2205', '33040', '1067.1', '21.26', '48', '781', '106309.18', 'Self-employed', '0.15', 'Personal', 'Unreported', '1', '18', 'Own', 'Current'),
	('2206', '32535', '19772.6', '13.24', '12', '730', '22801.17', 'Unemployed', '0.96', 'Education', '7', '1', '25', 'Rent', 'NA'),
	('2207', '44619', '20929.3', '13.83', '60', '730', '20315.77', 'Self-employed', '0.48', 'Personal', '3', '0', '54', 'Other', 'Current'),
	('2208', '98436', '18830.67', '13.245', '48', '669', '131113.9', 'Others', '0.07', 'Personal', '2', '1', '51', 'Other', 'Current'),
	('2209', '49332', '40317.8', '21.21', '60', '657', '67708.6', 'Self-employed', '0.59', 'Personal', '1', '0', '51', 'Own', 'Late'),
	('2210', '46565', '5682.21', '10.78', '36', '571', '38796.41', 'Unemployed', '0.43', 'Home', '2', '1', '63', 'Rent', 'Paid Off'),
	('2211', '74113', '6630.21', '2.64', '48', '824', '78948.32', 'Self-employed', '0.26', 'Other', '3', '1', '39', 'Own', 'Late'),
	('2212', '93702', '12439.7', '23.26', '72', '468', '88406.48', 'Unemployed', '0.33', 'Business', '9', '0', '64', 'Rent', 'Paid Off'),
	('2213', '29656', '26172.9', '12.12', '48', '316', '131707.35', 'Employed', '0.21', 'Business', '6', '0', '50', 'Other', 'Paid Off'),
	('2214', '54760', '36569.17', '17.52', '72', '474', '90855.29', 'Unemployed', '0.12', 'Car', '2', '0', '59', 'Own', 'Current'),
	('2215', '62390', '45279.52', '13.245', '60', '789', '127603.61', 'Self-employed', '0.83', 'Home', '2', '0', '67', 'Rent', 'Current'),
	('2216', '54760', '14087.65', '20.16', '36', '731', '39914.08', 'Employed', '0.71', 'Home', '7', '0', '38', 'Rent', 'Paid Off'),
	('2217', '54760', '7262.17', '24.13', '36', '780', '85420.16', 'Employed', '0.19', 'Education', '7', '1', '35', 'Own', 'Late'),
	('2218', '71531', '25951.51', '16.28', '60', '577', '39445.35', 'Employed', '0.64', 'Home', '0', '1', '25', 'Other', 'Current'),
	('2219', '51741', '15680.03', '4.69', '24', '462', '51387.86', 'Employed', '0.48', 'Home', '6', '0', '57', 'Rent', 'Paid Off'),
	('2220', '26712', '49240.11', '15.53', '36', '553', '25792.42', 'Employed', '0.54', 'Home', '9', '0', '49', 'Own', 'Paid Off'),
	('2221', '98710', '2952.28', '2.73', '60', '408', '142515.57', 'Employed', '0.52', 'Business', '4', '0', '47', 'Rent', 'Paid Off'),
	('2222', '85102', '10353.86', '9.93', '60', '340', '146281.09', 'Unemployed', '0.97', 'Business', '6', '1', '66', 'Own', 'Current'),
	('2223', '35740', '37924.38', '3.7', '60', '648', '92891.27', 'Self-employed', '1', 'Education', '2', '1', '59', 'Rent', 'Current'),
	('2224', '93843', '19932.5', '8.57', '60', '694', '31632.16', 'Unemployed', '0.05', 'Car', '2', '1', '36', 'Own', 'Late'),
	('2225', '17696', '28549.67', '22.67', '72', '837', '140572.83', 'Unemployed', '0.58', 'Personal', '8', '1', '41', 'Rent', 'Late'),
	('2226', '77845', '40957.14', '6.87', '36', '596', '23542.44', 'Employed', '0.4', 'Business', '8', '0', '29', 'Own', 'Current'),
	('2227', '62776', '33676.3', '13.245', '12', '730', '88269.92', 'Employed', '0.22', 'Business', '5', '1', '18', 'Rent', 'Current'),
	('2228', '58029', '30574', '11.12', '72', '766', '85873.64', 'Self-employed', '0.55', 'Car', '1', '1', '21', 'Mortgage', 'Late'),
	('2229', '93637', '34409.36', '10.49', '12', '444', '85420.16', 'Unemployed', '0.53', 'Personal', '1', '1', '44', 'Rent', 'NA'),
	('2230', '34854', '4147.99', '21.42', '12', '439', '85420.16', 'Self-employed', '0.1', 'Education', '9', '1', '63', 'Own', 'Late'),
	('2231', '71797', '5792.16', '11.49', '60', '367', '72819.81', 'Self-employed', '0.59', 'Education', '8', '0', '45', 'Mortgage', 'Late'),
	('2232', '94503', '307699', '24.6', '60', '394', '672904.2', 'Employed', '0.71', 'Personal', '1', '1', '31', 'Own', 'Late'),
	('2233', '18443', '19024.37', '6.57', '12', '404', '147906.48', 'Others', '0.59', 'Personal', '0', '1', '42', 'Rent', 'Late'),
	('2234', '54760', '49790', '22.23', '36', '562', '92968.39', 'Unemployed', '0.88', 'Other', '7', '1', '36', 'Rent', 'NA'),
	('2235', '19124', '41212.29', '8.24', '24', '746', '89071.98', 'Employed', '0.01', 'Car', '3', '1', '54', 'Own', 'Late'),
	('2236', '34299', '46397.44', '14.77', '36', '390', '121105.27', 'Self-employed', '0.89', 'Home', '9', '1', '43', 'Other', 'Paid Off'),
	('2237', '49878', '9842.7', '4.76', '24', '681', '57603.79', 'Employed', '0.5', 'Car', '9', '1', '59', 'Mortgage', 'Late'),
	('2238', '32918', '31611.78', '3.08', '24', '617', '140297.02', 'Self-employed', '0.05', 'Personal', '7', '0', '60', 'Mortgage', 'Current'),
	('2239', '43112', '2365.99', '13.245', '60', '667', '63222.33', 'Self-employed', '0.43', 'Other', '5', '0', '46', 'Rent', 'Current'),
	('2240', '68956', '37021.97', '6.12', '12', '730', '149954.55', 'Self-employed', '0.65', 'Home', '0', '1', '34', 'Rent', 'Late'),
	('2241', '73071', '3068.86', '13.23', '60', '801', '75070.95', 'Self-employed', '0.03', 'Education', '6', '0', '68', 'Rent', 'Late'),
	('2242', '82305', '34029.9', '7.59', '60', '587', '117093.52', 'Employed', '0', 'Education', 'Unreported', '1', '24', 'Mortgage', 'Paid Off'),
	('2243', '37500', '11406.07', '2.89', '12', '846', '97170.66', 'Others', '0.46', 'Education', '3', '1', '34', 'Mortgage', 'Current'),
	('2244', '82708', '29968.36', '18.52', '60', '810', '85420.16', 'Unemployed', '0.1', 'Personal', '7', '0', '46', 'Mortgage', 'Late'),
	('2245', '99695', '25320.265', '9.68', '60', '730', '45188.98', 'Employed', '0.03', 'Personal', '2', '1', '25', 'Mortgage', 'Current'),
	('2246', '68300', '2097.74', '5.96', '60', '728', '91487.78', 'Employed', '0.75', 'Education', '7', '1', '36', 'Mortgage', 'Late'),
	('2247', '44431', '34591.32', '23.8', '24', '672', '65823.5', 'Employed', '0.31', 'Personal', '6', '1', '32', 'Own', 'NA'),
	('2248', '33050', '25320.265', '13.24', '12', '442', '143346.98', 'Unemployed', '0.36', 'Other', '1', '1', '52', 'Rent', 'Paid Off'),
	('2249', '14893', '36487.3', '14.95', '12', '329', '137816.53', 'Employed', '0.17', 'Car', 'Unreported', '1', '60', 'Own', 'Paid Off'),
	('2250', '72305', '3757.94', '24.13', '36', '585', '28270.09', 'Self-employed', '0.42', 'Business', '6', '0', '66', 'Own', 'Late'),
	('2251', '97913', '26979.97', '4.72', '36', '510', '85420.16', 'Employed', '0.99', 'Personal', '3', '1', '53', 'Rent', 'Current'),
	('2252', '44032', '25320.265', '6.19', '24', '839', '85420.16', 'Unemployed', '0.02', 'Business', 'Unreported', '1', '57', 'Rent', 'NA'),
	('2253', '11549', '8048.51', '18.33', '60', '501', '93183.41', 'Unemployed', '0.8', 'Business', '0', '0', '66', 'Mortgage', 'Paid Off'),
	('2254', '57155', '39436.25', '14.9', '60', '800', '46369.95', 'Employed', '0.04', 'Education', '2', '1', '30', 'Own', 'Paid Off'),
	('2255', '35707', '12204.94', '11.55', '72', '808', '86164.74', 'Unemployed', '0.01', 'Education', '9', '0', '69', 'Mortgage', 'Late'),
	('2256', '53762', '5572.85', '13.245', '36', '388', '47488', 'Self-employed', '0.33', 'Business', '2', '1', '57', 'Rent', 'Paid Off'),
	('2257', '79541', '7948.63', '15.43', '36', '660', '138662.04', 'Employed', '0.09', 'Home', '8', '0', '43', 'Rent', 'Current'),
	('2258', '27060', '7930.18', '12.15', '60', '730', '89249.04', 'Self-employed', '0.26', 'Car', '1', '1', '69', 'Own', 'Paid Off'),
	('2259', '88980', '42347.37', '17.43', '36', '568', '120036.14', 'Self-employed', '0.35', 'Education', '3', '1', '64', 'Rent', 'NA'),
	('2260', '87617', '25320.265', '8.91', '12', '461', '37273.44', 'Self-employed', '0.97', 'Education', '4', '0', '55', 'Mortgage', 'Late'),
	('2261', '62133', '39825.1', '11.26', '72', '758', '30623.31', 'Employed', '0.48', 'Personal', 'Unreported', '1', '55', 'Own', 'Paid Off'),
	('2262', '22747', '13603.74', '9.08', '48', '730', '110609.58', 'Employed', '0.48', 'Education', '5', '0', '38', 'Own', 'Paid Off'),
	('2263', '98876', '31690.7', '6.62', '72', '434', '69903.17', 'Unemployed', '0.84', 'Home', '6', '1', '53', 'Mortgage', 'Late'),
	('2264', '97621', '45046.47', '13.68', '12', '754', '132586.06', 'Employed', '0.7', 'Personal', '3', '1', '56', 'Own', 'NA'),
	('2265', '26878', '27163.82', '21.07', '12', '330', '85420.16', 'Self-employed', '0.96', 'Education', '4', '0', '43', 'Rent', 'Current'),
	('2266', '39968', '43665.97', '2.79', '24', '730', '136247.61', 'Unemployed', '0.26', 'Home', '0', '1', '23', 'Own', 'NA'),
	('2267', '46357', '11684.24', '13.16', '24', '838', '101664.84', 'Others', '0.72', 'Education', '5', '1', '24', 'Other', 'Paid Off'),
	('2268', '82599', '48379.41', '19.3', '36', '744', '85420.16', 'Employed', '0.3', 'Personal', '2', '0', '58', 'Mortgage', 'Late'),
	('2269', '99007', '4904.93', '16.58', '72', '318', '85420.16', 'Unemployed', '0.48', 'Personal', '1', '0', '67', 'Own', 'Late'),
	('2270', '36179', '38294.31', '24.84', '12', '844', '85420.16', 'Employed', '0.74', 'Home', '0', '1', '43', 'Rent', 'Late'),
	('2271', '54760', '10884.22', '3.32', '36', '491', '124440.51', 'Unemployed', '0.61', 'Education', '3', '0', '63', 'Own', 'Paid Off'),
	('2272', '54760', '6727.5', '5.72', '60', '324', '92181.96', 'Employed', '0.75', 'Business', '0', '1', '19', 'Other', 'NA'),
	('2273', '56879', '283922.7', '9.35', '36', '552', '1217191.1', 'Others', '0.58', 'Education', '2', '1', '33', 'Mortgage', 'Current'),
	('2274', '73914', '16534.09', '2.14', '12', '697', '59473.06', 'Unemployed', '0.11', 'Business', '3', '0', '43', 'Own', 'Current'),
	('2275', '50213', '11903.48', '13.95', '12', '535', '118872.66', 'Employed', '0.6', 'Other', '0', '0', '46', 'Own', 'Late'),
	('2276', '47857', '22517.04', '16.73', '24', '625', '23288.61', 'Unemployed', '0.88', 'Car', '2', '1', '43', 'Own', 'Current'),
	('2277', '85884', '25320.265', '11.63', '48', '701', '103163.03', 'Unemployed', '0.33', 'Other', '1', '0', '43', 'Own', 'Late'),
	('2278', '35631', '32001.2', '11.6', '48', '732', '130158.83', 'Employed', '0.7', 'Education', '7', '0', '60', 'Own', 'Current'),
	('2279', '26979', '14651.55', '22.18', '36', '677', '42859.96', 'Self-employed', '0.96', 'Home', 'Unreported', '1', '68', 'Mortgage', 'Paid Off'),
	('2280', '54760', '49309.21', '16.07', '60', '432', '61769.96', 'Others', '0.48', 'Home', '3', '1', '32', 'Rent', 'Late'),
	('2281', '86959', '14679.17', '8.06', '36', '445', '119270.46', 'Employed', '0.81', 'Home', '3', '0', '43', 'Mortgage', 'Late'),
	('2282', '75394', '36262.93', '9.35', '24', '810', '109018.42', 'Self-employed', '0.29', 'Home', 'Unreported', '0', '18', 'Rent', 'Current'),
	('2283', '29219', '13903.31', '6.62', '36', '845', '147917.68', 'Employed', '0.86', 'Education', '4', '1', '45', 'Own', 'NA'),
	('2284', '41293', '38941.02', '8.09', '48', '656', '45468.74', 'Self-employed', '0.68', 'Education', 'Unreported', '0', '62', 'Rent', 'Late'),
	('2285', '10609', '32555.22', '17.41', '72', '730', '87748.75', 'Self-employed', '0.57', 'Home', '7', '0', '42', 'Mortgage', 'Paid Off'),
	('2286', '87740', '25320.265', '16.67', '48', '512', '98415.8', 'Unemployed', '0.09', 'Other', '2', '1', '30', 'Own', 'NA'),
	('2287', '86020', '23485.85', '8.02', '72', '767', '85420.16', 'Employed', '0.48', 'Car', '8', '0', '18', 'Rent', 'Paid Off'),
	('2288', '22012', '12899.32', '14.41', '24', '774', '89939.55', 'Employed', '0.41', 'Education', '4', '1', '56', 'Own', 'Paid Off'),
	('2289', '87534', '30861.93', '21.79', '12', '678', '33025.37', 'Employed', '0.81', 'Education', 'Unreported', '1', '45', 'Own', 'Paid Off'),
	('2290', '24823', '43843.03', '13.245', '72', '301', '64333.23', 'Employed', '0.18', 'Home', '0', '1', '25', 'Own', 'Late'),
	('2291', '81870', '2533.97', '13.245', '12', '842', '91151.7', 'Self-employed', '0.89', 'Education', '3', '1', '49', 'Rent', 'Late'),
	('2292', '81884', '36900.82', '13.245', '36', '679', '148914.28', 'Self-employed', '0.03', 'Home', '5', '0', '43', 'Rent', 'Current'),
	('2293', '55968', '44116.2', '23.64', '48', '608', '30990.92', 'Employed', '0.63', 'Car', '3', '0', '49', 'Mortgage', 'Paid Off'),
	('2294', '42848', '31227.5', '2.47', '36', '491', '85420.16', 'Employed', '0.68', 'Education', '6', '1', '35', 'Rent', 'NA'),
	('2295', '12558', '25320.265', '4.8', '36', '465', '130064.87', 'Self-employed', '0.09', 'Car', '9', '0', '53', 'Rent', 'Late'),
	('2296', '19350', '18222.28', '6', '60', '842', '121824.67', 'Others', '0.88', 'Personal', '5', '1', '43', 'Rent', 'Paid Off'),
	('2297', '40148', '37691.44', '18.25', '12', '342', '85420.16', 'Employed', '0.35', 'Personal', '4', '0', '67', 'Mortgage', 'Late'),
	('2298', '96829', '25320.265', '24.51', '72', '656', '74925.99', 'Employed', '0.48', 'Business', '7', '1', '21', 'Own', 'Paid Off'),
	('2299', '98570', '1395.58', '15.53', '36', '765', '117974.49', 'Self-employed', '0.11', 'Business', '6', '1', '37', 'Rent', 'Paid Off'),
	('2300', '52654', '6170.4', '13.245', '36', '676', '86617.44', 'Unemployed', '0.62', 'Home', 'Unreported', '1', '24', 'Mortgage', 'Current'),
	('2301', '55644', '14981.68', '12.53', '36', '803', '85420.16', 'Employed', '0.74', 'Home', '2', '1', '43', 'Rent', 'Late'),
	('2302', '85643', '20265.32', '20.01', '48', '572', '121437.79', 'Employed', '0.17', 'Personal', '5', '0', '55', 'Mortgage', 'Current'),
	('2303', '14789', '18851.91', '6.12', '36', '506', '73295', 'Employed', '0.18', 'Education', '1', '0', '63', 'Rent', 'Paid Off'),
	('2304', '38065', '40514.96', '13.245', '48', '759', '60250.22', 'Unemployed', '0.17', 'Other', '7', '1', '39', 'Rent', 'Current'),
	('2305', '81058', '25320.265', '17.35', '48', '432', '49796.84', 'Employed', '0.83', 'Home', '3', '1', '46', 'Other', 'Current'),
	('2306', '18824', '21105.35', '9.31', '48', '317', '41055.44', 'Employed', '0.01', 'Car', '5', '0', '34', 'Rent', 'Paid Off'),
	('2307', '29610', '40897.12', '18.76', '36', '831', '66797.66', 'Self-employed', '0.07', 'Personal', '4', '1', '21', 'Own', 'Late'),
	('2308', '16382', '25320.265', '20.29', '24', '319', '106229.55', 'Others', '0.96', 'Personal', '1', '0', '55', 'Own', 'Paid Off'),
	('2309', '88105', '11056.04', '21.11', '60', '821', '85420.16', 'Self-employed', '0.48', 'Business', '1', '0', '47', 'Rent', 'Current'),
	('2310', '69917', '18839.58', '14.68', '36', '564', '52850.77', 'Employed', '0.48', 'Other', '6', '0', '36', 'Own', 'Late'),
	('2311', '54760', '8659.34', '10.71', '36', '790', '85420.16', 'Employed', '0.48', 'Personal', '7', '0', '19', 'Mortgage', 'Paid Off'),
	('2312', '94699', '5414.9', '13.245', '72', '320', '49217.22', 'Employed', '0.49', 'Business', '4', '0', '41', 'Rent', 'Current'),
	('2313', '54760', '28155.47', '6.28', '36', '795', '78875.85', 'Others', '0.17', 'Business', '1', '1', '31', 'Rent', 'Current'),
	('2314', '95049', '25320.265', '6.7', '60', '422', '98801.44', 'Self-employed', '0.37', 'Business', 'Unreported', '1', '23', 'Rent', 'Current'),
	('2315', '79013', '25320.265', '20.83', '36', '434', '26295.74', 'Self-employed', '0.79', 'Car', 'Unreported', '0', '58', 'Other', 'Current'),
	('2316', '10107', '29807.59', '20.8', '12', '415', '55690.6', 'Employed', '0.48', 'Education', '7', '0', '20', 'Rent', 'Current'),
	('2317', '84232', '30703.42', '11.36', '24', '389', '100082.99', 'Others', '0.06', 'Car', '1', '1', '55', 'Other', 'Current'),
	('2318', '80469', '47097.5', '12.75', '36', '530', '56363.42', 'Employed', '0.79', 'Education', '9', '1', '38', 'Own', 'Late'),
	('2319', '69185', '12497.81', '11.88', '36', '319', '84268.46', 'Employed', '0.95', 'Home', '8', '1', '22', 'Own', 'NA'),
	('2320', '47913', '45006.18', '12.4', '36', '744', '29154.29', 'Unemployed', '0.27', 'Home', '2', '0', '53', 'Mortgage', 'Paid Off'),
	('2321', '59420', '3514.12', '7.24', '60', '569', '85420.16', 'Unemployed', '0.23', 'Home', '1', '1', '67', 'Mortgage', 'Current'),
	('2322', '74431', '2488.76', '7.02', '60', '604', '139132.62', 'Self-employed', '0.61', 'Business', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('2323', '51725', '6329.64', '21.15', '48', '495', '33360.66', 'Self-employed', '0.03', 'Business', '2', '0', '41', 'Mortgage', 'Paid Off'),
	('2324', '75609', '32540.77', '17.34', '12', '422', '38919.96', 'Unemployed', '0.15', 'Home', '6', '1', '21', 'Mortgage', 'Late'),
	('2325', '86682', '26984.38', '24.44', '24', '347', '24805.82', 'Self-employed', '0.39', 'Personal', '5', '0', '43', 'Mortgage', 'Paid Off'),
	('2326', '80106', '8944.04', '5.69', '12', '827', '74045.91', 'Self-employed', '0.83', 'Business', '1', '1', '21', 'Rent', 'Late'),
	('2327', '54760', '8247.34', '23.24', '12', '379', '89116.52', 'Employed', '0.68', 'Other', '9', '0', '65', 'Rent', 'Paid Off'),
	('2328', '76911', '26942.04', '19.61', '60', '509', '141249.01', 'Unemployed', '0.06', 'Home', '2', '1', '33', 'Rent', 'Paid Off'),
	('2329', '50798', '47991.29', '14.13', '72', '456', '87938.44', 'Self-employed', '0.46', 'Car', '4', '1', '48', 'Mortgage', 'Current'),
	('2330', '13301', '9953.77', '17.02', '72', '730', '81724.18', 'Employed', '0.53', 'Other', '6', '0', '28', 'Own', 'Late'),
	('2331', '45110', '13697.35', '21.27', '36', '730', '144938.76', 'Employed', '0.48', 'Car', '1', '0', '39', 'Rent', 'Current'),
	('2332', '93120', '6908.58', '14.14', '60', '768', '51560.93', 'Self-employed', '0.13', 'Home', '6', '1', '59', 'Rent', 'Current'),
	('2333', '54760', '30135.49', '16.89', '36', '810', '108892.01', 'Employed', '0.34', 'Business', '2', '1', '19', 'Own', 'Current'),
	('2334', '59670', '46411.7', '24.47', '36', '570', '66931.37', 'Self-employed', '0.68', 'Business', '7', '0', '43', 'Rent', 'Current'),
	('2335', '59783', '25320.265', '18.57', '48', '371', '58886.27', 'Unemployed', '0.75', 'Car', '3', '1', '64', 'Own', 'NA'),
	('2336', '90239', '24148.64', '3.8', '72', '479', '80975.18', 'Others', '0.78', 'Education', '8', '1', '27', 'Rent', 'Current'),
	('2337', '84943', '45473.11', '18.49', '12', '693', '77212.09', 'Others', '0.82', 'Personal', '0', '1', '38', 'Own', 'Current'),
	('2338', '37841', '25320.265', '24.4', '48', '334', '24357.34', 'Self-employed', '0.16', 'Home', '3', '1', '42', 'Rent', 'Current'),
	('2339', '69005', '26886.05', '13.245', '72', '747', '51030.39', 'Self-employed', '0.44', 'Other', 'Unreported', '0', '58', 'Mortgage', 'Current'),
	('2340', '93221', '32326.03', '3', '12', '530', '85420.16', 'Employed', '0.36', 'Personal', 'Unreported', '1', '24', 'Other', 'Paid Off'),
	('2341', '52752', '36811.14', '18.73', '36', '455', '56300.49', 'Others', '0.21', 'Home', '3', '0', '49', 'Own', 'Current'),
	('2342', '21990', '36695.44', '9.11', '60', '741', '41438.18', 'Unemployed', '0.17', 'Education', '7', '1', '28', 'Own', 'Paid Off'),
	('2343', '29620', '24763.88', '23.11', '36', '465', '142856.46', 'Unemployed', '0.98', 'Other', '8', '1', '29', 'Own', 'Current'),
	('2344', '87466', '14792.32', '6.2', '12', '603', '91119.76', 'Self-employed', '0.65', 'Business', '9', '0', '60', 'Mortgage', 'NA'),
	('2345', '93604', '11102.56', '10.66', '24', '490', '105880.56', 'Employed', '0.48', 'Home', '4', '1', '51', 'Rent', 'Paid Off'),
	('2346', '88164', '46012.08', '2.54', '36', '600', '102273.15', 'Self-employed', '0.98', 'Education', '9', '0', '64', 'Rent', 'Paid Off'),
	('2347', '82935', '3854.09', '12.09', '72', '319', '142915.96', 'Employed', '0.19', 'Home', '6', '0', '62', 'Own', 'Late'),
	('2348', '81202', '17516.58', '6.37', '12', '413', '85420.16', 'Unemployed', '0.12', 'Education', '2', '1', '67', 'Own', 'Current'),
	('2349', '73729', '34812.46', '15.73', '36', '816', '52997.79', 'Self-employed', '0.09', 'Personal', '7', '0', '47', 'Mortgage', 'Paid Off'),
	('2350', '21118', '30403.38', '19.16', '72', '730', '131935.49', 'Self-employed', '0.48', 'Education', '6', '1', '38', 'Own', 'Current'),
	('2351', '61102', '25320.265', '8.44', '48', '596', '85420.16', 'Self-employed', '0.36', 'Business', '5', '0', '37', 'Mortgage', 'Late'),
	('2352', '94708', '6107.41', '5.08', '12', '846', '78353.1', 'Others', '0.12', 'Education', '8', '0', '25', 'Other', 'Current'),
	('2353', '64836', '7836.87', '13.245', '36', '738', '85420.16', 'Self-employed', '0.52', 'Education', '4', '0', '29', 'Rent', 'Late'),
	('2354', '54760', '35129.62', '7.86', '48', '345', '143099.15', 'Employed', '0.27', 'Car', '4', '1', '18', 'Own', 'Paid Off'),
	('2355', '71758', '24701.13', '21.05', '60', '730', '127655.36', 'Unemployed', '0.95', 'Car', '1', '0', '62', 'Own', 'Paid Off'),
	('2356', '85051', '17637.99', '11.96', '36', '558', '39655.25', 'Employed', '0.29', 'Education', 'Unreported', '1', '37', 'Mortgage', 'Current'),
	('2357', '83642', '19364.88', '6.44', '36', '458', '145215.62', 'Unemployed', '0.71', 'Business', '0', '0', '43', 'Mortgage', 'Late'),
	('2358', '43421', '22005.61', '13.245', '36', '826', '89731.81', 'Self-employed', '0.55', 'Home', '8', '0', '49', 'Mortgage', 'Current'),
	('2359', '76040', '34469.77', '10.05', '36', '730', '85420.16', 'Self-employed', '0.82', 'Home', '6', '1', '51', 'Own', 'Current'),
	('2360', '54760', '30446.44', '6.69', '36', '730', '85420.16', 'Others', '0.28', 'Education', '3', '0', '23', 'Mortgage', 'NA'),
	('2361', '35353', '4453.67', '14.41', '72', '645', '79916.35', 'Unemployed', '0.38', 'Home', '5', '1', '60', 'Mortgage', 'Current'),
	('2362', '62379', '8716.42', '15.1', '60', '329', '21363.02', 'Others', '0.44', 'Education', '4', '0', '69', 'Rent', 'Current'),
	('2363', '76533', '4457.23', '19.93', '36', '828', '39915.5', 'Self-employed', '0.65', 'Personal', '4', '0', '22', 'Mortgage', 'Paid Off'),
	('2364', '40242', '2694.92', '18', '36', '561', '24265.51', 'Employed', '0.48', 'Home', '6', '0', '49', 'Own', 'Paid Off'),
	('2365', '48726', '39024.24', '7.65', '24', '585', '49743.39', 'Self-employed', '0.54', 'Personal', '7', '1', '19', 'Mortgage', 'Late'),
	('2366', '23737', '42696.99', '5.62', '36', '730', '84902.03', 'Others', '0.42', 'Business', '5', '0', '55', 'Own', 'Paid Off'),
	('2367', '54760', '21392.71', '22.79', '60', '653', '58400.62', 'Unemployed', '0.81', 'Education', '3', '1', '47', 'Mortgage', 'Late'),
	('2368', '55062', '48473.2', '20.99', '12', '570', '104202.93', 'Employed', '0.09', 'Business', '5', '1', '45', 'Rent', 'Paid Off'),
	('2369', '31077', '43316.29', '2.17', '60', '520', '141573.13', 'Employed', '0.76', 'Personal', '5', '1', '22', 'Mortgage', 'Current'),
	('2370', '15123', '43158.87', '13.245', '36', '668', '113208.73', 'Others', '0.72', 'Car', '0', '0', '69', 'Mortgage', 'Current'),
	('2371', '89947', '18992.04', '13.245', '72', '528', '43690.49', 'Self-employed', '0.75', 'Personal', '7', '0', '68', 'Own', 'Late'),
	('2372', '95738', '47763.01', '21.28', '24', '778', '54994.12', 'Employed', '0.65', 'Home', '4', '0', '32', 'Rent', 'Late'),
	('2373', '69805', '37697.56', '23.28', '72', '757', '38851.99', 'Employed', '0.48', 'Car', '5', '0', '31', 'Own', 'Current'),
	('2374', '96739', '18330.93', '6.46', '24', '588', '49182.71', 'Unemployed', '0.92', 'Other', '2', '1', '58', 'Rent', 'Current'),
	('2375', '48170', '25320.265', '20.61', '24', '580', '117140.56', 'Unemployed', '0.11', 'Business', '3', '0', '30', 'Rent', 'Late'),
	('2376', '82447', '1201.5', '11.57', '72', '730', '135779.34', 'Others', '0.02', 'Business', 'Unreported', '1', '57', 'Other', 'Late'),
	('2377', '30560', '29007.96', '17', '72', '730', '85420.16', 'Unemployed', '0.09', 'Car', '9', '0', '43', 'Own', 'Paid Off'),
	('2378', '68531', '26488.47', '9.26', '24', '463', '105998.53', 'Employed', '0.01', 'Business', '1', '1', '18', 'Own', 'Current'),
	('2379', '67337', '5007.71', '4.9', '36', '545', '145742.88', 'Unemployed', '0.91', 'Home', '3', '1', '46', 'Own', 'Current'),
	('2380', '80844', '43255.47', '18.27', '24', '352', '76634.42', 'Others', '0.32', 'Education', '9', '1', '39', 'Own', 'NA'),
	('2381', '10969', '25320.265', '9.09', '60', '770', '143472.51', 'Unemployed', '0.24', 'Home', '6', '1', '39', 'Rent', 'NA'),
	('2382', '22387', '19441.15', '2.68', '72', '509', '140713.2', 'Self-employed', '0.65', 'Education', '6', '0', '43', 'Other', 'Current'),
	('2383', '23209', '24282.52', '24.24', '24', '510', '64692.69', 'Unemployed', '0.14', 'Personal', 'Unreported', '0', '50', 'Mortgage', 'Current'),
	('2384', '60815', '41029.81', '13.245', '36', '528', '46811.83', 'Employed', '0.53', 'Other', '7', '0', '28', 'Rent', 'Current'),
	('2385', '54760', '30151.96', '4.28', '12', '811', '33488.61', 'Self-employed', '0.1', 'Personal', '3', '1', '34', 'Mortgage', 'Late'),
	('2386', '92483', '28633.9', '20.69', '12', '322', '148478.09', 'Employed', '0.48', 'Car', '8', '0', '40', 'Own', 'Late'),
	('2387', '84063', '18756.5', '21.52', '60', '468', '89036.13', 'Employed', '0.48', 'Home', '7', '0', '56', 'Rent', 'Late'),
	('2388', '61483', '14704.55', '8.93', '72', '696', '50904.46', 'Unemployed', '0.74', 'Education', '3', '0', '18', 'Rent', 'Paid Off'),
	('2389', '69524', '24427.89', '17.7', '36', '467', '96622.18', 'Self-employed', '0.28', 'Car', '8', '1', '35', 'Own', 'NA'),
	('2390', '36727', '13530.94', '4.77', '72', '578', '85420.16', 'Employed', '0.1', 'Personal', '4', '1', '35', 'Rent', 'Paid Off'),
	('2391', '77825', '17636.06', '10.9', '36', '513', '120693.87', 'Unemployed', '0.47', 'Education', '6', '1', '65', 'Other', 'Current'),
	('2392', '86213', '22578.44', '7.09', '36', '678', '38979.83', 'Self-employed', '0.75', 'Home', '8', '0', '35', 'Own', 'Late'),
	('2393', '46631', '42331.54', '7.65', '72', '747', '136930.04', 'Employed', '0.68', 'Car', '3', '1', '55', 'Own', 'Late'),
	('2394', '17531', '46595.02', '24.19', '24', '352', '122720.32', 'Unemployed', '0.84', 'Car', 'Unreported', '0', '58', 'Mortgage', 'NA'),
	('2395', '27942', '25320.265', '2.8', '60', '730', '85420.16', 'Self-employed', '0.62', 'Education', '5', '0', '29', 'Rent', 'Current'),
	('2396', '14078', '26759.29', '14.67', '72', '730', '139421.97', 'Employed', '0.46', 'Home', '2', '1', '63', 'Mortgage', 'NA'),
	('2397', '49979', '35866.31', '16.64', '72', '392', '61491.92', 'Self-employed', '0.06', 'Education', '8', '1', '42', 'Mortgage', 'Current'),
	('2398', '76445', '17425.22', '9.68', '24', '301', '85420.16', 'Employed', '0.11', 'Other', '9', '1', '60', 'Own', 'NA'),
	('2399', '38817', '23500.65', '7.59', '12', '449', '27555.6', 'Others', '0.69', 'Other', '5', '1', '32', 'Mortgage', 'Late'),
	('2400', '82317', '25320.265', '20.32', '72', '527', '66554.1', 'Employed', '0.82', 'Education', '0', '1', '66', 'Own', 'NA'),
	('2401', '54760', '18392.43', '5.93', '12', '333', '90150.22', 'Unemployed', '0.54', 'Home', '4', '1', '29', 'Own', 'Paid Off'),
	('2402', '97492', '9476.3', '16.96', '12', '654', '141133.06', 'Self-employed', '0.41', 'Education', '3', '0', '54', 'Rent', 'Current'),
	('2403', '20002', '24132.61', '25', '12', '695', '121623.04', 'Self-employed', '0.83', 'Personal', '0', '1', '22', 'Rent', 'NA'),
	('2404', '51712', '32976.99', '21.27', '12', '470', '34265.33', 'Others', '0.48', 'Home', '8', '0', '51', 'Own', 'NA'),
	('2405', '15250', '7199.2', '13.245', '48', '351', '119819.1', 'Employed', '0.81', 'Personal', '6', '1', '43', 'Own', 'Late'),
	('2406', '91947', '6982.97', '17.68', '36', '441', '36454.6', 'Employed', '0.11', 'Business', '3', '1', '58', 'Own', 'Late'),
	('2407', '13819', '15881.05', '15.53', '72', '466', '85420.16', 'Others', '0.48', 'Education', '5', '1', '37', 'Rent', 'Paid Off'),
	('2408', '54760', '45474.81', '17', '36', '603', '125619.51', 'Self-employed', '0.84', 'Other', '2', '1', '28', 'Other', 'Late'),
	('2409', '48451', '34055.59', '9.16', '12', '314', '138967.08', 'Unemployed', '0.22', 'Home', '9', '1', '27', 'Own', 'Paid Off'),
	('2410', '54760', '25320.265', '13.61', '48', '459', '149722.01', 'Unemployed', '0.55', 'Education', 'Unreported', '1', '43', 'Rent', 'Late'),
	('2411', '21071', '30570.89', '3.76', '60', '361', '27765.14', 'Employed', '0.63', 'Home', '9', '1', '22', 'Rent', 'Late'),
	('2412', '29614', '33351.75', '7.34', '72', '520', '23026.53', 'Employed', '0.68', 'Education', '0', '0', '37', 'Rent', 'Paid Off'),
	('2413', '53868', '26629.68', '11.19', '36', '543', '107989.11', 'Others', '0.04', 'Car', 'Unreported', '1', '47', 'Own', 'Late'),
	('2414', '41662', '38209.74', '5.6', '36', '801', '36426.07', 'Employed', '0.75', 'Business', '7', '1', '59', 'Own', 'Current'),
	('2415', '83458', '2212.21', '13.245', '60', '553', '118767.17', 'Unemployed', '0.37', 'Education', '4', '1', '55', 'Mortgage', 'Current'),
	('2416', '41918', '10364.74', '6.1', '36', '511', '50076.94', 'Self-employed', '0.88', 'Personal', 'Unreported', '1', '33', 'Rent', 'Paid Off'),
	('2417', '37821', '48352.22', '14.68', '72', '345', '23346.68', 'Unemployed', '0.45', 'Car', '7', '0', '57', 'Own', 'NA'),
	('2418', '38932', '25389.26', '12.41', '24', '598', '26642.29', 'Unemployed', '0.48', 'Business', '2', '0', '66', 'Rent', 'NA'),
	('2419', '64132', '4749.23', '16.31', '72', '450', '74830.31', 'Employed', '0.52', 'Home', '0', '1', '24', 'Mortgage', 'Paid Off'),
	('2420', '80282', '16100.8', '24.56', '72', '455', '85420.16', 'Self-employed', '0.34', 'Education', '8', '1', '54', 'Other', 'Current'),
	('2421', '54760', '1086.85', '15.96', '12', '730', '85420.16', 'Employed', '0.18', 'Home', '6', '0', '43', 'Rent', 'NA'),
	('2422', '34639', '29391.3', '7.18', '60', '633', '117780.64', 'Employed', '0.42', 'Home', 'Unreported', '0', '31', 'Own', 'Current'),
	('2423', '55330', '49974.43', '8.1', '48', '465', '31241.52', 'Employed', '0.15', 'Business', '4', '0', '28', 'Mortgage', 'Paid Off'),
	('2424', '94168', '29914.88', '13.245', '12', '480', '148891.15', 'Employed', '0.7', 'Education', '4', '0', '34', 'Mortgage', 'Paid Off'),
	('2425', '54760', '30893.57', '19.87', '48', '730', '85420.16', 'Employed', '0.29', 'Business', '8', '1', '51', 'Rent', 'Late'),
	('2426', '94282', '17058.6', '13.43', '36', '381', '45023.41', 'Self-employed', '0.85', 'Car', '5', '1', '28', 'Own', 'Paid Off'),
	('2427', '21977', '12614.59', '4.61', '12', '844', '123305.94', 'Self-employed', '0.09', 'Car', '9', '1', '19', 'Other', 'Late'),
	('2428', '79005', '25899.67', '22.1', '60', '773', '48484.69', 'Self-employed', '0.46', 'Home', '5', '1', '20', 'Own', 'Late'),
	('2429', '88493', '45089.52', '11.1', '60', '499', '77767.88', 'Unemployed', '0.31', 'Business', '7', '1', '60', 'Own', 'Current'),
	('2430', '29022', '1477.8', '16.02', '72', '715', '76273.42', 'Employed', '0.63', 'Personal', '0', '0', '54', 'Rent', 'Current'),
	('2431', '54760', '28912.89', '24.42', '48', '730', '50663.65', 'Self-employed', '0.48', 'Business', '6', '0', '62', 'Own', 'NA'),
	('2432', '75613', '21997.04', '15.42', '36', '324', '110026.67', 'Unemployed', '0.02', 'Business', '1', '0', '19', 'Rent', 'Paid Off'),
	('2433', '66969', '31437.79', '13.69', '36', '509', '43802.6', 'Self-employed', '0.38', 'Other', '9', '1', '43', 'Mortgage', 'Current'),
	('2434', '54760', '42157.94', '22.88', '36', '803', '87966.73', 'Employed', '0.58', 'Home', '0', '1', '59', 'Mortgage', 'Paid Off'),
	('2435', '80332', '23003.15', '22.6', '36', '834', '122386.01', 'Unemployed', '0.44', 'Other', '7', '0', '42', 'Other', 'Paid Off'),
	('2436', '56309', '11666.46', '12.48', '36', '712', '78490.07', 'Employed', '0.23', 'Personal', 'Unreported', '0', '48', 'Mortgage', 'Current'),
	('2437', '71085', '19453.74', '17.7', '12', '762', '139353.82', 'Self-employed', '0.97', 'Car', '5', '1', '44', 'Other', 'Paid Off'),
	('2438', '91005', '8377.02', '17.59', '72', '660', '95640.3', 'Employed', '0.02', 'Business', 'Unreported', '0', '54', 'Rent', 'Current'),
	('2439', '91388', '5160.06', '8.82', '24', '539', '85420.16', 'Unemployed', '0.24', 'Personal', '6', '1', '35', 'Mortgage', 'Paid Off'),
	('2440', '36601', '25320.265', '5.76', '72', '791', '126560.8', 'Unemployed', '0.48', 'Education', '3', '1', '22', 'Rent', 'NA'),
	('2441', '90310', '31659.23', '15.08', '60', '576', '131646.98', 'Employed', '0.71', 'Education', 'Unreported', '1', '54', 'Mortgage', 'NA'),
	('2442', '54760', '13878.93', '2.83', '60', '503', '100784.55', 'Self-employed', '0.42', 'Personal', '9', '0', '64', 'Own', 'Late'),
	('2443', '54752', '45868.52', '20.93', '48', '553', '121843.28', 'Self-employed', '0.48', 'Business', '5', '1', '43', 'Mortgage', 'Late'),
	('2444', '47874', '34758.61', '19.49', '36', '697', '116683.07', 'Unemployed', '0.48', 'Education', '7', '1', '28', 'Mortgage', 'Paid Off'),
	('2445', '54760', '34629.36', '18.3', '24', '300', '85404.77', 'Employed', '0.22', 'Other', '6', '1', '39', 'Own', 'Late'),
	('2446', '52098', '34893.82', '23.35', '60', '730', '93055.75', 'Unemployed', '0.37', 'Personal', '6', '1', '43', 'Own', 'Late'),
	('2447', '91265', '1082.54', '24.03', '12', '597', '70758.03', 'Employed', '0.77', 'Personal', '5', '0', '47', 'Mortgage', 'Late'),
	('2448', '45087', '40837.33', '12.75', '72', '376', '110247.39', 'Self-employed', '0.46', 'Education', '4', '0', '43', 'Rent', 'Paid Off'),
	('2449', '56361', '25320.265', '17.52', '36', '461', '53339.81', 'Self-employed', '0.72', 'Business', '4', '1', '43', 'Mortgage', 'Current'),
	('2450', '94118', '25320.265', '24.42', '12', '719', '89652.51', 'Unemployed', '0.76', 'Business', '2', '0', '41', 'Rent', 'Late'),
	('2451', '89825', '30316.41', '21.63', '60', '326', '80675.24', 'Self-employed', '0.2', 'Car', '4', '0', '53', 'Other', 'Late'),
	('2452', '74476', '34152.21', '17.05', '48', '682', '35740.97', 'Employed', '0.7', 'Business', '9', '1', '34', 'Rent', 'Current'),
	('2453', '28267', '10615.89', '12.11', '36', '405', '85420.16', 'Unemployed', '0.42', 'Home', '5', '1', '40', 'Rent', 'Current'),
	('2454', '38780', '42072.35', '19.08', '60', '563', '67271.92', 'Employed', '0.13', 'Home', '8', '1', '51', 'Own', 'Paid Off'),
	('2455', '76395', '31665.74', '3.35', '36', '644', '63944.7', 'Unemployed', '0.41', 'Business', '7', '0', '54', 'Own', 'Current'),
	('2456', '22764', '12027.7', '2.53', '12', '715', '32458.64', 'Employed', '0.23', 'Education', '7', '1', '42', 'Rent', 'Paid Off'),
	('2457', '90491', '25320.265', '19.33', '60', '412', '132087.37', 'Self-employed', '0.39', 'Business', '4', '0', '41', 'Rent', 'Paid Off'),
	('2458', '38775', '11577.42', '4.98', '36', '684', '114728.51', 'Unemployed', '0.42', 'Education', '9', '1', '54', 'Mortgage', 'Paid Off'),
	('2459', '34675', '34250.8', '20.67', '12', '324', '93067.42', 'Unemployed', '0.67', 'Personal', '5', '1', '68', 'Own', 'NA'),
	('2460', '65710', '24220.6', '13.245', '48', '403', '128017.41', 'Others', '0.34', 'Business', '5', '1', '36', 'Mortgage', 'Late'),
	('2461', '42681', '36440.96', '23.88', '72', '337', '88642.85', 'Self-employed', '0.19', 'Car', '5', '1', '66', 'Rent', 'Paid Off'),
	('2462', '81414', '5790.2', '3.47', '36', '344', '85420.16', 'Employed', '0.77', 'Home', '6', '0', '23', 'Mortgage', 'Late'),
	('2463', '55449', '47674.72', '13.57', '36', '442', '117718.93', 'Unemployed', '0.57', 'Car', '9', '1', '37', 'Own', 'Late'),
	('2464', '60038', '11019.96', '8.21', '60', '843', '69889.07', 'Self-employed', '0.24', 'Personal', '9', '1', '51', 'Own', 'Late'),
	('2465', '35396', '11798.81', '4.32', '24', '409', '140239.59', 'Self-employed', '0.84', 'Business', '3', '1', '43', 'Rent', 'Current'),
	('2466', '70241', '28147.4', '14.45', '12', '442', '62355.37', 'Unemployed', '0.65', 'Education', '4', '0', '45', 'Rent', 'Current'),
	('2467', '40642', '181369.3', '2.14', '24', '534', '558070.7', 'Unemployed', '0.57', 'Education', 'Unreported', '1', '62', 'Mortgage', 'Paid Off'),
	('2468', '54760', '22664.35', '6.84', '24', '502', '61290.63', 'Unemployed', '0.48', 'Car', '8', '0', '43', 'Own', 'Current'),
	('2469', '85546', '25320.265', '12.39', '60', '734', '85420.16', 'Self-employed', '0.01', 'Car', '6', '0', '26', 'Mortgage', 'Paid Off'),
	('2470', '90007', '12509.34', '9.96', '36', '313', '80332.32', 'Others', '0.52', 'Business', '3', '0', '37', 'Rent', 'Late'),
	('2471', '19654', '38903.12', '21.85', '12', '730', '24540.44', 'Employed', '0.34', 'Car', 'Unreported', '1', '51', 'Rent', 'Current'),
	('2472', '54760', '45208.54', '8.58', '12', '516', '27300.4', 'Self-employed', '0.54', 'Business', '4', '1', '48', 'Mortgage', 'Late'),
	('2473', '54760', '12440.39', '9.41', '12', '699', '70198.89', 'Unemployed', '0.77', 'Education', '4', '0', '41', 'Rent', 'Paid Off'),
	('2474', '49225', '38894.1', '13.245', '48', '340', '58504.31', 'Unemployed', '0.34', 'Business', '5', '0', '31', 'Own', 'Current'),
	('2475', '34250', '2418.39', '5.94', '36', '567', '100850', 'Others', '0.75', 'Education', '3', '0', '24', 'Own', 'Late'),
	('2476', '70364', '3191.49', '16.37', '24', '784', '100675.2', 'Employed', '0.75', 'Education', '9', '0', '38', 'Mortgage', 'Paid Off'),
	('2477', '53277', '20257.45', '11.11', '36', '375', '30565.33', 'Unemployed', '0.55', 'Education', '6', '1', '69', 'Rent', 'Paid Off'),
	('2478', '27352', '8247.65', '3.5', '36', '373', '49542.63', 'Others', '0.98', 'Personal', '0', '0', '43', 'Own', 'Current'),
	('2479', '43000', '9140.79', '20.33', '60', '748', '101695.15', 'Unemployed', '0.29', 'Business', '8', '0', '18', 'Mortgage', 'Paid Off'),
	('2480', '29756', '31742.45', '24.96', '24', '509', '136681.71', 'Self-employed', '0.76', 'Other', '3', '1', '57', 'Other', 'Paid Off'),
	('2481', '29682', '43050.05', '13.245', '36', '467', '24535.75', 'Others', '0.48', 'Business', '9', '0', '53', 'Mortgage', 'Paid Off'),
	('2482', '52699', '39169.39', '15.76', '12', '358', '76189.38', 'Unemployed', '0.29', 'Business', '5', '0', '66', 'Mortgage', 'NA'),
	('2483', '70247', '17488.2', '21.25', '72', '347', '117818.08', 'Unemployed', '0.29', 'Business', '6', '0', '50', 'Mortgage', 'Late'),
	('2484', '88662', '43885.58', '20.07', '72', '772', '67250', 'Employed', '0.79', 'Car', '6', '0', '55', 'Rent', 'Paid Off'),
	('2485', '40926', '42225.95', '13.62', '36', '326', '117407.01', 'Self-employed', '0.24', 'Personal', 'Unreported', '0', '61', 'Own', 'Paid Off'),
	('2486', '25926', '26686.37', '13.245', '60', '510', '85420.16', 'Self-employed', '0.99', 'Car', '5', '0', '46', 'Mortgage', 'Current'),
	('2487', '54760', '24317.93', '7.79', '36', '405', '85420.16', 'Others', '0.46', 'Education', '4', '0', '63', 'Rent', 'Paid Off'),
	('2488', '10043', '3864.66', '21.99', '12', '501', '85420.16', 'Self-employed', '0.03', 'Home', '3', '1', '50', 'Mortgage', 'Late'),
	('2489', '88181', '8375.73', '3.77', '60', '301', '48261.38', 'Employed', '0.27', 'Education', '0', '0', '21', 'Mortgage', 'Paid Off'),
	('2490', '90134', '5185.25', '15.58', '36', '359', '25164.04', 'Unemployed', '0.52', 'Personal', 'Unreported', '0', '52', 'Mortgage', 'Paid Off'),
	('2491', '28553', '26811.85', '13.25', '60', '608', '105999.28', 'Others', '0.7', 'Home', '3', '0', '51', 'Mortgage', 'Late'),
	('2492', '39871', '34155.29', '13.31', '36', '455', '114641.43', 'Self-employed', '0.82', 'Other', 'Unreported', '0', '60', 'Mortgage', 'Paid Off'),
	('2493', '13244', '25320.265', '20.51', '12', '598', '122761.94', 'Self-employed', '0.48', 'Business', '4', '1', '28', 'Own', 'Current'),
	('2494', '61977', '43771.38', '5.5', '12', '581', '22759.22', 'Others', '0.85', 'Car', '0', '0', '46', 'Mortgage', 'Current'),
	('2495', '54760', '33276.42', '24.74', '72', '665', '85420.16', 'Employed', '0.48', 'Education', '2', '0', '23', 'Rent', 'Paid Off'),
	('2496', '68761', '41655.68', '9.24', '36', '609', '117062.85', 'Unemployed', '0.48', 'Other', '3', '1', '44', 'Rent', 'Current'),
	('2497', '75268', '7880.83', '21', '72', '730', '96004.7', 'Unemployed', '0.48', 'Home', '2', '1', '37', 'Mortgage', 'Late'),
	('2498', '54760', '9410.76', '5.83', '60', '739', '117960.1', 'Unemployed', '0.97', 'Personal', '5', '0', '64', 'Rent', 'Late'),
	('2499', '97074', '46002.2', '19.47', '48', '570', '85420.16', 'Others', '0.04', 'Car', 'Unreported', '0', '36', 'Other', 'Current'),
	('2500', '65809', '18380.53', '17.54', '60', '646', '118968.84', 'Self-employed', '0.56', 'Home', '7', '1', '64', 'Rent', 'Late'),
	('2501', '15414', '116329.4', '20.29', '36', '787', '1319409.2', 'Self-employed', '0.48', 'Business', '4', '1', '23', 'Rent', 'Late'),
	('2502', '48864', '45691.39', '24.98', '60', '404', '20106.07', 'Unemployed', '0.48', 'Business', '2', '1', '33', 'Mortgage', 'Late'),
	('2503', '54466', '48535.12', '17.72', '72', '368', '85420.16', 'Self-employed', '0.82', 'Car', '5', '1', '33', 'Rent', 'Paid Off'),
	('2504', '83869', '32250.71', '13.86', '36', '396', '131842.24', 'Self-employed', '0.55', 'Education', '8', '0', '40', 'Mortgage', 'Current'),
	('2505', '48742', '20028.59', '18.07', '48', '753', '120040.47', 'Self-employed', '0.02', 'Other', '5', '1', '23', 'Mortgage', 'Paid Off'),
	('2506', '73534', '34730.9', '13.245', '60', '844', '50825.1', 'Employed', '0.28', 'Personal', '3', '1', '35', 'Own', 'Paid Off'),
	('2507', '41715', '1762.34', '12.59', '72', '717', '70883.17', 'Self-employed', '0.12', 'Home', '8', '1', '30', 'Rent', 'Current'),
	('2508', '19047', '8090.9', '13.245', '48', '746', '110404.6', 'Self-employed', '0.63', 'Car', '5', '1', '57', 'Mortgage', 'Late'),
	('2509', '18997', '19067.01', '7.02', '36', '581', '76602.91', 'Self-employed', '0.14', 'Home', '6', '0', '59', 'Rent', 'Paid Off'),
	('2510', '54893', '41779', '2.5', '36', '705', '117774.24', 'Self-employed', '0.22', 'Home', '7', '0', '52', 'Mortgage', 'Paid Off'),
	('2511', '22013', '15911.48', '13.245', '36', '703', '131791.54', 'Unemployed', '0.12', 'Education', 'Unreported', '1', '61', 'Own', 'Current'),
	('2512', '54760', '3835.72', '10.04', '72', '526', '98939.89', 'Self-employed', '0.49', 'Home', '9', '0', '41', 'Own', 'Current'),
	('2513', '54760', '19558.03', '13.245', '24', '455', '110154.48', 'Unemployed', '0.99', 'Other', '1', '0', '48', 'Own', 'Current'),
	('2514', '61713', '12821.45', '5', '24', '542', '34421.91', 'Employed', '0.25', 'Business', '9', '0', '34', 'Mortgage', 'Paid Off'),
	('2515', '46297', '3746.94', '17.46', '60', '336', '98914.61', 'Employed', '0.93', 'Car', '9', '0', '43', 'Mortgage', 'Paid Off'),
	('2516', '57578', '20547.29', '2.99', '36', '369', '31544.73', 'Self-employed', '0.77', 'Car', 'Unreported', '1', '51', 'Own', 'Paid Off'),
	('2517', '14272', '18219.65', '15.66', '36', '463', '22814.12', 'Unemployed', '0.7', 'Home', '6', '0', '43', 'Mortgage', 'Late'),
	('2518', '49759', '25320.265', '2.59', '24', '561', '85420.16', 'Unemployed', '0.11', 'Business', '8', '0', '37', 'Rent', 'Paid Off'),
	('2519', '56481', '4097.04', '18.04', '12', '330', '85420.16', 'Self-employed', '0.31', 'Home', '0', '1', '20', 'Own', 'Late'),
	('2520', '34830', '19573.67', '20.22', '36', '621', '110247.05', 'Employed', '0.85', 'Business', '0', '0', '56', 'Own', 'Paid Off'),
	('2521', '48299', '17779.24', '11.49', '60', '431', '103596.79', 'Self-employed', '0.13', 'Personal', '9', '1', '30', 'Rent', 'Late'),
	('2522', '36340', '25320.265', '10.19', '36', '317', '85420.16', 'Others', '0.66', 'Personal', '4', '1', '46', 'Mortgage', 'Late'),
	('2523', '20505', '44508.12', '7.34', '72', '770', '145036.92', 'Unemployed', '0.44', 'Other', '7', '1', '22', 'Rent', 'Current'),
	('2524', '55801', '8006.5', '21.64', '72', '457', '57764.5', 'Employed', '0.14', 'Education', '2', '1', '50', 'Mortgage', 'Paid Off'),
	('2525', '18205', '40996.43', '12.75', '60', '677', '109920.78', 'Self-employed', '0.03', 'Business', '5', '0', '37', 'Rent', 'Late'),
	('2526', '30917', '30876.45', '19.39', '12', '646', '77698.02', 'Self-employed', '0.37', 'Personal', '8', '0', '67', 'Own', 'Current'),
	('2527', '66646', '2432.89', '13.245', '24', '503', '75458.59', 'Employed', '0.36', 'Home', '2', '0', '50', 'Mortgage', 'Current'),
	('2528', '88808', '38577.55', '5.35', '36', '744', '114091.53', 'Unemployed', '0.76', 'Business', '3', '0', '24', 'Rent', 'Current'),
	('2529', '68122', '25320.265', '5.91', '60', '788', '99371.84', 'Employed', '0.1', 'Education', '1', '1', '23', 'Rent', 'Current'),
	('2530', '30601', '40196.51', '8.03', '12', '726', '127649.17', 'Employed', '0.8', 'Car', '7', '1', '63', 'Own', 'NA'),
	('2531', '76859', '21034.53', '21.74', '60', '780', '115828.58', 'Self-employed', '0.04', 'Car', '5', '1', '19', 'Own', 'Paid Off'),
	('2532', '38261', '33609.64', '9.45', '36', '800', '127980.12', 'Self-employed', '0.42', 'Personal', '3', '0', '65', 'Own', 'NA'),
	('2533', '72853', '10741.41', '22.45', '72', '750', '32255.96', 'Self-employed', '0.22', 'Car', '4', '1', '54', 'Own', 'Paid Off'),
	('2534', '11268', '10400.38', '16.48', '72', '677', '94564.34', 'Unemployed', '0.74', 'Car', '7', '1', '67', 'Other', 'Late'),
	('2535', '31263', '17672.86', '18.29', '48', '378', '43145.01', 'Self-employed', '0.04', 'Other', '9', '0', '43', 'Own', 'NA'),
	('2536', '68382', '26452.58', '8.45', '48', '569', '67979.89', 'Employed', '0.32', 'Home', 'Unreported', '0', '23', 'Mortgage', 'NA'),
	('2537', '20709', '36109.81', '3.11', '36', '731', '106856.05', 'Unemployed', '0.91', 'Home', '8', '0', '53', 'Own', 'Current'),
	('2538', '34576', '33673.44', '12.44', '48', '698', '24151.42', 'Unemployed', '0.65', 'Education', 'Unreported', '1', '63', 'Mortgage', 'Late'),
	('2539', '54760', '25320.265', '16.73', '72', '751', '20044.84', 'Self-employed', '0.33', 'Other', '6', '1', '22', 'Own', 'Current'),
	('2540', '32113', '21893.45', '9.71', '12', '699', '85420.16', 'Employed', '0.97', 'Personal', '5', '0', '35', 'Other', 'Current'),
	('2541', '29854', '45713.93', '23.91', '48', '640', '78001.3', 'Self-employed', '0.48', 'Car', '4', '0', '22', 'Other', 'Paid Off'),
	('2542', '60950', '25320.265', '16.69', '36', '317', '26532.71', 'Unemployed', '0.31', 'Business', '3', '0', '64', 'Own', 'Late'),
	('2543', '67944', '10172.96', '24.85', '48', '665', '26872.07', 'Self-employed', '0.51', 'Home', '4', '1', '43', 'Other', 'Current'),
	('2544', '54534', '34502.16', '13.245', '60', '730', '143806.45', 'Unemployed', '0.77', 'Education', '2', '1', '40', 'Rent', 'Current'),
	('2545', '31507', '13434.86', '13.74', '36', '561', '85420.16', 'Employed', '0.97', 'Education', '7', '0', '33', 'Other', 'Current'),
	('2546', '76884', '25320.265', '13.245', '48', '470', '64971.23', 'Self-employed', '0.28', 'Business', 'Unreported', '1', '44', 'Rent', 'Current'),
	('2547', '43893', '44438.19', '16.95', '60', '391', '43527.01', 'Self-employed', '0.2', 'Home', '3', '0', '28', 'Rent', 'NA'),
	('2548', '66159', '4351.64', '5.48', '12', '730', '76134.23', 'Employed', '0.97', 'Education', '3', '0', '60', 'Own', 'Late'),
	('2549', '61099', '49582.08', '11.33', '60', '662', '24039.49', 'Self-employed', '0.77', 'Other', 'Unreported', '0', '41', 'Own', 'NA'),
	('2550', '14722', '43266.88', '13.35', '24', '731', '93346.01', 'Others', '0.18', 'Car', '4', '1', '37', 'Own', 'Late'),
	('2551', '36601', '43544.63', '13.38', '12', '433', '55815.14', 'Unemployed', '0.89', 'Personal', '4', '0', '43', 'Rent', 'Paid Off'),
	('2552', '54760', '31806.94', '13.245', '60', '583', '85420.16', 'Unemployed', '0.04', 'Business', '0', '0', '50', 'Own', 'Late'),
	('2553', '50831', '12017.93', '2.53', '24', '328', '56016.2', 'Self-employed', '0.94', 'Personal', '0', '1', '22', 'Other', 'Late'),
	('2554', '37025', '40106.49', '14.73', '72', '541', '85420.16', 'Unemployed', '0.86', 'Other', '6', '0', '34', 'Mortgage', 'Late'),
	('2555', '54760', '3636.23', '12.39', '48', '454', '119070.25', 'Unemployed', '0.93', 'Other', '0', '0', '43', 'Own', 'Paid Off'),
	('2556', '33208', '29523.65', '3.47', '72', '476', '69601.37', 'Unemployed', '0.84', 'Personal', '4', '0', '35', 'Mortgage', 'Paid Off'),
	('2557', '17661', '22518.82', '13.9', '24', '671', '85420.16', 'Self-employed', '0.46', 'Business', '0', '0', '28', 'Mortgage', 'Paid Off'),
	('2558', '16950', '37769.93', '4.65', '60', '521', '138497.98', 'Employed', '0.42', 'Other', '6', '1', '19', 'Own', 'NA'),
	('2559', '58682', '2164.64', '24.81', '12', '620', '85420.16', 'Others', '0.19', 'Car', '9', '0', '57', 'Other', 'Late'),
	('2560', '56363', '19952.49', '19.02', '12', '816', '34042.52', 'Unemployed', '0.48', 'Personal', '0', '1', '43', 'Rent', 'Late'),
	('2561', '96671', '24377.63', '10.37', '72', '792', '56034.77', 'Unemployed', '0.48', 'Personal', '1', '1', '68', 'Other', 'Late'),
	('2562', '90626', '8465.6', '21.31', '36', '730', '82746.23', 'Unemployed', '0.1', 'Home', '8', '0', '35', 'Rent', 'Paid Off'),
	('2563', '73394', '21321.29', '4.35', '24', '847', '98711.13', 'Employed', '0.47', 'Car', '3', '1', '33', 'Own', 'Current'),
	('2564', '59898', '45613.41', '22.19', '24', '413', '67086.94', 'Self-employed', '0.94', 'Business', '8', '1', '67', 'Mortgage', 'Late'),
	('2565', '48956', '23963.08', '17.15', '36', '750', '130247.64', 'Employed', '0.98', 'Car', '6', '0', '29', 'Mortgage', 'Paid Off'),
	('2566', '10564', '13337.03', '3.88', '36', '389', '68069.7', 'Self-employed', '0.72', 'Personal', '5', '1', '50', 'Rent', 'Late'),
	('2567', '75227', '27084.42', '12.06', '36', '564', '95588.42', 'Employed', '0.42', 'Personal', '5', '1', '31', 'Other', 'Current'),
	('2568', '79713', '3981.28', '15.73', '72', '444', '73129.15', 'Unemployed', '0.69', 'Personal', '4', '0', '43', 'Other', 'Paid Off'),
	('2569', '76247', '15419.16', '16.35', '36', '730', '142161.36', 'Employed', '0.05', 'Personal', 'Unreported', '0', '60', 'Mortgage', 'Late'),
	('2570', '10106', '39398.2', '18.95', '36', '458', '45507.2', 'Unemployed', '0.48', 'Personal', 'Unreported', '1', '47', 'Own', 'Late'),
	('2571', '43522', '32453.8', '17.16', '48', '495', '111274.05', 'Unemployed', '0.87', 'Home', '7', '1', '27', 'Rent', 'Current'),
	('2572', '44395', '2175.26', '16.8', '72', '666', '124418.09', 'Self-employed', '0.84', 'Education', '4', '0', '40', 'Own', 'Paid Off'),
	('2573', '39856', '28923.92', '20.87', '24', '347', '115320.59', 'Unemployed', '0.16', 'Business', '9', '0', '30', 'Mortgage', 'Current'),
	('2574', '83195', '25320.265', '2.47', '12', '567', '35520.4', 'Employed', '0.93', 'Home', '5', '1', '55', 'Mortgage', 'Current'),
	('2575', '43705', '48811.74', '13.245', '12', '730', '30286.06', 'Others', '0.69', 'Personal', '5', '0', '51', 'Rent', 'Paid Off'),
	('2576', '21474', '39400.66', '11.9', '48', '391', '136788.02', 'Employed', '0.76', 'Personal', '3', '0', '23', 'Mortgage', 'Current'),
	('2577', '47277', '7267.5', '8.54', '36', '464', '93609.92', 'Unemployed', '0.48', 'Home', '7', '1', '48', 'Mortgage', 'Paid Off'),
	('2578', '42653', '19891.74', '13.26', '48', '555', '116045.46', 'Employed', '0.48', 'Business', '0', '1', '40', 'Rent', 'Current'),
	('2579', '46850', '25008.51', '23.63', '24', '584', '135048.14', 'Others', '0.49', 'Personal', '8', '1', '26', 'Own', 'Current'),
	('2580', '81020', '9936.21', '23.13', '60', '676', '52104.32', 'Self-employed', '0.64', 'Home', '6', '1', '67', 'Own', 'Current'),
	('2581', '30534', '35509.91', '20.81', '72', '420', '82047.59', 'Unemployed', '0.72', 'Home', '2', '1', '48', 'Other', 'Paid Off'),
	('2582', '70296', '42227.56', '7.13', '24', '382', '143188.99', 'Self-employed', '0.93', 'Personal', 'Unreported', '1', '26', 'Mortgage', 'Paid Off'),
	('2583', '66345', '1218.77', '8.58', '60', '717', '73124.72', 'Others', '0.3', 'Business', '4', '1', '63', 'Mortgage', 'Paid Off'),
	('2584', '84257', '25320.265', '21.07', '36', '649', '82455.39', 'Self-employed', '0.47', 'Home', '8', '1', '40', 'Mortgage', 'NA'),
	('2585', '55553', '14889.68', '17', '72', '658', '79423.49', 'Others', '0.6', 'Business', '4', '0', '33', 'Rent', 'Paid Off'),
	('2586', '70944', '25320.265', '7.66', '12', '341', '85420.16', 'Employed', '0.12', 'Other', '3', '1', '24', 'Own', 'Late'),
	('2587', '56641', '20821.87', '13.245', '24', '742', '130243.88', 'Self-employed', '0.07', 'Home', '5', '1', '43', 'Own', 'Current'),
	('2588', '13134', '9342.35', '22.8', '24', '759', '85420.16', 'Employed', '0.37', 'Education', '4', '1', '56', 'Mortgage', 'Late'),
	('2589', '88663', '6925.43', '13.245', '12', '784', '66031.03', 'Self-employed', '0.37', 'Other', '6', '1', '42', 'Rent', 'Current'),
	('2590', '99040', '45166.45', '24.65', '60', '774', '101506.74', 'Self-employed', '0.43', 'Personal', '3', '1', '38', 'Own', 'Paid Off'),
	('2591', '52070', '40701.96', '14.69', '72', '684', '33938.38', 'Unemployed', '0.08', 'Personal', '3', '1', '44', 'Mortgage', 'Late'),
	('2592', '86283', '31345.73', '21.74', '36', '730', '143395.06', 'Employed', '0.36', 'Business', '1', '0', '43', 'Own', 'Current'),
	('2593', '93209', '27445.09', '8.97', '24', '325', '44483.05', 'Unemployed', '0.27', 'Education', '3', '0', '31', 'Mortgage', 'Current'),
	('2594', '54760', '39080.53', '23.9', '48', '470', '67146.22', 'Unemployed', '0.49', 'Business', '1', '0', '22', 'Other', 'Late'),
	('2595', '76933', '16589.38', '10.33', '24', '801', '116691.38', 'Employed', '0.15', 'Home', '4', '0', '41', 'Mortgage', 'Current'),
	('2596', '41928', '32352.88', '4.29', '36', '652', '95635.31', 'Employed', '0.98', 'Home', '7', '1', '19', 'Rent', 'Late'),
	('2597', '37181', '37105.43', '5.57', '48', '362', '47936.22', 'Others', '0.48', 'Car', '5', '1', '52', 'Rent', 'Current'),
	('2598', '77361', '29206.79', '16.57', '36', '514', '109871.61', 'Employed', '0.94', 'Personal', '0', '0', '61', 'Mortgage', 'Current'),
	('2599', '27086', '9267.87', '19.42', '36', '707', '133329.99', 'Unemployed', '0.8', 'Business', '3', '0', '65', 'Mortgage', 'Late'),
	('2600', '33044', '49309.34', '13.245', '12', '366', '32762.31', 'Self-employed', '0.82', 'Business', '4', '0', '68', 'Mortgage', 'Late'),
	('2601', '94805', '25320.265', '13.245', '48', '485', '85878.84', 'Self-employed', '0.54', 'Personal', '2', '0', '69', 'Mortgage', 'Late'),
	('2602', '14733', '25040.72', '20.04', '48', '619', '56847.2', 'Self-employed', '0.03', 'Education', 'Unreported', '0', '43', 'Own', 'Current'),
	('2603', '54760', '25320.265', '14.12', '36', '762', '42389.86', 'Self-employed', '0.12', 'Car', 'Unreported', '0', '43', 'Mortgage', 'Current'),
	('2604', '53404', '38243.72', '11.63', '12', '409', '94270.41', 'Employed', '0.36', 'Business', '4', '0', '29', 'Own', 'Paid Off'),
	('2605', '67088', '23470.67', '6.07', '24', '602', '147625.24', 'Unemployed', '0.39', 'Business', 'Unreported', '1', '47', 'Mortgage', 'Current'),
	('2606', '77305', '37216.69', '4.61', '12', '739', '140979.88', 'Self-employed', '0.05', 'Business', '9', '1', '59', 'Own', 'Late'),
	('2607', '66673', '38873.47', '9.66', '36', '404', '139587.45', 'Unemployed', '0.69', 'Car', '5', '1', '50', 'Own', 'Current'),
	('2608', '42371', '23491.36', '8.55', '60', '572', '136781.29', 'Employed', '0.78', 'Other', '6', '1', '24', 'Rent', 'Paid Off'),
	('2609', '71249', '10200.64', '10.46', '36', '674', '125279.91', 'Employed', '0.42', 'Business', '9', '0', '28', 'Mortgage', 'Current'),
	('2610', '22486', '30290.59', '3.75', '12', '334', '113644.9', 'Employed', '0.48', 'Personal', '1', '1', '38', 'Rent', 'Paid Off'),
	('2611', '73610', '28160.15', '7.2', '60', '514', '134736.23', 'Unemployed', '0.48', 'Education', '6', '0', '43', 'Own', 'Current'),
	('2612', '98475', '25320.265', '13.85', '60', '634', '85420.16', 'Self-employed', '0.48', 'Car', '4', '0', '62', 'Other', 'Current'),
	('2613', '54760', '3870.52', '24.81', '60', '791', '41995.37', 'Employed', '0.7', 'Car', '1', '1', '43', 'Own', 'Current'),
	('2614', '94075', '25320.265', '11.56', '48', '567', '85420.16', 'Unemployed', '0.33', 'Personal', '9', '1', '27', 'Own', 'Late'),
	('2615', '74596', '27396.7', '11.5', '24', '684', '40810.31', 'Unemployed', '0.08', 'Education', '7', '1', '29', 'Mortgage', 'NA'),
	('2616', '88546', '22101.92', '8.53', '72', '544', '85420.16', 'Unemployed', '0.48', 'Car', '9', '1', '62', 'Mortgage', 'Paid Off'),
	('2617', '80259', '40929.72', '14.83', '36', '730', '42331.95', 'Self-employed', '0.56', 'Car', '8', '0', '64', 'Rent', 'Paid Off'),
	('2618', '67322', '10647.35', '21.78', '72', '578', '90400.84', 'Self-employed', '0.04', 'Personal', 'Unreported', '1', '37', 'Rent', 'Late'),
	('2619', '80086', '14312.39', '13.245', '12', '658', '142212.33', 'Unemployed', '0.48', 'Business', '5', '0', '26', 'Rent', 'Current'),
	('2620', '12982', '32346.63', '24.97', '36', '414', '99304.81', 'Others', '0.77', 'Car', '4', '1', '36', 'Mortgage', 'Current'),
	('2621', '75186', '25320.265', '13.245', '48', '713', '146925.07', 'Unemployed', '0.07', 'Home', '2', '0', '43', 'Mortgage', 'Current'),
	('2622', '39386', '15850.4', '21.4', '36', '483', '73598.66', 'Self-employed', '0.16', 'Home', '6', '0', '38', 'Own', 'Late'),
	('2623', '20024', '13476.18', '2.96', '48', '414', '75939.47', 'Employed', '0.48', 'Business', '5', '0', '37', 'Rent', 'Current'),
	('2624', '42808', '24800.81', '19.36', '48', '819', '83777.96', 'Employed', '0.45', 'Personal', '5', '1', '32', 'Rent', 'Current'),
	('2625', '54760', '39001.31', '16.17', '12', '768', '84513.62', 'Employed', '0.48', 'Other', 'Unreported', '1', '51', 'Other', 'NA'),
	('2626', '66484', '40460.97', '19.15', '72', '651', '37733.35', 'Others', '0.43', 'Education', 'Unreported', '1', '56', 'Mortgage', 'Current'),
	('2627', '36722', '39737.92', '24.48', '60', '539', '84496.99', 'Employed', '0.52', 'Business', '5', '0', '32', 'Mortgage', 'NA'),
	('2628', '55627', '25320.265', '7.07', '48', '307', '124870.1', 'Employed', '0.48', 'Car', '4', '1', '46', 'Other', 'Paid Off'),
	('2629', '69993', '25320.265', '10.31', '72', '730', '27969.39', 'Unemployed', '0.83', 'Education', '8', '0', '29', 'Own', 'NA'),
	('2630', '17295', '49128.63', '14.71', '36', '313', '64357.21', 'Self-employed', '0.55', 'Home', '6', '0', '49', 'Rent', 'Late'),
	('2631', '39626', '21896.61', '9.73', '12', '797', '32242.24', 'Self-employed', '0.61', 'Car', '5', '0', '29', 'Rent', 'Late'),
	('2632', '11311', '10456.12', '21.89', '36', '678', '21891.4', 'Self-employed', '0.4', 'Education', '2', '1', '30', 'Own', 'NA'),
	('2633', '78400', '48531.12', '14.48', '72', '730', '129848.27', 'Employed', '0.06', 'Personal', '8', '1', '43', 'Rent', 'Current'),
	('2634', '82683', '25320.265', '2.12', '72', '519', '64693.99', 'Others', '0.11', 'Business', '5', '1', '32', 'Mortgage', 'Late'),
	('2635', '69518', '46556.45', '22.95', '24', '819', '59351.87', 'Others', '0.49', 'Other', '9', '1', '22', 'Rent', 'Paid Off'),
	('2636', '71760', '26634.53', '14.01', '12', '433', '85420.16', 'Unemployed', '0.76', 'Car', '7', '1', '56', 'Own', 'Late'),
	('2637', '42293', '37639.35', '17.78', '72', '730', '58841.59', 'Employed', '0.48', 'Car', '1', '1', '20', 'Own', 'Paid Off'),
	('2638', '63751', '26453.74', '13.7', '48', '344', '147571.52', 'Self-employed', '0.04', 'Education', '5', '0', '20', 'Rent', 'Late'),
	('2639', '54760', '27433.06', '16.12', '72', '801', '116720.92', 'Employed', '0.51', 'Personal', '9', '1', '39', 'Mortgage', 'Late'),
	('2640', '54760', '47623.55', '24.56', '72', '737', '84502.87', 'Self-employed', '0.53', 'Personal', '7', '0', '18', 'Other', 'Late'),
	('2641', '86628', '37179.49', '12.16', '36', '756', '47361.07', 'Self-employed', '0.44', 'Car', '0', '0', '54', 'Rent', 'Paid Off'),
	('2642', '90204', '28772.11', '18.05', '36', '730', '22417.15', 'Self-employed', '0.53', 'Other', '9', '0', '42', 'Mortgage', 'Late'),
	('2643', '14466', '20244.03', '21.77', '12', '737', '144149.02', 'Employed', '0.42', 'Home', '2', '0', '47', 'Mortgage', 'Current'),
	('2644', '42731', '9052.05', '4.4', '48', '830', '112119.33', 'Others', '0.36', 'Car', '6', '1', '69', 'Mortgage', 'Current'),
	('2645', '31423', '6670.79', '15.37', '24', '623', '35387.6', 'Employed', '0.73', 'Education', '1', '1', '36', 'Mortgage', 'Current'),
	('2646', '43292', '25320.265', '12.55', '12', '430', '85420.16', 'Others', '0.98', 'Home', '3', '1', '43', 'Rent', 'Late'),
	('2647', '65279', '34947.41', '24.82', '12', '338', '48132.13', 'Employed', '0.48', 'Car', '2', '1', '24', 'Mortgage', 'Paid Off'),
	('2648', '59809', '10386.08', '23.55', '72', '770', '85420.16', 'Self-employed', '0.64', 'Other', '3', '1', '65', 'Rent', 'Current'),
	('2649', '32951', '7441.64', '6.28', '36', '496', '87797.7', 'Self-employed', '0.14', 'Business', '4', '1', '32', 'Own', 'Paid Off'),
	('2650', '18095', '4810.11', '4.24', '48', '507', '71999.48', 'Unemployed', '0.68', 'Personal', '6', '1', '38', 'Own', 'Paid Off'),
	('2651', '85375', '42466.22', '12.43', '12', '657', '85420.16', 'Others', '0.67', 'Business', '0', '1', '44', 'Rent', 'Late'),
	('2652', '15789', '12818.3', '2.44', '48', '730', '143906.79', 'Unemployed', '0.48', 'Other', 'Unreported', '1', '30', 'Mortgage', 'Paid Off'),
	('2653', '49351', '10841.67', '13.43', '60', '730', '89999.18', 'Unemployed', '0.29', 'Other', 'Unreported', '0', '43', 'Other', 'Current'),
	('2654', '45265', '20151.84', '18.98', '60', '434', '38132.68', 'Employed', '0.87', 'Home', 'Unreported', '0', '40', 'Own', 'Late'),
	('2655', '24848', '31844.82', '22.32', '36', '484', '59396.49', 'Self-employed', '0.91', 'Home', '4', '1', '55', 'Own', 'Paid Off'),
	('2656', '18983', '29726.73', '24.15', '36', '488', '96563.19', 'Unemployed', '0.33', 'Personal', '1', '1', '51', 'Mortgage', 'Current'),
	('2657', '15005', '25320.265', '23.09', '24', '598', '55412.7', 'Others', '0.6', 'Car', '5', '1', '24', 'Mortgage', 'Paid Off'),
	('2658', '42904', '34416.63', '23.02', '72', '562', '124312.58', 'Self-employed', '0.35', 'Other', 'Unreported', '1', '31', 'Mortgage', 'Current'),
	('2659', '90340', '28536.61', '9.7', '48', '784', '56835.42', 'Unemployed', '0.44', 'Business', '5', '0', '43', 'Other', 'Late'),
	('2660', '89925', '35868.31', '10.89', '48', '342', '94213.49', 'Employed', '0.68', 'Personal', '5', '0', '43', 'Mortgage', 'Current'),
	('2661', '12258', '33522.45', '20.73', '72', '591', '58984.69', 'Others', '0.56', 'Home', 'Unreported', '0', '66', 'Other', 'Paid Off'),
	('2662', '54813', '38606.44', '12.74', '72', '730', '28641.52', 'Self-employed', '0.32', 'Personal', '7', '0', '26', 'Own', 'Current'),
	('2663', '24728', '29048.89', '5.46', '36', '828', '52209.54', 'Employed', '0.9', 'Home', '1', '0', '27', 'Rent', 'Paid Off'),
	('2664', '34987', '40557.25', '12.45', '60', '493', '144678.17', 'Others', '0.45', 'Personal', '3', '0', '23', 'Rent', 'Current'),
	('2665', '86965', '45102.81', '10.51', '72', '714', '85420.16', 'Self-employed', '0.72', 'Business', '6', '1', '43', 'Other', 'NA'),
	('2666', '49262', '35127.36', '3.96', '24', '624', '63375.35', 'Unemployed', '0.89', 'Business', '1', '0', '46', 'Mortgage', 'Current'),
	('2667', '10972', '18523.37', '10.06', '36', '612', '116271.31', 'Employed', '0.85', 'Business', '7', '1', '20', 'Own', 'Paid Off'),
	('2668', '94269', '14718.93', '13.245', '36', '730', '128289.52', 'Employed', '0.53', 'Business', '0', '0', '21', 'Mortgage', 'Late'),
	('2669', '54760', '32222.1', '23.31', '24', '730', '137114.04', 'Self-employed', '0.31', 'Business', 'Unreported', '1', '24', 'Rent', 'Late'),
	('2670', '94734', '31940.03', '24.29', '72', '388', '78400.53', 'Employed', '0.53', 'Car', '4', '1', '68', 'Mortgage', 'Paid Off'),
	('2671', '10746', '2171.62', '15.15', '48', '741', '89614.14', 'Unemployed', '0.8', 'Car', '0', '0', '53', 'Mortgage', 'Paid Off'),
	('2672', '76504', '37608.36', '4.44', '48', '670', '65541.84', 'Employed', '0.74', 'Business', '4', '0', '66', 'Own', 'Current'),
	('2673', '94432', '25320.265', '7.22', '12', '735', '45469.92', 'Unemployed', '0.06', 'Business', '9', '0', '37', 'Own', 'Late'),
	('2674', '53901', '3670.02', '6.29', '24', '302', '72390.17', 'Self-employed', '0.08', 'Car', '0', '1', '24', 'Rent', 'Paid Off'),
	('2675', '89378', '8506.76', '6.34', '60', '473', '93631.53', 'Employed', '0.06', 'Education', '3', '1', '24', 'Own', 'Current'),
	('2676', '15066', '33182.26', '22.43', '60', '585', '97761.87', 'Others', '0.25', 'Business', '4', '0', '69', 'Own', 'Current'),
	('2677', '77471', '26629.68', '6.69', '72', '600', '139145.99', 'Self-employed', '0.11', 'Education', '6', '1', '32', 'Other', 'Paid Off'),
	('2678', '81549', '42499.95', '10.72', '36', '412', '85420.16', 'Unemployed', '0.79', 'Car', '7', '1', '52', 'Other', 'Current'),
	('2679', '80488', '6206.38', '4.14', '72', '685', '65683.61', 'Others', '0.95', 'Business', '4', '0', '63', 'Own', 'Paid Off'),
	('2680', '40692', '41646.32', '2.84', '48', '368', '85420.16', 'Unemployed', '0.34', 'Business', '4', '1', '51', 'Own', 'Paid Off'),
	('2681', '65023', '32894.98', '23.8', '24', '527', '73489.21', 'Employed', '0.73', 'Car', '3', '1', '31', 'Own', 'Current'),
	('2682', '62032', '11531.55', '19.54', '72', '350', '39363.72', 'Unemployed', '0.48', 'Car', '6', '1', '52', 'Mortgage', 'Paid Off'),
	('2683', '83091', '37108.38', '12', '12', '448', '120767.19', 'Employed', '0.9', 'Other', '8', '1', '52', 'Mortgage', 'Current'),
	('2684', '62116', '37325.33', '5.88', '12', '781', '40649.93', 'Employed', '0.28', 'Personal', '3', '0', '33', 'Mortgage', 'Paid Off'),
	('2685', '54207', '6292.08', '24.55', '48', '846', '123207.91', 'Employed', '0.08', 'Car', '5', '0', '28', 'Mortgage', 'Paid Off'),
	('2686', '71793', '14055.89', '11.99', '60', '494', '131479.12', 'Employed', '0.13', 'Home', '7', '0', '18', 'Rent', 'Paid Off'),
	('2687', '45864', '32304.38', '14.52', '60', '687', '115972.15', 'Employed', '0.48', 'Car', '4', '1', '60', 'Own', 'NA'),
	('2688', '70114', '25320.265', '3.73', '72', '561', '101068.1', 'Others', '0.34', 'Personal', '8', '0', '68', 'Mortgage', 'Paid Off'),
	('2689', '40504', '38497', '8.43', '24', '513', '27410.55', 'Unemployed', '0.16', 'Car', '0', '1', '23', 'Rent', 'Paid Off'),
	('2690', '24473', '27266.08', '13.245', '60', '557', '141347.31', 'Unemployed', '0.47', 'Car', '8', '1', '19', 'Rent', 'Late'),
	('2691', '89176', '42992.86', '5.2', '36', '836', '85420.16', 'Self-employed', '0.48', 'Other', 'Unreported', '1', '31', 'Own', 'Paid Off'),
	('2692', '48895', '6440.27', '22.57', '72', '783', '123277.76', 'Employed', '0.46', 'Personal', '6', '1', '50', 'Other', 'Current'),
	('2693', '54760', '36953.59', '6.46', '72', '343', '37979.11', 'Employed', '1', 'Home', '8', '0', '66', 'Mortgage', 'Paid Off'),
	('2694', '40483', '23767.36', '2.71', '60', '730', '24260.25', 'Self-employed', '0.41', 'Education', '8', '0', '22', 'Own', 'Late'),
	('2695', '33254', '26450.16', '24.67', '48', '824', '140912.28', 'Self-employed', '0.28', 'Other', '9', '0', '44', 'Rent', 'Late'),
	('2696', '52307', '14918.23', '23.61', '60', '551', '44188.23', 'Unemployed', '0.57', 'Personal', '7', '1', '36', 'Mortgage', 'Current'),
	('2697', '81630', '14184.09', '18.63', '36', '730', '89846.17', 'Self-employed', '0.21', 'Business', '2', '1', '23', 'Rent', 'Late'),
	('2698', '54159', '10300.39', '21.35', '60', '729', '34751.83', 'Self-employed', '0.73', 'Home', '8', '1', '60', 'Rent', 'Paid Off'),
	('2699', '24039', '192939.4', '5.59', '60', '491', '1027136.5', 'Employed', '0.93', 'Education', '3', '0', '26', 'Own', 'Late'),
	('2700', '96251', '12710.4', '3.84', '48', '808', '132879.45', 'Unemployed', '0.33', 'Other', '5', '0', '43', 'Own', 'Paid Off'),
	('2701', '15144', '10296.68', '21.88', '60', '390', '49643.95', 'Unemployed', '0.47', 'Car', '3', '1', '65', 'Rent', 'Late'),
	('2702', '95588', '48128', '10.25', '12', '438', '58979.4', 'Self-employed', '0.15', 'Car', '5', '0', '43', 'Mortgage', 'Late'),
	('2703', '97715', '22923.3', '9.42', '72', '449', '100815.41', 'Employed', '0.99', 'Education', '7', '1', '49', 'Mortgage', 'Current'),
	('2704', '88626', '34227.99', '17.84', '12', '398', '99358.8', 'Unemployed', '0.18', 'Other', '1', '1', '21', 'Mortgage', 'Paid Off'),
	('2705', '43628', '19333.26', '19.41', '48', '696', '124876.11', 'Employed', '0.78', 'Business', 'Unreported', '1', '37', 'Rent', 'Paid Off'),
	('2706', '48949', '28919.89', '16.11', '12', '730', '85420.16', 'Self-employed', '0.86', 'Other', '7', '1', '47', 'Rent', 'Late'),
	('2707', '39522', '25460.9', '13.245', '12', '723', '21354.34', 'Self-employed', '0.3', 'Home', '1', '0', '43', 'Rent', 'Current'),
	('2708', '92999', '31021.72', '10.4', '72', '639', '127769.77', 'Unemployed', '0.94', 'Education', '7', '0', '46', 'Own', 'Paid Off'),
	('2709', '15994', '36413.71', '2.3', '36', '346', '99925.88', 'Employed', '0.45', 'Car', '8', '1', '47', 'Mortgage', 'Current'),
	('2710', '20787', '33531.55', '4.24', '24', '612', '58630.93', 'Employed', '0.34', 'Car', '7', '1', '43', 'Rent', 'Paid Off'),
	('2711', '26359', '38343.07', '18.75', '24', '732', '20834.93', 'Unemployed', '0.19', 'Business', '5', '1', '38', 'Own', 'Paid Off'),
	('2712', '59507', '8168.92', '8.27', '72', '398', '79751.59', 'Others', '0.45', 'Home', '2', '1', '66', 'Rent', 'Late'),
	('2713', '66385', '5607.53', '5.67', '72', '640', '96230.78', 'Unemployed', '0.79', 'Home', '7', '1', '66', 'Own', 'Current'),
	('2714', '56740', '17606.07', '24.55', '36', '330', '68455.99', 'Employed', '0.93', 'Education', '3', '0', '45', 'Mortgage', 'Current'),
	('2715', '15349', '24609.57', '20.87', '24', '328', '116965.72', 'Unemployed', '0.13', 'Personal', '5', '1', '45', 'Other', 'Paid Off'),
	('2716', '23102', '11995.73', '17.69', '12', '659', '30038.23', 'Employed', '0.11', 'Education', '7', '1', '67', 'Rent', 'Late'),
	('2717', '42859', '38888', '9.49', '72', '730', '41757.65', 'Self-employed', '0.54', 'Education', '6', '0', '60', 'Mortgage', 'Late'),
	('2718', '69454', '36258.24', '5.86', '48', '692', '132670.96', 'Others', '0.68', 'Business', '6', '0', '31', 'Own', 'Paid Off'),
	('2719', '18689', '45765.37', '20.77', '48', '730', '139819.41', 'Unemployed', '0.25', 'Personal', '9', '1', '37', 'Mortgage', 'Paid Off'),
	('2720', '20830', '36719.05', '23.31', '24', '578', '78502.23', 'Employed', '0.67', 'Car', '9', '1', '62', 'Own', 'NA'),
	('2721', '90030', '6250.12', '21.86', '12', '609', '92366.44', 'Self-employed', '0.74', 'Other', '5', '1', '37', 'Mortgage', 'Late'),
	('2722', '25707', '33584.75', '7.81', '24', '698', '109606', 'Unemployed', '0.59', 'Education', '6', '0', '53', 'Other', 'Late'),
	('2723', '87875', '21190.91', '4.05', '72', '366', '73871.84', 'Employed', '0.05', 'Education', 'Unreported', '0', '67', 'Rent', 'Late'),
	('2724', '98580', '13721.12', '13.6', '48', '458', '121397.53', 'Unemployed', '0.87', 'Other', '9', '1', '35', 'Rent', 'Paid Off'),
	('2725', '56788', '30495.62', '19.78', '72', '589', '88280.49', 'Self-employed', '0.28', 'Personal', 'Unreported', '1', '30', 'Own', 'Late'),
	('2726', '42553', '15807.32', '13.245', '48', '543', '129751.98', 'Unemployed', '0.33', 'Car', 'Unreported', '1', '18', 'Rent', 'Current'),
	('2727', '20732', '27011.96', '23.07', '72', '631', '107521.27', 'Self-employed', '0.75', 'Car', '1', '1', '51', 'Own', 'NA'),
	('2728', '49323', '29222.89', '2.74', '24', '391', '116356.52', 'Unemployed', '0.18', 'Education', '0', '1', '27', 'Own', 'Current'),
	('2729', '58781', '26924.28', '2.51', '36', '672', '85420.16', 'Unemployed', '0.96', 'Education', '3', '0', '29', 'Rent', 'Late'),
	('2730', '49168', '1523.64', '16.53', '24', '771', '117892.99', 'Employed', '0.48', 'Personal', '4', '0', '25', 'Own', 'Paid Off'),
	('2731', '20058', '18088.21', '4.94', '12', '393', '81008.22', 'Unemployed', '0.08', 'Education', '3', '1', '33', 'Mortgage', 'Late'),
	('2732', '12781', '39732.65', '15.97', '48', '730', '63518.59', 'Unemployed', '0.79', 'Home', '1', '1', '64', 'Own', 'Current'),
	('2733', '10846', '17997.89', '2.22', '60', '730', '76041.7', 'Others', '0.08', 'Home', 'Unreported', '1', '39', 'Own', 'Late'),
	('2734', '76688', '25959.6', '19.06', '60', '528', '42592.72', 'Employed', '0.68', 'Personal', '8', '1', '69', 'Rent', 'Paid Off'),
	('2735', '54760', '17984.97', '10.9', '36', '438', '20300.78', 'Employed', '0.29', 'Car', '5', '0', '54', 'Rent', 'Late'),
	('2736', '54760', '10762.66', '19.43', '72', '480', '107019.96', 'Unemployed', '0.65', 'Business', '9', '1', '53', 'Own', 'Current'),
	('2737', '26139', '10787.92', '17.93', '72', '709', '85420.16', 'Self-employed', '0.04', 'Business', '1', '1', '56', 'Other', 'Current'),
	('2738', '32557', '37694.12', '13.245', '24', '429', '140958.97', 'Unemployed', '0.8', 'Car', '5', '1', '28', 'Mortgage', 'Current'),
	('2739', '54760', '31769.68', '13.7', '72', '358', '89110.1', 'Unemployed', '0.69', 'Home', '3', '0', '18', 'Mortgage', 'Late'),
	('2740', '54760', '46670.8', '4.07', '24', '730', '85435.55', 'Self-employed', '0.65', 'Home', '8', '1', '51', 'Own', 'Paid Off'),
	('2741', '54760', '21629.23', '16.91', '36', '521', '85420.16', 'Self-employed', '0.59', 'Personal', '3', '1', '42', 'Own', 'NA'),
	('2742', '47482', '32191.8', '16.74', '60', '523', '68838.25', 'Self-employed', '0.65', 'Education', '2', '0', '62', 'Mortgage', 'Current'),
	('2743', '54760', '23958.44', '20.76', '24', '578', '61394.66', 'Self-employed', '0.29', 'Car', '8', '0', '35', 'Rent', 'Paid Off'),
	('2744', '54760', '24222.96', '13.245', '24', '537', '133409.82', 'Self-employed', '0.08', 'Education', '7', '0', '43', 'Mortgage', 'Late'),
	('2745', '54369', '42850.28', '6.32', '48', '609', '41821.51', 'Employed', '0.41', 'Home', '2', '1', '40', 'Own', 'Late'),
	('2746', '54760', '23260.83', '17.25', '36', '556', '122128.57', 'Employed', '0.48', 'Home', '9', '1', '20', 'Mortgage', 'Paid Off'),
	('2747', '85785', '46480.17', '14.69', '60', '827', '133486.15', 'Unemployed', '0.01', 'Home', '3', '1', '30', 'Own', 'NA'),
	('2748', '93849', '31404.86', '11.54', '36', '369', '120242.56', 'Others', '0.6', 'Business', '8', '1', '27', 'Own', 'Paid Off'),
	('2749', '98794', '25320.265', '2.62', '24', '460', '81972.62', 'Self-employed', '0.48', 'Personal', '2', '1', '28', 'Own', 'Current'),
	('2750', '35676', '4331.16', '21.18', '72', '419', '139548.61', 'Employed', '0.65', 'Car', '4', '0', '28', 'Mortgage', 'Paid Off'),
	('2751', '80887', '49133.4', '8.67', '72', '784', '85420.16', 'Employed', '0.36', 'Business', '2', '0', '51', 'Mortgage', 'Paid Off'),
	('2752', '36524', '20568.61', '10.39', '12', '828', '76556.53', 'Unemployed', '0.34', 'Other', '6', '1', '43', 'Rent', 'Late'),
	('2753', '28166', '29785.48', '12.48', '24', '846', '144998.38', 'Self-employed', '0.68', 'Education', '3', '0', '59', 'Own', 'Late'),
	('2754', '53853', '22147.72', '14.53', '24', '736', '34725.37', 'Unemployed', '0.11', 'Other', '4', '0', '43', 'Own', 'NA'),
	('2755', '53962', '8785.93', '7.54', '48', '751', '119388.47', 'Employed', '0.66', 'Education', '5', '1', '43', 'Rent', 'NA'),
	('2756', '53641', '7152.03', '13.245', '36', '819', '72761.02', 'Employed', '0.48', 'Home', '9', '1', '57', 'Rent', 'Paid Off'),
	('2757', '20091', '11422.11', '23.28', '72', '547', '24916.72', 'Unemployed', '0.76', 'Car', '2', '0', '53', 'Rent', 'Late'),
	('2758', '38825', '30661.55', '6.64', '72', '480', '26813.05', 'Self-employed', '0', 'Education', 'Unreported', '0', '22', 'Own', 'Paid Off'),
	('2759', '81636', '25320.265', '14.66', '36', '334', '75957.73', 'Self-employed', '0.69', 'Personal', '5', '1', '37', 'Mortgage', 'Late'),
	('2760', '32639', '17100.83', '24.38', '60', '773', '131573.84', 'Unemployed', '0.53', 'Business', '8', '1', '48', 'Mortgage', 'Late'),
	('2761', '97628', '3164.54', '13.03', '36', '378', '121566.34', 'Employed', '0.87', 'Home', '2', '1', '24', 'Mortgage', 'Paid Off'),
	('2762', '27944', '16877.37', '22.82', '36', '568', '97573.8', 'Unemployed', '0.97', 'Home', '1', '1', '38', 'Rent', 'Paid Off'),
	('2763', '30229', '20516.86', '2.87', '24', '345', '20117.99', 'Self-employed', '0.12', 'Business', '7', '1', '55', 'Rent', 'NA'),
	('2764', '23346', '38064.77', '14.05', '12', '730', '70039.41', 'Self-employed', '0.55', 'Personal', '3', '0', '43', 'Own', 'Current'),
	('2765', '91996', '37136.72', '2.07', '72', '730', '67330.14', 'Self-employed', '0.13', 'Home', '1', '0', '43', 'Mortgage', 'Paid Off'),
	('2766', '13627', '11849', '8.23', '36', '802', '27096.06', 'Unemployed', '0.35', 'Home', '2', '1', '43', 'Own', 'Paid Off'),
	('2767', '51935', '25320.265', '23.08', '60', '500', '42789.23', 'Unemployed', '0.49', 'Other', '3', '0', '46', 'Mortgage', 'Paid Off'),
	('2768', '19019', '25320.265', '13.245', '72', '307', '129703.48', 'Others', '0.71', 'Personal', '4', '1', '23', 'Mortgage', 'Current'),
	('2769', '17665', '32937.04', '12.65', '24', '786', '91766.95', 'Self-employed', '0.09', 'Home', 'Unreported', '0', '33', 'Own', 'Current'),
	('2770', '16508', '28494.04', '13.245', '60', '541', '36193.31', 'Unemployed', '0.25', 'Business', '1', '1', '65', 'Mortgage', 'Late'),
	('2771', '27932', '6486.6', '19.01', '72', '730', '27105.39', 'Self-employed', '0.86', 'Car', '5', '0', '61', 'Own', 'Current'),
	('2772', '86656', '15000.29', '11.16', '60', '412', '112341.19', 'Unemployed', '0.68', 'Car', '9', '1', '22', 'Mortgage', 'NA'),
	('2773', '67989', '2553.46', '13.75', '12', '583', '68183.95', 'Self-employed', '0.29', 'Home', '7', '0', '20', 'Mortgage', 'Late'),
	('2774', '11660', '38318.11', '3.46', '36', '524', '144315.42', 'Self-employed', '0.82', 'Car', '7', '1', '38', 'Rent', 'Paid Off'),
	('2775', '41391', '40518.67', '18.41', '24', '587', '116341.99', 'Unemployed', '0.23', 'Education', '2', '1', '61', 'Own', 'Paid Off'),
	('2776', '73330', '46103.55', '13.245', '12', '415', '95829.74', 'Unemployed', '0.57', 'Education', '0', '1', '59', 'Mortgage', 'Paid Off'),
	('2777', '40227', '5307.86', '24.39', '60', '544', '120984.26', 'Unemployed', '0.24', 'Personal', '7', '1', '18', 'Own', 'Paid Off'),
	('2778', '16741', '45404.43', '22.04', '72', '822', '122980.08', 'Employed', '0.57', 'Home', '5', '0', '32', 'Own', 'Late'),
	('2779', '12863', '46002.84', '9.95', '12', '777', '42203.9', 'Unemployed', '0.41', 'Business', '4', '0', '39', 'Other', 'Current'),
	('2780', '12042', '49887.59', '10.57', '36', '307', '91323.4', 'Self-employed', '0.58', 'Education', '8', '1', '35', 'Rent', 'Late'),
	('2781', '62998', '39116.54', '17.19', '36', '733', '126533.52', 'Unemployed', '0.47', 'Education', '2', '0', '59', 'Own', 'NA'),
	('2782', '42836', '13869.25', '12.54', '24', '395', '66150.38', 'Unemployed', '0.24', 'Personal', '7', '0', '24', 'Mortgage', 'Current'),
	('2783', '31705', '13963.38', '14.76', '12', '671', '31936.53', 'Others', '0.84', 'Education', '1', '0', '43', 'Mortgage', 'NA'),
	('2784', '75048', '34722.63', '24.33', '72', '636', '43827.8', 'Unemployed', '0.48', 'Car', '0', '0', '27', 'Own', 'NA'),
	('2785', '34480', '25320.265', '4.09', '12', '639', '97862.54', 'Employed', '0.48', 'Personal', 'Unreported', '0', '32', 'Rent', 'Late'),
	('2786', '30955', '33356.13', '13.245', '48', '564', '136650.12', 'Unemployed', '0.48', 'Car', '5', '0', '45', 'Rent', 'Late'),
	('2787', '44064', '25320.265', '17.58', '60', '671', '101887.92', 'Unemployed', '0.24', 'Home', '4', '0', '47', 'Own', 'Current'),
	('2788', '11762', '26470.07', '7.05', '60', '595', '106697.01', 'Employed', '0.77', 'Personal', '6', '1', '32', 'Own', 'Current'),
	('2789', '99238', '15773.38', '15.48', '72', '472', '87498.09', 'Unemployed', '0.48', 'Education', 'Unreported', '1', '32', 'Other', 'Paid Off'),
	('2790', '80781', '30242.75', '19.82', '72', '530', '27780.16', 'Others', '0.66', 'Business', '4', '1', '22', 'Own', 'Late'),
	('2791', '27436', '38847.71', '8.57', '72', '412', '124120.01', 'Employed', '0.34', 'Business', '4', '1', '52', 'Rent', 'Late'),
	('2792', '88108', '35236.12', '13.245', '36', '678', '98768.7', 'Self-employed', '0.6', 'Car', '4', '0', '33', 'Rent', 'Paid Off'),
	('2793', '45441', '22192.76', '5', '12', '730', '85420.16', 'Employed', '0.26', 'Personal', '1', '1', '34', 'Own', 'Paid Off'),
	('2794', '17013', '26711.69', '12.9', '60', '709', '133157.03', 'Employed', '0.56', 'Home', '3', '1', '18', 'Own', 'Paid Off'),
	('2795', '20841', '38848.51', '13.245', '24', '364', '53577.25', 'Employed', '0.69', 'Education', '1', '0', '59', 'Mortgage', 'Current'),
	('2796', '93077', '12409.79', '12.12', '72', '385', '116891.85', 'Unemployed', '0.11', 'Home', '7', '0', '30', 'Mortgage', 'Late'),
	('2797', '97459', '11843.63', '13.83', '12', '472', '34573.21', 'Unemployed', '0.85', 'Business', '8', '0', '18', 'Mortgage', 'Current'),
	('2798', '68059', '24764.35', '12.92', '48', '414', '121469.54', 'Unemployed', '0.95', 'Education', '5', '0', '43', 'Rent', 'Late'),
	('2799', '61789', '25212.69', '3.23', '72', '396', '33323.98', 'Self-employed', '0.48', 'Business', '3', '1', '63', 'Rent', 'Paid Off'),
	('2800', '98035', '2150.16', '9.39', '36', '822', '60671.39', 'Self-employed', '0.05', 'Home', '5', '1', '33', 'Own', 'Late'),
	('2801', '70088', '29515.37', '3.91', '36', '632', '58542.09', 'Self-employed', '0.53', 'Other', '4', '0', '43', 'Other', 'Paid Off'),
	('2802', '54760', '25320.265', '19.49', '36', '374', '106456.06', 'Employed', '0.9', 'Education', '2', '0', '43', 'Own', 'Current'),
	('2803', '54760', '29242.61', '12.98', '48', '730', '121295.54', 'Self-employed', '0.5', 'Personal', '1', '0', '60', 'Own', 'Late'),
	('2804', '66581', '45826.36', '11.36', '60', '600', '73138.83', 'Self-employed', '0.53', 'Car', '8', '0', '19', 'Mortgage', 'Current'),
	('2805', '69421', '17322.79', '19.5', '36', '379', '117502.57', 'Employed', '0.66', 'Car', '2', '1', '31', 'Mortgage', 'Late'),
	('2806', '91845', '6283.96', '17.11', '12', '450', '115722.36', 'Others', '0.41', 'Home', 'Unreported', '1', '23', 'Own', 'NA'),
	('2807', '71889', '11119.42', '11.51', '48', '789', '26222.81', 'Unemployed', '0.52', 'Education', '8', '1', '61', 'Other', 'Paid Off'),
	('2808', '62378', '16020.32', '5.08', '36', '436', '100816.52', 'Self-employed', '0.2', 'Education', '5', '1', '47', 'Own', 'Late'),
	('2809', '82988', '43310.03', '13.1', '36', '356', '123908.92', 'Self-employed', '0.29', 'Personal', '4', '1', '43', 'Own', 'Late'),
	('2810', '43767', '27904.64', '6.43', '24', '662', '93255.95', 'Unemployed', '0.16', 'Education', '9', '0', '53', 'Mortgage', 'NA'),
	('2811', '28855', '49759.02', '11.65', '72', '785', '84965.09', 'Unemployed', '0.87', 'Home', '9', '0', '64', 'Mortgage', 'Current'),
	('2812', '58737', '14966.57', '22.26', '12', '478', '84551.44', 'Others', '0.25', 'Business', '3', '0', '33', 'Other', 'Late'),
	('2813', '54760', '4367.61', '8.35', '12', '324', '24950.4', 'Self-employed', '0.76', 'Home', 'Unreported', '1', '39', 'Mortgage', 'Late'),
	('2814', '24445', '15758.22', '13.245', '36', '371', '128289.52', 'Employed', '0.72', 'Home', '3', '1', '55', 'Own', 'Paid Off'),
	('2815', '40624', '49637.15', '2.72', '60', '380', '48410.15', 'Employed', '0.45', 'Car', '3', '0', '65', 'Rent', 'Current'),
	('2816', '88084', '37411.86', '22.56', '12', '492', '36675.79', 'Self-employed', '0.58', 'Car', '3', '0', '36', 'Own', 'Paid Off'),
	('2817', '64710', '25320.265', '3.83', '24', '436', '97205.42', 'Self-employed', '0.48', 'Education', '9', '1', '64', 'Mortgage', 'Current'),
	('2818', '45200', '30147.39', '16.59', '60', '848', '119389.18', 'Self-employed', '0.75', 'Other', '0', '0', '64', 'Rent', 'Late'),
	('2819', '54760', '14492.81', '24.34', '36', '834', '54832.68', 'Employed', '0', 'Education', '2', '1', '67', 'Own', 'Current'),
	('2820', '92884', '47767.14', '23', '12', '530', '33127.54', 'Self-employed', '0.5', 'Personal', '2', '1', '68', 'Own', 'Late'),
	('2821', '34346', '25320.265', '2.71', '60', '802', '39714.26', 'Employed', '0.95', 'Car', '9', '1', '52', 'Mortgage', 'Paid Off'),
	('2822', '42271', '20458.59', '8.21', '72', '382', '48378.55', 'Self-employed', '0.78', 'Home', '7', '1', '30', 'Own', 'Paid Off'),
	('2823', '33025', '153760', '4.48', '24', '617', '347151.1', 'Self-employed', '0.48', 'Education', '5', '0', '20', 'Own', 'Paid Off'),
	('2824', '54760', '32529.49', '11.33', '12', '646', '91170.26', 'Unemployed', '0.04', 'Education', '0', '0', '44', 'Own', 'Paid Off'),
	('2825', '64160', '21482.48', '12.41', '24', '822', '78277.92', 'Unemployed', '0.21', 'Other', '5', '1', '28', 'Own', 'NA'),
	('2826', '72324', '47898.3', '5.85', '48', '615', '148264.49', 'Employed', '0.89', 'Education', '6', '1', '59', 'Other', 'Late'),
	('2827', '35670', '48403.58', '19.81', '36', '411', '146881.69', 'Unemployed', '0.36', 'Home', '7', '1', '44', 'Rent', 'Late'),
	('2828', '37384', '5748.79', '10.03', '24', '639', '98635.22', 'Self-employed', '0.71', 'Home', '2', '0', '58', 'Mortgage', 'Late'),
	('2829', '55564', '46488.32', '13.245', '48', '726', '59000.01', 'Employed', '0.88', 'Education', '4', '0', '26', 'Own', 'Paid Off'),
	('2830', '87042', '40101.8', '8.84', '36', '828', '67846.38', 'Self-employed', '0.24', 'Education', '9', '1', '45', 'Own', 'Current'),
	('2831', '54865', '35904.53', '8.59', '60', '531', '86422.18', 'Employed', '0.48', 'Other', '3', '0', '43', 'Own', 'Current'),
	('2832', '77809', '18776.51', '11.66', '72', '681', '68039.31', 'Self-employed', '0.48', 'Education', '2', '1', '20', 'Other', 'Paid Off'),
	('2833', '45396', '34298.3', '13.245', '36', '848', '144216.99', 'Self-employed', '0.09', 'Business', '7', '1', '29', 'Rent', 'Current'),
	('2834', '28270', '40722.66', '13.85', '36', '794', '48104.68', 'Self-employed', '0.48', 'Personal', '4', '1', '29', 'Rent', 'Paid Off'),
	('2835', '82964', '41690.81', '18.3', '60', '730', '118738.16', 'Self-employed', '0.25', 'Car', '3', '1', '29', 'Mortgage', 'NA'),
	('2836', '39691', '25320.265', '13.245', '36', '730', '86340.98', 'Others', '0.07', 'Home', '7', '1', '53', 'Rent', 'Current'),
	('2837', '28767', '16681.16', '4.14', '24', '316', '85420.16', 'Unemployed', '0.7', 'Education', '3', '1', '43', 'Own', 'Late'),
	('2838', '54760', '10065.64', '5.57', '24', '691', '59618.82', 'Employed', '0.82', 'Education', '0', '0', '46', 'Rent', 'Current'),
	('2839', '63525', '27644.99', '4.21', '60', '730', '146639.02', 'Self-employed', '0.84', 'Car', '3', '1', '69', 'Mortgage', 'Paid Off'),
	('2840', '79497', '13457.08', '5.74', '12', '562', '117268.12', 'Employed', '0.7', 'Personal', '8', '0', '43', 'Rent', 'Paid Off'),
	('2841', '52086', '39464.27', '2.72', '36', '847', '66640.3', 'Employed', '0.48', 'Education', '6', '0', '64', 'Mortgage', 'NA'),
	('2842', '73242', '25320.265', '21.02', '36', '620', '89220.24', 'Self-employed', '0.42', 'Education', '9', '1', '58', 'Mortgage', 'Current'),
	('2843', '22560', '21845.02', '20.43', '72', '755', '34819.81', 'Self-employed', '0.02', 'Education', '1', '1', '68', 'Rent', 'Paid Off'),
	('2844', '77586', '39150.81', '2.55', '36', '347', '116043.09', 'Self-employed', '0.48', 'Personal', 'Unreported', '1', '39', 'Other', 'Current'),
	('2845', '59853', '4947.4', '9.48', '36', '452', '136505.69', 'Unemployed', '0.74', 'Home', '8', '0', '38', 'Own', 'Paid Off'),
	('2846', '65470', '34661.98', '16.41', '24', '813', '106958.45', 'Unemployed', '0.43', 'Business', 'Unreported', '1', '43', 'Rent', 'Paid Off'),
	('2847', '64382', '25320.265', '5.52', '72', '433', '115942.68', 'Self-employed', '0.67', 'Car', 'Unreported', '0', '45', 'Own', 'Late'),
	('2848', '94256', '7242.3', '13.245', '36', '517', '85420.16', 'Self-employed', '0.49', 'Car', '1', '0', '40', 'Rent', 'Paid Off'),
	('2849', '24231', '16086.46', '3.55', '24', '730', '107227.87', 'Others', '0.49', 'Personal', 'Unreported', '1', '24', 'Mortgage', 'Paid Off'),
	('2850', '79309', '1947.48', '5.62', '24', '507', '58538.59', 'Self-employed', '0.93', 'Education', '7', '1', '30', 'Other', 'Paid Off'),
	('2851', '87092', '31871.1', '13.245', '24', '465', '122121.1', 'Employed', '0.73', 'Business', 'Unreported', '1', '43', 'Rent', 'Late'),
	('2852', '64831', '17312.54', '13.245', '24', '622', '86623.14', 'Unemployed', '0.33', 'Home', '5', '0', '43', 'Mortgage', 'Current'),
	('2853', '70251', '49691.85', '8.14', '60', '486', '85420.16', 'Self-employed', '0.94', 'Car', '6', '0', '19', 'Own', 'Paid Off'),
	('2854', '60176', '5794.13', '7.94', '48', '622', '56001.87', 'Employed', '0.45', 'Education', '6', '0', '21', 'Mortgage', 'Paid Off'),
	('2855', '10163', '44849.33', '11.56', '72', '371', '137536.27', 'Self-employed', '0.65', 'Home', '5', '1', '22', 'Rent', 'Paid Off'),
	('2856', '80846', '25399.93', '13.01', '12', '730', '55096.96', 'Employed', '0.25', 'Home', '9', '1', '43', 'Mortgage', 'Late'),
	('2857', '15999', '6767.34', '23.1', '48', '661', '46072.92', 'Employed', '0.75', 'Education', '3', '1', '27', 'Rent', 'Late'),
	('2858', '45764', '42949.75', '17.58', '72', '730', '53347.76', 'Employed', '0.41', 'Business', '8', '0', '61', 'Rent', 'Current'),
	('2859', '26362', '6441.23', '9.36', '60', '582', '135259.54', 'Unemployed', '0.35', 'Business', '1', '1', '38', 'Own', 'Paid Off'),
	('2860', '52646', '32647.1', '19.61', '72', '506', '69520.25', 'Self-employed', '0.72', 'Home', '1', '0', '37', 'Own', 'Current'),
	('2861', '46481', '13015.66', '12.18', '12', '646', '24428.86', 'Self-employed', '0.82', 'Home', 'Unreported', '0', '20', 'Mortgage', 'Late'),
	('2862', '10259', '23006.76', '15.56', '24', '552', '47295.19', 'Self-employed', '0.31', 'Education', '8', '0', '54', 'Other', 'Current'),
	('2863', '15236', '25320.265', '17.09', '72', '784', '110982.78', 'Others', '0.66', 'Education', '1', '1', '42', 'Own', 'Late'),
	('2864', '67508', '46064.1', '9.48', '24', '566', '26676.98', 'Self-employed', '0.06', 'Personal', '3', '1', '56', 'Own', 'Current'),
	('2865', '65722', '14941.17', '13.51', '60', '313', '33476.94', 'Unemployed', '0.81', 'Education', '2', '0', '60', 'Mortgage', 'NA'),
	('2866', '54760', '19997.05', '4.32', '36', '730', '55688.01', 'Employed', '0.48', 'Education', '7', '1', '62', 'Own', 'Paid Off'),
	('2867', '54760', '10780.19', '21.48', '36', '430', '100126.56', 'Self-employed', '0.07', 'Other', '1', '1', '24', 'Own', 'Paid Off'),
	('2868', '94101', '17837.46', '23.91', '12', '768', '20060.62', 'Unemployed', '0.55', 'Business', '1', '1', '58', 'Rent', 'Paid Off'),
	('2869', '55797', '7164.78', '22.74', '36', '315', '128181.06', 'Self-employed', '0.6', 'Business', '8', '0', '43', 'Rent', 'Current'),
	('2870', '62483', '27856.09', '3.03', '72', '832', '35760.79', 'Employed', '0.7', 'Home', 'Unreported', '1', '43', 'Rent', 'Late'),
	('2871', '38499', '28402.35', '21.62', '36', '448', '49534.98', 'Self-employed', '0.09', 'Car', '0', '0', '66', 'Mortgage', 'Paid Off'),
	('2872', '72615', '31545.28', '21.37', '36', '819', '134533.16', 'Self-employed', '0.8', 'Personal', '4', '1', '61', 'Own', 'Current'),
	('2873', '54760', '12287.27', '5.01', '24', '730', '146075.66', 'Self-employed', '0.39', 'Business', 'Unreported', '0', '21', 'Own', 'Current'),
	('2874', '27054', '22185.43', '18.58', '72', '730', '85420.16', 'Employed', '0.96', 'Business', '1', '1', '46', 'Own', 'Paid Off'),
	('2875', '93161', '25320.265', '3.24', '72', '730', '95022.59', 'Unemployed', '0.16', 'Business', '3', '1', '56', 'Mortgage', 'Late'),
	('2876', '24215', '2972.58', '20.67', '36', '603', '120308.74', 'Self-employed', '0.48', 'Education', '5', '1', '63', 'Own', 'Paid Off'),
	('2877', '59066', '16163.68', '20.45', '12', '598', '115602.57', 'Unemployed', '0.28', 'Business', '6', '1', '58', 'Rent', 'NA'),
	('2878', '92572', '25320.265', '24.26', '60', '783', '59280', 'Employed', '0.35', 'Business', '0', '0', '27', 'Rent', 'Current'),
	('2879', '50452', '25320.265', '11.98', '24', '730', '22890.58', 'Self-employed', '0.01', 'Car', '5', '1', '51', 'Rent', 'Late'),
	('2880', '88064', '25320.265', '13.43', '72', '382', '22085.99', 'Self-employed', '0.35', 'Education', '2', '0', '19', 'Mortgage', 'NA'),
	('2881', '88747', '20687.27', '11.92', '24', '309', '35062.88', 'Employed', '0.99', 'Business', '0', '1', '23', 'Own', 'Current'),
	('2882', '47068', '38024.71', '13.74', '36', '693', '91721.36', 'Employed', '0.74', 'Car', '9', '0', '24', 'Other', 'Late'),
	('2883', '25983', '36652.6', '20.75', '36', '537', '144078.69', 'Self-employed', '0.48', 'Education', '3', '1', '54', 'Own', 'Current'),
	('2884', '96730', '31991.23', '21.97', '36', '355', '143874.78', 'Others', '0.85', 'Business', '2', '0', '51', 'Own', 'Late'),
	('2885', '75276', '7939.86', '2.35', '48', '730', '83271.98', 'Self-employed', '0.31', 'Business', '5', '1', '48', 'Rent', 'Current'),
	('2886', '54760', '25320.265', '17.37', '36', '379', '84225.93', 'Unemployed', '0.48', 'Education', '7', '0', '55', 'Mortgage', 'NA'),
	('2887', '54760', '25320.265', '16.36', '48', '529', '24627', 'Self-employed', '0.53', 'Home', '3', '1', '26', 'Rent', 'Late'),
	('2888', '47102', '40882.66', '16.07', '36', '648', '23547.26', 'Employed', '0.9', 'Car', '4', '0', '43', 'Own', 'Paid Off'),
	('2889', '71066', '20762.38', '19.24', '12', '546', '36666.01', 'Self-employed', '0.48', 'Personal', '3', '0', '64', 'Rent', 'NA'),
	('2890', '45571', '48386.25', '18.86', '36', '651', '33251.9', 'Employed', '0.57', 'Personal', '1', '0', '43', 'Own', 'Paid Off'),
	('2891', '34619', '33604.63', '4.47', '48', '400', '85420.16', 'Unemployed', '0.03', 'Home', '0', '1', '43', 'Own', 'Paid Off'),
	('2892', '69142', '16339.73', '13.245', '36', '411', '76720.45', 'Employed', '0.4', 'Car', '4', '1', '49', 'Own', 'Paid Off'),
	('2893', '43479', '28510.27', '21.07', '36', '730', '21972.55', 'Unemployed', '0.87', 'Other', 'Unreported', '1', '48', 'Rent', 'Late'),
	('2894', '57616', '25320.265', '2.28', '60', '542', '96691.88', 'Unemployed', '0.48', 'Business', '5', '0', '43', 'Own', 'Late'),
	('2895', '35139', '45687.08', '9.35', '36', '660', '120980.41', 'Self-employed', '0.2', 'Education', '5', '0', '19', 'Own', 'NA'),
	('2896', '92594', '3369.01', '6.6', '36', '615', '95408.78', 'Others', '0.19', 'Home', '8', '0', '25', 'Rent', 'NA'),
	('2897', '54760', '12216.86', '2.43', '72', '710', '20073.97', 'Employed', '0.34', 'Other', '1', '0', '68', 'Rent', 'Current'),
	('2898', '54760', '5731.76', '21.98', '72', '713', '85420.16', 'Employed', '0.18', 'Home', '7', '0', '36', 'Mortgage', 'Late'),
	('2899', '73175', '40475.36', '14.37', '48', '557', '145925.96', 'Self-employed', '0.96', 'Car', '8', '1', '57', 'Own', 'Current'),
	('2900', '55856', '10362.89', '18.95', '36', '730', '135944.06', 'Unemployed', '0.82', 'Other', '0', '1', '27', 'Rent', 'NA'),
	('2901', '26386', '37399.52', '7', '12', '787', '137579.56', 'Employed', '0.17', 'Car', '7', '1', '61', 'Own', 'Paid Off'),
	('2902', '34230', '28518.23', '4.87', '72', '521', '145135.22', 'Self-employed', '0.48', 'Education', '4', '1', '29', 'Own', 'Late'),
	('2903', '78876', '25320.265', '5.59', '36', '730', '85420.16', 'Unemployed', '0.8', 'Personal', '3', '0', '56', 'Other', 'Paid Off'),
	('2904', '77136', '49752.49', '21.46', '24', '760', '67120.43', 'Unemployed', '0.36', 'Education', '3', '0', '23', 'Rent', 'Late'),
	('2905', '93715', '85576', '7.94', '24', '589', '1481342.4', 'Unemployed', '0.48', 'Business', '1', '1', '28', 'Rent', 'Paid Off'),
	('2906', '91293', '8370.45', '16.21', '60', '534', '87407.27', 'Unemployed', '0.84', 'Education', '6', '1', '43', 'Own', 'Current'),
	('2907', '54760', '32174.56', '10.15', '36', '618', '87826.88', 'Employed', '0.29', 'Home', '5', '0', '59', 'Own', 'Current'),
	('2908', '14227', '2778.91', '12.13', '36', '363', '45783.91', 'Employed', '0.48', 'Personal', '8', '1', '60', 'Rent', 'Late'),
	('2909', '52214', '41053.48', '21.67', '36', '730', '89694.85', 'Unemployed', '0.68', 'Home', '9', '0', '67', 'Mortgage', 'Current'),
	('2910', '69846', '25320.265', '18.89', '36', '465', '56696.72', 'Self-employed', '0.72', 'Other', '7', '0', '18', 'Mortgage', 'Current'),
	('2911', '65700', '25320.265', '9.72', '48', '730', '55291.51', 'Employed', '0.48', 'Personal', '5', '0', '44', 'Mortgage', 'Paid Off'),
	('2912', '47690', '29030.24', '22.64', '48', '730', '131839.72', 'Employed', '0.54', 'Car', '4', '0', '69', 'Rent', 'Late'),
	('2913', '79300', '25320.265', '9.26', '24', '636', '144269.63', 'Employed', '0.73', 'Education', 'Unreported', '0', '46', 'Mortgage', 'Paid Off'),
	('2914', '79178', '15711.53', '13.245', '60', '592', '108096.59', 'Self-employed', '0.4', 'Other', '2', '1', '19', 'Own', 'Late'),
	('2915', '96126', '11043.49', '20.17', '36', '393', '70530.98', 'Unemployed', '0.04', 'Education', 'Unreported', '0', '61', 'Own', 'Paid Off'),
	('2916', '32098', '36222.25', '13.245', '24', '385', '59593.95', 'Unemployed', '0.17', 'Home', '8', '0', '30', 'Own', 'Late'),
	('2917', '20553', '38662.02', '14.06', '36', '761', '131215.28', 'Self-employed', '0.48', 'Car', '5', '1', '59', 'Own', 'Paid Off'),
	('2918', '58811', '30797.03', '12.57', '12', '621', '109819.33', 'Employed', '0.09', 'Other', '6', '1', '43', 'Mortgage', 'Current'),
	('2919', '83194', '12565.66', '16.36', '24', '460', '85420.16', 'Others', '0.85', 'Business', '3', '1', '57', 'Rent', 'Late'),
	('2920', '96085', '35043.19', '18.79', '36', '566', '85420.16', 'Unemployed', '0.69', 'Education', '7', '0', '63', 'Own', 'NA'),
	('2921', '54760', '8735.09', '22.98', '36', '730', '94912.85', 'Self-employed', '0.78', 'Car', '5', '1', '54', 'Own', 'Paid Off'),
	('2922', '56159', '44035.84', '15.43', '24', '747', '87493.23', 'Employed', '0.93', 'Home', 'Unreported', '1', '26', 'Mortgage', 'Paid Off'),
	('2923', '50025', '25320.265', '22.75', '12', '730', '46006.17', 'Unemployed', '0.76', 'Personal', '6', '0', '22', 'Own', 'Current'),
	('2924', '26877', '25320.265', '24.84', '24', '634', '85420.16', 'Employed', '0.29', 'Business', '2', '1', '32', 'Mortgage', 'Current'),
	('2925', '21253', '11003.26', '14.55', '60', '511', '93170.83', 'Self-employed', '0.64', 'Home', '9', '1', '58', 'Mortgage', 'Current'),
	('2926', '15400', '31160.04', '7.8', '36', '686', '85420.16', 'Self-employed', '0.99', 'Business', '1', '0', '66', 'Rent', 'Late'),
	('2927', '47220', '49267.4', '16.78', '36', '847', '61304.41', 'Self-employed', '0.04', 'Car', '2', '0', '37', 'Rent', 'Paid Off'),
	('2928', '86476', '29865.92', '18.77', '48', '730', '28106.43', 'Self-employed', '0.63', 'Business', '4', '1', '61', 'Mortgage', 'Late'),
	('2929', '10889', '32964.91', '16.91', '36', '714', '79986.49', 'Self-employed', '0.73', 'Personal', '5', '0', '61', 'Mortgage', 'NA'),
	('2930', '70224', '15135.97', '13.245', '24', '730', '123023.49', 'Others', '0.68', 'Education', '2', '1', '26', 'Other', 'Paid Off'),
	('2931', '40141', '16966.72', '6.34', '72', '825', '65633.2', 'Unemployed', '0.4', 'Other', '4', '0', '43', 'Own', 'NA'),
	('2932', '19740', '106214.2', '7.49', '12', '833', '454385.7', 'Employed', '0.51', 'Business', '8', '0', '67', 'Mortgage', 'Paid Off'),
	('2933', '22998', '26215.48', '7.64', '36', '714', '136359.25', 'Unemployed', '0.15', 'Personal', 'Unreported', '1', '28', 'Rent', 'Late'),
	('2934', '94529', '8250.75', '23.6', '24', '824', '24634.77', 'Self-employed', '0.92', 'Business', '1', '0', '43', 'Rent', 'Paid Off'),
	('2935', '64176', '31305.58', '17.36', '72', '735', '48541.29', 'Self-employed', '0.74', 'Education', '0', '0', '56', 'Own', 'NA'),
	('2936', '13187', '23800.2', '7.34', '24', '518', '21973.55', 'Unemployed', '0.05', 'Other', '7', '1', '53', 'Rent', 'Paid Off'),
	('2937', '77249', '31591.28', '5.81', '24', '379', '109169.02', 'Self-employed', '0.91', 'Personal', 'Unreported', '1', '21', 'Other', 'NA'),
	('2938', '54760', '4465.32', '3.11', '48', '329', '85420.16', 'Self-employed', '0.14', 'Personal', '5', '1', '69', 'Other', 'Paid Off'),
	('2939', '10075', '25320.265', '8.51', '12', '371', '148133.12', 'Employed', '0.01', 'Car', '2', '0', '47', 'Own', 'Paid Off'),
	('2940', '29473', '25320.265', '9.74', '12', '539', '91358.59', 'Employed', '0.59', 'Education', '5', '0', '67', 'Own', 'Paid Off'),
	('2941', '38119', '11139.64', '8.46', '72', '694', '127886.98', 'Unemployed', '0.87', 'Home', '6', '0', '43', 'Own', 'Current'),
	('2942', '81983', '25538.4', '18.56', '24', '547', '127638.81', 'Unemployed', '0.07', 'Car', '0', '0', '20', 'Other', 'Paid Off'),
	('2943', '10330', '46561.22', '15.04', '12', '452', '46925.76', 'Others', '0.05', 'Home', '1', '1', '67', 'Rent', 'Paid Off'),
	('2944', '54760', '35020.02', '4.38', '72', '381', '87389.81', 'Self-employed', '0.02', 'Business', '0', '0', '69', 'Rent', 'Paid Off'),
	('2945', '29701', '17664.25', '16.94', '48', '730', '56987.67', 'Unemployed', '0.48', 'Personal', '4', '0', '63', 'Rent', 'Current'),
	('2946', '27254', '25320.265', '9.14', '36', '623', '120558.57', 'Self-employed', '0.16', 'Personal', '4', '1', '61', 'Mortgage', 'Paid Off'),
	('2947', '54760', '33403.04', '19.05', '48', '568', '120254.95', 'Employed', '0.63', 'Education', '1', '1', '41', 'Rent', 'Current'),
	('2948', '93492', '25320.265', '13.25', '48', '736', '56215.1', 'Unemployed', '0.29', 'Car', '5', '1', '27', 'Mortgage', 'Paid Off'),
	('2949', '48365', '18905.1', '5.24', '36', '470', '132893.29', 'Unemployed', '0.38', 'Business', '3', '1', '64', 'Rent', 'Late'),
	('2950', '54760', '24455.21', '6.21', '72', '707', '70602.83', 'Unemployed', '0.19', 'Car', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('2951', '27344', '38265.36', '14.68', '36', '414', '85420.16', 'Unemployed', '0.87', 'Business', '8', '0', '24', 'Mortgage', 'Current'),
	('2952', '24144', '16950.35', '8.54', '12', '351', '139788.92', 'Self-employed', '0.48', 'Other', '2', '0', '44', 'Own', 'Current'),
	('2953', '45779', '39815.44', '10.79', '72', '392', '52764.89', 'Others', '0.13', 'Car', '2', '1', '30', 'Rent', 'Late'),
	('2954', '37398', '25320.265', '20.07', '24', '730', '128961.68', 'Employed', '0.34', 'Education', '9', '1', '63', 'Rent', 'Current'),
	('2955', '13068', '1953.7', '14.79', '36', '497', '115854.83', 'Self-employed', '0.8', 'Education', '5', '1', '52', 'Mortgage', 'Late'),
	('2956', '78999', '25320.265', '22.18', '12', '763', '85420.16', 'Self-employed', '0.44', 'Personal', '6', '0', '54', 'Other', 'Late'),
	('2957', '17629', '33016.32', '17.82', '72', '698', '110675.44', 'Self-employed', '0.29', 'Education', '5', '0', '52', 'Rent', 'Late'),
	('2958', '42850', '25306.06', '5.54', '24', '355', '131604.71', 'Unemployed', '0.45', 'Education', 'Unreported', '1', '54', 'Mortgage', 'Paid Off'),
	('2959', '36129', '2354.18', '4.29', '24', '385', '43608.91', 'Self-employed', '0.86', 'Car', 'Unreported', '1', '61', 'Own', 'Paid Off'),
	('2960', '13843', '18622.8', '16.8', '60', '760', '148181.3', 'Employed', '0.93', 'Other', '9', '0', '56', 'Own', 'Paid Off'),
	('2961', '54158', '31662.91', '14.32', '36', '660', '100022.34', 'Employed', '0.48', 'Home', '2', '1', '68', 'Rent', 'Current'),
	('2962', '89403', '49592.63', '18.89', '60', '730', '92216.05', 'Employed', '0.95', 'Personal', '8', '1', '67', 'Mortgage', 'Current'),
	('2963', '93715', '11136.85', '14.75', '36', '735', '142527.47', 'Unemployed', '0.97', 'Other', '4', '1', '25', 'Own', 'Paid Off'),
	('2964', '63548', '25320.265', '24.72', '36', '501', '142555.63', 'Self-employed', '0.28', 'Other', '0', '1', '34', 'Rent', 'Current'),
	('2965', '94043', '18854.05', '24.58', '72', '783', '145345.8', 'Employed', '0.71', 'Personal', '8', '1', '39', 'Mortgage', 'Paid Off'),
	('2966', '65601', '27994.72', '8.26', '24', '757', '85420.16', 'Unemployed', '0.48', 'Car', '4', '0', '65', 'Rent', 'Paid Off'),
	('2967', '84802', '33560.47', '20.21', '12', '393', '92048.03', 'Self-employed', '0.44', 'Personal', '3', '1', '62', 'Rent', 'Current'),
	('2968', '25498', '18679.92', '19.62', '72', '502', '149207.1', 'Self-employed', '0.5', 'Home', '3', '0', '34', 'Rent', 'Late'),
	('2969', '68539', '12193.64', '21.33', '36', '730', '29255.28', 'Employed', '0.9', 'Education', 'Unreported', '1', '38', 'Mortgage', 'Late'),
	('2970', '31199', '25320.265', '11.67', '24', '329', '85420.16', 'Self-employed', '0.48', 'Car', '9', '1', '38', 'Rent', 'Late'),
	('2971', '45942', '9988.9', '23.34', '24', '596', '119021.72', 'Unemployed', '0.53', 'Personal', '6', '0', '43', 'Mortgage', 'Current'),
	('2972', '80206', '5903.11', '13.245', '72', '485', '124736.24', 'Others', '0.84', 'Other', '5', '1', '41', 'Rent', 'Paid Off'),
	('2973', '50419', '12863.38', '18.41', '48', '730', '85420.16', 'Self-employed', '0.38', 'Other', '7', '0', '54', 'Own', 'Late'),
	('2974', '65634', '16806.15', '15.85', '24', '365', '28788.39', 'Unemployed', '0.13', 'Car', 'Unreported', '1', '52', 'Rent', 'Current'),
	('2975', '71181', '4858.18', '10.37', '72', '792', '85420.16', 'Employed', '0.38', 'Personal', '7', '0', '23', 'Rent', 'Late'),
	('2976', '54760', '20886.45', '7.24', '24', '430', '38291.45', 'Unemployed', '0.3', 'Home', '4', '0', '58', 'Rent', 'Current'),
	('2977', '94387', '9213.68', '17.76', '36', '730', '86532.83', 'Unemployed', '0.94', 'Education', '3', '1', '50', 'Own', 'NA'),
	('2978', '88165', '25320.265', '22.75', '24', '734', '121061.75', 'Employed', '0.39', 'Other', '6', '1', '21', 'Rent', 'Late'),
	('2979', '43692', '25320.265', '11.17', '48', '730', '93932.14', 'Employed', '0.65', 'Other', 'Unreported', '0', '68', 'Own', 'Current'),
	('2980', '31435', '32342.95', '4.22', '48', '698', '88736.33', 'Self-employed', '0.21', 'Education', '8', '1', '31', 'Mortgage', 'Paid Off'),
	('2981', '16369', '39031.56', '8.45', '36', '730', '102482.5', 'Others', '0.29', 'Home', '0', '1', '48', 'Rent', 'Paid Off'),
	('2982', '31593', '5150.45', '11.22', '12', '431', '30358.3', 'Others', '0.4', 'Education', '8', '1', '28', 'Rent', 'Late'),
	('2983', '75994', '19741.46', '11.36', '36', '769', '66215.44', 'Self-employed', '0.3', 'Personal', '2', '1', '25', 'Own', 'Late'),
	('2984', '54760', '48910.98', '16.67', '72', '371', '129746.64', 'Employed', '0.89', 'Personal', '6', '0', '51', 'Rent', 'NA'),
	('2985', '83109', '1113.17', '4.65', '72', '352', '120705.89', 'Others', '0.11', 'Other', '1', '0', '48', 'Mortgage', 'Current'),
	('2986', '94600', '25320.265', '4.59', '12', '701', '134880.28', 'Self-employed', '0.92', 'Personal', '1', '1', '48', 'Rent', 'NA'),
	('2987', '60601', '23976.57', '13.245', '72', '839', '118280.83', 'Self-employed', '0.76', 'Other', '7', '1', '23', 'Own', 'Current'),
	('2988', '38339', '41362.36', '5.81', '48', '491', '85420.16', 'Unemployed', '0.25', 'Other', 'Unreported', '1', '51', 'Rent', 'Current'),
	('2989', '54760', '25320.265', '6.04', '72', '545', '62167.63', 'Employed', '0.22', 'Home', '7', '1', '50', 'Mortgage', 'Paid Off'),
	('2990', '28055', '39025.5', '2.12', '24', '700', '89385.75', 'Employed', '0.51', 'Personal', '1', '1', '33', 'Other', 'Current'),
	('2991', '86584', '1107.81', '8.31', '36', '791', '71578.67', 'Unemployed', '0.8', 'Education', '3', '1', '67', 'Own', 'Current'),
	('2992', '18504', '25320.265', '15.01', '48', '585', '144464.46', 'Self-employed', '0.48', 'Car', '6', '0', '52', 'Mortgage', 'Current'),
	('2993', '57141', '16646.7', '13.245', '48', '730', '145490.69', 'Employed', '0.77', 'Car', '2', '1', '41', 'Own', 'Late'),
	('2994', '48318', '40599.62', '11.45', '72', '369', '105789.29', 'Unemployed', '0.96', 'Personal', '9', '1', '47', 'Own', 'Late'),
	('2995', '31715', '20744.42', '21.46', '24', '819', '101072.66', 'Unemployed', '0.76', 'Business', '4', '1', '28', 'Rent', 'Current'),
	('2996', '85226', '25320.265', '6.82', '24', '465', '138539.03', 'Self-employed', '0.43', 'Education', '6', '0', '19', 'Other', 'Paid Off'),
	('2997', '78998', '25320.265', '23.61', '72', '518', '92411.68', 'Unemployed', '0.48', 'Business', '2', '1', '43', 'Rent', 'Late'),
	('2998', '60568', '1647.93', '2.39', '72', '730', '83162.33', 'Employed', '0.14', 'Education', '6', '1', '53', 'Other', 'Paid Off'),
	('2999', '49932', '17386.41', '2.62', '12', '823', '133273.96', 'Unemployed', '0.03', 'Home', '5', '0', '51', 'Own', 'Late'),
	('3000', '66021', '25418.17', '10.33', '24', '832', '131183.61', 'Unemployed', '0.48', 'Other', '6', '0', '49', 'Rent', 'Current'),
	('3001', '54760', '37345.38', '22.13', '36', '730', '69869.92', 'Unemployed', '0.16', 'Business', '9', '1', '31', 'Mortgage', 'Late'),
	('3002', '30719', '16340.13', '15.04', '24', '739', '146453.88', 'Employed', '0.05', 'Home', '7', '1', '20', 'Mortgage', 'Paid Off'),
	('3003', '64211', '6100.78', '2.81', '60', '702', '59978.03', 'Self-employed', '0.49', 'Car', '2', '1', '55', 'Rent', 'Paid Off'),
	('3004', '27128', '41437.57', '13.245', '12', '629', '103120.87', 'Self-employed', '0.53', 'Car', '1', '1', '18', 'Mortgage', 'Late'),
	('3005', '26809', '1481.31', '5.73', '72', '782', '130675.2', 'Others', '1', 'Personal', 'Unreported', '1', '61', 'Mortgage', 'Current'),
	('3006', '13135', '43783.43', '10.65', '72', '623', '96175.32', 'Unemployed', '0.48', 'Home', '2', '1', '41', 'Rent', 'Current'),
	('3007', '47945', '6218.38', '3.96', '36', '655', '97176.18', 'Unemployed', '0.48', 'Car', '0', '0', '29', 'Own', 'Paid Off'),
	('3008', '54760', '7159.35', '13.245', '12', '730', '32798.68', 'Employed', '0.48', 'Car', '7', '0', '37', 'Rent', 'Paid Off'),
	('3009', '49463', '9145.21', '2.14', '36', '831', '61462.13', 'Unemployed', '0.27', 'Home', '8', '0', '57', 'Rent', 'Paid Off'),
	('3010', '47569', '8268.81', '22.2', '72', '350', '74261.65', 'Unemployed', '0.29', 'Car', '3', '0', '43', 'Own', 'Late'),
	('3011', '52419', '39944.17', '5.87', '36', '730', '68291.44', 'Employed', '0.4', 'Personal', '9', '0', '60', 'Mortgage', 'Late'),
	('3012', '97749', '40738.09', '6.65', '60', '575', '59859.1', 'Unemployed', '0.89', 'Other', '2', '1', '29', 'Rent', 'Paid Off'),
	('3013', '84682', '9303.93', '7.08', '24', '737', '22755.37', 'Self-employed', '0.48', 'Business', 'Unreported', '1', '25', 'Other', 'Current'),
	('3014', '60088', '6513.36', '5.27', '12', '801', '62033.73', 'Employed', '0.78', 'Home', '7', '0', '40', 'Own', 'Late'),
	('3015', '73561', '25320.265', '5.29', '36', '822', '85420.16', 'Employed', '0.16', 'Other', '6', '0', '37', 'Own', 'Paid Off'),
	('3016', '94661', '35285.64', '22.05', '72', '783', '113450.62', 'Self-employed', '0.85', 'Other', '3', '1', '31', 'Rent', 'Current'),
	('3017', '45335', '28392.95', '11.59', '24', '573', '33753.16', 'Self-employed', '0.32', 'Home', '5', '0', '43', 'Rent', 'Paid Off'),
	('3018', '54760', '2356.8', '10.34', '48', '745', '33628.95', 'Self-employed', '0.35', 'Business', '7', '0', '25', 'Mortgage', 'Paid Off'),
	('3019', '70335', '38538.32', '7.65', '12', '695', '86059.44', 'Self-employed', '0.51', 'Home', '9', '0', '40', 'Own', 'Paid Off'),
	('3020', '54760', '35995.32', '22.81', '36', '534', '97508.06', 'Self-employed', '0.93', 'Education', '5', '0', '51', 'Other', 'Current'),
	('3021', '84524', '36145.72', '13.245', '72', '763', '27877.09', 'Self-employed', '0.51', 'Education', '5', '0', '18', 'Mortgage', 'Current'),
	('3022', '99334', '11153.45', '9.94', '48', '620', '126128.49', 'Self-employed', '0.04', 'Other', '4', '1', '31', 'Own', 'Paid Off'),
	('3023', '33418', '4443.85', '6.55', '36', '475', '36692.21', 'Others', '0.48', 'Education', '3', '0', '30', 'Rent', 'Current'),
	('3024', '80411', '49866.94', '23', '60', '512', '134209.75', 'Self-employed', '0.05', 'Home', '6', '0', '50', 'Own', 'Late'),
	('3025', '47379', '25320.265', '6.71', '60', '793', '129073.77', 'Employed', '0.06', 'Other', '6', '1', '43', 'Own', 'NA'),
	('3026', '28706', '36585.89', '3.5', '72', '763', '110520.46', 'Unemployed', '0.7', 'Education', 'Unreported', '0', '67', 'Own', 'NA'),
	('3027', '48819', '5724.45', '16.5', '36', '837', '109122.7', 'Self-employed', '0.82', 'Car', '4', '1', '20', 'Other', 'Late'),
	('3028', '24697', '25741.68', '8.37', '12', '730', '91859.61', 'Employed', '0.91', 'Other', '7', '1', '45', 'Own', 'Late'),
	('3029', '25505', '25700.74', '6.09', '36', '764', '85420.16', 'Self-employed', '0.95', 'Other', 'Unreported', '1', '41', 'Own', 'Current'),
	('3030', '35711', '7020.04', '15.92', '72', '766', '108243.33', 'Others', '0.06', 'Education', '4', '1', '29', 'Mortgage', 'Paid Off'),
	('3031', '65451', '18228.77', '12.5', '72', '730', '133519.17', 'Unemployed', '0.06', 'Personal', '2', '0', '49', 'Mortgage', 'Paid Off'),
	('3032', '54760', '25320.265', '5.61', '60', '730', '47350.87', 'Others', '0.56', 'Personal', '1', '0', '56', 'Mortgage', 'Late'),
	('3033', '65919', '34820.53', '15.21', '48', '730', '113848.39', 'Self-employed', '0.74', 'Home', '1', '0', '38', 'Rent', 'Current'),
	('3034', '23001', '36851.87', '17.35', '12', '410', '45578.87', 'Self-employed', '0.9', 'Personal', '3', '0', '48', 'Own', 'Late'),
	('3035', '54760', '44036.15', '17.96', '60', '592', '136454.28', 'Employed', '0.49', 'Education', '6', '1', '67', 'Rent', 'Late'),
	('3036', '34135', '16203.99', '7.8', '60', '634', '96337.82', 'Unemployed', '0.81', 'Education', 'Unreported', '1', '31', 'Own', 'Late'),
	('3037', '38517', '39707.29', '13.245', '24', '803', '35048.14', 'Self-employed', '0.21', 'Education', '5', '1', '35', 'Rent', 'Paid Off'),
	('3038', '38075', '5730.4', '9.76', '36', '597', '85420.16', 'Employed', '0.72', 'Home', '5', '1', '28', 'Rent', 'Paid Off'),
	('3039', '92860', '25320.265', '13.245', '36', '822', '80593.35', 'Unemployed', '0.85', 'Education', '0', '1', '65', 'Own', 'Paid Off'),
	('3040', '87486', '27173.26', '13.07', '60', '820', '103852.9', 'Others', '0.66', 'Education', '6', '0', '18', 'Mortgage', 'Current'),
	('3041', '12722', '22128.42', '15.12', '48', '432', '145917.18', 'Employed', '0.42', 'Education', '9', '0', '43', 'Mortgage', 'Late'),
	('3042', '40794', '11249.29', '14.22', '60', '762', '67283.97', 'Self-employed', '0.09', 'Education', '4', '1', '69', 'Own', 'Current'),
	('3043', '14471', '21948.8', '24.95', '24', '404', '26674.81', 'Self-employed', '0.71', 'Home', '6', '1', '43', 'Own', 'Late'),
	('3044', '53845', '25320.265', '22.61', '72', '708', '98183.8', 'Employed', '0.48', 'Car', '0', '0', '41', 'Mortgage', 'Late'),
	('3045', '24812', '36804.47', '24.71', '36', '641', '85420.16', 'Self-employed', '0.47', 'Car', '0', '0', '54', 'Own', 'Paid Off'),
	('3046', '84656', '22589.56', '7.53', '72', '445', '85420.16', 'Employed', '0.48', 'Home', '4', '1', '47', 'Rent', 'Current'),
	('3047', '60599', '48411.85', '13.09', '24', '406', '70435.87', 'Unemployed', '0.32', 'Education', '5', '0', '26', 'Own', 'Current'),
	('3048', '29679', '39479.3', '12.41', '12', '435', '85420.16', 'Self-employed', '0.31', 'Education', '1', '0', '56', 'Own', 'Current'),
	('3049', '89023', '3168.77', '13.245', '72', '715', '54140.72', 'Self-employed', '0.32', 'Personal', '7', '0', '26', 'Other', 'Paid Off'),
	('3050', '54760', '37786.09', '18.62', '60', '709', '137762.72', 'Self-employed', '0.47', 'Car', '0', '1', '29', 'Rent', 'Late'),
	('3051', '38576', '25320.265', '11.62', '12', '520', '29477.99', 'Unemployed', '0.48', 'Personal', 'Unreported', '1', '50', 'Rent', 'Late'),
	('3052', '88718', '3411.81', '14.11', '36', '525', '51620.67', 'Self-employed', '0.26', 'Business', '8', '1', '57', 'Own', 'Current'),
	('3053', '18895', '46401.31', '12.71', '48', '504', '25287', 'Employed', '0.16', 'Personal', '6', '1', '54', 'Own', 'Late'),
	('3054', '50237', '23884.9', '19.61', '36', '398', '142230.02', 'Unemployed', '0.8', 'Other', '1', '1', '46', 'Mortgage', 'Late'),
	('3055', '44999', '12717.25', '13.37', '12', '832', '65848.6', 'Unemployed', '0.33', 'Personal', '5', '0', '38', 'Rent', 'Paid Off'),
	('3056', '88958', '22963.06', '17.59', '48', '351', '85420.16', 'Unemployed', '0.02', 'Education', '2', '1', '56', 'Mortgage', 'Late'),
	('3057', '99974', '41855.24', '20.93', '60', '471', '128421.71', 'Self-employed', '0.48', 'Other', '5', '0', '19', 'Mortgage', 'Paid Off'),
	('3058', '43637', '13274.79', '17.6', '24', '751', '134908.76', 'Employed', '0.83', 'Business', '9', '0', '44', 'Mortgage', 'Late'),
	('3059', '13541', '45790.55', '10.38', '48', '601', '102174.9', 'Others', '0.41', 'Business', '7', '1', '36', 'Other', 'Paid Off'),
	('3060', '99750', '4172.25', '13.245', '12', '684', '132022.11', 'Others', '0.88', 'Education', '9', '1', '28', 'Own', 'Current'),
	('3061', '81067', '5378.5', '12.72', '24', '807', '143052.39', 'Self-employed', '0.48', 'Education', '6', '0', '43', 'Rent', 'Paid Off'),
	('3062', '14973', '30366.88', '24.06', '48', '730', '76025.62', 'Employed', '0', 'Home', '7', '1', '38', 'Own', 'Current'),
	('3063', '73100', '25980.05', '13.245', '24', '670', '85420.16', 'Unemployed', '0.58', 'Business', '5', '1', '56', 'Mortgage', 'Late'),
	('3064', '63864', '25320.265', '23.01', '72', '686', '44078.76', 'Employed', '0.78', 'Personal', '5', '0', '20', 'Own', 'Late'),
	('3065', '99283', '3128.85', '22.92', '24', '469', '136214.43', 'Employed', '0.76', 'Business', '4', '1', '61', 'Own', 'Paid Off'),
	('3066', '87403', '13751.88', '19.17', '12', '626', '102451.63', 'Employed', '0.48', 'Business', '1', '1', '32', 'Own', 'Paid Off'),
	('3067', '17931', '35454.09', '6.65', '12', '610', '141412.51', 'Unemployed', '0.26', 'Car', '7', '0', '39', 'Own', 'Paid Off'),
	('3068', '54760', '25320.265', '11.78', '24', '715', '69032.48', 'Unemployed', '0.38', 'Personal', '1', '1', '36', 'Rent', 'Paid Off'),
	('3069', '87931', '15928.08', '16.84', '48', '730', '146767.76', 'Unemployed', '0.14', 'Other', '9', '0', '40', 'Rent', 'Late'),
	('3070', '46747', '41169.07', '7.91', '60', '754', '93135.36', 'Self-employed', '0.19', 'Personal', '8', '0', '55', 'Mortgage', 'Paid Off'),
	('3071', '54760', '40007.09', '5.69', '48', '419', '85420.16', 'Employed', '0.2', 'Business', '0', '0', '30', 'Mortgage', 'Paid Off'),
	('3072', '36070', '37504.56', '13.09', '36', '694', '85420.16', 'Unemployed', '0.69', 'Personal', '0', '0', '24', 'Mortgage', 'Late'),
	('3073', '54760', '31753.65', '15.8', '36', '745', '25824.81', 'Unemployed', '0.05', 'Personal', '7', '0', '43', 'Other', 'Current'),
	('3074', '34708', '47765.85', '16.89', '12', '731', '56147.18', 'Unemployed', '0.21', 'Education', '1', '0', '50', 'Other', 'Paid Off'),
	('3075', '26700', '2031.79', '16.07', '36', '326', '141434.03', 'Others', '0.27', 'Education', '4', '0', '69', 'Mortgage', 'Late'),
	('3076', '49340', '8479.51', '13.245', '60', '529', '85420.16', 'Unemployed', '0.55', 'Home', '0', '0', '18', 'Mortgage', 'Paid Off'),
	('3077', '21230', '23534.53', '10.01', '60', '730', '32262.41', 'Others', '0.49', 'Car', '7', '1', '35', 'Mortgage', 'Current'),
	('3078', '60245', '14753.8', '10.81', '60', '390', '103111.47', 'Unemployed', '0.48', 'Personal', '8', '1', '58', 'Mortgage', 'Current'),
	('3079', '84956', '25320.265', '6.7', '72', '709', '69740.95', 'Unemployed', '0.8', 'Home', '7', '1', '26', 'Rent', 'Current'),
	('3080', '44895', '49034.52', '6.76', '12', '843', '126621.35', 'Self-employed', '0.74', 'Car', '6', '1', '53', 'Rent', 'NA'),
	('3081', '37320', '3166.8', '12.55', '24', '469', '48589.05', 'Others', '0.48', 'Home', '9', '1', '54', 'Own', 'Late'),
	('3082', '56633', '25320.265', '4.95', '24', '730', '149303.76', 'Employed', '0.25', 'Education', '5', '0', '43', 'Other', 'Paid Off'),
	('3083', '83320', '46822.1', '4.53', '72', '696', '123611.23', 'Self-employed', '0.71', 'Other', '0', '0', '65', 'Other', 'Late'),
	('3084', '85267', '8844.41', '13.63', '48', '408', '28986.89', 'Employed', '0.88', 'Car', '9', '0', '46', 'Other', 'Paid Off'),
	('3085', '61568', '3105.89', '3.1', '48', '664', '48263.37', 'Self-employed', '0.45', 'Business', '1', '0', '26', 'Own', 'Current'),
	('3086', '55510', '23468.72', '13.245', '12', '332', '130518.43', 'Self-employed', '0.5', 'Other', '6', '1', '48', 'Own', 'Current'),
	('3087', '85775', '44212.64', '19.22', '36', '730', '50601.88', 'Self-employed', '0.48', 'Other', '6', '1', '67', 'Own', 'Paid Off'),
	('3088', '17987', '15997.17', '24.41', '60', '789', '147722.23', 'Employed', '0.62', 'Personal', '7', '1', '35', 'Rent', 'Current'),
	('3089', '21439', '46680.32', '13.5', '60', '730', '70786', 'Employed', '0.28', 'Personal', '2', '1', '43', 'Own', 'Current'),
	('3090', '93815', '43398.53', '7.91', '36', '607', '20911.81', 'Employed', '0.89', 'Personal', '3', '0', '39', 'Rent', 'Late'),
	('3091', '85070', '14740.48', '16.44', '72', '335', '109801.65', 'Employed', '0.06', 'Business', '0', '0', '43', 'Mortgage', 'Paid Off'),
	('3092', '17816', '22336.52', '5.33', '48', '408', '70890.94', 'Self-employed', '0.34', 'Car', '3', '1', '52', 'Mortgage', 'Late'),
	('3093', '50067', '46263.17', '23.4', '24', '679', '97896.9', 'Self-employed', '0.21', 'Education', '8', '1', '66', 'Other', 'Paid Off'),
	('3094', '16251', '7041.05', '19.37', '48', '806', '85491', 'Unemployed', '0.48', 'Other', '5', '0', '53', 'Mortgage', 'Current'),
	('3095', '40518', '25320.265', '5.47', '60', '309', '70695.99', 'Unemployed', '0.43', 'Education', '2', '0', '59', 'Own', 'Late'),
	('3096', '31814', '25320.265', '4.25', '60', '782', '127459.55', 'Unemployed', '0.05', 'Car', 'Unreported', '1', '44', 'Mortgage', 'Paid Off'),
	('3097', '30761', '12055.44', '23.3', '12', '730', '120719.85', 'Self-employed', '0.3', 'Personal', '0', '1', '59', 'Mortgage', 'Current'),
	('3098', '26455', '9790.06', '23.99', '24', '432', '145668.58', 'Unemployed', '0.27', 'Home', '9', '0', '47', 'Own', 'Paid Off'),
	('3099', '64621', '2553.89', '7.78', '48', '625', '80493.43', 'Employed', '0.48', 'Education', '3', '0', '44', 'Own', 'NA'),
	('3100', '18958', '361652.9', '5.95', '48', '452', '613064.1', 'Employed', '0.34', 'Personal', '3', '0', '43', 'Rent', 'Paid Off'),
	('3101', '63189', '8935.65', '17.86', '24', '351', '120123.55', 'Self-employed', '0.97', 'Personal', '3', '0', '63', 'Rent', 'Paid Off'),
	('3102', '19766', '23314.06', '24.86', '24', '730', '74064.52', 'Unemployed', '0.2', 'Car', '7', '1', '49', 'Mortgage', 'Current'),
	('3103', '11987', '6899.03', '7.93', '24', '840', '26609.82', 'Unemployed', '0.08', 'Personal', '8', '1', '45', 'Own', 'Late'),
	('3104', '76823', '18910.39', '10.3', '36', '697', '85420.16', 'Self-employed', '0.75', 'Personal', '5', '1', '23', 'Mortgage', 'Paid Off'),
	('3105', '59522', '20475.91', '10.28', '36', '492', '84190.06', 'Employed', '0.7', 'Personal', '1', '1', '18', 'Mortgage', 'Paid Off'),
	('3106', '42683', '45736.31', '12.7', '48', '730', '102308.34', 'Self-employed', '0.17', 'Education', '4', '1', '47', 'Mortgage', 'Paid Off'),
	('3107', '15015', '35560.52', '8.04', '36', '640', '136793.63', 'Self-employed', '0.88', 'Education', '4', '1', '43', 'Own', 'Late'),
	('3108', '13288', '45400.97', '14.85', '24', '616', '48071.04', 'Unemployed', '0.69', 'Car', 'Unreported', '0', '27', 'Other', 'Late'),
	('3109', '30466', '24965.72', '21.13', '24', '653', '23616.77', 'Self-employed', '0.98', 'Other', '5', '0', '41', 'Rent', 'Paid Off'),
	('3110', '72237', '92977.4', '11.21', '36', '457', '312509.6', 'Employed', '0.95', 'Education', '9', '0', '66', 'Rent', 'Current'),
	('3111', '97347', '21072.03', '8.44', '72', '774', '75966.65', 'Self-employed', '0.94', 'Home', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('3112', '59041', '30090.25', '23.49', '24', '627', '43951.64', 'Unemployed', '0.65', 'Home', '4', '1', '65', 'Own', 'Paid Off'),
	('3113', '17073', '27521.01', '14.64', '48', '781', '97018.84', 'Employed', '0.48', 'Other', '2', '1', '25', 'Mortgage', 'Paid Off'),
	('3114', '20958', '25320.265', '13.245', '36', '466', '119387.86', 'Unemployed', '0.16', 'Other', '4', '1', '24', 'Other', 'Late'),
	('3115', '83424', '30026.51', '9.98', '24', '317', '104300.05', 'Employed', '0.48', 'Personal', '7', '0', '43', 'Mortgage', 'NA'),
	('3116', '79871', '13574.91', '13.52', '36', '381', '66049.86', 'Self-employed', '0.37', 'Education', '9', '1', '60', 'Own', 'Late'),
	('3117', '57093', '47676.73', '4.05', '36', '839', '75224.39', 'Unemployed', '0.91', 'Home', '1', '0', '25', 'Own', 'Late'),
	('3118', '42106', '25320.265', '2.78', '36', '774', '34108.88', 'Self-employed', '0.04', 'Home', '9', '0', '18', 'Mortgage', 'Current'),
	('3119', '70147', '24345.47', '18.35', '36', '390', '132189.48', 'Employed', '0.44', 'Personal', '4', '1', '51', 'Rent', 'Paid Off'),
	('3120', '64415', '44494.88', '13.245', '72', '762', '125297.52', 'Others', '0.89', 'Education', '7', '1', '26', 'Mortgage', 'NA'),
	('3121', '10336', '25320.265', '12.82', '12', '482', '81496.35', 'Others', '0.47', 'Personal', 'Unreported', '1', '18', 'Mortgage', 'Current'),
	('3122', '55256', '25320.265', '21.88', '48', '541', '85420.16', 'Employed', '0.07', 'Car', '5', '1', '65', 'Own', 'Paid Off'),
	('3123', '96377', '34703.57', '15.53', '12', '730', '46262.22', 'Unemployed', '0.15', 'Business', '9', '1', '45', 'Own', 'Current'),
	('3124', '56781', '22451.88', '19.42', '48', '559', '145992.18', 'Unemployed', '0.3', 'Car', '4', '0', '69', 'Rent', 'Current'),
	('3125', '25158', '20443.49', '13.245', '36', '730', '30931.94', 'Self-employed', '0.48', 'Business', '8', '1', '58', 'Own', 'NA'),
	('3126', '44219', '31764.06', '20.18', '60', '642', '149098.31', 'Self-employed', '0.48', 'Education', '4', '0', '44', 'Own', 'Late'),
	('3127', '14505', '37113.4', '9.14', '48', '420', '28857.79', 'Employed', '0.48', 'Education', '4', '1', '57', 'Rent', 'Late'),
	('3128', '42896', '46935.55', '4.74', '72', '639', '142405.89', 'Employed', '0.94', 'Car', '5', '0', '51', 'Own', 'Current'),
	('3129', '81803', '25320.265', '2.91', '36', '346', '129760.17', 'Unemployed', '0.64', 'Other', '3', '0', '23', 'Mortgage', 'Current'),
	('3130', '73793', '25320.265', '10.98', '12', '632', '48268.27', 'Employed', '0.48', 'Personal', '9', '1', '18', 'Rent', 'NA'),
	('3131', '75922', '6678.42', '2.17', '36', '639', '126914.37', 'Self-employed', '0.11', 'Business', '7', '1', '38', 'Mortgage', 'Paid Off'),
	('3132', '27606', '49484.2', '18.97', '12', '653', '108326.72', 'Unemployed', '0.4', 'Home', 'Unreported', '1', '21', 'Own', 'Paid Off'),
	('3133', '62099', '10814.79', '12.39', '72', '804', '85420.16', 'Others', '0.8', 'Other', '1', '1', '53', 'Rent', 'Paid Off'),
	('3134', '84509', '4964.29', '18.84', '48', '623', '95845.36', 'Employed', '0.02', 'Business', '6', '1', '67', 'Rent', 'Late'),
	('3135', '99419', '33183.71', '13.45', '24', '518', '26011.66', 'Unemployed', '0.82', 'Education', '4', '0', '20', 'Other', 'Late'),
	('3136', '54760', '34000.88', '2.34', '12', '479', '88787.58', 'Employed', '0.41', 'Other', '1', '0', '43', 'Rent', 'NA'),
	('3137', '76192', '48717.29', '22.06', '12', '501', '57724.79', 'Unemployed', '1', 'Business', '6', '0', '50', 'Mortgage', 'Current'),
	('3138', '57565', '38780.16', '23.17', '36', '385', '78246.55', 'Others', '0.87', 'Car', 'Unreported', '0', '62', 'Own', 'Late'),
	('3139', '93134', '20240.26', '15.82', '60', '740', '59900.24', 'Employed', '0.58', 'Car', '6', '1', '24', 'Own', 'Late'),
	('3140', '33944', '30405.17', '18.08', '24', '314', '60194.99', 'Employed', '0.48', 'Home', '3', '1', '54', 'Rent', 'Current'),
	('3141', '83755', '30863.26', '3.4', '36', '635', '72347.52', 'Unemployed', '0.01', 'Personal', 'Unreported', '1', '68', 'Mortgage', 'Current'),
	('3142', '14998', '38505.52', '18', '48', '548', '52039.07', 'Unemployed', '0.31', 'Business', '3', '1', '50', 'Own', 'Current'),
	('3143', '71174', '29473.8', '3.93', '36', '730', '109412.48', 'Unemployed', '0.06', 'Personal', '5', '0', '60', 'Own', 'NA'),
	('3144', '96570', '19935.59', '9.38', '72', '799', '85420.16', 'Employed', '0.48', 'Education', '5', '0', '43', 'Rent', 'Paid Off'),
	('3145', '29076', '25320.265', '8.87', '48', '477', '30687.3', 'Employed', '0.48', 'Other', '5', '0', '43', 'Own', 'Late'),
	('3146', '33528', '12764.97', '21.35', '12', '436', '26000.39', 'Employed', '0.25', 'Education', 'Unreported', '0', '50', 'Other', 'Current'),
	('3147', '84127', '181280.1', '12.65', '36', '796', '207594.9', 'Employed', '0.13', 'Personal', '7', '0', '29', 'Rent', 'Current'),
	('3148', '58512', '4509.93', '3.44', '12', '448', '46256.31', 'Unemployed', '0.12', 'Home', '8', '1', '43', 'Other', 'Paid Off'),
	('3149', '91063', '40995.28', '7.57', '36', '730', '109564.65', 'Unemployed', '0.38', 'Business', '6', '0', '30', 'Mortgage', 'Paid Off'),
	('3150', '99637', '4478.96', '13.245', '36', '730', '27017.98', 'Unemployed', '0.47', 'Other', '2', '1', '24', 'Other', 'Current'),
	('3151', '47382', '25320.265', '23.79', '48', '730', '85420.16', 'Employed', '0.71', 'Home', '9', '0', '62', 'Rent', 'Current'),
	('3152', '22019', '46356.01', '7.55', '12', '511', '102770.57', 'Employed', '0.95', 'Education', '1', '1', '40', 'Rent', 'Current'),
	('3153', '72045', '28411.07', '19.83', '48', '544', '138705.78', 'Unemployed', '0.48', 'Other', '7', '0', '29', 'Mortgage', 'Late'),
	('3154', '62026', '11676.12', '6.02', '60', '815', '23119.92', 'Self-employed', '0.7', 'Personal', '1', '0', '65', 'Own', 'Paid Off'),
	('3155', '73343', '49651.47', '16.77', '60', '633', '108545.45', 'Self-employed', '0.2', 'Personal', '9', '0', '18', 'Other', 'Paid Off'),
	('3156', '77481', '44155.74', '7.19', '60', '730', '85420.16', 'Others', '0.54', 'Car', '9', '0', '55', 'Other', 'Paid Off'),
	('3157', '11612', '4340.83', '19.76', '60', '849', '68981.11', 'Unemployed', '0.68', 'Business', '4', '0', '49', 'Rent', 'Current'),
	('3158', '54760', '12283.97', '13.245', '12', '375', '75375.01', 'Unemployed', '0.77', 'Business', '3', '0', '63', 'Rent', 'Paid Off'),
	('3159', '91844', '32470.77', '22.53', '60', '374', '125727.97', 'Unemployed', '0.97', 'Other', '6', '1', '66', 'Mortgage', 'Late'),
	('3160', '54760', '10741.35', '4.46', '36', '482', '69291.72', 'Unemployed', '0.35', 'Business', '2', '0', '58', 'Rent', 'Current'),
	('3161', '11436', '27321.72', '6.35', '36', '389', '128218.93', 'Employed', '0.9', 'Home', '2', '0', '44', 'Own', 'Current'),
	('3162', '90839', '25320.265', '13.245', '48', '463', '98306.32', 'Unemployed', '0.09', 'Education', '4', '1', '30', 'Mortgage', 'Current'),
	('3163', '94417', '33962.57', '9.73', '36', '773', '72483.18', 'Self-employed', '0.79', 'Education', '2', '0', '32', 'Mortgage', 'Paid Off'),
	('3164', '71168', '27030.57', '3.6', '36', '474', '38975.34', 'Unemployed', '0.94', 'Home', '1', '1', '41', 'Mortgage', 'Paid Off'),
	('3165', '28823', '48502.18', '18.17', '24', '461', '144749.67', 'Self-employed', '0.05', 'Education', '6', '1', '43', 'Mortgage', 'Late'),
	('3166', '22058', '7556.85', '5.12', '36', '501', '52953.59', 'Unemployed', '0.85', 'Personal', 'Unreported', '0', '40', 'Own', 'Late'),
	('3167', '75192', '27005.34', '4.74', '24', '646', '48670.75', 'Self-employed', '0.48', 'Business', 'Unreported', '1', '52', 'Mortgage', 'NA'),
	('3168', '30974', '16274.47', '13.57', '36', '730', '30687.32', 'Unemployed', '0.57', 'Business', '9', '0', '43', 'Mortgage', 'Paid Off'),
	('3169', '93094', '31021.75', '11.48', '24', '661', '101496.38', 'Unemployed', '0.86', 'Home', '1', '1', '50', 'Mortgage', 'Paid Off'),
	('3170', '54760', '10959.52', '6', '24', '703', '69630.31', 'Employed', '0.69', 'Education', '2', '0', '60', 'Own', 'Current'),
	('3171', '63812', '46344.23', '17.42', '48', '404', '36449.87', 'Self-employed', '0.48', 'Education', '2', '1', '30', 'Rent', 'Late'),
	('3172', '45876', '22458.17', '11.56', '12', '670', '106622.11', 'Employed', '0.24', 'Car', '1', '0', '35', 'Mortgage', 'NA'),
	('3173', '34262', '22156.8', '17.76', '72', '532', '111488.57', 'Employed', '1', 'Car', '4', '0', '43', 'Own', 'Paid Off'),
	('3174', '87034', '39529.93', '10.8', '24', '755', '36268.84', 'Unemployed', '0.42', 'Home', '5', '1', '43', 'Mortgage', 'Current'),
	('3175', '45220', '45468.4', '13.245', '36', '542', '127050.21', 'Unemployed', '0.35', 'Car', '6', '0', '33', 'Mortgage', 'Current'),
	('3176', '98452', '25204.71', '15.2', '48', '483', '124590.95', 'Unemployed', '0.2', 'Home', '9', '1', '31', 'Mortgage', 'Late'),
	('3177', '54760', '38793.17', '20.67', '72', '469', '143391.12', 'Unemployed', '0.08', 'Business', '7', '0', '43', 'Mortgage', 'Current'),
	('3178', '91007', '8053.11', '16.4', '12', '354', '34881.43', 'Self-employed', '0.48', 'Other', '5', '1', '45', 'Rent', 'Paid Off'),
	('3179', '59403', '13368.05', '10.32', '12', '717', '129936.03', 'Employed', '0.48', 'Other', '5', '1', '43', 'Mortgage', 'Paid Off'),
	('3180', '63991', '34956.53', '10.92', '48', '761', '29683.11', 'Unemployed', '0.81', 'Home', '9', '0', '55', 'Own', 'NA'),
	('3181', '21391', '46410.61', '20.57', '12', '701', '134725.77', 'Unemployed', '0.16', 'Home', '9', '0', '18', 'Rent', 'Current'),
	('3182', '16159', '25320.265', '2.67', '36', '563', '95416.81', 'Self-employed', '0.48', 'Education', '9', '1', '49', 'Own', 'Paid Off'),
	('3183', '34024', '25320.265', '5.98', '72', '839', '143095.98', 'Unemployed', '0.48', 'Other', '2', '1', '59', 'Mortgage', 'Paid Off'),
	('3184', '51614', '48786.13', '16.48', '72', '790', '43407.03', 'Self-employed', '0.26', 'Car', '4', '1', '21', 'Mortgage', 'Late'),
	('3185', '81562', '5470.58', '19.1', '24', '413', '85420.16', 'Unemployed', '0.64', 'Personal', '1', '0', '67', 'Mortgage', 'Current'),
	('3186', '14854', '3101.9', '21.6', '72', '375', '99153.09', 'Self-employed', '0.61', 'Other', '5', '0', '51', 'Rent', 'Current'),
	('3187', '22884', '27055.96', '19.73', '48', '707', '107171.9', 'Unemployed', '0.07', 'Car', '3', '1', '54', 'Mortgage', 'Paid Off'),
	('3188', '72569', '11996.15', '24.57', '12', '757', '71188.31', 'Self-employed', '0.93', 'Education', '1', '0', '48', 'Mortgage', 'Current'),
	('3189', '90616', '25320.265', '23.16', '60', '417', '43328.45', 'Unemployed', '0.22', 'Personal', '5', '1', '63', 'Mortgage', 'Paid Off'),
	('3190', '54760', '31276.79', '11.68', '36', '778', '149589.46', 'Unemployed', '0.12', 'Other', '3', '0', '53', 'Own', 'Paid Off'),
	('3191', '54747', '18211.08', '20.14', '36', '315', '128045.32', 'Employed', '0.92', 'Car', '1', '0', '25', 'Mortgage', 'Late'),
	('3192', '54284', '49787.06', '8.81', '60', '568', '57867.34', 'Unemployed', '0.48', 'Other', '3', '1', '49', 'Mortgage', 'Late'),
	('3193', '68845', '25320.265', '23.36', '60', '838', '857709.5', 'Self-employed', '0.64', 'Car', '1', '1', '31', 'Other', 'Paid Off'),
	('3194', '76371', '43398.49', '24.93', '72', '433', '111354.18', 'Unemployed', '0.3', 'Home', '5', '1', '29', 'Mortgage', 'Paid Off'),
	('3195', '53252', '43885.92', '18.9', '36', '657', '49622.88', 'Unemployed', '0.21', 'Personal', '9', '0', '61', 'Rent', 'Paid Off'),
	('3196', '84970', '22441.73', '9.69', '36', '730', '85420.16', 'Employed', '0.04', 'Personal', 'Unreported', '1', '25', 'Own', 'Late'),
	('3197', '54760', '49869.48', '24.15', '48', '697', '138070.41', 'Self-employed', '0.48', 'Business', '1', '1', '37', 'Rent', 'Paid Off'),
	('3198', '22507', '14857.21', '2.94', '72', '609', '72949.09', 'Unemployed', '0.2', 'Car', '9', '0', '69', 'Own', 'Paid Off'),
	('3199', '19986', '5462.12', '11.43', '24', '426', '72659.57', 'Self-employed', '0.34', 'Education', '2', '1', '43', 'Mortgage', 'Paid Off'),
	('3200', '45004', '28792.55', '13.73', '72', '492', '147642.04', 'Self-employed', '0.64', 'Education', '3', '1', '55', 'Other', 'Late'),
	('3201', '36690', '1366.12', '13.84', '12', '615', '85420.16', 'Self-employed', '0.04', 'Personal', '2', '1', '25', 'Rent', 'NA'),
	('3202', '94477', '25320.265', '7.17', '24', '840', '34266.62', 'Unemployed', '0.48', 'Other', '3', '1', '53', 'Mortgage', 'Current'),
	('3203', '88573', '42003.39', '11.25', '60', '402', '102743.01', 'Employed', '0.22', 'Car', '0', '0', '19', 'Mortgage', 'Late'),
	('3204', '74309', '21565.65', '18.36', '24', '433', '127012.3', 'Employed', '0.57', 'Education', '7', '1', '68', 'Rent', 'Paid Off'),
	('3205', '58018', '10995.63', '19.88', '36', '381', '79654.94', 'Employed', '0.12', 'Other', '8', '0', '67', 'Other', 'Paid Off'),
	('3206', '56959', '13527.12', '18.52', '48', '730', '71489.46', 'Unemployed', '0.21', 'Personal', '6', '1', '60', 'Rent', 'Current'),
	('3207', '47924', '25320.265', '2.39', '60', '360', '123962.44', 'Self-employed', '0.57', 'Home', 'Unreported', '1', '33', 'Rent', 'Late'),
	('3208', '19240', '33448.42', '17.54', '12', '782', '98841.22', 'Self-employed', '0.85', 'Education', '0', '1', '31', 'Other', 'Current'),
	('3209', '22139', '8904.28', '7.55', '12', '605', '26832.09', 'Self-employed', '0.19', 'Education', '2', '0', '58', 'Own', 'Late'),
	('3210', '83045', '23696.48', '16.85', '12', '723', '47713.16', 'Unemployed', '0.8', 'Personal', '5', '0', '43', 'Own', 'Paid Off'),
	('3211', '74312', '31115.1', '10.74', '36', '340', '125054.02', 'Employed', '0.51', 'Business', '9', '0', '35', 'Mortgage', 'Paid Off'),
	('3212', '65282', '25751.88', '15.19', '24', '328', '26546.18', 'Self-employed', '0.85', 'Personal', '5', '1', '33', 'Mortgage', 'NA'),
	('3213', '34127', '39469.35', '13.245', '36', '644', '86160.96', 'Unemployed', '0.48', 'Education', '3', '1', '43', 'Mortgage', 'Late'),
	('3214', '69337', '1308.33', '17.58', '12', '822', '124706.12', 'Employed', '0.07', 'Personal', '0', '0', '21', 'Mortgage', 'Paid Off'),
	('3215', '60468', '14772.15', '22.76', '36', '365', '147909.64', 'Employed', '0.89', 'Home', 'Unreported', '0', '40', 'Own', 'Late'),
	('3216', '67195', '29154.94', '9.7', '36', '574', '41539.63', 'Employed', '0.1', 'Business', '7', '0', '54', 'Rent', 'Current'),
	('3217', '54760', '27406.09', '3.46', '24', '635', '148995.27', 'Self-employed', '0.85', 'Car', '1', '0', '24', 'Mortgage', 'Current'),
	('3218', '62113', '6099.93', '23.61', '24', '808', '111161.38', 'Self-employed', '0.34', 'Home', '8', '0', '41', 'Rent', 'Paid Off'),
	('3219', '32815', '9585.59', '14.63', '48', '760', '35428.05', 'Employed', '0.48', 'Other', '6', '1', '35', 'Mortgage', 'Paid Off'),
	('3220', '54760', '37894.98', '21.13', '36', '744', '143800.71', 'Unemployed', '0.53', 'Other', 'Unreported', '0', '68', 'Own', 'Paid Off'),
	('3221', '58646', '272044.9', '23.76', '24', '730', '1299539.3', 'Others', '0.43', 'Car', '6', '0', '34', 'Own', 'Current'),
	('3222', '29583', '32358.4', '22.12', '48', '730', '108496.46', 'Unemployed', '0.59', 'Education', '7', '0', '23', 'Other', 'Current'),
	('3223', '54760', '41020.86', '13.97', '60', '486', '134480.95', 'Unemployed', '0.59', 'Business', '3', '1', '44', 'Rent', 'Paid Off'),
	('3224', '52854', '29607.51', '24.48', '36', '375', '135991.93', 'Others', '0.43', 'Business', '9', '1', '43', 'Rent', 'Current'),
	('3225', '63721', '16383.52', '12.07', '36', '362', '75822.62', 'Unemployed', '0.07', 'Business', '2', '0', '61', 'Rent', 'Late'),
	('3226', '90157', '26639.26', '7.74', '24', '479', '61750.06', 'Unemployed', '0.08', 'Education', '0', '1', '41', 'Mortgage', 'Current'),
	('3227', '69817', '7389.19', '21.97', '36', '499', '122419.69', 'Employed', '0.13', 'Education', '6', '1', '34', 'Own', 'Late'),
	('3228', '27558', '14331.78', '13.245', '36', '810', '81940.18', 'Employed', '0.58', 'Car', '2', '0', '55', 'Own', 'Paid Off'),
	('3229', '16276', '33101.39', '3.37', '24', '390', '140720.84', 'Unemployed', '0.87', 'Other', '9', '1', '45', 'Mortgage', 'Paid Off'),
	('3230', '69406', '3014.44', '18.95', '12', '845', '79522.64', 'Employed', '0.96', 'Education', 'Unreported', '0', '28', 'Other', 'Paid Off'),
	('3231', '10010', '1041.7', '9.71', '72', '655', '129702.68', 'Others', '0.27', 'Personal', '0', '1', '46', 'Rent', 'Paid Off'),
	('3232', '54760', '44466.55', '21.78', '60', '730', '115955.51', 'Self-employed', '0.29', 'Personal', 'Unreported', '0', '53', 'Own', 'Current'),
	('3233', '54760', '48252.11', '7.59', '60', '657', '72030.91', 'Employed', '0.48', 'Personal', '7', '0', '49', 'Rent', 'Paid Off'),
	('3234', '49944', '45375.02', '15.35', '72', '730', '58184.47', 'Unemployed', '0.84', 'Education', 'Unreported', '1', '43', 'Rent', 'Paid Off'),
	('3235', '82666', '11557.62', '5', '60', '774', '43543.86', 'Others', '0.88', 'Car', '1', '0', '22', 'Mortgage', 'Paid Off'),
	('3236', '44386', '37978.23', '22.32', '12', '300', '147932.48', 'Employed', '0.84', 'Personal', '8', '0', '43', 'Mortgage', 'Late'),
	('3237', '99668', '23366.93', '13.245', '60', '368', '78851.76', 'Employed', '0', 'Personal', '1', '0', '38', 'Mortgage', 'NA'),
	('3238', '82042', '4476.25', '16.9', '72', '647', '81467.52', 'Self-employed', '0.48', 'Car', '2', '0', '43', 'Mortgage', 'Late'),
	('3239', '17517', '39954.32', '7.19', '72', '474', '59916.39', 'Employed', '0.17', 'Business', '9', '1', '40', 'Mortgage', 'Current'),
	('3240', '13107', '40600.56', '13.245', '60', '697', '68806.11', 'Employed', '0.49', 'Car', '2', '0', '50', 'Mortgage', 'NA'),
	('3241', '91615', '36376.9', '6.24', '60', '680', '51661.91', 'Self-employed', '0.55', 'Education', '0', '0', '46', 'Own', 'Current'),
	('3242', '39742', '49830.99', '19.44', '36', '392', '41136.94', 'Unemployed', '0.32', 'Car', '8', '1', '51', 'Rent', 'Current'),
	('3243', '90323', '49613.74', '13.64', '24', '351', '81218.02', 'Employed', '0.85', 'Other', '7', '1', '66', 'Own', 'Late'),
	('3244', '14666', '9791.6', '18.3', '12', '676', '143013.18', 'Self-employed', '0.8', 'Education', '0', '1', '55', 'Own', 'Current'),
	('3245', '54760', '39975.21', '13.97', '36', '345', '126113.56', 'Self-employed', '0.47', 'Home', 'Unreported', '1', '20', 'Rent', 'Late'),
	('3246', '54760', '33331.38', '13.245', '36', '646', '66335.25', 'Self-employed', '0.85', 'Car', 'Unreported', '0', '60', 'Other', 'Paid Off'),
	('3247', '17234', '36596.93', '15.9', '36', '639', '58139.03', 'Self-employed', '0.33', 'Business', '4', '0', '58', 'Mortgage', 'Paid Off'),
	('3248', '88488', '49554.12', '7.25', '12', '730', '97608.15', 'Unemployed', '0.84', 'Home', '7', '1', '59', 'Other', 'Late'),
	('3249', '44487', '41994.34', '15.24', '48', '320', '121066.41', 'Others', '0.85', 'Other', '0', '1', '21', 'Rent', 'Current'),
	('3250', '54760', '20184.35', '8.07', '12', '467', '100393.8', 'Employed', '0.57', 'Personal', '9', '1', '25', 'Mortgage', 'Current'),
	('3251', '54760', '46935.82', '8.89', '48', '501', '71364.39', 'Unemployed', '0.94', 'Education', '0', '0', '43', 'Rent', 'Paid Off'),
	('3252', '97299', '43883.11', '13.245', '36', '730', '62553.79', 'Self-employed', '0.83', 'Business', '2', '0', '52', 'Own', 'Paid Off'),
	('3253', '13058', '35605.45', '7.25', '72', '706', '47866.45', 'Unemployed', '0.48', 'Car', '0', '0', '57', 'Other', 'Late'),
	('3254', '24704', '46911.01', '16.24', '72', '520', '85420.16', 'Self-employed', '0.28', 'Home', '6', '1', '55', 'Rent', 'Current'),
	('3255', '92503', '23651.07', '8.89', '48', '527', '60062.09', 'Self-employed', '0.17', 'Business', '9', '1', '52', 'Rent', 'Current'),
	('3256', '36733', '35949.56', '6.28', '12', '540', '80268.67', 'Employed', '0.02', 'Education', '7', '0', '60', 'Other', 'Current'),
	('3257', '15311', '1200.28', '22.67', '12', '556', '76833.86', 'Self-employed', '0.13', 'Car', '1', '1', '26', 'Other', 'Late'),
	('3258', '17547', '28860.47', '12.02', '60', '730', '43759.72', 'Unemployed', '0.78', 'Business', '1', '0', '43', 'Rent', 'Paid Off'),
	('3259', '18197', '36460.76', '23.69', '12', '475', '141082.75', 'Unemployed', '0.62', 'Other', '9', '0', '23', 'Other', 'Current'),
	('3260', '25860', '19767.58', '11.54', '12', '634', '119253.12', 'Employed', '0.48', 'Home', '7', '1', '38', 'Rent', 'Paid Off'),
	('3261', '54760', '43528', '2.24', '60', '730', '46941.96', 'Self-employed', '0.92', 'Education', '7', '0', '43', 'Own', 'Late'),
	('3262', '42726', '24768.32', '6.58', '36', '357', '71292.94', 'Employed', '0.48', 'Home', '2', '0', '49', 'Rent', 'Late'),
	('3263', '51396', '14845.02', '21.21', '60', '630', '90506.4', 'Unemployed', '0.05', 'Other', '9', '0', '59', 'Own', 'Paid Off'),
	('3264', '40635', '27922.81', '10.28', '60', '741', '25074.77', 'Employed', '0.48', 'Personal', 'Unreported', '0', '34', 'Rent', 'Current'),
	('3265', '26156', '45370.27', '21.47', '36', '336', '42177.38', 'Employed', '0.02', 'Education', '9', '0', '31', 'Other', 'Late'),
	('3266', '75925', '34439.99', '10.93', '36', '340', '52901.9', 'Self-employed', '0.33', 'Car', '2', '1', '22', 'Mortgage', 'Paid Off'),
	('3267', '41588', '47553.89', '8.82', '48', '675', '98409.38', 'Self-employed', '0.24', 'Car', '9', '0', '30', 'Mortgage', 'Paid Off'),
	('3268', '54760', '22933.34', '20.42', '36', '434', '126194.83', 'Employed', '0.48', 'Car', '0', '1', '37', 'Mortgage', 'Late'),
	('3269', '12492', '33265.5', '3.66', '12', '559', '42093.25', 'Unemployed', '0.6', 'Home', '5', '0', '19', 'Own', 'Paid Off'),
	('3270', '16463', '31791.29', '22.15', '60', '469', '93277.34', 'Self-employed', '0.64', 'Other', '6', '0', '41', 'Own', 'Paid Off'),
	('3271', '54760', '12717.04', '11.66', '24', '823', '34247.75', 'Employed', '0.99', 'Business', '7', '0', '67', 'Mortgage', 'Late'),
	('3272', '18489', '37484.2', '9.56', '48', '701', '119464.25', 'Others', '0.75', 'Home', '8', '1', '35', 'Own', 'Late'),
	('3273', '54760', '4331.59', '7.06', '36', '550', '31057.22', 'Employed', '0.48', 'Home', '9', '1', '22', 'Rent', 'Current'),
	('3274', '23408', '29181.08', '15.67', '36', '549', '122275.06', 'Employed', '0.97', 'Education', '3', '0', '49', 'Own', 'Current'),
	('3275', '94668', '9722.73', '23.8', '36', '691', '89015.26', 'Self-employed', '0.28', 'Personal', '3', '1', '59', 'Other', 'Current'),
	('3276', '31300', '10228.83', '10.11', '72', '367', '83495.21', 'Others', '0.75', 'Other', '9', '1', '25', 'Own', 'Paid Off'),
	('3277', '42292', '49011.75', '7.31', '48', '563', '106665.66', 'Self-employed', '0.97', 'Car', 'Unreported', '1', '44', 'Own', 'Paid Off'),
	('3278', '92579', '19841.51', '7.7', '12', '793', '94407.47', 'Unemployed', '0.3', 'Personal', '8', '0', '35', 'Own', 'Paid Off'),
	('3279', '83568', '26460.96', '4.09', '36', '831', '137408.36', 'Others', '0.48', 'Personal', '0', '0', '47', 'Own', 'Paid Off'),
	('3280', '35845', '33590.58', '13.245', '24', '519', '81072.08', 'Employed', '0.65', 'Business', '6', '1', '42', 'Mortgage', 'Paid Off'),
	('3281', '35179', '25320.265', '16.82', '48', '730', '26494.48', 'Unemployed', '0.49', 'Car', '1', '0', '57', 'Mortgage', 'Late'),
	('3282', '29610', '36567.95', '13.245', '36', '730', '41334.37', 'Unemployed', '0.73', 'Car', '3', '0', '63', 'Own', 'NA'),
	('3283', '83272', '2275.48', '11.58', '24', '765', '89495.97', 'Self-employed', '0.07', 'Education', '1', '0', '38', 'Mortgage', 'Late'),
	('3284', '66632', '34158.38', '23.7', '60', '615', '100647.35', 'Self-employed', '0.05', 'Car', '9', '1', '54', 'Own', 'Late'),
	('3285', '79404', '25320.265', '5.84', '36', '389', '131895.63', 'Employed', '0.14', 'Personal', '0', '0', '53', 'Mortgage', 'Current'),
	('3286', '26301', '44088.84', '18.46', '48', '400', '85420.16', 'Self-employed', '0.52', 'Personal', '9', '0', '43', 'Rent', 'Late'),
	('3287', '78567', '25320.265', '11.32', '48', '359', '85420.16', 'Others', '0.79', 'Business', '8', '1', '43', 'Rent', 'Current'),
	('3288', '74773', '2501.53', '7.51', '12', '331', '85420.16', 'Unemployed', '0.77', 'Business', '0', '0', '36', 'Mortgage', 'Current'),
	('3289', '16741', '3986.6', '6.48', '24', '784', '129624.57', 'Others', '0.1', 'Home', '5', '0', '45', 'Own', 'Paid Off'),
	('3290', '29746', '25320.265', '5.86', '48', '724', '43814.03', 'Self-employed', '0.61', 'Car', '6', '0', '23', 'Other', 'Current'),
	('3291', '55953', '11547.18', '13.245', '36', '643', '85860.43', 'Employed', '0.02', 'Business', '4', '1', '29', 'Own', 'Current'),
	('3292', '84333', '37905.71', '13.245', '12', '332', '87870.85', 'Employed', '0.54', 'Business', '2', '1', '48', 'Other', 'Paid Off'),
	('3293', '54760', '25320.265', '15.99', '60', '804', '94784', 'Employed', '0.88', 'Personal', '3', '1', '43', 'Own', 'Current'),
	('3294', '61170', '12506.62', '11.94', '48', '557', '41368.08', 'Employed', '0.84', 'Car', '0', '0', '54', 'Rent', 'Paid Off'),
	('3295', '57374', '416818.4', '20.65', '24', '531', '85420.16', 'Self-employed', '0.52', 'Home', '9', '0', '54', 'Rent', 'Late'),
	('3296', '38906', '3236.42', '19.45', '36', '777', '95923.82', 'Self-employed', '0.51', 'Car', '9', '0', '66', 'Own', 'Paid Off'),
	('3297', '36142', '39593.03', '3.07', '36', '733', '103391.76', 'Self-employed', '0.93', 'Education', '4', '1', '43', 'Rent', 'Paid Off'),
	('3298', '79403', '6476.49', '16.75', '72', '839', '51986.92', 'Unemployed', '0.06', 'Education', '8', '0', '43', 'Mortgage', 'Late'),
	('3299', '75927', '42295.19', '24.28', '36', '462', '30416.59', 'Employed', '0.1', 'Home', '9', '0', '62', 'Other', 'Current'),
	('3300', '83053', '39418.07', '21.56', '60', '808', '107366.62', 'Unemployed', '0.09', 'Education', 'Unreported', '0', '64', 'Mortgage', 'Current'),
	('3301', '62900', '11719.03', '8.8', '12', '713', '118110.99', 'Self-employed', '0.36', 'Business', '8', '0', '31', 'Mortgage', 'Current'),
	('3302', '63414', '20696.65', '16.05', '60', '331', '85420.16', 'Unemployed', '0.25', 'Personal', 'Unreported', '0', '26', 'Own', 'Late'),
	('3303', '83820', '23442.22', '12.36', '12', '316', '111291.11', 'Self-employed', '0.15', 'Car', '1', '0', '44', 'Rent', 'Late'),
	('3304', '23909', '20295.05', '15.45', '48', '739', '25376.7', 'Employed', '0.68', 'Other', '2', '0', '19', 'Other', 'Current'),
	('3305', '81895', '11340.55', '13.245', '36', '650', '43365.8', 'Self-employed', '0.44', 'Home', '2', '0', '41', 'Other', 'Current'),
	('3306', '36021', '12081.74', '13.245', '36', '409', '94823.4', 'Self-employed', '0.72', 'Other', '1', '0', '33', 'Rent', 'Paid Off'),
	('3307', '54760', '34844.1', '9.38', '24', '755', '85420.16', 'Others', '0.67', 'Education', '4', '0', '43', 'Own', 'NA'),
	('3308', '43549', '8426.3', '11.94', '12', '695', '47103.91', 'Unemployed', '0.15', 'Car', '9', '0', '21', 'Mortgage', 'Current'),
	('3309', '30589', '25320.265', '15.32', '60', '467', '104456.75', 'Employed', '0.02', 'Other', '3', '1', '39', 'Mortgage', 'Paid Off'),
	('3310', '42178', '25320.265', '2.19', '12', '477', '21783.46', 'Self-employed', '0.61', 'Education', '4', '0', '32', 'Own', 'NA'),
	('3311', '13561', '11687.31', '8.25', '12', '654', '35491.74', 'Self-employed', '0.69', 'Home', '3', '0', '35', 'Other', 'Late'),
	('3312', '21390', '2852.62', '13.18', '24', '314', '25567.76', 'Others', '0.98', 'Car', '7', '1', '38', 'Rent', 'Late'),
	('3313', '40145', '35218.6', '6.15', '24', '617', '131000.86', 'Employed', '0.48', 'Home', '0', '0', '36', 'Own', 'Paid Off'),
	('3314', '90712', '20817.03', '13.245', '36', '548', '107427.64', 'Unemployed', '0.53', 'Other', '6', '1', '39', 'Other', 'NA'),
	('3315', '20343', '19505.75', '4.42', '36', '730', '149775.51', 'Unemployed', '0.32', 'Education', '2', '1', '52', 'Rent', 'Current'),
	('3316', '72316', '24796.27', '18.63', '12', '655', '131662.56', 'Employed', '0.09', 'Personal', '5', '0', '58', 'Own', 'Paid Off'),
	('3317', '84825', '25320.265', '13.245', '48', '335', '84272.51', 'Others', '0.65', 'Education', '7', '1', '34', 'Other', 'Late'),
	('3318', '94529', '18656.35', '17.77', '12', '774', '134855.21', 'Employed', '0.11', 'Home', '2', '1', '58', 'Mortgage', 'Current'),
	('3319', '47137', '29957.32', '23.1', '12', '450', '32024.8', 'Self-employed', '0.5', 'Personal', '8', '1', '43', 'Own', 'Current'),
	('3320', '34881', '12001.67', '18.37', '12', '730', '131936.79', 'Unemployed', '0.34', 'Personal', '3', '1', '47', 'Mortgage', 'Paid Off'),
	('3321', '19305', '23636.43', '7.09', '24', '582', '106341.77', 'Unemployed', '0.33', 'Business', '8', '0', '21', 'Rent', 'NA'),
	('3322', '24807', '29171.21', '20.91', '60', '620', '91070.16', 'Unemployed', '0.99', 'Other', '7', '1', '43', 'Other', 'Late'),
	('3323', '88073', '7766.61', '7.6', '48', '760', '102059', 'Self-employed', '0.86', 'Personal', '3', '1', '44', 'Own', 'Current'),
	('3324', '38787', '16041.53', '13.245', '12', '564', '82834.58', 'Employed', '0.09', 'Personal', '9', '0', '29', 'Rent', 'Late'),
	('3325', '47578', '28058.4', '15.54', '24', '419', '46886.48', 'Self-employed', '0.48', 'Business', '2', '0', '69', 'Mortgage', 'Late'),
	('3326', '94826', '20661.73', '13.79', '24', '493', '56743.06', 'Self-employed', '0.88', 'Education', '5', '1', '56', 'Rent', 'Late'),
	('3327', '33821', '25320.265', '15.32', '36', '730', '69931.51', 'Others', '0.93', 'Car', '5', '0', '54', 'Mortgage', 'NA'),
	('3328', '54760', '12334.77', '11.05', '60', '731', '85420.16', 'Employed', '0.12', 'Personal', 'Unreported', '0', '50', 'Rent', 'Late'),
	('3329', '49169', '24065.46', '8.22', '60', '584', '71996.33', 'Unemployed', '0.53', 'Education', '4', '1', '56', 'Rent', 'Late'),
	('3330', '64752', '41231.26', '12.59', '24', '481', '29641.07', 'Employed', '0.64', 'Other', '3', '0', '44', 'Own', 'Paid Off'),
	('3331', '37319', '7995.7', '5.18', '12', '730', '94633.72', 'Employed', '0.69', 'Education', 'Unreported', '1', '34', 'Rent', 'Current'),
	('3332', '46130', '448514.7', '16.25', '72', '513', '85420.16', 'Self-employed', '0.74', 'Home', 'Unreported', '1', '29', 'Mortgage', 'Current'),
	('3333', '23278', '22915.05', '14.58', '24', '741', '74108.96', 'Employed', '0.33', 'Business', '1', '0', '43', 'Own', 'Paid Off'),
	('3334', '65854', '25320.265', '17.48', '36', '515', '116068.21', 'Unemployed', '0.28', 'Personal', '6', '1', '30', 'Mortgage', 'NA'),
	('3335', '65642', '32159.51', '16.68', '60', '609', '59228.74', 'Others', '0.45', 'Other', '9', '1', '41', 'Own', 'Late'),
	('3336', '74303', '27549.84', '23.25', '24', '345', '79460.55', 'Employed', '0.64', 'Education', '1', '1', '35', 'Rent', 'Paid Off'),
	('3337', '19588', '41339.26', '13.89', '36', '416', '130510.91', 'Self-employed', '0.48', 'Business', '7', '0', '48', 'Other', 'Current'),
	('3338', '54760', '10145.36', '2.29', '72', '733', '82739.46', 'Others', '0.57', 'Education', '3', '1', '47', 'Mortgage', 'Late'),
	('3339', '79559', '7365.33', '22.25', '60', '688', '115997.42', 'Employed', '0.61', 'Other', '9', '1', '58', 'Own', 'Current'),
	('3340', '33193', '13910.75', '4.78', '36', '796', '67889.92', 'Unemployed', '0.81', 'Personal', '7', '1', '56', 'Mortgage', 'Paid Off'),
	('3341', '74320', '49892.85', '18.77', '12', '416', '85420.16', 'Others', '0.08', 'Car', '7', '0', '67', 'Rent', 'Late'),
	('3342', '51276', '5844.36', '6.54', '48', '538', '111637.16', 'Self-employed', '0.35', 'Business', '9', '1', '45', 'Other', 'Late'),
	('3343', '23470', '26992.14', '4.84', '12', '301', '92166.4', 'Others', '0.08', 'Education', '7', '1', '49', 'Rent', 'Paid Off'),
	('3344', '53241', '38895.66', '23.96', '12', '655', '85420.16', 'Self-employed', '0.48', 'Personal', '9', '0', '43', 'Rent', 'Current'),
	('3345', '40447', '41797.21', '2.82', '24', '751', '68963.91', 'Unemployed', '0.48', 'Business', '0', '1', '46', 'Own', 'Late'),
	('3346', '99188', '47913.81', '2.69', '12', '654', '113860.66', 'Unemployed', '0.4', 'Business', '1', '0', '34', 'Mortgage', 'Late'),
	('3347', '54760', '49763.18', '12.31', '36', '307', '135602.23', 'Employed', '0.47', 'Education', '9', '1', '43', 'Own', 'Current'),
	('3348', '25196', '28060.55', '15.47', '60', '787', '141414.28', 'Unemployed', '0.24', 'Home', '5', '1', '45', 'Own', 'Current'),
	('3349', '98655', '12798.56', '6.06', '36', '730', '126832.61', 'Self-employed', '0.48', 'Car', '6', '1', '46', 'Other', 'Late'),
	('3350', '71862', '26474.93', '18.67', '36', '508', '81120.81', 'Unemployed', '0.87', 'Car', '8', '0', '63', 'Other', 'Late'),
	('3351', '42102', '37065.58', '23.6', '24', '826', '76444.19', 'Unemployed', '0.48', 'Car', '2', '1', '58', 'Rent', 'Paid Off'),
	('3352', '55014', '24356.72', '13.47', '36', '730', '86362.64', 'Self-employed', '0.35', 'Car', '9', '1', '43', 'Other', 'Paid Off'),
	('3353', '58944', '14343.2', '13.245', '12', '730', '94077.58', 'Self-employed', '0.78', 'Home', '7', '1', '69', 'Mortgage', 'Current'),
	('3354', '15383', '41282.56', '21.4', '24', '337', '54934.97', 'Self-employed', '0.26', 'Car', '6', '1', '43', 'Rent', 'Current'),
	('3355', '69941', '41626.63', '23.69', '24', '453', '85420.16', 'Unemployed', '0.71', 'Other', '0', '0', '52', 'Rent', 'Current'),
	('3356', '32338', '27981.75', '21.15', '48', '620', '85420.16', 'Others', '0.56', 'Car', 'Unreported', '0', '43', 'Own', 'Current'),
	('3357', '84205', '30476.44', '14.99', '48', '750', '53305.86', 'Self-employed', '0.89', 'Car', '5', '1', '34', 'Own', 'NA'),
	('3358', '54760', '26163.17', '21.31', '48', '735', '64180.74', 'Employed', '0.92', 'Car', '0', '0', '41', 'Own', 'Late'),
	('3359', '89668', '39324.73', '10.67', '48', '384', '99640.08', 'Self-employed', '0.46', 'Education', '8', '1', '28', 'Rent', 'Late'),
	('3360', '53447', '44466.83', '13.49', '36', '594', '106603.66', 'Unemployed', '0.18', 'Other', '1', '1', '38', 'Mortgage', 'Paid Off'),
	('3361', '54760', '1098.58', '3.87', '36', '581', '143532.65', 'Employed', '0.77', 'Personal', '0', '0', '42', 'Rent', 'NA'),
	('3362', '16124', '48707.72', '9.46', '12', '730', '45091.41', 'Self-employed', '0.9', 'Other', '9', '1', '43', 'Own', 'Late'),
	('3363', '54760', '17861.92', '23.06', '36', '407', '134556.43', 'Unemployed', '0.82', 'Personal', '2', '1', '37', 'Mortgage', 'Current'),
	('3364', '57544', '20557.24', '21.63', '36', '849', '89058.73', 'Unemployed', '0.99', 'Other', '8', '1', '51', 'Rent', 'Current'),
	('3365', '46374', '19016.48', '15.67', '36', '336', '132847.47', 'Self-employed', '0.63', 'Business', '1', '1', '57', 'Own', 'Paid Off'),
	('3366', '94460', '42373.81', '22.82', '48', '369', '121082.68', 'Self-employed', '0.87', 'Home', '1', '0', '48', 'Rent', 'Late'),
	('3367', '33100', '37102.84', '11.82', '48', '303', '146011.75', 'Employed', '0.48', 'Business', 'Unreported', '0', '27', 'Rent', 'Late'),
	('3368', '18765', '25320.265', '13.245', '24', '325', '140342.84', 'Unemployed', '0.59', 'Education', '3', '0', '48', 'Own', 'Paid Off'),
	('3369', '54760', '20996.58', '13.245', '48', '605', '42005.83', 'Unemployed', '0.92', 'Business', '6', '1', '45', 'Own', 'Late'),
	('3370', '51648', '1133.61', '15.11', '24', '485', '95395.32', 'Employed', '0.31', 'Other', '3', '0', '39', 'Mortgage', 'Late'),
	('3371', '14514', '40352.55', '3.15', '24', '686', '23713.24', 'Self-employed', '0.05', 'Business', '9', '0', '63', 'Mortgage', 'Late'),
	('3372', '21197', '12577.74', '22.35', '48', '375', '109476.93', 'Employed', '0.98', 'Other', 'Unreported', '1', '33', 'Own', 'Late'),
	('3373', '85457', '5067.82', '22.96', '12', '393', '90395.72', 'Unemployed', '0.71', 'Education', '3', '0', '52', 'Other', 'Late'),
	('3374', '37830', '33377.68', '23.69', '12', '730', '38561.59', 'Unemployed', '0.49', 'Home', '1', '1', '51', 'Rent', 'NA'),
	('3375', '59297', '11735.68', '12.86', '36', '391', '106632.79', 'Self-employed', '0.17', 'Business', 'Unreported', '0', '28', 'Own', 'Current'),
	('3376', '16708', '27901.38', '8.7', '60', '730', '67721.62', 'Unemployed', '0.9', 'Car', '2', '1', '31', 'Rent', 'NA'),
	('3377', '51101', '8899.04', '13.245', '36', '395', '32296.91', 'Unemployed', '0.53', 'Home', 'Unreported', '0', '52', 'Rent', 'Paid Off'),
	('3378', '96033', '39715.31', '22.22', '12', '835', '20388.9', 'Employed', '0.9', 'Other', '0', '0', '40', 'Mortgage', 'Paid Off'),
	('3379', '46639', '49116.7', '18.63', '72', '488', '98821.57', 'Employed', '0.79', 'Car', '8', '0', '57', 'Mortgage', 'Current'),
	('3380', '54760', '6267.11', '20.44', '48', '808', '122714.32', 'Others', '0.39', 'Car', '1', '0', '66', 'Rent', 'Current'),
	('3381', '14322', '42229.22', '19.69', '72', '561', '81619.28', 'Employed', '0.48', 'Car', '7', '1', '62', 'Own', 'Current'),
	('3382', '50557', '25320.265', '20.8', '36', '636', '67309.41', 'Unemployed', '0.66', 'Education', '7', '1', '49', 'Rent', 'Paid Off'),
	('3383', '54760', '3519.13', '13.245', '48', '303', '118283.95', 'Unemployed', '0.48', 'Home', '3', '1', '52', 'Own', 'Late'),
	('3384', '10943', '26544.07', '9.78', '12', '787', '20822.47', 'Self-employed', '0.48', 'Business', '0', '1', '43', 'Rent', 'Paid Off'),
	('3385', '25602', '24614.22', '20.73', '12', '338', '124812.43', 'Employed', '0.23', 'Business', '7', '1', '37', 'Rent', 'Late'),
	('3386', '93110', '25320.265', '18.89', '36', '793', '85420.16', 'Employed', '0.65', 'Business', '8', '0', '49', 'Own', 'Current'),
	('3387', '23148', '17679.2', '19.64', '24', '521', '58144.57', 'Unemployed', '0.3', 'Personal', 'Unreported', '1', '35', 'Rent', 'Late'),
	('3388', '40822', '25320.265', '19.47', '36', '519', '99798.85', 'Unemployed', '0.1', 'Business', 'Unreported', '1', '57', 'Rent', 'NA'),
	('3389', '53770', '25320.265', '3.54', '12', '618', '124778.67', 'Others', '0.66', 'Business', '0', '1', '69', 'Rent', 'Current'),
	('3390', '84992', '20036.66', '21', '48', '431', '39120.44', 'Employed', '0.1', 'Home', 'Unreported', '1', '43', 'Rent', 'Current'),
	('3391', '91799', '27428.58', '3.98', '72', '571', '105837.91', 'Unemployed', '0.34', 'Home', '5', '1', '19', 'Rent', 'Current'),
	('3392', '80211', '25320.265', '20.92', '48', '427', '73101.86', 'Self-employed', '0.44', 'Business', '1', '1', '28', 'Mortgage', 'Paid Off'),
	('3393', '61221', '10690.73', '9.29', '72', '424', '53329.94', 'Unemployed', '0.34', 'Car', '3', '0', '51', 'Mortgage', 'NA'),
	('3394', '87113', '13021.7', '6.88', '60', '303', '71186.4', 'Unemployed', '0.78', 'Home', '8', '0', '38', 'Rent', 'Current'),
	('3395', '56042', '37397.03', '6.51', '60', '761', '70002.95', 'Self-employed', '0.59', 'Car', '9', '1', '47', 'Rent', 'Late'),
	('3396', '12370', '25320.265', '13.245', '72', '721', '128641.76', 'Employed', '0.73', 'Education', '1', '1', '24', 'Other', 'Current'),
	('3397', '54764', '7230.61', '13.46', '48', '790', '85420.16', 'Others', '0.88', 'Education', '6', '1', '39', 'Mortgage', 'Late'),
	('3398', '35632', '27849.06', '20.05', '72', '335', '129415.11', 'Employed', '0.48', 'Car', '9', '0', '69', 'Mortgage', 'Late'),
	('3399', '47792', '25320.265', '16.96', '24', '685', '41581.87', 'Unemployed', '0.99', 'Education', '6', '1', '29', 'Rent', 'Late'),
	('3400', '85367', '3658.54', '24.82', '60', '681', '128887.46', 'Employed', '0.26', 'Car', '9', '0', '56', 'Mortgage', 'Paid Off'),
	('3401', '72609', '2933.4', '19.73', '60', '474', '60417.23', 'Employed', '0.27', 'Education', '6', '1', '52', 'Own', 'Current'),
	('3402', '45427', '22016.42', '13.245', '60', '716', '113161.76', 'Employed', '0.56', 'Personal', '3', '0', '68', 'Own', 'Current'),
	('3403', '49510', '21840.82', '11.46', '60', '557', '84862.55', 'Others', '0.39', 'Business', '4', '0', '21', 'Mortgage', 'Late'),
	('3404', '98182', '33545.43', '4.78', '48', '431', '97836.82', 'Self-employed', '0.01', 'Education', '5', '1', '42', 'Own', 'Current'),
	('3405', '14417', '20106.66', '13.245', '60', '572', '103532.51', 'Self-employed', '0.35', 'Business', '0', '0', '23', 'Mortgage', 'Late'),
	('3406', '16845', '12256.1', '13.245', '24', '481', '103217.83', 'Employed', '0.2', 'Car', '5', '0', '49', 'Rent', 'Late'),
	('3407', '79867', '5718.86', '9.72', '60', '391', '85420.16', 'Unemployed', '0.94', 'Education', '4', '0', '69', 'Rent', 'Current'),
	('3408', '36858', '25320.265', '4.82', '36', '815', '108474.8', 'Employed', '0.01', 'Personal', '8', '1', '25', 'Rent', 'Paid Off'),
	('3409', '79828', '11649.59', '14.22', '12', '330', '94895.07', 'Self-employed', '0.35', 'Home', '4', '0', '26', 'Rent', 'Paid Off'),
	('3410', '42787', '19480.38', '15.97', '36', '411', '55158.72', 'Unemployed', '0.9', 'Home', '1', '1', '45', 'Rent', 'Current'),
	('3411', '85762', '1858.99', '4.72', '36', '730', '85420.16', 'Others', '0.75', 'Education', '3', '1', '52', 'Own', 'Paid Off'),
	('3412', '18181', '13203.06', '19.63', '36', '783', '57873.91', 'Self-employed', '0.74', 'Education', '0', '0', '34', 'Rent', 'Current'),
	('3413', '54760', '32899.14', '13.68', '48', '345', '80329.19', 'Self-employed', '0.5', 'Education', '8', '1', '21', 'Other', 'Late'),
	('3414', '51613', '7033.75', '15.5', '72', '426', '70207.27', 'Unemployed', '0.39', 'Business', '1', '0', '47', 'Own', 'NA'),
	('3415', '84583', '33406.41', '2.88', '36', '426', '85420.16', 'Self-employed', '0.48', 'Other', '9', '1', '40', 'Own', 'Current'),
	('3416', '15478', '43160.62', '6.96', '36', '798', '85420.16', 'Self-employed', '0.45', 'Car', '1', '1', '54', 'Rent', 'Current'),
	('3417', '91077', '43599.08', '12.13', '48', '333', '25640.47', 'Employed', '0.52', 'Education', '5', '1', '30', 'Rent', 'Current'),
	('3418', '39259', '8712.4', '4.39', '48', '408', '88062.12', 'Unemployed', '0.53', 'Home', '1', '1', '32', 'Own', 'Current'),
	('3419', '77880', '23899.3', '18.79', '48', '456', '46640.52', 'Self-employed', '0.23', 'Home', 'Unreported', '1', '34', 'Mortgage', 'Current'),
	('3420', '76051', '44833.62', '13.245', '60', '520', '36521.73', 'Others', '0.58', 'Business', '1', '1', '64', 'Rent', 'NA'),
	('3421', '67847', '25320.265', '10.31', '24', '580', '85420.16', 'Self-employed', '0.6', 'Education', '7', '0', '50', 'Mortgage', 'Late'),
	('3422', '99789', '43452.93', '2.77', '12', '679', '89733.56', 'Employed', '0.55', 'Personal', '7', '1', '52', 'Own', 'NA'),
	('3423', '61143', '19957.76', '7.82', '48', '314', '85420.16', 'Employed', '0.14', 'Education', '1', '1', '26', 'Mortgage', 'Paid Off'),
	('3424', '30270', '25320.265', '21.53', '48', '713', '56836.25', 'Unemployed', '0.28', 'Car', '2', '0', '43', 'Rent', 'Late'),
	('3425', '23701', '44860.59', '14.27', '72', '629', '21845.4', 'Employed', '0.85', 'Education', '2', '1', '43', 'Own', 'NA'),
	('3426', '69408', '22021.67', '18.84', '24', '831', '75053.92', 'Self-employed', '0.37', 'Personal', '7', '0', '26', 'Mortgage', 'NA'),
	('3427', '70786', '33838.22', '6.77', '36', '332', '58613.31', 'Unemployed', '0.72', 'Personal', '3', '1', '45', 'Mortgage', 'Late'),
	('3428', '95596', '21804.95', '6.51', '36', '374', '143128.02', 'Employed', '0.31', 'Car', '9', '0', '20', 'Own', 'Current'),
	('3429', '31070', '35692.32', '15.43', '48', '358', '78445.63', 'Unemployed', '0.57', 'Other', '5', '0', '41', 'Rent', 'Paid Off'),
	('3430', '29896', '31048.02', '13.245', '12', '507', '124317.1', 'Others', '0.05', 'Home', '6', '0', '63', 'Mortgage', 'Paid Off'),
	('3431', '98582', '22638.57', '6.55', '36', '482', '146284.34', 'Unemployed', '0.51', 'Personal', '4', '0', '28', 'Mortgage', 'Late'),
	('3432', '52755', '25320.265', '4.28', '72', '357', '29118.81', 'Employed', '0.48', 'Education', '3', '0', '56', 'Mortgage', 'Current'),
	('3433', '58620', '25320.265', '19.47', '36', '307', '107006.38', 'Others', '0.15', 'Personal', '7', '1', '27', 'Mortgage', 'Late'),
	('3434', '11339', '44073.85', '4.03', '12', '822', '126766.14', 'Employed', '0.37', 'Car', '4', '1', '43', 'Rent', 'Current'),
	('3435', '38262', '34166.69', '22.45', '60', '352', '85420.16', 'Employed', '0.25', 'Other', '0', '0', '27', 'Other', 'Late'),
	('3436', '54760', '35973.97', '22.02', '60', '699', '30999.92', 'Employed', '0.02', 'Car', '3', '0', '29', 'Mortgage', 'Late'),
	('3437', '50651', '48526.4', '5.71', '48', '827', '101499.35', 'Self-employed', '0.16', 'Home', '0', '1', '51', 'Mortgage', 'Current'),
	('3438', '92854', '4315.43', '24.25', '12', '361', '92039.22', 'Employed', '0.44', 'Education', '6', '0', '43', 'Rent', 'Late'),
	('3439', '61059', '10193.06', '9.84', '12', '743', '32625.75', 'Self-employed', '0.06', 'Business', '4', '0', '62', 'Mortgage', 'Late'),
	('3440', '23972', '16587.99', '22.45', '48', '690', '145904.82', 'Self-employed', '0.48', 'Education', 'Unreported', '1', '61', 'Mortgage', 'Current'),
	('3441', '73992', '47357.3', '3.66', '48', '509', '56852.51', 'Self-employed', '0.48', 'Education', '1', '0', '22', 'Mortgage', 'Current'),
	('3442', '42656', '12199.2', '5.31', '72', '455', '133862.68', 'Unemployed', '0.93', 'Car', '0', '0', '63', 'Own', 'Current'),
	('3443', '54760', '28689.63', '12.15', '24', '467', '111594.59', 'Self-employed', '0.03', 'Car', '0', '1', '61', 'Rent', 'Paid Off'),
	('3444', '54760', '6770.3', '3.1', '72', '730', '134321.56', 'Unemployed', '0.12', 'Personal', '0', '0', '43', 'Mortgage', 'NA'),
	('3445', '62293', '14262.69', '8.2', '36', '665', '97966.79', 'Employed', '0.54', 'Home', '4', '1', '46', 'Own', 'NA'),
	('3446', '26445', '14529.38', '15.77', '12', '349', '85420.16', 'Employed', '0.93', 'Education', '9', '0', '66', 'Rent', 'Current'),
	('3447', '54760', '35714.85', '5.03', '24', '316', '111033.57', 'Self-employed', '0.82', 'Car', '0', '0', '58', 'Own', 'Late'),
	('3448', '31819', '25320.265', '4.86', '24', '698', '79877.56', 'Self-employed', '0.05', 'Other', '9', '0', '35', 'Mortgage', 'Paid Off'),
	('3449', '54760', '38092.24', '13.245', '60', '639', '49823.45', 'Employed', '0.58', 'Home', '1', '0', '57', 'Rent', 'Late'),
	('3450', '18665', '15873.76', '4.37', '12', '463', '141671.7', 'Employed', '0.42', 'Home', '9', '1', '53', 'Own', 'Current'),
	('3451', '67849', '36940.05', '17.02', '12', '325', '124089.68', 'Others', '0.19', 'Personal', 'Unreported', '0', '60', 'Mortgage', 'Late'),
	('3452', '30446', '18961.49', '20.18', '36', '730', '88671.16', 'Others', '0.74', 'Business', '2', '1', '66', 'Rent', 'Paid Off'),
	('3453', '74795', '21893.65', '12.9', '36', '730', '51808.61', 'Self-employed', '0.02', 'Education', '2', '0', '37', 'Mortgage', 'Late'),
	('3454', '33755', '7165.71', '3.5', '60', '730', '45599.69', 'Self-employed', '0.86', 'Home', '8', '0', '46', 'Mortgage', 'Late'),
	('3455', '66296', '6235.25', '16.08', '24', '692', '66627.16', 'Employed', '0.55', 'Education', '7', '0', '43', 'Rent', 'Late'),
	('3456', '84688', '27550.25', '7.52', '24', '560', '73647.37', 'Employed', '0.75', 'Education', '6', '0', '43', 'Rent', 'Late'),
	('3457', '96305', '32216.44', '10.74', '24', '499', '125602.72', 'Self-employed', '0.67', 'Car', '0', '1', '24', 'Mortgage', 'Late'),
	('3458', '59038', '5514.4', '6.43', '72', '439', '85420.16', 'Unemployed', '0.73', 'Education', '8', '1', '52', 'Own', 'Late'),
	('3459', '96704', '7832.18', '16.73', '24', '779', '91446.83', 'Unemployed', '0.55', 'Personal', '5', '0', '46', 'Rent', 'Late'),
	('3460', '86194', '25320.265', '13.245', '72', '730', '55555.12', 'Self-employed', '0.95', 'Business', '5', '1', '53', 'Mortgage', 'Late'),
	('3461', '10946', '8958.03', '21.75', '60', '338', '51526.1', 'Unemployed', '0.49', 'Personal', '1', '1', '30', 'Rent', 'Late'),
	('3462', '54760', '11906.3', '19.75', '60', '456', '32771.07', 'Employed', '0.84', 'Home', '8', '1', '37', 'Own', 'NA'),
	('3463', '48519', '34844.45', '14.57', '48', '551', '39831.18', 'Unemployed', '0.31', 'Personal', '6', '1', '51', 'Other', 'Paid Off'),
	('3464', '54760', '4195.52', '13.245', '48', '669', '145900.63', 'Self-employed', '0.76', 'Home', '3', '0', '25', 'Own', 'Paid Off'),
	('3465', '50746', '34682.92', '6.67', '60', '708', '31855.27', 'Self-employed', '0.82', 'Car', '1', '1', '49', 'Mortgage', 'Late'),
	('3466', '99830', '20866', '13.245', '12', '485', '35393.29', 'Employed', '0.09', 'Personal', '3', '1', '28', 'Mortgage', 'Current'),
	('3467', '31653', '25320.265', '14.86', '36', '730', '65926.13', 'Self-employed', '0.48', 'Home', '2', '1', '43', 'Own', 'Current'),
	('3468', '99434', '49134.13', '18.05', '36', '429', '142744.13', 'Self-employed', '0.37', 'Personal', '2', '1', '39', 'Other', 'Paid Off'),
	('3469', '96435', '25709.18', '11.11', '48', '730', '85420.16', 'Self-employed', '0.81', 'Home', '2', '0', '34', 'Rent', 'Current'),
	('3470', '50859', '15415.03', '16.79', '36', '508', '49511.28', 'Employed', '0.45', 'Business', '9', '0', '60', 'Mortgage', 'Paid Off'),
	('3471', '94611', '3719.75', '9.47', '48', '325', '85420.16', 'Self-employed', '0.19', 'Home', '5', '0', '39', 'Mortgage', 'NA'),
	('3472', '94953', '16401.76', '10.12', '24', '632', '77837.09', 'Unemployed', '0.67', 'Other', '1', '0', '41', 'Mortgage', 'Current'),
	('3473', '98956', '31010.36', '10.72', '36', '549', '106746.75', 'Self-employed', '0.47', 'Education', '5', '0', '42', 'Own', 'Paid Off'),
	('3474', '91156', '13042.87', '21.47', '48', '810', '81496.71', 'Unemployed', '0.14', 'Car', '6', '1', '43', 'Rent', 'Paid Off'),
	('3475', '92436', '28892.83', '6.68', '24', '760', '20662.84', 'Unemployed', '0.8', 'Car', '7', '1', '18', 'Rent', 'Late'),
	('3476', '73541', '14635.63', '13.245', '60', '656', '26633.26', 'Employed', '0.25', 'Car', '2', '0', '43', 'Own', 'Current'),
	('3477', '14489', '3178.27', '7.99', '36', '321', '91331.35', 'Unemployed', '0.37', 'Business', '3', '0', '43', 'Rent', 'Late'),
	('3478', '31444', '25320.265', '13.29', '12', '733', '30518.39', 'Employed', '0.12', 'Personal', '9', '1', '62', 'Mortgage', 'Current'),
	('3479', '98737', '18474.39', '7.9', '60', '818', '129183.6', 'Employed', '0.26', 'Personal', '2', '1', '43', 'Rent', 'Current'),
	('3480', '54746', '13048.62', '12.98', '72', '705', '128147.9', 'Employed', '0.29', 'Education', '6', '0', '53', 'Other', 'Current'),
	('3481', '40615', '26919.62', '13.245', '24', '448', '102137.95', 'Self-employed', '0.48', 'Other', '9', '0', '63', 'Own', 'Late'),
	('3482', '90825', '20091.52', '10.62', '60', '598', '23886.12', 'Others', '0.02', 'Car', '1', '1', '24', 'Mortgage', 'Paid Off'),
	('3483', '37616', '47547.33', '8.89', '48', '672', '96291.65', 'Self-employed', '0.12', 'Business', '0', '1', '43', 'Own', 'Current'),
	('3484', '87205', '31440.23', '2.51', '36', '310', '117139.49', 'Others', '0.48', 'Education', '1', '0', '21', 'Own', 'Current'),
	('3485', '22380', '18549.55', '20.57', '72', '395', '27412.03', 'Self-employed', '0.03', 'Car', '4', '1', '68', 'Own', 'Paid Off'),
	('3486', '45863', '11502.5', '12.37', '12', '642', '22698.79', 'Employed', '0.8', 'Home', '9', '1', '51', 'Own', 'Paid Off'),
	('3487', '42133', '33591.07', '7.97', '60', '338', '20695.04', 'Self-employed', '0.67', 'Home', '1', '1', '54', 'Mortgage', 'NA'),
	('3488', '69394', '25320.265', '6.33', '72', '477', '20261.41', 'Self-employed', '0.66', 'Car', '3', '1', '30', 'Mortgage', 'Paid Off'),
	('3489', '54760', '31728.54', '5.63', '72', '496', '47487.59', 'Employed', '0.48', 'Other', '1', '1', '23', 'Mortgage', 'Late'),
	('3490', '93721', '41640.22', '23.83', '48', '347', '92996.71', 'Unemployed', '0.56', 'Other', '8', '0', '43', 'Rent', 'Paid Off'),
	('3491', '51109', '34527.2', '15.72', '48', '777', '21928.96', 'Unemployed', '0.58', 'Business', '7', '1', '23', 'Other', 'NA'),
	('3492', '11488', '47411.89', '8.04', '24', '354', '54968.7', 'Unemployed', '0.32', 'Car', '7', '0', '43', 'Mortgage', 'Late'),
	('3493', '54760', '20953.24', '8.01', '12', '478', '122110.89', 'Unemployed', '0.83', 'Home', '3', '0', '41', 'Rent', 'Late'),
	('3494', '66869', '38863.54', '24.85', '12', '668', '73226.71', 'Unemployed', '0.09', 'Other', '9', '1', '57', 'Own', 'Late'),
	('3495', '62826', '25950.11', '13.245', '36', '604', '85420.16', 'Unemployed', '0.44', 'Car', '1', '1', '37', 'Rent', 'Current'),
	('3496', '19292', '34250.8', '13.245', '72', '693', '841599.7', 'Self-employed', '0.25', 'Car', '1', '0', '43', 'Rent', 'NA'),
	('3497', '23011', '1649.85', '20.33', '12', '449', '88375.31', 'Self-employed', '0.85', 'Car', '7', '0', '47', 'Mortgage', 'Paid Off'),
	('3498', '39456', '21831.05', '12.05', '60', '586', '72090.81', 'Unemployed', '0.67', 'Education', '5', '1', '57', 'Rent', 'Paid Off'),
	('3499', '21256', '33338.75', '17.38', '12', '328', '134558.51', 'Self-employed', '0.71', 'Home', '8', '0', '51', 'Mortgage', 'Late'),
	('3500', '54760', '43300.35', '15.52', '72', '628', '56229.64', 'Self-employed', '0.93', 'Business', '0', '0', '51', 'Rent', 'Late'),
	('3501', '87795', '2598.53', '5.28', '48', '403', '54259.9', 'Unemployed', '0.48', 'Business', '1', '1', '19', 'Rent', 'Late'),
	('3502', '58649', '47150.36', '4.83', '72', '849', '142076.82', 'Self-employed', '0.48', 'Home', '0', '0', '56', 'Own', 'Late'),
	('3503', '47241', '44353.27', '19.37', '60', '550', '38511.56', 'Unemployed', '0.72', 'Other', '9', '0', '37', 'Mortgage', 'Current'),
	('3504', '99886', '43807.24', '7.51', '72', '490', '20825.14', 'Others', '0.99', 'Personal', '6', '1', '40', 'Own', 'Paid Off'),
	('3505', '64294', '32490.82', '18.39', '72', '449', '109762.44', 'Others', '0.63', 'Business', 'Unreported', '0', '63', 'Own', 'Current'),
	('3506', '91514', '23866.25', '2.53', '48', '753', '35095.67', 'Self-employed', '0.48', 'Personal', '0', '1', '31', 'Rent', 'Current'),
	('3507', '89172', '40395.7', '24.45', '36', '512', '89368.34', 'Employed', '0.67', 'Home', '9', '1', '45', 'Mortgage', 'Late'),
	('3508', '21630', '11102.54', '13.51', '36', '783', '53777.78', 'Employed', '0.36', 'Other', '8', '1', '54', 'Rent', 'Paid Off'),
	('3509', '15199', '15322.29', '11.86', '12', '562', '62410.89', 'Employed', '0.31', 'Other', '6', '1', '41', 'Own', 'Current'),
	('3510', '35455', '9461.97', '20.28', '24', '548', '116207.59', 'Employed', '0.48', 'Personal', '9', '1', '49', 'Rent', 'Late'),
	('3511', '54760', '49901.11', '13.245', '60', '351', '85420.16', 'Self-employed', '0.93', 'Home', '4', '0', '60', 'Own', 'NA'),
	('3512', '71809', '10416.88', '17.8', '48', '388', '49484.35', 'Self-employed', '0.79', 'Business', '3', '0', '41', 'Rent', 'Current'),
	('3513', '67959', '25320.265', '2.55', '72', '649', '134642.69', 'Self-employed', '0.34', 'Education', '1', '1', '22', 'Other', 'Current'),
	('3514', '20786', '23641.54', '23.11', '60', '730', '121489.71', 'Unemployed', '0.34', 'Education', '3', '0', '43', 'Own', 'Current'),
	('3515', '24247', '2631.47', '14.61', '24', '773', '85420.16', 'Self-employed', '0.72', 'Car', 'Unreported', '1', '44', 'Mortgage', 'NA'),
	('3516', '27708', '4981.91', '18.76', '60', '552', '116584.09', 'Unemployed', '0.62', 'Home', '5', '1', '21', 'Rent', 'Current'),
	('3517', '99836', '25320.265', '13.245', '72', '364', '30639.1', 'Others', '0.44', 'Home', '3', '1', '43', 'Own', 'Late'),
	('3518', '35194', '37482.59', '11.67', '12', '769', '46773.38', 'Unemployed', '0.01', 'Personal', '5', '1', '53', 'Mortgage', 'Current'),
	('3519', '65553', '25320.265', '4.4', '60', '435', '133834.96', 'Employed', '0.7', 'Personal', 'Unreported', '0', '43', 'Other', 'Current'),
	('3520', '54760', '11263.78', '2.78', '72', '325', '57114.43', 'Self-employed', '0.55', 'Home', '3', '0', '28', 'Rent', 'Current'),
	('3521', '45738', '1311.45', '12.88', '36', '498', '58750.24', 'Employed', '0.59', 'Car', '0', '1', '53', 'Own', 'Late'),
	('3522', '92398', '38859.85', '13.245', '12', '651', '61554.4', 'Unemployed', '0.07', 'Education', '3', '1', '33', 'Mortgage', 'NA'),
	('3523', '24187', '16302.63', '10.09', '60', '313', '148292.94', 'Self-employed', '0.48', 'Education', '9', '0', '43', 'Other', 'Paid Off'),
	('3524', '14010', '11487.99', '13.22', '36', '790', '60887.09', 'Unemployed', '0.17', 'Other', '1', '0', '22', 'Rent', 'Paid Off'),
	('3525', '90659', '25320.265', '4.92', '72', '523', '58235.08', 'Self-employed', '0.92', 'Personal', '2', '1', '50', 'Own', 'Paid Off'),
	('3526', '54760', '40631.02', '5.72', '24', '547', '143163.77', 'Employed', '0.12', 'Car', '4', '1', '43', 'Own', 'Current'),
	('3527', '34431', '31411.01', '22.78', '48', '536', '49097.48', 'Unemployed', '0.44', 'Personal', '3', '1', '68', 'Rent', 'Paid Off'),
	('3528', '52490', '32423.74', '6.07', '72', '377', '130434.92', 'Unemployed', '0.75', 'Business', '6', '1', '20', 'Rent', 'Late'),
	('3529', '84684', '46346.43', '14.36', '48', '737', '58295.04', 'Others', '0.34', 'Education', '9', '1', '57', 'Own', 'Paid Off'),
	('3530', '46316', '44698.15', '9.55', '36', '529', '42892.96', 'Employed', '0.64', 'Business', '1', '1', '66', 'Own', 'Late'),
	('3531', '83278', '34342.6', '23.83', '72', '797', '85420.16', 'Others', '0.78', 'Car', '9', '1', '20', 'Own', 'NA'),
	('3532', '87707', '48090.32', '4.24', '24', '633', '72475.38', 'Self-employed', '0.6', 'Education', '4', '0', '22', 'Own', 'Late'),
	('3533', '66315', '12219.09', '13.245', '60', '390', '103781.24', 'Self-employed', '0.28', 'Home', '4', '0', '33', 'Own', 'NA'),
	('3534', '98753', '1960.51', '8.88', '24', '720', '33898.38', 'Self-employed', '0.98', 'Personal', '6', '1', '22', 'Rent', 'Current'),
	('3535', '26999', '46163.63', '10.31', '60', '633', '70392.18', 'Employed', '0.48', 'Personal', '0', '1', '58', 'Mortgage', 'Current'),
	('3536', '54760', '13952.07', '4.22', '36', '445', '106494.93', 'Unemployed', '0.88', 'Personal', '9', '1', '43', 'Own', 'Paid Off'),
	('3537', '68392', '25320.265', '5.56', '36', '330', '132036.66', 'Self-employed', '0.48', 'Education', '8', '1', '40', 'Rent', 'Paid Off'),
	('3538', '94762', '11977.91', '21.91', '24', '799', '23758.14', 'Employed', '0.3', 'Business', '7', '1', '29', 'Rent', 'Current'),
	('3539', '63044', '14644.52', '13.06', '60', '784', '27481.85', 'Self-employed', '0.82', 'Other', '2', '0', '46', 'Own', 'Late'),
	('3540', '20709', '45563.04', '13.245', '36', '671', '117359.77', 'Unemployed', '0.29', 'Business', '9', '1', '59', 'Mortgage', 'Paid Off'),
	('3541', '91614', '25320.265', '13.245', '60', '432', '48316.22', 'Unemployed', '0.71', 'Home', '0', '0', '65', 'Mortgage', 'Paid Off'),
	('3542', '78765', '5772.17', '13.245', '36', '514', '85913.95', 'Employed', '0.51', 'Business', '0', '1', '43', 'Other', 'Paid Off'),
	('3543', '13969', '29198.09', '7.84', '36', '381', '22044.66', 'Unemployed', '0.93', 'Car', '6', '1', '21', 'Rent', 'Paid Off'),
	('3544', '52190', '25320.265', '22.16', '48', '739', '86224.88', 'Employed', '0.9', 'Education', '3', '1', '38', 'Own', 'Late'),
	('3545', '53264', '4511.91', '18.97', '24', '660', '94342.51', 'Employed', '0.37', 'Business', 'Unreported', '1', '41', 'Mortgage', 'Current'),
	('3546', '79025', '31006.71', '24.88', '72', '486', '143459.49', 'Self-employed', '0.73', 'Car', '5', '1', '33', 'Own', 'Late'),
	('3547', '27056', '4824.57', '3.81', '36', '399', '91742.03', 'Employed', '0.8', 'Personal', '0', '0', '34', 'Mortgage', 'NA'),
	('3548', '76301', '24122.85', '16.25', '24', '730', '119580.69', 'Self-employed', '0.39', 'Car', '4', '0', '43', 'Own', 'Paid Off'),
	('3549', '98805', '25320.265', '7.99', '36', '645', '105781.76', 'Unemployed', '0.42', 'Other', '3', '1', '25', 'Own', 'Paid Off'),
	('3550', '75733', '47016.03', '5.51', '12', '583', '85420.16', 'Employed', '1', 'Business', '2', '0', '24', 'Own', 'Late'),
	('3551', '85678', '46142.34', '8.67', '36', '665', '21991.89', 'Employed', '0.4', 'Education', '9', '1', '62', 'Own', 'Current'),
	('3552', '54760', '30765.42', '18.72', '12', '322', '42454.63', 'Self-employed', '0.58', 'Business', '9', '0', '43', 'Other', 'Paid Off'),
	('3553', '37753', '25632.91', '16.46', '12', '694', '143478.83', 'Employed', '0.31', 'Education', '5', '0', '25', 'Own', 'Late'),
	('3554', '54760', '32869.17', '9.22', '36', '795', '76587.52', 'Others', '0.75', 'Home', 'Unreported', '1', '41', 'Mortgage', 'Current'),
	('3555', '36098', '46323.31', '4.41', '36', '711', '57728.65', 'Employed', '0.55', 'Home', '6', '1', '65', 'Own', 'Paid Off'),
	('3556', '30853', '49556.08', '4.85', '48', '382', '80484.47', 'Self-employed', '0.01', 'Education', '5', '0', '39', 'Rent', 'NA'),
	('3557', '82583', '2621.43', '16.03', '12', '520', '60012.16', 'Unemployed', '0.18', 'Education', '7', '1', '51', 'Mortgage', 'NA'),
	('3558', '65294', '48508.05', '12.93', '24', '623', '26526.51', 'Self-employed', '0.48', 'Personal', '4', '1', '22', 'Other', 'Current'),
	('3559', '58469', '40356.11', '13.245', '72', '737', '136462.9', 'Unemployed', '0.77', 'Education', '6', '1', '44', 'Mortgage', 'Current'),
	('3560', '35630', '4675.24', '4.23', '72', '597', '131716.76', 'Self-employed', '0.15', 'Home', '2', '1', '43', 'Rent', 'Late'),
	('3561', '33560', '40208.23', '13.35', '60', '730', '106831.74', 'Self-employed', '0.4', 'Other', '5', '1', '24', 'Own', 'Late'),
	('3562', '30077', '33469.01', '8.09', '12', '426', '29099.35', 'Employed', '0.57', 'Personal', '4', '0', '22', 'Mortgage', 'Current'),
	('3563', '62693', '45381.16', '22.09', '72', '455', '81538.19', 'Employed', '0.07', 'Personal', '4', '1', '37', 'Own', 'Paid Off'),
	('3564', '87049', '23432.07', '13.245', '12', '560', '52113.64', 'Self-employed', '0.38', 'Business', 'Unreported', '0', '69', 'Mortgage', 'Current'),
	('3565', '54760', '25663.58', '11.6', '48', '446', '41225.26', 'Unemployed', '0.39', 'Home', '8', '1', '44', 'Mortgage', 'Paid Off'),
	('3566', '40784', '42028.35', '23.15', '72', '434', '118396.08', 'Unemployed', '0.9', 'Other', '5', '1', '42', 'Mortgage', 'Paid Off'),
	('3567', '12651', '24705.6', '14.86', '48', '766', '26502.43', 'Self-employed', '0.07', 'Business', '7', '1', '55', 'Rent', 'Paid Off'),
	('3568', '57154', '26792.03', '21.07', '12', '564', '133013.33', 'Self-employed', '0.4', 'Personal', '0', '1', '23', 'Own', 'Current'),
	('3569', '62400', '12973.59', '15.65', '36', '645', '116956.06', 'Others', '0.16', 'Car', '8', '0', '27', 'Other', 'Current'),
	('3570', '34025', '17190.7', '23.69', '60', '317', '65062.38', 'Unemployed', '0.26', 'Car', '9', '0', '43', 'Own', 'Paid Off'),
	('3571', '47447', '25320.265', '4.04', '60', '351', '101172.74', 'Unemployed', '0.48', 'Car', '4', '1', '39', 'Rent', 'Paid Off'),
	('3572', '54760', '3237.5', '19.89', '12', '637', '77604.19', 'Employed', '0.48', 'Home', '5', '1', '40', 'Own', 'Current'),
	('3573', '62622', '29568.66', '2.95', '72', '556', '120596.01', 'Unemployed', '0.73', 'Business', '9', '0', '39', 'Own', 'Paid Off'),
	('3574', '41609', '42289.92', '4.47', '60', '766', '125272.04', 'Unemployed', '0.68', 'Education', '0', '0', '25', 'Mortgage', 'Late'),
	('3575', '48014', '38745.32', '20.59', '72', '721', '93081.74', 'Employed', '0.66', 'Education', '5', '0', '44', 'Mortgage', 'Late'),
	('3576', '16280', '13082.7', '18.7', '72', '714', '64452.04', 'Employed', '0.36', 'Home', '9', '1', '43', 'Mortgage', 'Late'),
	('3577', '82983', '29729.17', '15.68', '48', '405', '73800.26', 'Unemployed', '0.74', 'Education', '1', '0', '42', 'Rent', 'Late'),
	('3578', '79453', '25031.1', '23.08', '36', '736', '103552.52', 'Unemployed', '0.2', 'Car', '6', '1', '35', 'Rent', 'NA'),
	('3579', '34616', '41011.14', '13.245', '72', '730', '30799.39', 'Self-employed', '0.4', 'Education', '0', '1', '68', 'Mortgage', 'Current'),
	('3580', '86929', '18320.52', '2.13', '36', '506', '135069.7', 'Self-employed', '0.51', 'Car', '0', '0', '43', 'Rent', 'Current'),
	('3581', '68142', '25320.265', '3.65', '36', '763', '53151.92', 'Employed', '0.56', 'Car', '2', '0', '45', 'Rent', 'Paid Off'),
	('3582', '40567', '44476.51', '18.65', '36', '690', '148761.65', 'Employed', '0.99', 'Personal', '3', '0', '38', 'Other', 'Current'),
	('3583', '65111', '33843.74', '7.97', '36', '578', '56217.63', 'Employed', '0.14', 'Other', '7', '1', '63', 'Rent', 'Late'),
	('3584', '70885', '9911.06', '15.46', '72', '606', '98221.39', 'Unemployed', '0.49', 'Home', '7', '1', '43', 'Own', 'Late'),
	('3585', '22248', '11079.5', '12.11', '72', '375', '72243.59', 'Unemployed', '0.6', 'Other', '2', '1', '46', 'Mortgage', 'Paid Off'),
	('3586', '68661', '20511.79', '7.34', '12', '847', '55593.87', 'Employed', '0.25', 'Education', '4', '0', '32', 'Own', 'Late'),
	('3587', '25147', '24343.02', '19.1', '36', '439', '109531.6', 'Employed', '0.23', 'Personal', '3', '1', '49', 'Rent', 'Current'),
	('3588', '82123', '17184.71', '2.7', '60', '766', '102680.36', 'Self-employed', '0.36', 'Home', '9', '0', '38', 'Rent', 'Paid Off'),
	('3589', '21940', '26267.85', '17.79', '72', '496', '108300.94', 'Employed', '0.59', 'Car', '5', '1', '28', 'Mortgage', 'Late'),
	('3590', '66137', '25320.265', '13.245', '12', '365', '41029.55', 'Others', '0.04', 'Business', '2', '0', '51', 'Mortgage', 'Current'),
	('3591', '98040', '31868.07', '3.92', '48', '730', '96075.85', 'Unemployed', '0.32', 'Business', '8', '0', '33', 'Rent', 'NA'),
	('3592', '12960', '19106.93', '8.43', '36', '759', '35593.01', 'Employed', '0.64', 'Car', '5', '1', '43', 'Own', 'Paid Off'),
	('3593', '54760', '25320.265', '23.25', '48', '780', '85420.16', 'Unemployed', '0.62', 'Other', 'Unreported', '0', '33', 'Rent', 'Late'),
	('3594', '88211', '35090.43', '12.66', '36', '416', '89770.93', 'Unemployed', '0.15', 'Education', '1', '0', '59', 'Rent', 'Paid Off'),
	('3595', '48439', '30092.47', '15.41', '60', '730', '34821.93', 'Employed', '0.42', 'Business', '6', '1', '43', 'Rent', 'Paid Off'),
	('3596', '26805', '26309.39', '19.8', '24', '705', '104749.28', 'Unemployed', '0.48', 'Business', '6', '0', '43', 'Rent', 'Paid Off'),
	('3597', '32010', '5304.02', '21.67', '48', '477', '83371.91', 'Unemployed', '0.79', 'Other', '0', '0', '21', 'Mortgage', 'Current'),
	('3598', '87224', '30053.82', '4.37', '24', '439', '29067.22', 'Self-employed', '0.77', 'Car', '2', '1', '59', 'Own', 'Late'),
	('3599', '24906', '20514.7', '14.25', '24', '767', '84992.18', 'Self-employed', '0.81', 'Personal', '8', '1', '66', 'Own', 'Current'),
	('3600', '62707', '27966.12', '6.75', '60', '344', '64106.93', 'Others', '0.04', 'Education', '9', '1', '51', 'Own', 'Paid Off'),
	('3601', '75153', '7079.19', '17.96', '12', '730', '85420.16', 'Others', '0.1', 'Personal', '6', '0', '43', 'Mortgage', 'Current'),
	('3602', '30995', '39522.7', '23.72', '24', '763', '62361.3', 'Self-employed', '0.28', 'Car', '3', '1', '61', 'Mortgage', 'Current'),
	('3603', '96539', '26085.85', '3.08', '24', '730', '57364.8', 'Employed', '0.63', 'Home', '7', '1', '43', 'Own', 'Current'),
	('3604', '24176', '41715.6', '16.85', '72', '596', '32831.6', 'Unemployed', '0.02', 'Education', '6', '1', '43', 'Mortgage', 'NA'),
	('3605', '54760', '11133.8', '16.76', '36', '550', '51413.8', 'Unemployed', '0.38', 'Education', '6', '0', '57', 'Own', 'Paid Off'),
	('3606', '49730', '46966.12', '11.54', '48', '661', '30615.79', 'Employed', '0.66', 'Business', '7', '0', '29', 'Mortgage', 'Current'),
	('3607', '54760', '29331.05', '16.42', '48', '350', '85420.16', 'Employed', '0.54', 'Other', '5', '1', '40', 'Mortgage', 'NA'),
	('3608', '96582', '4708.6', '10.97', '36', '608', '85420.16', 'Others', '0.48', 'Education', '7', '0', '43', 'Own', 'Current'),
	('3609', '23366', '16372.17', '24.7', '60', '740', '109247.1', 'Self-employed', '0.48', 'Education', '9', '0', '21', 'Rent', 'Paid Off'),
	('3610', '50559', '49151.56', '13.245', '24', '730', '72995.24', 'Self-employed', '0.87', 'Car', 'Unreported', '0', '40', 'Rent', 'Paid Off'),
	('3611', '52839', '31053.37', '20.97', '48', '467', '62179.1', 'Unemployed', '0.43', 'Personal', '7', '1', '43', 'Other', 'Current'),
	('3612', '54760', '21567.61', '23.38', '72', '727', '61107.72', 'Self-employed', '0.4', 'Home', '0', '0', '38', 'Mortgage', 'Late'),
	('3613', '29777', '45868.88', '13.245', '48', '465', '126063.59', 'Unemployed', '0.62', 'Education', '0', '1', '40', 'Mortgage', 'Current'),
	('3614', '26866', '18702.95', '17.53', '36', '740', '85420.16', 'Self-employed', '0.46', 'Other', '1', '0', '59', 'Other', 'Current'),
	('3615', '56861', '37610.14', '18.19', '48', '376', '138632.67', 'Unemployed', '0.22', 'Business', '4', '0', '28', 'Mortgage', 'Current'),
	('3616', '54760', '8166.99', '13.245', '48', '730', '44085.48', 'Others', '0.04', 'Car', '6', '0', '47', 'Other', 'Current'),
	('3617', '88878', '35160.83', '8.26', '36', '380', '66975.26', 'Unemployed', '0.18', 'Education', '2', '0', '53', 'Mortgage', 'Paid Off'),
	('3618', '17509', '25080.55', '12.52', '24', '830', '131021.41', 'Unemployed', '0.48', 'Home', '3', '0', '53', 'Rent', 'Current'),
	('3619', '95585', '21806.83', '11.75', '24', '782', '76515.68', 'Unemployed', '0.7', 'Home', 'Unreported', '1', '43', 'Own', 'Late'),
	('3620', '12979', '12348.85', '5.74', '24', '733', '106566.68', 'Unemployed', '0.6', 'Other', '3', '0', '32', 'Rent', 'Paid Off'),
	('3621', '68246', '49385.34', '9.42', '12', '759', '86371.99', 'Self-employed', '0.9', 'Car', '7', '0', '25', 'Rent', 'Late'),
	('3622', '85800', '25320.265', '13.245', '72', '485', '98334.63', 'Self-employed', '0.26', 'Business', '9', '0', '39', 'Rent', 'Paid Off'),
	('3623', '64306', '10971.1', '13.245', '60', '511', '121117.69', 'Employed', '0.9', 'Business', '2', '0', '31', 'Own', 'Late'),
	('3624', '74503', '25320.265', '13.245', '24', '409', '80922.03', 'Self-employed', '0.03', 'Business', '0', '1', '43', 'Rent', 'Current'),
	('3625', '23928', '7424.9', '10.41', '36', '730', '131764.3', 'Employed', '0.84', 'Home', '8', '1', '23', 'Other', 'NA'),
	('3626', '10358', '46830.9', '23.52', '36', '498', '110095.95', 'Unemployed', '0.42', 'Home', '2', '0', '43', 'Mortgage', 'Late'),
	('3627', '60909', '45608.69', '8.67', '48', '730', '50870.64', 'Employed', '0.7', 'Car', '6', '0', '60', 'Rent', 'Current'),
	('3628', '52501', '25320.265', '13.245', '12', '567', '128930.87', 'Self-employed', '0.33', 'Business', '3', '0', '25', 'Rent', 'Late'),
	('3629', '54760', '25127.63', '21.61', '24', '802', '61928.71', 'Employed', '0.68', 'Personal', '9', '1', '28', 'Rent', 'Late'),
	('3630', '78505', '4042.44', '13.245', '48', '611', '41073.97', 'Others', '0.92', 'Education', '9', '0', '18', 'Mortgage', 'Late'),
	('3631', '32254', '42129.27', '22.63', '12', '546', '63098.36', 'Employed', '0.5', 'Business', '3', '0', '65', 'Rent', 'Current'),
	('3632', '16182', '25320.265', '13.245', '24', '730', '120350.42', 'Self-employed', '0.48', 'Other', '1', '0', '49', 'Other', 'Current'),
	('3633', '74827', '20271.16', '12.17', '24', '427', '115420.13', 'Self-employed', '0.77', 'Other', '5', '0', '36', 'Other', 'Current'),
	('3634', '77790', '25320.265', '11.98', '48', '738', '124795.6', 'Others', '0.24', 'Home', '5', '1', '65', 'Other', 'Paid Off'),
	('3635', '62297', '33308.73', '5.75', '24', '570', '105369.26', 'Employed', '0.07', 'Business', '4', '1', '41', 'Own', 'Late'),
	('3636', '38143', '23813.37', '13.75', '48', '412', '51640.56', 'Employed', '0.31', 'Car', '0', '1', '43', 'Mortgage', 'Paid Off'),
	('3637', '54760', '14386.33', '3.2', '36', '818', '85420.16', 'Others', '0.3', 'Car', '0', '1', '41', 'Own', 'Current'),
	('3638', '59180', '15576.79', '24.29', '48', '697', '26943.84', 'Self-employed', '0.69', 'Personal', '9', '0', '60', 'Rent', 'Current'),
	('3639', '60575', '26348.34', '11.7', '24', '449', '119078.52', 'Employed', '0.96', 'Other', '8', '0', '57', 'Rent', 'Late'),
	('3640', '10647', '49732.02', '21.18', '36', '753', '144878.55', 'Self-employed', '0.23', 'Other', '7', '1', '32', 'Rent', 'Late'),
	('3641', '15791', '25006.36', '9.07', '48', '335', '105826.1', 'Employed', '0.47', 'Personal', 'Unreported', '0', '48', 'Other', 'Paid Off'),
	('3642', '17339', '3734.07', '8.6', '36', '699', '53601.9', 'Employed', '0.11', 'Education', '5', '1', '57', 'Rent', 'Current'),
	('3643', '40159', '25320.265', '15.89', '24', '466', '85420.16', 'Employed', '0.65', 'Business', 'Unreported', '1', '39', 'Mortgage', 'Late'),
	('3644', '78380', '15992.57', '19.76', '36', '847', '22296.86', 'Unemployed', '0.84', 'Home', '3', '1', '59', 'Rent', 'NA'),
	('3645', '88206', '2951.44', '9.55', '12', '306', '64732.39', 'Self-employed', '0.67', 'Business', '5', '1', '25', 'Other', 'Current'),
	('3646', '18374', '4542', '18.94', '36', '488', '112693.15', 'Others', '0.52', 'Business', '4', '1', '50', 'Own', 'Current'),
	('3647', '16262', '9385.6', '4.43', '24', '449', '111136.41', 'Unemployed', '0.44', 'Car', '9', '1', '63', 'Own', 'NA'),
	('3648', '38758', '32073.66', '3.69', '12', '550', '133596.21', 'Self-employed', '0.52', 'Other', '7', '1', '46', 'Own', 'Paid Off'),
	('3649', '54760', '19031.32', '4.06', '12', '345', '108567.37', 'Self-employed', '0.48', 'Business', '6', '1', '43', 'Rent', 'Current'),
	('3650', '65794', '45947.7', '8.49', '72', '651', '145854.82', 'Unemployed', '0.23', 'Personal', '8', '1', '63', 'Mortgage', 'Late'),
	('3651', '23436', '25320.265', '13.99', '72', '841', '32046.37', 'Employed', '0.35', 'Car', '1', '0', '49', 'Rent', 'Current'),
	('3652', '12624', '16721.01', '8.9', '36', '843', '54200.38', 'Employed', '0.42', 'Other', '8', '1', '67', 'Mortgage', 'Current'),
	('3653', '77652', '25320.265', '13.245', '12', '532', '59461.56', 'Employed', '0.13', 'Business', '7', '0', '31', 'Mortgage', 'NA'),
	('3654', '32496', '33658.44', '13.57', '72', '774', '114989.25', 'Employed', '0.88', 'Other', 'Unreported', '0', '24', 'Rent', 'Current'),
	('3655', '31712', '1854.5', '13.245', '48', '513', '83397.43', 'Self-employed', '0.36', 'Car', '4', '0', '43', 'Mortgage', 'Paid Off'),
	('3656', '38154', '23691.32', '21.13', '12', '730', '85420.16', 'Employed', '0.87', 'Car', '0', '0', '45', 'Rent', 'Current'),
	('3657', '41434', '45605.87', '15.08', '72', '820', '138438.45', 'Employed', '0.66', 'Personal', '6', '0', '58', 'Other', 'Current'),
	('3658', '79031', '15502.06', '4.72', '72', '668', '33944.48', 'Employed', '0.79', 'Other', '7', '1', '24', 'Own', 'Paid Off'),
	('3659', '17334', '46416.45', '13.245', '12', '811', '36857.44', 'Employed', '0.55', 'Home', '0', '1', '25', 'Rent', 'Paid Off'),
	('3660', '31942', '31152.79', '8.63', '48', '504', '147324.98', 'Employed', '0.96', 'Car', '8', '0', '65', 'Rent', 'Late'),
	('3661', '50700', '29569.14', '7.35', '60', '734', '130769.89', 'Self-employed', '0.96', 'Education', 'Unreported', '1', '52', 'Rent', 'Late'),
	('3662', '15117', '18925.53', '21.95', '60', '500', '107237.08', 'Employed', '0.45', 'Education', '1', '0', '66', 'Rent', 'NA'),
	('3663', '52231', '25320.265', '19.22', '12', '524', '127627.86', 'Unemployed', '0.8', 'Business', '1', '1', '57', 'Mortgage', 'Late'),
	('3664', '30608', '22100.19', '13.35', '72', '470', '29217.76', 'Unemployed', '0.99', 'Other', '3', '1', '51', 'Rent', 'Late'),
	('3665', '74265', '32084.93', '22.2', '60', '728', '142391.97', 'Unemployed', '0.74', 'Home', '6', '0', '27', 'Other', 'Paid Off'),
	('3666', '79036', '32217.18', '12.66', '36', '397', '76028.57', 'Self-employed', '0.45', 'Home', '8', '1', '24', 'Mortgage', 'Paid Off'),
	('3667', '23364', '32526.28', '2.61', '60', '790', '25964.27', 'Employed', '0.19', 'Business', '6', '1', '39', 'Own', 'Late'),
	('3668', '56289', '15996.1', '18.6', '48', '368', '116248.08', 'Employed', '0.11', 'Home', 'Unreported', '1', '48', 'Mortgage', 'Late'),
	('3669', '17524', '43372.33', '13.245', '60', '797', '95931.87', 'Employed', '0.02', 'Business', '8', '0', '60', 'Rent', 'Late'),
	('3670', '47551', '300865.7', '9.44', '48', '636', '406048.9', 'Self-employed', '0.48', 'Education', '7', '0', '43', 'Mortgage', 'Late'),
	('3671', '86485', '20033.83', '13.245', '24', '356', '76162.38', 'Employed', '0.95', 'Education', 'Unreported', '1', '33', 'Mortgage', 'Late'),
	('3672', '70905', '16791.44', '16.3', '72', '318', '126359.08', 'Employed', '0.6', 'Car', '8', '1', '24', 'Rent', 'Paid Off'),
	('3673', '50358', '6570.55', '19.57', '72', '715', '85420.16', 'Unemployed', '0.46', 'Business', '0', '0', '37', 'Mortgage', 'Late'),
	('3674', '85812', '30901.88', '14.27', '36', '616', '85420.16', 'Self-employed', '0.48', 'Other', '2', '1', '41', 'Own', 'Paid Off'),
	('3675', '93332', '39347.76', '15.58', '24', '783', '93566.25', 'Unemployed', '0.48', 'Business', '0', '0', '43', 'Mortgage', 'Current'),
	('3676', '54760', '21700.82', '19.63', '12', '819', '112382.41', 'Self-employed', '0.14', 'Car', '4', '0', '28', 'Own', 'Late'),
	('3677', '11009', '45867.38', '23.76', '24', '390', '24697.35', 'Self-employed', '0.42', 'Business', '6', '1', '66', 'Own', 'Late'),
	('3678', '90075', '25320.265', '18.33', '72', '749', '119870.68', 'Employed', '0.37', 'Business', '5', '1', '65', 'Mortgage', 'Paid Off'),
	('3679', '17207', '24906.58', '2.65', '72', '730', '140691.27', 'Employed', '0.48', 'Car', '3', '1', '48', 'Mortgage', 'Late'),
	('3680', '47085', '32478.86', '10.21', '48', '772', '98909.73', 'Unemployed', '0.4', 'Education', '4', '1', '34', 'Rent', 'NA'),
	('3681', '96763', '28910.6', '13.245', '60', '730', '46722', 'Employed', '0.42', 'Home', 'Unreported', '0', '26', 'Mortgage', 'Current'),
	('3682', '54760', '44585.22', '2.77', '48', '687', '104475.21', 'Others', '0.88', 'Home', '0', '0', '37', 'Rent', 'Paid Off'),
	('3683', '19089', '34517.64', '22.24', '24', '573', '61868.35', 'Employed', '0.73', 'Business', '1', '1', '32', 'Own', 'Late'),
	('3684', '80380', '41426.62', '17.47', '60', '527', '127193.53', 'Employed', '0.22', 'Other', '6', '1', '49', 'Other', 'Late'),
	('3685', '27583', '33444.17', '7.45', '24', '311', '42963.43', 'Employed', '0.9', 'Business', 'Unreported', '0', '68', 'Rent', 'Paid Off'),
	('3686', '71804', '17867.93', '12.04', '60', '763', '39073.77', 'Employed', '0.68', 'Business', '0', '1', '48', 'Rent', 'Paid Off'),
	('3687', '18618', '14356.61', '2.67', '60', '564', '67485.97', 'Employed', '0.52', 'Car', '7', '1', '38', 'Rent', 'Paid Off'),
	('3688', '13836', '18148.11', '3.62', '12', '520', '71460.72', 'Self-employed', '0.81', 'Education', '1', '1', '23', 'Own', 'Paid Off'),
	('3689', '70974', '21000.73', '14.66', '24', '800', '82330.65', 'Self-employed', '0.42', 'Car', '3', '0', '59', 'Mortgage', 'Late'),
	('3690', '19191', '41513.57', '7.22', '36', '730', '148438.57', 'Unemployed', '0.7', 'Business', '2', '1', '43', 'Other', 'Paid Off'),
	('3691', '99551', '35835.87', '13.245', '48', '398', '83492.62', 'Self-employed', '0.51', 'Home', '5', '0', '63', 'Other', 'Paid Off'),
	('3692', '90493', '41515.28', '23.77', '24', '754', '73923.83', 'Unemployed', '0.81', 'Business', '7', '0', '30', 'Mortgage', 'Current'),
	('3693', '95722', '46331.68', '17.02', '72', '719', '46293.27', 'Employed', '0.02', 'Personal', '0', '1', '43', 'Own', 'Current'),
	('3694', '44344', '40925.06', '3', '36', '524', '145211.6', 'Unemployed', '0.48', 'Personal', '5', '0', '31', 'Rent', 'Paid Off'),
	('3695', '89696', '25320.265', '8.81', '24', '382', '131504.26', 'Unemployed', '0.48', 'Business', '0', '0', '18', 'Own', 'Late'),
	('3696', '38075', '47543.21', '6.21', '36', '415', '85420.16', 'Others', '0.38', 'Education', '9', '0', '43', 'Own', 'Paid Off'),
	('3697', '53868', '16727.13', '24.04', '12', '522', '32792.76', 'Others', '0.02', 'Business', '8', '1', '19', 'Own', 'Current'),
	('3698', '71888', '20223.05', '9.04', '24', '450', '31695.6', 'Others', '0.24', 'Education', '8', '1', '32', 'Own', 'Current'),
	('3699', '32079', '29185.08', '16', '36', '630', '123882.53', 'Employed', '0.4', 'Education', '1', '1', '36', 'Other', 'NA'),
	('3700', '60220', '34836.76', '13.96', '36', '570', '22688.46', 'Unemployed', '0.1', 'Education', '3', '1', '66', 'Own', 'NA'),
	('3701', '94861', '23770.58', '22.86', '72', '402', '114738.33', 'Others', '0.29', 'Education', '5', '1', '63', 'Own', 'Paid Off'),
	('3702', '41362', '39600.68', '2.12', '48', '642', '113714.98', 'Unemployed', '0.36', 'Car', '9', '1', '24', 'Rent', 'Late'),
	('3703', '87334', '31968.33', '9.5', '48', '719', '92558.73', 'Self-employed', '0.12', 'Home', '1', '1', '32', 'Own', 'Late'),
	('3704', '33932', '30197.64', '6.01', '48', '634', '148063.63', 'Employed', '0.3', 'Car', '7', '0', '61', 'Rent', 'Current'),
	('3705', '48808', '8124.36', '19.98', '36', '666', '51078.42', 'Self-employed', '0.34', 'Home', '0', '0', '49', 'Other', 'Paid Off'),
	('3706', '91836', '9394.41', '10.95', '36', '401', '87054.65', 'Self-employed', '0.53', 'Personal', '0', '1', '47', 'Mortgage', 'Paid Off'),
	('3707', '34403', '16351.07', '21.25', '36', '796', '69183.73', 'Unemployed', '0.43', 'Business', '5', '1', '54', 'Own', 'Late'),
	('3708', '42478', '25320.265', '14.15', '12', '441', '85420.16', 'Self-employed', '0.4', 'Home', '2', '0', '26', 'Rent', 'Paid Off'),
	('3709', '48861', '25320.265', '23.85', '48', '559', '81061.76', 'Employed', '0.43', 'Personal', '0', '1', '58', 'Mortgage', 'Current'),
	('3710', '64663', '48052.31', '12.18', '36', '725', '145014.94', 'Employed', '0.41', 'Business', '6', '1', '21', 'Mortgage', 'Paid Off'),
	('3711', '88133', '24378.25', '10.05', '36', '358', '43788.4', 'Unemployed', '0.34', 'Car', 'Unreported', '0', '61', 'Mortgage', 'Paid Off'),
	('3712', '43269', '22362.1', '18.94', '36', '730', '148994.19', 'Self-employed', '0.5', 'Home', '3', '1', '51', 'Own', 'Paid Off'),
	('3713', '37966', '42497.11', '6.22', '60', '810', '92314.9', 'Self-employed', '0.34', 'Education', '7', '0', '68', 'Own', 'Paid Off'),
	('3714', '54760', '41742.33', '16.74', '24', '716', '80376.96', 'Self-employed', '0.1', 'Personal', '9', '1', '53', 'Mortgage', 'Late'),
	('3715', '88794', '7565.22', '13.245', '72', '683', '33482.34', 'Unemployed', '0.61', 'Business', '0', '0', '52', 'Rent', 'Paid Off'),
	('3716', '27193', '40775.48', '18.69', '48', '654', '75518.35', 'Unemployed', '0.17', 'Business', '9', '0', '48', 'Own', 'Paid Off'),
	('3717', '15026', '26024.46', '19.81', '24', '753', '100647.85', 'Unemployed', '0.68', 'Other', '4', '1', '62', 'Mortgage', 'Late'),
	('3718', '60350', '16833.23', '5.04', '36', '611', '55146.93', 'Employed', '0.73', 'Business', '6', '1', '62', 'Mortgage', 'Late'),
	('3719', '21517', '6310.58', '13.245', '48', '730', '89147.99', 'Others', '0.34', 'Business', '6', '0', '34', 'Mortgage', 'Late'),
	('3720', '35288', '30019.16', '4.09', '24', '449', '102965.27', 'Self-employed', '0.23', 'Other', '2', '0', '19', 'Rent', 'Late'),
	('3721', '89477', '39236.24', '19.14', '24', '455', '28688.42', 'Others', '0.76', 'Home', '4', '0', '43', 'Rent', 'Paid Off'),
	('3722', '11335', '44398.05', '23.04', '60', '569', '85420.16', 'Employed', '0.98', 'Home', '7', '1', '62', 'Other', 'Late'),
	('3723', '26341', '48609.34', '16.84', '36', '680', '49871.46', 'Unemployed', '0.36', 'Home', '1', '0', '47', 'Own', 'Current'),
	('3724', '54760', '7036.24', '13.245', '72', '533', '35035.64', 'Others', '0.32', 'Education', '6', '0', '67', 'Own', 'Current'),
	('3725', '61719', '20442.42', '18.56', '12', '730', '85420.16', 'Employed', '0.4', 'Business', '7', '0', '60', 'Rent', 'Paid Off'),
	('3726', '43016', '3385.15', '7.1', '36', '341', '55711.44', 'Others', '0.48', 'Education', 'Unreported', '1', '36', 'Own', 'Late'),
	('3727', '79717', '32151.46', '8.94', '24', '546', '80045.85', 'Self-employed', '0.06', 'Home', '2', '0', '36', 'Rent', 'Late'),
	('3728', '35686', '44495.81', '21.17', '24', '630', '94968.09', 'Self-employed', '0.67', 'Home', '4', '0', '43', 'Other', 'Paid Off'),
	('3729', '75555', '34675.89', '4.08', '72', '754', '85420.16', 'Self-employed', '0.32', 'Other', '4', '1', '46', 'Rent', 'Late'),
	('3730', '56406', '20046.75', '15.51', '60', '827', '85420.16', 'Self-employed', '0.48', 'Education', '0', '0', '68', 'Other', 'Late'),
	('3731', '13579', '38236.27', '22.37', '24', '668', '41954.82', 'Self-employed', '0.76', 'Home', '7', '1', '62', 'Rent', 'Paid Off'),
	('3732', '63605', '49834.03', '3.89', '72', '750', '130443.42', 'Self-employed', '0.48', 'Home', '1', '1', '35', 'Other', 'Current'),
	('3733', '60518', '1054.98', '5.91', '36', '608', '123965.26', 'Employed', '0.21', 'Personal', '8', '1', '64', 'Rent', 'Paid Off'),
	('3734', '79699', '41574.73', '13.245', '24', '364', '80466.63', 'Employed', '0.38', 'Business', '8', '0', '43', 'Rent', 'NA'),
	('3735', '47789', '16987.31', '13.245', '48', '342', '32718.31', 'Employed', '0.15', 'Education', '0', '0', '46', 'Own', 'Paid Off'),
	('3736', '21157', '37606.26', '20.46', '36', '432', '68738.54', 'Employed', '0.4', 'Other', '2', '0', '67', 'Rent', 'Late'),
	('3737', '35809', '12615', '16.39', '24', '828', '112757.72', 'Employed', '0.12', 'Home', '3', '1', '22', 'Own', 'Current'),
	('3738', '79359', '10889.2', '7.14', '12', '314', '107231.85', 'Employed', '0.5', 'Other', '9', '0', '43', 'Mortgage', 'Current'),
	('3739', '12523', '40670.31', '11.91', '48', '730', '131543', 'Employed', '0.75', 'Business', '6', '0', '22', 'Mortgage', 'Current'),
	('3740', '24593', '38602.02', '15.26', '36', '666', '103215.78', 'Self-employed', '0.36', 'Education', '9', '1', '30', 'Rent', 'Paid Off'),
	('3741', '29105', '40749.8', '18.07', '24', '681', '149903.63', 'Self-employed', '0.48', 'Education', 'Unreported', '1', '47', 'Own', 'Late'),
	('3742', '23675', '38109.67', '10.25', '48', '681', '50997.14', 'Self-employed', '0.71', 'Business', 'Unreported', '1', '34', 'Own', 'Late'),
	('3743', '97143', '5697.24', '10.27', '36', '730', '22175.71', 'Self-employed', '0.74', 'Car', '7', '0', '40', 'Other', 'Paid Off'),
	('3744', '78345', '25320.265', '11.01', '36', '482', '109838.58', 'Employed', '0.49', 'Home', '4', '0', '24', 'Own', 'Current'),
	('3745', '58478', '19503.26', '5.74', '48', '573', '128356.6', 'Unemployed', '0.43', 'Business', '7', '0', '57', 'Own', 'NA'),
	('3746', '86214', '11763.56', '2.97', '24', '765', '58036.32', 'Others', '0.35', 'Business', '1', '0', '49', 'Mortgage', 'Late'),
	('3747', '36575', '28810.78', '16.26', '72', '817', '135963.54', 'Employed', '0.08', 'Car', '2', '0', '60', 'Rent', 'Late'),
	('3748', '71180', '17947.37', '12.58', '36', '695', '95257.03', 'Unemployed', '0.61', 'Car', '9', '0', '43', 'Rent', 'Paid Off'),
	('3749', '79939', '35783.62', '8.51', '36', '363', '71989.44', 'Self-employed', '0.17', 'Education', '9', '1', '45', 'Rent', 'Late'),
	('3750', '61629', '25320.265', '13.245', '60', '305', '31546.46', 'Employed', '0.57', 'Home', '5', '0', '48', 'Own', 'Paid Off'),
	('3751', '84984', '42655.27', '4.18', '36', '530', '62890.88', 'Self-employed', '0.4', 'Personal', '0', '0', '23', 'Rent', 'Current'),
	('3752', '95341', '49684.37', '10.88', '36', '730', '61680.34', 'Employed', '0.38', 'Home', '9', '1', '52', 'Mortgage', 'Current'),
	('3753', '67476', '40178.63', '16.21', '24', '605', '132487.93', 'Employed', '0.71', 'Car', '8', '0', '43', 'Other', 'Current'),
	('3754', '70088', '7935.9', '23.42', '60', '760', '46448.67', 'Employed', '0.31', 'Other', '3', '1', '30', 'Own', 'Late'),
	('3755', '25792', '38369.5', '13.46', '36', '623', '85420.16', 'Employed', '0.72', 'Personal', '8', '1', '36', 'Own', 'Paid Off'),
	('3756', '97928', '28778.08', '7.65', '36', '730', '85420.16', 'Unemployed', '0.09', 'Personal', '2', '0', '67', 'Own', 'Late'),
	('3757', '43258', '28595.88', '12.23', '72', '361', '121014.94', 'Employed', '0.18', 'Education', '2', '1', '63', 'Mortgage', 'Paid Off'),
	('3758', '76320', '25320.265', '6.94', '48', '498', '29710.84', 'Unemployed', '0.15', 'Other', '0', '1', '43', 'Rent', 'Late'),
	('3759', '43845', '8875.92', '22.88', '36', '615', '89382.16', 'Unemployed', '0.8', 'Other', '0', '1', '34', 'Mortgage', 'Paid Off'),
	('3760', '54760', '9479.55', '23.41', '72', '644', '103268.22', 'Unemployed', '0.27', 'Car', '8', '1', '43', 'Rent', 'Current'),
	('3761', '64676', '3822.38', '3.2', '60', '615', '44851.94', 'Employed', '0.13', 'Education', '2', '1', '51', 'Own', 'NA'),
	('3762', '38653', '40462.14', '19.19', '36', '646', '145734.86', 'Unemployed', '0.69', 'Home', '0', '1', '24', 'Rent', 'NA'),
	('3763', '84680', '37453.47', '12.1', '12', '527', '64561.47', 'Employed', '0.61', 'Business', '9', '0', '43', 'Other', 'Late'),
	('3764', '96424', '42979.7', '20.99', '24', '419', '45076.8', 'Self-employed', '0.91', 'Other', '5', '1', '41', 'Own', 'Paid Off'),
	('3765', '50747', '35503.01', '15.58', '36', '754', '125730.84', 'Employed', '0.88', 'Personal', '2', '1', '49', 'Mortgage', 'Paid Off'),
	('3766', '74852', '9221.51', '9.19', '12', '592', '113964.66', 'Employed', '0.38', 'Business', '8', '1', '44', 'Own', 'Current'),
	('3767', '29809', '37061.99', '2.59', '36', '410', '85420.16', 'Others', '0.89', 'Car', '4', '1', '44', 'Mortgage', 'Late'),
	('3768', '81960', '28334.74', '22.24', '24', '758', '95426.17', 'Unemployed', '0.72', 'Business', '8', '1', '30', 'Rent', 'Current'),
	('3769', '28792', '6324.97', '15.68', '72', '731', '96685.74', 'Employed', '0.43', 'Car', '6', '1', '59', 'Own', 'Paid Off'),
	('3770', '50539', '45351', '8.86', '36', '384', '64937.87', 'Employed', '0.48', 'Business', '4', '0', '26', 'Rent', 'Late'),
	('3771', '99405', '45213.54', '4.64', '72', '724', '77553.13', 'Employed', '0.7', 'Car', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('3772', '20643', '31765.35', '14.76', '48', '548', '67689.95', 'Unemployed', '0.25', 'Business', 'Unreported', '0', '43', 'Mortgage', 'NA'),
	('3773', '35228', '25320.265', '18.13', '24', '580', '71773.75', 'Self-employed', '0.31', 'Car', '6', '0', '29', 'Mortgage', 'NA'),
	('3774', '79746', '12658.28', '16.29', '48', '642', '33729.43', 'Unemployed', '0.75', 'Home', 'Unreported', '0', '66', 'Mortgage', 'Late'),
	('3775', '29756', '5782.43', '2.38', '72', '567', '85420.16', 'Self-employed', '0.48', 'Personal', '2', '1', '64', 'Own', 'NA'),
	('3776', '54760', '40493.98', '22.48', '36', '342', '85420.16', 'Employed', '0.79', 'Car', '5', '1', '29', 'Own', 'Paid Off'),
	('3777', '70095', '48370.9', '12.01', '36', '555', '23015.91', 'Self-employed', '0.24', 'Home', '3', '0', '65', 'Own', 'Current'),
	('3778', '68332', '1687.99', '3.66', '72', '649', '57715.2', 'Employed', '0.44', 'Home', '4', '1', '20', 'Own', 'Late'),
	('3779', '30853', '24488.7', '18.36', '12', '376', '85420.16', 'Unemployed', '0.23', 'Education', '4', '1', '21', 'Rent', 'Current'),
	('3780', '74983', '6195.75', '12.86', '60', '599', '75494.94', 'Self-employed', '0.49', 'Education', '5', '0', '22', 'Own', 'Paid Off'),
	('3781', '91805', '21508.41', '10.86', '12', '519', '42591.53', 'Unemployed', '0.18', 'Education', '3', '0', '43', 'Mortgage', 'Current'),
	('3782', '25941', '29450.03', '14.7', '60', '713', '104413.17', 'Employed', '0.97', 'Education', '1', '0', '30', 'Own', 'Late'),
	('3783', '17853', '22025.93', '9.52', '36', '650', '45338.71', 'Unemployed', '0.45', 'Home', '8', '1', '48', 'Own', 'Current'),
	('3784', '52984', '1843.95', '7.48', '60', '531', '80414.21', 'Unemployed', '0.98', 'Education', '9', '0', '43', 'Mortgage', 'Late'),
	('3785', '66455', '49404.39', '22.88', '60', '730', '63490.78', 'Self-employed', '0.47', 'Business', '8', '1', '41', 'Rent', 'Late'),
	('3786', '68665', '46364.41', '20.51', '24', '447', '27481.56', 'Self-employed', '0.93', 'Personal', '2', '1', '43', 'Own', 'Current'),
	('3787', '43168', '38846.28', '9.66', '72', '673', '66672.47', 'Unemployed', '0.33', 'Business', '6', '0', '65', 'Mortgage', 'Current'),
	('3788', '31682', '20633.36', '8.68', '60', '730', '50421.36', 'Self-employed', '0.02', 'Home', '1', '0', '61', 'Own', 'Paid Off'),
	('3789', '98871', '34785.02', '19.38', '48', '643', '124458.51', 'Employed', '0.34', 'Personal', '6', '1', '68', 'Mortgage', 'Late'),
	('3790', '20275', '35778.65', '19.76', '12', '451', '79479.45', 'Self-employed', '0.33', 'Business', 'Unreported', '1', '32', 'Own', 'NA'),
	('3791', '11898', '17672.48', '2.14', '36', '510', '85420.16', 'Unemployed', '0.5', 'Business', '5', '0', '43', 'Own', 'Current'),
	('3792', '36229', '2944.64', '21.58', '48', '730', '129749.06', 'Self-employed', '0.48', 'Car', '1', '0', '62', 'Rent', 'Current'),
	('3793', '88337', '31493.41', '12.28', '36', '351', '92618.7', 'Others', '0.48', 'Personal', '6', '1', '45', 'Mortgage', 'Late'),
	('3794', '73953', '47456.1', '4.23', '60', '730', '103418.67', 'Self-employed', '0.04', 'Personal', '0', '1', '60', 'Mortgage', 'Current'),
	('3795', '54760', '37641.58', '16.28', '72', '624', '132334.06', 'Others', '0.09', 'Home', '9', '0', '64', 'Mortgage', 'Late'),
	('3796', '66354', '25320.265', '9.38', '24', '765', '66311.08', 'Self-employed', '0.72', 'Education', '8', '0', '43', 'Rent', 'Late'),
	('3797', '88851', '28234.7', '23.37', '12', '341', '45767.89', 'Unemployed', '0.48', 'Education', '7', '0', '18', 'Mortgage', 'Paid Off'),
	('3798', '54760', '25320.265', '20.49', '60', '743', '146798.99', 'Employed', '0.77', 'Personal', '3', '0', '37', 'Own', 'Paid Off'),
	('3799', '77755', '27778.53', '5.86', '24', '767', '97669.55', 'Self-employed', '0.53', 'Home', '4', '0', '43', 'Rent', 'NA'),
	('3800', '70761', '36478.92', '19.79', '36', '692', '104948.68', 'Self-employed', '0.65', 'Personal', 'Unreported', '1', '23', 'Own', 'Current'),
	('3801', '27921', '24849.14', '7.83', '48', '309', '107669.73', 'Employed', '0.45', 'Other', '2', '1', '43', 'Mortgage', 'Paid Off'),
	('3802', '92274', '45703.5', '8.61', '72', '353', '58939.04', 'Employed', '0.96', 'Car', '7', '1', '68', 'Rent', 'Late'),
	('3803', '17608', '34913.62', '13.245', '60', '465', '79060.98', 'Employed', '0.67', 'Home', '9', '1', '68', 'Rent', 'Current'),
	('3804', '56897', '18263.62', '4.64', '12', '619', '85420.16', 'Unemployed', '0.33', 'Car', '8', '1', '67', 'Rent', 'Late'),
	('3805', '82807', '31004.36', '19.13', '36', '665', '78674.46', 'Unemployed', '0.53', 'Car', 'Unreported', '1', '33', 'Rent', 'Current'),
	('3806', '37730', '23313.46', '19.14', '36', '513', '137346.64', 'Employed', '0.63', 'Education', '0', '0', '62', 'Own', 'Late'),
	('3807', '84038', '39809.51', '13.245', '72', '574', '59844.87', 'Employed', '0.48', 'Education', '7', '0', '54', 'Rent', 'Late'),
	('3808', '60863', '25320.265', '22.29', '60', '657', '57425.04', 'Employed', '0.86', 'Personal', '4', '1', '64', 'Mortgage', 'Late'),
	('3809', '19820', '25320.265', '4.05', '36', '789', '43569.93', 'Employed', '0.93', 'Car', '7', '0', '59', 'Own', 'Late'),
	('3810', '85647', '2151.08', '18.49', '60', '625', '51791.17', 'Unemployed', '0.09', 'Other', '2', '0', '43', 'Rent', 'Current'),
	('3811', '91857', '25320.265', '2.01', '48', '397', '94778.84', 'Employed', '0.14', 'Education', 'Unreported', '1', '67', 'Mortgage', 'Paid Off'),
	('3812', '86585', '25869.09', '18.35', '72', '805', '131937.6', 'Employed', '0.72', 'Car', '4', '0', '50', 'Rent', 'Late'),
	('3813', '31900', '14661.18', '16.23', '60', '790', '65000.76', 'Employed', '0.77', 'Home', '4', '0', '43', 'Mortgage', 'Late'),
	('3814', '61407', '6424.28', '10.72', '48', '649', '139016.92', 'Unemployed', '0.49', 'Other', '8', '1', '18', 'Mortgage', 'Paid Off'),
	('3815', '80556', '17743.07', '16.95', '36', '600', '78439.74', 'Self-employed', '0.63', 'Personal', '8', '1', '69', 'Mortgage', 'Current'),
	('3816', '56361', '32069.88', '17.33', '48', '482', '43635.64', 'Self-employed', '0.01', 'Personal', '5', '0', '24', 'Rent', 'Late'),
	('3817', '42821', '48671.53', '13.245', '72', '730', '26841.16', 'Self-employed', '0.45', 'Car', 'Unreported', '1', '55', 'Mortgage', 'Paid Off'),
	('3818', '37086', '5625.62', '6.64', '48', '422', '97656.95', 'Employed', '0.79', 'Business', '9', '0', '40', 'Other', 'Late'),
	('3819', '20613', '11301.61', '9.08', '48', '411', '85420.16', 'Employed', '0.71', 'Car', '0', '1', '38', 'Rent', 'NA'),
	('3820', '61246', '14570.22', '22.11', '24', '329', '89641.16', 'Self-employed', '0.38', 'Business', '0', '1', '30', 'Own', 'Current'),
	('3821', '13702', '38534.2', '21.22', '60', '545', '25065.72', 'Unemployed', '0.86', 'Business', 'Unreported', '1', '50', 'Mortgage', 'NA'),
	('3822', '47717', '4869.7', '9.74', '36', '539', '135070.77', 'Self-employed', '0.5', 'Car', '1', '0', '43', 'Mortgage', 'Paid Off'),
	('3823', '58813', '44825.47', '24.73', '36', '469', '54974.35', 'Others', '0.15', 'Education', '9', '1', '24', 'Mortgage', 'NA'),
	('3824', '50412', '11730.36', '23.78', '60', '416', '109642.1', 'Others', '0.65', 'Car', '9', '1', '29', 'Mortgage', 'Current'),
	('3825', '86032', '36183.35', '13.245', '60', '679', '99733.19', 'Self-employed', '0.97', 'Other', '1', '1', '34', 'Rent', 'Late'),
	('3826', '63682', '25320.265', '6.74', '24', '326', '119127.18', 'Employed', '0.48', 'Business', '9', '1', '33', 'Mortgage', 'NA'),
	('3827', '84213', '44761.1', '7.32', '60', '315', '22002.64', 'Employed', '0.07', 'Business', '0', '1', '42', 'Own', 'Late'),
	('3828', '54760', '25320.265', '12.97', '60', '592', '31154.48', 'Employed', '0.07', 'Education', '0', '1', '56', 'Mortgage', 'Paid Off'),
	('3829', '62105', '36440.12', '3.72', '48', '537', '127829.3', 'Self-employed', '0.16', 'Education', '4', '0', '50', 'Rent', 'Current'),
	('3830', '36401', '18300.72', '22.66', '36', '315', '55867.74', 'Employed', '0.38', 'Car', '9', '0', '26', 'Rent', 'Paid Off'),
	('3831', '21508', '20026.07', '13.245', '72', '563', '85420.16', 'Others', '0.48', 'Education', '4', '1', '59', 'Own', 'Current'),
	('3832', '54760', '25907.29', '10.21', '60', '499', '43786.74', 'Unemployed', '0.63', 'Personal', '4', '1', '51', 'Own', 'Current'),
	('3833', '16899', '7427.51', '12.43', '60', '393', '69634.32', 'Others', '0.41', 'Other', '6', '1', '39', 'Rent', 'NA'),
	('3834', '10922', '18577.5', '23.23', '60', '834', '26477.89', 'Unemployed', '0.22', 'Education', '9', '1', '33', 'Own', 'Paid Off'),
	('3835', '46509', '25320.265', '22.95', '48', '325', '85420.16', 'Employed', '0.51', 'Other', '9', '1', '29', 'Rent', 'Late'),
	('3836', '36546', '9850.81', '7.9', '60', '399', '106379.45', 'Employed', '0.71', 'Business', '2', '0', '43', 'Other', 'Current'),
	('3837', '98330', '16443.03', '14.63', '48', '757', '85420.16', 'Others', '0.21', 'Other', '9', '1', '57', 'Mortgage', 'Paid Off'),
	('3838', '17102', '40556.64', '11.95', '36', '620', '41229.26', 'Employed', '0.74', 'Home', '2', '0', '61', 'Other', 'Paid Off'),
	('3839', '63473', '13248.96', '3.06', '24', '844', '43412.85', 'Unemployed', '0.48', 'Education', '9', '0', '37', 'Mortgage', 'Paid Off'),
	('3840', '42705', '9074.73', '14.07', '48', '409', '76097.72', 'Employed', '0.49', 'Business', '5', '1', '50', 'Own', 'Late'),
	('3841', '31267', '25320.265', '19.65', '60', '472', '38438.49', 'Others', '0.56', 'Home', '2', '0', '43', 'Own', 'NA'),
	('3842', '54760', '49298.14', '19.78', '36', '392', '124854.47', 'Self-employed', '0.95', 'Car', '3', '0', '18', 'Rent', 'Late'),
	('3843', '82709', '21252.07', '18.88', '48', '730', '47241.15', 'Others', '0.41', 'Education', '9', '0', '55', 'Own', 'Late'),
	('3844', '95188', '20402.4', '6.68', '60', '730', '35947.53', 'Employed', '0.07', 'Home', '7', '1', '64', 'Mortgage', 'Paid Off'),
	('3845', '60626', '38093.88', '3.68', '12', '500', '36523.97', 'Employed', '0.57', 'Personal', '5', '1', '43', 'Rent', 'Late'),
	('3846', '75271', '4074.24', '5.89', '12', '765', '60164.97', 'Self-employed', '0.48', 'Car', '4', '1', '43', 'Mortgage', 'Paid Off'),
	('3847', '87224', '9307.35', '2.23', '24', '356', '148166.34', 'Employed', '0.45', 'Other', '6', '1', '19', 'Rent', 'Current'),
	('3848', '31319', '36274.12', '19.38', '60', '711', '85420.16', 'Employed', '0.83', 'Personal', '2', '0', '31', 'Mortgage', 'Late'),
	('3849', '86568', '16662.91', '6.71', '36', '424', '91039.32', 'Unemployed', '0.32', 'Personal', '4', '0', '58', 'Own', 'Current'),
	('3850', '97732', '25320.265', '12.02', '36', '634', '85420.16', 'Employed', '0.59', 'Business', '0', '0', '29', 'Mortgage', 'Late'),
	('3851', '13450', '2120.16', '4.13', '48', '434', '63183.83', 'Others', '0.28', 'Education', '0', '1', '64', 'Mortgage', 'Paid Off'),
	('3852', '33190', '29927.62', '14.38', '36', '523', '95087.23', 'Others', '0.27', 'Business', '0', '1', '63', 'Mortgage', 'Paid Off'),
	('3853', '81209', '27668.04', '11.39', '24', '715', '25654.23', 'Self-employed', '0.03', 'Personal', '8', '1', '61', 'Own', 'Late'),
	('3854', '31254', '8097.96', '8.28', '48', '730', '57661.9', 'Self-employed', '0.67', 'Business', '1', '1', '56', 'Own', 'Current'),
	('3855', '73608', '6818.06', '23.85', '72', '502', '85420.16', 'Self-employed', '0.2', 'Car', '4', '0', '41', 'Own', 'Late'),
	('3856', '35139', '46479.56', '9.14', '24', '700', '75407.71', 'Self-employed', '0.7', 'Personal', '6', '1', '41', 'Own', 'Current'),
	('3857', '41743', '25745.83', '13.245', '72', '730', '137871.98', 'Employed', '0.79', 'Education', 'Unreported', '0', '18', 'Rent', 'Late'),
	('3858', '26018', '3445.13', '24.17', '36', '730', '55195.57', 'Employed', '0.73', 'Home', '3', '1', '59', 'Mortgage', 'Late'),
	('3859', '80744', '8279.33', '18.05', '12', '756', '61036.08', 'Employed', '0.79', 'Personal', '1', '1', '69', 'Mortgage', 'Late'),
	('3860', '65776', '25320.265', '17.81', '12', '624', '86219.55', 'Others', '0.08', 'Business', '3', '0', '27', 'Own', 'Paid Off'),
	('3861', '34570', '25320.265', '20.02', '60', '747', '898914.3', 'Self-employed', '0.08', 'Other', 'Unreported', '1', '18', 'Own', 'Paid Off'),
	('3862', '76404', '30285.48', '16.95', '48', '485', '87732.43', 'Self-employed', '0.77', 'Business', '0', '1', '55', 'Own', 'Late'),
	('3863', '40162', '23455.48', '13.245', '24', '619', '93093.9', 'Self-employed', '0.58', 'Education', '6', '1', '19', 'Own', 'Paid Off'),
	('3864', '96166', '46350.23', '7.38', '60', '465', '145066.74', 'Employed', '0.48', 'Car', '2', '1', '26', 'Own', 'Paid Off'),
	('3865', '26050', '41437.19', '13.245', '72', '558', '94736.92', 'Employed', '0.5', 'Home', '2', '1', '48', 'Mortgage', 'Paid Off'),
	('3866', '99874', '49027.08', '16.85', '12', '806', '117780.89', 'Employed', '0.48', 'Car', '0', '1', '58', 'Rent', 'Current'),
	('3867', '37132', '47022.41', '2.16', '36', '727', '129148', 'Employed', '0.33', 'Education', '6', '1', '67', 'Rent', 'Current'),
	('3868', '54760', '36706.2', '10.65', '60', '779', '149824.9', 'Self-employed', '0.36', 'Personal', '7', '1', '40', 'Other', 'Late'),
	('3869', '54760', '3573.99', '2.95', '48', '730', '134465.54', 'Employed', '0.21', 'Home', '7', '1', '35', 'Rent', 'Paid Off'),
	('3870', '54760', '49955.99', '21.72', '48', '730', '72082.82', 'Unemployed', '0.2', 'Personal', 'Unreported', '1', '62', 'Mortgage', 'Late'),
	('3871', '54760', '24192.62', '7.08', '72', '702', '128824.23', 'Employed', '0.83', 'Personal', 'Unreported', '1', '61', 'Own', 'Late'),
	('3872', '64986', '3988.85', '14.4', '60', '533', '124411.41', 'Employed', '0.91', 'Home', '0', '0', '41', 'Rent', 'Current'),
	('3873', '31818', '49579.74', '6.61', '72', '730', '57865.21', 'Self-employed', '0.48', 'Education', 'Unreported', '1', '35', 'Mortgage', 'Paid Off'),
	('3874', '68537', '28948.46', '16.68', '60', '607', '78663.72', 'Self-employed', '0', 'Other', 'Unreported', '1', '47', 'Other', 'NA'),
	('3875', '90854', '23491.2', '13.245', '72', '505', '132514.49', 'Unemployed', '0.69', 'Car', '8', '1', '48', 'Mortgage', 'NA'),
	('3876', '83664', '1969.68', '19.59', '36', '489', '37459.53', 'Employed', '0.48', 'Home', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('3877', '54760', '25320.265', '14.09', '48', '354', '138877.84', 'Employed', '0.87', 'Business', '0', '1', '50', 'Own', 'Paid Off'),
	('3878', '39098', '9980.27', '21.15', '60', '319', '49274.12', 'Others', '0.55', 'Business', '6', '1', '25', 'Other', 'Paid Off'),
	('3879', '34500', '36228.5', '19.52', '72', '766', '85420.16', 'Others', '0.46', 'Home', '6', '0', '43', 'Mortgage', 'Paid Off'),
	('3880', '54760', '25320.265', '13.89', '12', '827', '64174.14', 'Self-employed', '0.09', 'Car', '6', '1', '22', 'Rent', 'Paid Off'),
	('3881', '86931', '25320.265', '21.6', '48', '807', '56746.17', 'Self-employed', '0.98', 'Personal', '9', '1', '50', 'Mortgage', 'Paid Off'),
	('3882', '34443', '3142.09', '4.82', '12', '832', '85420.16', 'Self-employed', '0.89', 'Business', '2', '1', '41', 'Mortgage', 'Current'),
	('3883', '70364', '36026.67', '5.23', '60', '426', '123327.63', 'Self-employed', '0.43', 'Education', '3', '1', '47', 'Rent', 'NA'),
	('3884', '11703', '47697.96', '24.77', '36', '312', '34300.93', 'Others', '0.48', 'Personal', '8', '1', '48', 'Mortgage', 'NA'),
	('3885', '75749', '3122.71', '5.01', '36', '697', '73921.08', 'Self-employed', '0.25', 'Car', '8', '1', '54', 'Rent', 'Late'),
	('3886', '31273', '25320.265', '16.51', '60', '545', '85420.16', 'Unemployed', '0.38', 'Car', '7', '0', '61', 'Own', 'Current'),
	('3887', '75280', '26264.06', '13.245', '24', '490', '95544.87', 'Unemployed', '0.89', 'Business', '6', '0', '39', 'Rent', 'Paid Off'),
	('3888', '87931', '49140.64', '10.9', '48', '478', '71504.47', 'Self-employed', '0.23', 'Other', '8', '1', '65', 'Own', 'NA'),
	('3889', '54962', '21161.38', '13.245', '72', '746', '73908.85', 'Unemployed', '0.48', 'Car', '3', '0', '56', 'Other', 'Current'),
	('3890', '44173', '31163.07', '13.89', '12', '754', '32393.73', 'Employed', '0.38', 'Education', 'Unreported', '0', '23', 'Own', 'Paid Off'),
	('3891', '81536', '38321.01', '12.96', '72', '486', '52574.28', 'Employed', '0.39', 'Education', '4', '0', '54', 'Rent', 'Late'),
	('3892', '45371', '46468.08', '16.5', '24', '720', '57389.33', 'Self-employed', '0.5', 'Personal', '1', '0', '43', 'Own', 'NA'),
	('3893', '78261', '9673.82', '3.46', '36', '751', '76032.77', 'Self-employed', '0.58', 'Home', '2', '1', '50', 'Own', 'Current'),
	('3894', '55038', '45659.87', '7.28', '48', '577', '85420.16', 'Self-employed', '0.98', 'Home', '2', '1', '48', 'Rent', 'Paid Off'),
	('3895', '87931', '31694.79', '15.04', '72', '799', '77876.97', 'Employed', '0.09', 'Home', '7', '0', '37', 'Mortgage', 'Late'),
	('3896', '22074', '40474.74', '14.94', '60', '595', '126838.58', 'Self-employed', '0.16', 'Business', '6', '0', '65', 'Rent', 'Late'),
	('3897', '21763', '15482.21', '7.56', '36', '753', '57169.83', 'Employed', '0.2', 'Personal', '0', '1', '35', 'Mortgage', 'Paid Off'),
	('3898', '13764', '25504.95', '4.14', '60', '762', '110548.45', 'Unemployed', '0.9', 'Home', '1', '0', '68', 'Rent', 'Paid Off'),
	('3899', '26839', '11239', '6.82', '36', '696', '62414.66', 'Unemployed', '0.77', 'Personal', '0', '1', '53', 'Mortgage', 'Current'),
	('3900', '31597', '42875.6', '14.18', '12', '537', '139362.56', 'Unemployed', '0.67', 'Car', '1', '1', '29', 'Own', 'Current'),
	('3901', '57105', '11024.38', '10.79', '72', '616', '58062.95', 'Others', '0.86', 'Education', '9', '0', '43', 'Mortgage', 'Paid Off'),
	('3902', '84072', '27868.01', '8.8', '72', '386', '85420.16', 'Unemployed', '0.26', 'Education', '1', '1', '43', 'Other', 'Current'),
	('3903', '90197', '21477.75', '3.11', '60', '559', '147292.11', 'Employed', '0.48', 'Home', '5', '1', '45', 'Other', 'Paid Off'),
	('3904', '56998', '3429.89', '3.21', '48', '363', '136979.75', 'Employed', '0.41', 'Education', 'Unreported', '0', '21', 'Rent', 'Paid Off'),
	('3905', '69072', '21195.23', '20.69', '36', '823', '72225.33', 'Employed', '0.34', 'Personal', '4', '0', '46', 'Own', 'Late'),
	('3906', '80130', '39435.47', '14.65', '36', '800', '135570.79', 'Unemployed', '0.29', 'Home', '3', '0', '22', 'Rent', 'Late'),
	('3907', '52947', '25320.265', '23.47', '12', '310', '127710.71', 'Employed', '0.72', 'Car', '5', '1', '20', 'Mortgage', 'Current'),
	('3908', '31958', '15935.05', '7.65', '48', '445', '50035.8', 'Employed', '0.48', 'Personal', '7', '0', '43', 'Rent', 'Late'),
	('3909', '56132', '22825.25', '13.245', '36', '511', '41791.33', 'Unemployed', '0.37', 'Home', '1', '0', '29', 'Rent', 'Paid Off'),
	('3910', '50512', '38939.01', '2.69', '60', '388', '27547.54', 'Self-employed', '0.97', 'Personal', 'Unreported', '1', '23', 'Other', 'Paid Off'),
	('3911', '56856', '33739.53', '15.65', '36', '513', '44481.81', 'Employed', '0.06', 'Personal', '0', '1', '22', 'Own', 'Current'),
	('3912', '33320', '6434.26', '15.65', '36', '691', '52433.89', 'Unemployed', '0.4', 'Personal', '8', '1', '24', 'Rent', 'Paid Off'),
	('3913', '64342', '27031.08', '6.95', '60', '625', '24408.27', 'Employed', '0.06', 'Personal', '6', '1', '20', 'Own', 'Current'),
	('3914', '76661', '10736.07', '11.4', '24', '483', '77548.4', 'Self-employed', '0.9', 'Home', 'Unreported', '0', '44', 'Own', 'Paid Off'),
	('3915', '54760', '48941.96', '4.75', '12', '654', '129677.42', 'Others', '0.7', 'Other', 'Unreported', '0', '53', 'Other', 'Paid Off'),
	('3916', '69827', '37192.64', '5.39', '48', '622', '104741.97', 'Others', '0.99', 'Other', '8', '1', '47', 'Mortgage', 'Late'),
	('3917', '86586', '4969.04', '16.52', '12', '542', '30285.07', 'Self-employed', '0.17', 'Education', '7', '1', '67', 'Mortgage', 'Late'),
	('3918', '90517', '13163.23', '9.26', '24', '510', '129773.05', 'Unemployed', '0.48', 'Car', '5', '1', '61', 'Rent', 'Late'),
	('3919', '46773', '4828.16', '8.95', '60', '573', '142387.22', 'Unemployed', '0.46', 'Home', '7', '0', '19', 'Rent', 'Current'),
	('3920', '64148', '19134.72', '15.8', '36', '807', '112793.02', 'Employed', '0.82', 'Car', '0', '0', '25', 'Other', 'Current'),
	('3921', '54760', '41311.54', '7.67', '60', '730', '24806.75', 'Unemployed', '0.08', 'Car', '2', '1', '38', 'Rent', 'Current'),
	('3922', '15887', '42710.2', '2.37', '12', '696', '1079534.3', 'Employed', '0.62', 'Personal', '3', '1', '41', 'Mortgage', 'Current'),
	('3923', '53966', '9102.5', '13.245', '72', '730', '98682.12', 'Self-employed', '0.65', 'Business', 'Unreported', '1', '69', 'Mortgage', 'Current'),
	('3924', '78620', '14104.82', '22.1', '60', '704', '133039.1', 'Employed', '0.13', 'Business', '9', '0', '28', 'Mortgage', 'Late'),
	('3925', '29216', '31579.93', '22.14', '24', '819', '81721.67', 'Unemployed', '0.65', 'Car', '6', '1', '38', 'Other', 'Current'),
	('3926', '91081', '48759.49', '23.13', '36', '738', '110697.91', 'Employed', '0.48', 'Personal', '3', '1', '56', 'Rent', 'Current'),
	('3927', '91477', '41313.87', '6.45', '12', '553', '56987.44', 'Self-employed', '0.43', 'Personal', '7', '0', '28', 'Rent', 'Late'),
	('3928', '91933', '10845.4', '17.41', '72', '752', '65765.39', 'Others', '0.29', 'Home', '8', '0', '65', 'Own', 'NA'),
	('3929', '11803', '35793.08', '13.32', '48', '440', '52461.55', 'Employed', '0.28', 'Education', '4', '0', '52', 'Own', 'Current'),
	('3930', '12410', '28263', '13.245', '36', '730', '85454.97', 'Self-employed', '0.09', 'Car', '4', '1', '53', 'Other', 'NA'),
	('3931', '42039', '25089.77', '16.81', '36', '798', '43413.04', 'Employed', '0.67', 'Other', '4', '1', '58', 'Rent', 'NA'),
	('3932', '48144', '25320.265', '16.03', '24', '747', '115036.44', 'Employed', '0.15', 'Education', '9', '1', '34', 'Mortgage', 'NA'),
	('3933', '59560', '25320.265', '5.33', '24', '426', '138556', 'Employed', '0.01', 'Other', '1', '1', '67', 'Rent', 'NA'),
	('3934', '78464', '7723.27', '19.5', '48', '551', '117126.39', 'Unemployed', '0.48', 'Other', '3', '1', '28', 'Mortgage', 'NA'),
	('3935', '82347', '9083.42', '22.94', '72', '419', '120234.66', 'Self-employed', '0.84', 'Personal', 'Unreported', '0', '56', 'Mortgage', 'Paid Off'),
	('3936', '68231', '46176.7', '9.11', '72', '615', '56020.81', 'Unemployed', '0.42', 'Business', '8', '1', '54', 'Rent', 'Paid Off'),
	('3937', '86446', '4930.05', '4.28', '24', '825', '100495.21', 'Self-employed', '0.41', 'Education', '1', '0', '43', 'Mortgage', 'Paid Off'),
	('3938', '33516', '7757.79', '10.36', '36', '730', '107360.24', 'Employed', '0.5', 'Home', '8', '1', '56', 'Mortgage', 'Late'),
	('3939', '52392', '33002.57', '21.53', '24', '771', '123850.33', 'Employed', '0.62', 'Business', '1', '1', '28', 'Own', 'Late'),
	('3940', '48655', '11992.53', '12.63', '12', '423', '141961.32', 'Others', '0.11', 'Other', '1', '1', '53', 'Own', 'Current'),
	('3941', '54760', '41478.86', '19.57', '24', '600', '107671.16', 'Employed', '0.29', 'Business', '4', '1', '21', 'Mortgage', 'Current'),
	('3942', '23406', '21384.32', '15.46', '48', '822', '76331.24', 'Unemployed', '0.39', 'Business', '0', '1', '28', 'Rent', 'Late'),
	('3943', '84094', '24637.59', '24.44', '12', '513', '85420.16', 'Self-employed', '0.1', 'Education', '0', '1', '36', 'Other', 'Current'),
	('3944', '82352', '7303.27', '14.81', '72', '542', '114293.52', 'Self-employed', '0.14', 'Business', 'Unreported', '1', '43', 'Own', 'NA'),
	('3945', '40190', '2380.02', '20', '36', '560', '85420.16', 'Employed', '0.66', 'Car', '4', '1', '33', 'Mortgage', 'Paid Off'),
	('3946', '47512', '38202.58', '13.245', '48', '651', '20849.58', 'Self-employed', '0.48', 'Other', '8', '0', '52', 'Rent', 'Paid Off'),
	('3947', '91411', '4625.5', '12.33', '36', '316', '96288.74', 'Employed', '0.66', 'Education', '1', '1', '18', 'Mortgage', 'Current'),
	('3948', '65988', '32367.79', '8.22', '48', '730', '85420.16', 'Self-employed', '0.91', 'Car', '1', '1', '33', 'Mortgage', 'Paid Off'),
	('3949', '81886', '27339.04', '7.83', '72', '419', '94176.26', 'Unemployed', '0.79', 'Business', '3', '1', '18', 'Rent', 'Paid Off'),
	('3950', '89676', '26406.04', '13.245', '60', '457', '92514.87', 'Self-employed', '0.15', 'Home', '8', '1', '53', 'Mortgage', 'Paid Off'),
	('3951', '15860', '15684.57', '17.44', '36', '630', '94983.09', 'Employed', '0.48', 'Personal', '3', '0', '21', 'Rent', 'Paid Off'),
	('3952', '19019', '38045.4', '2.82', '36', '730', '85244.31', 'Self-employed', '0.82', 'Car', '5', '0', '43', 'Mortgage', 'Paid Off'),
	('3953', '60641', '20630.06', '2.9', '48', '394', '97788.69', 'Others', '0.9', 'Personal', 'Unreported', '1', '43', 'Own', 'Late'),
	('3954', '19147', '8411.47', '2.64', '24', '821', '37312.39', 'Self-employed', '0.81', 'Education', '7', '1', '50', 'Own', 'Paid Off'),
	('3955', '93288', '25320.265', '14.26', '72', '628', '105379.64', 'Self-employed', '0.02', 'Business', '1', '0', '59', 'Own', 'NA'),
	('3956', '77672', '17784.85', '15.41', '24', '495', '148712.47', 'Unemployed', '0.4', 'Education', '8', '0', '54', 'Rent', 'Late'),
	('3957', '56322', '30794.69', '14.63', '72', '470', '54885.37', 'Self-employed', '0.87', 'Personal', '6', '0', '48', 'Mortgage', 'Late'),
	('3958', '87633', '11795.78', '13.13', '24', '785', '27674.55', 'Self-employed', '0.48', 'Personal', '3', '1', '43', 'Rent', 'Current'),
	('3959', '90903', '37368.03', '14.89', '72', '569', '25990.1', 'Unemployed', '0.56', 'Business', '7', '0', '61', 'Other', 'Late'),
	('3960', '76646', '6327.56', '8.92', '36', '331', '145310.19', 'Self-employed', '0.82', 'Business', '7', '1', '43', 'Mortgage', 'Late'),
	('3961', '81468', '24126.27', '23.03', '24', '730', '70909.73', 'Unemployed', '0.15', 'Education', 'Unreported', '0', '58', 'Mortgage', 'Late'),
	('3962', '63455', '27298.51', '21.57', '60', '730', '39305.28', 'Employed', '0.95', 'Other', '9', '1', '61', 'Own', 'Paid Off'),
	('3963', '62256', '41229.59', '13.52', '72', '760', '84908.01', 'Employed', '0.48', 'Personal', '3', '0', '35', 'Mortgage', 'Paid Off'),
	('3964', '13405', '6779.44', '16.07', '36', '682', '148253.7', 'Self-employed', '0.92', 'Business', '1', '1', '64', 'Rent', 'Paid Off'),
	('3965', '84151', '1082.07', '16.02', '36', '609', '109355.78', 'Employed', '1', 'Home', '8', '1', '57', 'Other', 'Paid Off'),
	('3966', '60622', '27151.78', '7.54', '12', '315', '131532.5', 'Self-employed', '0.39', 'Personal', '5', '1', '43', 'Mortgage', 'Late'),
	('3967', '62836', '8385.53', '5.67', '36', '740', '85649.23', 'Unemployed', '0.6', 'Personal', 'Unreported', '0', '43', 'Rent', 'NA'),
	('3968', '17142', '290129.7', '22.47', '24', '693', '715070.9', 'Self-employed', '0.21', 'Other', '0', '0', '47', 'Other', 'Paid Off'),
	('3969', '36907', '2612.24', '11', '48', '730', '85420.16', 'Unemployed', '0.4', 'Other', '0', '1', '30', 'Mortgage', 'Paid Off'),
	('3970', '64202', '25043.08', '22.9', '48', '329', '125434.71', 'Employed', '0.23', 'Car', '9', '0', '27', 'Mortgage', 'Current'),
	('3971', '81266', '20146.26', '17.95', '60', '838', '85420.16', 'Unemployed', '0.53', 'Education', '9', '0', '43', 'Rent', 'NA'),
	('3972', '76925', '8656.12', '18.83', '24', '304', '137690.89', 'Unemployed', '0.55', 'Business', '9', '0', '21', 'Rent', 'Late'),
	('3973', '29887', '25320.265', '6.2', '12', '730', '75648.92', 'Unemployed', '0.31', 'Car', '3', '1', '54', 'Rent', 'NA'),
	('3974', '11945', '24381.3', '22.42', '48', '730', '32231.64', 'Unemployed', '0.89', 'Personal', '6', '1', '58', 'Mortgage', 'Paid Off'),
	('3975', '46080', '4326.19', '20.26', '36', '700', '50817.46', 'Employed', '0.87', 'Car', '4', '1', '45', 'Own', 'Current'),
	('3976', '53673', '25320.265', '3.35', '36', '412', '27470.99', 'Others', '0.25', 'Personal', '0', '1', '69', 'Own', 'Late'),
	('3977', '54480', '45771.3', '22.69', '24', '570', '69320.27', 'Others', '0.22', 'Education', '8', '1', '43', 'Mortgage', 'Paid Off'),
	('3978', '50437', '31058.69', '14.54', '36', '762', '22942.39', 'Employed', '0.48', 'Car', '2', '1', '69', 'Rent', 'Late'),
	('3979', '99834', '31732.37', '13.245', '48', '567', '127918.18', 'Self-employed', '0.95', 'Other', '8', '1', '65', 'Rent', 'Late'),
	('3980', '73076', '25320.265', '21.01', '60', '323', '114918.39', 'Unemployed', '0.25', 'Personal', '6', '0', '45', 'Own', 'Current'),
	('3981', '54439', '25320.265', '13.245', '60', '546', '61229.06', 'Unemployed', '0.09', 'Other', '4', '0', '66', 'Rent', 'Paid Off'),
	('3982', '84993', '49141.37', '9.9', '48', '388', '72903.81', 'Self-employed', '0.07', 'Other', '6', '0', '42', 'Rent', 'Current'),
	('3983', '81976', '25141.56', '20.56', '72', '449', '123516.06', 'Others', '0.03', 'Business', '8', '0', '20', 'Mortgage', 'Paid Off'),
	('3984', '54760', '47305.38', '10.54', '60', '493', '112039.53', 'Employed', '0.82', 'Business', '2', '0', '55', 'Mortgage', 'Current'),
	('3985', '94517', '18602.89', '17.04', '72', '332', '85420.16', 'Self-employed', '0.6', 'Business', '3', '1', '51', 'Mortgage', 'Current'),
	('3986', '36052', '36654.6', '13.245', '12', '812', '140145.33', 'Unemployed', '0.96', 'Car', '1', '1', '60', 'Rent', 'Paid Off'),
	('3987', '63078', '46902.99', '19.82', '72', '779', '54310.69', 'Self-employed', '0.48', 'Home', '9', '0', '68', 'Own', 'Current'),
	('3988', '46796', '1795.41', '15.91', '24', '730', '65225.06', 'Unemployed', '0.17', 'Business', '9', '0', '32', 'Own', 'NA'),
	('3989', '78858', '46106.62', '23.26', '60', '816', '36612.48', 'Unemployed', '0.03', 'Education', 'Unreported', '0', '47', 'Rent', 'Paid Off'),
	('3990', '87105', '44367.46', '8.85', '36', '411', '74216.39', 'Employed', '0.97', 'Home', '0', '0', '44', 'Rent', 'Current'),
	('3991', '62551', '11068.8', '11.86', '60', '594', '108312.82', 'Unemployed', '0.17', 'Education', '6', '1', '36', 'Mortgage', 'Current'),
	('3992', '69097', '21075.97', '19.77', '48', '734', '32878', 'Self-employed', '0.59', 'Business', '6', '0', '45', 'Rent', 'Late'),
	('3993', '11445', '7023.06', '19.52', '12', '718', '124696.01', 'Unemployed', '0.11', 'Personal', '1', '0', '18', 'Mortgage', 'Paid Off'),
	('3994', '54760', '37612.15', '17.17', '60', '623', '116570.74', 'Unemployed', '0.12', 'Home', '1', '0', '43', 'Other', 'Current'),
	('3995', '63988', '39093.26', '13.245', '72', '658', '46892.52', 'Self-employed', '0.7', 'Education', '3', '1', '62', 'Rent', 'Late'),
	('3996', '12993', '44166.15', '13.245', '60', '745', '98301.99', 'Employed', '0.13', 'Personal', '8', '0', '43', 'Own', 'Current'),
	('3997', '20159', '22631.15', '13.245', '24', '679', '130895.23', 'Self-employed', '0.38', 'Education', '6', '1', '35', 'Own', 'Paid Off'),
	('3998', '81989', '31873.01', '8.07', '72', '767', '20658.45', 'Others', '0.09', 'Other', 'Unreported', '0', '57', 'Mortgage', 'Late'),
	('3999', '69016', '42338.73', '3.59', '36', '641', '43687.51', 'Employed', '0.72', 'Home', 'Unreported', '1', '50', 'Own', 'Late'),
	('4000', '44578', '5575.54', '2.34', '36', '777', '51550.36', 'Others', '0.3', 'Education', '4', '0', '39', 'Own', 'Current'),
	('4001', '54760', '6838.75', '15.88', '36', '574', '107497.31', 'Self-employed', '0.11', 'Home', '4', '0', '61', 'Other', 'Paid Off'),
	('4002', '25385', '41071.45', '3.2', '48', '730', '99965.57', 'Employed', '0.78', 'Car', '4', '1', '40', 'Mortgage', 'Current'),
	('4003', '75959', '22656.5', '23.28', '24', '454', '73103.33', 'Unemployed', '0.7', 'Car', '4', '1', '26', 'Own', 'Paid Off'),
	('4004', '23521', '40340.6', '22.34', '60', '585', '85420.16', 'Unemployed', '0.4', 'Home', '0', '1', '43', 'Mortgage', 'Current'),
	('4005', '80659', '1007.37', '22.73', '72', '354', '114019.29', 'Employed', '0.83', 'Home', '6', '1', '46', 'Mortgage', 'Late'),
	('4006', '40746', '6636.38', '13.245', '48', '750', '94203.63', 'Self-employed', '0.2', 'Car', '8', '0', '43', 'Mortgage', 'NA'),
	('4007', '14533', '19048.82', '2.71', '12', '349', '79654.56', 'Others', '0.71', 'Other', '8', '1', '43', 'Mortgage', 'Paid Off'),
	('4008', '21375', '20485.2', '14.92', '36', '519', '22358.42', 'Employed', '0.01', 'Personal', '2', '1', '22', 'Rent', 'Paid Off'),
	('4009', '54760', '25320.265', '3.78', '60', '730', '139826.56', 'Employed', '0.72', 'Car', '9', '1', '53', 'Other', 'Late'),
	('4010', '54760', '25979.34', '3.89', '48', '422', '40611.9', 'Employed', '0.48', 'Business', '8', '0', '30', 'Mortgage', 'Current'),
	('4011', '75535', '45980.26', '3.28', '12', '631', '25541.17', 'Unemployed', '0.95', 'Home', '5', '1', '48', 'Rent', 'Paid Off'),
	('4012', '80001', '21810.19', '4.79', '12', '812', '114960.64', 'Unemployed', '0.1', 'Business', '7', '1', '59', 'Other', 'Late'),
	('4013', '39150', '4281.23', '14.16', '72', '519', '126045.53', 'Others', '0.27', 'Home', '9', '1', '69', 'Own', 'Current'),
	('4014', '22915', '23440.14', '15.04', '36', '564', '72981.11', 'Unemployed', '0.04', 'Car', '3', '0', '67', 'Own', 'Paid Off'),
	('4015', '26825', '21139.43', '19.87', '24', '636', '95174.17', 'Employed', '0.48', 'Business', '1', '0', '28', 'Mortgage', 'Late'),
	('4016', '54760', '27923.41', '20.01', '36', '730', '57313.97', 'Employed', '0.4', 'Business', '3', '1', '27', 'Other', 'Current'),
	('4017', '25978', '32351.63', '8.86', '72', '730', '145666.8', 'Self-employed', '0.27', 'Car', '3', '0', '43', 'Rent', 'Late'),
	('4018', '19042', '3886.32', '12.23', '48', '730', '107626.96', 'Employed', '0.48', 'Education', '4', '0', '43', 'Own', 'Late'),
	('4019', '98391', '31258.94', '13.7', '12', '730', '48554.77', 'Unemployed', '0.08', 'Business', '5', '1', '41', 'Own', 'Current'),
	('4020', '45397', '7481.41', '2.12', '72', '764', '68325.89', 'Unemployed', '0.6', 'Business', '2', '1', '38', 'Mortgage', 'Paid Off'),
	('4021', '54760', '22158.85', '22.18', '60', '730', '25641.56', 'Self-employed', '0.48', 'Education', '3', '1', '41', 'Rent', 'Late'),
	('4022', '54245', '44724.18', '13.45', '60', '570', '70626.42', 'Unemployed', '0.53', 'Business', '9', '0', '40', 'Mortgage', 'NA'),
	('4023', '57192', '25320.265', '15.32', '24', '636', '144237', 'Self-employed', '0.01', 'Car', '0', '1', '43', 'Rent', 'Paid Off'),
	('4024', '18798', '11229.22', '7.33', '36', '387', '85420.16', 'Others', '0.13', 'Education', '2', '1', '24', 'Rent', 'Current'),
	('4025', '38353', '25320.265', '19.85', '12', '502', '92141.08', 'Employed', '0.28', 'Car', '9', '1', '43', 'Mortgage', 'Current'),
	('4026', '55272', '3959.3', '10.31', '12', '849', '134245.27', 'Self-employed', '0.48', 'Home', 'Unreported', '1', '57', 'Mortgage', 'Paid Off'),
	('4027', '75901', '15027.55', '17.74', '12', '410', '138615.39', 'Unemployed', '0.38', 'Personal', 'Unreported', '0', '25', 'Rent', 'Late'),
	('4028', '32319', '4795.99', '13.86', '60', '733', '83198.97', 'Employed', '0.62', 'Other', '0', '0', '46', 'Mortgage', 'NA'),
	('4029', '51476', '24375.14', '21.42', '72', '504', '119177.54', 'Unemployed', '0.95', 'Home', '5', '0', '21', 'Rent', 'Late'),
	('4030', '69456', '29095.56', '14.23', '12', '478', '139807.95', 'Employed', '0.04', 'Personal', '8', '1', '41', 'Rent', 'Current'),
	('4031', '93364', '37714.84', '21.4', '24', '759', '76882.64', 'Unemployed', '0.05', 'Education', '0', '0', '35', 'Rent', 'Late'),
	('4032', '46412', '46238.73', '9.58', '24', '454', '85420.16', 'Employed', '0.08', 'Car', '4', '0', '55', 'Own', 'Current'),
	('4033', '86983', '22443.42', '10.05', '72', '730', '134555.21', 'Unemployed', '0.23', 'Other', '5', '1', '29', 'Rent', 'Current'),
	('4034', '54760', '31762.69', '18.29', '36', '730', '140721.55', 'Employed', '0.48', 'Other', '3', '0', '66', 'Rent', 'Current'),
	('4035', '97741', '3943.35', '17.91', '24', '695', '138944.11', 'Self-employed', '0.84', 'Car', '1', '0', '36', 'Mortgage', 'Current'),
	('4036', '43814', '24290.38', '4.56', '24', '493', '60286.23', 'Employed', '0.4', 'Home', '8', '1', '21', 'Mortgage', 'Current'),
	('4037', '64092', '43630.36', '9.11', '36', '362', '26229.28', 'Unemployed', '0.33', 'Car', '1', '0', '26', 'Own', 'Current'),
	('4038', '54760', '30021.66', '4.96', '24', '581', '85420.16', 'Self-employed', '0.76', 'Education', '6', '1', '67', 'Rent', 'Current'),
	('4039', '73655', '19379.97', '7.37', '48', '756', '71808.81', 'Others', '0.56', 'Personal', '7', '1', '69', 'Mortgage', 'Late'),
	('4040', '17865', '5373.07', '10.56', '48', '496', '101453.98', 'Employed', '0.77', 'Car', '1', '1', '38', 'Own', 'Paid Off'),
	('4041', '66660', '25430.71', '24.55', '12', '427', '62999.78', 'Self-employed', '0.18', 'Education', 'Unreported', '0', '22', 'Own', 'Paid Off'),
	('4042', '51364', '46016.46', '10.54', '24', '689', '83595.21', 'Unemployed', '0.67', 'Education', '7', '1', '32', 'Rent', 'Late'),
	('4043', '37066', '4620.82', '12.28', '72', '504', '120123.47', 'Self-employed', '0.75', 'Education', '0', '0', '41', 'Own', 'NA'),
	('4044', '55514', '27012.7', '3.76', '24', '742', '85420.16', 'Unemployed', '0.34', 'Business', '6', '1', '60', 'Mortgage', 'Paid Off'),
	('4045', '96360', '21889.84', '10.54', '24', '640', '78518.01', 'Self-employed', '0.48', 'Personal', '8', '0', '50', 'Rent', 'Current'),
	('4046', '50139', '38213.73', '8.96', '60', '425', '85420.16', 'Unemployed', '0.4', 'Car', '1', '1', '57', 'Own', 'NA'),
	('4047', '17061', '8406.37', '13.245', '36', '361', '85420.16', 'Employed', '0.58', 'Business', '1', '0', '37', 'Own', 'Paid Off'),
	('4048', '87236', '93885.7', '4.73', '60', '730', '1271039', 'Self-employed', '0.48', 'Business', '7', '1', '21', 'Own', 'NA'),
	('4049', '22813', '36084.21', '17.11', '12', '537', '89188.9', 'Unemployed', '0.02', 'Other', '0', '0', '40', 'Mortgage', 'Current'),
	('4050', '17979', '34317.92', '3.79', '48', '490', '129675.96', 'Unemployed', '0.28', 'Personal', '5', '0', '28', 'Rent', 'Paid Off'),
	('4051', '89829', '26366.46', '18.01', '36', '646', '108181.49', 'Employed', '0.02', 'Other', '2', '1', '46', 'Mortgage', 'Paid Off'),
	('4052', '16365', '1223.35', '7.43', '48', '464', '69032.32', 'Others', '0.93', 'Car', '8', '0', '30', 'Other', 'Current'),
	('4053', '19225', '42927.57', '18.03', '48', '730', '122962.93', 'Unemployed', '0.77', 'Business', '0', '1', '33', 'Other', 'Paid Off'),
	('4054', '43334', '25320.265', '12.32', '72', '613', '70986.93', 'Employed', '0.93', 'Personal', 'Unreported', '1', '69', 'Rent', 'Paid Off'),
	('4055', '31336', '33704.77', '24.09', '72', '841', '28739.3', 'Others', '0.48', 'Other', '0', '1', '43', 'Mortgage', 'Paid Off'),
	('4056', '37319', '25320.265', '10.97', '60', '533', '139245.37', 'Employed', '0.45', 'Personal', 'Unreported', '1', '48', 'Own', 'Late'),
	('4057', '54760', '38132.92', '20.81', '24', '833', '85420.16', 'Employed', '0.67', 'Business', '6', '1', '41', 'Rent', 'Current'),
	('4058', '64906', '34523.93', '23.6', '36', '803', '147094.42', 'Unemployed', '0.44', 'Personal', '0', '0', '42', 'Own', 'Current'),
	('4059', '19015', '25320.265', '2.86', '60', '773', '105411.28', 'Employed', '0.29', 'Education', '6', '1', '39', 'Rent', 'Late'),
	('4060', '63432', '4903.32', '15.79', '12', '414', '85420.16', 'Self-employed', '0.48', 'Business', '3', '1', '50', 'Rent', 'Late'),
	('4061', '16420', '2576.37', '7.98', '72', '665', '31233.98', 'Employed', '0.05', 'Car', '0', '0', '56', 'Other', 'Paid Off'),
	('4062', '58549', '23077.52', '7.39', '36', '607', '118164', 'Employed', '0.48', 'Home', '8', '1', '56', 'Mortgage', 'Late'),
	('4063', '58957', '23517.25', '13.76', '36', '470', '85420.16', 'Others', '0.43', 'Business', '7', '0', '55', 'Mortgage', 'Paid Off'),
	('4064', '30462', '199230.8', '23.64', '72', '370', '85420.16', 'Unemployed', '0.88', 'Other', '4', '1', '21', 'Mortgage', 'Paid Off'),
	('4065', '77027', '2466.23', '3.42', '12', '481', '36571.36', 'Employed', '0.05', 'Other', '8', '0', '21', 'Mortgage', 'Late'),
	('4066', '87608', '10767.92', '24.06', '36', '730', '55139.92', 'Employed', '0.78', 'Business', '4', '1', '47', 'Rent', 'Current'),
	('4067', '19598', '7689.21', '20.55', '48', '567', '136835.08', 'Unemployed', '0.47', 'Car', '7', '1', '34', 'Own', 'Late'),
	('4068', '54760', '1624.19', '22.7', '60', '499', '129587.36', 'Unemployed', '0.91', 'Personal', '3', '0', '69', 'Rent', 'Current'),
	('4069', '23955', '31337.54', '3.16', '36', '640', '91296', 'Unemployed', '0.12', 'Home', '0', '1', '26', 'Mortgage', 'Paid Off'),
	('4070', '74980', '5848.35', '8.92', '12', '405', '97887.33', 'Unemployed', '0.78', 'Business', '6', '1', '63', 'Own', 'Paid Off'),
	('4071', '21174', '8271.09', '4.81', '48', '794', '85420.16', 'Unemployed', '0.86', 'Car', '8', '0', '47', 'Rent', 'Late'),
	('4072', '25529', '5856.54', '11.24', '24', '847', '85420.16', 'Self-employed', '0.2', 'Other', 'Unreported', '1', '65', 'Mortgage', 'Late'),
	('4073', '42492', '38468.61', '5.99', '72', '429', '98799.88', 'Self-employed', '0.33', 'Car', '9', '1', '68', 'Mortgage', 'Late'),
	('4074', '79111', '44285.54', '3.59', '12', '549', '38707.2', 'Employed', '0.14', 'Business', '6', '0', '57', 'Rent', 'Paid Off'),
	('4075', '20562', '6820.91', '16.88', '12', '700', '26465.53', 'Self-employed', '0.81', 'Home', '9', '1', '41', 'Mortgage', 'Paid Off'),
	('4076', '30123', '31167.58', '13.245', '36', '785', '46664.43', 'Others', '0.76', 'Business', '4', '0', '22', 'Mortgage', 'Current'),
	('4077', '54760', '31364.74', '22.28', '36', '631', '77666.27', 'Self-employed', '0.7', 'Other', '2', '1', '27', 'Rent', 'Late'),
	('4078', '18435', '14785', '5.59', '36', '615', '136037.46', 'Unemployed', '0.48', 'Education', '4', '1', '43', 'Own', 'Late'),
	('4079', '33781', '29837.15', '13.245', '48', '836', '135921.69', 'Employed', '0.04', 'Car', '5', '1', '36', 'Other', 'Paid Off'),
	('4080', '54760', '22230.81', '15.4', '72', '746', '85420.16', 'Employed', '0.82', 'Home', '1', '1', '26', 'Own', 'Paid Off'),
	('4081', '20396', '6274.62', '3.86', '60', '730', '89425.03', 'Unemployed', '0.2', 'Home', '7', '1', '25', 'Mortgage', 'Current'),
	('4082', '76492', '47954.11', '22.52', '72', '730', '131023.91', 'Employed', '0.67', 'Personal', 'Unreported', '1', '42', 'Own', 'Late'),
	('4083', '70207', '34253.14', '24.22', '24', '581', '85420.16', 'Unemployed', '0.58', 'Business', '9', '0', '65', 'Other', 'Current'),
	('4084', '25257', '47744.02', '14.38', '72', '730', '41151.19', 'Others', '0.3', 'Education', '9', '0', '47', 'Own', 'Late'),
	('4085', '32986', '8400.14', '21.04', '60', '445', '93138.95', 'Self-employed', '0.33', 'Car', '7', '0', '59', 'Rent', 'Paid Off'),
	('4086', '71671', '39913.53', '13.31', '36', '730', '76518.77', 'Self-employed', '0.25', 'Home', '1', '0', '51', 'Own', 'Late'),
	('4087', '72920', '21610.67', '4.2', '72', '642', '63584.35', 'Self-employed', '0.33', 'Business', '3', '0', '31', 'Own', 'Paid Off'),
	('4088', '19681', '25320.265', '11.24', '12', '624', '107808.64', 'Unemployed', '0.95', 'Car', '8', '1', '33', 'Mortgage', 'Current'),
	('4089', '21481', '34662.56', '14.09', '36', '831', '20708.4', 'Self-employed', '0.81', 'Business', '0', '0', '62', 'Mortgage', 'NA'),
	('4090', '35351', '8211.11', '18.84', '72', '671', '69659.96', 'Unemployed', '0.23', 'Personal', '2', '1', '43', 'Own', 'Late'),
	('4091', '71363', '2591.25', '5.11', '72', '433', '52067.54', 'Employed', '0.3', 'Business', '0', '1', '35', 'Rent', 'Late'),
	('4092', '68653', '7155.49', '12.13', '60', '657', '59009.89', 'Self-employed', '0.57', 'Business', '3', '1', '49', 'Own', 'Late'),
	('4093', '26809', '35921.8', '18', '72', '751', '118701.29', 'Employed', '0.28', 'Personal', '1', '0', '63', 'Own', 'Current'),
	('4094', '11313', '1516.55', '16.56', '60', '797', '33256.77', 'Others', '0.48', 'Home', '6', '0', '67', 'Rent', 'Current'),
	('4095', '10120', '24434.96', '3.93', '72', '797', '24418.73', 'Self-employed', '0.48', 'Business', '5', '1', '43', 'Rent', 'Paid Off'),
	('4096', '40218', '28099.61', '9.74', '36', '330', '101072.81', 'Unemployed', '0.98', 'Car', '0', '0', '59', 'Mortgage', 'NA'),
	('4097', '64831', '40801.11', '3.1', '36', '686', '67656.23', 'Unemployed', '0.13', 'Business', '1', '0', '23', 'Other', 'NA'),
	('4098', '76946', '22883.15', '5.44', '12', '611', '104551.78', 'Unemployed', '0.55', 'Other', '3', '0', '21', 'Mortgage', 'NA'),
	('4099', '45219', '1268.85', '6.81', '60', '738', '67769.48', 'Employed', '0.39', 'Personal', '2', '0', '64', 'Other', 'Current'),
	('4100', '76007', '25320.265', '11.55', '60', '355', '31638.7', 'Employed', '0.27', 'Education', '4', '1', '19', 'Rent', 'Late'),
	('4101', '54760', '3330.16', '13.52', '12', '324', '119621.85', 'Self-employed', '0.48', 'Education', '2', '1', '34', 'Mortgage', 'Paid Off'),
	('4102', '17124', '49066.67', '20.93', '48', '803', '83601.03', 'Unemployed', '0.72', 'Home', '7', '0', '46', 'Own', 'Current'),
	('4103', '59210', '32282.69', '19.89', '12', '730', '44525.48', 'Employed', '0.14', 'Car', '8', '1', '43', 'Other', 'NA'),
	('4104', '76956', '1094.08', '13.245', '36', '480', '107749.39', 'Self-employed', '0.67', 'Home', '4', '1', '37', 'Mortgage', 'NA'),
	('4105', '52668', '2887.93', '9.12', '12', '627', '104354.33', 'Self-employed', '0.55', 'Business', '8', '1', '58', 'Rent', 'Late'),
	('4106', '29279', '12050.58', '5.06', '12', '706', '71290.25', 'Employed', '0.08', 'Other', 'Unreported', '1', '30', 'Own', 'Paid Off'),
	('4107', '82101', '39163.92', '22.32', '12', '389', '143293.98', 'Employed', '0.29', 'Personal', '3', '1', '43', 'Rent', 'Late'),
	('4108', '63656', '20551.94', '13.245', '24', '807', '85089.78', 'Employed', '0.19', 'Home', '2', '0', '36', 'Rent', 'Paid Off'),
	('4109', '11709', '25320.265', '13.245', '36', '636', '112014.6', 'Others', '0.61', 'Personal', '7', '1', '28', 'Mortgage', 'Paid Off'),
	('4110', '67524', '25320.265', '18', '48', '801', '85420.16', 'Self-employed', '0.49', 'Business', '8', '1', '35', 'Own', 'Paid Off'),
	('4111', '63076', '44670.9', '19.13', '12', '339', '148432.23', 'Unemployed', '0.76', 'Education', '7', '0', '43', 'Own', 'Late'),
	('4112', '68234', '21964.07', '20.94', '36', '730', '85420.16', 'Unemployed', '0.48', 'Education', '4', '0', '35', 'Rent', 'Late'),
	('4113', '74188', '38247.81', '13.28', '36', '600', '70521.04', 'Employed', '0.48', 'Home', '2', '0', '38', 'Mortgage', 'Late'),
	('4114', '18583', '12474.61', '11.96', '36', '415', '23184.75', 'Self-employed', '0.47', 'Car', '1', '0', '40', 'Own', 'NA'),
	('4115', '36478', '9584.13', '19.32', '36', '342', '97628.38', 'Unemployed', '0.52', 'Car', '2', '0', '21', 'Own', 'Current'),
	('4116', '98852', '48838.42', '10.31', '36', '730', '22216.64', 'Self-employed', '0.23', 'Education', '2', '1', '66', 'Mortgage', 'Late'),
	('4117', '32791', '32271.85', '3.26', '24', '739', '85420.16', 'Self-employed', '0.03', 'Home', '2', '1', '34', 'Own', 'Paid Off'),
	('4118', '59956', '33207.09', '13.245', '24', '755', '83408.09', 'Unemployed', '0.76', 'Business', '0', '1', '34', 'Rent', 'Late'),
	('4119', '41855', '44014.06', '17.02', '36', '730', '129205.69', 'Self-employed', '0.49', 'Business', '8', '1', '43', 'Own', 'Current'),
	('4120', '64921', '2324.69', '12.56', '36', '840', '67773.7', 'Self-employed', '0.37', 'Personal', '1', '1', '27', 'Own', 'Paid Off'),
	('4121', '64469', '15008.53', '24.55', '48', '658', '85865.36', 'Self-employed', '0.46', 'Car', '0', '1', '62', 'Mortgage', 'Paid Off'),
	('4122', '31785', '36239.33', '13.245', '36', '816', '65931.05', 'Unemployed', '0.63', 'Personal', '0', '1', '37', 'Other', 'Late'),
	('4123', '31972', '23276.54', '5.08', '72', '640', '99708.8', 'Unemployed', '0.56', 'Education', '9', '0', '30', 'Own', 'Current'),
	('4124', '53584', '47200.58', '13.245', '36', '738', '76357.59', 'Employed', '0.08', 'Business', '2', '0', '24', 'Rent', 'Current'),
	('4125', '95075', '23078.15', '14.3', '72', '791', '62584.49', 'Employed', '0.31', 'Car', 'Unreported', '1', '43', 'Own', 'Paid Off'),
	('4126', '17625', '7224.58', '20.22', '36', '550', '76014.93', 'Others', '0.06', 'Education', '0', '0', '41', 'Own', 'Late'),
	('4127', '37774', '45457.71', '21.6', '24', '505', '115370.72', 'Unemployed', '0.59', 'Home', '7', '1', '38', 'Rent', 'NA'),
	('4128', '21351', '1250.72', '15.6', '60', '332', '78369.62', 'Others', '0.47', 'Business', '6', '0', '24', 'Own', 'Paid Off'),
	('4129', '11853', '38179.41', '3.78', '36', '373', '118276', 'Unemployed', '0.48', 'Car', '1', '1', '32', 'Mortgage', 'Current'),
	('4130', '87626', '1408.55', '10.62', '12', '394', '32639.44', 'Unemployed', '0.48', 'Education', '5', '1', '43', 'Own', 'NA'),
	('4131', '97666', '23697.54', '13.245', '48', '408', '147999.41', 'Unemployed', '0.15', 'Education', '3', '0', '57', 'Own', 'NA'),
	('4132', '62249', '25320.265', '22.24', '24', '683', '43442.15', 'Others', '0.68', 'Business', '4', '1', '43', 'Rent', 'Paid Off'),
	('4133', '30602', '25320.265', '5.53', '72', '538', '46923.64', 'Unemployed', '0.43', 'Education', '7', '0', '43', 'Own', 'Paid Off'),
	('4134', '21178', '20440.28', '8.06', '12', '650', '62172.73', 'Employed', '0.48', 'Education', '4', '1', '60', 'Own', 'NA'),
	('4135', '35296', '2516.69', '13.245', '48', '432', '46231.93', 'Self-employed', '0.67', 'Car', '8', '1', '39', 'Mortgage', 'Current'),
	('4136', '18232', '25320.265', '12.72', '60', '389', '74370.89', 'Unemployed', '0.88', 'Home', '8', '1', '46', 'Rent', 'Late'),
	('4137', '99404', '16512.61', '13.245', '36', '662', '86785.43', 'Employed', '0.18', 'Car', '5', '1', '64', 'Own', 'Paid Off'),
	('4138', '42081', '32333.46', '24.46', '36', '327', '127380.5', 'Unemployed', '0.03', 'Personal', '4', '1', '33', 'Rent', 'Late'),
	('4139', '70922', '20856.17', '11.92', '48', '309', '85420.16', 'Self-employed', '0.79', 'Personal', '3', '1', '62', 'Mortgage', 'Current'),
	('4140', '74765', '22487.19', '22.84', '72', '372', '39481.08', 'Unemployed', '0.61', 'Other', '9', '0', '44', 'Rent', 'Paid Off'),
	('4141', '65013', '13926.03', '6.66', '36', '745', '80065.5', 'Employed', '0.38', 'Home', '6', '1', '22', 'Own', 'Late'),
	('4142', '43193', '25320.265', '15.15', '36', '730', '54859.82', 'Others', '0.61', 'Education', '7', '1', '46', 'Other', 'Late'),
	('4143', '29660', '23722.3', '19.05', '12', '708', '29713.95', 'Self-employed', '0.29', 'Education', '1', '1', '42', 'Own', 'Paid Off'),
	('4144', '84095', '2941.26', '20.28', '12', '781', '46348.46', 'Employed', '0.12', 'Education', '4', '1', '49', 'Rent', 'Current'),
	('4145', '68648', '47293.59', '17.31', '24', '730', '35571.02', 'Unemployed', '0.04', 'Car', 'Unreported', '0', '25', 'Other', 'NA'),
	('4146', '38869', '25349.12', '24.98', '12', '683', '109687.8', 'Unemployed', '0.9', 'Home', '3', '0', '51', 'Rent', 'Current'),
	('4147', '39705', '24812.63', '18.47', '24', '413', '127254.25', 'Others', '0.45', 'Car', '7', '1', '24', 'Mortgage', 'Late'),
	('4148', '54760', '25320.265', '16.07', '60', '790', '120505.27', 'Self-employed', '0.72', 'Personal', '8', '0', '67', 'Own', 'Paid Off'),
	('4149', '68265', '32122.24', '22.12', '36', '366', '126358.27', 'Self-employed', '0.09', 'Business', '4', '1', '47', 'Rent', 'Paid Off'),
	('4150', '25443', '20675.59', '18.52', '48', '418', '85420.16', 'Self-employed', '0.48', 'Education', '5', '0', '66', 'Mortgage', 'Current'),
	('4151', '78986', '37724.49', '5', '36', '567', '78228', 'Self-employed', '0.48', 'Home', '6', '0', '26', 'Rent', 'Paid Off'),
	('4152', '36519', '43952.55', '19.69', '12', '425', '112774.76', 'Unemployed', '0.48', 'Other', '7', '1', '37', 'Other', 'Paid Off'),
	('4153', '44226', '24996.84', '5.47', '48', '783', '23110.68', 'Employed', '0.47', 'Personal', 'Unreported', '1', '58', 'Other', 'Paid Off'),
	('4154', '14729', '32975.06', '13.245', '60', '367', '128995.07', 'Self-employed', '0.53', 'Car', '7', '1', '62', 'Mortgage', 'Current'),
	('4155', '54760', '15481.31', '8.68', '48', '730', '109489.75', 'Employed', '0.9', 'Education', '7', '0', '22', 'Other', 'Paid Off'),
	('4156', '79129', '31644.74', '19.17', '48', '796', '22122.52', 'Unemployed', '0.83', 'Education', '1', '1', '64', 'Own', 'Late'),
	('4157', '65721', '32126.73', '15.44', '60', '456', '85420.16', 'Self-employed', '0.92', 'Other', '3', '0', '32', 'Rent', 'Paid Off'),
	('4158', '54007', '26086.77', '9.96', '72', '774', '138794.52', 'Unemployed', '0.2', 'Education', '9', '0', '37', 'Own', 'Current'),
	('4159', '74887', '8832.46', '20.42', '36', '335', '104818.62', 'Employed', '0.26', 'Education', 'Unreported', '1', '58', 'Own', 'Current'),
	('4160', '54760', '36540.18', '4.16', '72', '383', '69648.85', 'Self-employed', '0.48', 'Car', '4', '0', '51', 'Rent', 'Paid Off'),
	('4161', '57166', '16663.54', '8.84', '12', '713', '137835.03', 'Others', '0.96', 'Education', '8', '0', '42', 'Other', 'Paid Off'),
	('4162', '33495', '25320.265', '21.51', '48', '348', '85420.16', 'Unemployed', '0.6', 'Business', '8', '1', '37', 'Other', 'NA'),
	('4163', '53995', '42725.65', '10.34', '60', '730', '90606.83', 'Self-employed', '0.61', 'Business', '7', '0', '45', 'Mortgage', 'Current'),
	('4164', '72077', '34375.13', '9.5', '36', '464', '66561.51', 'Unemployed', '0.48', 'Home', 'Unreported', '1', '43', 'Mortgage', 'Late'),
	('4165', '61030', '5050.87', '13.245', '12', '430', '39031.25', 'Self-employed', '0.05', 'Car', '9', '1', '26', 'Own', 'Late'),
	('4166', '94000', '28703.58', '22.9', '48', '681', '32969.78', 'Self-employed', '0.48', 'Car', 'Unreported', '1', '25', 'Mortgage', 'Late'),
	('4167', '54760', '25320.265', '24.13', '24', '541', '72859.46', 'Unemployed', '0.74', 'Car', 'Unreported', '0', '51', 'Rent', 'Paid Off'),
	('4168', '71848', '32627.37', '3.82', '12', '357', '50492.69', 'Self-employed', '0.34', 'Business', '8', '1', '43', 'Own', 'Late'),
	('4169', '15774', '20337.96', '23.81', '36', '458', '34903.11', 'Others', '0.84', 'Personal', '1', '1', '56', 'Rent', 'Paid Off'),
	('4170', '53553', '40836.95', '24.1', '12', '812', '75657.78', 'Employed', '0.67', 'Education', '9', '1', '33', 'Own', 'Paid Off'),
	('4171', '67472', '39228.76', '10.04', '36', '310', '113696.2', 'Employed', '0.65', 'Other', '0', '1', '66', 'Mortgage', 'Late'),
	('4172', '64168', '49985.71', '2.42', '72', '730', '106761.01', 'Employed', '0.48', 'Home', '3', '1', '27', 'Rent', 'Paid Off'),
	('4173', '35650', '15659.34', '10.11', '24', '848', '106601.61', 'Employed', '0.75', 'Home', '9', '1', '27', 'Rent', 'Current'),
	('4174', '98358', '9578.86', '19.72', '12', '524', '37498.87', 'Unemployed', '0.16', 'Business', '2', '1', '54', 'Mortgage', 'Current'),
	('4175', '67143', '10080.59', '4.82', '60', '306', '66618.87', 'Employed', '0.81', 'Home', '5', '1', '43', 'Mortgage', 'Paid Off'),
	('4176', '60447', '30347.03', '7.63', '24', '401', '52579.1', 'Self-employed', '0.37', 'Business', '7', '1', '57', 'Own', 'Paid Off'),
	('4177', '54760', '17392.66', '4.75', '36', '379', '127153.73', 'Self-employed', '0.75', 'Car', '9', '1', '19', 'Own', 'Current'),
	('4178', '85671', '45435.89', '2.79', '72', '730', '91470.24', 'Others', '0.11', 'Education', '6', '1', '43', 'Rent', 'Late'),
	('4179', '54760', '4888.46', '21.27', '36', '319', '47442.19', 'Unemployed', '0.79', 'Business', '1', '0', '64', 'Mortgage', 'Current'),
	('4180', '32288', '38476.02', '15.73', '36', '685', '33293.29', 'Self-employed', '0.78', 'Education', '2', '0', '64', 'Mortgage', 'Current'),
	('4181', '20578', '24995.82', '13.245', '48', '836', '140307.41', 'Employed', '0.92', 'Home', '8', '0', '30', 'Mortgage', 'Current'),
	('4182', '92861', '32234.24', '4.84', '12', '513', '68231.29', 'Employed', '0.67', 'Personal', '1', '1', '65', 'Rent', 'Paid Off'),
	('4183', '34225', '29803.39', '17.64', '72', '526', '54349.54', 'Self-employed', '0.23', 'Business', '4', '1', '45', 'Own', 'Current'),
	('4184', '24723', '26982.67', '15.23', '24', '686', '143098.52', 'Unemployed', '0.96', 'Other', '0', '0', '44', 'Rent', 'Current'),
	('4185', '42314', '35219.02', '13.245', '24', '401', '142329.37', 'Unemployed', '0.79', 'Car', '6', '0', '37', 'Own', 'Paid Off'),
	('4186', '62070', '27739.61', '13.05', '24', '579', '108144.94', 'Employed', '0.36', 'Home', '9', '1', '53', 'Rent', 'Late'),
	('4187', '79703', '46201.11', '8.61', '60', '722', '35452.98', 'Employed', '0.6', 'Business', '5', '0', '60', 'Rent', 'Paid Off'),
	('4188', '36681', '28032.2', '13.69', '60', '587', '49417.1', 'Unemployed', '0.22', 'Car', 'Unreported', '1', '18', 'Other', 'Late'),
	('4189', '93416', '46063.62', '12.98', '36', '403', '58959.31', 'Employed', '0.62', 'Business', '7', '1', '36', 'Mortgage', 'Current'),
	('4190', '25870', '40510.42', '17.78', '36', '743', '40139.37', 'Unemployed', '0.67', 'Car', '7', '0', '43', 'Rent', 'Late'),
	('4191', '57164', '42529.84', '23.72', '24', '317', '147238.28', 'Employed', '0.68', 'Home', '6', '1', '54', 'Mortgage', 'Paid Off'),
	('4192', '76099', '44967.09', '13.245', '36', '352', '131105.75', 'Unemployed', '0.68', 'Education', '9', '0', '36', 'Mortgage', 'Current'),
	('4193', '58856', '10925.26', '15.13', '36', '761', '114401.96', 'Unemployed', '0.02', 'Personal', '2', '1', '23', 'Own', 'Paid Off'),
	('4194', '76816', '17785.18', '10.17', '36', '613', '106898.65', 'Self-employed', '0.24', 'Education', '0', '1', '30', 'Other', 'Late'),
	('4195', '41501', '25320.265', '14.83', '60', '511', '53890.7', 'Self-employed', '0.64', 'Education', '6', '0', '63', 'Rent', 'Paid Off'),
	('4196', '35625', '8311.52', '22.99', '72', '551', '108836.45', 'Employed', '0.05', 'Education', '4', '0', '33', 'Mortgage', 'Late'),
	('4197', '19307', '25017.1', '9.58', '12', '730', '78588.62', 'Self-employed', '0.7', 'Personal', '8', '0', '24', 'Own', 'NA'),
	('4198', '90175', '6132.68', '23.44', '48', '730', '133144.6', 'Employed', '0.86', 'Personal', '9', '1', '59', 'Other', 'Paid Off'),
	('4199', '54760', '8474.79', '19.68', '12', '493', '41009.96', 'Employed', '0.06', 'Business', '7', '1', '29', 'Own', 'Current'),
	('4200', '95485', '29855.58', '18.71', '72', '805', '147658.17', 'Employed', '0.69', 'Education', '5', '1', '18', 'Rent', 'Paid Off'),
	('4201', '89895', '20408.97', '20.53', '12', '305', '60337.4', 'Unemployed', '0.28', 'Car', '3', '1', '68', 'Own', 'Current'),
	('4202', '42691', '25320.265', '13.245', '72', '823', '71660.58', 'Employed', '0.55', 'Personal', '4', '1', '44', 'Own', 'Late'),
	('4203', '37062', '25898.44', '6.73', '24', '353', '146065.77', 'Employed', '0.01', 'Car', '4', '0', '67', 'Mortgage', 'Late'),
	('4204', '36061', '33375.67', '24.76', '48', '646', '95723.47', 'Self-employed', '0.66', 'Business', '1', '1', '19', 'Own', 'Late'),
	('4205', '15645', '25467.14', '8.52', '12', '621', '85420.16', 'Unemployed', '0.31', 'Education', '1', '1', '64', 'Rent', 'Paid Off'),
	('4206', '70482', '17746.85', '8.51', '48', '747', '86276.6', 'Self-employed', '0.83', 'Home', '6', '1', '24', 'Rent', 'Current'),
	('4207', '21768', '10447.62', '14.14', '12', '730', '130655.1', 'Self-employed', '0.48', 'Education', '6', '0', '32', 'Mortgage', 'Paid Off'),
	('4208', '86417', '23759.18', '11.46', '48', '823', '37022.75', 'Unemployed', '0.37', 'Personal', '3', '0', '25', 'Mortgage', 'Late'),
	('4209', '14077', '19402.1', '4', '60', '836', '65899.38', 'Unemployed', '0.18', 'Other', '0', '0', '45', 'Other', 'Paid Off'),
	('4210', '86340', '40956.82', '12.55', '60', '730', '37490.98', 'Employed', '0.81', 'Other', 'Unreported', '1', '29', 'Rent', 'Paid Off'),
	('4211', '13513', '25320.265', '9.81', '12', '844', '68280.79', 'Others', '0.46', 'Business', '3', '0', '25', 'Own', 'Paid Off'),
	('4212', '65292', '28949.49', '13.245', '12', '699', '58176.8', 'Unemployed', '0.1', 'Business', '9', '1', '20', 'Rent', 'Current'),
	('4213', '94494', '31304.5', '22.57', '48', '301', '38131.81', 'Self-employed', '0.83', 'Other', '0', '1', '35', 'Rent', 'NA'),
	('4214', '58484', '49406.93', '15.93', '48', '669', '116427', 'Employed', '0.63', 'Car', '8', '1', '46', 'Own', 'Late'),
	('4215', '68160', '44382.85', '18.39', '12', '388', '130341.04', 'Self-employed', '0.07', 'Car', '6', '1', '40', 'Mortgage', 'Paid Off'),
	('4216', '58236', '26360.8', '15.53', '48', '672', '36532.85', 'Unemployed', '0.54', 'Car', '1', '0', '36', 'Other', 'Current'),
	('4217', '54760', '15137.26', '7.31', '36', '331', '82723.65', 'Employed', '0.62', 'Business', '5', '0', '31', 'Rent', 'Current'),
	('4218', '54176', '1499.06', '19.4', '60', '756', '135195.62', 'Employed', '0.23', 'Education', 'Unreported', '0', '44', 'Mortgage', 'Current'),
	('4219', '41993', '12798.26', '8.25', '36', '672', '116642.47', 'Employed', '0.82', 'Other', '7', '0', '60', 'Rent', 'Late'),
	('4220', '21071', '42524.33', '10.41', '48', '352', '20323', 'Self-employed', '0.57', 'Car', '3', '1', '57', 'Mortgage', 'Current'),
	('4221', '54760', '48689.56', '13.245', '36', '556', '63279.28', 'Employed', '0.36', 'Home', 'Unreported', '0', '60', 'Own', 'Late'),
	('4222', '54214', '35351.66', '10.4', '24', '453', '55039.85', 'Others', '0.25', 'Home', '0', '1', '58', 'Mortgage', 'Paid Off'),
	('4223', '95250', '30588.86', '3.11', '48', '344', '85420.16', 'Employed', '0.48', 'Car', 'Unreported', '0', '18', 'Rent', 'Paid Off'),
	('4224', '28976', '30705.47', '2.55', '36', '531', '88456.73', 'Employed', '0.41', 'Car', '5', '0', '69', 'Mortgage', 'Late'),
	('4225', '54760', '32845.47', '13.245', '60', '809', '80992.81', 'Unemployed', '0.09', 'Car', '8', '1', '59', 'Own', 'Current'),
	('4226', '93270', '1087.67', '3.04', '60', '587', '103835.42', 'Unemployed', '0.08', 'Personal', 'Unreported', '1', '26', 'Rent', 'NA'),
	('4227', '47845', '19127.96', '24.9', '48', '432', '103763.39', 'Others', '0.91', 'Personal', '8', '1', '54', 'Other', 'Late'),
	('4228', '76204', '17134.66', '24.83', '60', '730', '75019.81', 'Employed', '0.2', 'Car', '4', '0', '28', 'Mortgage', 'Late'),
	('4229', '50603', '48918.73', '11.65', '24', '419', '85420.16', 'Self-employed', '0.94', 'Personal', '0', '1', '38', 'Own', 'Current'),
	('4230', '20417', '1035.61', '7.69', '48', '682', '65652.37', 'Self-employed', '0.2', 'Business', '1', '0', '41', 'Mortgage', 'Current'),
	('4231', '75284', '37080.89', '20.57', '12', '707', '110279.39', 'Employed', '0.46', 'Education', '5', '1', '31', 'Rent', 'Current'),
	('4232', '47636', '20859.06', '18.8', '48', '730', '85420.16', 'Employed', '0.6', 'Other', '5', '1', '54', 'Other', 'Late'),
	('4233', '54760', '25320.265', '23.62', '72', '741', '85420.16', 'Self-employed', '0.59', 'Business', '8', '1', '43', 'Rent', 'Late'),
	('4234', '24274', '25320.265', '7', '24', '730', '50682.89', 'Self-employed', '0.72', 'Business', '3', '1', '29', 'Own', 'Paid Off'),
	('4235', '32238', '7264.59', '23.8', '24', '633', '65881.99', 'Employed', '0.51', 'Other', '6', '1', '52', 'Rent', 'Late'),
	('4236', '65627', '2830.64', '13.245', '72', '583', '78303.16', 'Unemployed', '0.67', 'Education', '4', '0', '65', 'Mortgage', 'Paid Off'),
	('4237', '45530', '34489.2', '14.71', '24', '794', '85420.16', 'Unemployed', '0.42', 'Home', '0', '0', '43', 'Rent', 'Current'),
	('4238', '15314', '2209.54', '16.36', '12', '396', '52227.58', 'Employed', '0.02', 'Home', '3', '1', '40', 'Own', 'Current'),
	('4239', '33116', '1586.24', '8.23', '24', '557', '62969.61', 'Others', '0.41', 'Home', '4', '1', '69', 'Rent', 'Current'),
	('4240', '29924', '21873.22', '10.53', '72', '303', '111333.47', 'Self-employed', '0.31', 'Other', '9', '1', '51', 'Mortgage', 'Late'),
	('4241', '44441', '7397.7', '22.34', '24', '398', '32694.51', 'Unemployed', '0.38', 'Car', '4', '1', '43', 'Mortgage', 'Paid Off'),
	('4242', '45578', '22860.25', '17.14', '36', '567', '110751.48', 'Unemployed', '0.27', 'Personal', '3', '1', '23', 'Rent', 'Paid Off'),
	('4243', '94003', '18935.68', '21.88', '24', '403', '110624.99', 'Self-employed', '0.15', 'Home', '2', '1', '63', 'Rent', 'Current'),
	('4244', '38083', '25320.265', '8.6', '24', '770', '96473.2', 'Employed', '0.48', 'Home', '7', '0', '43', 'Mortgage', 'Current'),
	('4245', '35222', '32345.65', '3.69', '60', '701', '22069.39', 'Self-employed', '0.51', 'Business', '4', '1', '58', 'Rent', 'Current'),
	('4246', '51470', '32836.39', '5.11', '12', '456', '85420.16', 'Employed', '0.02', 'Home', '4', '0', '43', 'Own', 'Paid Off'),
	('4247', '89391', '32589.22', '7.94', '36', '366', '108411.57', 'Others', '0.1', 'Personal', '9', '1', '37', 'Rent', 'Current'),
	('4248', '80939', '43366.87', '13.37', '60', '418', '96441.69', 'Self-employed', '0.37', 'Home', '0', '0', '61', 'Rent', 'Current'),
	('4249', '22298', '1331.91', '6.41', '12', '643', '73635.55', 'Unemployed', '0.37', 'Home', '4', '0', '68', 'Other', 'Paid Off'),
	('4250', '31168', '2359.02', '17.61', '36', '545', '74147.46', 'Unemployed', '0.72', 'Home', '0', '0', '32', 'Own', 'Paid Off'),
	('4251', '23256', '26635.1', '13.245', '36', '432', '95208.68', 'Unemployed', '0.61', 'Business', '8', '1', '68', 'Own', 'Late'),
	('4252', '78825', '23834.76', '13.245', '36', '755', '112281.01', 'Self-employed', '0.48', 'Business', '7', '0', '38', 'Rent', 'Paid Off'),
	('4253', '64885', '49537.81', '18.74', '36', '835', '92289.59', 'Others', '0.2', 'Other', '4', '0', '53', 'Rent', 'Current'),
	('4254', '22623', '25320.265', '15.11', '12', '388', '41550.45', 'Employed', '0.92', 'Other', 'Unreported', '1', '37', 'Rent', 'Late'),
	('4255', '27946', '20066.11', '19.12', '48', '747', '89000.21', 'Employed', '0.01', 'Personal', 'Unreported', '0', '38', 'Mortgage', 'Late'),
	('4256', '72277', '41949.61', '13.245', '48', '509', '114719.76', 'Unemployed', '0.48', 'Education', 'Unreported', '1', '64', 'Mortgage', 'Paid Off'),
	('4257', '73698', '31531.52', '16.7', '48', '753', '62776.53', 'Employed', '0.89', 'Business', '7', '1', '54', 'Other', 'Current'),
	('4258', '75444', '4482.68', '23.7', '48', '730', '134933.97', 'Employed', '0.34', 'Business', 'Unreported', '1', '47', 'Own', 'Late'),
	('4259', '27445', '3825.31', '14.88', '12', '730', '86820.8', 'Employed', '0.73', 'Education', '0', '1', '47', 'Mortgage', 'Late'),
	('4260', '57938', '26899.04', '17.35', '48', '706', '20741.06', 'Employed', '0.13', 'Education', '0', '0', '43', 'Rent', 'Current'),
	('4261', '54760', '20441.85', '12.95', '24', '575', '85389.67', 'Self-employed', '0.79', 'Business', '9', '1', '69', 'Own', 'Current'),
	('4262', '54760', '37036.14', '14.67', '36', '638', '124089.87', 'Employed', '0.14', 'Other', '8', '0', '43', 'Mortgage', 'NA'),
	('4263', '89081', '31775.05', '19.35', '24', '387', '116805.9', 'Others', '0.96', 'Home', '1', '1', '42', 'Own', 'Late'),
	('4264', '32656', '1015.02', '24.96', '60', '730', '33185.65', 'Unemployed', '0.18', 'Car', '9', '0', '41', 'Own', 'Paid Off'),
	('4265', '92086', '1827.01', '3.09', '36', '434', '85420.16', 'Employed', '0.23', 'Education', '1', '1', '21', 'Own', 'Late'),
	('4266', '71760', '42146.01', '14.58', '72', '440', '139374.5', 'Unemployed', '0.48', 'Other', '6', '1', '28', 'Own', 'Late'),
	('4267', '19097', '90646.7', '13.245', '72', '535', '607754.1', 'Self-employed', '0', 'Car', '5', '1', '54', 'Rent', 'Current'),
	('4268', '46670', '28910.18', '23.38', '36', '437', '65609.12', 'Employed', '0.48', 'Business', '0', '1', '55', 'Own', 'Current'),
	('4269', '20161', '47084.34', '5.56', '36', '326', '41602.28', 'Self-employed', '0.02', 'Education', '7', '1', '60', 'Rent', 'Late'),
	('4270', '11539', '48363.73', '20.95', '12', '757', '79012.88', 'Employed', '0.8', 'Car', '8', '0', '63', 'Mortgage', 'Current'),
	('4271', '60309', '25320.265', '5', '36', '753', '83384.12', 'Self-employed', '0.91', 'Car', '3', '0', '43', 'Rent', 'Current'),
	('4272', '76251', '44557.24', '19.78', '36', '556', '31888.88', 'Self-employed', '0.1', 'Education', '9', '1', '53', 'Rent', 'Late'),
	('4273', '83333', '45347.88', '22.53', '60', '738', '85420.16', 'Self-employed', '0.18', 'Personal', '5', '1', '69', 'Own', 'Late'),
	('4274', '97334', '4751.23', '19.17', '72', '769', '124620.78', 'Self-employed', '0.01', 'Education', '2', '1', '56', 'Mortgage', 'Current'),
	('4275', '10108', '43004.9', '23.84', '72', '712', '90699.53', 'Employed', '0.66', 'Car', '0', '0', '60', 'Mortgage', 'Current'),
	('4276', '97209', '21370.87', '13.245', '72', '380', '134479.92', 'Employed', '0.79', 'Car', 'Unreported', '1', '53', 'Own', 'Current'),
	('4277', '81185', '3090.62', '8.46', '60', '346', '36761.85', 'Self-employed', '0.79', 'Personal', '1', '1', '43', 'Mortgage', 'Paid Off'),
	('4278', '40380', '27125.38', '21.95', '24', '608', '133956', 'Unemployed', '0.23', 'Personal', 'Unreported', '0', '36', 'Own', 'Current'),
	('4279', '74146', '6718.5', '19.24', '48', '826', '20633.25', 'Employed', '0.93', 'Business', '0', '1', '23', 'Own', 'Paid Off'),
	('4280', '67295', '4876.61', '21.28', '72', '685', '54470.13', 'Self-employed', '0.62', 'Home', '8', '1', '59', 'Own', 'Late'),
	('4281', '54760', '23911.36', '14.17', '36', '840', '54431.09', 'Self-employed', '0.44', 'Personal', 'Unreported', '0', '48', 'Rent', 'Late'),
	('4282', '70092', '16423.68', '21.37', '48', '805', '31053.28', 'Unemployed', '0.54', 'Business', '6', '1', '46', 'Own', 'Current'),
	('4283', '37047', '44184.57', '13.245', '36', '695', '122340.61', 'Self-employed', '0.95', 'Car', '9', '0', '43', 'Other', 'Current'),
	('4284', '97333', '16463.95', '23.15', '72', '807', '132985.03', 'Unemployed', '0.9', 'Car', '9', '1', '37', 'Own', 'Paid Off'),
	('4285', '54760', '41306.24', '7.2', '60', '589', '82333.08', 'Self-employed', '0.48', 'Personal', '9', '1', '55', 'Other', 'Current'),
	('4286', '42903', '1239.67', '20.07', '24', '836', '85277.54', 'Unemployed', '0.23', 'Education', '8', '0', '50', 'Mortgage', 'Late'),
	('4287', '67227', '25320.265', '13.245', '12', '730', '135051.16', 'Self-employed', '0.59', 'Personal', '0', '0', '37', 'Mortgage', 'NA'),
	('4288', '65940', '3662.12', '13.245', '60', '478', '85420.16', 'Self-employed', '0.17', 'Business', '9', '1', '31', 'Other', 'Current'),
	('4289', '19766', '13881.28', '23.89', '36', '392', '44931.03', 'Employed', '0.83', 'Personal', '8', '1', '54', 'Own', 'Paid Off'),
	('4290', '14988', '2219.44', '23.53', '72', '734', '85420.16', 'Others', '0.38', 'Education', 'Unreported', '1', '52', 'Own', 'NA'),
	('4291', '64056', '48008.39', '14.62', '48', '593', '94519.69', 'Employed', '0.57', 'Personal', '6', '0', '41', 'Own', 'Paid Off'),
	('4292', '24150', '3532.57', '6.07', '36', '819', '101952.59', 'Unemployed', '0.21', 'Education', '9', '0', '40', 'Mortgage', 'Current'),
	('4293', '53984', '18101.15', '3.73', '36', '396', '79051.71', 'Others', '0.84', 'Other', '7', '1', '43', 'Own', 'Current'),
	('4294', '55904', '33528.17', '16.31', '36', '660', '134023.53', 'Employed', '0.57', 'Personal', '7', '0', '60', 'Mortgage', 'Late'),
	('4295', '40432', '16778.77', '14.27', '72', '400', '37849.11', 'Self-employed', '0.13', 'Home', '2', '1', '24', 'Mortgage', 'Current'),
	('4296', '97452', '1366.85', '12.86', '24', '746', '78092.53', 'Others', '0.01', 'Personal', '3', '0', '49', 'Rent', 'Paid Off'),
	('4297', '64244', '12788.05', '4.35', '24', '544', '106470', 'Self-employed', '0.49', 'Home', '7', '0', '67', 'Mortgage', 'Late'),
	('4298', '73472', '36019.94', '22.12', '60', '689', '93053.21', 'Self-employed', '0.07', 'Education', '1', '1', '49', 'Mortgage', 'Current'),
	('4299', '22552', '19535.64', '18.74', '48', '663', '64395.33', 'Unemployed', '0.93', 'Personal', '6', '0', '33', 'Own', 'Late'),
	('4300', '67109', '41193.98', '22.11', '12', '472', '32917.4', 'Unemployed', '0.58', 'Personal', '6', '1', '37', 'Rent', 'Paid Off'),
	('4301', '63648', '25320.265', '10.97', '72', '334', '102424.56', 'Employed', '0.49', 'Personal', 'Unreported', '0', '29', 'Mortgage', 'Late'),
	('4302', '21349', '25320.265', '16.18', '12', '613', '147023.71', 'Unemployed', '0.13', 'Business', '6', '0', '22', 'Mortgage', 'NA'),
	('4303', '30746', '5629.29', '13.245', '24', '426', '126458.23', 'Employed', '0.14', 'Home', '7', '0', '55', 'Own', 'Paid Off'),
	('4304', '41112', '49117.97', '13.245', '48', '652', '90026.09', 'Self-employed', '0.48', 'Business', 'Unreported', '0', '57', 'Other', 'Current'),
	('4305', '69877', '26512.97', '10.97', '72', '451', '146904.17', 'Employed', '0.83', 'Car', '3', '1', '34', 'Other', 'Paid Off'),
	('4306', '90326', '13748.78', '20.76', '36', '640', '144994.27', 'Self-employed', '0.45', 'Car', '7', '1', '66', 'Own', 'Paid Off'),
	('4307', '15851', '30504.6', '15.56', '12', '801', '142057.11', 'Employed', '0.65', 'Education', '2', '1', '25', 'Rent', 'Late'),
	('4308', '30218', '35632.21', '9.24', '72', '388', '51619.71', 'Unemployed', '0.38', 'Other', '8', '0', '62', 'Rent', 'Paid Off'),
	('4309', '56125', '23907.72', '11.47', '72', '442', '93469.24', 'Self-employed', '0.93', 'Business', 'Unreported', '0', '21', 'Own', 'Paid Off'),
	('4310', '92905', '32449.72', '10.1', '48', '762', '70092.85', 'Employed', '0.11', 'Business', '5', '1', '29', 'Mortgage', 'Current'),
	('4311', '52644', '6293.97', '19.59', '12', '678', '72209.25', 'Unemployed', '0.67', 'Education', '1', '1', '59', 'Mortgage', 'Late'),
	('4312', '67812', '43829.21', '17.33', '60', '834', '130783.5', 'Unemployed', '0.29', 'Car', '0', '0', '21', 'Own', 'Paid Off'),
	('4313', '78301', '34355.53', '13.245', '36', '434', '22353.73', 'Self-employed', '0.02', 'Personal', '7', '0', '54', 'Own', 'Paid Off'),
	('4314', '24498', '38876.36', '19.8', '24', '488', '137928.26', 'Self-employed', '0.36', 'Business', '3', '1', '24', 'Own', 'Current'),
	('4315', '82964', '6573.02', '12.61', '48', '809', '38818.24', 'Self-employed', '0.29', 'Car', '0', '1', '22', 'Other', 'Paid Off'),
	('4316', '27968', '25320.265', '9.51', '72', '541', '33651.61', 'Employed', '0.45', 'Home', 'Unreported', '1', '19', 'Mortgage', 'Late'),
	('4317', '11998', '34937.14', '10.6', '72', '672', '148506.07', 'Unemployed', '0.84', 'Business', '2', '1', '61', 'Mortgage', 'Current'),
	('4318', '54760', '26591.86', '4.99', '72', '679', '81582.89', 'Employed', '0.2', 'Home', '2', '1', '22', 'Rent', 'Late'),
	('4319', '82491', '5861.24', '9.18', '36', '615', '87937.2', 'Employed', '0.6', 'Car', '8', '1', '52', 'Mortgage', 'Late'),
	('4320', '24541', '3972.3', '5.98', '48', '768', '32405.1', 'Unemployed', '0.73', 'Education', '2', '0', '20', 'Own', 'Paid Off'),
	('4321', '10228', '31184.8', '12.52', '36', '500', '105424.4', 'Self-employed', '0.75', 'Business', '6', '0', '61', 'Mortgage', 'NA'),
	('4322', '97244', '40047.67', '14.14', '24', '622', '38794.44', 'Unemployed', '0.96', 'Education', '5', '0', '63', 'Rent', 'Paid Off'),
	('4323', '60704', '49834.82', '24.77', '12', '741', '85420.16', 'Others', '0.7', 'Personal', 'Unreported', '1', '28', 'Rent', 'Current'),
	('4324', '31561', '28842.66', '19.68', '36', '761', '37426.09', 'Self-employed', '0.16', 'Car', '6', '0', '23', 'Rent', 'Late'),
	('4325', '54760', '12245.37', '14.16', '36', '533', '114981.55', 'Self-employed', '0.27', 'Education', '5', '0', '56', 'Mortgage', 'Late'),
	('4326', '13041', '20848.75', '10.61', '24', '730', '144356.91', 'Unemployed', '0.98', 'Other', '2', '1', '34', 'Mortgage', 'Current'),
	('4327', '67055', '6225.34', '5.66', '24', '670', '137612.19', 'Self-employed', '0.22', 'Personal', '1', '0', '43', 'Rent', 'Paid Off'),
	('4328', '82712', '21279.66', '10.72', '72', '578', '106423.25', 'Unemployed', '0.08', 'Home', '6', '1', '54', 'Own', 'Paid Off'),
	('4329', '86833', '42168.2', '14.53', '24', '432', '55705.13', 'Unemployed', '0.07', 'Personal', '6', '0', '43', 'Own', 'Late'),
	('4330', '61510', '20119.79', '6.09', '12', '342', '87265.98', 'Employed', '0.86', 'Education', '1', '0', '26', 'Rent', 'Paid Off'),
	('4331', '19536', '3534.95', '22.7', '36', '730', '61893.81', 'Employed', '0.52', 'Car', '4', '1', '47', 'Other', 'Paid Off'),
	('4332', '53424', '9129.66', '16.7', '60', '730', '101106.84', 'Unemployed', '0.14', 'Education', '2', '1', '35', 'Own', 'NA'),
	('4333', '94447', '33814.21', '11.32', '12', '793', '136003.58', 'Employed', '0.97', 'Personal', '2', '1', '18', 'Mortgage', 'Paid Off'),
	('4334', '67090', '34870.05', '20.27', '60', '844', '117725.19', 'Self-employed', '0.57', 'Personal', '5', '0', '58', 'Mortgage', 'NA'),
	('4335', '14586', '10704.05', '5.09', '36', '674', '85420.16', 'Employed', '0.49', 'Car', 'Unreported', '0', '20', 'Other', 'NA'),
	('4336', '54760', '40696.94', '21.27', '60', '436', '25677.09', 'Self-employed', '0.01', 'Education', '9', '1', '27', 'Rent', 'Current'),
	('4337', '95826', '14761.93', '2.44', '12', '603', '85120.62', 'Employed', '0.1', 'Education', '2', '1', '67', 'Own', 'Paid Off'),
	('4338', '68311', '28230.05', '11.09', '60', '648', '95339.25', 'Self-employed', '0.12', 'Education', '5', '0', '32', 'Rent', 'Paid Off'),
	('4339', '83445', '16077.58', '14.85', '36', '567', '125200.94', 'Self-employed', '0.43', 'Car', '0', '0', '49', 'Own', 'Current'),
	('4340', '51005', '34962.73', '5.86', '60', '685', '85689.14', 'Employed', '0.45', 'Home', '3', '0', '47', 'Mortgage', 'Paid Off'),
	('4341', '11684', '19408.08', '17.41', '72', '611', '140712.38', 'Self-employed', '0.05', 'Home', '4', '1', '22', 'Own', 'Late'),
	('4342', '36304', '38328.54', '13.245', '72', '337', '62736.47', 'Unemployed', '0.12', 'Car', '3', '1', '44', 'Rent', 'NA'),
	('4343', '80105', '24687.88', '3.86', '24', '605', '46916.77', 'Employed', '0.48', 'Car', '6', '0', '55', 'Rent', 'Current'),
	('4344', '43560', '32373.24', '2.21', '60', '375', '82579.68', 'Self-employed', '0.48', 'Car', '5', '1', '55', 'Mortgage', 'Current'),
	('4345', '18803', '46376.6', '18.29', '60', '625', '76888.52', 'Others', '0.51', 'Other', '8', '1', '68', 'Own', 'Paid Off'),
	('4346', '85070', '22331.89', '20.25', '60', '700', '116630.47', 'Employed', '0.04', 'Personal', '8', '0', '28', 'Own', 'Late'),
	('4347', '85870', '27981.6', '11.57', '24', '796', '58000.59', 'Employed', '0.67', 'Car', '9', '1', '41', 'Other', 'Late'),
	('4348', '86002', '10266.77', '9.96', '12', '535', '40265.79', 'Unemployed', '0.07', 'Business', '4', '0', '43', 'Own', 'Late'),
	('4349', '91813', '34978.18', '10.09', '24', '534', '102466.89', 'Unemployed', '0.25', 'Education', '9', '1', '32', 'Rent', 'Paid Off'),
	('4350', '54760', '11422.66', '21.29', '12', '730', '90842.93', 'Unemployed', '0.74', 'Car', '6', '1', '49', 'Own', 'Late'),
	('4351', '95887', '34807.95', '3.33', '36', '621', '21461.78', 'Employed', '0.48', 'Car', '6', '1', '43', 'Own', 'Paid Off'),
	('4352', '49683', '46235.99', '13.245', '60', '483', '78831.16', 'Unemployed', '0.63', 'Business', 'Unreported', '0', '35', 'Mortgage', 'NA'),
	('4353', '85925', '47123.74', '5.26', '72', '633', '68018.88', 'Self-employed', '0.26', 'Business', '4', '0', '35', 'Rent', 'Late'),
	('4354', '43467', '40289.58', '20.88', '60', '449', '27146.78', 'Self-employed', '0.42', 'Other', '5', '1', '67', 'Mortgage', 'NA'),
	('4355', '10646', '27418.09', '14.45', '24', '658', '93806.13', 'Self-employed', '0.29', 'Business', '9', '0', '29', 'Mortgage', 'Late'),
	('4356', '93645', '42023.71', '21.23', '72', '424', '137978.44', 'Employed', '0.89', 'Car', '6', '0', '20', 'Mortgage', 'Late'),
	('4357', '96739', '23430.23', '5.36', '36', '463', '85420.16', 'Unemployed', '0.69', 'Education', '4', '0', '34', 'Rent', 'Paid Off'),
	('4358', '95014', '19468.97', '13.245', '72', '614', '126296.65', 'Others', '0.26', 'Education', '7', '1', '35', 'Rent', 'Paid Off'),
	('4359', '97116', '35414.42', '13.245', '36', '443', '77556.29', 'Self-employed', '0.61', 'Home', '0', '0', '47', 'Rent', 'Late'),
	('4360', '61918', '11158.88', '13.9', '36', '693', '38844.2', 'Unemployed', '0.25', 'Car', '5', '1', '50', 'Mortgage', 'Current'),
	('4361', '54012', '4639.7', '12.19', '48', '555', '134819.52', 'Unemployed', '0.37', 'Business', '5', '0', '44', 'Other', 'NA'),
	('4362', '45881', '18935.3', '8.02', '36', '729', '44116.83', 'Employed', '0.43', 'Business', '1', '1', '43', 'Rent', 'Current'),
	('4363', '54760', '17691.13', '8.44', '12', '814', '47846.77', 'Self-employed', '0.66', 'Other', 'Unreported', '0', '34', 'Mortgage', 'Late'),
	('4364', '67077', '6905.68', '19.62', '36', '600', '64845.02', 'Self-employed', '0.8', 'Personal', '7', '1', '50', 'Own', 'Paid Off'),
	('4365', '85210', '42873.55', '3.79', '72', '811', '28662.09', 'Self-employed', '0.9', 'Other', '2', '0', '49', 'Mortgage', 'Current'),
	('4366', '39082', '33739.24', '22.66', '48', '730', '28731.03', 'Unemployed', '0', 'Education', '8', '1', '67', 'Rent', 'Current'),
	('4367', '67043', '2263.77', '11.07', '60', '691', '118286.61', 'Employed', '0.81', 'Other', '4', '1', '50', 'Other', 'Paid Off'),
	('4368', '31108', '25320.265', '19.32', '12', '325', '43777.72', 'Employed', '0.84', 'Education', '6', '1', '47', 'Own', 'Paid Off'),
	('4369', '10211', '8536.36', '5.56', '48', '641', '117817.8', 'Unemployed', '0.05', 'Business', '6', '0', '63', 'Mortgage', 'Current'),
	('4370', '61534', '26049.79', '20.14', '48', '632', '138975.12', 'Others', '0.25', 'Home', '8', '1', '25', 'Rent', 'Paid Off'),
	('4371', '83225', '38791.38', '7.85', '36', '802', '47951.32', 'Employed', '0.41', 'Car', '7', '0', '65', 'Own', 'Late'),
	('4372', '64764', '21239.63', '2.06', '24', '794', '126921.56', 'Self-employed', '0.68', 'Car', '9', '1', '26', 'Other', 'Paid Off'),
	('4373', '69711', '30246.38', '19.87', '60', '823', '137795.22', 'Unemployed', '0.49', 'Car', '2', '1', '42', 'Other', 'Late'),
	('4374', '13235', '27775.51', '15.58', '24', '311', '85867.5', 'Unemployed', '0.6', 'Business', '9', '1', '28', 'Own', 'Current'),
	('4375', '54387', '29302.69', '17.44', '12', '813', '142003.63', 'Self-employed', '0.82', 'Home', '1', '1', '49', 'Own', 'Paid Off'),
	('4376', '85912', '24427.74', '15.77', '36', '507', '23681', 'Unemployed', '0.48', 'Personal', '6', '1', '58', 'Own', 'Current'),
	('4377', '17736', '25320.265', '7.34', '24', '711', '101787.19', 'Self-employed', '0.71', 'Other', 'Unreported', '1', '37', 'Other', 'Paid Off'),
	('4378', '45187', '12839.1', '13.245', '48', '843', '85420.16', 'Self-employed', '0.81', 'Business', 'Unreported', '1', '34', 'Own', 'Current'),
	('4379', '86136', '44808.42', '2.17', '48', '656', '106969.69', 'Self-employed', '0.84', 'Car', '3', '1', '56', 'Mortgage', 'Late'),
	('4380', '67517', '25320.265', '22.98', '12', '509', '65561.8', 'Employed', '0.04', 'Business', '2', '1', '51', 'Own', 'Paid Off'),
	('4381', '49757', '49160.43', '12.09', '12', '848', '111091.33', 'Unemployed', '0.93', 'Business', '3', '1', '30', 'Rent', 'NA'),
	('4382', '74701', '3652.37', '5.87', '48', '590', '85420.16', 'Employed', '0.5', 'Personal', 'Unreported', '1', '18', 'Own', 'Paid Off'),
	('4383', '20969', '16512.03', '2.01', '24', '471', '68065.19', 'Unemployed', '0.48', 'Business', '3', '1', '43', 'Mortgage', 'Paid Off'),
	('4384', '33054', '48005.1', '20.06', '24', '422', '144018.48', 'Self-employed', '0.04', 'Car', '7', '0', '43', 'Rent', 'Late'),
	('4385', '54760', '22529.56', '9.91', '48', '709', '85420.16', 'Self-employed', '0.9', 'Car', 'Unreported', '0', '27', 'Rent', 'Late'),
	('4386', '98634', '30612.53', '8.54', '72', '695', '85575.45', 'Employed', '0.48', 'Business', '4', '0', '25', 'Rent', 'NA'),
	('4387', '75899', '28917.33', '14.22', '48', '730', '20867.48', 'Unemployed', '0.43', 'Education', '2', '1', '35', 'Other', 'Late'),
	('4388', '24588', '7893.78', '13.33', '48', '835', '110123.03', 'Employed', '0.9', 'Car', '8', '1', '47', 'Rent', 'NA'),
	('4389', '40280', '36824.11', '16.23', '60', '403', '111199.58', 'Employed', '0.43', 'Education', '4', '1', '56', 'Own', 'NA'),
	('4390', '43843', '3857.32', '2.1', '36', '744', '73273.4', 'Unemployed', '0.15', 'Car', '1', '1', '24', 'Rent', 'Current'),
	('4391', '55678', '27360.18', '10.39', '36', '701', '22604.95', 'Employed', '0.24', 'Home', '0', '0', '61', 'Rent', 'NA'),
	('4392', '51117', '28079.25', '24.42', '60', '774', '59253.84', 'Self-employed', '0.11', 'Business', '6', '0', '25', 'Own', 'Paid Off'),
	('4393', '21487', '10890.57', '6.77', '60', '410', '114277.05', 'Employed', '0.93', 'Education', '8', '0', '48', 'Own', 'Late'),
	('4394', '51054', '37770.79', '9.55', '48', '503', '105448.32', 'Employed', '0.32', 'Personal', '0', '1', '54', 'Own', 'Paid Off'),
	('4395', '54760', '44912.66', '4.62', '36', '334', '86747.63', 'Unemployed', '0.19', 'Personal', '6', '1', '68', 'Other', 'Current'),
	('4396', '14715', '48974.33', '13.51', '48', '546', '85420.16', 'Unemployed', '0.71', 'Other', '1', '0', '22', 'Own', 'Current'),
	('4397', '16200', '2314.03', '11.22', '48', '430', '90446.97', 'Unemployed', '0.1', 'Car', '3', '0', '24', 'Own', 'Late'),
	('4398', '40031', '16176.52', '11.3', '12', '373', '85420.16', 'Self-employed', '0.48', 'Car', 'Unreported', '0', '43', 'Other', 'NA'),
	('4399', '54760', '46316.37', '13.245', '36', '667', '110350.83', 'Others', '0.71', 'Business', 'Unreported', '1', '41', 'Other', 'Paid Off'),
	('4400', '53996', '25320.265', '18.15', '24', '720', '85420.16', 'Others', '0.97', 'Home', '1', '1', '43', 'Own', 'Current'),
	('4401', '30322', '14329.23', '12.39', '48', '685', '137531.63', 'Self-employed', '0.87', 'Personal', 'Unreported', '1', '38', 'Own', 'Late'),
	('4402', '54760', '27136.04', '7.99', '36', '730', '99124.42', 'Employed', '0.59', 'Business', 'Unreported', '1', '29', 'Own', 'Late'),
	('4403', '29558', '25320.265', '13.34', '72', '619', '139856.79', 'Self-employed', '0.33', 'Personal', '8', '0', '38', 'Mortgage', 'Late'),
	('4404', '81013', '12174.76', '23.75', '12', '611', '119440.17', 'Self-employed', '0.86', 'Home', '6', '1', '43', 'Mortgage', 'Current'),
	('4405', '28648', '15716.87', '12.84', '72', '757', '93856.75', 'Employed', '0.75', 'Education', '2', '0', '44', 'Own', 'Late'),
	('4406', '96277', '25320.265', '5.2', '24', '336', '119699.12', 'Employed', '0.82', 'Home', '6', '0', '63', 'Other', 'Late'),
	('4407', '40392', '22710.04', '20.94', '72', '356', '117153.57', 'Self-employed', '0.29', 'Business', '9', '0', '33', 'Mortgage', 'Current'),
	('4408', '54760', '25712.96', '23.1', '24', '306', '78627.86', 'Unemployed', '0.18', 'Personal', '9', '0', '30', 'Own', 'Late'),
	('4409', '48283', '45062.12', '9.83', '24', '845', '85420.16', 'Unemployed', '0.82', 'Business', '0', '0', '29', 'Rent', 'Late'),
	('4410', '44034', '25320.265', '2.51', '36', '516', '132788.2', 'Unemployed', '0.99', 'Car', 'Unreported', '1', '43', 'Rent', 'Current'),
	('4411', '39260', '36051.91', '20.53', '48', '559', '104214.28', 'Self-employed', '0.39', 'Business', '0', '0', '31', 'Rent', 'Current'),
	('4412', '25546', '29060.82', '9.48', '12', '605', '145584.81', 'Self-employed', '0.04', 'Business', 'Unreported', '1', '20', 'Own', 'Current'),
	('4413', '78539', '17100.43', '14.6', '72', '823', '147929.12', 'Others', '0.44', 'Business', '2', '1', '59', 'Mortgage', 'Current'),
	('4414', '16592', '4433.77', '20.05', '48', '836', '85420.16', 'Self-employed', '0.96', 'Other', '4', '0', '30', 'Rent', 'Paid Off'),
	('4415', '57037', '13681.57', '12.97', '36', '588', '131918.37', 'Unemployed', '0.86', 'Home', '6', '0', '64', 'Mortgage', 'Current'),
	('4416', '44658', '10539.68', '8.73', '36', '639', '85324', 'Unemployed', '0.48', 'Home', '8', '1', '60', 'Mortgage', 'Current'),
	('4417', '35152', '12166.97', '21.7', '24', '602', '122007.93', 'Employed', '0.28', 'Personal', '7', '1', '43', 'Rent', 'NA'),
	('4418', '48783', '25320.265', '23.23', '72', '645', '85420.16', 'Employed', '0.06', 'Education', '1', '0', '43', 'Rent', 'Late'),
	('4419', '18836', '22096.79', '18.49', '72', '444', '38257.99', 'Others', '0.29', 'Personal', '0', '0', '51', 'Rent', 'Late'),
	('4420', '62580', '19655.03', '2.28', '48', '760', '78229.44', 'Employed', '0.48', 'Education', '6', '1', '48', 'Own', 'Paid Off'),
	('4421', '97555', '17515.29', '2.99', '12', '730', '147474.98', 'Unemployed', '0.63', 'Personal', '9', '0', '30', 'Other', 'Paid Off'),
	('4422', '74901', '44180.64', '15.29', '36', '666', '40112.21', 'Unemployed', '0.11', 'Education', '2', '0', '23', 'Rent', 'Current'),
	('4423', '43502', '10934.13', '19.84', '48', '463', '141143.01', 'Unemployed', '0.62', 'Personal', '3', '1', '38', 'Own', 'Current'),
	('4424', '40079', '9019.03', '5.25', '36', '535', '117362.35', 'Self-employed', '0.12', 'Business', '0', '0', '35', 'Mortgage', 'Paid Off'),
	('4425', '78778', '25320.265', '22.76', '12', '426', '35046.4', 'Self-employed', '0.25', 'Home', '6', '0', '37', 'Mortgage', 'Late'),
	('4426', '94692', '25320.265', '23.09', '24', '612', '124124.36', 'Employed', '0.92', 'Business', '1', '1', '61', 'Mortgage', 'Late'),
	('4427', '17600', '25320.265', '13.245', '24', '847', '109461.45', 'Employed', '0.46', 'Personal', '9', '0', '19', 'Own', 'Late'),
	('4428', '76349', '29041.13', '16.92', '36', '329', '85420.16', 'Self-employed', '0.32', 'Personal', '1', '1', '61', 'Mortgage', 'Late'),
	('4429', '61433', '19312.17', '10.45', '36', '730', '85420.16', 'Employed', '0.61', 'Education', '0', '1', '43', 'Own', 'Paid Off'),
	('4430', '54760', '28209.69', '4.13', '48', '694', '72890.66', 'Self-employed', '0.79', 'Personal', '3', '1', '32', 'Other', 'Paid Off'),
	('4431', '54760', '32485.75', '23.6', '60', '687', '74217.74', 'Self-employed', '0.57', 'Education', '3', '0', '43', 'Own', 'Current'),
	('4432', '54760', '42163.77', '8.54', '48', '577', '99573.87', 'Self-employed', '0.55', 'Business', '4', '0', '55', 'Rent', 'Late'),
	('4433', '79815', '25320.265', '6.21', '72', '842', '34353.28', 'Self-employed', '0.67', 'Education', '4', '0', '53', 'Own', 'NA'),
	('4434', '54539', '17034.79', '23.8', '36', '611', '46892.9', 'Employed', '0.48', 'Home', '5', '1', '53', 'Own', 'Late'),
	('4435', '66813', '9872.92', '15.73', '24', '565', '40858.22', 'Self-employed', '0.48', 'Business', '4', '0', '52', 'Rent', 'Paid Off'),
	('4436', '45709', '30734.03', '23.96', '36', '774', '47073.29', 'Self-employed', '0.51', 'Personal', '1', '0', '37', 'Rent', 'Late'),
	('4437', '59825', '25320.265', '21.08', '36', '735', '141297.17', 'Employed', '0.9', 'Business', '5', '1', '46', 'Mortgage', 'Paid Off'),
	('4438', '24603', '42934.55', '8.69', '36', '320', '27304.98', 'Unemployed', '0.86', 'Education', '0', '1', '50', 'Own', 'NA'),
	('4439', '34539', '2361.68', '17.32', '12', '363', '139622.03', 'Employed', '0.48', 'Business', '6', '1', '36', 'Mortgage', 'Late'),
	('4440', '16535', '42419.69', '15.98', '60', '496', '85420.16', 'Self-employed', '0.01', 'Other', '6', '0', '59', 'Own', 'NA'),
	('4441', '58536', '25320.265', '11.14', '48', '823', '104905.29', 'Employed', '0.45', 'Other', '4', '0', '43', 'Own', 'Current'),
	('4442', '90577', '24905.03', '13.245', '60', '839', '148264.03', 'Employed', '0.95', 'Business', '2', '1', '43', 'Mortgage', 'Current'),
	('4443', '23411', '36795.51', '14.14', '12', '468', '107317.55', 'Unemployed', '0.51', 'Car', '8', '0', '50', 'Mortgage', 'Current'),
	('4444', '34146', '39424.18', '3.49', '24', '358', '55018.48', 'Unemployed', '0.14', 'Home', '7', '1', '43', 'Mortgage', 'Late'),
	('4445', '61566', '20687.21', '6.13', '48', '428', '43650.18', 'Others', '0.2', 'Car', '3', '1', '18', 'Rent', 'Current'),
	('4446', '36920', '25473.28', '13.245', '36', '464', '136516.64', 'Unemployed', '0.48', 'Car', '8', '1', '47', 'Mortgage', 'Paid Off'),
	('4447', '44487', '2449.06', '13.245', '12', '730', '67683.07', 'Others', '0.3', 'Personal', '9', '0', '59', 'Own', 'Paid Off'),
	('4448', '68602', '17857.28', '20.63', '24', '674', '114648.36', 'Unemployed', '0.71', 'Personal', '5', '0', '18', 'Mortgage', 'Late'),
	('4449', '56363', '13817.36', '11.02', '12', '730', '53214.04', 'Employed', '0.48', 'Education', '1', '0', '56', 'Rent', 'Paid Off'),
	('4450', '86687', '20113.38', '3.74', '24', '730', '98757.03', 'Self-employed', '0.81', 'Personal', '6', '0', '21', 'Mortgage', 'NA'),
	('4451', '90169', '15743.78', '21.35', '60', '658', '39326.99', 'Unemployed', '0.73', 'Home', '4', '0', '38', 'Own', 'Late'),
	('4452', '36118', '8827.25', '3.58', '60', '776', '75193.7', 'Employed', '0.87', 'Education', 'Unreported', '1', '65', 'Mortgage', 'Current'),
	('4453', '99726', '47144.79', '5.88', '72', '675', '149380', 'Unemployed', '0.74', 'Car', 'Unreported', '0', '36', 'Own', 'Paid Off'),
	('4454', '91146', '22034.66', '13.245', '12', '344', '145856.56', 'Self-employed', '0.47', 'Education', 'Unreported', '1', '39', 'Mortgage', 'Paid Off'),
	('4455', '37872', '32252.33', '23.47', '72', '730', '55921.5', 'Unemployed', '0.21', 'Personal', '6', '0', '20', 'Mortgage', 'Late'),
	('4456', '60652', '46411.3', '2.8', '72', '628', '44867.67', 'Others', '0.71', 'Car', '9', '0', '51', 'Other', 'Current'),
	('4457', '17992', '25320.265', '3.39', '36', '448', '112968.63', 'Unemployed', '0.02', 'Business', '5', '1', '18', 'Own', 'Current'),
	('4458', '89182', '7222.96', '13.1', '24', '740', '79979.67', 'Others', '0.62', 'Personal', '6', '1', '35', 'Mortgage', 'NA'),
	('4459', '54760', '39640.49', '11.66', '48', '730', '39602.78', 'Others', '0.66', 'Home', '4', '0', '19', 'Own', 'NA'),
	('4460', '14641', '38958.54', '24.16', '36', '345', '72805.01', 'Self-employed', '0.71', 'Car', '6', '1', '35', 'Own', 'Late'),
	('4461', '10383', '20825.88', '12.29', '72', '555', '23442.02', 'Employed', '0.92', 'Education', '9', '0', '60', 'Mortgage', 'Current'),
	('4462', '56842', '27430.29', '18.34', '36', '404', '39613.84', 'Employed', '0.87', 'Home', '8', '1', '43', 'Other', 'Paid Off'),
	('4463', '40766', '21819.41', '10.06', '72', '709', '121478.85', 'Employed', '0.81', 'Personal', 'Unreported', '0', '59', 'Rent', 'Paid Off'),
	('4464', '35114', '11987.98', '6.24', '48', '390', '84327.81', 'Self-employed', '0.61', 'Education', '6', '0', '36', 'Rent', 'Paid Off'),
	('4465', '15171', '38383.16', '17.86', '60', '709', '121439.27', 'Unemployed', '0.42', 'Other', 'Unreported', '0', '41', 'Other', 'Late'),
	('4466', '11184', '37477.32', '12.47', '60', '561', '30043.24', 'Self-employed', '0.57', 'Business', '1', '1', '48', 'Mortgage', 'NA'),
	('4467', '26060', '32705.74', '15.09', '24', '438', '20947.38', 'Unemployed', '0.73', 'Education', '4', '0', '68', 'Mortgage', 'NA'),
	('4468', '93707', '23326.38', '20.51', '60', '407', '119320.28', 'Employed', '0.22', 'Business', 'Unreported', '0', '31', 'Mortgage', 'Late'),
	('4469', '44606', '23775.5', '10.13', '24', '656', '75036.81', 'Unemployed', '0.52', 'Personal', '6', '1', '43', 'Mortgage', 'NA'),
	('4470', '62319', '15623.75', '13.33', '72', '750', '85420.16', 'Employed', '0.49', 'Personal', '0', '0', '67', 'Rent', 'Late'),
	('4471', '14743', '14020.5', '13.66', '48', '757', '62969.3', 'Unemployed', '0.7', 'Business', '6', '0', '45', 'Mortgage', 'NA'),
	('4472', '88513', '42599.6', '3.57', '60', '357', '61701.67', 'Unemployed', '0.18', 'Personal', '1', '1', '25', 'Other', 'Late'),
	('4473', '27191', '43109.34', '17.81', '36', '404', '125167.74', 'Self-employed', '0.41', 'Home', '9', '1', '28', 'Own', 'Late'),
	('4474', '33745', '1751.9', '12.21', '36', '787', '44466.94', 'Employed', '0.42', 'Home', '9', '1', '36', 'Mortgage', 'Current'),
	('4475', '44405', '36260.71', '15.78', '72', '606', '96517.14', 'Employed', '0.48', 'Other', '2', '1', '33', 'Own', 'NA'),
	('4476', '54760', '17166.18', '22.4', '36', '823', '56260.77', 'Employed', '0.78', 'Car', '7', '0', '27', 'Mortgage', 'Late'),
	('4477', '52918', '46048.02', '13.245', '48', '674', '24833.5', 'Unemployed', '0.03', 'Personal', 'Unreported', '1', '29', 'Mortgage', 'Current'),
	('4478', '54760', '12863.89', '17.49', '36', '372', '137806.56', 'Unemployed', '0.48', 'Business', '9', '1', '64', 'Mortgage', 'Current'),
	('4479', '71708', '17434.75', '14.82', '36', '684', '68023.72', 'Employed', '0.92', 'Personal', '4', '1', '49', 'Rent', 'Current'),
	('4480', '43417', '37619.47', '14.44', '36', '730', '122708.31', 'Others', '0.25', 'Business', '8', '0', '68', 'Mortgage', 'Paid Off'),
	('4481', '12205', '4630.87', '23.54', '60', '801', '126914.52', 'Unemployed', '0.23', 'Home', '8', '0', '33', 'Own', 'Paid Off'),
	('4482', '85789', '35693.91', '10.26', '12', '640', '108588.7', 'Self-employed', '0.7', 'Personal', '4', '1', '58', 'Mortgage', 'Current'),
	('4483', '54760', '34059.26', '3.57', '60', '637', '101437.16', 'Employed', '0.54', 'Education', '1', '1', '50', 'Own', 'Current'),
	('4484', '41812', '15897.06', '9.87', '36', '523', '43871.77', 'Self-employed', '0.83', 'Business', '9', '1', '36', 'Own', 'Paid Off'),
	('4485', '60616', '35925.7', '2.14', '24', '803', '72730.08', 'Employed', '0.86', 'Home', '1', '1', '32', 'Rent', 'Current'),
	('4486', '15835', '45243.31', '20.92', '60', '593', '85420.16', 'Employed', '0.12', 'Home', '4', '0', '41', 'Mortgage', 'Late'),
	('4487', '73830', '40393.12', '24.75', '48', '320', '135608.52', 'Unemployed', '0.5', 'Home', '4', '1', '19', 'Rent', 'Current'),
	('4488', '99752', '26374.27', '20.69', '48', '661', '87739.13', 'Unemployed', '0.87', 'Education', '5', '1', '52', 'Rent', 'Current'),
	('4489', '15733', '7489.83', '20.26', '48', '384', '83075.6', 'Unemployed', '0.08', 'Business', '5', '0', '52', 'Rent', 'Late'),
	('4490', '30584', '44724.62', '16.84', '60', '458', '69882.43', 'Unemployed', '0.11', 'Home', '5', '1', '41', 'Own', 'NA'),
	('4491', '18680', '24996.19', '15.24', '12', '699', '132425.86', 'Employed', '0.71', 'Personal', '8', '0', '65', 'Own', 'Current'),
	('4492', '13938', '20986', '15.06', '72', '730', '141372.96', 'Unemployed', '0.68', 'Personal', '3', '0', '53', 'Rent', 'Late'),
	('4493', '15038', '27839.91', '11.32', '60', '605', '34868.9', 'Self-employed', '0.68', 'Business', '2', '0', '34', 'Rent', 'Late'),
	('4494', '82698', '11463.83', '5.99', '24', '794', '69893', 'Unemployed', '0.52', 'Education', 'Unreported', '1', '63', 'Mortgage', 'Late'),
	('4495', '74141', '17473.37', '17.02', '72', '732', '144121.37', 'Unemployed', '0.2', 'Home', '8', '1', '54', 'Rent', 'Paid Off'),
	('4496', '11548', '37039.77', '2.58', '36', '399', '75036.37', 'Others', '0.54', 'Education', '6', '1', '31', 'Rent', 'Current'),
	('4497', '39897', '25320.265', '13.245', '36', '568', '52114.53', 'Employed', '0.42', 'Education', '3', '1', '21', 'Other', 'Late'),
	('4498', '20670', '38351.66', '2.1', '24', '730', '85420.16', 'Unemployed', '0.57', 'Car', '1', '0', '65', 'Rent', 'Late'),
	('4499', '65564', '38336.27', '13.48', '12', '668', '85420.16', 'Self-employed', '0.33', 'Home', '8', '1', '43', 'Mortgage', 'Late'),
	('4500', '54760', '37925.39', '10.2', '36', '503', '119021.83', 'Unemployed', '0.39', 'Personal', 'Unreported', '0', '19', 'Other', 'Paid Off'),
	('4501', '87603', '25320.265', '11.82', '72', '730', '97552.79', 'Unemployed', '0.85', 'Education', '7', '0', '36', 'Own', 'Late'),
	('4502', '38348', '32859.87', '13.245', '60', '772', '62300.78', 'Others', '0.21', 'Business', '6', '0', '45', 'Rent', 'Late'),
	('4503', '95633', '24528.82', '3.75', '36', '696', '44657.73', 'Employed', '0.65', 'Home', '1', '1', '43', 'Rent', 'Late'),
	('4504', '94625', '4042.46', '8.04', '60', '803', '85420.16', 'Self-employed', '0.66', 'Personal', '3', '1', '51', 'Own', 'Late'),
	('4505', '38843', '41917.64', '7.29', '60', '726', '33480.36', 'Self-employed', '1', 'Home', 'Unreported', '0', '49', 'Own', 'Late'),
	('4506', '66057', '11766.04', '22.39', '60', '711', '100447.99', 'Employed', '0.78', 'Business', '3', '0', '27', 'Other', 'Paid Off'),
	('4507', '40352', '1634.07', '19.05', '12', '706', '59460', 'Employed', '0.43', 'Home', '6', '0', '31', 'Rent', 'Current'),
	('4508', '90553', '32528.41', '13.245', '36', '730', '116184.46', 'Employed', '0.48', 'Business', '1', '0', '18', 'Mortgage', 'Paid Off'),
	('4509', '65766', '9433.16', '21.28', '60', '641', '39620.43', 'Unemployed', '0.6', 'Education', '9', '0', '52', 'Own', 'Late'),
	('4510', '51684', '4023.63', '13.33', '72', '684', '85420.16', 'Others', '0.18', 'Business', '5', '0', '28', 'Other', 'Current'),
	('4511', '36712', '46754.78', '20.69', '36', '456', '62144.22', 'Employed', '0.49', 'Business', '8', '1', '27', 'Mortgage', 'Late'),
	('4512', '22795', '8275.45', '18.83', '24', '749', '130594.18', 'Self-employed', '0.2', 'Car', '7', '1', '24', 'Own', 'Paid Off'),
	('4513', '52810', '26482.42', '10.32', '24', '675', '93113.71', 'Unemployed', '0.03', 'Education', '8', '0', '27', 'Own', 'Current'),
	('4514', '37861', '18997.67', '15.84', '12', '325', '48374.26', 'Unemployed', '0.39', 'Car', '3', '0', '69', 'Own', 'Paid Off'),
	('4515', '54760', '3192.29', '13.245', '12', '699', '37712.12', 'Unemployed', '0.4', 'Car', '7', '1', '35', 'Own', 'Current'),
	('4516', '62986', '25320.265', '23.16', '60', '419', '20967.74', 'Others', '0.73', 'Car', 'Unreported', '1', '44', 'Mortgage', 'Paid Off'),
	('4517', '77118', '18173.05', '4.21', '60', '427', '84652.37', 'Self-employed', '0.56', 'Home', '4', '0', '45', 'Mortgage', 'Paid Off'),
	('4518', '48739', '25178.45', '13.245', '24', '577', '26824.02', 'Employed', '0.94', 'Personal', '3', '1', '43', 'Own', 'Current'),
	('4519', '21298', '35629.99', '11.05', '72', '302', '85420.16', 'Employed', '0.41', 'Personal', '2', '1', '43', 'Other', 'Paid Off'),
	('4520', '56175', '25320.265', '5.23', '72', '786', '92150.36', 'Employed', '0.55', 'Home', 'Unreported', '1', '60', 'Mortgage', 'Late'),
	('4521', '54760', '26409.99', '8.58', '72', '730', '25780.14', 'Others', '0.44', 'Car', '6', '0', '31', 'Rent', 'Current'),
	('4522', '32171', '47194.9', '13.245', '72', '835', '49879.98', 'Self-employed', '0.75', 'Car', '1', '0', '35', 'Rent', 'Paid Off'),
	('4523', '44864', '268451', '13.245', '72', '334', '217646.3', 'Employed', '0.97', 'Car', '8', '1', '55', 'Rent', 'Current'),
	('4524', '91390', '30090.43', '8.02', '12', '730', '89339.78', 'Unemployed', '0.66', 'Home', '4', '1', '41', 'Rent', 'Paid Off'),
	('4525', '76262', '7814.28', '12.23', '36', '628', '36454.11', 'Self-employed', '0.48', 'Business', '3', '0', '63', 'Own', 'Paid Off'),
	('4526', '88324', '28970.46', '18.4', '60', '307', '27744.85', 'Employed', '0.94', 'Car', '4', '0', '20', 'Other', 'Paid Off'),
	('4527', '34451', '13767.54', '23.92', '12', '535', '67902.79', 'Self-employed', '0.25', 'Education', '5', '1', '32', 'Mortgage', 'Paid Off'),
	('4528', '50700', '14428.37', '6.33', '48', '730', '85420.16', 'Unemployed', '0.32', 'Home', '9', '0', '51', 'Mortgage', 'Current'),
	('4529', '50971', '22260.01', '4.08', '60', '730', '132023.08', 'Unemployed', '0.17', 'Home', '6', '1', '36', 'Rent', 'Paid Off'),
	('4530', '32684', '33033.18', '11.1', '48', '526', '120129.93', 'Unemployed', '0.48', 'Business', '9', '0', '58', 'Mortgage', 'Late'),
	('4531', '57400', '31249.16', '18.94', '48', '457', '43774.66', 'Unemployed', '0.78', 'Car', '1', '1', '26', 'Mortgage', 'Paid Off'),
	('4532', '89049', '16007.51', '20.98', '60', '522', '115013.96', 'Unemployed', '0.07', 'Home', '7', '1', '56', 'Mortgage', 'Current'),
	('4533', '25106', '2408.83', '6.64', '24', '360', '85420.16', 'Unemployed', '0.58', 'Personal', '7', '1', '27', 'Rent', 'Late'),
	('4534', '77022', '12958.28', '9.64', '24', '532', '44769.8', 'Unemployed', '0.81', 'Education', 'Unreported', '1', '29', 'Mortgage', 'Late'),
	('4535', '24907', '23188.72', '4.05', '12', '713', '101952.97', 'Unemployed', '0.33', 'Education', '5', '1', '26', 'Own', 'Late'),
	('4536', '70404', '45566.26', '10.48', '24', '476', '58957.21', 'Unemployed', '0.01', 'Business', '7', '1', '48', 'Mortgage', 'Current'),
	('4537', '91284', '30907.78', '13.245', '24', '621', '20349.55', 'Unemployed', '0.88', 'Education', '5', '1', '46', 'Mortgage', 'Current'),
	('4538', '91515', '25320.265', '14.77', '24', '584', '127432.45', 'Unemployed', '0.48', 'Car', '0', '0', '32', 'Mortgage', 'Late'),
	('4539', '54760', '30107.34', '13.245', '48', '626', '45778.35', 'Self-employed', '0.79', 'Education', '0', '0', '46', 'Rent', 'Late'),
	('4540', '71704', '22715.2', '12.31', '48', '847', '51546.78', 'Others', '0.07', 'Car', '3', '0', '19', 'Own', 'NA'),
	('4541', '99381', '17100.51', '2.03', '72', '693', '74831.83', 'Employed', '0.83', 'Personal', '8', '1', '65', 'Own', 'Current'),
	('4542', '32754', '48534.57', '18.97', '48', '580', '110066.93', 'Unemployed', '0.58', 'Other', '8', '1', '38', 'Mortgage', 'Paid Off'),
	('4543', '54012', '24434.19', '6.63', '24', '327', '85420.16', 'Employed', '0.93', 'Car', '1', '0', '41', 'Mortgage', 'Current'),
	('4544', '54760', '18603.09', '16.98', '36', '490', '149571.27', 'Self-employed', '0.15', 'Home', '8', '1', '66', 'Mortgage', 'Paid Off'),
	('4545', '50038', '45478.68', '22.49', '36', '379', '101230.54', 'Self-employed', '0.41', 'Home', '2', '0', '36', 'Mortgage', 'Late'),
	('4546', '69227', '40781.35', '11.41', '72', '411', '34595.87', 'Unemployed', '0.48', 'Other', '4', '1', '53', 'Mortgage', 'Paid Off'),
	('4547', '37376', '25320.265', '2.71', '24', '571', '74406.42', 'Unemployed', '0.48', 'Personal', '4', '0', '48', 'Mortgage', 'Late'),
	('4548', '96458', '28737.15', '23.44', '48', '336', '99353.59', 'Self-employed', '0.91', 'Business', '9', '0', '31', 'Rent', 'NA'),
	('4549', '54760', '25370.18', '8.73', '48', '643', '146919.19', 'Employed', '0.71', 'Car', '7', '0', '26', 'Mortgage', 'Paid Off'),
	('4550', '91841', '5719.56', '18.76', '60', '730', '114847.65', 'Self-employed', '0.02', 'Education', '0', '1', '43', 'Rent', 'Paid Off'),
	('4551', '51205', '34687.36', '9.88', '24', '629', '117275.88', 'Employed', '0.18', 'Personal', '1', '1', '55', 'Mortgage', 'NA'),
	('4552', '94243', '19401.14', '13.245', '48', '359', '88266.79', 'Unemployed', '0.49', 'Car', '3', '1', '52', 'Own', 'Current'),
	('4553', '75315', '1834.09', '17', '24', '401', '140979.17', 'Employed', '0.83', 'Other', '4', '1', '62', 'Rent', 'Late'),
	('4554', '48218', '36576.73', '8.74', '48', '720', '85420.16', 'Others', '0.5', 'Home', '9', '0', '51', 'Own', 'Paid Off'),
	('4555', '80961', '7336.04', '5.14', '12', '487', '91023.1', 'Employed', '0.7', 'Business', '3', '0', '66', 'Own', 'Late'),
	('4556', '89320', '25320.265', '5.76', '12', '394', '48240.59', 'Unemployed', '0.85', 'Car', '0', '0', '27', 'Rent', 'Paid Off'),
	('4557', '92910', '13718.71', '19.89', '12', '825', '29460.06', 'Employed', '0.43', 'Car', '7', '0', '22', 'Other', 'Late'),
	('4558', '94237', '29733.97', '4.33', '24', '578', '139743.39', 'Employed', '0.77', 'Education', '2', '0', '56', 'Own', 'Late'),
	('4559', '88259', '28918.44', '5.35', '60', '770', '138742.77', 'Employed', '0.29', 'Business', '0', '0', '43', 'Own', 'Paid Off'),
	('4560', '54760', '25320.265', '13.245', '48', '720', '79446.2', 'Employed', '0.18', 'Car', '5', '1', '26', 'Mortgage', 'Paid Off'),
	('4561', '10104', '22512.83', '4.91', '36', '398', '82320.97', 'Self-employed', '0.43', 'Home', '2', '0', '25', 'Other', 'NA'),
	('4562', '45901', '41132.85', '3.23', '12', '780', '38703.48', 'Employed', '0.99', 'Business', '4', '1', '43', 'Own', 'Current'),
	('4563', '23585', '48627.01', '6.46', '72', '579', '61344.08', 'Unemployed', '0.6', 'Education', '4', '1', '67', 'Own', 'Late'),
	('4564', '12626', '1890.09', '8.71', '24', '404', '87569.4', 'Self-employed', '0.44', 'Home', 'Unreported', '1', '33', 'Own', 'Paid Off'),
	('4565', '92123', '8186.05', '11.23', '24', '730', '20977.06', 'Unemployed', '0.19', 'Car', '2', '1', '43', 'Own', 'Paid Off'),
	('4566', '58174', '31254.54', '17.97', '12', '638', '86396.6', 'Others', '0.43', 'Home', '3', '1', '31', 'Mortgage', 'NA'),
	('4567', '22456', '1123.14', '19.43', '24', '325', '89443.02', 'Employed', '0.33', 'Education', '8', '0', '37', 'Rent', 'Late'),
	('4568', '77281', '38141.51', '16.42', '48', '740', '114586.29', 'Unemployed', '0.41', 'Car', '6', '1', '24', 'Rent', 'Late'),
	('4569', '23479', '29567.63', '13.98', '24', '568', '45787.22', 'Employed', '0.06', 'Home', 'Unreported', '0', '36', 'Own', 'NA'),
	('4570', '20751', '33970.36', '3.48', '36', '460', '120125.39', 'Employed', '0.93', 'Education', '6', '1', '46', 'Own', 'Paid Off'),
	('4571', '14459', '31587.8', '12.48', '36', '347', '149303.42', 'Self-employed', '0.88', 'Personal', '4', '0', '61', 'Own', 'Paid Off'),
	('4572', '54760', '30351.68', '4.44', '72', '564', '34720.45', 'Unemployed', '0.02', 'Personal', '3', '0', '64', 'Own', 'NA'),
	('4573', '84516', '6018.21', '13.245', '36', '405', '85420.16', 'Others', '0.98', 'Home', '8', '0', '43', 'Rent', 'NA'),
	('4574', '92996', '12526.01', '8.73', '72', '673', '48489.67', 'Self-employed', '0.44', 'Home', '4', '1', '55', 'Own', 'Paid Off'),
	('4575', '39523', '23731.95', '11.28', '48', '522', '58065.57', 'Unemployed', '0.31', 'Business', 'Unreported', '0', '44', 'Rent', 'Late'),
	('4576', '44164', '17385.13', '3.34', '72', '340', '78785.93', 'Unemployed', '0.15', 'Car', 'Unreported', '1', '28', 'Rent', 'Paid Off'),
	('4577', '23959', '39369.97', '11.71', '48', '426', '48127.14', 'Unemployed', '0.92', 'Home', '3', '1', '26', 'Mortgage', 'Current'),
	('4578', '78127', '34088.38', '16.83', '36', '701', '129222.69', 'Self-employed', '0.01', 'Car', '0', '0', '38', 'Own', 'Current'),
	('4579', '65492', '16262.05', '13.43', '48', '845', '107144.36', 'Self-employed', '0.61', 'Education', '5', '0', '25', 'Other', 'Late'),
	('4580', '40875', '47603.37', '20.94', '72', '335', '71136.36', 'Employed', '0.96', 'Personal', '9', '0', '24', 'Rent', 'Paid Off'),
	('4581', '31656', '32567.85', '11.14', '24', '590', '94598.08', 'Self-employed', '0.93', 'Personal', '3', '1', '58', 'Rent', 'Late'),
	('4582', '76184', '42484.63', '23.83', '24', '353', '97636.58', 'Unemployed', '0.36', 'Home', '2', '1', '21', 'Rent', 'Current'),
	('4583', '98885', '25320.265', '21.04', '12', '699', '116190.46', 'Others', '0.47', 'Home', '3', '1', '64', 'Rent', 'Paid Off'),
	('4584', '15850', '10684.03', '20.1', '72', '825', '85420.16', 'Unemployed', '0.6', 'Home', '4', '1', '46', 'Own', 'NA'),
	('4585', '54760', '204888.3', '5.53', '72', '795', '1240770', 'Unemployed', '0.56', 'Home', '3', '1', '34', 'Rent', 'Current'),
	('4586', '93916', '25320.265', '7.53', '12', '602', '121440', 'Employed', '0.48', 'Home', '8', '0', '54', 'Own', 'Paid Off'),
	('4587', '54760', '8243.24', '10.04', '12', '414', '140902.03', 'Self-employed', '0.92', 'Car', '7', '0', '35', 'Own', 'Current'),
	('4588', '72984', '29785.85', '6.15', '48', '495', '85420.16', 'Unemployed', '0.94', 'Home', 'Unreported', '0', '43', 'Rent', 'Paid Off'),
	('4589', '17661', '26339.53', '3.72', '36', '788', '85420.16', 'Employed', '0.39', 'Home', '4', '1', '30', 'Mortgage', 'Paid Off'),
	('4590', '85200', '25320.265', '2.59', '48', '545', '97172.65', 'Unemployed', '0.3', 'Home', '5', '1', '43', 'Own', 'Late'),
	('4591', '46847', '36131.16', '11.49', '36', '472', '59389.82', 'Employed', '0.94', 'Education', '8', '0', '48', 'Own', 'Current'),
	('4592', '63969', '14029.42', '13.245', '12', '351', '85420.16', 'Employed', '0.64', 'Education', '2', '0', '42', 'Mortgage', 'Paid Off'),
	('4593', '15836', '25320.265', '6.02', '12', '691', '96675.13', 'Self-employed', '0.07', 'Car', '6', '0', '54', 'Rent', 'Late'),
	('4594', '32032', '46972.6', '23.19', '72', '730', '84648.65', 'Employed', '0.42', 'Personal', '1', '1', '43', 'Own', 'Paid Off'),
	('4595', '87560', '28787.43', '13.47', '72', '632', '140305.2', 'Employed', '0.88', 'Personal', '3', '0', '43', 'Mortgage', 'NA'),
	('4596', '79963', '34390.24', '4.38', '36', '411', '85420.16', 'Others', '0.2', 'Home', '7', '1', '35', 'Mortgage', 'Paid Off'),
	('4597', '41311', '37529.36', '22.39', '60', '541', '92076.85', 'Employed', '0.73', 'Personal', '6', '0', '52', 'Own', 'Late'),
	('4598', '36163', '22889', '6.27', '24', '730', '107497.28', 'Unemployed', '0.48', 'Other', '7', '1', '20', 'Rent', 'Current'),
	('4599', '69246', '22109.66', '13.39', '24', '302', '72198.52', 'Self-employed', '0.11', 'Business', '7', '1', '42', 'Own', 'Late'),
	('4600', '31212', '24040.01', '13.245', '60', '735', '71507.14', 'Employed', '0.48', 'Car', '7', '1', '29', 'Rent', 'Late'),
	('4601', '54760', '43238.97', '24.72', '24', '730', '83187.44', 'Unemployed', '0.84', 'Education', '2', '0', '61', 'Other', 'Paid Off'),
	('4602', '21794', '18817.17', '13.245', '36', '437', '85420.16', 'Unemployed', '0.04', 'Home', '6', '1', '31', 'Other', 'Current'),
	('4603', '64425', '44378.82', '18.06', '36', '720', '149164.24', 'Employed', '0.24', 'Personal', '9', '1', '36', 'Rent', 'Late'),
	('4604', '88745', '3004.92', '3.77', '24', '588', '25901.34', 'Self-employed', '0.93', 'Business', '0', '0', '29', 'Rent', 'Paid Off'),
	('4605', '65044', '13388.92', '15.36', '36', '689', '85420.16', 'Self-employed', '0.83', 'Business', '8', '1', '43', 'Mortgage', 'Current'),
	('4606', '52890', '44972.05', '19.74', '72', '458', '91053.13', 'Unemployed', '0.24', 'Car', '9', '0', '66', 'Own', 'Paid Off'),
	('4607', '70502', '46705.78', '9.76', '12', '422', '48720.29', 'Employed', '0.48', 'Home', '4', '1', '22', 'Mortgage', 'NA'),
	('4608', '52659', '11176.07', '15.96', '60', '744', '137275.6', 'Unemployed', '0.5', 'Personal', '7', '1', '56', 'Rent', 'Paid Off'),
	('4609', '56832', '11640.83', '13.245', '12', '373', '114429.01', 'Unemployed', '0.09', 'Car', 'Unreported', '0', '26', 'Other', 'Paid Off'),
	('4610', '80533', '37958.05', '9.14', '60', '782', '85420.16', 'Employed', '0.02', 'Personal', '9', '1', '59', 'Own', 'Late'),
	('4611', '34890', '18711.81', '9.65', '60', '500', '85420.16', 'Employed', '0.48', 'Education', '7', '1', '28', 'Mortgage', 'Late'),
	('4612', '83315', '11077.14', '16.92', '36', '338', '81091.7', 'Employed', '0.9', 'Personal', 'Unreported', '1', '60', 'Own', 'Paid Off'),
	('4613', '86264', '12134.53', '16.21', '48', '355', '76572.64', 'Employed', '0.51', 'Business', '7', '1', '64', 'Own', 'Paid Off'),
	('4614', '21367', '159050.3', '22.99', '36', '616', '1122959.2', 'Self-employed', '0.12', 'Car', '1', '0', '55', 'Own', 'Paid Off'),
	('4615', '24731', '41816.41', '20.85', '12', '695', '23338.44', 'Unemployed', '0.17', 'Personal', '2', '0', '40', 'Own', 'Paid Off'),
	('4616', '54040', '23362.51', '15.36', '24', '730', '69755.76', 'Employed', '0.02', 'Home', '7', '1', '46', 'Rent', 'NA'),
	('4617', '15146', '7227.34', '16.17', '48', '433', '96048.4', 'Others', '0.68', 'Personal', '3', '1', '31', 'Mortgage', 'Paid Off'),
	('4618', '21368', '19205.27', '14.71', '24', '601', '51235.72', 'Employed', '0.87', 'Personal', 'Unreported', '1', '57', 'Rent', 'Paid Off'),
	('4619', '10095', '16835.22', '17.59', '60', '589', '131225.88', 'Self-employed', '0.88', 'Car', '5', '0', '43', 'Own', 'Current'),
	('4620', '28394', '4728.98', '11.76', '36', '492', '102323.15', 'Others', '0.9', 'Car', '1', '0', '65', 'Own', 'Current'),
	('4621', '43330', '41341.29', '24.19', '36', '519', '79645.54', 'Employed', '0.39', 'Car', '0', '0', '69', 'Rent', 'Paid Off'),
	('4622', '54760', '36836.18', '2.28', '48', '369', '144752.3', 'Unemployed', '0.59', 'Business', '1', '1', '43', 'Mortgage', 'Paid Off'),
	('4623', '66339', '22342.54', '5.52', '36', '729', '132797.85', 'Self-employed', '0.47', 'Education', '3', '1', '40', 'Mortgage', 'Late'),
	('4624', '54760', '35375.6', '6.3', '36', '730', '99867.87', 'Others', '0.52', 'Other', '9', '0', '43', 'Own', 'Late'),
	('4625', '43715', '17596.76', '13.245', '12', '806', '103134.37', 'Unemployed', '0.27', 'Business', '6', '1', '63', 'Rent', 'Paid Off'),
	('4626', '78235', '46855.96', '15.6', '60', '363', '23351.76', 'Others', '0.75', 'Car', '1', '0', '33', 'Other', 'NA'),
	('4627', '13407', '25538.3', '2.43', '12', '829', '146621.43', 'Employed', '0.52', 'Other', '8', '0', '43', 'Mortgage', 'Paid Off'),
	('4628', '58437', '6448.94', '4.35', '36', '385', '81923.06', 'Self-employed', '0.19', 'Personal', '1', '0', '29', 'Rent', 'Late'),
	('4629', '67476', '24283.91', '4.96', '24', '785', '112248.5', 'Unemployed', '0.64', 'Personal', '5', '1', '28', 'Mortgage', 'Late'),
	('4630', '23795', '18646.41', '20.54', '12', '422', '38538.43', 'Self-employed', '0.46', 'Business', '2', '0', '33', 'Own', 'Paid Off'),
	('4631', '44705', '2671.11', '13.245', '48', '478', '20185.56', 'Employed', '0.09', 'Home', '4', '0', '24', 'Rent', 'Paid Off'),
	('4632', '96553', '18135.78', '17.2', '36', '527', '124349.9', 'Unemployed', '0.97', 'Car', '1', '1', '41', 'Other', 'NA'),
	('4633', '70794', '48840.7', '11.02', '36', '667', '99648.82', 'Employed', '0.94', 'Personal', '4', '1', '25', 'Mortgage', 'Late'),
	('4634', '38236', '13722.82', '19.07', '48', '476', '103292.69', 'Unemployed', '0.37', 'Car', '1', '0', '65', 'Rent', 'Current'),
	('4635', '54760', '36476.14', '21.56', '48', '750', '116405.51', 'Employed', '0.82', 'Home', '7', '0', '43', 'Own', 'Current'),
	('4636', '30320', '8552.85', '10.56', '72', '730', '96620.19', 'Employed', '0.32', 'Other', '2', '0', '20', 'Rent', 'Paid Off'),
	('4637', '54760', '9296.7', '17.51', '36', '572', '139790.02', 'Employed', '0.24', 'Personal', '6', '0', '58', 'Own', 'Current'),
	('4638', '65011', '15528.06', '17.95', '60', '304', '34346.15', 'Employed', '0.07', 'Education', '1', '0', '60', 'Own', 'Current'),
	('4639', '50361', '1716.12', '10.74', '24', '332', '30307.92', 'Unemployed', '0.06', 'Education', '8', '1', '51', 'Other', 'Late'),
	('4640', '11107', '24698.62', '2.82', '60', '381', '85961.99', 'Self-employed', '0.19', 'Car', '2', '1', '53', 'Rent', 'Current'),
	('4641', '25995', '48521.45', '13.1', '24', '318', '23324.28', 'Employed', '0', 'Personal', '8', '0', '43', 'Mortgage', 'Late'),
	('4642', '28531', '14795.01', '10.8', '60', '730', '85420.16', 'Unemployed', '0.39', 'Education', '3', '0', '58', 'Other', 'Late'),
	('4643', '33901', '33821.55', '22.94', '48', '370', '88125.28', 'Employed', '0.73', 'Home', '9', '1', '58', 'Mortgage', 'Paid Off'),
	('4644', '94458', '42369.77', '3.69', '48', '766', '129163.04', 'Employed', '0.98', 'Business', '9', '0', '38', 'Mortgage', 'Current'),
	('4645', '27111', '47033.34', '24.66', '60', '451', '95479.05', 'Unemployed', '0.37', 'Education', '8', '1', '41', 'Own', 'Current'),
	('4646', '31273', '2240.99', '17.87', '48', '387', '146188.97', 'Self-employed', '0.67', 'Car', '5', '0', '43', 'Rent', 'Late'),
	('4647', '19428', '42410.8', '23', '60', '639', '25726.07', 'Unemployed', '0.88', 'Business', '8', '0', '43', 'Mortgage', 'Late'),
	('4648', '90763', '4988.58', '6.92', '36', '394', '75063.49', 'Others', '0.85', 'Car', '6', '0', '49', 'Rent', 'NA'),
	('4649', '18620', '16355.95', '13.245', '60', '397', '85420.16', 'Unemployed', '0.87', 'Home', '6', '0', '55', 'Mortgage', 'Late'),
	('4650', '90934', '37389.95', '6.41', '48', '324', '43777.33', 'Self-employed', '0.48', 'Personal', '7', '1', '40', 'Own', 'Current'),
	('4651', '52454', '19043.74', '19.46', '12', '846', '38137.89', 'Self-employed', '0.06', 'Education', '7', '1', '60', 'Mortgage', 'Paid Off'),
	('4652', '54760', '3769.27', '2.67', '60', '381', '89653.63', 'Self-employed', '0.87', 'Education', 'Unreported', '1', '63', 'Rent', 'Current'),
	('4653', '70405', '37419.01', '11.66', '60', '828', '142907.5', 'Employed', '0.59', 'Other', '5', '1', '37', 'Rent', 'Paid Off'),
	('4654', '54760', '28281.54', '8.93', '48', '603', '41017.19', 'Self-employed', '0.22', 'Other', '1', '1', '47', 'Own', 'Paid Off'),
	('4655', '11535', '23797.75', '19.79', '36', '527', '120850.27', 'Employed', '0.84', 'Business', '4', '1', '38', 'Own', 'NA'),
	('4656', '62506', '21264.29', '23.11', '36', '807', '55414.8', 'Others', '0.78', 'Education', '9', '0', '34', 'Mortgage', 'NA'),
	('4657', '36572', '31779.63', '2.53', '36', '690', '116289.46', 'Self-employed', '0.98', 'Personal', '5', '1', '62', 'Other', 'NA'),
	('4658', '61996', '45935.43', '21.31', '48', '730', '39434.64', 'Unemployed', '0.38', 'Car', '8', '0', '33', 'Mortgage', 'Late'),
	('4659', '54928', '21602.52', '5.54', '60', '604', '33646.91', 'Employed', '0.79', 'Business', '2', '0', '24', 'Mortgage', 'Paid Off'),
	('4660', '24393', '19993.09', '17.17', '36', '793', '24579.89', 'Self-employed', '0.39', 'Home', '6', '1', '43', 'Own', 'Late'),
	('4661', '65782', '18702.07', '17.08', '48', '679', '60368.14', 'Unemployed', '0.23', 'Other', '9', '1', '27', 'Own', 'Paid Off'),
	('4662', '80157', '10760.35', '17.52', '60', '430', '33224.66', 'Unemployed', '0.53', 'Car', '6', '1', '51', 'Rent', 'NA'),
	('4663', '71206', '25320.265', '17.94', '48', '326', '68418.65', 'Employed', '0.48', 'Business', '8', '1', '19', 'Own', 'Paid Off'),
	('4664', '54760', '12277.92', '23.2', '24', '452', '45796.95', 'Employed', '0.82', 'Other', '6', '1', '30', 'Other', 'Late'),
	('4665', '15371', '25320.265', '9.18', '24', '584', '125469.79', 'Unemployed', '0.98', 'Education', '7', '1', '50', 'Mortgage', 'Late'),
	('4666', '54760', '39285.73', '12.05', '36', '803', '109243.8', 'Employed', '0.78', 'Education', '2', '1', '23', 'Own', 'Current'),
	('4667', '54760', '2263.93', '16.07', '36', '528', '108251.91', 'Unemployed', '0.62', 'Other', '1', '0', '44', 'Rent', 'Late'),
	('4668', '60750', '25672.19', '13.45', '48', '504', '22605.15', 'Others', '0.82', 'Home', '8', '0', '43', 'Own', 'Late'),
	('4669', '99733', '20708.7', '12.01', '36', '337', '86453.84', 'Self-employed', '0.49', 'Car', '1', '1', '59', 'Own', 'NA'),
	('4670', '49762', '4566.37', '22.58', '36', '429', '25575.84', 'Employed', '0.48', 'Business', '3', '1', '36', 'Other', 'Late'),
	('4671', '26172', '41117.49', '20.47', '36', '533', '115497.19', 'Employed', '0.1', 'Business', '4', '1', '28', 'Rent', 'Paid Off'),
	('4672', '56659', '20746.33', '13.71', '48', '638', '85420.16', 'Unemployed', '0.86', 'Business', '4', '1', '65', 'Mortgage', 'Current'),
	('4673', '54760', '19262.43', '13.245', '12', '548', '82041.6', 'Unemployed', '0.98', 'Education', '8', '0', '42', 'Rent', 'Paid Off'),
	('4674', '53913', '25320.265', '13.245', '24', '470', '81480.3', 'Unemployed', '0.2', 'Home', '3', '1', '27', 'Rent', 'NA'),
	('4675', '56515', '22730.34', '21.5', '36', '641', '70909.4', 'Unemployed', '0.03', 'Car', '6', '0', '51', 'Mortgage', 'NA'),
	('4676', '15637', '19232.12', '9.08', '36', '364', '93916.26', 'Employed', '0.29', 'Home', '1', '1', '58', 'Own', 'Paid Off'),
	('4677', '14314', '28559.64', '13.245', '72', '636', '90220.62', 'Self-employed', '0.3', 'Business', '3', '0', '42', 'Own', 'Paid Off'),
	('4678', '48433', '18700.55', '11.74', '36', '536', '45217.57', 'Employed', '0.09', 'Business', '2', '0', '65', 'Own', 'NA'),
	('4679', '40849', '37928.2', '9.39', '60', '339', '34757.24', 'Employed', '0.68', 'Home', '9', '0', '43', 'Other', 'Late'),
	('4680', '45903', '25320.265', '16.12', '72', '523', '32150.51', 'Self-employed', '0.2', 'Business', '2', '0', '43', 'Rent', 'Late'),
	('4681', '97520', '37996.99', '5.24', '36', '408', '67342.64', 'Unemployed', '0.16', 'Car', '0', '0', '35', 'Rent', 'Paid Off'),
	('4682', '90573', '39726.94', '22.96', '60', '772', '119728.74', 'Others', '0.01', 'Education', '0', '0', '51', 'Rent', 'Paid Off'),
	('4683', '64767', '27630.16', '20.2', '72', '415', '81181.87', 'Self-employed', '0.72', 'Other', '4', '1', '55', 'Mortgage', 'Current'),
	('4684', '20986', '41183.32', '4.78', '48', '839', '92249.61', 'Others', '0.38', 'Home', '1', '1', '46', 'Rent', 'Paid Off'),
	('4685', '38876', '14155.7', '23.09', '48', '358', '115102.65', 'Unemployed', '0.56', 'Car', '9', '0', '50', 'Mortgage', 'Paid Off'),
	('4686', '62699', '45805.31', '22.16', '12', '834', '88400.46', 'Employed', '0.76', 'Car', '9', '1', '43', 'Own', 'Late'),
	('4687', '54986', '20699.78', '13.245', '36', '377', '31137.68', 'Employed', '0.59', 'Education', '8', '1', '61', 'Other', 'NA'),
	('4688', '82067', '26980.57', '13.245', '24', '570', '119448.45', 'Others', '0.87', 'Business', 'Unreported', '1', '53', 'Rent', 'Late'),
	('4689', '60772', '9146.01', '19.79', '24', '389', '67544.73', 'Employed', '0.56', 'Personal', '2', '1', '60', 'Rent', 'Paid Off'),
	('4690', '64666', '2717.16', '17.86', '48', '716', '106440.25', 'Others', '0.03', 'Car', '5', '0', '42', 'Mortgage', 'Late'),
	('4691', '80835', '5495.99', '22.25', '72', '498', '89714.44', 'Self-employed', '0.41', 'Business', '3', '0', '22', 'Own', 'Current'),
	('4692', '40793', '1106.73', '13.245', '24', '573', '99784.78', 'Employed', '0.48', 'Business', '3', '1', '53', 'Own', 'Paid Off'),
	('4693', '42909', '38760.66', '8.8', '72', '339', '73826.1', 'Self-employed', '0.02', 'Other', '3', '1', '59', 'Own', 'Current'),
	('4694', '41569', '38221.98', '3.87', '24', '304', '74592.36', 'Employed', '0.82', 'Personal', '1', '0', '59', 'Mortgage', 'Paid Off'),
	('4695', '54760', '21421.07', '13.245', '36', '454', '135752.33', 'Unemployed', '0.01', 'Business', '4', '0', '52', 'Rent', 'Current'),
	('4696', '43069', '30823.06', '22.37', '60', '394', '37308.25', 'Employed', '0.96', 'Home', '2', '0', '69', 'Mortgage', 'Paid Off'),
	('4697', '24489', '8352.17', '17.97', '12', '436', '65844.47', 'Self-employed', '0.08', 'Personal', '0', '1', '38', 'Mortgage', 'Paid Off'),
	('4698', '28880', '42382.92', '21.87', '24', '730', '118825.33', 'Self-employed', '0.47', 'Education', '2', '0', '55', 'Mortgage', 'Current'),
	('4699', '26118', '25320.265', '21.98', '12', '484', '128566.01', 'Self-employed', '0.39', 'Personal', '6', '0', '43', 'Own', 'Current'),
	('4700', '54760', '25320.265', '12.47', '60', '390', '104666.87', 'Self-employed', '1', 'Car', '6', '1', '27', 'Rent', 'Late'),
	('4701', '71198', '25320.265', '13.245', '60', '328', '63267.25', 'Employed', '0.48', 'Other', '6', '0', '59', 'Rent', 'Late'),
	('4702', '54760', '35820.8', '10.67', '48', '559', '138703.42', 'Unemployed', '0.82', 'Other', '6', '0', '26', 'Mortgage', 'Paid Off'),
	('4703', '41686', '21495.57', '8.53', '36', '748', '118481.13', 'Self-employed', '0.29', 'Home', 'Unreported', '1', '45', 'Mortgage', 'Late'),
	('4704', '67615', '18792.95', '13.245', '48', '312', '112219', 'Employed', '0.25', 'Personal', '5', '0', '63', 'Own', 'Paid Off'),
	('4705', '23829', '10874.24', '11.71', '72', '362', '96853.57', 'Self-employed', '0.44', 'Personal', '1', '0', '40', 'Mortgage', 'Current'),
	('4706', '54760', '9564.65', '21.76', '72', '730', '81609.78', 'Employed', '0.88', 'Business', '0', '1', '28', 'Rent', 'Paid Off'),
	('4707', '77303', '23122.72', '15.86', '24', '730', '122870.25', 'Unemployed', '0.62', 'Home', '0', '1', '67', 'Rent', 'Paid Off'),
	('4708', '18903', '19128.81', '9.99', '36', '821', '82259.45', 'Unemployed', '0.05', 'Business', '1', '1', '25', 'Own', 'Late'),
	('4709', '16077', '4008.01', '10.7', '60', '495', '96333.78', 'Employed', '0.32', 'Other', '1', '1', '33', 'Mortgage', 'Paid Off'),
	('4710', '71216', '16197.3', '21.34', '36', '569', '85420.16', 'Self-employed', '0.77', 'Other', '5', '0', '48', 'Mortgage', 'Late'),
	('4711', '54760', '7553.23', '6.59', '60', '408', '62346.83', 'Unemployed', '0.54', 'Home', '8', '1', '43', 'Rent', 'Paid Off'),
	('4712', '79535', '40302.13', '12.52', '36', '643', '87200.56', 'Self-employed', '0.68', 'Home', 'Unreported', '1', '19', 'Own', 'NA'),
	('4713', '30943', '24432.59', '3.49', '48', '574', '44040.18', 'Unemployed', '0.48', 'Business', '4', '1', '46', 'Rent', 'Late'),
	('4714', '52699', '10023.32', '7.93', '72', '555', '126821.77', 'Employed', '0.25', 'Home', '3', '1', '21', 'Rent', 'Paid Off'),
	('4715', '74491', '25320.265', '5.14', '48', '627', '136824.15', 'Self-employed', '0.24', 'Business', '3', '0', '40', 'Rent', 'Current'),
	('4716', '54447', '41113', '9.88', '36', '732', '59848.36', 'Self-employed', '0.32', 'Other', '0', '1', '69', 'Mortgage', 'Paid Off'),
	('4717', '25467', '28282.65', '18.46', '36', '789', '85420.16', 'Employed', '0.6', 'Car', '9', '0', '27', 'Mortgage', 'Late'),
	('4718', '83830', '25642.92', '10.67', '36', '352', '35554.58', 'Self-employed', '0.01', 'Personal', '8', '1', '23', 'Own', 'NA'),
	('4719', '99558', '22951.95', '12.56', '12', '481', '117933.61', 'Self-employed', '0.48', 'Business', '2', '0', '43', 'Own', 'Current'),
	('4720', '28164', '37480.61', '12.89', '12', '706', '146384.34', 'Self-employed', '0.48', 'Business', '2', '0', '38', 'Own', 'Paid Off'),
	('4721', '50419', '27965.58', '13.245', '36', '622', '147293.58', 'Self-employed', '0.01', 'Education', 'Unreported', '1', '53', 'Other', 'Current'),
	('4722', '75214', '6846.98', '5.73', '36', '525', '141890.08', 'Unemployed', '0.97', 'Personal', '2', '1', '29', 'Rent', 'Late'),
	('4723', '21795', '25320.265', '13.245', '36', '520', '124114.76', 'Unemployed', '0.02', 'Education', '8', '0', '26', 'Mortgage', 'Paid Off'),
	('4724', '78933', '14125.79', '23.78', '72', '560', '85420.16', 'Unemployed', '0.96', 'Personal', '2', '1', '20', 'Mortgage', 'Late'),
	('4725', '82369', '48689.94', '8.63', '72', '739', '84254.19', 'Others', '0.26', 'Personal', '8', '1', '69', 'Rent', 'NA'),
	('4726', '12240', '5001.98', '19.52', '24', '373', '84537.19', 'Self-employed', '0.76', 'Business', '9', '0', '29', 'Own', 'Late'),
	('4727', '14587', '27361.53', '14.28', '36', '380', '21789.75', 'Employed', '0.89', 'Education', '0', '1', '59', 'Rent', 'Paid Off'),
	('4728', '29841', '46122.1', '17.74', '72', '582', '109928.12', 'Self-employed', '0.15', 'Car', '0', '0', '50', 'Other', 'Late'),
	('4729', '63042', '4765.97', '3.06', '36', '345', '111148.99', 'Unemployed', '0.06', 'Education', '0', '0', '43', 'Own', 'Late'),
	('4730', '79301', '10322.66', '17.66', '60', '786', '28086.54', 'Self-employed', '0.59', 'Home', '2', '1', '43', 'Rent', 'Paid Off'),
	('4731', '54760', '31428.42', '21.41', '36', '624', '132662.58', 'Self-employed', '0.59', 'Home', '9', '0', '35', 'Rent', 'NA'),
	('4732', '38622', '1677.74', '19.55', '36', '695', '34075.3', 'Self-employed', '0.31', 'Other', '7', '1', '58', 'Own', 'Paid Off'),
	('4733', '46724', '46386.34', '13.245', '24', '702', '125241.01', 'Employed', '0.28', 'Car', '3', '1', '55', 'Own', 'Late'),
	('4734', '62921', '6260.69', '2.85', '60', '730', '119080.88', 'Employed', '0.46', 'Other', '1', '1', '54', 'Rent', 'Paid Off'),
	('4735', '60834', '3960.89', '13.245', '36', '730', '47300.2', 'Self-employed', '0.54', 'Business', '2', '1', '43', 'Own', 'Current'),
	('4736', '54760', '10419.26', '8.23', '60', '427', '20795.42', 'Unemployed', '0.67', 'Home', '6', '1', '52', 'Mortgage', 'Paid Off'),
	('4737', '54760', '30906.9', '13.245', '12', '441', '100617.85', 'Unemployed', '0.48', 'Business', '0', '0', '27', 'Rent', 'Late'),
	('4738', '52737', '47112.12', '15.31', '36', '559', '24837.36', 'Unemployed', '0.48', 'Personal', 'Unreported', '1', '58', 'Rent', 'Paid Off'),
	('4739', '47792', '24474.67', '11.1', '48', '540', '69563.66', 'Self-employed', '0.18', 'Other', '4', '0', '23', 'Other', 'Current'),
	('4740', '98699', '27228.23', '19.32', '36', '696', '85420.16', 'Unemployed', '0.56', 'Personal', '2', '1', '68', 'Mortgage', 'Paid Off'),
	('4741', '56872', '25320.265', '10.02', '48', '423', '26561.13', 'Self-employed', '0.33', 'Personal', '5', '0', '27', 'Mortgage', 'Current'),
	('4742', '64664', '25320.265', '7.28', '48', '582', '62915.73', 'Self-employed', '0.18', 'Car', '1', '1', '69', 'Other', 'Late'),
	('4743', '34834', '14198.28', '16.42', '12', '730', '136107.16', 'Self-employed', '0.94', 'Personal', '8', '1', '29', 'Rent', 'NA'),
	('4744', '25858', '35051.41', '4.17', '24', '692', '85420.16', 'Self-employed', '0.4', 'Home', 'Unreported', '1', '31', 'Rent', 'Paid Off'),
	('4745', '42796', '35786.5', '9.18', '24', '457', '79991.93', 'Employed', '0.31', 'Personal', '6', '0', '26', 'Rent', 'Current'),
	('4746', '52232', '26521.21', '11.21', '36', '529', '35850.27', 'Unemployed', '0.76', 'Car', 'Unreported', '1', '30', 'Own', 'NA'),
	('4747', '91326', '43115.91', '3.74', '60', '741', '93926.81', 'Others', '0.21', 'Other', '5', '1', '66', 'Own', 'Late'),
	('4748', '78395', '33379.04', '4.11', '60', '348', '61500.78', 'Self-employed', '0.56', 'Home', '9', '1', '51', 'Own', 'Paid Off'),
	('4749', '67185', '25181.28', '14.53', '36', '443', '108309.92', 'Employed', '0.2', 'Personal', '3', '1', '40', 'Own', 'Late'),
	('4750', '54916', '25320.265', '18.38', '24', '818', '85536.77', 'Employed', '0.18', 'Business', '8', '0', '43', 'Own', 'Late'),
	('4751', '77597', '29631.71', '22.71', '12', '499', '77792.87', 'Others', '0.6', 'Business', '8', '1', '43', 'Own', 'NA'),
	('4752', '54760', '4724.12', '13.245', '60', '755', '109949.96', 'Self-employed', '0.88', 'Car', '0', '1', '67', 'Own', 'Paid Off'),
	('4753', '24090', '40327.8', '11.01', '36', '730', '85420.16', 'Unemployed', '0.67', 'Business', '8', '1', '43', 'Rent', 'Late'),
	('4754', '59021', '42433.93', '16.21', '12', '448', '104782.91', 'Unemployed', '0.59', 'Home', 'Unreported', '0', '33', 'Own', 'Late'),
	('4755', '78429', '3355.73', '4.58', '48', '724', '50810.37', 'Self-employed', '0.4', 'Car', 'Unreported', '0', '53', 'Mortgage', 'Paid Off'),
	('4756', '68739', '38750.38', '4.05', '48', '476', '56969.61', 'Self-employed', '0.42', 'Home', '3', '1', '45', 'Mortgage', 'Current'),
	('4757', '77358', '49062.08', '8', '24', '535', '29359.31', 'Employed', '0.29', 'Home', 'Unreported', '0', '38', 'Rent', 'Late'),
	('4758', '59216', '25320.265', '17.35', '12', '384', '127070.53', 'Unemployed', '0.83', 'Other', '3', '1', '51', 'Rent', 'Late'),
	('4759', '98427', '20496.09', '4.72', '36', '717', '85420.16', 'Unemployed', '0.04', 'Car', '0', '1', '53', 'Rent', 'Current'),
	('4760', '72663', '36168.74', '13.245', '12', '730', '120451.32', 'Employed', '0.04', 'Home', '8', '0', '65', 'Rent', 'Paid Off'),
	('4761', '98387', '15316.54', '24.91', '36', '751', '85420.16', 'Unemployed', '0.6', 'Car', '8', '1', '51', 'Rent', 'Paid Off'),
	('4762', '18830', '33229.58', '7.71', '12', '670', '147107.69', 'Self-employed', '0.02', 'Business', '1', '1', '34', 'Mortgage', 'Late'),
	('4763', '22127', '26358.53', '19.45', '48', '332', '81896.2', 'Unemployed', '0.62', 'Other', '7', '0', '30', 'Rent', 'NA'),
	('4764', '53400', '33449.14', '3.37', '60', '564', '118916.5', 'Unemployed', '0.48', 'Other', '0', '1', '59', 'Mortgage', 'Paid Off'),
	('4765', '70739', '21277.95', '18.39', '36', '362', '99463.48', 'Self-employed', '0.51', 'Car', '0', '0', '62', 'Mortgage', 'Late'),
	('4766', '40103', '8554.21', '11.63', '36', '719', '125306.72', 'Self-employed', '0.19', 'Car', '2', '0', '38', 'Mortgage', 'Late'),
	('4767', '19748', '21631.11', '17.12', '72', '310', '141842.13', 'Unemployed', '0.26', 'Business', '6', '1', '69', 'Own', 'NA'),
	('4768', '39382', '24393.05', '2.47', '60', '476', '87505.19', 'Unemployed', '0.92', 'Car', '6', '0', '38', 'Own', 'Late'),
	('4769', '98302', '34215.23', '19.58', '36', '587', '66702.54', 'Self-employed', '0.5', 'Personal', 'Unreported', '1', '43', 'Mortgage', 'Paid Off'),
	('4770', '63572', '14941.17', '5.78', '72', '746', '85420.16', 'Unemployed', '0.19', 'Business', '9', '1', '40', 'Rent', 'Paid Off'),
	('4771', '48058', '25320.265', '7.77', '48', '801', '145467.46', 'Employed', '0.08', 'Car', '5', '0', '62', 'Rent', 'Current'),
	('4772', '54760', '12458.04', '18.43', '48', '639', '73054.34', 'Self-employed', '0.17', 'Car', '8', '0', '43', 'Own', 'Current'),
	('4773', '52223', '38480.53', '15.98', '36', '730', '78669.99', 'Employed', '0.05', 'Car', '7', '1', '32', 'Own', 'Current'),
	('4774', '49070', '36383.47', '7.85', '12', '767', '121815.82', 'Employed', '0.58', 'Personal', '0', '1', '34', 'Rent', 'Paid Off'),
	('4775', '67140', '6769.67', '21.41', '72', '615', '140335.91', 'Employed', '0.02', 'Education', '5', '0', '38', 'Mortgage', 'Paid Off'),
	('4776', '89351', '30040.09', '3.3', '36', '530', '120525.02', 'Self-employed', '0.24', 'Car', '7', '1', '39', 'Own', 'Current'),
	('4777', '77267', '5314.45', '6.78', '36', '802', '35963.65', 'Self-employed', '0.62', 'Home', '4', '1', '69', 'Own', 'Paid Off'),
	('4778', '10490', '48487.09', '6.12', '72', '618', '140016.26', 'Others', '0.75', 'Business', 'Unreported', '1', '41', 'Mortgage', 'Current'),
	('4779', '64817', '17622.74', '3', '36', '582', '119802.72', 'Unemployed', '0.17', 'Other', '0', '0', '66', 'Mortgage', 'Current'),
	('4780', '53006', '1992.8', '15.77', '36', '550', '96239.25', 'Self-employed', '0.35', 'Home', '6', '1', '61', 'Other', 'Paid Off'),
	('4781', '75821', '25677.14', '24.46', '24', '644', '86331.55', 'Self-employed', '0.48', 'Other', '5', '0', '34', 'Own', 'Late'),
	('4782', '60371', '6971.27', '22.52', '36', '773', '75554.64', 'Unemployed', '0.51', 'Home', '8', '1', '38', 'Mortgage', 'Late'),
	('4783', '57103', '32896.2', '17.2', '36', '799', '148157.76', 'Self-employed', '0.19', 'Business', '1', '0', '49', 'Mortgage', 'Paid Off'),
	('4784', '32631', '36819.3', '7.55', '12', '413', '85420.16', 'Others', '0.41', 'Car', '9', '1', '48', 'Own', 'Current'),
	('4785', '67774', '43104.03', '19.42', '24', '640', '147640.17', 'Others', '0.31', 'Personal', '8', '0', '43', 'Own', 'Paid Off'),
	('4786', '13307', '44543.53', '23.33', '48', '489', '126273.3', 'Self-employed', '0.29', 'Other', '8', '0', '58', 'Rent', 'Current'),
	('4787', '39069', '16163.03', '17.49', '72', '536', '92441.46', 'Unemployed', '0.97', 'Car', '9', '1', '38', 'Own', 'Paid Off'),
	('4788', '57520', '18530.23', '19.37', '24', '816', '76117.52', 'Self-employed', '0.24', 'Other', '4', '0', '52', 'Rent', 'Late'),
	('4789', '32560', '48749.17', '20.23', '48', '461', '85420.16', 'Employed', '0.73', 'Business', '5', '0', '37', 'Rent', 'Paid Off'),
	('4790', '76802', '22262.17', '16.49', '48', '746', '110882.6', 'Employed', '0.05', 'Home', '3', '0', '19', 'Own', 'NA'),
	('4791', '95366', '20830.59', '12.86', '72', '837', '137666.32', 'Employed', '0.13', 'Personal', '9', '1', '54', 'Own', 'Late'),
	('4792', '12889', '46342.67', '14.03', '36', '356', '67727.15', 'Employed', '0.74', 'Education', 'Unreported', '0', '63', 'Other', 'Current'),
	('4793', '31861', '10177.81', '23.35', '48', '325', '122034.63', 'Self-employed', '0.36', 'Car', '0', '0', '19', 'Other', 'Late'),
	('4794', '87164', '24229.71', '24.5', '36', '733', '102257.2', 'Self-employed', '0.48', 'Other', '6', '0', '52', 'Mortgage', 'Paid Off'),
	('4795', '90529', '24785.87', '21.36', '24', '481', '22299.28', 'Unemployed', '0.04', 'Education', '3', '0', '42', 'Own', 'Paid Off'),
	('4796', '54760', '37383.88', '10.21', '72', '521', '56429.1', 'Employed', '0.23', 'Car', '9', '0', '50', 'Other', 'Paid Off'),
	('4797', '77961', '22335.26', '14.57', '72', '518', '113694.28', 'Unemployed', '0.36', 'Home', '3', '1', '24', 'Other', 'Late'),
	('4798', '58931', '43297.88', '13.245', '36', '671', '104868.13', 'Self-employed', '0.16', 'Education', '7', '0', '39', 'Own', 'Current'),
	('4799', '75186', '338421', '7.47', '12', '420', '1160884.3', 'Employed', '0.3', 'Business', '5', '0', '44', 'Mortgage', 'Paid Off'),
	('4800', '75989', '46617.41', '21.71', '48', '423', '85420.16', 'Others', '0.15', 'Education', '9', '1', '69', 'Rent', 'Current'),
	('4801', '54760', '13839.04', '3.14', '48', '575', '108207.28', 'Unemployed', '0.46', 'Education', '1', '1', '20', 'Own', 'Late'),
	('4802', '13846', '40807.72', '16.12', '72', '835', '133516.58', 'Self-employed', '0.18', 'Personal', '6', '1', '40', 'Mortgage', 'Paid Off'),
	('4803', '96920', '6721.89', '15.3', '36', '353', '111857.45', 'Employed', '0.34', 'Other', '9', '1', '42', 'Other', 'Current'),
	('4804', '91664', '40294.57', '2.57', '36', '824', '135834.86', 'Unemployed', '0.59', 'Other', '0', '1', '65', 'Other', 'NA'),
	('4805', '88653', '42587.73', '5.13', '24', '378', '34298.96', 'Employed', '0.55', 'Personal', '3', '0', '39', 'Mortgage', 'Late'),
	('4806', '54760', '20923.23', '15.58', '48', '605', '85420.16', 'Unemployed', '0.7', 'Home', '3', '0', '31', 'Own', 'Current'),
	('4807', '61578', '35300.68', '14.36', '72', '840', '80437.52', 'Employed', '0.96', 'Home', '3', '1', '26', 'Mortgage', 'Late'),
	('4808', '12822', '48466.42', '2.7', '60', '773', '22336.68', 'Self-employed', '0.62', 'Personal', '4', '1', '68', 'Other', 'Paid Off'),
	('4809', '54760', '25320.265', '13.87', '72', '373', '146421.12', 'Self-employed', '0.35', 'Home', '3', '0', '42', 'Rent', 'Paid Off'),
	('4810', '51629', '31288.91', '13.245', '12', '730', '61545.83', 'Unemployed', '0.21', 'Car', '2', '1', '50', 'Own', 'NA'),
	('4811', '54760', '3324.1', '8.69', '36', '569', '31964.59', 'Employed', '0.09', 'Car', '7', '0', '39', 'Rent', 'Current'),
	('4812', '98131', '17591.58', '7.64', '72', '775', '67895.49', 'Self-employed', '0.85', 'Business', '9', '1', '63', 'Mortgage', 'Paid Off'),
	('4813', '73623', '7918.15', '3.73', '12', '845', '102184.52', 'Others', '0.13', 'Business', '5', '1', '43', 'Own', 'Current'),
	('4814', '62792', '27302.37', '17.5', '60', '300', '89907.33', 'Self-employed', '0.81', 'Personal', 'Unreported', '1', '60', 'Own', 'Current'),
	('4815', '79725', '30557.58', '11.87', '48', '315', '100228.62', 'Unemployed', '0.29', 'Education', '7', '1', '42', 'Mortgage', 'Late'),
	('4816', '54760', '49480.88', '7.69', '72', '594', '93538.45', 'Unemployed', '0.24', 'Business', '1', '0', '43', 'Mortgage', 'Late'),
	('4817', '24994', '48373.32', '8.18', '12', '730', '84591.03', 'Self-employed', '0.03', 'Other', '7', '1', '32', 'Mortgage', 'Paid Off'),
	('4818', '54760', '44250.41', '22.94', '48', '575', '49997.3', 'Others', '0.22', 'Home', '2', '1', '43', 'Own', 'Current'),
	('4819', '77029', '28806.58', '14.65', '72', '784', '118540.6', 'Unemployed', '0.92', 'Home', '7', '0', '30', 'Mortgage', 'Paid Off'),
	('4820', '15678', '44417.08', '7.84', '12', '403', '56440.87', 'Self-employed', '0.08', 'Home', '3', '1', '40', 'Own', 'Current'),
	('4821', '90034', '18390.97', '13.8', '48', '761', '110831.74', 'Unemployed', '0', 'Car', '2', '0', '69', 'Other', 'Late'),
	('4822', '99698', '10845.63', '10.71', '12', '848', '56977.49', 'Unemployed', '0.55', 'Other', 'Unreported', '1', '51', 'Mortgage', 'Paid Off'),
	('4823', '27407', '26776.22', '22.59', '48', '620', '38562.25', 'Employed', '0.23', 'Personal', '6', '0', '26', 'Rent', 'Late'),
	('4824', '54760', '27029.26', '7.23', '36', '468', '141970.37', 'Unemployed', '0.48', 'Personal', '2', '0', '28', 'Rent', 'NA'),
	('4825', '72349', '25320.265', '5.8', '48', '694', '87886.06', 'Self-employed', '0.64', 'Home', '3', '1', '66', 'Rent', 'NA'),
	('4826', '54760', '1281.08', '22.64', '36', '730', '122534.85', 'Employed', '0.67', 'Business', '1', '0', '52', 'Rent', 'Paid Off'),
	('4827', '10013', '42922.02', '6.81', '72', '532', '37676.83', 'Self-employed', '0.14', 'Personal', '7', '1', '55', 'Mortgage', 'NA'),
	('4828', '85169', '308035.4', '2.05', '60', '574', '1201498.5', 'Others', '0.71', 'Car', '7', '1', '69', 'Other', 'Paid Off'),
	('4829', '61277', '47042.58', '13.47', '24', '666', '108918.52', 'Unemployed', '0.47', 'Car', '0', '1', '27', 'Rent', 'Late'),
	('4830', '74441', '37515.58', '13.245', '60', '730', '136050.19', 'Self-employed', '0.73', 'Home', '5', '0', '54', 'Rent', 'Late'),
	('4831', '99674', '18946.71', '6.11', '24', '303', '32831.62', 'Self-employed', '0.07', 'Personal', '1', '0', '46', 'Own', 'Current'),
	('4832', '94567', '32105.16', '21.19', '48', '730', '100761.9', 'Self-employed', '0.09', 'Business', '5', '0', '43', 'Other', 'Late'),
	('4833', '85989', '19116.26', '23.93', '72', '634', '134336.13', 'Employed', '0.45', 'Home', '0', '0', '48', 'Mortgage', 'Current'),
	('4834', '28011', '46156.71', '13.245', '12', '730', '147210.33', 'Unemployed', '0.26', 'Personal', '5', '1', '43', 'Mortgage', 'Late'),
	('4835', '87293', '25320.265', '19.91', '12', '433', '30598.15', 'Self-employed', '0.04', 'Other', 'Unreported', '1', '20', 'Own', 'Current'),
	('4836', '54760', '28184.72', '8.69', '12', '373', '103888.69', 'Self-employed', '0.48', 'Business', 'Unreported', '0', '32', 'Other', 'Paid Off'),
	('4837', '42479', '25859.24', '9.87', '12', '758', '76487.58', 'Self-employed', '0.55', 'Other', '1', '1', '22', 'Rent', 'Paid Off'),
	('4838', '28918', '10316.84', '5.61', '36', '458', '106968.6', 'Unemployed', '0.93', 'Home', 'Unreported', '0', '27', 'Rent', 'Current'),
	('4839', '22754', '21979.19', '13.79', '48', '503', '118960.71', 'Unemployed', '0.73', 'Education', '6', '0', '21', 'Mortgage', 'Paid Off'),
	('4840', '88427', '15547.71', '21.04', '36', '578', '132790.31', 'Employed', '0.71', 'Personal', '4', '1', '44', 'Mortgage', 'Paid Off'),
	('4841', '54760', '33850.08', '13.42', '60', '789', '85420.16', 'Others', '0.97', 'Other', '7', '0', '69', 'Rent', 'Paid Off'),
	('4842', '55530', '37903.31', '20.94', '24', '371', '120618.76', 'Unemployed', '0.45', 'Business', '0', '1', '43', 'Rent', 'Late'),
	('4843', '23591', '38798.39', '13.04', '48', '829', '29189.17', 'Self-employed', '0.84', 'Business', '9', '1', '24', 'Own', 'Late'),
	('4844', '54760', '20323.24', '10.01', '72', '629', '141656.02', 'Self-employed', '0.39', 'Business', 'Unreported', '0', '43', 'Other', 'Late'),
	('4845', '88612', '10378.08', '4.92', '60', '667', '71722.84', 'Self-employed', '0.38', 'Education', '2', '1', '62', 'Rent', 'Current'),
	('4846', '83182', '15408.46', '2.29', '24', '730', '68888.69', 'Others', '0', 'Personal', '5', '1', '18', 'Own', 'NA'),
	('4847', '40666', '27201.97', '10.12', '48', '740', '112541.76', 'Unemployed', '0.61', 'Other', '8', '0', '57', 'Rent', 'Late'),
	('4848', '63667', '31149.83', '13.245', '36', '669', '48875.13', 'Self-employed', '0.45', 'Education', '0', '0', '55', 'Own', 'Late'),
	('4849', '54760', '39948.78', '9.96', '48', '588', '35126.1', 'Others', '0.44', 'Personal', '1', '1', '42', 'Own', 'Late'),
	('4850', '44198', '36267.08', '20.84', '24', '525', '47778.95', 'Self-employed', '0.48', 'Car', '5', '1', '46', 'Own', 'Paid Off'),
	('4851', '41393', '9544.13', '17.87', '36', '811', '49809.11', 'Others', '0.7', 'Business', '5', '0', '49', 'Other', 'Paid Off'),
	('4852', '88720', '37455.56', '12.1', '12', '730', '82663.89', 'Employed', '0.18', 'Car', '9', '0', '33', 'Own', 'Late'),
	('4853', '41212', '6640.42', '2.98', '12', '838', '129548.26', 'Self-employed', '0.45', 'Home', '9', '1', '21', 'Rent', 'Current'),
	('4854', '54760', '45969.97', '18.32', '72', '579', '85420.16', 'Unemployed', '0.53', 'Education', '6', '1', '23', 'Mortgage', 'Current'),
	('4855', '54760', '34798.73', '15.06', '72', '558', '76187.23', 'Unemployed', '0.74', 'Other', '6', '1', '44', 'Rent', 'Late'),
	('4856', '78757', '6483.75', '12.7', '36', '837', '71418.6', 'Self-employed', '0.88', 'Home', '2', '0', '69', 'Own', 'Current'),
	('4857', '52770', '41992.31', '24.45', '36', '492', '81467.35', 'Employed', '0.69', 'Other', '8', '1', '46', 'Other', 'Current'),
	('4858', '90208', '34242.53', '19.21', '72', '703', '132884.13', 'Others', '0.07', 'Business', '8', '1', '57', 'Own', 'Paid Off'),
	('4859', '35187', '35882.96', '9.94', '48', '431', '20230.38', 'Employed', '0.43', 'Personal', '8', '1', '40', 'Mortgage', 'Current'),
	('4860', '63247', '24884.01', '9.83', '12', '730', '51854.01', 'Unemployed', '0.48', 'Education', 'Unreported', '0', '56', 'Other', 'Late'),
	('4861', '63064', '30630.56', '16.14', '36', '529', '129286.1', 'Employed', '0.89', 'Business', '5', '0', '19', 'Mortgage', 'Late'),
	('4862', '17548', '21977.57', '5.56', '60', '730', '85420.16', 'Unemployed', '0.2', 'Car', '3', '1', '43', 'Mortgage', 'NA'),
	('4863', '54760', '28807.97', '14.45', '72', '543', '117021.67', 'Self-employed', '0.5', 'Home', '3', '0', '31', 'Own', 'Paid Off'),
	('4864', '54760', '39699.77', '14.83', '36', '730', '107285.46', 'Others', '0.48', 'Home', '3', '0', '49', 'Rent', 'Late'),
	('4865', '33659', '10788.46', '17.16', '24', '530', '105535.98', 'Unemployed', '0.48', 'Home', '6', '0', '49', 'Other', 'Late'),
	('4866', '99903', '25320.265', '21.59', '12', '481', '80170.26', 'Self-employed', '0.21', 'Personal', '7', '0', '58', 'Other', 'Late'),
	('4867', '29328', '15994.44', '17.17', '24', '815', '148535.74', 'Unemployed', '0.48', 'Education', '8', '1', '27', 'Own', 'Current'),
	('4868', '59069', '8230.76', '13.245', '36', '619', '62030.52', 'Unemployed', '0.58', 'Personal', '6', '1', '37', 'Rent', 'Late'),
	('4869', '51852', '32092.9', '2.49', '24', '843', '104586.07', 'Unemployed', '0.48', 'Education', '4', '1', '49', 'Mortgage', 'Paid Off'),
	('4870', '85574', '26696.08', '15.93', '36', '730', '43297.88', 'Employed', '0.22', 'Personal', '8', '0', '67', 'Own', 'Current'),
	('4871', '78390', '15285.14', '2.71', '24', '730', '43370.1', 'Employed', '0.88', 'Business', '2', '0', '34', 'Own', 'Late'),
	('4872', '48948', '31780.37', '21.34', '36', '810', '133632.99', 'Self-employed', '0.45', 'Other', '8', '0', '35', 'Own', 'Current'),
	('4873', '81779', '36003.24', '4.92', '72', '400', '123171.56', 'Employed', '0.86', 'Home', '8', '1', '34', 'Rent', 'Paid Off'),
	('4874', '25465', '25320.265', '13.33', '36', '584', '146343.8', 'Unemployed', '0.39', 'Car', '9', '1', '50', 'Mortgage', 'Current'),
	('4875', '63630', '6715.4', '4.47', '36', '478', '85420.16', 'Employed', '0.67', 'Business', '0', '1', '22', 'Own', 'Late'),
	('4876', '35114', '26004.95', '16.79', '72', '619', '90135.61', 'Others', '0.8', 'Other', '5', '0', '19', 'Rent', 'Paid Off'),
	('4877', '77374', '14865.99', '14.62', '60', '693', '59943.54', 'Self-employed', '0.12', 'Personal', '3', '0', '50', 'Rent', 'Late'),
	('4878', '53026', '16936.03', '2.92', '24', '468', '147912.48', 'Unemployed', '0.81', 'Car', 'Unreported', '0', '57', 'Own', 'Paid Off'),
	('4879', '94696', '25204.48', '19.27', '48', '774', '69339.33', 'Self-employed', '0.76', 'Home', '2', '1', '57', 'Own', 'Paid Off'),
	('4880', '10344', '36828.82', '14.23', '60', '730', '48188.2', 'Employed', '0.39', 'Personal', '8', '1', '31', 'Mortgage', 'Current'),
	('4881', '17630', '1733.04', '12.42', '12', '730', '117153.59', 'Unemployed', '0.39', 'Personal', 'Unreported', '1', '61', 'Own', 'Late'),
	('4882', '68588', '24432.65', '22.55', '24', '730', '40708.7', 'Unemployed', '0.76', 'Home', '4', '1', '31', 'Mortgage', 'Paid Off'),
	('4883', '54760', '7051.02', '20.04', '12', '762', '83122.6', 'Unemployed', '0.48', 'Education', '8', '0', '24', 'Rent', 'Late'),
	('4884', '30778', '42808.16', '22.05', '48', '345', '127490.43', 'Unemployed', '0.2', 'Education', '6', '0', '24', 'Mortgage', 'Late'),
	('4885', '95242', '25320.265', '6.7', '12', '503', '85420.16', 'Unemployed', '0.09', 'Home', '3', '0', '49', 'Rent', 'Late'),
	('4886', '88613', '20796.17', '13.29', '24', '539', '131934.2', 'Employed', '0.64', 'Education', '9', '0', '49', 'Rent', 'Late'),
	('4887', '77281', '3323.75', '10.48', '24', '712', '85182.25', 'Self-employed', '0.04', 'Other', '7', '1', '65', 'Other', 'Late'),
	('4888', '51038', '8308', '9.33', '60', '607', '31062.14', 'Others', '0.34', 'Other', '0', '1', '18', 'Mortgage', 'Late'),
	('4889', '65161', '1087.7', '8.94', '12', '738', '131957.63', 'Others', '0.76', 'Education', '7', '1', '34', 'Own', 'Late'),
	('4890', '54760', '18641.73', '13.245', '72', '484', '63444.89', 'Employed', '0.31', 'Home', '2', '1', '43', 'Mortgage', 'NA'),
	('4891', '97247', '25320.265', '13.245', '48', '615', '110841.51', 'Self-employed', '0.41', 'Education', '6', '0', '20', 'Rent', 'Current'),
	('4892', '14850', '29213.14', '14.65', '48', '696', '107372.61', 'Employed', '0.01', 'Personal', '3', '0', '41', 'Mortgage', 'NA'),
	('4893', '35042', '42155.4', '3.42', '12', '722', '85420.16', 'Self-employed', '0.82', 'Business', '8', '0', '42', 'Mortgage', 'Paid Off'),
	('4894', '80027', '9597.46', '9.17', '60', '824', '133277.45', 'Employed', '0.48', 'Education', '1', '1', '29', 'Own', 'Current'),
	('4895', '34856', '34189.74', '10.08', '24', '431', '134205.11', 'Unemployed', '0.68', 'Business', '4', '0', '67', 'Rent', 'Current'),
	('4896', '83541', '37547.02', '4.61', '72', '636', '113735.42', 'Unemployed', '0.87', 'Car', '0', '1', '21', 'Mortgage', 'Current'),
	('4897', '20475', '17856.04', '14.82', '72', '588', '77580.76', 'Employed', '0.16', 'Other', 'Unreported', '0', '66', 'Mortgage', 'Paid Off'),
	('4898', '57622', '6600.59', '18.45', '24', '596', '28538.07', 'Unemployed', '0.43', 'Education', '0', '1', '61', 'Own', 'Paid Off'),
	('4899', '98637', '37367.94', '5.13', '60', '443', '82365.43', 'Self-employed', '0.07', 'Other', '8', '0', '24', 'Own', 'Current'),
	('4900', '43980', '26552.06', '7.61', '24', '499', '95559.36', 'Unemployed', '0.86', 'Education', '8', '1', '37', 'Own', 'Paid Off'),
	('4901', '31611', '24016.83', '13.22', '36', '627', '39031.24', 'Unemployed', '0.49', 'Education', '8', '1', '31', 'Mortgage', 'Late'),
	('4902', '85148', '42018.39', '6.04', '36', '613', '81489.18', 'Unemployed', '0.19', 'Home', '6', '0', '39', 'Mortgage', 'Late'),
	('4903', '67893', '25152.4', '22.46', '24', '547', '71885.88', 'Unemployed', '0.34', 'Car', '2', '0', '58', 'Own', 'NA'),
	('4904', '54760', '15453.8', '8.85', '24', '582', '85420.16', 'Unemployed', '0.2', 'Car', '7', '0', '65', 'Own', 'Paid Off'),
	('4905', '73797', '37673.15', '19.44', '60', '562', '85420.16', 'Unemployed', '0.44', 'Home', '1', '1', '20', 'Mortgage', 'Late'),
	('4906', '31032', '14222.51', '13.91', '12', '672', '144659.76', 'Unemployed', '0.88', 'Personal', 'Unreported', '1', '46', 'Rent', 'Current'),
	('4907', '87704', '25320.265', '15.78', '48', '810', '69459.79', 'Employed', '0.54', 'Personal', '2', '1', '36', 'Own', 'NA'),
	('4908', '99344', '11228', '18.21', '72', '350', '40097.12', 'Employed', '0.22', 'Business', '9', '1', '39', 'Rent', 'Late'),
	('4909', '73776', '6065.98', '6.15', '24', '730', '138431.81', 'Unemployed', '0.2', 'Other', '4', '0', '47', 'Mortgage', 'Current'),
	('4910', '54760', '40277.2', '14.23', '36', '683', '85420.16', 'Unemployed', '0.93', 'Car', '1', '0', '37', 'Rent', 'Late'),
	('4911', '37892', '35333.56', '7.82', '36', '440', '111490', 'Unemployed', '0.82', 'Personal', '7', '1', '35', 'Mortgage', 'Current'),
	('4912', '60425', '25320.265', '13.245', '60', '520', '67451.72', 'Self-employed', '0.16', 'Car', '8', '1', '39', 'Mortgage', 'Current'),
	('4913', '62219', '36524.24', '21.53', '12', '458', '57494.87', 'Self-employed', '0.25', 'Business', '4', '0', '28', 'Rent', 'Paid Off'),
	('4914', '46341', '48101.04', '9.59', '12', '532', '140954.97', 'Employed', '0.74', 'Home', '0', '1', '36', 'Rent', 'Late'),
	('4915', '54760', '23846.18', '19.66', '72', '673', '85420.16', 'Self-employed', '0.1', 'Other', '5', '1', '36', 'Mortgage', 'Late'),
	('4916', '16927', '24925.98', '18.63', '36', '825', '39561.97', 'Self-employed', '0.2', 'Business', 'Unreported', '1', '33', 'Own', 'Current'),
	('4917', '47655', '26923.98', '15.69', '36', '666', '105327.37', 'Employed', '0.06', 'Other', '3', '1', '47', 'Own', 'Current'),
	('4918', '43214', '14061.45', '13.245', '72', '397', '28597.18', 'Unemployed', '0.87', 'Car', '2', '1', '54', 'Mortgage', 'Current'),
	('4919', '81734', '13152.2', '13.245', '48', '730', '37824.14', 'Unemployed', '0.94', 'Business', '9', '0', '47', 'Mortgage', 'Paid Off'),
	('4920', '91260', '25320.265', '11.26', '36', '490', '85420.16', 'Unemployed', '0.84', 'Car', '5', '0', '30', 'Own', 'Late'),
	('4921', '54760', '25535.79', '2.54', '48', '412', '72884.74', 'Self-employed', '0.17', 'Personal', '0', '1', '43', 'Rent', 'Current'),
	('4922', '62567', '15174.82', '13.245', '24', '832', '105955.26', 'Self-employed', '0.39', 'Other', '7', '0', '26', 'Own', 'Current'),
	('4923', '57725', '29533.33', '14.58', '24', '518', '149196.09', 'Employed', '0.59', 'Home', '8', '0', '36', 'Own', 'Paid Off'),
	('4924', '91769', '38768.78', '18.57', '12', '655', '87108.58', 'Self-employed', '0.06', 'Business', '9', '0', '27', 'Mortgage', 'Current'),
	('4925', '27990', '34789.35', '7.64', '60', '745', '85420.16', 'Employed', '0.6', 'Personal', '4', '1', '43', 'Rent', 'Current'),
	('4926', '99763', '8208.32', '12.5', '72', '491', '68962.44', 'Self-employed', '0.48', 'Personal', '4', '0', '55', 'Rent', 'Paid Off'),
	('4927', '87734', '32477.2', '13.245', '36', '730', '38216.38', 'Employed', '0.6', 'Personal', '0', '1', '43', 'Own', 'Paid Off'),
	('4928', '73809', '1167.5', '21.56', '24', '771', '85420.16', 'Self-employed', '0.1', 'Car', '4', '0', '37', 'Mortgage', 'Paid Off'),
	('4929', '71729', '20242.14', '14.05', '36', '698', '147832.63', 'Others', '0.48', 'Other', 'Unreported', '0', '42', 'Own', 'Late'),
	('4930', '90485', '23590.36', '16.1', '36', '730', '111903.07', 'Unemployed', '0.04', 'Car', '1', '0', '27', 'Own', 'Paid Off'),
	('4931', '95345', '39982.28', '13.245', '36', '599', '98434.02', 'Unemployed', '0.54', 'Personal', '5', '1', '25', 'Rent', 'Paid Off'),
	('4932', '51091', '44124.6', '12.44', '72', '378', '111831.29', 'Self-employed', '0.63', 'Business', '9', '1', '26', 'Rent', 'Paid Off'),
	('4933', '17290', '36191.69', '13.245', '36', '568', '127010.93', 'Employed', '0.48', 'Business', '6', '0', '69', 'Rent', 'Current'),
	('4934', '96706', '25320.265', '5.29', '36', '374', '31409.09', 'Employed', '0.54', 'Business', '0', '0', '21', 'Other', 'Late'),
	('4935', '34481', '46649.08', '3.59', '60', '642', '136445.25', 'Employed', '0.86', 'Other', '8', '0', '53', 'Rent', 'Paid Off'),
	('4936', '39187', '24742.81', '6.27', '36', '407', '140354.86', 'Unemployed', '0.39', 'Home', '5', '0', '18', 'Rent', 'NA'),
	('4937', '51293', '14706.29', '21.19', '72', '791', '94080.12', 'Unemployed', '0.01', 'Personal', '6', '1', '24', 'Rent', 'Current'),
	('4938', '23730', '19136.9', '13.03', '72', '541', '58053.55', 'Unemployed', '0.72', 'Education', '5', '1', '58', 'Other', 'Paid Off'),
	('4939', '35423', '22002.57', '4.73', '72', '770', '25804.94', 'Employed', '0.48', 'Education', '8', '0', '42', 'Rent', 'Late'),
	('4940', '54760', '16491.51', '24.03', '24', '410', '96792.6', 'Self-employed', '0.32', 'Business', '9', '0', '40', 'Rent', 'Paid Off'),
	('4941', '22769', '15881.99', '5.14', '36', '581', '88949.45', 'Self-employed', '0.96', 'Education', '8', '0', '56', 'Own', 'Current'),
	('4942', '95022', '49151.8', '15.36', '12', '412', '66308.98', 'Unemployed', '0.3', 'Home', '2', '1', '29', 'Mortgage', 'Current'),
	('4943', '26297', '49624.02', '14.41', '12', '761', '27159.12', 'Others', '0.95', 'Personal', '2', '1', '69', 'Mortgage', 'Late'),
	('4944', '95145', '32503.48', '13.245', '72', '491', '54493.82', 'Self-employed', '0.57', 'Other', '5', '1', '33', 'Mortgage', 'Paid Off'),
	('4945', '93196', '25320.265', '5.07', '36', '505', '42960.69', 'Unemployed', '0.23', 'Education', '3', '1', '46', 'Mortgage', 'Paid Off'),
	('4946', '72025', '36336.1', '23.18', '48', '307', '56319.09', 'Others', '0.71', 'Car', 'Unreported', '1', '40', 'Other', 'Current'),
	('4947', '11532', '34423.47', '4.84', '12', '730', '96004.16', 'Unemployed', '0.85', 'Business', '5', '1', '24', 'Other', 'Late'),
	('4948', '54760', '8178.9', '13.245', '36', '487', '22882.91', 'Unemployed', '0.43', 'Home', '7', '1', '62', 'Own', 'Current'),
	('4949', '40613', '7699.37', '14.77', '36', '601', '100945.69', 'Self-employed', '0.15', 'Other', '1', '1', '48', 'Rent', 'Late'),
	('4950', '92916', '44406.15', '18.14', '36', '608', '64515.52', 'Others', '0.49', 'Personal', 'Unreported', '0', '46', 'Mortgage', 'Late'),
	('4951', '54760', '25320.265', '8.59', '12', '776', '34243.95', 'Unemployed', '0.17', 'Home', '5', '1', '45', 'Mortgage', 'Late'),
	('4952', '23496', '34308.43', '2.86', '60', '575', '71072.79', 'Others', '0.2', 'Car', '5', '1', '34', 'Own', 'Paid Off'),
	('4953', '54760', '25320.265', '16.37', '36', '730', '124522.63', 'Self-employed', '0.14', 'Personal', '5', '1', '26', 'Own', 'Late'),
	('4954', '11452', '36177.74', '13.245', '24', '447', '149350.89', 'Others', '0.41', 'Education', '1', '0', '28', 'Mortgage', 'Late'),
	('4955', '48594', '8076.05', '3.33', '36', '304', '104148.94', 'Self-employed', '0.56', 'Personal', '0', '0', '26', 'Mortgage', 'Late'),
	('4956', '77680', '32384.7', '13.245', '12', '587', '146370.61', 'Unemployed', '0.67', 'Home', '5', '0', '29', 'Mortgage', 'Paid Off'),
	('4957', '54760', '7050.85', '9.53', '24', '470', '79907.86', 'Self-employed', '0.88', 'Personal', '2', '1', '20', 'Own', 'Current'),
	('4958', '37210', '23650.12', '20.64', '60', '372', '85420.16', 'Self-employed', '0.49', 'Car', '8', '1', '60', 'Mortgage', 'Current'),
	('4959', '57459', '33086.79', '10.16', '48', '566', '52163.4', 'Others', '0.92', 'Education', '6', '1', '43', 'Mortgage', 'Late'),
	('4960', '73773', '19221.63', '14.93', '24', '470', '77387.54', 'Employed', '0.48', 'Personal', '2', '0', '39', 'Mortgage', 'Late'),
	('4961', '48077', '26345.05', '13.96', '72', '449', '141009.48', 'Self-employed', '0.3', 'Education', 'Unreported', '0', '36', 'Own', 'NA'),
	('4962', '79099', '47400.77', '23.67', '12', '547', '43994.07', 'Unemployed', '0.83', 'Education', 'Unreported', '1', '22', 'Rent', 'NA'),
	('4963', '63289', '16209.09', '15.64', '60', '692', '64708.76', 'Unemployed', '0.45', 'Home', '8', '0', '43', 'Rent', 'NA'),
	('4964', '96949', '9575.49', '16.97', '60', '335', '74691.02', 'Unemployed', '0.69', 'Education', '6', '1', '43', 'Rent', 'Late'),
	('4965', '18895', '45470.69', '11.8', '36', '667', '100703.93', 'Unemployed', '0.48', 'Car', '8', '0', '66', 'Mortgage', 'Current'),
	('4966', '80813', '24679.43', '5.12', '36', '651', '85420.16', 'Unemployed', '0.85', 'Business', '6', '0', '62', 'Mortgage', 'Current'),
	('4967', '25713', '25321.47', '12.82', '72', '751', '82900.1', 'Self-employed', '0.49', 'Car', '8', '1', '30', 'Mortgage', 'Current'),
	('4968', '78643', '47724.57', '18.63', '12', '309', '110593.14', 'Employed', '0.95', 'Car', '2', '1', '60', 'Other', 'NA'),
	('4969', '83450', '14122.58', '13.245', '24', '346', '55276.89', 'Unemployed', '0.11', 'Car', 'Unreported', '1', '62', 'Rent', 'Late'),
	('4970', '77792', '40027.41', '15.9', '72', '577', '75279.26', 'Employed', '0.48', 'Home', '9', '1', '22', 'Own', 'Paid Off'),
	('4971', '61284', '28447.64', '20.34', '36', '572', '32191.97', 'Self-employed', '0.03', 'Car', '2', '1', '27', 'Own', 'Late'),
	('4972', '25393', '34810.87', '2.19', '36', '730', '85888.59', 'Employed', '0.91', 'Car', '7', '1', '63', 'Own', 'Current'),
	('4973', '14739', '24061.54', '13.245', '36', '349', '27464.49', 'Employed', '0.17', 'Car', '2', '1', '27', 'Mortgage', 'Current'),
	('4974', '54760', '19809.08', '18.51', '60', '622', '62905.69', 'Unemployed', '0.2', 'Business', '1', '0', '45', 'Own', 'Late'),
	('4975', '87037', '8058.95', '24.31', '60', '316', '44699.84', 'Self-employed', '0.48', 'Business', 'Unreported', '0', '26', 'Rent', 'Late'),
	('4976', '56180', '49387.51', '21.48', '72', '662', '54593.5', 'Unemployed', '0.95', 'Car', '8', '1', '43', 'Other', 'Current'),
	('4977', '54760', '36632.85', '19.87', '12', '686', '99381.72', 'Employed', '0.52', 'Personal', '4', '1', '67', 'Own', 'Late'),
	('4978', '59854', '23298.41', '9.59', '24', '604', '148410.82', 'Employed', '0.59', 'Business', '8', '1', '43', 'Own', 'Late'),
	('4979', '42281', '25152.97', '13.34', '72', '643', '65082.28', 'Self-employed', '0.48', 'Car', 'Unreported', '1', '26', 'Rent', 'NA'),
	('4980', '97333', '25320.265', '16.69', '12', '807', '106447.43', 'Self-employed', '0.54', 'Personal', 'Unreported', '1', '56', 'Own', 'Paid Off'),
	('4981', '97754', '2450.77', '23.84', '36', '423', '27138.78', 'Self-employed', '0.64', 'Car', '9', '1', '26', 'Mortgage', 'Paid Off'),
	('4982', '93168', '40571.26', '24.86', '24', '824', '80524.3', 'Employed', '0.98', 'Personal', '9', '1', '30', 'Mortgage', 'NA'),
	('4983', '72147', '3262.32', '20.21', '72', '760', '35031.64', 'Unemployed', '0.56', 'Business', '8', '0', '50', 'Own', 'Current'),
	('4984', '21903', '38813.92', '15.91', '36', '683', '144079.04', 'Self-employed', '0.66', 'Business', '3', '1', '28', 'Own', 'NA'),
	('4985', '12751', '35954.84', '24.9', '36', '348', '85420.16', 'Others', '0.48', 'Car', '0', '0', '20', 'Mortgage', 'Late'),
	('4986', '56056', '34286.87', '21.24', '12', '588', '69090.15', 'Self-employed', '0.33', 'Education', '2', '0', '19', 'Mortgage', 'Paid Off'),
	('4987', '22877', '27680.78', '13.87', '36', '421', '60642.34', 'Self-employed', '0.4', 'Education', 'Unreported', '1', '51', 'Mortgage', 'Current'),
	('4988', '79226', '18019.08', '14.2', '24', '502', '107900.01', 'Self-employed', '0.02', 'Business', 'Unreported', '1', '61', 'Rent', 'Current'),
	('4989', '57381', '48657.31', '13.245', '12', '644', '41330.46', 'Self-employed', '0.11', 'Personal', '4', '0', '43', 'Rent', 'Late'),
	('4990', '76728', '45626.14', '9.69', '36', '777', '130838.74', 'Employed', '0.14', 'Other', '3', '1', '35', 'Rent', 'Current'),
	('4991', '60317', '24241.43', '20.31', '12', '492', '111448.89', 'Others', '0.68', 'Personal', '3', '1', '33', 'Own', 'Late'),
	('4992', '54760', '9595.58', '6.61', '36', '730', '143084.17', 'Self-employed', '0.41', 'Home', '1', '0', '42', 'Mortgage', 'Current'),
	('4993', '54760', '12494.3', '13.41', '24', '316', '30324.78', 'Employed', '0.27', 'Education', '6', '1', '45', 'Rent', 'Current'),
	('4994', '93511', '25320.265', '13.245', '60', '508', '109368.29', 'Employed', '0.17', 'Business', '7', '1', '51', 'Rent', 'NA'),
	('4995', '54076', '43741.49', '21.93', '60', '497', '82711.76', 'Self-employed', '0.61', 'Other', '9', '0', '60', 'Own', 'Current'),
	('4996', '88567', '25320.265', '17.79', '72', '728', '64826.98', 'Others', '0.12', 'Business', '9', '1', '36', 'Own', 'Current'),
	('4997', '47691', '24805.18', '13.245', '24', '494', '85420.16', 'Unemployed', '0.74', 'Business', '6', '0', '32', 'Rent', 'Late'),
	('4998', '51489', '26796.21', '10.43', '72', '730', '45924.24', 'Employed', '0.4', 'Car', '2', '1', '43', 'Other', 'Late'),
	('4999', '54760', '39863.53', '7.46', '36', '602', '85420.16', 'Unemployed', '0.48', 'Business', 'Unreported', '1', '28', 'Own', 'Current'),
	('5000', '93448', '31141.36', '12.59', '72', '638', '136448.66', 'Self-employed', '0.12', 'Home', '4', '0', '18', 'Mortgage', 'Late');

 * sqlite:///project6_db
5000 rows affected.

[]

# Data Analysis of Credit Risk Modeling & Assessment

In [4]:
%%sql
Select * from Credit_Risk limit 10

 * sqlite:///project6_db
Done.

[(1, 78268, 48679.27, 3.59, 36, 774, 114951.06, 'Employed', 0.66, 'Car', 8, '1', 18, 'Mortgage', 'NA'),
 (2, 53567, 42409.0, 10.67, 12, 487, 85779.83, 'Unemployed', 0.27, 'Home', 7, '1', 45, 'Other', 'Paid Off'),
 (3, 52613, 8949.19, 12.49, 72, 394, 127401.68, 'Employed', 0.38, 'Home', 'Unreported', '1', 64, 'Mortgage', 'Paid Off'),
 (4, 55891, 17929.96, 18.52, 60, 505, 85420.16, 'Self-employed', 0.48, 'Business', 5, '1', 21, 'Mortgage', 'NA'),
 (5, 31243, 41728.22, 20.03, 36, 539, 47436.92, 'Self-employed', 0.6, 'Education', 0, '0', 60, 'Own', 'Late'),
 (6, 51993, 28140.9, 2.12, 24, 827, 87299.19, 'Others', 0.58, 'Business', 9, '0', 35, 'Mortgage', 'Current'),
 (7, 96293, 39033.1, 15.77, 24, 452, 85420.16, 'Self-employed', 0.86, 'Car', 4, '1', 47, 'Mortgage', 'Paid Off'),
 (8, 54760, 39111.38, 13.245, 36, 588, 30386.27, 'Employed', 0.57, 'Other', 'Unreported', '1', 25, 'Mortgage', 'Late'),
 (9, 90471, 25320.265, 21.22, 36, 670, 85420.16, 'Self-employed', 0.7, 'Car', 3, '1', 38, 'Mortgage', 'Paid Off'),
 (10, 90966, 17777.92, 7.52, 48, 450, 85420.16, 'Others', 0.88, 'Education', 2, '0', 27, 'Own', 'Late')]

# 1. Loan Performance by Employment Status

In [5]:
%%sql
Select Employment_Status, 
       COUNT(*) as Total_Loans, 
       AVG(Loan_Amount) as Avg_Loan_Amount,
       AVG(Interest_Rate) as Avg_Interest_Rate,
       SUM(Defaulted) as Defaulted_Loans,
       (SUM(Defaulted) * 1.0 / COUNT(*)) as Default_Rate
from Credit_Risk
GROUP BY Employment_Status;

 * sqlite:///project6_db
Done.

[('Employed', 2970, 26893.041784511923, 13.42633670033669, 1610, 0.5420875420875421),
 ('Others', 1000, 27855.548490000037, 13.272190000000025, 578, 0.578),
 ('Self-employed', 3072, 27918.506230468716, 13.298378906250003, 1702, 0.5540364583333334),
 ('Unemployed', 2958, 26574.825162271864, 13.209151453684925, 1620, 0.5476673427991886)]

This query will provide the average loan amount, average interest rate, and default rate for each employment status category. We can identify which employment statuses have higher default rates and loan amounts.

# 2. Default Rate by Loan Purpose

In [28]:
%%sql
Select Loan_Purpose, 
       COUNT(*) as Total_Loans, 
       SUM(Defaulted) as Defaulted_Loans,
       (SUM(Defaulted) * 1.0 / COUNT(*)) as Default_Rate
from Credit_Risk
GROUP BY Loan_Purpose;

 * sqlite:///project6_db
Done.

[('Business', 938, 493, 0.5255863539445629),
 ('Car', 907, 483, 0.5325248070562293),
 ('Education', 906, 491, 0.5419426048565121),
 ('Home', 896, 508, 0.5669642857142857),
 ('Other', 500, 285, 0.57),
 ('Personal', 853, 495, 0.5803048065650644)]

This analysis will reveal the default rate for different loan purposes. Identifying high-risk loan purposes can help in formulating targeted risk management strategies.

# 3. Credit Score Distribution and Impact on Default Rates

In [29]:
%%sql
Select Credit_Score, 
       COUNT(*) as Frequency,
       SUM(Defaulted) as Defaulted_Loans,
       (SUM(Defaulted) * 1.0 / COUNT(*)) as Default_Rate
from Credit_Risk
GROUP BY Credit_Score
ORDER BY Credit_Score;

 * sqlite:///project6_db
Done.

[(300, 6, 2, 0.3333333333333333),
 (301, 9, 6, 0.6666666666666666),
 (302, 6, 4, 0.6666666666666666),
 (303, 8, 4, 0.5),
 (304, 7, 3, 0.42857142857142855),
 (305, 6, 3, 0.5),
 (306, 3, 2, 0.6666666666666666),
 (307, 9, 7, 0.7777777777777778),
 (308, 2, 1, 0.5),
 (309, 7, 5, 0.7142857142857143),
 (310, 7, 5, 0.7142857142857143),
 (311, 5, 2, 0.4),
 (312, 7, 4, 0.5714285714285714),
 (313, 6, 0, 0.0),
 (314, 10, 7, 0.7),
 (315, 12, 7, 0.5833333333333334),
 (316, 10, 5, 0.5),
 (317, 9, 3, 0.3333333333333333),
 (318, 6, 2, 0.3333333333333333),
 (319, 10, 5, 0.5),
 (320, 4, 3, 0.75),
 (321, 8, 4, 0.5),
 (322, 4, 2, 0.5),
 (323, 3, 0, 0.0),
 (324, 10, 6, 0.6),
 (325, 14, 5, 0.35714285714285715),
 (326, 11, 7, 0.6363636363636364),
 (327, 7, 5, 0.7142857142857143),
 (328, 7, 5, 0.7142857142857143),
 (329, 12, 7, 0.5833333333333334),
 (330, 9, 5, 0.5555555555555556),
 (331, 6, 2, 0.3333333333333333),
 (332, 10, 7, 0.7),
 (333, 5, 3, 0.6),
 (334, 8, 7, 0.875),
 (335, 9, 4, 0.4444444444444444),
 (336, 9, 2, 0.2222222222222222),
 (337, 11, 9, 0.8181818181818182),
 (338, 11, 7, 0.6363636363636364),
 (339, 5, 2, 0.4),
 (340, 10, 7, 0.7),
 (341, 4, 2, 0.5),
 (342, 11, 3, 0.2727272727272727),
 (343, 10, 8, 0.8),
 (344, 11, 6, 0.5454545454545454),
 (345, 12, 7, 0.5833333333333334),
 (346, 6, 3, 0.5),
 (347, 11, 6, 0.5454545454545454),
 (348, 6, 4, 0.6666666666666666),
 (349, 8, 5, 0.625),
 (350, 8, 6, 0.75),
 (351, 12, 7, 0.5833333333333334),
 (352, 12, 4, 0.3333333333333333),
 (353, 8, 6, 0.75),
 (354, 8, 5, 0.625),
 (355, 8, 3, 0.375),
 (356, 6, 3, 0.5),
 (357, 8, 5, 0.625),
 (358, 7, 1, 0.14285714285714285),
 (359, 5, 2, 0.4),
 (360, 6, 4, 0.6666666666666666),
 (361, 9, 5, 0.5555555555555556),
 (362, 10, 4, 0.4),
 (363, 6, 3, 0.5),
 (364, 5, 2, 0.4),
 (365, 9, 6, 0.6666666666666666),
 (366, 7, 4, 0.5714285714285714),
 (367, 4, 3, 0.75),
 (368, 7, 5, 0.7142857142857143),
 (369, 11, 8, 0.7272727272727273),
 (370, 5, 4, 0.8),
 (371, 9, 7, 0.7777777777777778),
 (372, 5, 3, 0.6),
 (373, 11, 2, 0.18181818181818182),
 (374, 7, 1, 0.14285714285714285),
 (375, 8, 6, 0.75),
 (376, 6, 3, 0.5),
 (377, 5, 4, 0.8),
 (378, 6, 3, 0.5),
 (379, 7, 4, 0.5714285714285714),
 (380, 9, 6, 0.6666666666666666),
 (381, 9, 7, 0.7777777777777778),
 (382, 7, 4, 0.5714285714285714),
 (383, 4, 2, 0.5),
 (384, 6, 4, 0.6666666666666666),
 (385, 6, 2, 0.3333333333333333),
 (386, 3, 2, 0.6666666666666666),
 (387, 9, 7, 0.7777777777777778),
 (388, 11, 7, 0.6363636363636364),
 (389, 10, 7, 0.7),
 (390, 15, 8, 0.5333333333333333),
 (391, 8, 2, 0.25),
 (392, 8, 6, 0.75),
 (393, 12, 7, 0.5833333333333334),
 (394, 12, 8, 0.6666666666666666),
 (395, 7, 2, 0.2857142857142857),
 (396, 6, 4, 0.6666666666666666),
 (397, 5, 4, 0.8),
 (398, 8, 6, 0.75),
 (399, 9, 4, 0.4444444444444444),
 (400, 10, 7, 0.7),
 (401, 8, 5, 0.625),
 (402, 2, 1, 0.5),
 (403, 6, 6, 1.0),
 (404, 11, 9, 0.8181818181818182),
 (405, 9, 3, 0.3333333333333333),
 (406, 4, 3, 0.75),
 (407, 4, 2, 0.5),
 (408, 8, 4, 0.5),
 (409, 11, 6, 0.5454545454545454),
 (410, 10, 4, 0.4),
 (411, 12, 9, 0.75),
 (412, 16, 14, 0.875),
 (413, 6, 4, 0.6666666666666666),
 (414, 13, 8, 0.6153846153846154),
 (415, 13, 8, 0.6153846153846154),
 (416, 6, 3, 0.5),
 (417, 12, 6, 0.5),
 (418, 6, 4, 0.6666666666666666),
 (419, 11, 4, 0.36363636363636365),
 (420, 5, 4, 0.8),
 (421, 7, 6, 0.8571428571428571),
 (422, 13, 6, 0.46153846153846156),
 (423, 5, 4, 0.8),
 (424, 8, 3, 0.375),
 (425, 5, 3, 0.6),
 (426, 14, 9, 0.6428571428571429),
 (427, 9, 4, 0.4444444444444444),
 (428, 6, 5, 0.8333333333333334),
 (429, 6, 6, 1.0),
 (430, 12, 6, 0.5),
 (431, 10, 7, 0.7),
 (432, 15, 9, 0.6),
 (433, 10, 7, 0.7),
 (434, 11, 5, 0.45454545454545453),
 (435, 5, 2, 0.4),
 (436, 7, 5, 0.7142857142857143),
 (437, 7, 6, 0.8571428571428571),
 (438, 9, 2, 0.2222222222222222),
 (439, 7, 4, 0.5714285714285714),
 (440, 7, 4, 0.5714285714285714),
 (441, 9, 3, 0.3333333333333333),
 (442, 8, 5, 0.625),
 (443, 7, 4, 0.5714285714285714),
 (444, 5, 3, 0.6),
 (445, 9, 4, 0.4444444444444444),
 (446, 6, 4, 0.6666666666666666),
 (447, 9, 3, 0.3333333333333333),
 (448, 11, 4, 0.36363636363636365),
 (449, 12, 5, 0.4166666666666667),
 (450, 9, 7, 0.7777777777777778),
 (451, 4, 4, 1.0),
 (452, 8, 6, 0.75),
 (453, 8, 5, 0.625),
 (454, 6, 2, 0.3333333333333333),
 (455, 11, 4, 0.36363636363636365),
 (456, 11, 6, 0.5454545454545454),
 (457, 10, 6, 0.6),
 (458, 9, 4, 0.4444444444444444),
 (459, 4, 3, 0.75),
 (460, 6, 3, 0.5),
 (461, 5, 3, 0.6),
 (462, 9, 4, 0.4444444444444444),
 (463, 8, 4, 0.5),
 (464, 7, 6, 0.8571428571428571),
 (465, 11, 6, 0.5454545454545454),
 (466, 12, 8, 0.6666666666666666),
 (467, 12, 10, 0.8333333333333334),
 (468, 6, 1, 0.16666666666666666),
 (469, 8, 5, 0.625),
 (470, 13, 6, 0.46153846153846156),
 (471, 9, 3, 0.3333333333333333),
 (472, 10, 4, 0.4),
 (473, 2, 2, 1.0),
 (474, 8, 6, 0.75),
 (475, 7, 3, 0.42857142857142855),
 (476, 8, 4, 0.5),
 (477, 6, 1, 0.16666666666666666),
 (478, 8, 5, 0.625),
 (479, 5, 2, 0.4),
 (480, 7, 3, 0.42857142857142855),
 (481, 12, 4, 0.3333333333333333),
 (482, 14, 4, 0.2857142857142857),
 (483, 8, 4, 0.5),
 (484, 5, 3, 0.6),
 (485, 11, 4, 0.36363636363636365),
 (486, 8, 6, 0.75),
 (487, 4, 3, 0.75),
 (488, 5, 4, 0.8),
 (489, 6, 4, 0.6666666666666666),
 (490, 8, 4, 0.5),
 (491, 7, 4, 0.5714285714285714),
 (492, 10, 5, 0.5),
 (493, 10, 5, 0.5),
 (494, 3, 0, 0.0),
 (495, 9, 4, 0.4444444444444444),
 (496, 10, 6, 0.6),
 (497, 7, 5, 0.7142857142857143),
 (498, 6, 2, 0.3333333333333333),
 (499, 9, 6, 0.6666666666666666),
 (500, 10, 4, 0.4),
 (501, 9, 4, 0.4444444444444444),
 (502, 6, 2, 0.3333333333333333),
 (503, 9, 3, 0.3333333333333333),
 (504, 11, 5, 0.45454545454545453),
 (505, 7, 5, 0.7142857142857143),
 (506, 7, 4, 0.5714285714285714),
 (507, 7, 3, 0.42857142857142855),
 (508, 7, 5, 0.7142857142857143),
 (509, 10, 6, 0.6),
 (510, 7, 4, 0.5714285714285714),
 (511, 10, 5, 0.5),
 (512, 5, 3, 0.6),
 (513, 9, 6, 0.6666666666666666),
 (514, 5, 2, 0.4),
 (515, 4, 3, 0.75),
 (516, 6, 4, 0.6666666666666666),
 (517, 7, 4, 0.5714285714285714),
 (518, 12, 7, 0.5833333333333334),
 (519, 11, 7, 0.6363636363636364),
 (520, 13, 10, 0.7692307692307693),
 (521, 9, 6, 0.6666666666666666),
 (522, 5, 4, 0.8),
 (523, 8, 5, 0.625),
 (524, 8, 5, 0.625),
 (525, 7, 5, 0.7142857142857143),
 (526, 6, 2, 0.3333333333333333),
 (527, 12, 10, 0.8333333333333334),
 (528, 8, 2, 0.25),
 (529, 10, 6, 0.6),
 (530, 10, 6, 0.6),
 (531, 9, 3, 0.3333333333333333),
 (532, 8, 4, 0.5),
 (533, 6, 3, 0.5),
 (534, 8, 5, 0.625),
 (535, 11, 5, 0.45454545454545453),
 (536, 9, 5, 0.5555555555555556),
 (537, 14, 5, 0.35714285714285715),
 (538, 6, 4, 0.6666666666666666),
 (539, 8, 3, 0.375),
 (540, 4, 1, 0.25),
 (541, 10, 5, 0.5),
 (542, 9, 4, 0.4444444444444444),
 (543, 12, 9, 0.75),
 (544, 6, 3, 0.5),
 (545, 8, 5, 0.625),
 (546, 12, 3, 0.25),
 (547, 7, 2, 0.2857142857142857),
 (548, 7, 4, 0.5714285714285714),
 (549, 7, 3, 0.42857142857142855),
 (550, 9, 5, 0.5555555555555556),
 (551, 8, 5, 0.625),
 (552, 9, 7, 0.7777777777777778),
 (553, 7, 2, 0.2857142857142857),
 (554, 5, 2, 0.4),
 (555, 8, 3, 0.375),
 (556, 9, 5, 0.5555555555555556),
 (557, 10, 5, 0.5),
 (558, 7, 6, 0.8571428571428571),
 (559, 9, 5, 0.5555555555555556),
 (560, 7, 3, 0.42857142857142855),
 (561, 10, 4, 0.4),
 (562, 7, 6, 0.8571428571428571),
 (563, 7, 5, 0.7142857142857143),
 (564, 12, 6, 0.5),
 (565, 7, 4, 0.5714285714285714),
 (566, 4, 3, 0.75),
 (567, 13, 9, 0.6923076923076923),
 (568, 11, 9, 0.8181818181818182),
 (569, 6, 2, 0.3333333333333333),
 (570, 11, 6, 0.5454545454545454),
 (571, 5, 3, 0.6),
 (572, 12, 4, 0.3333333333333333),
 (573, 10, 3, 0.3),
 (574, 8, 3, 0.375),
 (575, 6, 6, 1.0),
 (576, 7, 5, 0.7142857142857143),
 (577, 10, 6, 0.6),
 (578, 11, 7, 0.6363636363636364),
 (579, 6, 4, 0.6666666666666666),
 (580, 9, 3, 0.3333333333333333),
 (581, 9, 3, 0.3333333333333333),
 (582, 12, 4, 0.3333333333333333),
 (583, 11, 6, 0.5454545454545454),
 (584, 9, 5, 0.5555555555555556),
 (585, 8, 5, 0.625),
 (586, 4, 3, 0.75),
 (587, 11, 9, 0.8181818181818182),
 (588, 9, 5, 0.5555555555555556),
 (589, 9, 6, 0.6666666666666666),
 (590, 3, 3, 1.0),
 (591, 8, 4, 0.5),
 (592, 5, 5, 1.0),
 (593, 7, 3, 0.42857142857142855),
 (594, 7, 3, 0.42857142857142855),
 (595, 5, 4, 0.8),
 (596, 7, 2, 0.2857142857142857),
 (597, 3, 2, 0.6666666666666666),
 (598, 8, 6, 0.75),
 (599, 7, 2, 0.2857142857142857),
 (600, 9, 5, 0.5555555555555556),
 (601, 4, 4, 1.0),
 (602, 6, 3, 0.5),
 (603, 8, 5, 0.625),
 (604, 8, 6, 0.75),
 (605, 16, 7, 0.4375),
 (606, 5, 4, 0.8),
 (607, 7, 5, 0.7142857142857143),
 (608, 10, 3, 0.3),
 (609, 12, 9, 0.75),
 (610, 4, 3, 0.75),
 (611, 9, 6, 0.6666666666666666),
 (612, 7, 7, 1.0),
 (613, 10, 8, 0.8),
 (614, 4, 3, 0.75),
 (615, 12, 9, 0.75),
 (616, 10, 6, 0.6),
 (617, 5, 1, 0.2),
 (618, 5, 4, 0.8),
 (619, 9, 3, 0.3333333333333333),
 (620, 9, 4, 0.4444444444444444),
 (621, 7, 5, 0.7142857142857143),
 (622, 14, 7, 0.5),
 (623, 9, 7, 0.7777777777777778),
 (624, 11, 3, 0.2727272727272727),
 (625, 9, 4, 0.4444444444444444),
 (626, 6, 4, 0.6666666666666666),
 (627, 5, 4, 0.8),
 (628, 7, 1, 0.14285714285714285),
 (629, 10, 7, 0.7),
 (630, 6, 2, 0.3333333333333333),
 (631, 5, 5, 1.0),
 (632, 8, 5, 0.625),
 (633, 7, 3, 0.42857142857142855),
 (634, 10, 5, 0.5),
 (635, 6, 3, 0.5),
 (636, 12, 7, 0.5833333333333334),
 (637, 4, 4, 1.0),
 (638, 9, 5, 0.5555555555555556),
 (639, 16, 6, 0.375),
 (640, 15, 7, 0.4666666666666667),
 (641, 9, 2, 0.2222222222222222),
 (642, 9, 4, 0.4444444444444444),
 (643, 14, 8, 0.5714285714285714),
 (644, 10, 4, 0.4),
 (645, 9, 7, 0.7777777777777778),
 (646, 13, 8, 0.6153846153846154),
 (647, 4, 1, 0.25),
 (648, 9, 4, 0.4444444444444444),
 (649, 12, 9, 0.75),
 (650, 8, 4, 0.5),
 (651, 7, 4, 0.5714285714285714),
 (652, 5, 3, 0.6),
 (653, 5, 3, 0.6),
 (654, 7, 1, 0.14285714285714285),
 (655, 7, 3, 0.42857142857142855),
 (656, 10, 6, 0.6),
 (657, 8, 5, 0.625),
 (658, 10, 4, 0.4),
 (659, 2, 2, 1.0),
 (660, 12, 4, 0.3333333333333333),
 (661, 5, 3, 0.6),
 (662, 5, 2, 0.4),
 (663, 3, 2, 0.6666666666666666),
 (664, 3, 1, 0.3333333333333333),
 (665, 9, 6, 0.6666666666666666),
 (666, 9, 5, 0.5555555555555556),
 (667, 8, 5, 0.625),
 (668, 11, 8, 0.7272727272727273),
 (669, 4, 2, 0.5),
 (670, 14, 7, 0.5),
 (671, 8, 3, 0.375),
 (672, 10, 4, 0.4),
 (673, 6, 3, 0.5),
 (674, 7, 1, 0.14285714285714285),
 (675, 5, 0, 0.0),
 (676, 5, 5, 1.0),
 (677, 9, 2, 0.2222222222222222),
 (678, 9, 5, 0.5555555555555556),
 (679, 10, 9, 0.9),
 (680, 9, 4, 0.4444444444444444),
 (681, 14, 12, 0.8571428571428571),
 (682, 5, 3, 0.6),
 (683, 8, 3, 0.375),
 (684, 9, 6, 0.6666666666666666),
 (685, 10, 5, 0.5),
 (686, 12, 6, 0.5),
 (687, 6, 3, 0.5),
 (688, 2, 1, 0.5),
 (689, 6, 6, 1.0),
 (690, 7, 3, 0.42857142857142855),
 (691, 9, 6, 0.6666666666666666),
 (692, 12, 8, 0.6666666666666666),
 (693, 10, 3, 0.3),
 (694, 7, 4, 0.5714285714285714),
 (695, 10, 2, 0.2),
 (696, 9, 6, 0.6666666666666666),
 (697, 11, 6, 0.5454545454545454),
 (698, 10, 3, 0.3),
 (699, 9, 5, 0.5555555555555556),
 (700, 8, 5, 0.625),
 (701, 8, 3, 0.375),
 (702, 7, 6, 0.8571428571428571),
 (703, 7, 3, 0.42857142857142855),
 (704, 5, 3, 0.6),
 (705, 4, 0, 0.0),
 (706, 8, 3, 0.375),
 (707, 5, 3, 0.6),
 (708, 5, 4, 0.8),
 (709, 9, 5, 0.5555555555555556),
 (710, 5, 2, 0.4),
 (711, 7, 2, 0.2857142857142857),
 (712, 7, 3, 0.42857142857142855),
 (713, 9, 1, 0.1111111111111111),
 (714, 7, 5, 0.7142857142857143),
 (715, 10, 6, 0.6),
 (716, 3, 1, 0.3333333333333333),
 (717, 6, 5, 0.8333333333333334),
 (718, 2, 1, 0.5),
 (719, 9, 7, 0.7777777777777778),
 (720, 9, 5, 0.5555555555555556),
 (721, 4, 2, 0.5),
 (722, 6, 3, 0.5),
 (723, 3, 0, 0.0),
 (724, 6, 1, 0.16666666666666666),
 (725, 10, 6, 0.6),
 (726, 11, 3, 0.2727272727272727),
 (727, 4, 3, 0.75),
 (728, 5, 3, 0.6),
 (729, 6, 5, 0.8333333333333334),
 (730, 518, 286, 0.5521235521235521),
 (731, 12, 4, 0.3333333333333333),
 (732, 5, 3, 0.6),
 (733, 13, 8, 0.6153846153846154),
 (734, 10, 7, 0.7),
 (735, 10, 4, 0.4),
 (736, 4, 3, 0.75),
 (737, 9, 4, 0.4444444444444444),
 (738, 10, 5, 0.5),
 (739, 7, 5, 0.7142857142857143),
 (740, 12, 4, 0.3333333333333333),
 (741, 12, 6, 0.5),
 (742, 8, 5, 0.625),
 (743, 8, 3, 0.375),
 (744, 10, 4, 0.4),
 (745, 11, 5, 0.45454545454545453),
 (746, 14, 9, 0.6428571428571429),
 (747, 12, 9, 0.75),
 (748, 7, 4, 0.5714285714285714),
 (749, 6, 4, 0.6666666666666666),
 (750, 13, 5, 0.38461538461538464),
 (751, 11, 6, 0.5454545454545454),
 (752, 6, 1, 0.16666666666666666),
 (753, 12, 9, 0.75),
 (754, 11, 5, 0.45454545454545453),
 (755, 11, 5, 0.45454545454545453),
 (756, 8, 4, 0.5),
 (757, 9, 3, 0.3333333333333333),
 (758, 5, 4, 0.8),
 (759, 11, 7, 0.6363636363636364),
 (760, 11, 7, 0.6363636363636364),
 (761, 13, 5, 0.38461538461538464),
 (762, 13, 8, 0.6153846153846154),
 (763, 6, 2, 0.3333333333333333),
 (764, 6, 5, 0.8333333333333334),
 (765, 10, 4, 0.4),
 (766, 8, 3, 0.375),
 (767, 7, 2, 0.2857142857142857),
 (768, 8, 4, 0.5),
 (769, 5, 4, 0.8),
 (770, 11, 6, 0.5454545454545454),
 (771, 7, 3, 0.42857142857142855),
 (772, 7, 2, 0.2857142857142857),
 (773, 12, 10, 0.8333333333333334),
 (774, 13, 7, 0.5384615384615384),
 (775, 3, 3, 1.0),
 (776, 4, 3, 0.75),
 (777, 10, 7, 0.7),
 (778, 8, 2, 0.25),
 (779, 7, 2, 0.2857142857142857),
 (780, 12, 8, 0.6666666666666666),
 (781, 9, 7, 0.7777777777777778),
 (782, 9, 7, 0.7777777777777778),
 (783, 12, 8, 0.6666666666666666),
 (784, 13, 6, 0.46153846153846156),
 (785, 10, 7, 0.7),
 (786, 5, 3, 0.6),
 (787, 9, 6, 0.6666666666666666),
 (788, 6, 6, 1.0),
 (789, 10, 5, 0.5),
 (790, 11, 4, 0.36363636363636365),
 (791, 10, 8, 0.8),
 (792, 4, 2, 0.5),
 (793, 11, 8, 0.7272727272727273),
 (794, 8, 4, 0.5),
 (795, 7, 6, 0.8571428571428571),
 (796, 10, 7, 0.7),
 (797, 9, 4, 0.4444444444444444),
 (798, 6, 4, 0.6666666666666666),
 (799, 7, 2, 0.2857142857142857),
 (800, 6, 2, 0.3333333333333333),
 (801, 12, 5, 0.4166666666666667),
 (802, 11, 8, 0.7272727272727273),
 (803, 12, 7, 0.5833333333333334),
 (804, 6, 4, 0.6666666666666666),
 (805, 4, 2, 0.5),
 (806, 6, 4, 0.6666666666666666),
 (807, 15, 6, 0.4),
 (808, 6, 1, 0.16666666666666666),
 (809, 3, 3, 1.0),
 (810, 11, 5, 0.45454545454545453),
 (811, 7, 5, 0.7142857142857143),
 (812, 9, 7, 0.7777777777777778),
 (813, 7, 5, 0.7142857142857143),
 (814, 4, 2, 0.5),
 (815, 4, 3, 0.75),
 (816, 10, 4, 0.4),
 (817, 8, 4, 0.5),
 (818, 6, 3, 0.5),
 (819, 9, 7, 0.7777777777777778),
 (820, 6, 2, 0.3333333333333333),
 (821, 9, 7, 0.7777777777777778),
 (822, 8, 5, 0.625),
 (823, 14, 7, 0.5),
 (824, 10, 7, 0.7),
 (825, 8, 5, 0.625),
 (826, 5, 4, 0.8),
 (827, 11, 6, 0.5454545454545454),
 (828, 9, 4, 0.4444444444444444),
 (829, 8, 3, 0.375),
 (830, 6, 2, 0.3333333333333333),
 (831, 9, 1, 0.1111111111111111),
 (832, 7, 3, 0.42857142857142855),
 (833, 6, 3, 0.5),
 (834, 9, 4, 0.4444444444444444),
 (835, 8, 5, 0.625),
 (836, 12, 6, 0.5),
 (837, 5, 4, 0.8),
 (838, 11, 7, 0.6363636363636364),
 (839, 7, 5, 0.7142857142857143),
 (840, 9, 6, 0.6666666666666666),
 (841, 4, 2, 0.5),
 (842, 7, 5, 0.7142857142857143),
 (843, 5, 5, 1.0),
 (844, 8, 4, 0.5),
 (845, 8, 2, 0.25),
 (846, 6, 2, 0.3333333333333333),
 (847, 15, 5, 0.3333333333333333),
 (848, 7, 5, 0.7142857142857143),
 (849, 5, 2, 0.4)]

Understanding how credit scores impact default rates will help in assessing the risk profile of borrowers and setting appropriate credit score thresholds.

# 4. Loan Term Analysis by Loan Purpose

In [30]:
%%sql
Select Loan_Purpose, 
       AVG(Loan_Term) as Average_Loan_Term
from Credit_Risk
GROUP BY Loan_Purpose;

 * sqlite:///project6_db
Done.

[('Business', 40.24733475479744),
 ('Car', 42.50937155457552),
 ('Education', 41.05960264900662),
 ('Home', 42.1875),
 ('Other', 42.048),
 ('Personal', 41.03634232121922)]

This analysis will provide insights into how loan terms vary by purpose, helping to tailor loan products to borrower needs.

# 5. Employment Status and Late Payment Analysis

In [31]:
%%sql
Select 
    Employment_Status,
    AVG(Late_Payments) as avg_late_payments,
    COUNT(*) as total_loans
from Credit_Risk
GROUP BY Employment_Status
ORDER BY avg_late_payments DESC;

 * sqlite:///project6_db
Done.

[('Others', 4.222, 500),
 ('Employed', 4.184511784511784, 1485),
 ('Unemployed', 4.039891818796484, 1479),
 ('Self-employed', 4.005859375, 1536)]

This analysis provides insights into how employment status affects the likelihood of late payments. It can be used to identify which employment groups are more prone to late payments.

# 6.  Average Loan Amount by Home Ownership

In [20]:
%%sql
Select
    Home_Ownership,
    AVG(Loan_Amount) as Avg_Loan_Amount,
    COUNT(*) as Total_Loans
from Credit_Risk
GROUP BY Home_Ownership
ORDER BY Avg_Loan_Amount DESC;

 * sqlite:///project6_db
Done.

[('Other', 27994.18991000007, 1000),
 ('Mortgage', 27513.27526507626, 3018),
 ('Rent', 26999.968854024584, 2932),
 ('Own', 26855.3125311476, 3050)]

This analysis helps to understand how the debt-to-income ratio impacts loan default rates. It categorizes borrowers into different DTI brackets and evaluates the default rates within each bracket.

# 7. Loan Purpose and Interest Rate Analysis

In [21]:
%%sql
Select 
    Loan_Purpose,
    AVG(Interest_Rate) as avg_interest_rate,
    COUNT(*) as total_loans
from Credit_Risk
GROUP BY Loan_Purpose
ORDER BY avg_interest_rate DESC;

 * sqlite:///project6_db
Done.

[('Car', 13.626499448732062, 1814),
 ('Business', 13.621092750533023, 1876),
 ('Other', 13.539840000000005, 1000),
 ('Personal', 13.425738569753806, 1706),
 ('Home', 12.978097098214297, 1792),
 ('Education', 12.748984547461342, 1812)]

Understanding the average interest rates for different loan purposes can help in pricing strategies and identifying which loan purposes carry higher or lower interest rates.

# 8. Age and Loan Default Analysis

In [22]:
%%sql
WITH Age_Brackets as (
    Select 
        CASE 
            WHEN Age < 30 THEN 'Under 30'
            WHEN Age BETWEEN 30 AND 50 THEN '30-50'
            ELSE 'Above 50'
        END as age_bracket,
        Defaulted
    from Credit_Risk
)
Select 
    age_bracket,
    COUNT(*) as total_loans,
    SUM(Defaulted) as defaulted_loans,
    ROUND(AVG(Defaulted) * 100, 2) as default_rate
from Age_Brackets
GROUP BY age_bracket;

 * sqlite:///project6_db
Done.

[('30-50', 4636, 2562, 55.26),
 ('Above 50', 3242, 1794, 55.34),
 ('Under 30', 2122, 1154, 54.38)]

This analysis provides insights into how age impacts loan default rates. It helps to identify which age groups are more likely to default on loans.

# 9. Home Ownership and Loan Amount Analysis

In [23]:
%%sql
Select 
    Home_Ownership,
    AVG(Loan_Amount) as avg_loan_amount,
    COUNT(*) as total_loans
from Credit_Risk
GROUP BY Home_Ownership
ORDER BY avg_loan_amount DESC;

 * sqlite:///project6_db
Done.

[('Other', 27994.18991000007, 1000),
 ('Mortgage', 27513.27526507626, 3018),
 ('Rent', 26999.968854024584, 2932),
 ('Own', 26855.3125311476, 3050)]

This analysis helps in understanding how home ownership status impacts the loan amount. It can be useful for assessing the borrowing capacity based on home ownership.

# 10. Average Interest Rate by Credit Score Range

In [24]:
%%sql
WITH Credit_Score_Ranges AS (
    Select 
        CASE 
            WHEN Credit_Score < 500 THEN 'Poor'
            WHEN Credit_Score BETWEEN 500 and 649 THEN 'Fair'
            WHEN Credit_Score BETWEEN 650 and 749 THEN 'Good'
            ELSE 'Excellent'
        END as credit_score_range,
        Interest_Rate
    from Credit_Risk
)
Select 
    credit_score_range,
    AVG(Interest_Rate) as avg_interest_rate
from Credit_Score_Ranges
GROUP BY credit_score_range
ORDER BY avg_interest_rate DESC;

 * sqlite:///project6_db
Done.

[('Excellent', 13.384233966745832),
 ('Fair', 13.336277955271507),
 ('Poor', 13.290522572665473),
 ('Good', 13.250217222653218)]

This analysis helps in understanding how interest rates vary based on credit score ranges. It can provide insights into the relationship between creditworthiness and the cost of borrowing.

# 11. Impact of Loan Term on Interest Rate

In [25]:
%%sql
Select 
    Loan_Term,
    AVG(Interest_Rate) as avg_interest_rate,
    MIN(Interest_Rate) as min_interest_rate,
    MAX(Interest_Rate) as max_interest_rate,
    COUNT(*) as total_loans
from Credit_Risk
GROUP BY Loan_Term
ORDER BY Loan_Term;

 * sqlite:///project6_db
Done.

[(12, 13.501916329284741, 2.11, 25.0, 1482),
 (24, 13.024632545931798, 2.01, 24.96, 1524),
 (36, 13.123431528662376, 2.04, 24.97, 2512),
 (48, 13.435346260387814, 2.01, 24.92, 1444),
 (60, 13.357681638044923, 2.05, 24.98, 1514),
 (72, 13.532867454068239, 2.03, 24.93, 1524)]

Understanding the relationship between loan term length and interest rates can help in assessing the cost of borrowing over different durations. It can also aid in designing loan products with appropriate interest rates for various terms.

# 12. Loan Amount Distribution by Credit Score Range

In [26]:
%%sql
Select 
    CASE 
        WHEN Credit_Score BETWEEN 300 and 499 THEN '300-499'
        WHEN Credit_Score BETWEEN 500 and 599 THEN '500-599'
        WHEN Credit_Score BETWEEN 600 and 699 THEN '600-699'
        WHEN Credit_Score BETWEEN 700 and 799 THEN '700-799'
        ELSE '800+'
    END as Credit_Score_Range,
    AVG(Loan_Amount) as Avg_Loan_Amount,
    COUNT(*) as Number_of_Loans
from Credit_Risk
GROUP BY Credit_Score_Range;

 * sqlite:///project6_db
Done.

[('300-499', 26396.83286332721, 3234),
 ('500-599', 27832.325916870464, 1636),
 ('600-699', 28098.10722289166, 1660),
 ('700-799', 27533.732217651486, 2674),
 ('800+', 26297.444648241253, 796)]

This query categorizes loans based on Credit_Score ranges, calculates the average Loan_Amount for each range, and counts the number of loans within each credit score range. The result helps us understand how loan amounts vary across different credit score ranges.

# 13. Default Rate by Loan Term

In [27]:
%%sql
Select
    Loan_Term, 
    COUNT(*) as Total_Loans, 
    SUM(Defaulted) as Defaulted_Loans,
    (SUM(Defaulted) * 100.0 / COUNT(*)) as Default_Rate
from
    Credit_Risk
GROUP BY 
    Loan_Term
ORDER BY 
    Default_Rate DESC;

 * sqlite:///project6_db
Done.

[(72, 1524, 872, 57.21784776902887),
 (60, 1514, 848, 56.010568031704096),
 (24, 1524, 850, 55.7742782152231),
 (12, 1482, 806, 54.3859649122807),
 (36, 2512, 1360, 54.140127388535035),
 (48, 1444, 774, 53.601108033241)]

The query helps assess the risk associated with different loan terms. By knowing the default rate for each loan term, lenders can identify which loan durations have higher risks of default.

# 14. Annual Income and Default Rate

In [28]:
%%sql
Select
    CASE 
        WHEN Annual_Income < 50000 THEN 'Low Income'
        WHEN Annual_Income BETWEEN 50000 and 100000 THEN 'Middle Income'
        ELSE 'High Income'
    END as Income_Bracket,
    COUNT(*) as Total_Loans,
    SUM(Defaulted) as Defaulted_Loans,
    (SUM(Defaulted) * 100.0 / COUNT(*)) as Default_Rate
from
    Credit_Risk
GROUP BY 
    Income_Bracket
ORDER BY 
    Default_Rate DESC;

 * sqlite:///project6_db
Done.

[('High Income', 3410, 1928, 56.53958944281525),
 ('Middle Income', 4496, 2450, 54.49288256227758),
 ('Low Income', 2094, 1132, 54.05921680993314)]

Categorizes borrowers into income brackets and analyzes the default rate within each bracket, providing insight into how income levels impact loan default risk.

# 15. Total Loans by Employment Status

In [19]:
%%sql
Select Employment_Status, Loan_Amount, Count(*) as Total_Loans 
from Credit_Risk 
   GROUP BY Employment_Status;

 * sqlite:///project6_db
Done.

[('Employed', 48679.27, 2970),
 ('Others', 28140.9, 1000),
 ('Self-employed', 17929.96, 3072),
 ('Unemployed', 42409.0, 2958)]

This query explains about Total loans by Employment Status, which means loans are divided by loans(Total loans from those People) and Loan Amount